@charset "UTF-8";
@import "~base/styles/imports";

.multi-sidebar {
  &.sidebar-list {
    > li {
      > a {
        text-indent: 0;
        border-bottom: 1px solid $gray-color;
        text-align: center;
      }
    }
  }
}