.history {
  .rc_con_ti .history_code {
    background-color: #FFF;
    margin: 5px 0;
    table {
      td {
        padding: 8px 0;
      }
      margin: 0;
      padding: 0;
      background-color: #FFF;
    }
  }
  .ball01 {
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background: url(ball.png) no-repeat -34px -57px;
    width: 26px;
    height: 25px;
    line-height: 25px;
  }
  .ball02 {
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    background: url(ball.png) no-repeat -34px -57px;
    width: 26px;
    height: 25px;
    line-height: 25px;
    background-position: -59px -57px;
  }
  .ball13, .ball14 {
    color: #888;
  }
  .wdh {
    width: 16px;
    height: 25px;
  }
  tbody {
    tr {
      word-break: normal;
    }
  }
  tr {
    text-align: center;
  }
}

#showissue {
  width: 53px;
  height: 21px;
  border: 1px solid #FFFFFF;
}

.history .none {
  background: none !important;
}

#tm {
  height: 50px;
  line-height: 50px;
}

.history {
  a {
    color: #08c;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .div_s1 {
    text-align: left;
    width: 1100px;
    background-color: #FFF;
  }
  .th td {
    background-color: #CCC;
    height: 22px;
    line-height: 22px;
  }
}

#chartsTable {
  max-width: inherit;
  font-family: 宋体, Arial;
  background: #A5D6EF;
  border-collapse: inherit;
  border-spacing: 1px;
  border: 1px solid #92ADBE;
  padding: 0;
  td {
    background-color: #FFF;
    border: 0;
    width: 26px;
  }
  .th td {
    background-color: #d55c9f;
    font-weight: bold;
    color: #FFF;
  }
  td.tdwth {
    width: 28px;
    background-color: #F2FAFD;
  }
  .wth {
    width: 28px;
    height: 25px;
    border: 0px;
    color: #FFF;
    font-weight: bold;
    background: url(ball.png) no-repeat -9px -57px;
    line-height: 25px;
  }
  .issue {
    width: 70px;
    height: 25px;
    padding: 0 4px;
    color: #000;
  }
  .td0 {
    background-color: #FFF;
  }
  .td1 {
    background-color: #D3EBF7;
  }
  .tb {
    height: 22px;
    line-height: 22px;
    td {
      color: #333;
    }
  }
}

.history .copyright {
  background: #D3EBF7;
  line-height: 40px;
  text-align: center;
}

::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}
.super3k-ok{
  width: 20px;
  height: 20px;
  background: url(1.jpg) no-repeat;
}
.super3k-no{
  width: 20px;
  height: 20px;
  background: url(2.jpg) no-repeat;
}

.trend-plan-btn-group{
  .btn.btn-silent{
    border: 1px solid #ccc;
    padding: 5px 10px;
  }
  .btn.btn-silent.active, .btn.btn-silent:active{
    background-color: #c05182 !important;
    color: #fff;
  }
}

.trend-checkbox{
  margin: -3px 3px 0 0 !important;
  background-color: #fff !important;
}

.trend-toggle-btn-group{
  font-size: 0;

  .trend-po{
    border: 1px solid #ccc;
    font-size: 12px;
    color: #666;
    height: 24px;
    width: 118px;
    line-height: 12px;
    padding: 4px;
    background: linear-gradient(to bottom, #fefefe,#e4e4e4);
  }
  .trend-po1{
    border-right: 0;
    border-radius: 12px 0 0 12px;
  }
  .trend-po2{
    border-radius:  0 12px 12px  0;
  }
  .btn.active, .btn:active{
    background: #c05182 !important;
    color: #fff;
  }
}
.col5,.col6,.col7,.col8,.col9{
  display: none;
}

.trend-icon{
  margin-right: 10px;
  margin-bottom: -8px;
}

.trend-checkbox-label{
  vertical-align: middle;
}