<div class="panel">
  <form class="js-bc-form form-horizontal js-bc-lotteryInterface-form" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-1 control-label">彩种：</label>

      <div class="col-sm-11">
        <div class="js-bc-ticketName-container">
          <input type="text" name="ticketId" class="hidden" id="jsBCTicketId"/>
        </div>
      </div>
    </div>
    <div class="form-group form-inline m-left-sm hidden js-bc-adapter" >
      <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1 border-all padding-sm ">
        <div class="col-sm-12 m-bottom-sm js-bc-addInterface-container">
          <div>
            <button class="btn btn-sm btn-default  js-bc-addInterface-btn" >增加接口</button>
          </div>
        </div>
        <!--
        <div class="col-sm-12 m-bottom-sm js-bc-InterfaceDetail-container">
          <div>
            <label class="control-label">接口一：</label>
            <input type="text" class="form-control width-md js-bc-adapterUrl ">
            <input type="text" class="form-control width-sm js-bc-adapterName ">
            <input type="text" class="form-control js-bc-runStatus border-dashed " disabled>
            <button class="btn btn-default js-bc-preview-btn" >预览</button>
            <button class="btn btn-default js-bc-status-btn" >禁用</button>
            <button class="btn btn-default js-bc-delete-btn" >删除</button>
          </div>
        </div>
        -->
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-7">
        <button type="submit" class="js-bc-btn-submit btn btn-primary" data-loading-text="发送中">
          确定
        </button>
        <button type="button" class="js-bc-btn-cancel  btn btn-default">取消</button>
      </div>
    </div>
  </form>
</div>