<% _(sidebarList).each(function(menus) { %>
<div class="sidebar-container">
  <div class="sidebar-title <%=menus.titleClass %>">
    <div class="sidebar-title-inner m-center">
      <span class="sidebar-icon sfa sfa-sidebar-<%=menus.icon %>"></span>
      <%=menus.name %>
    </div>
  </div>

  <ul class="sidebar-list">
    <% _(menus.sub).each(function(menu) { %>
    <% if (!menu.needAuth || menu.auth) { %>
    <li role="presentation" class="<% if (menu.isActive) { %>active<% } %>">
      <a class="router" href="#<%=menu.router %>">
        <%=menu.name %>
        <!--<% if (menu.isActive) { %><span class="sfa sfa-sidebar-chevron-right"></span><% } %>-->
      </a>
    </li>
    <% } %>
    <% }); %>
  </ul>
</div>
<% }); %>
