<% _(sidebarList).each(function(menus) { %>
<div class="sidebar-container">

  <ul class="nav nav-tabs nav-tabs-border nav-hot no-b-margin">
    <% _(menus.sub).each(function(menu) { %>
    <% if (!menu.needAuth || menu.auth) { %>
    <li role="presentation" class="<% if (menu.isActive) { %>active<% } %>">
      <a class="router" href="#<%=menu.router %>">
        <%=menu.name %>
        <!--<% if (menu.isActive) { %><span class="sfa sfa-sidebar-chevron-right"></span><% } %>-->
      </a>
    </li>
    <% } %>
    <% }); %>
  </ul>
</div>
<% }); %>

