@charset "UTF-8";

@import
"~base/styles/imports";

body{
  background: url('~base/images/fh/bg.jpg') no-repeat;
}

li{
  list-style: none;
  margin:0px;
  padding: 0px;
}

.changeUrl{
  width: 1200px;
  margin: 0px auto;
  font-family: '微软雅黑';

  .titleMenu{
    font-size: 13px;
    color: #333333;
    padding-top: 20px;
    margin-bottom: 20px;

    .logo{
      display: block;
      width: 143px;
      height: 62px;
      background: url('~base/images/fh/logo.png') no-repeat;
      float: left;
    }

    span{
      float: right;
      margin-top: 40px;
      margin-right: 20px;
      display: inline-block;

      i{
        color: #cccccc;
        margin-right: 5px;
        font-size: 15px;
      }

      b{
        font-weight: normal;
        color: #e54a1b;
        text-decoration: underline;
        cursor: pointer;

        &:hover{
          color: #cc9933;
        }
      }
    }

    strong{
      width: 103px;
      height: 26px;
      border: 1px solid #cc3333;
      border-radius: 26px;
      display: inline-block;
      line-height: 26px;
      background-color: #cc3333;
      font-weight: normal;
      color: #fff;
      cursor: pointer;
      float: right;
      margin-top: 35px;

      i{
        color: #fff;
        display: inline-block;
        margin-left: 12px;
        margin-right: 8px;
      }

      &:hover{
        background-color: #e74545;
        border: 1px solid #e74545;
      }
    }

    &:after{
      display: block;
      content: '';
      clear: both;
    }
  }

  .banner{
    background: url('./banner.jpg') no-repeat;
    height: 200px;
  }

  .content{
    background-color: #fff;
    border: 1px #ccc solid;
    padding: 10px;
    margin-bottom: 60px;

    h3{
      font-size: 20px;
      margin: 0px;
      margin-bottom: 15px;
      color: #333333;
      font-weight: normal;
    }

    .tips{
      font-size: 13px;
      color: #666666;
      border-bottom: 1px solid #ccc;
      padding: 10px 0px;
      margin-bottom: 10px;

      i{
        color: #ccc;
        margin-right: 8px;
        font-size: 15px;
      }
    }

    .left{
      width: 870px;
      float: left;

      ul{
        li{
          margin-bottom: 25px;

          .k1{
            width: 70px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: #ffffff;
            background-color: #79b458;
            display: inline-block;
            border-radius: 3px;
            font-size: 16px;
            font-family: 'Arial';
            margin-right: 5px;
          }

          .k2{
            font-family: 'serif';
            width: 88px;
            height: 30px;
            font-size: 16px;
            font-weight: bold;
          }

          .k3{
            width: 618px;
            height: 30px;
            line-height: 30px;
            color: #333333;
            display: inline-block;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding-left: 10px;
            margin-left: 5px;
          }

          .color2{
            background-color: #df8142;
          }

          .color3{
            background-color: #d64141;
          }

          a{
            display: inline-block;
            width: 88px;
            height: 30px;
            line-height: 30px;
            margin-left: 15px;
            text-align: center;
            border: 1px solid #ccc;
            color: #e6e6e6;
            font-size: 14px;
            background-color: #f5f5f5;
            background-image:-webkit-linear-gradient(270deg, #f5f5f5, #e6e6e6);
            background-image:linear-gradient(180deg,#f5f5f5,#e6e6e6);
            color: #666666;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

            &:hover{
              background-color: #d95993;
              background-image:-webkit-linear-gradient(270deg, #d95993, #c24d81);
              background-image:linear-gradient(180deg,#d95993,#c24d81);
              color: #fff;
              border: 1px solid #ba3470;
            }
          }
        }
      }

      .bigBtn{
        width: 628px;
        height: 40px;
        line-height: 40px;
        display: block;
        margin-left: 95px;
        background-color: #d95993;
        background-image:-webkit-linear-gradient(270deg, #d95993, #c24d81);
        background-image:linear-gradient(180deg,#d95993,#c24d81);
        border: 1px solid #ba3470;
        border-radius: 3px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
        cursor: pointer;

        i{
          display: inline-block;
          margin-right: 3px;
        }

        &:active{
          background-image:-webkit-linear-gradient(270deg, #c14d81, #d0558c);
          background-image:linear-gradient(180deg,#c14d81,#d0558c);
        }
      }
    }
    
    .right{
      width: 307px;
      float: right;

      div{
        text-align: center;
        color: #333333;

        img{
          margin-bottom: 5px;
        }
      }

      ul{
        margin-bottom: 20px;
        li{
          width: 90px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          color: #333333;
          border: 1px solid #cccccc;
          font-size: 13px;
          float: left;
          margin-right: 15px;
          border-radius: 3px;
          cursor: pointer;
          position: relative;

          &:last-child{
            margin-right: 0px;
          }

          &.sd{
            background-color: #c14d81 !important;
            border: 1px solid #c14d81;
            color: #fff !important;
          }

          &:hover{
            color: #c14d81;
            border: 1px solid #c14d81;
          }
        }

        li.sd:after{
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-width: 5px;
          border-style: solid dashed dashed dashed;
          border-color: #c14d81 transparent transparent transparent;
          position: absolute;
          left: 50px;
          top: 32px;
        }

        li.sd2:after{
          left: 42px;
        }

        li.sd3:after{
          left: 36px;
        }

        &:after{
          clear: both;
          content: '';
          display: block;
        }
      }
    }

    &:after{
      clear: both;
      content: '';
      display: block;
    }
  }
}

.foot1{
  border-top: 1px solid #ccc;
  height: 70px;
}

.foot2{
  background-color: #1b2121;
  color: #666666;
  height: 40px;
  line-height: 35px;
  text-align: center;
}