<div class="search-condition-table">
  <div class="row1">
    <div class="ac-user-name-div">
      <label class="control-label text-coffee">账号：</label>
      <input type="text" name="userName" class="input3" data-parsley-username>
    </div>
    <div class="ac-range-label">
      <label class="control-label">查询范围:</label>
      <select name="subAcctRange" class="input-md" disabled>
        <option value="0">直属下级</option>
        <option value="1">全部下级</option>
      </select>
    </div>
    <div class="ac-balance-label">
      <label class="control-label text-coffee">个人余额：</label>
      <span>
      <input type="text" name="balanceStart" class="input3" data-parsley-type="integer"
             data-parsley-range="[0,1000000000]"> -
      <input type="text" name="balanceEnd" class="input3" data-parsley-type="integer"
             data-parsley-range="[0,1000000000]">
      </span>
    </div>
  </div>

  <div class="control-group row2">
    <div class="ac-unActive-day-label">
      <label class="control-label ac-llm-unActive-day-label text-coffee">不活跃天数≥</label>
      <input type="text" name="unActiveDays" class="input3" data-parsley-type="integer"
             data-parsley-range="[0,10000]">
    </div>
    <div class="ac-register-ime-label">
      <label class="control-label text-coffee">注册日期：</label>
      <span class="js-pf-timeset input-date"></span>
    </div>


    <div class="inline-block ">
      <button type="submit" class="btn btn-link text-pleasant">搜索</button>
    </div>
    <div class="inline-block">
    <button type="reset" class="btn btn-link text-pleasant">清空条件</button>
    </div>
  </div>
</div>
<h3 class="tips">注意: 投注记录只保留最近30天。</h3>