<div class="ac-openAccount-rebate-notice">
  <div class="js-ac-quota-container tips hidden">
    馨提示：您目前拥有<span class="js-ac-open-limit"></span>
  </div>
  <div class="julien-left">
    <dl class="manualRebate">
      <dt>选择等级：</dt>
      <dd><input class="js-ac-manual-rebate" placeholder="请选择或手动输入返点" data-parsley-range="[0.0,13.0]" type="text"></dd>
    </dl>
    <dl>
      <dt>用户名：</dt>
      <dd><input type="text" class="js-ac-userName" name="userName" /></dd>
    </dl>
    <dl>
      <dt>密码：</dt>
      <dd><input type="password" id='jsACPassword' class="js-ac-password"></dd>
    </dl>
    <dl>
      <dt>确认密码：</dt>
      <dd><input type="password" class="js-ac-repeatPassword"></dd>
    </dl>
    <hr>
    <div>
      <button type="button" class="js-ac-submitOpenAccountInfo" data-loading-text="保存中">立即开户</button>
    </div>
  </div>
  <div class="julien-right">
    <div class="js-ac-rebate-set-container ac-op-manual-rebate-set-container"></div>
  </div>
</div>