<div class="ac-openAccount-rebate-notice">
	<div class="tips">
		温馨提示：您可以将已生成的链接发送给朋友群、微博、QQ好友圈、论坛，这样方便您更快的开户哦
	</div>
<div class="js-ac-quota-container alert hidden as-fund-pwd-head">
  <div class="text-bold-sunshine">温馨提示：</div>
  您目前拥有<span class="js-ac-open-limit"></span>，有配额限制请使用手动开户。
</div>
<div class="ac-openAccount-link-main-div">
  <div class="m-bottom-sm">
    <button class="js-ac-add-link ac-add-link" data-loading-text="创建中">
      + 新增链接
    </button>
  </div>
  <div class="js-ac-auto-container ac-auto-container "></div>
</div>
</div>