<div class="ac-openAccount-rebate-notice">
<div class="js-ac-quota-container alert hidden as-fund-pwd-head">
  <div class="text-bold-sunshine">温馨提示：</div>
  您目前拥有<span class="js-ac-open-limit"></span>，有配额限制请使用手动开户。
</div>
<div class="ac-openAccount-link-main-div">
  <div class="m-bottom-sm text-right">
    <button class="js-ac-add-link ac-add-link btn btn-sun" data-loading-text="创建中">
      <span class="sfa sfa-btn-add vertical-top m-right-xs"></span>新增链接
    </button>
  </div>
  <div class="js-ac-auto-container ac-auto-container "></div>
</div>
</div>