<div class="search-condition-table m-LR-smd">
  <div class="control-group row1">
    <label class="control-label">用户名：</label>
    <input type="text" name="userName" class="input3 margin-add" data-parsley-maxlength="30">

    <label class="control-label">会员等级：</label>
    <input type="checkbox" name="allSelect" class="js-allSelect" value="">全选
    <label class="m-right-sm">
      <input type="checkbox" name="memberLevel" value="0">V0
    </label>
    <label class="m-right-sm">
    <input type="checkbox" name="memberLevel" value="1">V1
    </label>
    <label class="m-right-sm">
    <input type="checkbox" name="memberLevel" value="2">V2
    </label>
    <label class="m-right-sm">
    <input type="checkbox" name="memberLevel" value="3">V3
    </label>
    <label class="m-right-sm">
    <input type="checkbox" name="memberLevel" value="4">V4
    </label>
    <label class="m-right-sm">
    <input type="checkbox" name="memberLevel" value="5">V5
    </label>
    <label class="m-right-sm">
    <input type="checkbox" name="memberLevel" value="6">V6
    </label>

    <div class="pull-right">
      <button type="submit" class="btn btn-link text-hot">搜索</button>
      <button type="reset" class="btn btn-link text-hot">清空条件</button>
    </div>
  </div>
 </br>
  <div class="" style=" top: -5px; position: relative">
    <div class="uc-vip-head-data"></div>
    <div class="uc-vip-head-data"></div>
    <div class="uc-vip-head-grade1">
      <span>V0</span>
      <span>V1</span>
      <span>V2</span>
      <span>V3</span>
      <span>V4</span>
      <span>V5</span>
      <span>V6</span>
    </div>
  </div>

  <div class="" style="    top: -5px; position: relative">
    <div class="uc-vip-head-data">用户名</div>
    <div class="uc-vip-head-data">当前等级</div>
    <div class="js-points uc-vip-head-grade">
     <!-- <span>0</span>
      <span>100</span>
      <span>1500</span>
      <span>3000</span>
      <span>5000</span>
      <span>15000</span>
      <span>30000</span>-->
    </div>
  </div>

</div>
