<div class="julien-ac-salary-my">
  <span class="js-add-salary-user add-salary-user">签约日工资用户</span>
</div>
<div class="search-condition-table julien-search-condition-table">
  <div class="row1">
    <dl class="width255">
      <dt>日期</dt>
      <dd>
        <span class="js-pf-timeset"></span>
      </dd>
    </dl>
    <ul class="julien-selectBtnList">
      <li class="js-selectDateGetList" data-id='1'>今天</li>
      <li class="js-selectDateGetList" data-id='2'>三天</li>
      <li class="js-selectDateGetList" data-id='3'>七天</li>
      <li class="js-selectDateGetList" data-id='4'>本月</li>
    </ul>
    <dl class="width128">
      <dt>状态</dt>
      <dd>
        <select>
          <option value="">全部</option>
          <option value="">未发放</option>
          <option value="">已发放</option>
        </select>
      </dd>
    </dl>
    <dl class="width155">
      <dt>用户名</dt>
      <dd><input type="text" name="userName" data-parsley-username=""></dd>
    </dl>
    <dl class="width150">
      <dt>返点</dt>
      <dd><input type="text" name=""></dd>
    </dl>
    <div>
      <button type="submit" class="js-select-submit">搜索</button>
    </div>
  </div>
</div>