<div class="julienTeamTitle">
  <div>今日充值<span class="js-ac-ta-re"></span></div>
  <div>今日提现<span class="js-ac-ta-wd"></span></div>
  <div>今日销量<span class="js-ac-ta-bt"></span></div>
  <div>今日盈亏<span class="js-ac-ta-pl"></span></div>
  <div>当前在线<span class="js-ac-ta-ol"></span></div>
  <div class="noborder">团队余额<span class="js-ac-ta-ba"></span></div>
</div>

<div class="js-ac-search-bar">
  <ul id="" class="js-view-tabs view-tabs nav nav-tabs nav-tabs-border ac-ta-nav-manual-tabs">
    <li class="js-ac-statistic-type active" data-type="newLowLevel">
      <a href="javascript:void(0)" >
        <span class="">新增下级<span class="js-ac-new-user-count bg-cool ac-td-tab-lab"></span></span>

      </a>
    </li>
    <li class="js-ac-statistic-type" data-type="notActiveLowLevel">
      <a href="javascript:void(0)">
        <!--<i class="js-ac-unActive-tip sfa sfa-help-tip "></i>-->
        <span>不活跃下级<span class="js-ac-unActive-user-rate bg-cool ac-td-tab-lab hidden"></span></span>

      </a>
    </li>
    <li class="js-ac-statistic-type" data-type="lowLevelPlay">
      <a href="javascript:void(0)">
        <span>下级玩彩情况</span>
      </a>
    </li>
    <li class="js-ac-statistic-type" data-type="teamRecharge">
      <a href="javascript:void(0)">
        <span>团队充值</span>
      </a>
    </li>
    <li class="js-ac-statistic-type" data-type="teamSales">
      <a href="javascript:void(0)">
        <span>团队销量</span>
      </a>
    </li>
    <!--<li class="js-ac-statistic-type" data-type="teamOnline">-->
      <!--<a href="javascript:void(0)">-->
        <!--<span>团队在线</span>-->
      <!--</a>-->
    <!--</li>-->
  </ul>
  <div class="julien-childBlock">
    <div class="julien-select">
      <form class="js-ac-search-form form-inline  row" action="javascript:void(0)">
       <div class="pull-left ac-tm-data-label">查询日期</div> <span class="js-ac-btnGroup ac-btnGroup inline-block m-right-sm"></span>
        <span class="js-ac-timeset inline-block hidden"></span>
        </span>
      </form>
    </div>
    <div class="js-ac-chart ac-chart"></div>
  </div>
  

  <div class="js-ac-td-grid m-bottom-sm ac-grid-title-div">
    <div class="dot-divider dot-divider-sm "></div>
    <!--<div class="js-ac-grid-title-logo ac-td-oa-title pull-left"></div><strong class="js-ac-grid-title font-md"></strong>-->
    <div class="js-ac-chart-grid"></div>
  </div>

</div>

