<div class="search-condition-table m-LR-smd">
  <div class="control-group row1">
    <label class="control-label">调整日期：</label>
    <span class="js-pf-timeset input-date"></span>

    <label class="control-label">用户名：</label>
    <input type="text" name="userName" class="input3 margin-add" data-parsley-maxlength="30">
</br></br>
    <label class="control-label">调整类型：</label>
    <select name="upgradeType" class="input3 margin-add" data-parsley-maxlength="30">
      <option value="-1" selected>不限</option>
      <option value="0">升级</option>
      <option value="2">降级</option>
      <option value="1">保级</option>
    </select>

    <div class="pull-right">
      <button type="submit" class="btn btn-link text-hot">搜索</button>
      <button type="reset" class="btn btn-link text-hot">清空条件</button>
    </div>
  </div>
</div>
