@charset "UTF-8";

@import
"~base/styles/imports";

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  &.fade {
    opacity: 0;
    &.in {
      opacity: $modal-fade-opacity;
    }
  }
  opacity: $modal-fade-opacity;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  //bottom: 0;
  //right: 0;
  z-index: 1050;
  outline: 0;
  color: $font-deep-color;

  width: 520px;
  margin-left: -260px;

  &.fade {
    top: -25%;
    transition: opacity 0.3s linear, top 0.3s ease-out;
    &.in {
      top: 20%;
    }
  }


  &.modal-notification {
    .modal-body {
      padding: 24px 12px;
    }

    &.in {
      top: 30%;
    }
  }

  &.modal-notification-tip {
    .modal-content {
      font-weight:bold;
      background: rgba(0, 0, 0, 0.6);
      color: $white-color;
    }
    .modal-dialog {
      border: 0;
    }
  }

  .btn.confirm-agree {
    color: $font-color-coffee;
    background: $color-sunshine;
    border: 0;
    border-radius: 2px;
  }
  .btn.btn-link {
    color: $font-color-coffee;
  }
}

.modal-dialog {
  width: 100%;
  overflow: hidden;

  border: 2px solid #474747;
  border-radius: $globalBoxRadius;
}

.modal-content {
  color: $dark-color;
  background-color: $white-color;
  outline: 0;
}

.modal-header {
  color: $new-black-color;
  background-color: $white-color;

  margin: 7px 7px 0;
  border-radius: 5px 5px 0 0;

  .close {
    width: 20px;
    height: 20px;
    margin-right: -1px;
  }
  h4 {
    margin-bottom: 3px;
    padding-bottom: 7px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
}

.modal-body {
  position: relative;
  padding: 15px;
  //overflow-y: auto;

}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: $white-color;
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
  .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.close {
  float: right;
  margin-right:2px;
  font-size: 23px;
  font-weight: normal;
  line-height: 17px;
  //color: $main-light-color;
  outline: 0;
  width: 17px;
  height: 17px;
  opacity: 0.4;
  //background: url('close_btn.png') no-repeat;
  &:hover, &:focus {
    //color: #000000;
    text-decoration: none;
    cursor: pointer;
    outline: 0;

    opacity: 1;
  }
}

button.close {
  padding: 0;
  cursor: pointer;
  //background-color: $font-color;
  border: 0;
  -webkit-appearance: none;
}


.header-bulletin-dialog{
  width: 1016px;
  height: 608px;
  margin-left: -508px;
  .modal-dialog{
    height:604px;
    background-color: #fff;
  }
}

.fc-re-modal{
  width: 876px;
  height: 496px;
  margin-left: -438px;
  //border: 1px solid #484848;
  //border-radius: 5px;
  .modal-body{
    padding: 0 10px 17px;
    height:565px;
  }
}

@media (min-height: 550px) and (max-height: 700px) {
  .modal {
    &.fade {
      &.in {
        top: 10%;
      }
    }
  }
}

@media (max-height: 550px) {
  .modal {
    &.fade {
      &.in {
        top: 5%;
      }
    }

    &.modal-notification {
      .modal-dialog {
      }
      .modal-body {
        padding: 24px 12px;
      }

      &.in {
        top: 25%;
      }
    }
  }
}
