@charset "UTF-8";

@import
"~base/styles/imports";

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  &.fade {
    opacity: 0;
    &.in {
      opacity: $modal-fade-opacity;
    }
  }
  opacity: $modal-fade-opacity;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  //bottom: 0;
  //right: 0;
  z-index: 1050;
  outline: 0;
  color: $font-deep-color;

  width: 520px;
  margin-left: -260px;

  &.fade {
    top: -25%;
    transition: opacity 0.3s linear, top 0.3s ease-out;
    &.in {
      top: 200px;
    }

    &.ten {
      &.in {
        top: 10%;
      }
    }
  }


  &.modal-notification {

    .modal-dialog {
      //opacity: 0.85;
    }

    &.in {
      top: 20%;
    }
  }

  &.modal-notification-3sec {
    &.in {
      top: 20%;
    }
    .modal-dialog, .modal-body {
      margin: 30px auto;
      opacity: 0.9;
      background-color: $background-dark;
      color: $background-color;
      border-radius: 5px;
    }
  }

  .btn.confirm-agree {
    color: $font-color-coffee;
    background: $color-sunshine;
    border: 0px;
    border-radius: 2px;
  }
  .btn.btn-link {
    color: $font-color-coffee;
  }
}

.modal-dialog {
  width: 100%;
  //border: 1px solid $new-main-dark-color;
  overflow: hidden;
 
  font-family: '微软雅黑';

  label{
    font-size: 14px;
  }

  input{
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
  }
}

@for $i from 1 through 12 {
  .iconsImage#{$i} {
    color: #fff;
    background: url(~base/images/icons/#{$i}.jpg) no-repeat;
    background-size:100% auto;
  }
}

.julien-dialog{
  font-family: '微软雅黑';
  font-size: 14px;

  .julien-input{
    position: relative;
    margin-top:20px;
    padding-right: 40px;
  }

  .julien-images{
    span{
      width: 96px;
      height: 96px;
      display: inline-block;
      margin: 0px 15px 30px 15px;
      border: 1px solid #c9c9c9;
      cursor: pointer;
      border-radius: 2px;

      &.sd{
        width: 106px;
        height: 106px;
        margin: -6px 9px 24px 9px;
        border: 3px solid #3366cc;
      }
    }
  }

  .correct{
    i{
      position: absolute;
      top: 7px;
      left: 335px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(~base/images/julien/07.png) no-repeat;
    }
  }

  .messageBox{
    position: absolute;
    top: 2px;
    left: 355px;
    display: none;

    b{
      float: left;
      display: block;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: dashed solid dashed dashed;
      border-color: transparent #999999 transparent transparent;
      margin-top: 8px;
    }

    span{
      float: left;
      display: block;
      height: 26px;
      background-color: #999999;
      line-height: 26px;
      padding: 0px 8px;
      border-radius: 3px;
      color: #fff;
    }
  }

  .wrong{
    i{
      position: absolute;
      top: 7px;
      left: 335px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(~base/images/julien/07.png) no-repeat 0 -16px;
    }

    .messageBox{
      display: block;
    }
  }
}

.julien-btn{
  border: 0px;
  background-color: #cc0000;
  padding: 5px 25px;
  color: #fff;
  font-size: 16px;
  font-family: '微软雅黑';
}

.julien-btn2{
  border: 0px;
  background-color: #cc9966;
  padding: 5px 25px;
  color: #fff;
  font-size: 16px;
  font-family: '微软雅黑';

  margin-left: 20px;
}

.modal-content {
  outline: 0;
}

.modal-header {
  color: $new-black-color;
  background-color: $white-color;
  //background-image:-webkit-linear-gradient(90deg, #327fc3, #bb2929);
  //background-image:linear-gradient(90deg,#327fc3,#bb2929);

  padding: 7px;
  border-radius: 5px 5px 0px 0px;

  .close {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
  h4 {
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 0 3px;
    line-height: 18px;
  }
}

.modal-body {
  background-color: #fff;
  color: $dark-color;
  position: relative;
  padding: 15px;
  overflow-y: auto;

}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: $light-color;
  //border-top: 1px solid $main-light-color;
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
  .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

.close {
  float: right;
  margin-right:2px;
  font-size: 23px;
  font-weight: normal;
  line-height: 17px;
  //color: $main-light-color;
  outline: 0;
  width: 17px;
  height: 17px;
  opacity: 0.4;
  //background: url('close_btn.png') no-repeat;
  &:hover, &:focus {
    //color: #000000;
    text-decoration: none;
    cursor: pointer;
    outline: 0;

    opacity: 1;
  }
}

button.close {
  padding: 0;
  cursor: pointer;
  //background-color: $font-color;
  border: 0;
  -webkit-appearance: none;
}


.header-bulletin-dialog{
  width: 1016px;
  height: 565px;
  margin-left: -508px;
}