<div class="portlet-header">
  <div class="portlet-title">找回资金密码</div>
</div>
<div class="portlet-body">
  <div class="js-ac-findFundPasswordContainer form-horizontal as-step-container-short wizard-long">
    <!-- Step1 选择密码找回方式 -->
    <!--<h3>选择找回方式</h3>-->
    <div class="js-ac-findWayContainer js-ac-steps m-top-md">
      <div class="js-ac-selectWay ac-selectWay">
        <div class="step-inner step-inner-find">
          <div class="step-number">
            <!--<span class="sfa ac-banck-card m-top-sm"></span>-->
            <i class="fa fa-commenting ac-findFundPwd-way-icon" aria-hidden="true"></i>
          </div>
          <div class="step-inner-main">
            <span class="pull-left">通过“密保问题+银行卡信息”找回资金密码</span>
            <% if (hasBankCard && hasSecurity) { %>
            <button type="button" class="js-ac-findByCIBtn btn btn-blue btn-linear btn-round pull-right">立即找回</button>
            <% } else { %>
            <div class="js-ac-findByCI-notice text-center pull-right">
              <!--<a href="#uc/cm" class="btn btn-blue btn-linear btn-round">立即设置</a>-->
              <div class="help-block">未设置，不可用</div>
            </div>
            <% } %>
          </div>
        </div>
        <div class="step-inner step-inner-find m-top-sm">
          <div class="step-number">
            <!--<span class="sfa verify-email m-top-sm"></span>-->
            <i class="fa fa-envelope ac-findFundPwd-way-icon" aria-hidden="true"></i>
          </div>
          <div class="step-inner-main">
            <span class="pull-left">通过“密保问题+验证邮箱”找回资金密码</span>
            <% if (hasEmail && hasSecurity) { %>
            <button type="button" class="js-ac-findByEMBtn btn btn-blue btn-linear btn-round pull-right">立即找回</button>
            <% } else { %>
            <div class="js-ac-findByEM-notice text-center pull-right">
              <!--<a href="#pm/se" class="btn btn-blue btn-linear btn-round">立即设置</a>-->
              <div class="help-block">未设置，不可用</div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>