@charset "UTF-8";

@import "~base/styles/imports";

.progressbar_1{
  background-color:#eee;
  height:10px;
  width:1030px;
  border:1px solid #bbb;
  color:#222;
  line-height:13px;
}

.progressbar_1 .bar {
  //background-color:#6CAF00;
  background: url("../misc/points.png") no-repeat;
  height:5px;
  //width:0;
  text-align: left;
}

.uc-vip-head-data{
  //position: relative;
  display: inline-block;
  width: 58px;
  text-align: center;
}
.uc-vip-head-grade {
  display: inline-block;
  //background: url("../misc/points.png") no-repeat;
  height:30px;
  line-height:30px;
  width:1035px;
  margin-left:50px;
  >span{
    //position: relative;
    display: inline-block;
    width: 140px;
    padding-left:3px;

  }

}

.uc-vip-head-grade1 {

  display: inline-block;
  //background: url("../misc/points.png") no-repeat;
  height:17px;
  width:1035px;
  >span{
    position: relative;
    display: inline-block;
    width:140px;
    left:31px;

    border-left: 1px solid $white-color;
    img{
      position: absolute; left:0px;top:22px;
    }
  }
  //>span :last-child{
  //  border-right: 1px solid $white-color;
  //}
}