@charset "UTF-8";

.fileinput-button {
  position: relative;
  overflow: hidden;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.btn-sun-imp {
  color: #fff;
  background: #d8855a;
  width: 134px;
  height: 40px;
  font-size: 17px;

}

.btn-sun-imp1 {
  color: #fff;
  background: #cc0000;
  //border: 1px solid grey;
  width: 134px;
  height: 40px;
  font-size: 17px;

}
