@charset "UTF-8";

@import
"~base/styles/imports";

.ag-game-background {
  background: url(~base/images/fh/ag/ag.png) no-repeat;
  //width: 1200px;
  height: 780px;
}

.ag-game-enter {
  background: url(~base/images/fh/ag/enter-ag.png) no-repeat;
  width: 200px;
  height: 50px;
  float: left;
  position: absolute;
  margin-left: 520px;
  margin-top: -230px;
}

.ag-transfer-balance{
  //background-color: #9fda58;
  position: absolute;
  margin-left: 290px;
  margin-top: -350px;
  font-size: 22px;
  color: white;
  //width: 100px;
  height: 30px;
  .ag-balance-unit{
      font-size: 14px;
  }
}

.ag-betting-records {
  a{
    font-size: 22px;
    position: absolute;
    margin-left: 605px;
    margin-top: -370px;
    color: wheat;
  }

}

.ag-transfer-account {
  font-size: 22px;
  position: absolute;
  margin-left: 902px;
  margin-top: -370px;
  color: wheat;
  cursor: pointer;
}

.ag-transfer-content{
  background: url(./ag-transfer-bg.png) no-repeat 250px 0px;
  height: 390px;
  .ag-transger-header{
    display: -webkit-box;
    width: 100%;
    .ag-lottery-account{
      border: 1px solid #CCCCCC;
      border-radius: 10px;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 270px;
      margin: 10px;

    }
    .ag-game-account{
      border: 1px solid #CCCCCC;
      border-radius: 10px;
      text-align: center;
      line-height: 40px;
      height: 40px;
      width: 220px;
      margin: 10px;
    }
    .ag-transfer-alert{
      margin: 10px;
    }
  }
}

.ag-transfer-input{
  display: inline-flex;
  margin-left: 260px;
  height: 30px;
  width: 500px;
  margin-bottom: 10px;
  .ag-trans-lab{
    line-height: 30px;
    height: 30px;
    width: 45px;
  }
  .ag-trans-text{
    background-color: #f7f7f7;
    border: 1px solid #CCCCCC;
    text-align: center;
    line-height: 30px;
    width: 230px;
    height: 30px;
  }
  .ag-trans-amount{
    border: 1px solid #CCCCCC;
    line-height: 25px;
    width: 220px;
    height: 22px;
  }
}
.ag-transfer-tip{
  margin-bottom: 60px;
  text-align: center;
}
.ag-transfer-switch{
  background: url("ag-switch-bg.png") no-repeat;
  position: absolute;
  height: 54px;
  width: 101px;
  left: 538px;
  top: 92px;
  .ag-switch-button{
    background-color: #ff6600;
    border-radius: 0px;
    position: relative;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    height: 30px;
    color: #fff;
    border: 0px;
    width: 62px;
    left: 40px;
    top: 12px;
  }
}

.ag-maintain {
  margin: 0 10px 10px 20px;
  .maintain-icon {
    margin-right: 40px;
    width:237px;
    height: 234px;
  }
  .maintain-title {
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 10px;
  }
  .maintain-content {
    color: #b9b9b9;
    font-size: $font-md;
  }
}