<div class="panel padding-md">
    <form class="js-cj-goldCfg-form form-horizontal form-inline" action="javascript:void(0)">
        <input type="hidden" name="type" value ="2">
        <input type="hidden" name="open" value="1">
        <input type="hidden" name="lossOpen" value="1">

        <div class="row m-bottom-sm">
            <div class="">
                <div class="col-sm-10 col-sm-offset-1">
                    <button class="js-cj-lossadd btn btn-primary"><i class="fa fa-plus"></i> 增加亏损私返标准</button>
                    <label class="control-label "  style="margin-left:20px;">亏损要求：</label>
                    <input type="text" name="lossLimit" class="form-control js-cj-loss" >
                    <div class="js-cj-lossCfgDetail" style="margin-top: 10px;"></div>
                </div>
            </div>
        </div>

        <div class="row m-bottom-sm">
            <div class="">
                <div class="col-sm-10 col-sm-offset-1">
                    <button class="js-cj-saleadd btn btn-primary"><i class="fa fa-plus"></i> 增加销量私返标准</button>
                    <div class="js-cj-saleCfgDetail" style="margin-top: 10px;"></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="js-cj-btn-submit btn btn-primary" type="button"  style="width: 100px; margin-right: 20px;" data-loading-text="发送中">确定</button>
            <button style="width: 100px;" class="js-cj-btn-reset btn" data-dismiss="modal">取消</button>
        </div>
        <div>
            <input name="activityId" type="hidden" class="js-cj-activityId form-control">
        </div>

    </form>
</div>