<div class="panel padding-md">
    <form class="js-sc-yc-form form-horizontal" action="javascript:void(0);">
        <input type="hidden" class="js-sc-yc-activityId" value="5">
        <div class="col-sm-12 border-all paddingTB-sm ">
            <label class="col-sm-1 control-label">时间：</label>
            <div class="col-sm-5 input-group">
                <span class="js-sc-timeset"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 m-top-md">
                <button class="btn btn-sm btn-primary  js-sc-yc-addCommissionSet-btn ">增加佣金比例</button>
                <span class="tip m-left-lg">提示：新增的佣金比例和日投注额要比之前的数值大。</span>
            </div>
        </div>

        <div class="col-sm-12 border-all padding-sm js-fc-gs-container">
        </div>

        <div class="form-group form-inline">
            <div class="col-sm-offset-2 col-sm-10 js-sc-yc-notice"></div>
        </div>
        <div class="form-group">
            <div class=" col-sm-12 text-center">
                <button type="submit" class="js-sc-yc-submit btn btn-primary margin-md" data-loading-text="发送中">确定</button>
                <button type="button" class="js-sc-yc-cancel btn btn-default margin-md">取消</button>
            </div>
        </div>
    </form>
</div>