<div class="panel padding-md">
  <form class="js-fm-addUsers-form form-horizontal" action="javascript:void(0)">
    <div class="form-group js-fm-addUserList-container">
      <div class=" col-sm-12">
        <label class="col-sm-2 control-label">用户名：</label>
      <textarea class="js-fm-usernameList form-control width-md height-sm col-sm-6 "
                data-parsley-maxlength="3399"
                data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"
                style="width: 350px !important;height: 200px !important; margin-top: 10px;" required></textarea>
      </div>
      <div class="col-sm-2">
      </div>
      <div class=" col-sm-10" style="margin-top: 20px;">
        <div class="js-fm-fileUpload-btn"></div>
        <span class="tip">支持txt，单次最多可导入200个用逗号分隔的用户名。</span>
      </div>
    </div>
  </form>
</div>