<div class="panel padding-md">
  <form class="js-hc-rainCfg-form form-horizontal form-inline" action="javascript:void(0)">
    <div class="row m-bottom-sm">
      <div class="col-sm-6">
        <div class="form-group form-inline">
          <label class="control-label m-right-sm" style="margin-left: 105px;">活动时间：</label>
          <span class="js-hc-timeset"></span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group form-inline">
          <label class="control-label m-right-sm">每：</label>
          <input name="cycle" type="text" class="js-hc-rainMin form-control" style="width: 50px;" data-parsley-range="[0, 10000]" data-parsley-type="integer" required>
          <label class="control-label m-right-sm">分钟开启一次掉红包</label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group form-inline">
          <label class="control-label m-right-sm">持续：</label>
          <input name="duration" type="text" class="js-hc-rainSec form-control" style="width: 50px;" data-parsley-range="[0, 1000]" data-parsley-type="integer" required>
          <label class="control-label m-right-sm">秒后结束</label>
        </div>
      </div>
    </div>
    <div class="row m-bottom-sm">
      <div class="">
        <div class="col-sm-10 col-sm-offset-1">
          <button class="js-hc-add btn btn-primary"><i class="fa fa-plus"></i> 增加红包金额</button>
          <div class="js-hc-cfgDetail" style="margin-top: 10px;"></div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="js-hc-btn-submit btn btn-primary" type="button"  style="width: 100px; margin-right: 20px;" data-loading-text="发送中">确定</button>
      <button style="width: 100px;" class="js-hc-btn-reset btn" data-dismiss="modal" type="reset">取消</button>
    </div>
    <div>
      <input name="activityId" type="hidden" class="js-hc-activityId form-control">
    </div>
  </form>
</div>