<div class="ticket-list">
  <a href="javascript:null" class="js-comingsoon" >
    <div class="js-athena_st_07 ticket-item athnea-education_01" data-index="7">
    </div>
  </a>
  <a  href="javascript:null" class="js-comingsoon" >
    <div class=" js-athena_st_08 ticket-item athnea-tiger_01" data-index="8">
    </div>
  </a>
  <a href="#gc" >
    <div class="js-athena_st_09 ticket-item athnea-Reality_01" data-index="9">
    </div>
  </a>
  <a href="javascript:null;" class="js-lottery">
    <div class="js-athena_st_10 ticket-item athnea-ticket_01" data-index="10">
    </div>
  </a>
</div>
<div class="last-block">
    <dl  class="first">
        <dt>
            <img src="~base/images/julien/title01.png">
        </dt>
        <dd>
            <div class="js-rank-list" style="height: 100px; width: 390px; overflow:auto">

            </div>
        </dd>
        <div style="border-bottom: 1px solid #c9c9c9;width:400px; margin-top: 10px;" ></div>
    </dl>
    <dl>
        <dt>
            <img src="~base/images/julien/title02.png">
        </dt>
        <dd>
            <a href="#bb/sp">
                <span><img src="~base/images/julien/13.png" alt=""></span>
                投注管家
            </a>
           <!-- <a href="#">
                <span><img src="~base/images/julien/14.png" alt=""></span>
                过滤做号
            </a>-->
        </dd>
        <div style="border-bottom: 1px solid #c9c9c9;width:320px; margin-top: 10px" ></div>
    </dl>
    <dl class="last">
        <dt>
            <img src="~base/images/julien/title03.png">
        </dt>
        <dd>
            <a href="#">
                <span><img src="~base/images/julien/17.png" alt=""></span>
                Pc
            </a>
            <a href="#">
                <span><img src="~base/images/julien/15.png" alt=""></span>
                Iphone
            </a>
            <a href="#" class="c3">
                <span><img src="~base/images/julien/16.png" alt=""></span>
                Android
            </a>
        </dd>
        <div style="border-bottom: 1px solid #c9c9c9;width:300px; margin-top: 10px;" ></div>
    </dl>
</div>