<div class="">
  <div class="db-carousel unit">
    <div id="jsDbCarousel" class="carousel slide unit-inner unit-long-bottom no-margin clear-both">
      <div class="js-db-mb-item carousel-inner">
        <%=loading %>
      </div>
      
    </div>
    <a class="left carousel-control" href="#jsDbCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#jsDbCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
  <div class="db-slogan">
    <ul class="js-db-dynamic-list"></ul>
    <div>
      <span class="js-preInfo"></span>
      <span class="js-nextInfo"></span>
    </div>
  </div>
  <div class="js-db-ticketList text-center"></div>
</div>
