<div class="db-main clearfix">
  <div class="db-carousel unit">
    <div id="jsDbCarousel" class="carousel slide unit-inner unit-long-bottom no-margin">
      <ol class="js-db-mb-na carousel-indicators carousel-outside"></ol>
      <div class="js-db-mb-item db-mb-item carousel-inner">
        <%=loading %>
      </div>
      <!--<a class="left carousel-control" href="#jsDbCarousel" data-slide="prev">--
        <!--<i class="fa fa-caret-left"></i>-->
      <!--</a>-->
      <!--<a class="right carousel-control" href="#jsDbCarousel" data-slide="next">-->
        <!--<i class="fa fa-caret-right"></i>-->
      <!--</a>-->
    </div>
  </div>

  <div class="dynamic">
    <div class="dynamic-header">公告</div>
    <div class="dynamic-body">
      <ul class="js-db-dynamic-list db-dynamic-list no-margin"></ul>
    </div>
    <div class="dynamic-footer pn-pagination">
      <a class="js-db-next pn-next" href="#nc/nb">
        更多>>
      </a>
    </div>
  </div>
  <!--<input type="hidden" class="js-db-pageSize" value="6">-->
  <!--<input type="hidden" class="js-db-pageIndex" value="">-->
  <!--<input type="hidden" class="js-db-rowCount" value="">-->
<!--</div>-->

  <div class="db-slogan"></div>

  <div class="js-db-ticketList text-center"></div>
</div>
