<div class="panel padding-md">
  <form class="js-cn-notice-urgent-form form-horizontal" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">主题：</label>
      <div class="col-sm-9">
        <input name="title" type="text" class="js-cn-urgent-title form-control" data-parsley-zhMaxLength="20" style="width: 300px;" data-parsley-someSpecialChar required>
        <span class="help-inline">限20个字</span>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">内容：</label>

      <div class="col-sm-9">
        <div id="uploadBUContainer">
        </div>
        <textarea id="textarea1" style='height:300px; width:100%;' class="js-cn-urgent-content" data-parsley-zhMaxLength="20000"   required></textarea>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">发布时间：</label>
      <div class="col-sm-9">
        <input type="text" class="js-cn-urgent-starttime input-medium form-control" name="startTime" required>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">过期时间：</label>
      <div class="col-sm-9">
        <input type="text" class="js-cn-urgent-endTime input-medium form-control" name="endTime" required>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">公告轮播</label>
      <div class="col-sm-9">
        <label class="radio-inline">
          <input class="js-cn-broadcast" type="radio" name="broadcast"  value="0">开
        </label>
        <label class="radio-inline">
          <input class="js-cn-broadcast" type="radio" name="broadcast"  value="1">关
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9">
        <button type="submit" class="js-cn-urgent-btn-submit btn btn-primary" data-loading-text="发送中">发送</button>
        <button type="reset" class="js-cn-btn-cancel btn btn-default">取消</button>
      </div>
    </div>
  </form>
</div>