<div class="row m-bottom-sm">
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</label>
            <input type="text" name="title" class="form-control" placeholder="主題" data-parsley-zhMaxLength="20" data-parsley-someSpecialChar >
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">公告类型：</label>
            <select name="type" class="form-control">
                <option value="">全部</option>
                <option value="0">普通</option>
                <option value="1">紧急</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">操作人：</label>
            <select name="creater" class="js-nm-creator form-control">
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">每页展示：</label>
            <select class="form-control" name="pageSize">
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
                <option value="500">500条</option>
            </select>
        </div>
    </div>
</div>
<div class="row m-bottom-sm">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label m-right-sm">发布时间：</label>
            <span class="js-nm-timeset"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 pull-right form-group">
        <button class="wm-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
                class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
        </button>
        <button class="fu-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
          class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
        </button>
    </div>
</div>
