<div class="panel padding-md">
  <form class="js-nm-show-letter-form form-horizontal" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">主题：</label>

      <div class="col-sm-10">
        <div>
          <label name="title" class="js-il-title control-label"></label>
        </div>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">发送人：</label>

      <div class="col-sm-10">
        <div>
          <label name="sender" class="js-il-sender control-label"></label>
        </div>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">接收人：</label>

      <div class="col-sm-10">
        <div>
          <label name="recevier" class="js-il-recevier control-label"></label>
        </div>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">时间：</label>

      <div class="col-sm-10">
        <div>
          <label class="js-il-time control-label"></label>
        </div>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">内容：</label>
      <div class="js-il-content col-sm-10">
        <div class="portlet no-padding m-bottom-sm m-right-lg">
          <div class="portlet-inner">
            <div class="js-nc-chat-container portlet-body height-md overflow-auto">加载中</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>