@charset "UTF-8";

@import
"~base/styles/imports";

.empty-container-main{
  dl{
    height:44px;
    margin:0;
    dt{
      float: left;
      width:44px;
      height: 44px;
      line-height: 44px;
      background-color: #c76093;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      span{
        display: block;
        height: 24px;
        width: 24px;
        background: url("../misc/dollar-icon.png");
        margin:10px 0 0 8px;
      }
    }
    dd{
      float: left;
      width:226px;
      margin:0;
      p{
        height: 22px;
        line-height:22px;
        font-size: 16px;
        text-indent: 10px;
        color: #000;
        margin:0;
        font-weight:bold;
        text-align: left;
      }
      span{
        display: block;
        text-align:left;
        text-indent: 10px;
        height: 22px;
        line-height:22px;
        color: #999;
        font-size:14px;
        a{
          color: #c23541;
          text-decoration: underline;

        }
      }
    }
  }
}