<ul id="<%=_.unique() %>" class="js-view-tabs view-tabs nav <%=tabClass %>">
  <% _(tabs).each(function(tab, index) { %>
  <li class="<% if ((!triggerTab && index) === 0 || (tab.name === triggerTab)) { %>active<% } %>">
    <a href="#<%=tab.id %>" class="js-pf-tabView-item" data-toggle="tab" data-index="<%=index %>" data-name="<%=tab.name %>">
      <span><%=tab.label %></span>
    </a>
  </li>
  <% }); %>
</ul>
<%=append%>
<div id="<%=_.unique() %>" class="view-container tab-content">
  <% _(tabs).each(function(tab, index) { %>
  <div id="<%=tab.id %>" class="tab-pane fade <% if ((!triggerTab && index) === 0 || (tab.name === triggerTab)) { %>in active <% } %>"></div>
  <% }); %>
</div>
