<% obj.id = _.uniqueId() %>
<div class="text-center clearfix padding-mlg">
  <div class="pull-left">
    <label>
      <span class="custom-checkbox" style="margin-top: 8px">
        <input type="checkbox" id="<%=obj.id %>" class="js-bc-chase-suspend" checked />
        <label class="checkbox-label" for="<%=obj.id %>"></label>
      </span>
      中奖后停止追号
    </label>
  </div>
  <div class="pull-center">
    <span class="m-right-sm">追号总期数：
      <span class="">
        <span class="js-bc-chase-total">0</span> 期
      </span>
      追号总金额 ：
      <span class="text-hot">
        <span class="js-bc-chase-total-money">0.00</span>元
      </span>
    </span>
   <!-- <button type="button" class="js-bc-chase-submit btn btn-hot btn-linear m-left-xs m-top-xs" data-loading-text="提交中">
      <span class="sfa sfa-btn-hook vertical-top"></span>
      确认投注
    </button>-->

    <div class="js-bc-chase-submit chase-confirm" > </div>

  </div>
</div>
