<div class="portlet m-LR-sm">
  <div class="portlet-header text-amber">
    <form class="js-bc-chase-profit-table form-inline no-margin form-horizontal" action="javascript:void(0)">
      <div class="portlet-header-block">
        <div class="control-group">
          <div class="control-inline">
            <label class="control-label-chase">起始期号</label>
            <select class="js-bc-chase-normal-planId bc-chase-normal-planId" name="startPlanId"></select>
          </div>
          <div class="control-inline">
            <label class="control-label-chase">追</label>
            <input name="chasePlans" type="text" class="js-bc-chase-chasePlans js-gl-monitor bc-monitor"
                   data-monitor-type="number" value="5"/>
            <label class="help-inline">期（当前期最多可追<span class="js-bc-chase-left-plans">-</span>期）</label>
          </div>

          <div class="control-inline">
            <label class="control-label-chase">起始倍数</label>
            <input name="startMultiple" type="text" class="js-bc-start-multiple bc-monitor"
                   data-monitor-type="number" value="1"/>
            倍
          </div>
        </div>
      </div>
      <div class="portlet-header-block">
        <div class="control-group">
          <div class="js-bc-profit-normalRate js-bc-profit-area inline-block control-inline">
            <div class="custom-radio radio-blue">
              <input type="radio" id="jsBcChaseType1" class="js-bc-chaseType" name="chaseType" value="normalRate">
              <label for="jsBcChaseType1"></label>
            </div>
            利润率
            <span class="input-append inline-block">
            <input name="rate" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 99999]" value="10"/>
              <span class="add-on">%</span>
            </span>
          </div>

          <div class="js-bc-profit-advanceRate js-bc-profit-area inline-block">
            <div class="custom-radio radio-blue">
              <input type="radio" id="jsBcChaseType2" class="js-bc-chaseType" name="chaseType" value="advanceRate">
              <label for="jsBcChaseType2"></label>
            </div>
            前
            <span class="input-append inline-block">
            <input name="prevPlans" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 240]" value="5"/>
              <span class="add-on">期</span>
            </span>
            利润率
            <span class="input-append inline-block">
            <input name="prevRate" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 99999]" value="10"/>
              <span class="add-on">%</span>
            </span>
            ，之后利润率
            <span class="input-append inline-block">
            <input name="afterRate" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 99999]" value="5"/>
              <span class="add-on">%</span>
            </span>
          </div>
        </div>

        <div class="control-group">
          <div class="js-bc-profit-normalAmount js-bc-profit-area inline-block control-inline bc-profit-normalAmount">
            <div class="custom-radio radio-blue">
              <input type="radio" id="jsBcChaseType3" class="js-bc-chaseType" name="chaseType" value="normalAmount">
              <label for="jsBcChaseType3"></label>
            </div>
            利润金额
            <span class="input-append inline-block">
            <input name="amount" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 999999]" value="100"/>
              <span class="add-on">元</span>
            </span>
          </div>

          <div class="js-bc-profit-advanceAmount js-bc-profit-area inline-block">
            <div class="custom-radio radio-blue">
              <input type="radio" id="jsBcChaseType4" class="js-bc-chaseType" name="chaseType" value="advanceAmount">
              <label for="jsBcChaseType4"></label>
            </div>
            前
            <span class="input-append inline-block">
            <input name="prevPlans" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 240]" value="5"/>
              <span class="add-on">期</span>
            </span>
            利润金额
            <span class="input-append inline-block">
            <input name="prevAmount" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 999999]" value="100"/>
              <span class="add-on">元</span>
            </span>
            ，之后利润金额
            <span class="input-append inline-block">
            <input name="afterAmount" type="text" class="input-xs js-gl-monitor"
                   data-monitor-type="number" data-monitor-range="[1, 999999]" value="50"/>
              <span class="add-on">元</span>
            </span>
          </div>

          <div class="control-inline m-left-sm">
            <% obj.id = _.uniqueId() %>
            <label>
              <span class="custom-checkbox">
                <input type="checkbox" id="<%=obj.id %>" class="js-bc-chase-suspend" checked/>
                <label class="checkbox-label" for="<%=obj.id %>"></label>
              </span>
              中奖后停止追号
            </label>
          </div>
        </div>
      </div>

      <div class="portlet-header-btnGroup">
        <button type="button" class="js-bc-chase-create btn btn-pink btn-linear" data-loading-text="生成中">
          <span class="fa fa-wpforms"></span>
          生成追号
        </button>
      </div>
    </form>
  </div>
</div>

<div class="js-bc-chase-profit-container m-LR-sm"></div>
