<div class="bc-input-area">
  <div class="js-bc-position-container"></div>
  <div class="js-bc-numbers-container bc-textarea-main pull-left">
    <div class="js-bc-file-tip height-100 width-100 cursor-text">
      <p style="font-size:12px;line-height:170%;">
        说明：<br>
        <!--1、请参照"标准格式样本"格式录入或上传方案。<br>-->
        <!--1、每一注号码之间的间隔符支持 回车 空格[ 逗号[,] 分号[;] 冒号[:] 竖线 [|]<br>-->
        1、每一注号码之间的间隔符支持 回车 [ 逗号[,] 分号[;] 冒号[:] 竖线 [|]<br>
        2、文件格式必须是.txt格式。<br>
        3、导入文本内容后将覆盖文本框中现有的内容。
      </p>
    </div>
    <textarea class="js-bc-numbers-area height-100 width-100 no-resize no-padding no-margin no-border hidden"></textarea>
  </div>
</div>

<div class="bc-input-opration-container">
<div class=" pull-left m-left-xs m-top-lg">

  <div class="js-bc-fileLoad m-bottom-mlg"></div>
  <!--<div>-->
    <!--<button type="button" class="js-bc-numbers-del-error btn m-bottom-sm">删除错误项</button>-->
  <!--</div>-->
  <div class="m-bottom-mlg">
    <button type="button" class="js-bc-numbers-del-repeat btn btn-dark bc-btn-lg">删除重复号</button>
  </div>
  <div class="m-bottom-mlg">
    <button type="button" class="js-bc-numbers-empty btn btn-dark bc-btn-lg">清空号码</button>
  </div>

<!--  <div class="js-bc-fileLoad betting-button-importer"></div></br>

  <div class="js-bc-numbers-del-repeat betting-button-remove"></div></br>

  <div class="js-bc-numbers-empty betting-button-clear"></div>-->


</div>
</div>