<div class="portlet-filter">
  <form class="js-bc-chase-profit-table form-inline" action="javascript:void(0)">
    <div class="control-group">
    <span class="control-inline">
      <label class="control-label">起始期号</label>
      <select class="js-bc-chase-normal-planId bc-chase-normal-planId" name="startPlanId"></select>
    </span>
    <span>
      <label class="control-label">追</label>
      <input name="chasePlans" type="text" class="js-bc-chase-chasePlans js-gl-monitor bc-monitor"
             data-monitor-type="number" value="5" />
      <label class="control-label">期（包含当前期最多可追<span class="js-bc-chase-left-plans">-</span>期）</label>
    </span>

    <span class="pull-right">
      <label class="control-label">起始倍数</label>
      <input name="startMultiple" type="text" class="js-bc-start-multiple bc-monitor"
             data-monitor-type="number" value="1" />
    </span>
    </div>
    <div class="control-group">
      <div class="js-bc-profit-normalRate js-bc-profit-area inline-block control-inline">
        <div class="custom-radio radio-blue">
          <input type="radio" id="jsBcChaseType1" class="js-bc-chaseType" name="chaseType" value="normalRate">
          <label for="jsBcChaseType1"></label>
        </div>
        利润率
        <input name="rate" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 99999]" value="10" /> %
      </div>

      <div class="js-bc-profit-advanceRate js-bc-profit-area inline-block">
        <div class="custom-radio radio-blue">
          <input type="radio" id="jsBcChaseType2" class="js-bc-chaseType" name="chaseType" value="advanceRate">
          <label for="jsBcChaseType2"></label>
        </div>
        前
        <input name="prevPlans" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 240]" value="5" />
        期利润率
        <input name="prevRate" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 99999]" value="10" />
        %，之后利润率
        <input name="afterRate" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 99999]" value="5" />
        %
      </div>
    </div>
    <div class="control-group no-margin">
      <div class="js-bc-profit-normalAmount js-bc-profit-area inline-block control-inline bc-profit-normalAmount">
        <div class="custom-radio radio-blue">
          <input type="radio" id="jsBcChaseType3" class="js-bc-chaseType" name="chaseType" value="normalAmount">
          <label for="jsBcChaseType3"></label>
        </div>
        利润金额
        <input name="amount" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 999999]" value="100" />
        元
      </div>

      <div class="js-bc-profit-advanceAmount js-bc-profit-area inline-block">
        <div class="custom-radio radio-blue">
         <input type="radio" id="jsBcChaseType4" class="js-bc-chaseType" name="chaseType" value="advanceAmount">
          <label for="jsBcChaseType4"></label>
        </div>
        前
        <input name="prevPlans" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 240]" value="5" />
        期利润金额
        <input name="prevAmount" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 999999]" value="100" />
        元，之后利润金额
        <input name="afterAmount" type="text" class="input-xs js-gl-monitor"
               data-monitor-type="number" data-monitor-range="[1, 999999]" value="50" />
        元
      </div>
     <!-- <button type="button" class="js-bc-chase-create btn btn-sun btn-linear pull-right" data-loading-text="生成中">
        <span class="sfa sfa-btn-create vertical-top"></span>
        生成追号
      </button>-->

      <div class="js-bc-chase-create chase-num" > </div>
    </div>
  </form>
  <div class="js-bc-chase-profit-container"></div>
</div>
