<div class="bc-left">
  <div class="banner">
    <div class="bc-banner sfa-d-<%=ticketInfo.id %>-<%=ticketInfo.info.mark %> "></div>
    <div class="bc-time">
      <p><span class="js-bc-planId"></span> 截止投注</p>
      <div class="js-bc-countdown countdown-block"></div>
      <span class="d1">:</span>
      <span class="d2">:</span>
    </div>
    <div class="bc-result">
      <div class="title">
        <span class="js-bc-last-planId">第20160722-047期</span>
        开奖号码
        <a class="js-bc-video-main2" href="trend.html?ticketId=<%=ticketInfo.info.id %>" target="_blank">综合走势</a>
        <!--<a class="js-bc-video-main2" href="javascript:void(0)" target="_blank">综合走势</a>-->
      </div>
      <div class="js-bc-last-plan-results bc-last-results">
        <span class="text-circle">-</span>
        <span class="text-circle">-</span>
        <span class="text-circle">-</span>
        <span class="text-circle">-</span>
        <span class="text-circle">-</span>
      </div>
      <div class="js-hgcalculate-example"></div>
      <div class="js-bc-sale-stop bc-last-results hidden">
        <span class="text-circle">暂</span>
        <span class="text-circle">停</span>
        <span class="text-circle">销</span>
        <span class="text-circle">售</span>
      </div>
    </div>
  </div>
  <div class="bc-main-area">
    <div class="js-bc-rules bc-menu">
      <div class="js-bc-toggle bc-toggle hidden">
        <span class="js-bc-play-toggle bc-play-toggle" data-type="special">
          <span class="sfa sfa-bc-play-optional v-middle"></span> 任选玩法
        </span>
        <span class="js-bc-play-toggle bc-play-toggle normal hidden" data-type="normal">
          <span class="sfa sfa-bc-play-optional v-middle"></span> 常规玩法
        </span>
      </div>
      <div class="js-bc-basic-rules bc-basic-rules"></div>
      <div class="js-bc-optional-rules bc-basic-rules hidden"></div>
      <div class="js-rule-title-hidden-temp hidden"></div>
    </div>
    <div class="bc-play-section">
      <div class="js-bc-advance-rules"></div>
      <div class="bc-play-brief">
        <div class="overflow-hidden">

          <span class="js-bc-play-example bc-play-example pull-left"></span>

          <a class="js-bc-play-tip bc-play-tip btn-link" href="javascript:void(0)">
            <span>中奖举例</span>
            <span class="js-infor-tip infor-tip"></span>
          </a>
          <span class="text-hot pull-left">
            奖金模式：<span class="js-bc-bet-mode">1950</span>
          </span>
        </div>
      </div>
    </div>
    <div class="bc-play-container" style="overflow:auto">
      <div class="js-bc-play-area bc-play-area">
        <div class="gl-loading">
          <%=Global.ui.loader.get() %>
        </div>
      </div>
    </div>

    <div class="bc-statics-area">
      <span class="bc-result-container">
        <select class="js-bc-type-select bc-type-select">
          <option value="1">普通投注</option>
          <option value="2">自定义投注</option>
        </select>
        <span class="bc-result-container2 m-left-md hidden">
        投注金额
          <span class="input-in-append inline-block">
            <input name="customizeMoney" type="text" class="js-gl-monitor js-bc-customize-money input-sm" data-monitor-type="number" data-monitor-range="[1, 9999]" value="0">
            <span class="add-on">元</span>
          </span>
      </span>
        <span class="bc-result-container3 ">
        <div class="tab-toolbar tab-border inline-block m-left-md no-margin vertical-middle clearfix">
          <div class="tab-group no-margin">
            <span class="js-bc-monetary-unit tab m-right-sm active" data-rate="10000">元</span>
            <span class="js-bc-monetary-unit tab m-right-sm" data-rate="1000">角</span>
            <span class="js-bc-monetary-unit tab m-right-sm" data-rate="100">分</span>
            <span class="js-bc-monetary-unit tab m-right-sm" data-rate="10">厘</span>
          </div>
        </div>
        <input class="js-bc-multi-range" value="1" name="num" />
        <!--<div class="bc-multi-range inline-block vertical-middle num-range"></div>-->
        倍
          <span class="font-xs">
        <span>您选择了：</span>
        <span class="js-bc-statistics-lottery">0</span>
        <span>注</span>
          </span>
        <span class="">共<span class="js-bc-statistics-money">0</span>元</span>
      </span>
      <span class="js-bc-quick-bet bet-quick hidden"><i class="fa fa-check-circle"></i>直接投注</span>
      <span class="js-bc-quick-bet1 bet-quick1"><i class="fa fa-check-circle"></i>直接投注</span>
    </div>
  </div>
</div>
<div class="bc-right">
  <div class="bc-records-open-container">
    <div class="js-bc-records-open showList"></div>

    <div class="showListBtn">
      <i class="fa fa-angle-down js-openBlock1"></i>
    </div>
  </div>
  <div class="rightBlock2">
    <div class="topTips">
      <div class="topTip">今日充值：<span class="js-bc-today-recharge">0</span></div>
      <div class="topTip">今日提现：<span class="js-bc-today-withdraw">0</span></div>
      <div class="topTip">今日投注：<span class="js-bc-today-betting">0</span></div>
      <div class="topTip">今日盈亏：<span class="js-bc-today-profit">0</span></div>
    </div>
    <div class="bet-act-available">
      <i class="fa fa-star"></i>
      <span>
        可参加活动：<span class="js-bc-current-activities">0</span>个
      </span>
      <a class="js-bc-activity-entry router" href="#at/tb">活动详情</a>
      <!--<a class="js-bc-activity-entry" href="javascript:void(0)">活动详情</a>-->
    </div>
  </div>
  <div class="rightBlock3 js-bc-records">
    <div class="bc-title">
      <a href="javascript:void(0)" class="js-bc-records-tab active" data-type="preview">
        <i class="fa fa-shopping-cart"></i>号码篮
      </a>
      <a href="javascript:void(0);" class="js-bc-records-tab" data-type="recent">
        <i class="fa fa-check-square-o"></i>近期投注
      </a>
    </div>
    <div class="order-list">
      <div class="js-bc-records-recent hidden"></div>
      <!--<div class="js-bc-draw-records hidden"></div>-->
      <div class="js-bc-lottery-preview"></div>
    </div>
    <div class="order-bottom">
      <span class="js-collect collect"></span>
      <div>
        总计<span class="js-bc-total-lottery">0</span>注,
        总共<span class="js-bc-total-money">0</span>元
      </div>
    </div>
    <div class="btnList">
      <span class="js-bc-btn-lottery-add add-number hidden"><i class="fa fa-plus-circle"></i>添加号码</span>
      <span class="js-bc-btn-lottery-add1  add-number1 inline-block"> <i class="fa fa-plus-circle"></i>
        添加号码</span>
      <a href="#bb/sp">
        <i class="fa fa-group"></i>
        投注管家
      </a>
      <!--<a href="javascript:void(0)">-->
        <!--<i class="fa fa-group"></i>-->
        <!--投注管家-->
      <!--</a>-->
      <span class="js-bc-chase">
        <i class="fa fa-tags"></i>
        追号
      </span>
    </div>
    <span class="js-bc-btn-lottery-confirm commit-number">确认投注</span>
  </div>
</div>

<div class="js-cang01"></div>
<a href="javascript:null;">
  <div class="js-cang02" style="display: none"></div>
</a>
