<ul class="title">
  <li class="c1">期号</li>
  <li class="c2">开奖号码</li>
  <li class="c3">形态</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
<ul>
  <li class="c1">第20160915-028期</li>
  <li class="c2"><span class="r">1</span><span class="r">1</span><span
      class="r">1</span><span>1</span><span>1</span></li>
  <li class="c3">组三</li>
</ul>
