@charset "UTF-8";

@import
"~base/styles/imports";

.main-navigation-header{
    width: 100%;
    height: 10px;
}

.main-active-container{
    margin: 80px 0px;
    background-color: #ffffff;
    width: 100%;
    .active-container-header{
        width: 100%;
        height: 50px;
        background-color: #4c0000;
    }
    .active-context{
        background-color: white;
        width: 100%;
        overflow-y: auto;
        height: 600px;
        margin-bottom: 100px;
        .active-container-line{
            background-color: #cccccc;
            position: absolute;
            width: 1px;
            height: 590px;
            left: 265px;
            margin: 5px 0px;
            z-index: 0;
        }
        .active-list{
            width: 100%;
            margin: 5px 0px 5px 0px;
            display: inline-flex;
            .active-left-title{
                margin: 20px 0px 0px 20px;
                width: 200px;
                height: 30px;
                overflow: hidden;
                text-overflow: clip;
                text-align: right;
                line-height: 30px;
                font-size: 15px;
                font-weight: bold;
            }
            .active-badge-comming{
                background-color: #fd9900;
                float: right;
                width: 80px;
                height: 30px;
                line-height: 30px;
                font-weight: bolder;
                font-size: 15px;
                color: white;
                text-align: center;

            }
            .active-badge-running{
                background-color: #ce0201;
                float: right;
                width: 80px;
                height: 30px;
                line-height: 30px;
                font-weight: bolder;
                font-size: 15px;
                color: white;
                text-align: center;

            }
            .active-badge-over{
                background-color: #cccccc;
                float: right;
                width: 80px;
                height: 30px;
                line-height: 30px;
                font-weight: bolder;
                font-size: 15px;
                color: white;
                text-align: center;

            }
            .active-round-dot{
                margin: 20px 30px 0px 30px;
                width: 30px;
                height: 30px;
                border-radius: 35px;
                border: 1px solid lightgrey;
                background-color: #ce0000;
                color: white;
                text-align: center;
                line-height: 30px;
                z-index: 0;
            }
            .active-right-content{
                border: 1px solid lightgrey;
                width: 770px;
                .active-right-image{
                    width: 770px;
                    height: 200px;
                }
                .active-right-time{
                    border-top: 1px solid lightgrey;
                    line-height: 30px;
                    height: 30px;
                    width: 100%;
                }
            }
        }

    }

}

