@charset "UTF-8";

@import "~base/styles/imports";

.main-active-container {
  padding-top: 0px;
  .active-context {
    height: 600px;
  }
  .at-activity-main {
    margin-bottom: 30px;
    .ac-activity-banner {
      border: solid 1px #cccfcf;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.3);
      .ac-activity-image {
        width: 615px;
        height: 138px;
        float: left;
      }

      .activity-badge {
        background-color: #c7343a;
        display: inline-block;
        color: $white-color;
        margin-left: 10px;
        font-size: 12px;
        border: solid 1px #c7343a;
        border-radius: 20px;
        height: 22px;
        line-height: 22px;
        padding: 0 8px;
        width: 55px;
      }

      &.ac-activity-coming {
        .activity-badge {
          background-color: #fb6834;
          border: 1px solid #fb6834;
        }
        .ac-activity-word {
          color: #333;
        }
      }

      &.ac-activity-running {
        .activity-badge {
          background-color: $hot-color;
          border: 1px solid $hot-color;
        }
        .ac-activity-word {
          color: $color-amber;
        }
      }

      &.ac-activity-end {
        .activity-badge {
          background-color: $gray-color;
          border: 1px solid $gray-color;
        }
        .ac-activity-word {
          color: #7f7f7f;
        }
        .ac-activity-des {
          color: $gray-color;
        }
        .ac-activity-image {
          filter: grayscale(100%);
          filter: gray;
          filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
        }
      }
    }
    .ac-activity-word {
      height: 138px;
      overflow: hidden;
      .ac-activity-title {
        margin-left: 10px;
        font-size: 16px;
        display: inline-block;
        line-height: 28px;
        float: left;
        color: #333;
      }
      .ac-activity-des {
        margin-left: 10px;
      }
      .ac-activity-time {
        margin-top: 5px;
      }
    }
  }
}

.activityDetail-context {
  height: 500px;
  padding-top: 10px;
  padding-left: 10px;
}
.activityDetail-container-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.activityDetail-back-btn {
  color: grey;
}
.activityDetail-content {
  color: $color-amber;
}