@charset "UTF-8";

@import
"~base/styles/imports";


.main-active-container{
    width: 100%;
    .at-activity-main{
        margin-top: 30px;
        width:1200px;
        height: 160px;
        .ac-activity-banner{
            width:1160px;
            height: 160px;
            border:solid 1px #cccfcf;
            border-radius:4px;
            margin-left: 15px;
            .ac-activity-image{
                width:615px;
                height: 138px;
                margin-top: 10px;
                margin-left: 10px;
                float: left;
            }
        }
        .ac-activity-word{
            width:525px;
            height: 138px;
            overflow: hidden;
            margin-top: 10px;
            .ac-activity-title{
                margin-left: 10px;
                font-size: 18px;
                display:inline-block;
                line-height: 28px;
                float: left;
            }
            .ac-activity-status-running{
                background-color: #C7343A;
                display: inline-block;
                color: #ffffff;
                margin-left: 10px;
                font-size: 12px;
                border: solid 1px #C7343A;
                border-radius: 8px;
                height: 24px;
                line-height: 24px;
                padding: 0 10px;
            }
            .ac-activity-status-coming{
                background-color: #FB6834;
                display: inline-block;
                color: #ffffff;
                margin-left: 10px;
                font-size: 12px;
                border: solid 1px #FB6834;
                border-radius: 8px;
                height: 24px;
                line-height: 24px;
                padding: 0 10px;
            }
            .ac-activity-status-end{
                background-color: #CDCDCD;
                display: inline-block;
                color: #ffffff;
                margin-left: 10px;
                font-size: 12px;
                border: solid 1px #CDCDCD;
                border-radius: 8px;
                height: 24px;
                line-height: 24px;
                padding: 0 10px;
            }
            .ac-activity-des{
                margin-left: 10px;
            }
            .ac-activity-time{
                margin-top:5px;
            }
        }
    }

}

.num{
    text-align: right;
    font-size: 24px;
    color: #ccc;
    font-family: '微软雅黑';
}


