@charset "UTF-8";

@import "~base/styles/imports";

$wrapperWidth: 1366px;
$dashboard-slide-nav-item-width: 123px;
$dashboard-slide-nav-item-height: 127px;
$dashboard-slide-nav-item-a-width: 156px;
$dashboard-slide-nav-item-a-height: 158px;
$main-height: 540px !default;

$main-top: 110px !default;

.db-main {
  border: 1px solid $gray-color;
}

.db-ticket-scroll {
  bottom: $main-top !important;
}

.carousel-inner {
  height: 580px;
  img {
    height: 580px;
  }
}

.db-slogan {
  //background: url(../misc/slogan.png) no-repeat no-repeat center center;
  width: 347px;
  height: 40px;
  margin: 30px auto 15px;
}

.dynamic-body {
  height: 125px;
  position: relative;
  margin: -3px 20px 0 20px;
  ul {
    list-style: none;
  }
  li {
    position: relative;
    a {
      padding: 2px;
      border-bottom: 1px dashed #cccccc;
      display: block;

      &:hover {
        color: #fdbe4a;
      }
    }
    &:first-of-type {
      a {
        padding-top: 0;
      }
    }
  }


}

.dynamic {
  width: 242px;
  height: 196px;
  background: #fff;
  box-shadow: 2px 2px 5px #868686;
  position: absolute;
  top: 8px;
  right: 45px;

  .dynamic-header {
    padding: 11px 14px;
    background: url(red-tag.png) no-repeat;
    font-size: 16px;
    height: 24px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    top: -4px;
    position: relative;
  }


  .dynamic-footer {
    height: 30px;
    line-height: 24px;
  }

  .pn-pagination {
    padding-left: 10px;
    padding-right: 10px;

    //.pn-prev {
    //  margin-right: 10px;
    //  float: left;
    //  .fa {
    //    padding-right: 2px;
    //  }
    //}
    .pn-next {
      float: right;
      .fa {
        padding-left: 2px;
      }
      &:hover {
        color: #fdbe4a;
      }
    }
  }
}

@mixin slide-nav-item($sfas, $size) {
  @each $class, $val in $sfas {
    &.#{$class} {
      background: url(map_get($val, default)) no-repeat no-repeat;
      width: $size;
      height: $size;
      display: block;
      margin: 0 auto;
    }
  }
}

.ticket-list {
  margin: 0 -1px;
  .ticket-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width:280px;
    height: 250px;
    padding-top: 27px;
    float: right;
    margin-right: -1px;
    margin-top: -1px;
    background: url(./ticket-bg.png) repeat-x;

    .sfa {
      @include slide-nav-item($sfa-d-tickets, 90px);
    }


  }

  .title-01 {
    background: url(~base/images/fh/lottery_entrance.png);
    background-repeat: no-repeat;

  }
  .title-02 {
    background: url(~base/images/fh/casino_entrance.png);
    background-repeat: no-repeat;
  }
  .title-03 {
    background: url(~base/images/fh/slot_entrance.png);
    background-repeat: no-repeat;
  }
  .title-04 {
    background: url(~base/images/fh/sport_entrance.png);
    background-repeat: no-repeat;
  }

  .ticket-badge {
    transform: rotate(-45deg);
    position: absolute;
    width: 100px;
    left: -25px;
    top: 15px;
    font-size: 13px;
    font-weight: bold;
  }

  .ticket-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .ticket-brief {
    margin-top: 5px;
    color: $light-dark-color-2;
  }


}

$float-bottom: 191px;
$float-height: 38px;
.customer-service {
  //bottom: $float-bottom;
  width: 164px;
  height: 44px;

  //background-image: url(~base/images/contact_service.png);
  background: url(~base/images/fh/online_kf.png);
  top:-22px;
  //&:hover {
  //  background-image: url(~base/images/contact_service1.png);
  //}
}

.upgrade-intro {
  bottom: $float-bottom + $float-height;
  width: 42px;
  height: $float-height;
  background-image: url(~base/images/upgrade.png);

  &:hover {
    background-image: url(~base/images/upgrade2.png);
  }
}

.history-record {
  bottom: $float-bottom + $float-height * 2;
  width: 42px;
  height: $float-height;
  background-image: url(~base/images/hrecord.png);

  &:hover {
    background-image: url(~base/images/hrecord2.png);
  }
}

.customer-service, .upgrade-intro, .history-record {
  position: absolute;
  left: 50%;
  margin-left: 442px;
  transition: background-image 0.4s ease-in-out;
}

@media (max-height: 930px) {
  $float-bottom: $float-bottom - 91px;
  .customer-service {
    bottom: $float-bottom;
  }
  .upgrade-intro {
    bottom: $float-bottom + $float-height;
  }

  .history-record {
    bottom: $float-bottom + $float-height * 2;
  }
}

.web-logo {
  background: url(~base/images/fh/logo.png);
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  float: left;
}

.nav-router {
 // width: 900px;
  margin-left: 300px;
}

.nav-index {
  font-size: 21px;
  width: 120px;
  float: left;
  text-align: center;
  margin-top: 20px;
  color: black;

}

.clear-both {
  clear: both;
}


.ad-rank {
  background: url(~base/images/fh/rank.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.rank-list {
  width: 100%;
  height: 200px;
  margin: 55px -50px;
  //float: left;
}



.ad-tools {
  background: url(~base/images/fh/title_tools.png);
  width: 30%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.bet-manager {
  background: url(~base/images/fh/bet_manager.png);
  width: 100%;
  height: 100px;
  margin: 39px 0px;
  background-repeat: no-repeat;
  float: left;
}

.number-handler {
  background: url(~base/images/fh/num_handle.png);
  width: 100%;
  height: 100px;
  margin: -139px  100px;
  background-repeat: no-repeat;
  float: left;
}


.ad-download {
  background: url(~base/images/fh/title_download_client.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.download-pc {
  background: url(~base/images/fh/download_pc.png);
  width: 30%;
  height: 100px;
  margin: 38px 0px;
  background-repeat: no-repeat;
  float: left;
}
.download-iphone {
  background: url(~base/images/fh/download_iphone.png);
  width: 30%;
  height: 100px;
  margin: 38px -20px;
  background-repeat: no-repeat;
  float: left;
}
.download-android {
  background: url(~base/images/fh/download_android.png);
  width: 30%;
  height: 100px;
  margin: 38px 0px;
  background-repeat: no-repeat;
  float: left;
}


.bank-list {
  background: url(~base/images/fh/bank_list.png);
  width: 35%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-client {
  background: url(~base/images/fh/download_client.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-help {
  background: url(~base/images/fh/help_center.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-brand {
  background: url(~base/images/fh/brand_info.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.partner-list {
  background: url(~base/images/fh/brand_quality.png);
  width: 35%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}

.db-carousel{
  .left{
    width: 40px;
    height: 80px;
    background: url(~base/images/julien/bannerBtn.png) no-repeat 0px -80px;
  }

  .right{
    width: 40px;
    height: 80px;
    background: url(~base/images/julien/bannerBtn.png) no-repeat;
  }
}

.db-carousel{
  position: relative;
}