@charset "UTF-8";

@import "~base/styles/imports";

$wrapperWidth: 1366px;
$dashboard-slide-nav-item-width: 123px;
$dashboard-slide-nav-item-height: 127px;
$dashboard-slide-nav-item-a-width: 156px;
$dashboard-slide-nav-item-a-height: 158px;
$main-height: 540px !default;

$main-top: 110px !default;

.db-main {
  border: 1px solid $gray-color;
}

.db-ticket-scroll {
  bottom: $main-top !important;
}

.carousel-inner {
  .item{
    width: 1200px !important;
  }
  
  height: 580px;
  img {
    height: 580px;
  }
}

.db-slogan {
  background: url(~base/images/julien/11.png) no-repeat left center;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 20px 0;
  padding-left: 30px;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;

  ul,li{
    list-style: none;
  }

  ul{
    width: 1100px;
    float: left;
  }

  a{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #666666;
  }

  > div{
    width: 10px;
    float: right;
    margin-top: 8px;

    span{
      display: block;
      width: 9px;
      height: 9px;
      background: url(~base/images/julien/12.png) no-repeat;
      margin-bottom: 5px;
      cursor: pointer;

      &:last-child{
        background-position:bottom;
      }

    }
  }
}

.dynamic-body {
  height: 125px;
  position: relative;
  margin: -3px 20px 0 20px;
  ul {
    list-style: none;
  }
  li {
    position: relative;
    a {
      padding: 2px;
      border-bottom: 1px dashed #cccccc;
      display: block;

      &:hover {
        color: #fdbe4a;
      }
    }
    &:first-of-type {
      a {
        padding-top: 0;
      }
    }
  }


}

.dynamic {
  width: 242px;
  height: 196px;
  background: #fff;
  box-shadow: 2px 2px 5px #868686;
  position: absolute;
  top: 8px;
  right: 45px;

  .dynamic-header {
    padding: 11px 14px;
    background: url(red-tag.png) no-repeat;
    font-size: 16px;
    height: 24px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    top: -4px;
    position: relative;
  }


  .dynamic-footer {
    height: 30px;
    line-height: 24px;
  }

  .pn-pagination {
    padding-left: 10px;
    padding-right: 10px;

    //.pn-prev {
    //  margin-right: 10px;
    //  float: left;
    //  .fa {
    //    padding-right: 2px;
    //  }
    //}
    .pn-next {
      float: right;
      .fa {
        padding-left: 2px;
      }
      &:hover {
        color: #fdbe4a;
      }
    }
  }
}

@mixin slide-nav-item($sfas, $size) {
  @each $class, $val in $sfas {
    &.#{$class} {
      background: url(map_get($val, default)) no-repeat no-repeat;
      width: $size;
      height: $size;
      display: block;
      margin: 0 auto;
    }
  }
}

.ticket-list {
  margin: 0 -1px;
  .ticket-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width:200px;
    height: 250px;
    padding-top: 27px;
    float: right;
    margin-right: -1px;
    margin-top: -1px;
    background: url(./ticket-bg.png) repeat-x;
    margin-left: 130px;

    .sfa {
      @include slide-nav-item($sfa-d-tickets, 90px);
    }

  }

  .title-01 {
    background: url(~base/images/fh/lottery_entrance.png);
    background-repeat: no-repeat;
    margin-left:0px;

  }
  .title-02 {
    background: url(~base/images/fh/casino_entrance.png);
    background-repeat: no-repeat;
  }
  .title-03 {
    background: url(~base/images/fh/slot_entrance.png);
    background-repeat: no-repeat;
  }
  .title-04 {
    background: url(~base/images/fh/sport_entrance.png);
    background-repeat: no-repeat;
  }

  .ticket-badge {
    transform: rotate(-45deg);
    position: absolute;
    width: 100px;
    left: -25px;
    top: 15px;
    font-size: 13px;
    font-weight: bold;
  }

  .ticket-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .ticket-brief {
    margin-top: 5px;
    color: $light-dark-color-2;
  }


}

$float-bottom: 191px;
$float-height: 38px;
.customer-service {
  //bottom: $float-bottom;
  width: 164px;
  height: 44px;

  //background-image: url(~base/images/contact_service.png);
  background: url(~base/images/fh/online_kf.png);
  top:-22px;
  //&:hover {
  //  background-image: url(~base/images/contact_service1.png);
  //}
}

.upgrade-intro {
  bottom: $float-bottom + $float-height;
  width: 42px;
  height: $float-height;
  background-image: url(~base/images/upgrade.png);

  &:hover {
    background-image: url(~base/images/upgrade2.png);
  }
}

.history-record {
  bottom: $float-bottom + $float-height * 2;
  width: 42px;
  height: $float-height;
  background-image: url(~base/images/hrecord.png);

  &:hover {
    background-image: url(~base/images/hrecord2.png);
  }
}

.customer-service, .upgrade-intro, .history-record {
  position: absolute;
  left: 50%;
  margin-left: 442px;
  transition: background-image 0.4s ease-in-out;
}

@media (max-height: 930px) {
  $float-bottom: $float-bottom - 91px;
  .customer-service {
    bottom: $float-bottom;
  }
  .upgrade-intro {
    bottom: $float-bottom + $float-height;
  }

  .history-record {
    bottom: $float-bottom + $float-height * 2;
  }
}

.web-logo {
  background: url(~base/images/fh/logo.png);
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  float: left;
}

.nav-router {
 // width: 900px;
  margin-left: 300px;
}

.nav-index {
  font-size: 21px;
  width: 120px;
  float: left;
  text-align: center;
  margin-top: 20px;
  color: black;

}

.clear-both {
  clear: both;
}


.ad-rank {
  background: url(~base/images/fh/rank.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.rank-list {
  width: 100%;
  height: 200px;
  margin: 55px -50px;
  //float: left;
}



.ad-tools {
  background: url(~base/images/fh/title_tools.png);
  width: 30%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.bet-manager {
  background: url(~base/images/fh/bet_manager.png);
  width: 100%;
  height: 100px;
  margin: 39px 0px;
  background-repeat: no-repeat;
  float: left;
}

.number-handler {
  background: url(~base/images/fh/num_handle.png);
  width: 100%;
  height: 100px;
  margin: -139px  100px;
  background-repeat: no-repeat;
  float: left;
}


.ad-download {
  background: url(~base/images/fh/title_download_client.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.download-pc {
  background: url(~base/images/fh/download_pc.png);
  width: 30%;
  height: 100px;
  margin: 38px 0px;
  background-repeat: no-repeat;
  float: left;
}
.download-iphone {
  background: url(~base/images/fh/download_iphone.png);
  width: 30%;
  height: 100px;
  margin: 38px -20px;
  background-repeat: no-repeat;
  float: left;
}
.download-android {
  background: url(~base/images/fh/download_android.png);
  width: 30%;
  height: 100px;
  margin: 38px 0px;
  background-repeat: no-repeat;
  float: left;
}


.bank-list {
  background: url(~base/images/fh/bank_list.png);
  width: 35%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-client {
  background: url(~base/images/fh/download_client.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-help {
  background: url(~base/images/fh/help_center.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-brand {
  background: url(~base/images/fh/brand_info.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.partner-list {
  background: url(~base/images/fh/brand_quality.png);
  width: 35%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}

.db-carousel{
  .left{
    width: 40px;
    height: 80px;
    background: url(~base/images/julien/bannerBtn.png) no-repeat 0px -80px;
  }

  .right{
    width: 40px;
    height: 80px;
    background: url(~base/images/julien/bannerBtn.png) no-repeat;
  }
}

.db-carousel{
  position: relative;
}

.last-block{
  dl{
    width: 320px;
    height: 156px;
    float: left;
    text-align: left;
    margin-right: 80px;

    dt{
      height: 40px;
      border-bottom: 1px solid #c9c9c9;
    }
    dd{
      font-size: 14px;
      color: #666666;
      font-family: '微软雅黑';
      line-height: 30px;
      padding-top: 10px;
      display: table;

      a{
        width: 60px;
        height: 75px;
        display: block;
        text-align: center;
        font-size: 14px;
        color:#999999;
        float: left;
        margin-right: 40px;
        margin-top: 20px;

        img{
          max-width:auto;
        }

        span{
          display: table-cell;
          vertical-align: middle;
          height: 50px;
          width: 60px;
          text-align: center;
        }
      }
    }

    &.first{
      width: 400px;
    }

    &.last{
      width: 300px;
      float: right;
      margin-right: 0px;
      text-transform:uppercase;

      dd{
        a.c3{
          margin-right:0px;
        }

        
      }
    }
  }
}

.main-active-container1{
  width: 100%;
  .active-container-header{
    width: 100%;
    height: 50px;
    ul{
      height: 40px;
      border-bottom: 2px solid #a60000;
      padding-bottom: 1px;
      font-size: 16px;
    }
    li{
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-top: 1px solid #cccccc;
      width: 130px;
      list-style: none;
      margin-bottom: 2px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      text-align: center;
      float: left;
      margin-right: 9px;
      color: #000;
    }
    .list-active{
      color: #fff;
      background: url(~base/images/julien/btn-bg01.jpg) no-repeat;
    }

  }
  .active-context{
    margin-top: -10px;
    padding-top: 30px;
    background-color: white;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    height: 250px;

    .active-container-line{
      background-color: #cccccc;
      position: absolute;
      width: 1px;
      height: 590px;
      left: 265px;
      margin: 5px 0px;
      z-index: 0;
    }
    .active-list{
      width: 100%;
      padding-bottom: 20px;
      display: inline-flex;
      position: relative;
      .active-left-title{
        text-align: right;
        line-height: 30px;
        font-size: 14px;
        color: #333333;
        width: 120px;
        padding-left: 10px;
      }
      .active-badge-comming{
        background-color: #fd9900;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-running{
        background-color: #ce0201;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-over{
        background-color: #cccccc;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-round-dot{
        margin: 20px 30px 0px 30px;
        width: 10px;
        height: 10px;
        border-radius: 35px;
        background-color: #ce0000;
        color: white;
        text-align: center;
        line-height: 30px;
        z-index: 2;
      }
      .active-round-line{
        position: absolute;
        height: 100%;
        width: 2px;
        border-left: 2px solid rgb(204, 204, 204);
        left: 164px;
      }
      .active-right-content{
        border: 1px solid lightgrey;
        width: 965px;
        height: 200px;
        overflow: hidden;
        .active-right-image{
          width: 100%;
        }
        .active-right-time{
          border-top: 1px solid lightgrey;
          line-height: 30px;
          height: 30px;
          width: 100%;
        }
      }
    }

  }

}

.ssc-style-select {
  width: 100px; 
  height: 100px; 
  float: left;
  margin-left: 35px;
  
}

.list-active-chase-number{
  color: #fff;
  background: url(~base/images/julien/btn-bg01.jpg) no-repeat;
  width: 120px;
}

.comingsoon-pic {
  background: url(~base/images/fh/ssc-expect.png) no-repeat;
  width: 720px;
  height: 420px;
  margin-left: 50px;
}