@charset "UTF-8";

@import "~base/styles/imports";

$wrapperWidth: 1366px;
$dashboard-slide-nav-item-width: 123px;
$dashboard-slide-nav-item-height: 127px;
$dashboard-slide-nav-item-a-width: 156px;
$dashboard-slide-nav-item-a-height: 158px;
$main-height: 540px !default;

$main-top: 110px !default;

.db-main {
  border: 1px solid $gray-color;
}

.db-ticket-scroll {
  bottom: $main-top !important;
}
.athena-bg-active{
    width:75px;
  height:150px;
  background-color: red;

}
.toggle-btn-betting{
    width:250px;
  height:40px;
}
.carousel-inner {
  .item{
    width: 1200px !important;
  }
  
  height: 446px;
  img {
    height: 446px;
  }
}

.db-slogan {
  position: relative;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 10px 0;
  padding-left:45px;
  overflow: hidden;
  border: 2px solid #ab3d69;
  border-radius: 40px;

  .g2{
    width: 1130px;
    position: relative;
    height: 40px;
    overflow: hidden;

    a{
      position: absolute;
      font-size: 14px;
      color: #666666;
      left: 1130px;
      white-space: nowrap;
    }
  }

  >span{
    position: absolute;
    left: 8px;
    top: 5px;
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 14px;
    color: #fff;
    font-size: 16px;

    background-color: #ea3e40;
    background-image:-webkit-linear-gradient(180deg, #ea3e40, #ad3d68);
    background-image:linear-gradient(180deg,#ea3e40,#ad3d68);
  }
  

  ul,li{
    list-style: none;
  }

  ul{
    width: 1100px;
    float: left;
    margin-right: 25px;
  }

  a{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #666666;

    &:hover{
      color:#c00;
    }
  }
}

.dynamic-body {
  height: 125px;
  position: relative;
  margin: -3px 20px 0 20px;
  ul {
    list-style: none;
  }
  li {
    position: relative;
    a {
      padding: 2px;
      border-bottom: 1px dashed #cccccc;
      display: block;

      &:hover {
        color: #fdbe4a;
      }
    }
    &:first-of-type {
      a {
        padding-top: 0;
      }
    }
  }


}

.dynamic {
  width: 242px;
  height: 196px;
  background: #fff;
  box-shadow: 2px 2px 5px #868686;
  position: absolute;
  top: 8px;
  right: 45px;

  .dynamic-header {
    padding: 11px 14px;
    background: url(red-tag.png) no-repeat;
    font-size: 16px;
    height: 24px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    top: -4px;
    position: relative;
  }


  .dynamic-footer {
    height: 30px;
    line-height: 24px;
  }

  .pn-pagination {
    padding-left: 10px;
    padding-right: 10px;

    //.pn-prev {
    //  margin-right: 10px;
    //  float: left;
    //  .fa {
    //    padding-right: 2px;
    //  }
    //}
    .pn-next {
      float: right;
      .fa {
        padding-left: 2px;
      }
      &:hover {
        color: #fdbe4a;
      }
    }
  }
}

@mixin slide-nav-item($sfas, $size) {
  @each $class, $val in $sfas {
    &.#{$class} {
      background: url(map_get($val, default)) no-repeat no-repeat;
      width: $size;
      height: $size;
      display: block;
      margin: 0 auto;
    }
  }
}

.ticket-list {
  margin: 0 -1px;
  .ticket-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width:200px;
    height: 250px;
    padding-top: 27px;
    float: right;
    margin-right: -1px;
    margin-top: -1px;
    background: url(./ticket-bg.png) repeat-x;
    margin-left: 130px;

    .sfa {
      @include slide-nav-item($sfa-d-tickets, 90px);
    }

  }

  .athnea-ticket_01 {
    background: url(~base/images/fh/athena-ticket_01.png);
    background-repeat: no-repeat;
    margin-left:0px;

  }
  .athnea-ticket_02 {
    background: url(~base/images/fh/athena-ticket_02.png);
    background-repeat: no-repeat;
    margin-left:0px;

  }
  .athnea-ticket_03 {
    background: url(~base/images/fh/athena-ticket_03.png);
    background-repeat: no-repeat;
    margin-left:0px;

  }
  .athnea-Reality_01 {
    background: url(~base/images/fh/athean-Reality_01.png);
    background-repeat: no-repeat;
  }
  .athnea-Reality_02 {
    background: url(~base/images/fh/athean-Reality_02.png);
    background-repeat: no-repeat;
  }
  .athnea-Reality_03 {
    background: url(~base/images/fh/athean-Reality_03.png);
    background-repeat: no-repeat;
  }
  .athnea-tiger_01{
    background: url(~base/images/fh/athena-tiger_01.png);
    background-repeat: no-repeat;
  }
  .athnea-tiger_02{
    background: url(~base/images/fh/athena-tiger_02.png);
    background-repeat: no-repeat;
  }
  .athnea-tiger_03{
    background: url(~base/images/fh/athena-tiger_03.png);
    background-repeat: no-repeat;
  }
  .athnea-education_01 {
    background: url(~base/images/fh/athena-education_01.png);
    background-repeat: no-repeat;
  }
  .athnea-education_02 {
    background: url(~base/images/fh/athena-education_02.png);
    background-repeat: no-repeat;
  }
  .athnea-education_03 {
    background: url(~base/images/fh/athena-education_03.png);
    background-repeat: no-repeat;
  }

  .ticket-badge {
    transform: rotate(-45deg);
    position: absolute;
    width: 100px;
    left: -25px;
    top: 15px;
    font-size: 13px;
    font-weight: bold;
  }

  .ticket-title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .ticket-brief {
    margin-top: 5px;
    color: $light-dark-color-2;
  }


}

$float-bottom: 191px;
$float-height: 38px;
.customer-service {
  //bottom: $float-bottom;
  width: 164px;
  height: 44px;

  //background-image: url(~base/images/contact_service.png);
  background: url(~base/images/fh/online_kf.png);
  top:-22px;
  //&:hover {
  //  background-image: url(~base/images/contact_service1.png);
  //}
}

.web-logo {
  background: url(~base/images/fh/logo.png);
  width: 200px;
  height: 100px;
  background-repeat: no-repeat;
  float: left;
}

.nav-router {
 // width: 900px;
  margin-left: 300px;
}

.nav-index {
  font-size: 21px;
  width: 120px;
  float: left;
  text-align: center;
  margin-top: 20px;
  color: black;

}

.clear-both {
  clear: both;
}


.ad-rank {
  background: url(~base/images/fh/rank.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.ad-tools {
  background: url(~base/images/fh/title_tools.png);
  width: 30%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.bet-manager {
  background: url(~base/images/fh/bet_manager.png);
  width: 100%;
  height: 100px;
  margin: 39px 0px;
  background-repeat: no-repeat;
  float: left;
}

.number-handler {
  background: url(~base/images/fh/num_handle.png);
  width: 100%;
  height: 100px;
  margin: -139px  100px;
  background-repeat: no-repeat;
  float: left;
}


.ad-download {
  background: url(~base/images/fh/title_download_client.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
}

.download-pc {
  background: url(~base/images/fh/download_pc.png);
  width: 30%;
  height: 100px;
  margin: 38px 0px;
  background-repeat: no-repeat;
  float: left;
}
.download-iphone {
  background: url(~base/images/fh/download_iphone.png);
  width: 30%;
  height: 100px;
  margin: 38px -20px;
  background-repeat: no-repeat;
  float: left;
}
.download-android {
  background: url(~base/images/fh/download_android.png);
  width: 30%;
  height: 100px;
  margin: 38px 0px;
  background-repeat: no-repeat;
  float: left;
}


.bank-list {
  background: url(~base/images/fh/bank_list.png);
  width: 35%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-client {
  background: url(~base/images/fh/download_client.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-help {
  background: url(~base/images/fh/help_center.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.intro-brand {
  background: url(~base/images/fh/brand_info.png);
  width: 10%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}
.partner-list {
  background: url(~base/images/fh/brand_quality.png);
  width: 35%;
  height: 60px;
  background-repeat: no-repeat;
  float: left;
}

.last-block{
  dl{
    width: 320px;
    height: 156px;
    float: left;
    text-align: left;
    margin-right: 80px;

    dt{
      height: 40px;
      border-bottom: 1px solid #c9c9c9;
    }
    dd{
      font-size: 14px;
      color: #666666;
      font-family: '微软雅黑';
      line-height: 30px;
      padding-top: 10px;
      display: table;

      a{
        width: 60px;
        height: 75px;
        display: block;
        text-align: center;
        font-size: 14px;
        color:#999999;
        float: left;
        margin-right: 40px;
        margin-top: 20px;

        img{
          max-width:auto;
        }

        span{
          display: table-cell;
          vertical-align: middle;
          height: 50px;
          width: 60px;
          text-align: center;
        }
      }
    }

    &.first{
      width: 400px;
    }

    &.last{
      width: 300px;
      float: right;
      margin-right: 0px;
      text-transform:uppercase;

      dd{
        a.c3{
          margin-right:0px;
        }

        
      }
    }
  }
}

.main-active-container1{
  .active-container-header{
    width: 100%;
    height: 50px;
    ul{
      height: 40px;
      border-bottom: 2px solid #a60000;
      padding-bottom: 1px;
      font-size: 16px;
    }
    li{
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-top: 1px solid #cccccc;
      width: 130px;
      list-style: none;
      margin-bottom: 2px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      text-align: center;
      float: left;
      margin-right: 9px;
      color: #000;
    }
    .list-active{
      color: #fff;
      //background: url(~base/images/julien/btn-bg01.jpg) no-repeat;
    }

  }
  .active-context{
    margin-top: -10px;
    padding-top: 30px;
    background-color: white;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    height: 290px;

    .active-container-line{
      background-color: #cccccc;
      position: absolute;
      width: 1px;
      height: 590px;
      left: 265px;
      margin: 5px 0px;
      z-index: 0;
    }
    .active-list{
      width: 100%;
      padding-bottom: 20px;
      display: inline-flex;
      position: relative;
      .active-left-title{
        text-align: right;
        line-height: 30px;
        font-size: 14px;
        color: #333333;
        width: 120px;
        padding-left: 10px;
      }
      .active-badge-comming{
        background-color: #fd9900;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-running{
        background-color: #ce0201;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-over{
        background-color: #cccccc;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-round-dot{
        margin: 20px 30px 0px 30px;
        width: 10px;
        height: 10px;
        border-radius: 35px;
        background-color: #ce0000;
        color: white;
        text-align: center;
        line-height: 30px;
        z-index: 2;
      }
      .active-round-line{
        position: absolute;
        height: 100%;
        width: 2px;
        border-left: 2px solid rgb(204, 204, 204);
        left: 164px;
      }
      .active-right-content{
        border: 1px solid lightgrey;
        width: 965px;
        height: 200px;
        overflow: hidden;
        .active-right-image{
          width: 100%;
        }
        .active-right-time{
          border-top: 1px solid lightgrey;
          line-height: 30px;
          height: 30px;
          width: 100%;
        }
      }
    }
  }
}

.ssc-style-select {
  width: 135px;
  height: 135px;
  line-height: 100px;
  float: left;
  margin-left: 35px;
  border:4px solid #fff;
  background-position: center center !important;
}

.ssc-style-select:hover{
  border:4px solid #fb3838;
}

.js-db-dynamic-list{
  cursor: pointer;
}

.index-content{
  &:after{
    content:'';
    clear: both;
    display: block;
  }

  .index-left{
    width: 880px;
    height: 365px;
    float: left;
    background: url(~base/images/julien/indexleftbg.png) no-repeat;
    position: relative;


    >span{
      position: absolute;
      cursor: pointer;
      display: block;
      opacity: 0;

      &:hover{
        opacity: 1;
      }

      &.il1{
        width: 170px;
        height: 189px;
        background-color: #fff;
        top: 20px;
        left: 30px;

        a{
          height: 30px;
          line-height: 30px;
          color: #333333;
          border-bottom: 1px solid #ccc;
          display: block;
          text-align: left;

          &:hover{
            color:#c00;
          }

          span{
            display: inline-block;
            float: right;
            color: #999999;
          }

          b{
            font-size: 10px;
            display: inline-block;
            padding: 0px 3px;
            background-color: #f1a14a;
            color: #fff;
            border-radius: 3px;
            margin-left: 3px;
            font-weight: normal;
            height: 12px;
            width: 12px;
            background: url(~base/images/julien/34.png) no-repeat bottom;
            margin-bottom: -2px;
          }

          &.bcBtn{
            width: 132px;
            height: 35px;
            line-height: 35px;
            border-radius: 18px;
            font-size: 18px;
            color: #fff;
            background-color: #eb1c3e;
            background-image:-webkit-linear-gradient(180deg, #eb1c3e, #be2a2a);
            background-image:linear-gradient(180deg,#eb1c3e,#c0315c);
            border:0px;
            text-align: center;
            margin: 10px auto 0px auto;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            border: 1px solid #b2497c;

            &:hover{
              background-color: #be2a2a;
              background-image:-webkit-linear-gradient(180deg, #be2a2a, #eb1c3e);
              background-image:linear-gradient(180deg,#be2a2a,#eb1c3e);
            }
          }
        }
      }
      &.il2{
        width: 170px;
        height: 189px;
        top: 20px;
        left: 250px;
        background: url(~base/images/julien/35.png) no-repeat center 20px #fff;

        div{
          font-size: 18px;
          color: #333333;
          margin-top: 90px;
        }

        a{
          display: block;

          &.bcBtn{
            width: 132px;
            height: 35px;
            line-height: 35px;
            border-radius: 18px;
            font-size: 18px;
            color: #fff;
            background-color: #eb1c3e;
            background-image:-webkit-linear-gradient(180deg, #eb1c3e, #be2a2a);
            background-image:linear-gradient(180deg,#eb1c3e,#c0315c);
            border:0px;
            text-align: center;
            margin: 20px auto 0px auto;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            border: 1px solid #b2497c;

            &:hover{
              background-color: #be2a2a;
              background-image:-webkit-linear-gradient(180deg, #be2a2a, #eb1c3e);
              background-image:linear-gradient(180deg,#be2a2a,#eb1c3e);
            }
          }
        }
      }

      &.il3{
        width: 170px;
        height: 189px;
        top: 20px;
        left: 470px;
        background: url(~base/images/julien/wait.png) no-repeat center 20px #fff;
      }

      &.il4{
        width: 170px;
        height: 189px;
        top: 20px;
        left: 690px;
        background: url(~base/images/julien/wait.png) no-repeat center 20px #fff;
      }

      &.il5{
        width: 180px;
        top: 270px;
        left: 15px;
        height: 60px;
        &:hover{
          >div{
            display: block;
            //display: none;
          }
        }

        >div{
          border: 2px solid #bf6d8f;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 5px;
          position: absolute;
          //top: -170px;
          bottom: 70px;
          left:2px;
          background-color: #fff;
          display: none;

          p{
            margin-top: 5px;
            margin-bottom: 5px;
            color: #333333;
            font-size: 14px;
          }
        }
      }

      &.il6{
        width: 180px;
        top: 270px;
        left: 265px;
        height: 60px;
        &:hover{
          >div{
            display: block;
            //display: none;
          }
        }

        >div{
          border: 2px solid #bf6d8f;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 5px;
          position: absolute;
          //top: -170px;
          bottom: 70px;
          left:0px;
          background-color: #fff;
          display: none;

          p{
            margin-top: 5px;
            margin-bottom: 5px;
            color: #333333;
            font-size: 14px;
          }
        }
      }

      &.il7{
        width: 180px;
        top: 270px;
        left: 490px;
        height: 60px;
        &:hover{
          >div{
            display: block;
            //display: none;
          }
        }

        >div{
          border: 2px solid #bf6d8f;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 5px;
          position: absolute;
          //top: -170px;
          bottom: 70px;
          left:0px;
          background-color: #fff;
          display: none;

          p{
            margin-top: 5px;
            margin-bottom: 5px;
            color: #333333;
            font-size: 14px;
          }
        }
      }

      &.il8{
        width: 180px;
        top: 270px;
        left: 685px;
        height: 60px;
        &:hover{
          >div{
            display: block;
            //display: none;
          }
        }

        >div{
          border: 2px solid #bf6d8f;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          padding: 5px;
          position: absolute;
          //top: -170px;
          bottom: 70px;
          left:0px;
          background-color: #fff;
          display: none;

          p{
            margin-top: 5px;
            margin-bottom: 5px;
            color: #333333;
            font-size: 14px;
          }
        }
      }
    }
  }

  .index-right{
    width: 310px;
    height: 365px;
    float: right;
    background: url(~base/images/julien/indexrightbg.png) no-repeat;

    .winner-list {
      text-align: left;
      margin: 40px 12px 0px 14px;
      line-height: 25px;
      height: 200px;
      overflow: hidden;
      position: relative;
    }

    .winner-list-inner {
      position: absolute;
      left: 0;
      right: 0;
    }

    .win-time {
      color: #999999;
      display: inline-block;
      float: right;
    }

    a{
      width: 228px;
      display: block;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      color: #333333;
      margin: 45px auto 0px auto;
      border: 2px solid #cccccc;
      border-radius: 18px;
      background: url(~base/images/julien/33.png) no-repeat left bottom;

      &:hover{
        border: 2px solid #bf6d8f;
      }
    }
  }
}
