@import 'variable.css';

.bet {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.bet-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform .1s;
}

.top-area,
.bet-area,
.bottom-area {
  position: absolute;
  left: 0;
  right: 0;
}

.top-area {
  z-index: 1;
  height: .6rem;
  text-align: center;
  background: var(--white);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.bet-header {
  display: inline-block;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  justify-content: center;
  width: 100%;
  height: .3rem;
  line-height: .3rem;
  border-bottom: 1px solid var(--border-grey);
  text-align: center;
  background: var(--white);
  position: absolute;
  top: 0;

  .middle {
    display: inline-block;
  }
  .left {
    display: inline-block;
    float: left;
    margin-left: 0.1rem;
  }
  .shaker {
    display: inline-block;
    float: right;
    margin-right: 0.1rem;
  }
}

.bet-area {
  padding: .6rem 0 .8rem 0;
  height: 100%;
  overflow: auto;
  background: var(--eggshell);

  .combination-options {
    text-align: center;
    padding-top: .1rem;
    .checkbox {
      display: inline-block;
      margin-right: .1rem;

      .checkbox-material .check {
        z-index: 0
      }
    }
  }
}
.bottom-area {
  bottom: 0;
  height: .8rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: var(--white);
  display: flex;
}
.bet-area-opt-group {
  flex: 5;
}
.bet-area-line{
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  display: flex;

}
.bet-show{
  flex: 1;
  text-align: center;
}
.bet-add-opt{
  flex: 2;
}
/*.bet-opt{*/
  /*flex: 4*/
/*}*/
.bet-opt-btn{
  flex: 1;
  /*border-left: 1px solid #cdcdcd;*/
  text-align: center;
  position: relative;
  border: none;

  .more-history-numbers{
    color: black;
    font-size: 0.13rem;
  }
  .addLot.more-history-numbers {
    color: black;
  }
  .more-history-numbers.disabled {
    color: var(--mid-gray);
  }

  .badge {
    display: inline-block;
    width: 0.15rem;
    height: 0.15rem;
    position: absolute;
    right: .01rem;
    top: .05rem;
    background: rgb(255, 64, 64);
    border-radius: 50%;
    color: #fff;
    font-size: .08rem;
    line-height: .15rem;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  }
}
.bet-opt-tt{
  position: relative;
  text-align: center;
  flex: 2;
}
.tt-abs{
  /*position: absolute;*/
  /*top: .01rem;*/
  /*left: .01rem;*/
  font-size: .09rem;
  width: 100%;
}
.bet-counting-down{
  font-size: .12rem;
  color:var(--crimson);
  display: inline-block;
  vertical-align: middle;
}

.bottom-tips{
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: .8rem;
  display: none;
}
.bottom-tips-over {
  z-index: 2;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.bottom-tips-con{
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: .1rem;
}
.bottom-tips p{
  text-align: center;
  color: #fff;
  font-size: var(--font-size-lv12);
  line-height: .26rem;
}

.lottery-ball-line{
  margin-bottom: .06rem;
  display: flex;
}
.lottery-balls{
  margin: .1rem 0;
}
.lottery-ball{
  display: inline-block;
  vertical-align: middle;
  line-height: .32rem;
  margin-left: .1rem;
  height: .32rem;
  width: .32rem;
  border: 1px solid var(--border-yellow);
  border-radius: 50%;
  text-align: center;
  margin-bottom: .08rem;
  background: var(--white);
}
.lottery-ball.active{
  color: var(--white);
  background-image: linear-gradient(to bottom, #c11e1e, #ac1818);
}
.ltball-tt{
  flex: 1;
  text-align: right;
  line-height: .32rem;
  min-width: 0.4rem;
}
.lottery-ball-line > ul{
  flex: 8;
}
.play-mode{
  height: .3rem;
  line-height: .3rem;
  border-bottom: 1px solid var(--border-grey);
  padding-right: .3rem;
  font-size: var(--font-size-lv12);
}
.horizontal-list-container {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.play-group-list-toggle-button{
  position: absolute;
  right: 0;
  top: 0;
  width: .3rem;
  height: .3rem;
  background: none;
  border-left: 1px solid var(--border-grey);
}
.horizontal-list{
  width: 4rem;
  height: 100%;
  overflow: hidden;
  text-align: left;
}
.play-mode-li {
  display: inline-block;
  width: .8rem;
  text-align: center;
}
.current-play-mode{
  background: var(--main-red);
  color: var(--white);
}
.play-group-list {
  display: none;
  position: absolute;
  top: .3rem;
  left: 0;
  right: 0;
  max-height: 2.6rem;
  overflow: auto;
  background: var(--white);
  padding: 0 .1rem .1rem;
}
.play-group-name,
.play-mode-list,
.play-mode-item {
  display: inline-block;
}
.play-group-name {
  width: 20%;
  vertical-align: top;
  border: 1px solid var(--border-grey);
  border-radius: .2rem;
  line-height: .2rem;
  margin-top: .05rem;
}
.play-group-item {
  border-bottom: 1px solid var(--border-grey);
}
.play-mode-list {
  width: 80%;
  text-align: left;
}
.play-mode-item {
  padding-left: .1rem;
}
.user-paste-area {
  width: 100%;
  font-size: .1rem;
  padding: .1rem;
}
.history-top-10 {
  text-align: center;
  padding: .05rem 0;
  max-height: 0.25rem;

  span {
    position: relative;
    border: 1px solid var(--orange);
    padding: .02rem .04rem;
    border-radius: .1rem;
    margin: 0 .08rem;
  }

  .planId:after {
    content: '';
    display: inline-block;
    height: .28rem;
    width: .04rem;
    background: var(--orange);
    position: absolute;
    right: -.1rem;
    top: -0.02rem;
  }

  &:last-child .planId:after {
    top: -.1rem;
  }

  .openNumber:before {
    content: '';
    display: inline-block;
    height: .1rem;
    width: 0.64px;
    width: .1rem;
    background: var(--orange);
    position: absolute;
    left: -.14rem;
    top: 0.02rem;
    border-radius: .1rem;
  }
}