<div class="river_lump">
  <div class="river_bg">
    <div class="bottle_lump">
      <ul>
        <li class="js-com-pick-bottle bottle_01"><img src="images/20160305/bottle_01.png" width="103" height="123"></li>
        <li class="js-com-pick-bottle bottle_02"><img src="images/20160305/bottle_02.png" width="103" height="123"></li>
        <li class="js-com-pick-bottle bottle_03"><img src="images/20160305/bottle_03.png" width="103" height="123"></li>
        <li class="js-com-pick-bottle bottle_04"><img src="images/20160305/bottle_03.png" width="103" height="123"></li>
        <li class="js-com-pick-bottle bottle_05"><img src="images/20160305/bottle_04.png" width="103" height="123"></li>
        <li class="js-com-pick-bottle bottle_06"><img src="images/20160305/bottle_05.png" width="103" height="123"></li>
        <li class="js-com-pick-bottle bottle_07"><img src="images/20160305/bottle_01.png" width="103" height="123"></li>
      </ul>
    </div>
    <div class="river_ele_lump">
      <div class="river_ele_03">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="river_ele_02">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="river_ele_01">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
