<form class="form-horizontal" action="javaScript:void(0);">
  <p>查看权限组</p>
  <div class="panel panel-default">
  <div class="row m-bottom-sm" style="margin-left: 20px;margin-top: 15px;">
    <div class="col-sm-4">
      <div class="form-group js-ac-cg-groupName">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label class="control-label m-right-sm">
          <input type="checkbox" class="js-ac-vag-switch " value="1" disabled><span >开启数据显示限制</span>
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group js-ac-cg-parentGroupId">
      </div>
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body ">
          <div>可分配权限</div>
          <div id="viewTree1" class=" height-md overflow-auto border-all padding-sm no-padding-l ">

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body ">
          <div>已授予权限</div>
          <div id="viewTree2" class=" height-md  overflow-auto">

          </div>
        </div>
      </div>
    </div>

  </div>
<
</form>