<form class="js-ac-agm-copy-form form-horizontal" action="javaScript:void(0);">


  <div class="panel panel-default">

    <div class="form-group form-inline">
      <label class="control-label col-sm-3" style="margin-top: 10px;">组名称：</label>

      <div class=" col-sm-9" style="margin-top: 10px;">
        <input class="js-ac-gm-copy-groupName input-sm form-control" style="width: 200px;" data-parsley-zhAndLetNumMaxLen="20" required>
      </div>

      <label class="control-label col-sm-3" style="margin-top: 10px;">所属组：</label>

      <div class=" col-sm-9" style="margin-top: 10px;">
        <select class="js-ac-gm-copy-parentGroupId form-control input-sm disabled" style="width:200px;">

        </select>
      </div>
      <label class="control-label col-sm-3" style="margin-top: 5px;">被复制权限组：</label>

      <div class=" col-sm-9 p-top-sm" style="margin-top: 2px;">
        <span class="js-ac-gm-copy-copyGroupName "></span>
      </div>
    </div>
  </div>
<input type="hidden" class="js-ac-gm-copy-copyGroupId">
</form>