<p>权限组管理</p>
<table id="treetable" class="table table-condensed table-hover table-striped">
  <colgroup>
    <col width="20%">
    <col width="10%">
    <col width="15%">
    <col width="10%">
    <col width="15%">
    <col width="10%">
    <col width="20%">
  </colgroup>
  <thead>
  <tr>
    <th>权限组名</th>
    <th>创建人</th>
    <th>创建时间</th>
    <th>最后修改人</th>
    <th>最后修改时间</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>


