<div class="panel padding-md">
  <form class="js-cc-update-pwd-form form-horizontal col-sm-6" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">用户名：</label>
      <div class="col-sm-10 js-cc-username">
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">旧密码：</label>
      <div class="col-sm-10">
      <input type="password" id='oPassword' class="js-cc-oPassword form-control" data-parsley-length="[6, 20]" style="width: 200px;"  required>

      <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">新密码：</label>
      <div class="col-sm-10">
        <input type="password" id='jsACPassword' class="js-cc-password form-control" data-parsley-length="[6, 20]" style="width: 200px;"  required>

        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;密码强度要求见右方提示</span>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">确认新密码：</label>

      <div class="col-sm-10">
        <input type="password" class="js-cc-repeatPassword form-control" data-parsley-length="[6, 20]" style="width: 200px;margin-bottom: 40px;" data-parsley-equalto="#jsACPassword"  required>
        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <button class="js-cc-btn-submit btn btn-primary" type="button"  style="width: 100px; margin-right: 20px;" data-loading-text="保存中">确定</button>
        <button style="width: 100px;" class="btn" data-dismiss="modal" type="reset">取消</button>
        <!--<button type="button" class="sub-return btn btn-default">取消</button>-->
      </div>
    </div>
  </form>
  <div class="col-sm-6">
    提示：<br>
    1、密码长度要求6-20位字符，推荐使用8位以上密码<br>
    2、密码复杂性要求包含下列四类字符中的三类：<br>
    &nbsp;&nbsp;&nbsp;• 英语大写字符 (A-Z)<br>
    &nbsp;&nbsp;&nbsp;• 英语小写字符 (a-z)<br>
    &nbsp;&nbsp;&nbsp;• 10 个基本数字 (0-9)<br>
    &nbsp;&nbsp;&nbsp;• 非字母数字的特殊字符（例如：!、$、# 或 %） <br>
    3、密码不得包含3个或3个以上来自用户帐户名中的字符。<br>
    4、不能包含三个或以上的连续字母和数字。
  </div>
</div>