<span class="relative">
  <span class="input-append inline-block">
    <input type="text" class="<%=prevClass %>-start-time <%=size %>" name="<%=startTime %>" placeholder="<%=startTimeHolder %>" value="<%=startDefaultDate %>">
    <span class="add-on"><span class="sfa sfa-time-picker vertical-sub"></span></span>
  </span>
  -
  <span class="input-append inline-block">
  <input type="text" class="<%=prevClass %>-end-time <%=size %>" name="<%=endTime %>" placeholder="<%=endTimeHolder %>" value="<%=endDefaultDate %>">
    <span class="add-on"><span class="sfa sfa-time-picker vertical-sub"></span></span>
  </span>
</span>
