<div class="clearfix">
  <!--<button class="btn btn-small btn-inverse pull-right sub-return" type="button">返回</button>-->
  <label>查看<span class="js-lt-ticketName"></span>的详细信息</label>
</div>
<hr />
<div class="row m-bottom-sm">
  <div class="col-sm-4">
    <div class="form-group js-lt-play-time">
      <input type="hidden" name="day">
    </div>
  </div>
  <input type="hidden" name="day">
  <div class="col-sm-4">
    <div class="form-group js-lt-play-ticketName">

    </div>
  </div>
  <input type="hidden" name="ticketId">
  <div class="col-sm-4">
    <div class="form-group js-lt-play-ticketPlanId">

    </div>
  </div>
  <input type="hidden" name="ticketPlanId">
</div>