@charset "UTF-8";

@import
"~base/styles/imports";

body{
  background: url('~base/images/julien/login-bg.jpg') no-repeat;
}

.menuTips{
  font-size: 16px;
  font-family: '微软雅黑';
  position: absolute;
  top: 39px;
  left: 1100px;

  a{
    display: block;
    width: 99px;
    height:26px;
    line-height: 30px;
    float: left;
    margin-right: 20px;
    text-align: right;
    color: #666666;
  }

  a.m1{
    background: url(~base/images/julien/04.png) no-repeat top left;
  }
  a.m2{
    background: url(~base/images/julien/05.png) no-repeat top left;
  }
  a.m3{
    background: url(~base/images/julien/03.png) no-repeat top left;
    width: 114px;
    position: relative;
    &:hover{
      span{
        display:block;
      }
    }

    span{
      position: absolute;
      width: 150px;
      left: -20px;
      top: 0px;
      padding-top: 40px;
      display: none;
    }
  }
  a.m4{
    background: url(~base/images/julien/32.png) no-repeat top left;
  }
  a:hover{
    color:#c5222e;
   background-position: left -26px;
  }
}

.loginWindow{
  font-family: '微软雅黑';
  width: 326px;
  left: 547px;
  top: 300px;
  font-size: 14px;
  position: absolute;

  .onfocus-Inp-active{
    border-bottom:1px solid #993333;
  }
  input.parsley-success{
    background-color:transparent !important;
    //border-color: #DFF0D8;
  }

  input:focus:invalid:focus{
    box-shadow:none;
  }

  .userName{
    position: relative;

    i{
      position: absolute;
      width: 17px;
      height: 20px;
      background: url(images/02.png) no-repeat;
      left: 10px;
      top: 11px;
    }
    i:hover{
      background: url(images/user.png) no-repeat;
    }
    .i-user{
      background: url(images/user.png) no-repeat;
    }

    input{
      width: 280px;
      height: 33px;
      padding-left: 40px;
      border: 0px;
      border-bottom: 1px solid #999999;
      margin-bottom: 10px;
      color: #b5b3b3;
      font-size: 16px;
    }
  }

  .loginPwd{
    position: relative;

    input{
      width: 280px;
      height: 33px;
      padding-left: 40px;
      border: 0px;
      border-bottom: 1px solid #999999;
      margin-bottom: 10px;
      color: #b5b3b3;
      font-size: 16px;
    }

    i{
      position: absolute;
      width: 17px;
      height: 20px;
      background: url(images/01.png) no-repeat;
      left: 10px;
      top: 11px;
    }
    i:hover{
      background: url(images/key.png) no-repeat;
    }
    .i-key{
      background: url(images/key.png) no-repeat;
    }
  }

  .widget{
    height: 24px;
    line-height: 24px;
    padding-right: 10px;

    a{
      float: right;
      color: #666666;
      text-decoration: underline;

      &:hover{
        color: #cc3333;
      }
    }
    span{
      float: left;
      display: block;
      width: 97px;
      cursor: pointer;
      padding-left: 10px;
      color: #999;


      div{
        margin-top: -3px;
      }

      label{
        display: inline-block;
        font-size: 14px;
      }
      input{
        
        background: #fff;
        border: 1px solid #cccccc;
      }

      &:hover{
        color: #333333;
        input{
          border: 1px solid #333333;
        }
      }
    }

    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }

  .code{ 
    input{
      width: 80px;
    }
  }

  .var-code{
    height: 35px;
    margin-top: -1px;
  }

  .login-btn{
    height: 40px;
    background: url(images/loginBtn.png) no-repeat center;
    text-align: center;
    margin-top: 38px;

    button{
      width: 260px;
      height: 40px;
      border: 0px;
      background-color: #c6212f;
      color: #fff;
      outline: none;
      font-size: 20px;
    }
    button:hover{
      background:#e45454;
    }
  }

  .tips{
    color: #666666;
    text-align: center;
    margin-top: 27px;

    a{
      color: #d3423f;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .connect-test {
    margin-top: 30px;

    .connect-server {
      width: 100px;
      height: 22px;
      background: #40454b;
    }
    .connect-item-icon {
      width: 14px;
      height: 14px;
      padding: 4px 7px 0 4px;
      float: left;
    }

    .connect-speeds {
      float: left;
      padding-top: 3px;

      span {
        width: 4px;
        height: 14px;
        display: inline-block;
        background: url(speed-testing.png);
        margin-right: 3px;
      }

      &.connect-speeds-tested {
        span {
          background: url(speed-good.png);
        }
      }
      @for $i from 0 through 10 {
        &.connect-speeds-#{$i} {
          span:nth-child(n + #{11 - $i}) {
            background: url(speed-bad.png);
          }
        }
      }
    }
    ul {
      list-style: none;
    }
    li {
      float: left;
      padding-right: 8px;
      box-sizing: border-box;
      a {
        text-decoration: none;
        color: #666666;
      }
    }
    p {
      text-align: center;
    }
  }
}