@charset "UTF-8";

@import
"~base/styles/imports";

$main-light-color: #1ba1b5 !default;
$main-border-color: #007e90 !default;

body {
  background: $background-dark;
}
.login-brand {
  top: 245px;
  position: absolute;
  width: 100%;
}

.login-form {
  padding-bottom: 20px;
  color: $background-color;
  margin: 0 auto;
  text-align: center;
  width: $package-main-width;

  a {
    color: $background-color
  }

  .input-varCode {
    width: 197px !important;
  }
}

.forget-pw-link {
  margin-left: 50px;
}

.var-code {
  background-color: #eceff4;
  height: 28px;
  width: 65px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 18px;
}

.parsley-errors-list {
  margin-right: 46px;
}

.connect-test {
  margin: 0 auto;
  width: 768px;
  color: #ffffff;
  padding-left: 100px;

  .connect-server {
    width: 100px;
    height: 22px;
    background: #40454b;
  }
  .connect-item-icon {
    width: 14px;
    height: 14px;
    padding: 4px 7px 0 4px;
    float: left;
  }

  .connect-speeds {
    float: left;
    padding-top: 3px;

    span {
      width: 4px;
      height: 14px;
      display: inline-block;
      background: url(speed-testing.png);
      margin-right: 3px;
    }

    &.connect-speeds-tested {
      span {
        background: url(speed-good.png);
      }
    }
    @for $i from 0 through 10 {
      &.connect-speeds-#{$i} {
        span:nth-child(n + #{11 - $i}) {
          background: url(speed-bad.png);
        }
      }
    }
  }
  ul {
    list-style: none;
  }
  li {
    float: left;
    padding-right: 11px;
    box-sizing: border-box;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  p {
    text-align: center;
  }
}
