//accordion
$accordion: (
  group-border: 1px solid $deep-gray-color,
  inner-border: 1px solid $deep-gray-color
);

.accordion {
  margin-bottom: 20px;
}

.accordion-group {
  margin-bottom: 1px;
  //border-bottom: map_get($accordion, group-border);

  //border: 1px solid #e5e5e5;
}

.accordion-heading {
  border-bottom: map_get($accordion, group-border);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 6px 15px;
}

.accordion-toggle {
  cursor: pointer;
  position: relative;
  color: $new-black-color;
  padding: 19px 15px;
  font-size: 16px;

  &:hover,&:focus,&:active {
    color: $new-black-color;
  }

  &.accordion-question {
    padding-left: 50px;
    &:before {
      content: 'Q';
      position: absolute;
      left: 15px;
      width: 20px;
      height: 20px;
      font-size: 13px;
      color: $dark-color;
      background:linear-gradient(to bottom,#df3539,#a73d66);
      display: inline-block;
      text-align: center;
      line-height: 18px;
      border-radius: 4px;
    }
  }
}

.accordion-inner {
  padding: 13px 15px;


  &.accordion-answer {
    padding-left: 50px;
    &:before {
      content: 'A';
      position: absolute;
      left: 15px;
      width: 20px;
      color: $dark-color;
      height: 20px;
      font-size: 13px;
      background:linear-gradient(to bottom,#6db4cb,#3f89c9);
      display: inline-block;
      text-align: center;
      line-height: 18px;
      border-radius: 4px;
    }
  }
}
.accordion-body.in{
  .accordion-inner{
    border-bottom: map_get($accordion, inner-border);
  }
}

