.ad {
  $ad: (
    img-height: 190px,
    link-color: $dark-color,
    badge-color: $background-color,
    badge-width: 100px,
    badge-line-height: 60px,
    back-color: $dark-color,
    back-bg-color: rgba(0, 0, 0, 0.8),
    back-bg-light-color: rgba(0, 0, 0, 0.7)
  );

  $imgHeight: map_get($ad, img-height);
  $linkColor: map_get($ad, link-color);
  $badgeColor: map_get($ad, badge-color);
  $badgeWidth: map_get($ad, badge-width);
  $badgeLineHeight: map_get($ad, badge-line-height);
  $backColor: map_get($ad, back-color);
  $backBgColor: map_get($ad, back-bg-color);

  position: relative;
  overflow: hidden;
  margin-top: 10px;
  float: left;
  width: 100%;
  margin-left: 0;
  height: 190px;

  &:first-of-type {
    margin-top: 0px;
  }

  .ad-badge {
    position: absolute;
    top: 0;
    right: 0;
    color: $badgeColor;
    font-size: 14px;

    @include sprite($sfa-ad-badge-pink);
    line-height: $badgeLineHeight;
    text-indent: 75px;
    z-index: 1;
    font-weight: bold;

    &.ad-badge-over {
      @include sprite($sfa-ad-badge-gray);
    }
  }

  .ad-link {
    display: block;
    color: $linkColor;
  }

  .ad-img {
    height: $imgHeight;
    overflow: hidden;
    img {
      min-height: $imgHeight;
      width: 100%;
      //height: 100%;
    }
  }

  .ad-title {
    color: $color-sunshine;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
  }

  .ad-backdrop {
    font-size: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: $background-color;
    background-color: $backBgColor;
    text-align: center;
    transition: opacity 0.5s ease;

    &.ad-backdrop-light {
      background-color: map_get($ad, back-bg-light-color);
      .ad-logo {
        margin: 15px auto;
        position: relative;
        z-index: 2;
        margin-bottom: 45px;
      }
      .ad-title {
        color: $dark-color;
      }
    }

    .pulse {
      width: 85px;
      height: 85px;
      margin-top: -85px;
      margin-left: -43px;
      opacity: 0.5;
    }

    .ad-backdrop-inner {
      margin-top: 65px;
    }

    &:hover {
      opacity: 0;
    }

    .ad-logo {
      margin: 15px auto;
    }

    .ad-title {
      margin-bottom: 15px;
    }
    //.ad-option {
    //  font-size: 13px;
    //}
  }
  .ad-footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    line-height: 40px;
    padding: 0 20px 0 13px;
    background: $new-black-color;
    left: 0;
    right: 0;
    opacity: 0.9;

    .ad-logo {
      display: inline-block;
      vertical-align: middle;
    }

    .ad-title {
      vertical-align: middle;
    }

    .ad-option {
      float: right;
      vertical-align: middle;
      margin-top: 3px;
      color: $background-color;
    }
  }

}