.binding-container {
  margin-left: 285px;
  margin-right: auto;
  width: 770px;
  //margin: 0 auto;
  font-size: 12px;
}

.binding-card {
  margin-bottom: 9px;
  color: $dark-color;

  .binding-card-bg {
    display: -webkit-box;
    position: relative;
    border:1px solid #e5e5e5;
    height: 80px;
    width: 536px;

    .binding-card-main {
      display: inline-flex;
      color: $background-color;
      padding: 5px;
      //padding: 15px 10px 15px 30px;
    }
    .binding-card-op {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      height: 29px;
      line-height: 29px;
    }
  }
  .uc-lockedRectangle {
    border:2px dashed #cfa945;
    text-align: center;
    width: 536px;
    height: 80px;
    .uc-add-sign {
      background: url(~base/images/lockedAdd.png) no-repeat;
      display: inline-block;
      margin-top:10px;
      width: 34px;
      height: 34px;

    }
  }
  .binding-card-triangle-yellow {
    text-align: center;
    margin-top: 25px;
    color: #999999;
    height: 29px;
    width: 70px;


  }
  .binding-card-triangle-red {
    width: 29px;
    height: 29px;
    background: url(~base/images/redTriangle.png) no-repeat;
  }
  .binding-card-sign-locked {
    width: 11px;
    height: 12px;
    position: absolute;
    top: 3px;
    right: 2px;
    background: url(~base/images/lock.png) no-repeat;
  }
  .binding-card-sign-checkMark {
    width: 14px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: 2px;
    background: url(~base/images/checkmark.png) no-repeat;
  }
  .binding-card-sign-cross {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: 3px;
    background: url(~base/images/cross.png) no-repeat;
  }
}