.breadcrumb {

  padding: 8px 15px;
  margin: 0 0 5px;
  list-style: none;
  > {
    li {
      display: inline-block;
      *display: inline;
      *zoom: 1;

      > .divider {
        padding: 0 5px;
        color: $new-black-color;
      }
    }
  }
}
