.input-in-append {
  position: relative;
  vertical-align: middle;
  input {
    display: block !important;
    width: 176px;
    padding-right: 20px;
    height: 100%;
    box-sizing: border-box;
  }

  .add-on {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 7px;
    line-height: 24px;
    color: $color-light-amber;
  }
}

//colors
$white: #ffffff;
$color_gallery_approx: #eeeeee;
$color_celeste_approx: #ccc;
$color_moss_green_approx: #a9dba9;
$color_apple_approx: #46a546;

%extend_1 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

%extend_2 {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
}

%extend_3 {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background-color: $color_gallery_approx;
  border: 1px solid $color_celeste_approx;
}


.input-append {
  @extend %extend_1;
  input {
    font-size: 12px;
    @extend %extend_2;
    border-radius: 4px 0 0 4px;
    &:focus {
      z-index: 2;
    }
    + .btn-group .btn:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  select {
    font-size: 14px;
    @extend %extend_2;
    border-radius: 4px 0 0 4px;
    &:focus {
      z-index: 2;
    }
    + .btn-group .btn:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  .uneditable-input {
    font-size: 14px;
    @extend %extend_2;
    border-radius: 4px 0 0 4px;
    &:focus {
      z-index: 2;
    }
    + .btn-group .btn:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  .dropdown-menu {
    font-size: 14px;
  }
  .popover {
    font-size: 14px;
  }
  .add-on {
    @extend %extend_3;
    vertical-align: top;
    border-radius: 0;
    margin-left: -1px;
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  .btn {
    vertical-align: top;
    border-radius: 0;
    margin-left: -1px;
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  .btn-group {
    margin-left: -1px;
    > .dropdown-toggle {
      vertical-align: top;
      border-radius: 0;
    }
    &:last-child > .dropdown-toggle {
      border-radius: 0 4px 4px 0;
    }
  }
  .active {
    background-color: $color_moss_green_approx;
    border-color: $color_apple_approx;
  }
}
.input-prepend {
  @extend %extend_1;
  input {
    font-size: 14px;
    @extend %extend_2;
    &:focus {
      z-index: 2;
    }
  }
  select {
    font-size: 14px;
    @extend %extend_2;
    &:focus {
      z-index: 2;
    }
  }
  .uneditable-input {
    font-size: 14px;
    @extend %extend_2;
    &:focus {
      z-index: 2;
    }
  }
  .dropdown-menu {
    font-size: 14px;
  }
  .popover {
    font-size: 14px;
  }
  .add-on {
    @extend %extend_3;
    vertical-align: top;
    border-radius: 0;
    margin-right: -1px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
  }
  .btn {
    vertical-align: top;
    border-radius: 0;
    margin-right: -1px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
  }
  .active {
    background-color: $color_moss_green_approx;
    border-color: $color_apple_approx;
  }
  &.input-append {
    input {
      border-radius: 0;
      + .btn-group .btn {
        border-radius: 0 4px 4px 0;
      }
    }
    select {
      border-radius: 0;
      + .btn-group .btn {
        border-radius: 0 4px 4px 0;
      }
    }
    .uneditable-input {
      border-radius: 0;
      + .btn-group .btn {
        border-radius: 0 4px 4px 0;
      }
    }
    .add-on {
      &:first-child {
        margin-right: -1px;
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        margin-left: -1px;
        border-radius: 0 4px 4px 0;
      }
    }
    .btn {
      &:first-child {
        margin-right: -1px;
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        margin-left: -1px;
        border-radius: 0 4px 4px 0;
      }
    }
    .btn-group:first-child {
      margin-left: 0;
    }
  }
  .btn-group > .dropdown-toggle {
    vertical-align: top;
    border-radius: 0;
  }
}
