.input-append {
  position: relative;
  vertical-align: middle;
  input {
    display: block !important;
    width: 176px;
    padding-right: 20px;
    height: 100%;
    box-sizing: border-box;
  }

  .add-on {
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 7px;
    line-height: 20px;
    color: $color-light-amber;
  }
}
