$portlet-bottom: 10px;

.portlet {
  margin-bottom: 8px;
  border: 1px solid $gray-color;
  border-radius: $globalBoxRadius;
  //overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(5, 5, 5, 0.1);

  .portlet-header {
    padding: 8px 0;
    line-height: 26px;
  }

  .portlet-linear {
    background: linear-gradient(180deg, $white-color, #f7f7f7);
  }

  .portlet-title {
    margin: 0 $portlet-bottom;
    .portlet-icon {
      vertical-align: text-top;
      margin-right: 8px;
    }

    font-size: $font-sm;
    //font-weight: bold;
  }

  .portlet-option {
    float: right;

    &.portlet-nav {
      margin: 10px 10px 0 0;
    }
    .btn {
      //height: 32px;
      padding: 5px 10px;
      vertical-align: top;
      margin-left: 5px;
      margin-top: -1px;
      font-size: 14px;
    }
  }

  .portlet-header-block {
    margin: 0 $portlet-bottom;
    margin-bottom: 10px;
  }
  .portlet-header-btnGroup {
    margin: 0 $portlet-bottom;
    text-align: center;
    border-top: 1px solid $light-color;
    margin-bottom: -$portlet-bottom + 1px;
    padding-top: 10px;
  }

  .portlet-body {
    padding: 15px 20px;

    >.portlet-header-block {
      margin-bottom: 10px;
    }
    >.portlet-header-btnGroup {
      text-align: center;
      margin-bottom: -15px;
      padding-top: 10px;
    }
  }
  .portlet-body-message{
    padding-top:20px!important;
  }

  .portlet-footer {
    padding: 10px 15px;
    background-color: $main-light-color;
    border-top: 1px solid $main-deep-color;
  }

  @include portlets($portlets);
}

.portlet-side-main {

  box-shadow: initial;
  border: 0;
  > .portlet-header {
    padding: 0 0 10px 0;
    border-width: 0 0 1px 0;
    margin-top: -5px;
    .portlet-title {
      //font-size: $font-xs;
      font-weight: normal;
    }
  }
  > .portlet-body {
    padding: 0;
  }
}
.portlet-main {
  min-height: 648px;
}

.portlet-side-multi-main{
  width: 718px;
  height: 691px;
  border: 1px solid $gray-color;
  border-radius:5px;
  margin: 0 10px;
  .portlet-header{
    margin-top:0;
    padding: 5px;
  }
}
