$portlet-padding-bottom: 8px;

.portlet {
  margin-bottom: 8px;
  border: 1px solid $gray-color;
  border-radius: $globalBoxRadius;
  box-shadow: 0 1px 1px 0 rgba(5, 5, 5, 0.1);

  .portlet-header {
    padding: 6px $portlet-padding-bottom;
    line-height: 26px;
  }

  .portlet-title {

    .portlet-icon {
      vertical-align: text-top;
      margin-right: 8px;
    }

    font-size: $font-sm;
    font-weight: bold;
  }

  .portlet-option {
    float: right;
    .btn {
      //height: 32px;
      padding: 5px 10px;
      vertical-align: top;
      margin-left: 5px;
      margin-top: -1px;
      font-size: $font-sm;
    }
  }

  .portlet-header-block {
    border-bottom: 1px solid $light-color;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .portlet-header-btnGroup {
    text-align: center;
    margin-bottom: -$portlet-padding-bottom + 1px;
  }

  .portlet-body {
    padding: 10px 15px;
  }

  .portlet-footer {
    padding: 10px 15px;
    background-color: $main-light-color;
    border-top: 1px solid $main-deep-color;
  }

  @include portlets($portlets);
}
