/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sfa-arrow-down-name: 'sfa-arrow-down';
$sfa-arrow-down-x: 438px;
$sfa-arrow-down-y: 343px;
$sfa-arrow-down-offset-x: -438px;
$sfa-arrow-down-offset-y: -343px;
$sfa-arrow-down-width: 8px;
$sfa-arrow-down-height: 15px;
$sfa-arrow-down-total-width: 458px;
$sfa-arrow-down-total-height: 420px;
$sfa-arrow-down-image: '~base/images/sprite.png';
$sfa-arrow-down: (438px, 343px, -438px, -343px, 8px, 15px, 458px, 420px, '~base/images/sprite.png', 'sfa-arrow-down', );
$sfa-arrow-name: 'sfa-arrow';
$sfa-arrow-x: 451px;
$sfa-arrow-y: 290px;
$sfa-arrow-offset-x: -451px;
$sfa-arrow-offset-y: -290px;
$sfa-arrow-width: 7px;
$sfa-arrow-height: 4px;
$sfa-arrow-total-width: 458px;
$sfa-arrow-total-height: 420px;
$sfa-arrow-image: '~base/images/sprite.png';
$sfa-arrow: (451px, 290px, -451px, -290px, 7px, 4px, 458px, 420px, '~base/images/sprite.png', 'sfa-arrow', );
$sfa-ad-badge-gray-name: 'sfa-ad-badge-gray';
$sfa-ad-badge-gray-x: 204px;
$sfa-ad-badge-gray-y: 0px;
$sfa-ad-badge-gray-offset-x: -204px;
$sfa-ad-badge-gray-offset-y: 0px;
$sfa-ad-badge-gray-width: 128px;
$sfa-ad-badge-gray-height: 98px;
$sfa-ad-badge-gray-total-width: 458px;
$sfa-ad-badge-gray-total-height: 420px;
$sfa-ad-badge-gray-image: '~base/images/sprite.png';
$sfa-ad-badge-gray: (204px, 0px, -204px, 0px, 128px, 98px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-badge-gray', );
$sfa-ad-badge-over-name: 'sfa-ad-badge-over';
$sfa-ad-badge-over-x: 0px;
$sfa-ad-badge-over-y: 175px;
$sfa-ad-badge-over-offset-x: 0px;
$sfa-ad-badge-over-offset-y: -175px;
$sfa-ad-badge-over-width: 110px;
$sfa-ad-badge-over-height: 110px;
$sfa-ad-badge-over-total-width: 458px;
$sfa-ad-badge-over-total-height: 420px;
$sfa-ad-badge-over-image: '~base/images/sprite.png';
$sfa-ad-badge-over: (0px, 175px, 0px, -175px, 110px, 110px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-badge-over', );
$sfa-ad-badge-pink-name: 'sfa-ad-badge-pink';
$sfa-ad-badge-pink-x: 0px;
$sfa-ad-badge-pink-y: 77px;
$sfa-ad-badge-pink-offset-x: 0px;
$sfa-ad-badge-pink-offset-y: -77px;
$sfa-ad-badge-pink-width: 128px;
$sfa-ad-badge-pink-height: 98px;
$sfa-ad-badge-pink-total-width: 458px;
$sfa-ad-badge-pink-total-height: 420px;
$sfa-ad-badge-pink-image: '~base/images/sprite.png';
$sfa-ad-badge-pink: (0px, 77px, 0px, -77px, 128px, 98px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-badge-pink', );
$sfa-ad-badge-name: 'sfa-ad-badge';
$sfa-ad-badge-x: 110px;
$sfa-ad-badge-y: 175px;
$sfa-ad-badge-offset-x: -110px;
$sfa-ad-badge-offset-y: -175px;
$sfa-ad-badge-width: 110px;
$sfa-ad-badge-height: 110px;
$sfa-ad-badge-total-width: 458px;
$sfa-ad-badge-total-height: 420px;
$sfa-ad-badge-image: '~base/images/sprite.png';
$sfa-ad-badge: (110px, 175px, -110px, -175px, 110px, 110px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-badge', );
$sfa-ad-lock-name: 'sfa-ad-lock';
$sfa-ad-lock-x: 220px;
$sfa-ad-lock-y: 235px;
$sfa-ad-lock-offset-x: -220px;
$sfa-ad-lock-offset-y: -235px;
$sfa-ad-lock-width: 34px;
$sfa-ad-lock-height: 48px;
$sfa-ad-lock-total-width: 458px;
$sfa-ad-lock-total-height: 420px;
$sfa-ad-lock-image: '~base/images/sprite.png';
$sfa-ad-lock: (220px, 235px, -220px, -235px, 34px, 48px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-lock', );
$sfa-ad-logo-mid-name: 'sfa-ad-logo-mid';
$sfa-ad-logo-mid-x: 38px;
$sfa-ad-logo-mid-y: 322px;
$sfa-ad-logo-mid-offset-x: -38px;
$sfa-ad-logo-mid-offset-y: -322px;
$sfa-ad-logo-mid-width: 37px;
$sfa-ad-logo-mid-height: 37px;
$sfa-ad-logo-mid-total-width: 458px;
$sfa-ad-logo-mid-total-height: 420px;
$sfa-ad-logo-mid-image: '~base/images/sprite.png';
$sfa-ad-logo-mid: (38px, 322px, -38px, -322px, 37px, 37px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-logo-mid', );
$sfa-ad-logo-yb-name: 'sfa-ad-logo-yb';
$sfa-ad-logo-yb-x: 390px;
$sfa-ad-logo-yb-y: 0px;
$sfa-ad-logo-yb-offset-x: -390px;
$sfa-ad-logo-yb-offset-y: 0px;
$sfa-ad-logo-yb-width: 31px;
$sfa-ad-logo-yb-height: 31px;
$sfa-ad-logo-yb-total-width: 458px;
$sfa-ad-logo-yb-total-height: 420px;
$sfa-ad-logo-yb-image: '~base/images/sprite.png';
$sfa-ad-logo-yb: (390px, 0px, -390px, 0px, 31px, 31px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-logo-yb', );
$sfa-ad-logo-name: 'sfa-ad-logo';
$sfa-ad-logo-x: 75px;
$sfa-ad-logo-y: 322px;
$sfa-ad-logo-offset-x: -75px;
$sfa-ad-logo-offset-y: -322px;
$sfa-ad-logo-width: 35px;
$sfa-ad-logo-height: 35px;
$sfa-ad-logo-total-width: 458px;
$sfa-ad-logo-total-height: 420px;
$sfa-ad-logo-image: '~base/images/sprite.png';
$sfa-ad-logo: (75px, 322px, -75px, -322px, 35px, 35px, 458px, 420px, '~base/images/sprite.png', 'sfa-ad-logo', );
$sfa-db-dynamic-name: 'sfa-db-dynamic';
$sfa-db-dynamic-x: 390px;
$sfa-db-dynamic-y: 138px;
$sfa-db-dynamic-offset-x: -390px;
$sfa-db-dynamic-offset-y: -138px;
$sfa-db-dynamic-width: 26px;
$sfa-db-dynamic-height: 26px;
$sfa-db-dynamic-total-width: 458px;
$sfa-db-dynamic-total-height: 420px;
$sfa-db-dynamic-image: '~base/images/sprite.png';
$sfa-db-dynamic: (390px, 138px, -390px, -138px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-db-dynamic', );
$sfa-dialog-info-name: 'sfa-dialog-info';
$sfa-dialog-info-x: 280px;
$sfa-dialog-info-y: 175px;
$sfa-dialog-info-offset-x: -280px;
$sfa-dialog-info-offset-y: -175px;
$sfa-dialog-info-width: 45px;
$sfa-dialog-info-height: 45px;
$sfa-dialog-info-total-width: 458px;
$sfa-dialog-info-total-height: 420px;
$sfa-dialog-info-image: '~base/images/sprite.png';
$sfa-dialog-info: (280px, 175px, -280px, -175px, 45px, 45px, 458px, 420px, '~base/images/sprite.png', 'sfa-dialog-info', );
$sfa-dialog-success-name: 'sfa-dialog-success';
$sfa-dialog-success-x: 332px;
$sfa-dialog-success-y: 226px;
$sfa-dialog-success-offset-x: -332px;
$sfa-dialog-success-offset-y: -226px;
$sfa-dialog-success-width: 50px;
$sfa-dialog-success-height: 50px;
$sfa-dialog-success-total-width: 458px;
$sfa-dialog-success-total-height: 420px;
$sfa-dialog-success-image: '~base/images/sprite.png';
$sfa-dialog-success: (332px, 226px, -332px, -226px, 50px, 50px, 458px, 420px, '~base/images/sprite.png', 'sfa-dialog-success', );
$sfa-dropmenu-caret-up-name: 'sfa-dropmenu-caret-up';
$sfa-dropmenu-caret-up-x: 255px;
$sfa-dropmenu-caret-up-y: 158px;
$sfa-dropmenu-caret-up-offset-x: -255px;
$sfa-dropmenu-caret-up-offset-y: -158px;
$sfa-dropmenu-caret-up-width: 25px;
$sfa-dropmenu-caret-up-height: 12px;
$sfa-dropmenu-caret-up-total-width: 458px;
$sfa-dropmenu-caret-up-total-height: 420px;
$sfa-dropmenu-caret-up-image: '~base/images/sprite.png';
$sfa-dropmenu-caret-up: (255px, 158px, -255px, -158px, 25px, 12px, 458px, 420px, '~base/images/sprite.png', 'sfa-dropmenu-caret-up', );
$sfa-face-success-name: 'sfa-face-success';
$sfa-face-success-x: 332px;
$sfa-face-success-y: 175px;
$sfa-face-success-offset-x: -332px;
$sfa-face-success-offset-y: -175px;
$sfa-face-success-width: 51px;
$sfa-face-success-height: 51px;
$sfa-face-success-total-width: 458px;
$sfa-face-success-total-height: 420px;
$sfa-face-success-image: '~base/images/sprite.png';
$sfa-face-success: (332px, 175px, -332px, -175px, 51px, 51px, 458px, 420px, '~base/images/sprite.png', 'sfa-face-success', );
$sfa-find-by-card-name: 'sfa-find-by-card';
$sfa-find-by-card-x: 332px;
$sfa-find-by-card-y: 276px;
$sfa-find-by-card-offset-x: -332px;
$sfa-find-by-card-offset-y: -276px;
$sfa-find-by-card-width: 54px;
$sfa-find-by-card-height: 38px;
$sfa-find-by-card-total-width: 458px;
$sfa-find-by-card-total-height: 420px;
$sfa-find-by-card-image: '~base/images/sprite.png';
$sfa-find-by-card: (332px, 276px, -332px, -276px, 54px, 38px, 458px, 420px, '~base/images/sprite.png', 'sfa-find-by-card', );
$sfa-find-by-question-name: 'sfa-find-by-question';
$sfa-find-by-question-x: 332px;
$sfa-find-by-question-y: 116px;
$sfa-find-by-question-offset-x: -332px;
$sfa-find-by-question-offset-y: -116px;
$sfa-find-by-question-width: 52px;
$sfa-find-by-question-height: 59px;
$sfa-find-by-question-total-width: 458px;
$sfa-find-by-question-total-height: 420px;
$sfa-find-by-question-image: '~base/images/sprite.png';
$sfa-find-by-question: (332px, 116px, -332px, -116px, 52px, 59px, 458px, 420px, '~base/images/sprite.png', 'sfa-find-by-question', );
$sfa-fp-security-card-name: 'sfa-fp-securityCard';
$sfa-fp-security-card-x: 332px;
$sfa-fp-security-card-y: 0px;
$sfa-fp-security-card-offset-x: -332px;
$sfa-fp-security-card-offset-y: 0px;
$sfa-fp-security-card-width: 58px;
$sfa-fp-security-card-height: 58px;
$sfa-fp-security-card-total-width: 458px;
$sfa-fp-security-card-total-height: 420px;
$sfa-fp-security-card-image: '~base/images/sprite.png';
$sfa-fp-security-card: (332px, 0px, -332px, 0px, 58px, 58px, 458px, 420px, '~base/images/sprite.png', 'sfa-fp-securityCard', );
$sfa-fp-security-question-name: 'sfa-fp-securityQuestion';
$sfa-fp-security-question-x: 332px;
$sfa-fp-security-question-y: 58px;
$sfa-fp-security-question-offset-x: -332px;
$sfa-fp-security-question-offset-y: -58px;
$sfa-fp-security-question-width: 58px;
$sfa-fp-security-question-height: 58px;
$sfa-fp-security-question-total-width: 458px;
$sfa-fp-security-question-total-height: 420px;
$sfa-fp-security-question-image: '~base/images/sprite.png';
$sfa-fp-security-question: (332px, 58px, -332px, -58px, 58px, 58px, 458px, 420px, '~base/images/sprite.png', 'sfa-fp-securityQuestion', );
$sfa-grid-empty-name: 'sfa-grid-empty';
$sfa-grid-empty-x: 204px;
$sfa-grid-empty-y: 98px;
$sfa-grid-empty-offset-x: -204px;
$sfa-grid-empty-offset-y: -98px;
$sfa-grid-empty-width: 51px;
$sfa-grid-empty-height: 72px;
$sfa-grid-empty-total-width: 458px;
$sfa-grid-empty-total-height: 420px;
$sfa-grid-empty-image: '~base/images/sprite.png';
$sfa-grid-empty: (204px, 98px, -204px, -98px, 51px, 72px, 458px, 420px, '~base/images/sprite.png', 'sfa-grid-empty', );
$sfa-help-tip-name: 'sfa-help-tip';
$sfa-help-tip-x: 438px;
$sfa-help-tip-y: 290px;
$sfa-help-tip-offset-x: -438px;
$sfa-help-tip-offset-y: -290px;
$sfa-help-tip-width: 13px;
$sfa-help-tip-height: 13px;
$sfa-help-tip-total-width: 458px;
$sfa-help-tip-total-height: 420px;
$sfa-help-tip-image: '~base/images/sprite.png';
$sfa-help-tip: (438px, 290px, -438px, -290px, 13px, 13px, 458px, 420px, '~base/images/sprite.png', 'sfa-help-tip', );
$sfa-bc-bet-trend-name: 'sfa-bc-bet-trend';
$sfa-bc-bet-trend-x: 110px;
$sfa-bc-bet-trend-y: 360px;
$sfa-bc-bet-trend-offset-x: -110px;
$sfa-bc-bet-trend-offset-y: -360px;
$sfa-bc-bet-trend-width: 34px;
$sfa-bc-bet-trend-height: 29px;
$sfa-bc-bet-trend-total-width: 458px;
$sfa-bc-bet-trend-total-height: 420px;
$sfa-bc-bet-trend-image: '~base/images/sprite.png';
$sfa-bc-bet-trend: (110px, 360px, -110px, -360px, 34px, 29px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-bet-trend', );
$sfa-bc-explain-name: 'sfa-bc-explain';
$sfa-bc-explain-x: 144px;
$sfa-bc-explain-y: 360px;
$sfa-bc-explain-offset-x: -144px;
$sfa-bc-explain-offset-y: -360px;
$sfa-bc-explain-width: 34px;
$sfa-bc-explain-height: 29px;
$sfa-bc-explain-total-width: 458px;
$sfa-bc-explain-total-height: 420px;
$sfa-bc-explain-image: '~base/images/sprite.png';
$sfa-bc-explain: (144px, 360px, -144px, -360px, 34px, 29px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-explain', );
$sfa-bc-video-name: 'sfa-bc-video';
$sfa-bc-video-x: 76px;
$sfa-bc-video-y: 360px;
$sfa-bc-video-offset-x: -76px;
$sfa-bc-video-offset-y: -360px;
$sfa-bc-video-width: 34px;
$sfa-bc-video-height: 29px;
$sfa-bc-video-total-width: 458px;
$sfa-bc-video-total-height: 420px;
$sfa-bc-video-image: '~base/images/sprite.png';
$sfa-bc-video: (76px, 360px, -76px, -360px, 34px, 29px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-video', );
$sfa-bc-mmc-hammer-name: 'sfa-bc-mmc-hammer';
$sfa-bc-mmc-hammer-x: 438px;
$sfa-bc-mmc-hammer-y: 0px;
$sfa-bc-mmc-hammer-offset-x: -438px;
$sfa-bc-mmc-hammer-offset-y: 0px;
$sfa-bc-mmc-hammer-width: 20px;
$sfa-bc-mmc-hammer-height: 19px;
$sfa-bc-mmc-hammer-total-width: 458px;
$sfa-bc-mmc-hammer-total-height: 420px;
$sfa-bc-mmc-hammer-image: '~base/images/sprite.png';
$sfa-bc-mmc-hammer: (438px, 0px, -438px, 0px, 20px, 19px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-mmc-hammer', );
$sfa-bc-play-brief-name: 'sfa-bc-play-brief';
$sfa-bc-play-brief-x: 438px;
$sfa-bc-play-brief-y: 91px;
$sfa-bc-play-brief-offset-x: -438px;
$sfa-bc-play-brief-offset-y: -91px;
$sfa-bc-play-brief-width: 19px;
$sfa-bc-play-brief-height: 16px;
$sfa-bc-play-brief-total-width: 458px;
$sfa-bc-play-brief-total-height: 420px;
$sfa-bc-play-brief-image: '~base/images/sprite.png';
$sfa-bc-play-brief: (438px, 91px, -438px, -91px, 19px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-play-brief', );
$sfa-bc-play-normal-active-name: 'sfa-bc-play-normal-active';
$sfa-bc-play-normal-active-x: 305px;
$sfa-bc-play-normal-active-y: 360px;
$sfa-bc-play-normal-active-offset-x: -305px;
$sfa-bc-play-normal-active-offset-y: -360px;
$sfa-bc-play-normal-active-width: 22px;
$sfa-bc-play-normal-active-height: 18px;
$sfa-bc-play-normal-active-total-width: 458px;
$sfa-bc-play-normal-active-total-height: 420px;
$sfa-bc-play-normal-active-image: '~base/images/sprite.png';
$sfa-bc-play-normal-active: (305px, 360px, -305px, -360px, 22px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-play-normal-active', );
$sfa-bc-play-normal-name: 'sfa-bc-play-normal';
$sfa-bc-play-normal-x: 283px;
$sfa-bc-play-normal-y: 360px;
$sfa-bc-play-normal-offset-x: -283px;
$sfa-bc-play-normal-offset-y: -360px;
$sfa-bc-play-normal-width: 22px;
$sfa-bc-play-normal-height: 18px;
$sfa-bc-play-normal-total-width: 458px;
$sfa-bc-play-normal-total-height: 420px;
$sfa-bc-play-normal-image: '~base/images/sprite.png';
$sfa-bc-play-normal: (283px, 360px, -283px, -360px, 22px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-play-normal', );
$sfa-bc-play-optional-name: 'sfa-bc-play-optional';
$sfa-bc-play-optional-x: 438px;
$sfa-bc-play-optional-y: 232px;
$sfa-bc-play-optional-offset-x: -438px;
$sfa-bc-play-optional-offset-y: -232px;
$sfa-bc-play-optional-width: 16px;
$sfa-bc-play-optional-height: 14px;
$sfa-bc-play-optional-total-width: 458px;
$sfa-bc-play-optional-total-height: 420px;
$sfa-bc-play-optional-image: '~base/images/sprite.png';
$sfa-bc-play-optional: (438px, 232px, -438px, -232px, 16px, 14px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-play-optional', );
$sfa-bc-play-super-active-name: 'sfa-bc-play-super-active';
$sfa-bc-play-super-active-x: 390px;
$sfa-bc-play-super-active-y: 372px;
$sfa-bc-play-super-active-offset-x: -390px;
$sfa-bc-play-super-active-offset-y: -372px;
$sfa-bc-play-super-active-width: 22px;
$sfa-bc-play-super-active-height: 18px;
$sfa-bc-play-super-active-total-width: 458px;
$sfa-bc-play-super-active-total-height: 420px;
$sfa-bc-play-super-active-image: '~base/images/sprite.png';
$sfa-bc-play-super-active: (390px, 372px, -390px, -372px, 22px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-play-super-active', );
$sfa-bc-play-super-name: 'sfa-bc-play-super';
$sfa-bc-play-super-x: 327px;
$sfa-bc-play-super-y: 360px;
$sfa-bc-play-super-offset-x: -327px;
$sfa-bc-play-super-offset-y: -360px;
$sfa-bc-play-super-width: 22px;
$sfa-bc-play-super-height: 18px;
$sfa-bc-play-super-total-width: 458px;
$sfa-bc-play-super-total-height: 420px;
$sfa-bc-play-super-image: '~base/images/sprite.png';
$sfa-bc-play-super: (327px, 360px, -327px, -360px, 22px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-bc-play-super', );
$sfa-btn-add-name: 'sfa-btn-add';
$sfa-btn-add-x: 438px;
$sfa-btn-add-y: 216px;
$sfa-btn-add-offset-x: -438px;
$sfa-btn-add-offset-y: -216px;
$sfa-btn-add-width: 14px;
$sfa-btn-add-height: 16px;
$sfa-btn-add-total-width: 458px;
$sfa-btn-add-total-height: 420px;
$sfa-btn-add-image: '~base/images/sprite.png';
$sfa-btn-add: (438px, 216px, -438px, -216px, 14px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-btn-add', );
$sfa-btn-hook-name: 'sfa-btn-hook';
$sfa-btn-hook-x: 438px;
$sfa-btn-hook-y: 200px;
$sfa-btn-hook-offset-x: -438px;
$sfa-btn-hook-offset-y: -200px;
$sfa-btn-hook-width: 14px;
$sfa-btn-hook-height: 16px;
$sfa-btn-hook-total-width: 458px;
$sfa-btn-hook-total-height: 420px;
$sfa-btn-hook-image: '~base/images/sprite.png';
$sfa-btn-hook: (438px, 200px, -438px, -200px, 14px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-btn-hook', );
$sfa-btn-upload-name: 'sfa-btn-upload';
$sfa-btn-upload-x: 438px;
$sfa-btn-upload-y: 246px;
$sfa-btn-upload-offset-x: -438px;
$sfa-btn-upload-offset-y: -246px;
$sfa-btn-upload-width: 14px;
$sfa-btn-upload-height: 16px;
$sfa-btn-upload-total-width: 458px;
$sfa-btn-upload-total-height: 420px;
$sfa-btn-upload-image: '~base/images/sprite.png';
$sfa-btn-upload: (438px, 246px, -438px, -246px, 14px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-btn-upload', );
$sfa-cog-name: 'sfa-cog';
$sfa-cog-x: 438px;
$sfa-cog-y: 107px;
$sfa-cog-offset-x: -438px;
$sfa-cog-offset-y: -107px;
$sfa-cog-width: 17px;
$sfa-cog-height: 17px;
$sfa-cog-total-width: 458px;
$sfa-cog-total-height: 420px;
$sfa-cog-image: '~base/images/sprite.png';
$sfa-cog: (438px, 107px, -438px, -107px, 17px, 17px, 458px, 420px, '~base/images/sprite.png', 'sfa-cog', );
$sfa-cd-0-name: 'sfa-cd-0';
$sfa-cd-0-x: 133px;
$sfa-cd-0-y: 390px;
$sfa-cd-0-offset-x: -133px;
$sfa-cd-0-offset-y: -390px;
$sfa-cd-0-width: 19px;
$sfa-cd-0-height: 30px;
$sfa-cd-0-total-width: 458px;
$sfa-cd-0-total-height: 420px;
$sfa-cd-0-image: '~base/images/sprite.png';
$sfa-cd-0: (133px, 390px, -133px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-0', );
$sfa-cd-1-name: 'sfa-cd-1';
$sfa-cd-1-x: 171px;
$sfa-cd-1-y: 390px;
$sfa-cd-1-offset-x: -171px;
$sfa-cd-1-offset-y: -390px;
$sfa-cd-1-width: 19px;
$sfa-cd-1-height: 30px;
$sfa-cd-1-total-width: 458px;
$sfa-cd-1-total-height: 420px;
$sfa-cd-1-image: '~base/images/sprite.png';
$sfa-cd-1: (171px, 390px, -171px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-1', );
$sfa-cd-2-name: 'sfa-cd-2';
$sfa-cd-2-x: 95px;
$sfa-cd-2-y: 390px;
$sfa-cd-2-offset-x: -95px;
$sfa-cd-2-offset-y: -390px;
$sfa-cd-2-width: 19px;
$sfa-cd-2-height: 30px;
$sfa-cd-2-total-width: 458px;
$sfa-cd-2-total-height: 420px;
$sfa-cd-2-image: '~base/images/sprite.png';
$sfa-cd-2: (95px, 390px, -95px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-2', );
$sfa-cd-3-name: 'sfa-cd-3';
$sfa-cd-3-x: 76px;
$sfa-cd-3-y: 390px;
$sfa-cd-3-offset-x: -76px;
$sfa-cd-3-offset-y: -390px;
$sfa-cd-3-width: 19px;
$sfa-cd-3-height: 30px;
$sfa-cd-3-total-width: 458px;
$sfa-cd-3-total-height: 420px;
$sfa-cd-3-image: '~base/images/sprite.png';
$sfa-cd-3: (76px, 390px, -76px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-3', );
$sfa-cd-4-name: 'sfa-cd-4';
$sfa-cd-4-x: 57px;
$sfa-cd-4-y: 390px;
$sfa-cd-4-offset-x: -57px;
$sfa-cd-4-offset-y: -390px;
$sfa-cd-4-width: 19px;
$sfa-cd-4-height: 30px;
$sfa-cd-4-total-width: 458px;
$sfa-cd-4-total-height: 420px;
$sfa-cd-4-image: '~base/images/sprite.png';
$sfa-cd-4: (57px, 390px, -57px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-4', );
$sfa-cd-5-name: 'sfa-cd-5';
$sfa-cd-5-x: 38px;
$sfa-cd-5-y: 390px;
$sfa-cd-5-offset-x: -38px;
$sfa-cd-5-offset-y: -390px;
$sfa-cd-5-width: 19px;
$sfa-cd-5-height: 30px;
$sfa-cd-5-total-width: 458px;
$sfa-cd-5-total-height: 420px;
$sfa-cd-5-image: '~base/images/sprite.png';
$sfa-cd-5: (38px, 390px, -38px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-5', );
$sfa-cd-6-name: 'sfa-cd-6';
$sfa-cd-6-x: 152px;
$sfa-cd-6-y: 390px;
$sfa-cd-6-offset-x: -152px;
$sfa-cd-6-offset-y: -390px;
$sfa-cd-6-width: 19px;
$sfa-cd-6-height: 30px;
$sfa-cd-6-total-width: 458px;
$sfa-cd-6-total-height: 420px;
$sfa-cd-6-image: '~base/images/sprite.png';
$sfa-cd-6: (152px, 390px, -152px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-6', );
$sfa-cd-7-name: 'sfa-cd-7';
$sfa-cd-7-x: 114px;
$sfa-cd-7-y: 390px;
$sfa-cd-7-offset-x: -114px;
$sfa-cd-7-offset-y: -390px;
$sfa-cd-7-width: 19px;
$sfa-cd-7-height: 30px;
$sfa-cd-7-total-width: 458px;
$sfa-cd-7-total-height: 420px;
$sfa-cd-7-image: '~base/images/sprite.png';
$sfa-cd-7: (114px, 390px, -114px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-7', );
$sfa-cd-8-name: 'sfa-cd-8';
$sfa-cd-8-x: 0px;
$sfa-cd-8-y: 390px;
$sfa-cd-8-offset-x: 0px;
$sfa-cd-8-offset-y: -390px;
$sfa-cd-8-width: 19px;
$sfa-cd-8-height: 30px;
$sfa-cd-8-total-width: 458px;
$sfa-cd-8-total-height: 420px;
$sfa-cd-8-image: '~base/images/sprite.png';
$sfa-cd-8: (0px, 390px, 0px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-8', );
$sfa-cd-9-name: 'sfa-cd-9';
$sfa-cd-9-x: 19px;
$sfa-cd-9-y: 390px;
$sfa-cd-9-offset-x: -19px;
$sfa-cd-9-offset-y: -390px;
$sfa-cd-9-width: 19px;
$sfa-cd-9-height: 30px;
$sfa-cd-9-total-width: 458px;
$sfa-cd-9-total-height: 420px;
$sfa-cd-9-image: '~base/images/sprite.png';
$sfa-cd-9: (19px, 390px, -19px, -390px, 19px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-9', );
$sfa-cd-red-0-name: 'sfa-cd-red-0';
$sfa-cd-red-0-x: 421px;
$sfa-cd-red-0-y: 189px;
$sfa-cd-red-0-offset-x: -421px;
$sfa-cd-red-0-offset-y: -189px;
$sfa-cd-red-0-width: 17px;
$sfa-cd-red-0-height: 27px;
$sfa-cd-red-0-total-width: 458px;
$sfa-cd-red-0-total-height: 420px;
$sfa-cd-red-0-image: '~base/images/sprite.png';
$sfa-cd-red-0: (421px, 189px, -421px, -189px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-0', );
$sfa-cd-red-1-name: 'sfa-cd-red-1';
$sfa-cd-red-1-x: 315px;
$sfa-cd-red-1-y: 98px;
$sfa-cd-red-1-offset-x: -315px;
$sfa-cd-red-1-offset-y: -98px;
$sfa-cd-red-1-width: 17px;
$sfa-cd-red-1-height: 27px;
$sfa-cd-red-1-total-width: 458px;
$sfa-cd-red-1-total-height: 420px;
$sfa-cd-red-1-image: '~base/images/sprite.png';
$sfa-cd-red-1: (315px, 98px, -315px, -98px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-1', );
$sfa-cd-red-2-name: 'sfa-cd-red-2';
$sfa-cd-red-2-x: 315px;
$sfa-cd-red-2-y: 125px;
$sfa-cd-red-2-offset-x: -315px;
$sfa-cd-red-2-offset-y: -125px;
$sfa-cd-red-2-width: 17px;
$sfa-cd-red-2-height: 27px;
$sfa-cd-red-2-total-width: 458px;
$sfa-cd-red-2-total-height: 420px;
$sfa-cd-red-2-image: '~base/images/sprite.png';
$sfa-cd-red-2: (315px, 125px, -315px, -125px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-2', );
$sfa-cd-red-3-name: 'sfa-cd-red-3';
$sfa-cd-red-3-x: 421px;
$sfa-cd-red-3-y: 0px;
$sfa-cd-red-3-offset-x: -421px;
$sfa-cd-red-3-offset-y: 0px;
$sfa-cd-red-3-width: 17px;
$sfa-cd-red-3-height: 27px;
$sfa-cd-red-3-total-width: 458px;
$sfa-cd-red-3-total-height: 420px;
$sfa-cd-red-3-image: '~base/images/sprite.png';
$sfa-cd-red-3: (421px, 0px, -421px, 0px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-3', );
$sfa-cd-red-4-name: 'sfa-cd-red-4';
$sfa-cd-red-4-x: 421px;
$sfa-cd-red-4-y: 27px;
$sfa-cd-red-4-offset-x: -421px;
$sfa-cd-red-4-offset-y: -27px;
$sfa-cd-red-4-width: 17px;
$sfa-cd-red-4-height: 27px;
$sfa-cd-red-4-total-width: 458px;
$sfa-cd-red-4-total-height: 420px;
$sfa-cd-red-4-image: '~base/images/sprite.png';
$sfa-cd-red-4: (421px, 27px, -421px, -27px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-4', );
$sfa-cd-red-5-name: 'sfa-cd-red-5';
$sfa-cd-red-5-x: 421px;
$sfa-cd-red-5-y: 54px;
$sfa-cd-red-5-offset-x: -421px;
$sfa-cd-red-5-offset-y: -54px;
$sfa-cd-red-5-width: 17px;
$sfa-cd-red-5-height: 27px;
$sfa-cd-red-5-total-width: 458px;
$sfa-cd-red-5-total-height: 420px;
$sfa-cd-red-5-image: '~base/images/sprite.png';
$sfa-cd-red-5: (421px, 54px, -421px, -54px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-5', );
$sfa-cd-red-6-name: 'sfa-cd-red-6';
$sfa-cd-red-6-x: 421px;
$sfa-cd-red-6-y: 81px;
$sfa-cd-red-6-offset-x: -421px;
$sfa-cd-red-6-offset-y: -81px;
$sfa-cd-red-6-width: 17px;
$sfa-cd-red-6-height: 27px;
$sfa-cd-red-6-total-width: 458px;
$sfa-cd-red-6-total-height: 420px;
$sfa-cd-red-6-image: '~base/images/sprite.png';
$sfa-cd-red-6: (421px, 81px, -421px, -81px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-6', );
$sfa-cd-red-7-name: 'sfa-cd-red-7';
$sfa-cd-red-7-x: 421px;
$sfa-cd-red-7-y: 108px;
$sfa-cd-red-7-offset-x: -421px;
$sfa-cd-red-7-offset-y: -108px;
$sfa-cd-red-7-width: 17px;
$sfa-cd-red-7-height: 27px;
$sfa-cd-red-7-total-width: 458px;
$sfa-cd-red-7-total-height: 420px;
$sfa-cd-red-7-image: '~base/images/sprite.png';
$sfa-cd-red-7: (421px, 108px, -421px, -108px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-7', );
$sfa-cd-red-8-name: 'sfa-cd-red-8';
$sfa-cd-red-8-x: 421px;
$sfa-cd-red-8-y: 135px;
$sfa-cd-red-8-offset-x: -421px;
$sfa-cd-red-8-offset-y: -135px;
$sfa-cd-red-8-width: 17px;
$sfa-cd-red-8-height: 27px;
$sfa-cd-red-8-total-width: 458px;
$sfa-cd-red-8-total-height: 420px;
$sfa-cd-red-8-image: '~base/images/sprite.png';
$sfa-cd-red-8: (421px, 135px, -421px, -135px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-8', );
$sfa-cd-red-9-name: 'sfa-cd-red-9';
$sfa-cd-red-9-x: 421px;
$sfa-cd-red-9-y: 162px;
$sfa-cd-red-9-offset-x: -421px;
$sfa-cd-red-9-offset-y: -162px;
$sfa-cd-red-9-width: 17px;
$sfa-cd-red-9-height: 27px;
$sfa-cd-red-9-total-width: 458px;
$sfa-cd-red-9-total-height: 420px;
$sfa-cd-red-9-image: '~base/images/sprite.png';
$sfa-cd-red-9: (421px, 162px, -421px, -162px, 17px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-cd-red-9', );
$sfa-dialog-close-name: 'sfa-dialog-close';
$sfa-dialog-close-x: 390px;
$sfa-dialog-close-y: 31px;
$sfa-dialog-close-offset-x: -390px;
$sfa-dialog-close-offset-y: -31px;
$sfa-dialog-close-width: 28px;
$sfa-dialog-close-height: 28px;
$sfa-dialog-close-total-width: 458px;
$sfa-dialog-close-total-height: 420px;
$sfa-dialog-close-image: '~base/images/sprite.png';
$sfa-dialog-close: (390px, 31px, -390px, -31px, 28px, 28px, 458px, 420px, '~base/images/sprite.png', 'sfa-dialog-close', );
$sfa-divid-add-name: 'sfa-divid-add';
$sfa-divid-add-x: 239px;
$sfa-divid-add-y: 360px;
$sfa-divid-add-offset-x: -239px;
$sfa-divid-add-offset-y: -360px;
$sfa-divid-add-width: 22px;
$sfa-divid-add-height: 23px;
$sfa-divid-add-total-width: 458px;
$sfa-divid-add-total-height: 420px;
$sfa-divid-add-image: '~base/images/sprite.png';
$sfa-divid-add: (239px, 360px, -239px, -360px, 22px, 23px, 458px, 420px, '~base/images/sprite.png', 'sfa-divid-add', );
$sfa-divid-grant-name: 'sfa-divid-grant';
$sfa-divid-grant-x: 231px;
$sfa-divid-grant-y: 390px;
$sfa-divid-grant-offset-x: -231px;
$sfa-divid-grant-offset-y: -390px;
$sfa-divid-grant-width: 18px;
$sfa-divid-grant-height: 22px;
$sfa-divid-grant-total-width: 458px;
$sfa-divid-grant-total-height: 420px;
$sfa-divid-grant-image: '~base/images/sprite.png';
$sfa-divid-grant: (231px, 390px, -231px, -390px, 18px, 22px, 458px, 420px, '~base/images/sprite.png', 'sfa-divid-grant', );
$sfa-double-down-name: 'sfa-double-down';
$sfa-double-down-x: 249px;
$sfa-double-down-y: 390px;
$sfa-double-down-offset-x: -249px;
$sfa-double-down-offset-y: -390px;
$sfa-double-down-width: 23px;
$sfa-double-down-height: 17px;
$sfa-double-down-total-width: 458px;
$sfa-double-down-total-height: 420px;
$sfa-double-down-image: '~base/images/sprite.png';
$sfa-double-down: (249px, 390px, -249px, -390px, 23px, 17px, 458px, 420px, '~base/images/sprite.png', 'sfa-double-down', );
$sfa-double-up-name: 'sfa-double-up';
$sfa-double-up-x: 349px;
$sfa-double-up-y: 360px;
$sfa-double-up-offset-x: -349px;
$sfa-double-up-offset-y: -360px;
$sfa-double-up-width: 23px;
$sfa-double-up-height: 17px;
$sfa-double-up-total-width: 458px;
$sfa-double-up-total-height: 420px;
$sfa-double-up-image: '~base/images/sprite.png';
$sfa-double-up: (349px, 360px, -349px, -360px, 23px, 17px, 458px, 420px, '~base/images/sprite.png', 'sfa-double-up', );
$sfa-dynamic-soon-name: 'sfa-dynamic-soon';
$sfa-dynamic-soon-x: 254px;
$sfa-dynamic-soon-y: 235px;
$sfa-dynamic-soon-offset-x: -254px;
$sfa-dynamic-soon-offset-y: -235px;
$sfa-dynamic-soon-width: 34px;
$sfa-dynamic-soon-height: 48px;
$sfa-dynamic-soon-total-width: 458px;
$sfa-dynamic-soon-total-height: 420px;
$sfa-dynamic-soon-image: '~base/images/sprite.png';
$sfa-dynamic-soon: (254px, 235px, -254px, -235px, 34px, 48px, 458px, 420px, '~base/images/sprite.png', 'sfa-dynamic-soon', );
$sfa-entry-hot-name: 'sfa-entry-hot';
$sfa-entry-hot-x: 210px;
$sfa-entry-hot-y: 390px;
$sfa-entry-hot-offset-x: -210px;
$sfa-entry-hot-offset-y: -390px;
$sfa-entry-hot-width: 21px;
$sfa-entry-hot-height: 23px;
$sfa-entry-hot-total-width: 458px;
$sfa-entry-hot-total-height: 420px;
$sfa-entry-hot-image: '~base/images/sprite.png';
$sfa-entry-hot: (210px, 390px, -210px, -390px, 21px, 23px, 458px, 420px, '~base/images/sprite.png', 'sfa-entry-hot', );
$sfa-entry-letter-name: 'sfa-entry-letter';
$sfa-entry-letter-x: 272px;
$sfa-entry-letter-y: 390px;
$sfa-entry-letter-offset-x: -272px;
$sfa-entry-letter-offset-y: -390px;
$sfa-entry-letter-width: 23px;
$sfa-entry-letter-height: 16px;
$sfa-entry-letter-total-width: 458px;
$sfa-entry-letter-total-height: 420px;
$sfa-entry-letter-image: '~base/images/sprite.png';
$sfa-entry-letter: (272px, 390px, -272px, -390px, 23px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-entry-letter', );
$sfa-f-certificate-name: 'sfa-f-certificate';
$sfa-f-certificate-x: 0px;
$sfa-f-certificate-y: 285px;
$sfa-f-certificate-offset-x: 0px;
$sfa-f-certificate-offset-y: -285px;
$sfa-f-certificate-width: 306px;
$sfa-f-certificate-height: 37px;
$sfa-f-certificate-total-width: 458px;
$sfa-f-certificate-total-height: 420px;
$sfa-f-certificate-image: '~base/images/sprite.png';
$sfa-f-certificate: (0px, 285px, 0px, -285px, 306px, 37px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-certificate', );
$sfa-f-feedback-a-name: 'sfa-f-feedback-a';
$sfa-f-feedback-a-x: 390px;
$sfa-f-feedback-a-y: 216px;
$sfa-f-feedback-a-offset-x: -390px;
$sfa-f-feedback-a-offset-y: -216px;
$sfa-f-feedback-a-width: 26px;
$sfa-f-feedback-a-height: 26px;
$sfa-f-feedback-a-total-width: 458px;
$sfa-f-feedback-a-total-height: 420px;
$sfa-f-feedback-a-image: '~base/images/sprite.png';
$sfa-f-feedback-a: (390px, 216px, -390px, -216px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-feedback-a', );
$sfa-f-feedback-name: 'sfa-f-feedback';
$sfa-f-feedback-x: 390px;
$sfa-f-feedback-y: 190px;
$sfa-f-feedback-offset-x: -390px;
$sfa-f-feedback-offset-y: -190px;
$sfa-f-feedback-width: 26px;
$sfa-f-feedback-height: 26px;
$sfa-f-feedback-total-width: 458px;
$sfa-f-feedback-total-height: 420px;
$sfa-f-feedback-image: '~base/images/sprite.png';
$sfa-f-feedback: (390px, 190px, -390px, -190px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-feedback', );
$sfa-f-help-a-name: 'sfa-f-help-a';
$sfa-f-help-a-x: 390px;
$sfa-f-help-a-y: 86px;
$sfa-f-help-a-offset-x: -390px;
$sfa-f-help-a-offset-y: -86px;
$sfa-f-help-a-width: 26px;
$sfa-f-help-a-height: 26px;
$sfa-f-help-a-total-width: 458px;
$sfa-f-help-a-total-height: 420px;
$sfa-f-help-a-image: '~base/images/sprite.png';
$sfa-f-help-a: (390px, 86px, -390px, -86px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-help-a', );
$sfa-f-help-name: 'sfa-f-help';
$sfa-f-help-x: 390px;
$sfa-f-help-y: 242px;
$sfa-f-help-offset-x: -390px;
$sfa-f-help-offset-y: -242px;
$sfa-f-help-width: 26px;
$sfa-f-help-height: 26px;
$sfa-f-help-total-width: 458px;
$sfa-f-help-total-height: 420px;
$sfa-f-help-image: '~base/images/sprite.png';
$sfa-f-help: (390px, 242px, -390px, -242px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-help', );
$sfa-f-intro-a-name: 'sfa-f-intro-a';
$sfa-f-intro-a-x: 390px;
$sfa-f-intro-a-y: 164px;
$sfa-f-intro-a-offset-x: -390px;
$sfa-f-intro-a-offset-y: -164px;
$sfa-f-intro-a-width: 26px;
$sfa-f-intro-a-height: 26px;
$sfa-f-intro-a-total-width: 458px;
$sfa-f-intro-a-total-height: 420px;
$sfa-f-intro-a-image: '~base/images/sprite.png';
$sfa-f-intro-a: (390px, 164px, -390px, -164px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-intro-a', );
$sfa-f-intro-name: 'sfa-f-intro';
$sfa-f-intro-x: 390px;
$sfa-f-intro-y: 112px;
$sfa-f-intro-offset-x: -390px;
$sfa-f-intro-offset-y: -112px;
$sfa-f-intro-width: 26px;
$sfa-f-intro-height: 26px;
$sfa-f-intro-total-width: 458px;
$sfa-f-intro-total-height: 420px;
$sfa-f-intro-image: '~base/images/sprite.png';
$sfa-f-intro: (390px, 112px, -390px, -112px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-intro', );
$sfa-f-link-test-a-name: 'sfa-f-link-test-a';
$sfa-f-link-test-a-x: 306px;
$sfa-f-link-test-a-y: 285px;
$sfa-f-link-test-a-offset-x: -306px;
$sfa-f-link-test-a-offset-y: -285px;
$sfa-f-link-test-a-width: 26px;
$sfa-f-link-test-a-height: 26px;
$sfa-f-link-test-a-total-width: 458px;
$sfa-f-link-test-a-total-height: 420px;
$sfa-f-link-test-a-image: '~base/images/sprite.png';
$sfa-f-link-test-a: (306px, 285px, -306px, -285px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-link-test-a', );
$sfa-f-link-test-name: 'sfa-f-link-test';
$sfa-f-link-test-x: 390px;
$sfa-f-link-test-y: 268px;
$sfa-f-link-test-offset-x: -390px;
$sfa-f-link-test-offset-y: -268px;
$sfa-f-link-test-width: 26px;
$sfa-f-link-test-height: 26px;
$sfa-f-link-test-total-width: 458px;
$sfa-f-link-test-total-height: 420px;
$sfa-f-link-test-image: '~base/images/sprite.png';
$sfa-f-link-test: (390px, 268px, -390px, -268px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-link-test', );
$sfa-f-phone-a-name: 'sfa-f-phone-a';
$sfa-f-phone-a-x: 390px;
$sfa-f-phone-a-y: 294px;
$sfa-f-phone-a-offset-x: -390px;
$sfa-f-phone-a-offset-y: -294px;
$sfa-f-phone-a-width: 26px;
$sfa-f-phone-a-height: 26px;
$sfa-f-phone-a-total-width: 458px;
$sfa-f-phone-a-total-height: 420px;
$sfa-f-phone-a-image: '~base/images/sprite.png';
$sfa-f-phone-a: (390px, 294px, -390px, -294px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-phone-a', );
$sfa-f-phone-name: 'sfa-f-phone';
$sfa-f-phone-x: 390px;
$sfa-f-phone-y: 320px;
$sfa-f-phone-offset-x: -390px;
$sfa-f-phone-offset-y: -320px;
$sfa-f-phone-width: 26px;
$sfa-f-phone-height: 26px;
$sfa-f-phone-total-width: 458px;
$sfa-f-phone-total-height: 420px;
$sfa-f-phone-image: '~base/images/sprite.png';
$sfa-f-phone: (390px, 320px, -390px, -320px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-f-phone', );
$sfa-h-windows-name: 'sfa-h-windows';
$sfa-h-windows-x: 438px;
$sfa-h-windows-y: 303px;
$sfa-h-windows-offset-x: -438px;
$sfa-h-windows-offset-y: -303px;
$sfa-h-windows-width: 13px;
$sfa-h-windows-height: 12px;
$sfa-h-windows-total-width: 458px;
$sfa-h-windows-total-height: 420px;
$sfa-h-windows-image: '~base/images/sprite.png';
$sfa-h-windows: (438px, 303px, -438px, -303px, 13px, 12px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-windows', );
$sfa-h-letter-name: 'sfa-h-letter';
$sfa-h-letter-x: 438px;
$sfa-h-letter-y: 315px;
$sfa-h-letter-offset-x: -438px;
$sfa-h-letter-offset-y: -315px;
$sfa-h-letter-width: 14px;
$sfa-h-letter-height: 11px;
$sfa-h-letter-total-width: 458px;
$sfa-h-letter-total-height: 420px;
$sfa-h-letter-image: '~base/images/sprite.png';
$sfa-h-letter: (438px, 315px, -438px, -315px, 14px, 11px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-letter', );
$sfa-h-logout-name: 'sfa-h-logout';
$sfa-h-logout-x: 438px;
$sfa-h-logout-y: 155px;
$sfa-h-logout-offset-x: -438px;
$sfa-h-logout-offset-y: -155px;
$sfa-h-logout-width: 15px;
$sfa-h-logout-height: 16px;
$sfa-h-logout-total-width: 458px;
$sfa-h-logout-total-height: 420px;
$sfa-h-logout-image: '~base/images/sprite.png';
$sfa-h-logout: (438px, 155px, -438px, -155px, 15px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-logout', );
$sfa-h-mute-name: 'sfa-h-mute';
$sfa-h-mute-x: 438px;
$sfa-h-mute-y: 276px;
$sfa-h-mute-offset-x: -438px;
$sfa-h-mute-offset-y: -276px;
$sfa-h-mute-width: 15px;
$sfa-h-mute-height: 14px;
$sfa-h-mute-total-width: 458px;
$sfa-h-mute-total-height: 420px;
$sfa-h-mute-image: '~base/images/sprite.png';
$sfa-h-mute: (438px, 276px, -438px, -276px, 15px, 14px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-mute', );
$sfa-h-security-off-name: 'sfa-h-security-off';
$sfa-h-security-off-x: 438px;
$sfa-h-security-off-y: 187px;
$sfa-h-security-off-offset-x: -438px;
$sfa-h-security-off-offset-y: -187px;
$sfa-h-security-off-width: 18px;
$sfa-h-security-off-height: 13px;
$sfa-h-security-off-total-width: 458px;
$sfa-h-security-off-total-height: 420px;
$sfa-h-security-off-image: '~base/images/sprite.png';
$sfa-h-security-off: (438px, 187px, -438px, -187px, 18px, 13px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-security-off', );
$sfa-h-security-name: 'sfa-h-security';
$sfa-h-security-x: 438px;
$sfa-h-security-y: 124px;
$sfa-h-security-offset-x: -438px;
$sfa-h-security-offset-y: -124px;
$sfa-h-security-width: 19px;
$sfa-h-security-height: 15px;
$sfa-h-security-total-width: 458px;
$sfa-h-security-total-height: 420px;
$sfa-h-security-image: '~base/images/sprite.png';
$sfa-h-security: (438px, 124px, -438px, -124px, 19px, 15px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-security', );
$sfa-h-vol-name: 'sfa-h-vol';
$sfa-h-vol-x: 438px;
$sfa-h-vol-y: 262px;
$sfa-h-vol-offset-x: -438px;
$sfa-h-vol-offset-y: -262px;
$sfa-h-vol-width: 15px;
$sfa-h-vol-height: 14px;
$sfa-h-vol-total-width: 458px;
$sfa-h-vol-total-height: 420px;
$sfa-h-vol-image: '~base/images/sprite.png';
$sfa-h-vol: (438px, 262px, -438px, -262px, 15px, 14px, 458px, 420px, '~base/images/sprite.png', 'sfa-h-vol', );
$sfa-m-active-name: 'sfa-m-active';
$sfa-m-active-x: 38px;
$sfa-m-active-y: 360px;
$sfa-m-active-offset-x: -38px;
$sfa-m-active-offset-y: -360px;
$sfa-m-active-width: 38px;
$sfa-m-active-height: 30px;
$sfa-m-active-total-width: 458px;
$sfa-m-active-total-height: 420px;
$sfa-m-active-image: '~base/images/sprite.png';
$sfa-m-active: (38px, 360px, -38px, -360px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-active', );
$sfa-m-agency-name: 'sfa-m-agency';
$sfa-m-agency-x: 148px;
$sfa-m-agency-y: 322px;
$sfa-m-agency-offset-x: -148px;
$sfa-m-agency-offset-y: -322px;
$sfa-m-agency-width: 38px;
$sfa-m-agency-height: 30px;
$sfa-m-agency-total-width: 458px;
$sfa-m-agency-total-height: 420px;
$sfa-m-agency-image: '~base/images/sprite.png';
$sfa-m-agency: (148px, 322px, -148px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-agency', );
$sfa-m-dashboard-name: 'sfa-m-dashboard';
$sfa-m-dashboard-x: 0px;
$sfa-m-dashboard-y: 360px;
$sfa-m-dashboard-offset-x: 0px;
$sfa-m-dashboard-offset-y: -360px;
$sfa-m-dashboard-width: 38px;
$sfa-m-dashboard-height: 30px;
$sfa-m-dashboard-total-width: 458px;
$sfa-m-dashboard-total-height: 420px;
$sfa-m-dashboard-image: '~base/images/sprite.png';
$sfa-m-dashboard: (0px, 360px, 0px, -360px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-dashboard', );
$sfa-m-download-name: 'sfa-m-download';
$sfa-m-download-x: 186px;
$sfa-m-download-y: 322px;
$sfa-m-download-offset-x: -186px;
$sfa-m-download-offset-y: -322px;
$sfa-m-download-width: 38px;
$sfa-m-download-height: 30px;
$sfa-m-download-total-width: 458px;
$sfa-m-download-total-height: 420px;
$sfa-m-download-image: '~base/images/sprite.png';
$sfa-m-download: (186px, 322px, -186px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-download', );
$sfa-m-fund-name: 'sfa-m-fund';
$sfa-m-fund-x: 224px;
$sfa-m-fund-y: 322px;
$sfa-m-fund-offset-x: -224px;
$sfa-m-fund-offset-y: -322px;
$sfa-m-fund-width: 38px;
$sfa-m-fund-height: 30px;
$sfa-m-fund-total-width: 458px;
$sfa-m-fund-total-height: 420px;
$sfa-m-fund-image: '~base/images/sprite.png';
$sfa-m-fund: (224px, 322px, -224px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-fund', );
$sfa-m-help-name: 'sfa-m-help';
$sfa-m-help-x: 262px;
$sfa-m-help-y: 322px;
$sfa-m-help-offset-x: -262px;
$sfa-m-help-offset-y: -322px;
$sfa-m-help-width: 38px;
$sfa-m-help-height: 30px;
$sfa-m-help-total-width: 458px;
$sfa-m-help-total-height: 420px;
$sfa-m-help-image: '~base/images/sprite.png';
$sfa-m-help: (262px, 322px, -262px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-help', );
$sfa-m-notice-name: 'sfa-m-notice';
$sfa-m-notice-x: 300px;
$sfa-m-notice-y: 322px;
$sfa-m-notice-offset-x: -300px;
$sfa-m-notice-offset-y: -322px;
$sfa-m-notice-width: 38px;
$sfa-m-notice-height: 30px;
$sfa-m-notice-total-width: 458px;
$sfa-m-notice-total-height: 420px;
$sfa-m-notice-image: '~base/images/sprite.png';
$sfa-m-notice: (300px, 322px, -300px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-notice', );
$sfa-m-safe-name: 'sfa-m-safe';
$sfa-m-safe-x: 338px;
$sfa-m-safe-y: 322px;
$sfa-m-safe-offset-x: -338px;
$sfa-m-safe-offset-y: -322px;
$sfa-m-safe-width: 38px;
$sfa-m-safe-height: 30px;
$sfa-m-safe-total-width: 458px;
$sfa-m-safe-total-height: 420px;
$sfa-m-safe-image: '~base/images/sprite.png';
$sfa-m-safe: (338px, 322px, -338px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-safe', );
$sfa-m-user-name: 'sfa-m-user';
$sfa-m-user-x: 110px;
$sfa-m-user-y: 322px;
$sfa-m-user-offset-x: -110px;
$sfa-m-user-offset-y: -322px;
$sfa-m-user-width: 38px;
$sfa-m-user-height: 30px;
$sfa-m-user-total-width: 458px;
$sfa-m-user-total-height: 420px;
$sfa-m-user-image: '~base/images/sprite.png';
$sfa-m-user: (110px, 322px, -110px, -322px, 38px, 30px, 458px, 420px, '~base/images/sprite.png', 'sfa-m-user', );
$sfa-sidebar-activity-name: 'sfa-sidebar-activity';
$sfa-sidebar-activity-x: 438px;
$sfa-sidebar-activity-y: 55px;
$sfa-sidebar-activity-offset-x: -438px;
$sfa-sidebar-activity-offset-y: -55px;
$sfa-sidebar-activity-width: 18px;
$sfa-sidebar-activity-height: 18px;
$sfa-sidebar-activity-total-width: 458px;
$sfa-sidebar-activity-total-height: 420px;
$sfa-sidebar-activity-image: '~base/images/sprite.png';
$sfa-sidebar-activity: (438px, 55px, -438px, -55px, 18px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-activity', );
$sfa-sidebar-agency-name: 'sfa-sidebar-agency';
$sfa-sidebar-agency-x: 438px;
$sfa-sidebar-agency-y: 19px;
$sfa-sidebar-agency-offset-x: -438px;
$sfa-sidebar-agency-offset-y: -19px;
$sfa-sidebar-agency-width: 18px;
$sfa-sidebar-agency-height: 18px;
$sfa-sidebar-agency-total-width: 458px;
$sfa-sidebar-agency-total-height: 420px;
$sfa-sidebar-agency-image: '~base/images/sprite.png';
$sfa-sidebar-agency: (438px, 19px, -438px, -19px, 18px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-agency', );
$sfa-sidebar-chevron-right-name: 'sfa-sidebar-chevron-right';
$sfa-sidebar-chevron-right-x: 438px;
$sfa-sidebar-chevron-right-y: 326px;
$sfa-sidebar-chevron-right-offset-x: -438px;
$sfa-sidebar-chevron-right-offset-y: -326px;
$sfa-sidebar-chevron-right-width: 9px;
$sfa-sidebar-chevron-right-height: 17px;
$sfa-sidebar-chevron-right-total-width: 458px;
$sfa-sidebar-chevron-right-total-height: 420px;
$sfa-sidebar-chevron-right-image: '~base/images/sprite.png';
$sfa-sidebar-chevron-right: (438px, 326px, -438px, -326px, 9px, 17px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-chevron-right', );
$sfa-sidebar-fund-name: 'sfa-sidebar-fund';
$sfa-sidebar-fund-x: 128px;
$sfa-sidebar-fund-y: 77px;
$sfa-sidebar-fund-offset-x: -128px;
$sfa-sidebar-fund-offset-y: -77px;
$sfa-sidebar-fund-width: 60px;
$sfa-sidebar-fund-height: 60px;
$sfa-sidebar-fund-total-width: 458px;
$sfa-sidebar-fund-total-height: 420px;
$sfa-sidebar-fund-image: '~base/images/sprite.png';
$sfa-sidebar-fund: (128px, 77px, -128px, -77px, 60px, 60px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-fund', );
$sfa-sidebar-help-name: 'sfa-sidebar-help';
$sfa-sidebar-help-x: 220px;
$sfa-sidebar-help-y: 175px;
$sfa-sidebar-help-offset-x: -220px;
$sfa-sidebar-help-offset-y: -175px;
$sfa-sidebar-help-width: 60px;
$sfa-sidebar-help-height: 60px;
$sfa-sidebar-help-total-width: 458px;
$sfa-sidebar-help-total-height: 420px;
$sfa-sidebar-help-image: '~base/images/sprite.png';
$sfa-sidebar-help: (220px, 175px, -220px, -175px, 60px, 60px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-help', );
$sfa-sidebar-history-name: 'sfa-sidebar-history';
$sfa-sidebar-history-x: 438px;
$sfa-sidebar-history-y: 73px;
$sfa-sidebar-history-offset-x: -438px;
$sfa-sidebar-history-offset-y: -73px;
$sfa-sidebar-history-width: 18px;
$sfa-sidebar-history-height: 18px;
$sfa-sidebar-history-total-width: 458px;
$sfa-sidebar-history-total-height: 420px;
$sfa-sidebar-history-image: '~base/images/sprite.png';
$sfa-sidebar-history: (438px, 73px, -438px, -73px, 18px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-history', );
$sfa-sidebar-news-name: 'sfa-sidebar-news';
$sfa-sidebar-news-x: 438px;
$sfa-sidebar-news-y: 37px;
$sfa-sidebar-news-offset-x: -438px;
$sfa-sidebar-news-offset-y: -37px;
$sfa-sidebar-news-width: 18px;
$sfa-sidebar-news-height: 18px;
$sfa-sidebar-news-total-width: 458px;
$sfa-sidebar-news-total-height: 420px;
$sfa-sidebar-news-image: '~base/images/sprite.png';
$sfa-sidebar-news: (438px, 37px, -438px, -37px, 18px, 18px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-news', );
$sfa-sidebar-safe-name: 'sfa-sidebar-safe';
$sfa-sidebar-safe-x: 255px;
$sfa-sidebar-safe-y: 98px;
$sfa-sidebar-safe-offset-x: -255px;
$sfa-sidebar-safe-offset-y: -98px;
$sfa-sidebar-safe-width: 60px;
$sfa-sidebar-safe-height: 60px;
$sfa-sidebar-safe-total-width: 458px;
$sfa-sidebar-safe-total-height: 420px;
$sfa-sidebar-safe-image: '~base/images/sprite.png';
$sfa-sidebar-safe: (255px, 98px, -255px, -98px, 60px, 60px, 458px, 420px, '~base/images/sprite.png', 'sfa-sidebar-safe', );
$sfa-sub-title-user-name: 'sfa-sub-title-user';
$sfa-sub-title-user-x: 261px;
$sfa-sub-title-user-y: 360px;
$sfa-sub-title-user-offset-x: -261px;
$sfa-sub-title-user-offset-y: -360px;
$sfa-sub-title-user-width: 22px;
$sfa-sub-title-user-height: 22px;
$sfa-sub-title-user-total-width: 458px;
$sfa-sub-title-user-total-height: 420px;
$sfa-sub-title-user-image: '~base/images/sprite.png';
$sfa-sub-title-user: (261px, 360px, -261px, -360px, 22px, 22px, 458px, 420px, '~base/images/sprite.png', 'sfa-sub-title-user', );
$sfa-online-tip-name: 'sfa-online-tip';
$sfa-online-tip-x: 449px;
$sfa-online-tip-y: 358px;
$sfa-online-tip-offset-x: -449px;
$sfa-online-tip-offset-y: -358px;
$sfa-online-tip-width: 8px;
$sfa-online-tip-height: 8px;
$sfa-online-tip-total-width: 458px;
$sfa-online-tip-total-height: 420px;
$sfa-online-tip-image: '~base/images/sprite.png';
$sfa-online-tip: (449px, 358px, -449px, -358px, 8px, 8px, 458px, 420px, '~base/images/sprite.png', 'sfa-online-tip', );
$sfa-re-tip-goon-name: 'sfa-re-tip-goon';
$sfa-re-tip-goon-x: 178px;
$sfa-re-tip-goon-y: 360px;
$sfa-re-tip-goon-offset-x: -178px;
$sfa-re-tip-goon-offset-y: -360px;
$sfa-re-tip-goon-width: 34px;
$sfa-re-tip-goon-height: 24px;
$sfa-re-tip-goon-total-width: 458px;
$sfa-re-tip-goon-total-height: 420px;
$sfa-re-tip-goon-image: '~base/images/sprite.png';
$sfa-re-tip-goon: (178px, 360px, -178px, -360px, 34px, 24px, 458px, 420px, '~base/images/sprite.png', 'sfa-re-tip-goon', );
$sfa-re-tip-help-name: 'sfa-re-tip-help';
$sfa-re-tip-help-x: 190px;
$sfa-re-tip-help-y: 390px;
$sfa-re-tip-help-offset-x: -190px;
$sfa-re-tip-help-offset-y: -390px;
$sfa-re-tip-help-width: 20px;
$sfa-re-tip-help-height: 27px;
$sfa-re-tip-help-total-width: 458px;
$sfa-re-tip-help-total-height: 420px;
$sfa-re-tip-help-image: '~base/images/sprite.png';
$sfa-re-tip-help: (190px, 390px, -190px, -390px, 20px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-re-tip-help', );
$sfa-re-tip-result-name: 'sfa-re-tip-result';
$sfa-re-tip-result-x: 390px;
$sfa-re-tip-result-y: 59px;
$sfa-re-tip-result-offset-x: -390px;
$sfa-re-tip-result-offset-y: -59px;
$sfa-re-tip-result-width: 27px;
$sfa-re-tip-result-height: 27px;
$sfa-re-tip-result-total-width: 458px;
$sfa-re-tip-result-total-height: 420px;
$sfa-re-tip-result-image: '~base/images/sprite.png';
$sfa-re-tip-result: (390px, 59px, -390px, -59px, 27px, 27px, 458px, 420px, '~base/images/sprite.png', 'sfa-re-tip-result', );
$sfa-re-tip-service-name: 'sfa-re-tip-service';
$sfa-re-tip-service-x: 212px;
$sfa-re-tip-service-y: 360px;
$sfa-re-tip-service-offset-x: -212px;
$sfa-re-tip-service-offset-y: -360px;
$sfa-re-tip-service-width: 27px;
$sfa-re-tip-service-height: 24px;
$sfa-re-tip-service-total-width: 458px;
$sfa-re-tip-service-total-height: 420px;
$sfa-re-tip-service-image: '~base/images/sprite.png';
$sfa-re-tip-service: (212px, 360px, -212px, -360px, 27px, 24px, 458px, 420px, '~base/images/sprite.png', 'sfa-re-tip-service', );
$sfa-refresh-name: 'sfa-refresh';
$sfa-refresh-x: 447px;
$sfa-refresh-y: 326px;
$sfa-refresh-offset-x: -447px;
$sfa-refresh-offset-y: -326px;
$sfa-refresh-width: 11px;
$sfa-refresh-height: 13px;
$sfa-refresh-total-width: 458px;
$sfa-refresh-total-height: 420px;
$sfa-refresh-image: '~base/images/sprite.png';
$sfa-refresh: (447px, 326px, -447px, -326px, 11px, 13px, 458px, 420px, '~base/images/sprite.png', 'sfa-refresh', );
$sfa-sys-setting-name: 'sfa-sys-setting';
$sfa-sys-setting-x: 438px;
$sfa-sys-setting-y: 139px;
$sfa-sys-setting-offset-x: -438px;
$sfa-sys-setting-offset-y: -139px;
$sfa-sys-setting-width: 16px;
$sfa-sys-setting-height: 16px;
$sfa-sys-setting-total-width: 458px;
$sfa-sys-setting-total-height: 420px;
$sfa-sys-setting-image: '~base/images/sprite.png';
$sfa-sys-setting: (438px, 139px, -438px, -139px, 16px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-sys-setting', );
$sfa-team-activity-name: 'sfa-team-activity';
$sfa-team-activity-x: 288px;
$sfa-team-activity-y: 235px;
$sfa-team-activity-offset-x: -288px;
$sfa-team-activity-offset-y: -235px;
$sfa-team-activity-width: 38px;
$sfa-team-activity-height: 38px;
$sfa-team-activity-total-width: 458px;
$sfa-team-activity-total-height: 420px;
$sfa-team-activity-image: '~base/images/sprite.png';
$sfa-team-activity: (288px, 235px, -288px, -235px, 38px, 38px, 458px, 420px, '~base/images/sprite.png', 'sfa-team-activity', );
$sfa-team-betting-name: 'sfa-team-betting';
$sfa-team-betting-x: 166px;
$sfa-team-betting-y: 137px;
$sfa-team-betting-offset-x: -166px;
$sfa-team-betting-offset-y: -137px;
$sfa-team-betting-width: 38px;
$sfa-team-betting-height: 38px;
$sfa-team-betting-total-width: 458px;
$sfa-team-betting-total-height: 420px;
$sfa-team-betting-image: '~base/images/sprite.png';
$sfa-team-betting: (166px, 137px, -166px, -137px, 38px, 38px, 458px, 420px, '~base/images/sprite.png', 'sfa-team-betting', );
$sfa-team-logo-name: 'sfa-team-logo';
$sfa-team-logo-x: 0px;
$sfa-team-logo-y: 0px;
$sfa-team-logo-offset-x: 0px;
$sfa-team-logo-offset-y: 0px;
$sfa-team-logo-width: 204px;
$sfa-team-logo-height: 77px;
$sfa-team-logo-total-width: 458px;
$sfa-team-logo-total-height: 420px;
$sfa-team-logo-image: '~base/images/sprite.png';
$sfa-team-logo: (0px, 0px, 0px, 0px, 204px, 77px, 458px, 420px, '~base/images/sprite.png', 'sfa-team-logo', );
$sfa-team-prize-name: 'sfa-team-prize';
$sfa-team-prize-x: 0px;
$sfa-team-prize-y: 322px;
$sfa-team-prize-offset-x: 0px;
$sfa-team-prize-offset-y: -322px;
$sfa-team-prize-width: 38px;
$sfa-team-prize-height: 38px;
$sfa-team-prize-total-width: 458px;
$sfa-team-prize-total-height: 420px;
$sfa-team-prize-image: '~base/images/sprite.png';
$sfa-team-prize: (0px, 322px, 0px, -322px, 38px, 38px, 458px, 420px, '~base/images/sprite.png', 'sfa-team-prize', );
$sfa-team-profit-name: 'sfa-team-profit';
$sfa-team-profit-x: 128px;
$sfa-team-profit-y: 137px;
$sfa-team-profit-offset-x: -128px;
$sfa-team-profit-offset-y: -137px;
$sfa-team-profit-width: 38px;
$sfa-team-profit-height: 38px;
$sfa-team-profit-total-width: 458px;
$sfa-team-profit-total-height: 420px;
$sfa-team-profit-image: '~base/images/sprite.png';
$sfa-team-profit: (128px, 137px, -128px, -137px, 38px, 38px, 458px, 420px, '~base/images/sprite.png', 'sfa-team-profit', );
$sfa-time-picker-name: 'sfa-time-picker';
$sfa-time-picker-x: 438px;
$sfa-time-picker-y: 171px;
$sfa-time-picker-offset-x: -438px;
$sfa-time-picker-offset-y: -171px;
$sfa-time-picker-width: 15px;
$sfa-time-picker-height: 16px;
$sfa-time-picker-total-width: 458px;
$sfa-time-picker-total-height: 420px;
$sfa-time-picker-image: '~base/images/sprite.png';
$sfa-time-picker: (438px, 171px, -438px, -171px, 15px, 16px, 458px, 420px, '~base/images/sprite.png', 'sfa-time-picker', );
$sfa-trend-name: 'sfa-trend';
$sfa-trend-x: 390px;
$sfa-trend-y: 346px;
$sfa-trend-offset-x: -390px;
$sfa-trend-offset-y: -346px;
$sfa-trend-width: 26px;
$sfa-trend-height: 26px;
$sfa-trend-total-width: 458px;
$sfa-trend-total-height: 420px;
$sfa-trend-image: '~base/images/sprite.png';
$sfa-trend: (390px, 346px, -390px, -346px, 26px, 26px, 458px, 420px, '~base/images/sprite.png', 'sfa-trend', );
$sfa-triangle-down-name: 'sfa-triangle-down';
$sfa-triangle-down-x: 446px;
$sfa-triangle-down-y: 343px;
$sfa-triangle-down-offset-x: -446px;
$sfa-triangle-down-offset-y: -343px;
$sfa-triangle-down-width: 11px;
$sfa-triangle-down-height: 8px;
$sfa-triangle-down-total-width: 458px;
$sfa-triangle-down-total-height: 420px;
$sfa-triangle-down-image: '~base/images/sprite.png';
$sfa-triangle-down: (446px, 343px, -446px, -343px, 11px, 8px, 458px, 420px, '~base/images/sprite.png', 'sfa-triangle-down', );
$sfa-triangle-up-name: 'sfa-triangle-up';
$sfa-triangle-up-x: 438px;
$sfa-triangle-up-y: 358px;
$sfa-triangle-up-offset-x: -438px;
$sfa-triangle-up-offset-y: -358px;
$sfa-triangle-up-width: 11px;
$sfa-triangle-up-height: 8px;
$sfa-triangle-up-total-width: 458px;
$sfa-triangle-up-total-height: 420px;
$sfa-triangle-up-image: '~base/images/sprite.png';
$sfa-triangle-up: (438px, 358px, -438px, -358px, 11px, 8px, 458px, 420px, '~base/images/sprite.png', 'sfa-triangle-up', );
$spritesheet-width: 458px;
$spritesheet-height: 420px;
$spritesheet-image: '~base/images/sprite.png';
$spritesheet-sprites: ($sfa-arrow-down, $sfa-arrow, $sfa-ad-badge-gray, $sfa-ad-badge-over, $sfa-ad-badge-pink, $sfa-ad-badge, $sfa-ad-lock, $sfa-ad-logo-mid, $sfa-ad-logo-yb, $sfa-ad-logo, $sfa-db-dynamic, $sfa-dialog-info, $sfa-dialog-success, $sfa-dropmenu-caret-up, $sfa-face-success, $sfa-find-by-card, $sfa-find-by-question, $sfa-fp-security-card, $sfa-fp-security-question, $sfa-grid-empty, $sfa-help-tip, $sfa-bc-bet-trend, $sfa-bc-explain, $sfa-bc-video, $sfa-bc-mmc-hammer, $sfa-bc-play-brief, $sfa-bc-play-normal-active, $sfa-bc-play-normal, $sfa-bc-play-optional, $sfa-bc-play-super-active, $sfa-bc-play-super, $sfa-btn-add, $sfa-btn-hook, $sfa-btn-upload, $sfa-cog, $sfa-cd-0, $sfa-cd-1, $sfa-cd-2, $sfa-cd-3, $sfa-cd-4, $sfa-cd-5, $sfa-cd-6, $sfa-cd-7, $sfa-cd-8, $sfa-cd-9, $sfa-cd-red-0, $sfa-cd-red-1, $sfa-cd-red-2, $sfa-cd-red-3, $sfa-cd-red-4, $sfa-cd-red-5, $sfa-cd-red-6, $sfa-cd-red-7, $sfa-cd-red-8, $sfa-cd-red-9, $sfa-dialog-close, $sfa-divid-add, $sfa-divid-grant, $sfa-double-down, $sfa-double-up, $sfa-dynamic-soon, $sfa-entry-hot, $sfa-entry-letter, $sfa-f-certificate, $sfa-f-feedback-a, $sfa-f-feedback, $sfa-f-help-a, $sfa-f-help, $sfa-f-intro-a, $sfa-f-intro, $sfa-f-link-test-a, $sfa-f-link-test, $sfa-f-phone-a, $sfa-f-phone, $sfa-h-windows, $sfa-h-letter, $sfa-h-logout, $sfa-h-mute, $sfa-h-security-off, $sfa-h-security, $sfa-h-vol, $sfa-m-active, $sfa-m-agency, $sfa-m-dashboard, $sfa-m-download, $sfa-m-fund, $sfa-m-help, $sfa-m-notice, $sfa-m-safe, $sfa-m-user, $sfa-sidebar-activity, $sfa-sidebar-agency, $sfa-sidebar-chevron-right, $sfa-sidebar-fund, $sfa-sidebar-help, $sfa-sidebar-history, $sfa-sidebar-news, $sfa-sidebar-safe, $sfa-sub-title-user, $sfa-online-tip, $sfa-re-tip-goon, $sfa-re-tip-help, $sfa-re-tip-result, $sfa-re-tip-service, $sfa-refresh, $sfa-sys-setting, $sfa-team-activity, $sfa-team-betting, $sfa-team-logo, $sfa-team-prize, $sfa-team-profit, $sfa-time-picker, $sfa-trend, $sfa-triangle-down, $sfa-triangle-up, );
$spritesheet: (458px, 420px, '~base/images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
