/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sfa-arrow-down-name: 'sfa-arrow-down';
$sfa-arrow-down-x: 0px;
$sfa-arrow-down-y: 273px;
$sfa-arrow-down-offset-x: 0px;
$sfa-arrow-down-offset-y: -273px;
$sfa-arrow-down-width: 8px;
$sfa-arrow-down-height: 15px;
$sfa-arrow-down-total-width: 510px;
$sfa-arrow-down-total-height: 288px;
$sfa-arrow-down-image: '~base/images/sprite.png';
$sfa-arrow-down: (0px, 273px, 0px, -273px, 8px, 15px, 510px, 288px, '~base/images/sprite.png', 'sfa-arrow-down', );
$sfa-arrow-name: 'sfa-arrow';
$sfa-arrow-x: 397px;
$sfa-arrow-y: 122px;
$sfa-arrow-offset-x: -397px;
$sfa-arrow-offset-y: -122px;
$sfa-arrow-width: 7px;
$sfa-arrow-height: 4px;
$sfa-arrow-total-width: 510px;
$sfa-arrow-total-height: 288px;
$sfa-arrow-image: '~base/images/sprite.png';
$sfa-arrow: (397px, 122px, -397px, -122px, 7px, 4px, 510px, 288px, '~base/images/sprite.png', 'sfa-arrow', );
$sfa-ad-lock-name: 'sfa-ad-lock';
$sfa-ad-lock-x: 52px;
$sfa-ad-lock-y: 137px;
$sfa-ad-lock-offset-x: -52px;
$sfa-ad-lock-offset-y: -137px;
$sfa-ad-lock-width: 34px;
$sfa-ad-lock-height: 48px;
$sfa-ad-lock-total-width: 510px;
$sfa-ad-lock-total-height: 288px;
$sfa-ad-lock-image: '~base/images/sprite.png';
$sfa-ad-lock: (52px, 137px, -52px, -137px, 34px, 48px, 510px, 288px, '~base/images/sprite.png', 'sfa-ad-lock', );
$sfa-dialog-info-name: 'sfa-dialog-info';
$sfa-dialog-info-x: 397px;
$sfa-dialog-info-y: 77px;
$sfa-dialog-info-offset-x: -397px;
$sfa-dialog-info-offset-y: -77px;
$sfa-dialog-info-width: 45px;
$sfa-dialog-info-height: 45px;
$sfa-dialog-info-total-width: 510px;
$sfa-dialog-info-total-height: 288px;
$sfa-dialog-info-image: '~base/images/sprite.png';
$sfa-dialog-info: (397px, 77px, -397px, -77px, 45px, 45px, 510px, 288px, '~base/images/sprite.png', 'sfa-dialog-info', );
$sfa-dialog-success-name: 'sfa-dialog-success';
$sfa-dialog-success-x: 347px;
$sfa-dialog-success-y: 77px;
$sfa-dialog-success-offset-x: -347px;
$sfa-dialog-success-offset-y: -77px;
$sfa-dialog-success-width: 50px;
$sfa-dialog-success-height: 50px;
$sfa-dialog-success-total-width: 510px;
$sfa-dialog-success-total-height: 288px;
$sfa-dialog-success-image: '~base/images/sprite.png';
$sfa-dialog-success: (347px, 77px, -347px, -77px, 50px, 50px, 510px, 288px, '~base/images/sprite.png', 'sfa-dialog-success', );
$sfa-dropmenu-caret-up-name: 'sfa-dropmenu-caret-up';
$sfa-dropmenu-caret-up-x: 206px;
$sfa-dropmenu-caret-up-y: 172px;
$sfa-dropmenu-caret-up-offset-x: -206px;
$sfa-dropmenu-caret-up-offset-y: -172px;
$sfa-dropmenu-caret-up-width: 25px;
$sfa-dropmenu-caret-up-height: 12px;
$sfa-dropmenu-caret-up-total-width: 510px;
$sfa-dropmenu-caret-up-total-height: 288px;
$sfa-dropmenu-caret-up-image: '~base/images/sprite.png';
$sfa-dropmenu-caret-up: (206px, 172px, -206px, -172px, 25px, 12px, 510px, 288px, '~base/images/sprite.png', 'sfa-dropmenu-caret-up', );
$sfa-face-success-name: 'sfa-face-success';
$sfa-face-success-x: 296px;
$sfa-face-success-y: 77px;
$sfa-face-success-offset-x: -296px;
$sfa-face-success-offset-y: -77px;
$sfa-face-success-width: 51px;
$sfa-face-success-height: 51px;
$sfa-face-success-total-width: 510px;
$sfa-face-success-total-height: 288px;
$sfa-face-success-image: '~base/images/sprite.png';
$sfa-face-success: (296px, 77px, -296px, -77px, 51px, 51px, 510px, 288px, '~base/images/sprite.png', 'sfa-face-success', );
$sfa-find-by-card-name: 'sfa-find-by-card';
$sfa-find-by-card-x: 204px;
$sfa-find-by-card-y: 37px;
$sfa-find-by-card-offset-x: -204px;
$sfa-find-by-card-offset-y: -37px;
$sfa-find-by-card-width: 54px;
$sfa-find-by-card-height: 38px;
$sfa-find-by-card-total-width: 510px;
$sfa-find-by-card-total-height: 288px;
$sfa-find-by-card-image: '~base/images/sprite.png';
$sfa-find-by-card: (204px, 37px, -204px, -37px, 54px, 38px, 510px, 288px, '~base/images/sprite.png', 'sfa-find-by-card', );
$sfa-find-by-question-name: 'sfa-find-by-question';
$sfa-find-by-question-x: 0px;
$sfa-find-by-question-y: 137px;
$sfa-find-by-question-offset-x: 0px;
$sfa-find-by-question-offset-y: -137px;
$sfa-find-by-question-width: 52px;
$sfa-find-by-question-height: 59px;
$sfa-find-by-question-total-width: 510px;
$sfa-find-by-question-total-height: 288px;
$sfa-find-by-question-image: '~base/images/sprite.png';
$sfa-find-by-question: (0px, 137px, 0px, -137px, 52px, 59px, 510px, 288px, '~base/images/sprite.png', 'sfa-find-by-question', );
$sfa-fp-security-card-name: 'sfa-fp-securityCard';
$sfa-fp-security-card-x: 238px;
$sfa-fp-security-card-y: 77px;
$sfa-fp-security-card-offset-x: -238px;
$sfa-fp-security-card-offset-y: -77px;
$sfa-fp-security-card-width: 58px;
$sfa-fp-security-card-height: 58px;
$sfa-fp-security-card-total-width: 510px;
$sfa-fp-security-card-total-height: 288px;
$sfa-fp-security-card-image: '~base/images/sprite.png';
$sfa-fp-security-card: (238px, 77px, -238px, -77px, 58px, 58px, 510px, 288px, '~base/images/sprite.png', 'sfa-fp-securityCard', );
$sfa-fp-security-question-name: 'sfa-fp-securityQuestion';
$sfa-fp-security-question-x: 180px;
$sfa-fp-security-question-y: 77px;
$sfa-fp-security-question-offset-x: -180px;
$sfa-fp-security-question-offset-y: -77px;
$sfa-fp-security-question-width: 58px;
$sfa-fp-security-question-height: 58px;
$sfa-fp-security-question-total-width: 510px;
$sfa-fp-security-question-total-height: 288px;
$sfa-fp-security-question-image: '~base/images/sprite.png';
$sfa-fp-security-question: (180px, 77px, -180px, -77px, 58px, 58px, 510px, 288px, '~base/images/sprite.png', 'sfa-fp-securityQuestion', );
$sfa-bc-mmc-hammer-name: 'sfa-bc-mmc-hammer';
$sfa-bc-mmc-hammer-x: 325px;
$sfa-bc-mmc-hammer-y: 220px;
$sfa-bc-mmc-hammer-offset-x: -325px;
$sfa-bc-mmc-hammer-offset-y: -220px;
$sfa-bc-mmc-hammer-width: 20px;
$sfa-bc-mmc-hammer-height: 19px;
$sfa-bc-mmc-hammer-total-width: 510px;
$sfa-bc-mmc-hammer-total-height: 288px;
$sfa-bc-mmc-hammer-image: '~base/images/sprite.png';
$sfa-bc-mmc-hammer: (325px, 220px, -325px, -220px, 20px, 19px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-mmc-hammer', );
$sfa-bc-play-brief-name: 'sfa-bc-play-brief';
$sfa-bc-play-brief-x: 364px;
$sfa-bc-play-brief-y: 196px;
$sfa-bc-play-brief-offset-x: -364px;
$sfa-bc-play-brief-offset-y: -196px;
$sfa-bc-play-brief-width: 19px;
$sfa-bc-play-brief-height: 16px;
$sfa-bc-play-brief-total-width: 510px;
$sfa-bc-play-brief-total-height: 288px;
$sfa-bc-play-brief-image: '~base/images/sprite.png';
$sfa-bc-play-brief: (364px, 196px, -364px, -196px, 19px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-play-brief', );
$sfa-bc-play-normal-active-name: 'sfa-bc-play-normal-active';
$sfa-bc-play-normal-active-x: 273px;
$sfa-bc-play-normal-active-y: 196px;
$sfa-bc-play-normal-active-offset-x: -273px;
$sfa-bc-play-normal-active-offset-y: -196px;
$sfa-bc-play-normal-active-width: 22px;
$sfa-bc-play-normal-active-height: 18px;
$sfa-bc-play-normal-active-total-width: 510px;
$sfa-bc-play-normal-active-total-height: 288px;
$sfa-bc-play-normal-active-image: '~base/images/sprite.png';
$sfa-bc-play-normal-active: (273px, 196px, -273px, -196px, 22px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-play-normal-active', );
$sfa-bc-play-normal-name: 'sfa-bc-play-normal';
$sfa-bc-play-normal-x: 251px;
$sfa-bc-play-normal-y: 196px;
$sfa-bc-play-normal-offset-x: -251px;
$sfa-bc-play-normal-offset-y: -196px;
$sfa-bc-play-normal-width: 22px;
$sfa-bc-play-normal-height: 18px;
$sfa-bc-play-normal-total-width: 510px;
$sfa-bc-play-normal-total-height: 288px;
$sfa-bc-play-normal-image: '~base/images/sprite.png';
$sfa-bc-play-normal: (251px, 196px, -251px, -196px, 22px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-play-normal', );
$sfa-bc-play-optional-name: 'sfa-bc-play-optional';
$sfa-bc-play-optional-x: 20px;
$sfa-bc-play-optional-y: 246px;
$sfa-bc-play-optional-offset-x: -20px;
$sfa-bc-play-optional-offset-y: -246px;
$sfa-bc-play-optional-width: 16px;
$sfa-bc-play-optional-height: 14px;
$sfa-bc-play-optional-total-width: 510px;
$sfa-bc-play-optional-total-height: 288px;
$sfa-bc-play-optional-image: '~base/images/sprite.png';
$sfa-bc-play-optional: (20px, 246px, -20px, -246px, 16px, 14px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-play-optional', );
$sfa-bc-play-super-active-name: 'sfa-bc-play-super-active';
$sfa-bc-play-super-active-x: 207px;
$sfa-bc-play-super-active-y: 196px;
$sfa-bc-play-super-active-offset-x: -207px;
$sfa-bc-play-super-active-offset-y: -196px;
$sfa-bc-play-super-active-width: 22px;
$sfa-bc-play-super-active-height: 18px;
$sfa-bc-play-super-active-total-width: 510px;
$sfa-bc-play-super-active-total-height: 288px;
$sfa-bc-play-super-active-image: '~base/images/sprite.png';
$sfa-bc-play-super-active: (207px, 196px, -207px, -196px, 22px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-play-super-active', );
$sfa-bc-play-super-name: 'sfa-bc-play-super';
$sfa-bc-play-super-x: 229px;
$sfa-bc-play-super-y: 196px;
$sfa-bc-play-super-offset-x: -229px;
$sfa-bc-play-super-offset-y: -196px;
$sfa-bc-play-super-width: 22px;
$sfa-bc-play-super-height: 18px;
$sfa-bc-play-super-total-width: 510px;
$sfa-bc-play-super-total-height: 288px;
$sfa-bc-play-super-image: '~base/images/sprite.png';
$sfa-bc-play-super: (229px, 196px, -229px, -196px, 22px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-bc-play-super', );
$sfa-btn-add-name: 'sfa-btn-add';
$sfa-btn-add-x: 478px;
$sfa-btn-add-y: 220px;
$sfa-btn-add-offset-x: -478px;
$sfa-btn-add-offset-y: -220px;
$sfa-btn-add-width: 14px;
$sfa-btn-add-height: 16px;
$sfa-btn-add-total-width: 510px;
$sfa-btn-add-total-height: 288px;
$sfa-btn-add-image: '~base/images/sprite.png';
$sfa-btn-add: (478px, 220px, -478px, -220px, 14px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-btn-add', );
$sfa-btn-hook-name: 'sfa-btn-hook';
$sfa-btn-hook-x: 464px;
$sfa-btn-hook-y: 220px;
$sfa-btn-hook-offset-x: -464px;
$sfa-btn-hook-offset-y: -220px;
$sfa-btn-hook-width: 14px;
$sfa-btn-hook-height: 16px;
$sfa-btn-hook-total-width: 510px;
$sfa-btn-hook-total-height: 288px;
$sfa-btn-hook-image: '~base/images/sprite.png';
$sfa-btn-hook: (464px, 220px, -464px, -220px, 14px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-btn-hook', );
$sfa-btn-upload-name: 'sfa-btn-upload';
$sfa-btn-upload-x: 492px;
$sfa-btn-upload-y: 220px;
$sfa-btn-upload-offset-x: -492px;
$sfa-btn-upload-offset-y: -220px;
$sfa-btn-upload-width: 14px;
$sfa-btn-upload-height: 16px;
$sfa-btn-upload-total-width: 510px;
$sfa-btn-upload-total-height: 288px;
$sfa-btn-upload-image: '~base/images/sprite.png';
$sfa-btn-upload: (492px, 220px, -492px, -220px, 14px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-btn-upload', );
$sfa-cog-name: 'sfa-cog';
$sfa-cog-x: 417px;
$sfa-cog-y: 220px;
$sfa-cog-offset-x: -417px;
$sfa-cog-offset-y: -220px;
$sfa-cog-width: 17px;
$sfa-cog-height: 17px;
$sfa-cog-total-width: 510px;
$sfa-cog-total-height: 288px;
$sfa-cog-image: '~base/images/sprite.png';
$sfa-cog: (417px, 220px, -417px, -220px, 17px, 17px, 510px, 288px, '~base/images/sprite.png', 'sfa-cog', );
$sfa-divid-add-name: 'sfa-divid-add';
$sfa-divid-add-x: 61px;
$sfa-divid-add-y: 196px;
$sfa-divid-add-offset-x: -61px;
$sfa-divid-add-offset-y: -196px;
$sfa-divid-add-width: 22px;
$sfa-divid-add-height: 23px;
$sfa-divid-add-total-width: 510px;
$sfa-divid-add-total-height: 288px;
$sfa-divid-add-image: '~base/images/sprite.png';
$sfa-divid-add: (61px, 196px, -61px, -196px, 22px, 23px, 510px, 288px, '~base/images/sprite.png', 'sfa-divid-add', );
$sfa-divid-grant-name: 'sfa-divid-grant';
$sfa-divid-grant-x: 307px;
$sfa-divid-grant-y: 220px;
$sfa-divid-grant-offset-x: -307px;
$sfa-divid-grant-offset-y: -220px;
$sfa-divid-grant-width: 18px;
$sfa-divid-grant-height: 22px;
$sfa-divid-grant-total-width: 510px;
$sfa-divid-grant-total-height: 288px;
$sfa-divid-grant-image: '~base/images/sprite.png';
$sfa-divid-grant: (307px, 220px, -307px, -220px, 18px, 22px, 510px, 288px, '~base/images/sprite.png', 'sfa-divid-grant', );
$sfa-double-down-name: 'sfa-double-down';
$sfa-double-down-x: 295px;
$sfa-double-down-y: 196px;
$sfa-double-down-offset-x: -295px;
$sfa-double-down-offset-y: -196px;
$sfa-double-down-width: 23px;
$sfa-double-down-height: 17px;
$sfa-double-down-total-width: 510px;
$sfa-double-down-total-height: 288px;
$sfa-double-down-image: '~base/images/sprite.png';
$sfa-double-down: (295px, 196px, -295px, -196px, 23px, 17px, 510px, 288px, '~base/images/sprite.png', 'sfa-double-down', );
$sfa-double-up-name: 'sfa-double-up';
$sfa-double-up-x: 318px;
$sfa-double-up-y: 196px;
$sfa-double-up-offset-x: -318px;
$sfa-double-up-offset-y: -196px;
$sfa-double-up-width: 23px;
$sfa-double-up-height: 17px;
$sfa-double-up-total-width: 510px;
$sfa-double-up-total-height: 288px;
$sfa-double-up-image: '~base/images/sprite.png';
$sfa-double-up: (318px, 196px, -318px, -196px, 23px, 17px, 510px, 288px, '~base/images/sprite.png', 'sfa-double-up', );
$sfa-dynamic-soon-name: 'sfa-dynamic-soon';
$sfa-dynamic-soon-x: 86px;
$sfa-dynamic-soon-y: 137px;
$sfa-dynamic-soon-offset-x: -86px;
$sfa-dynamic-soon-offset-y: -137px;
$sfa-dynamic-soon-width: 34px;
$sfa-dynamic-soon-height: 48px;
$sfa-dynamic-soon-total-width: 510px;
$sfa-dynamic-soon-total-height: 288px;
$sfa-dynamic-soon-image: '~base/images/sprite.png';
$sfa-dynamic-soon: (86px, 137px, -86px, -137px, 34px, 48px, 510px, 288px, '~base/images/sprite.png', 'sfa-dynamic-soon', );
$sfa-entry-hot-name: 'sfa-entry-hot';
$sfa-entry-hot-x: 286px;
$sfa-entry-hot-y: 220px;
$sfa-entry-hot-offset-x: -286px;
$sfa-entry-hot-offset-y: -220px;
$sfa-entry-hot-width: 21px;
$sfa-entry-hot-height: 23px;
$sfa-entry-hot-total-width: 510px;
$sfa-entry-hot-total-height: 288px;
$sfa-entry-hot-image: '~base/images/sprite.png';
$sfa-entry-hot: (286px, 220px, -286px, -220px, 21px, 23px, 510px, 288px, '~base/images/sprite.png', 'sfa-entry-hot', );
$sfa-entry-letter-name: 'sfa-entry-letter';
$sfa-entry-letter-x: 341px;
$sfa-entry-letter-y: 196px;
$sfa-entry-letter-offset-x: -341px;
$sfa-entry-letter-offset-y: -196px;
$sfa-entry-letter-width: 23px;
$sfa-entry-letter-height: 16px;
$sfa-entry-letter-total-width: 510px;
$sfa-entry-letter-total-height: 288px;
$sfa-entry-letter-image: '~base/images/sprite.png';
$sfa-entry-letter: (341px, 196px, -341px, -196px, 23px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-entry-letter', );
$sfa-exchange-name: 'sfa-exchange';
$sfa-exchange-x: 245px;
$sfa-exchange-y: 172px;
$sfa-exchange-offset-x: -245px;
$sfa-exchange-offset-y: -172px;
$sfa-exchange-width: 13px;
$sfa-exchange-height: 11px;
$sfa-exchange-total-width: 510px;
$sfa-exchange-total-height: 288px;
$sfa-exchange-image: '~base/images/sprite.png';
$sfa-exchange: (245px, 172px, -245px, -172px, 13px, 11px, 510px, 288px, '~base/images/sprite.png', 'sfa-exchange', );
$sfa-f-certificate-name: 'sfa-f-certificate';
$sfa-f-certificate-x: 204px;
$sfa-f-certificate-y: 0px;
$sfa-f-certificate-offset-x: -204px;
$sfa-f-certificate-offset-y: 0px;
$sfa-f-certificate-width: 306px;
$sfa-f-certificate-height: 37px;
$sfa-f-certificate-total-width: 510px;
$sfa-f-certificate-total-height: 288px;
$sfa-f-certificate-image: '~base/images/sprite.png';
$sfa-f-certificate: (204px, 0px, -204px, 0px, 306px, 37px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-certificate', );
$sfa-f-feedback-a-name: 'sfa-f-feedback-a';
$sfa-f-feedback-a-x: 234px;
$sfa-f-feedback-a-y: 220px;
$sfa-f-feedback-a-offset-x: -234px;
$sfa-f-feedback-a-offset-y: -220px;
$sfa-f-feedback-a-width: 26px;
$sfa-f-feedback-a-height: 26px;
$sfa-f-feedback-a-total-width: 510px;
$sfa-f-feedback-a-total-height: 288px;
$sfa-f-feedback-a-image: '~base/images/sprite.png';
$sfa-f-feedback-a: (234px, 220px, -234px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-feedback-a', );
$sfa-f-feedback-name: 'sfa-f-feedback';
$sfa-f-feedback-x: 0px;
$sfa-f-feedback-y: 220px;
$sfa-f-feedback-offset-x: 0px;
$sfa-f-feedback-offset-y: -220px;
$sfa-f-feedback-width: 26px;
$sfa-f-feedback-height: 26px;
$sfa-f-feedback-total-width: 510px;
$sfa-f-feedback-total-height: 288px;
$sfa-f-feedback-image: '~base/images/sprite.png';
$sfa-f-feedback: (0px, 220px, 0px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-feedback', );
$sfa-f-help-a-name: 'sfa-f-help-a';
$sfa-f-help-a-x: 26px;
$sfa-f-help-a-y: 220px;
$sfa-f-help-a-offset-x: -26px;
$sfa-f-help-a-offset-y: -220px;
$sfa-f-help-a-width: 26px;
$sfa-f-help-a-height: 26px;
$sfa-f-help-a-total-width: 510px;
$sfa-f-help-a-total-height: 288px;
$sfa-f-help-a-image: '~base/images/sprite.png';
$sfa-f-help-a: (26px, 220px, -26px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-help-a', );
$sfa-f-help-name: 'sfa-f-help';
$sfa-f-help-x: 182px;
$sfa-f-help-y: 220px;
$sfa-f-help-offset-x: -182px;
$sfa-f-help-offset-y: -220px;
$sfa-f-help-width: 26px;
$sfa-f-help-height: 26px;
$sfa-f-help-total-width: 510px;
$sfa-f-help-total-height: 288px;
$sfa-f-help-image: '~base/images/sprite.png';
$sfa-f-help: (182px, 220px, -182px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-help', );
$sfa-f-intro-a-name: 'sfa-f-intro-a';
$sfa-f-intro-a-x: 156px;
$sfa-f-intro-a-y: 220px;
$sfa-f-intro-a-offset-x: -156px;
$sfa-f-intro-a-offset-y: -220px;
$sfa-f-intro-a-width: 26px;
$sfa-f-intro-a-height: 26px;
$sfa-f-intro-a-total-width: 510px;
$sfa-f-intro-a-total-height: 288px;
$sfa-f-intro-a-image: '~base/images/sprite.png';
$sfa-f-intro-a: (156px, 220px, -156px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-intro-a', );
$sfa-f-intro-name: 'sfa-f-intro';
$sfa-f-intro-x: 130px;
$sfa-f-intro-y: 220px;
$sfa-f-intro-offset-x: -130px;
$sfa-f-intro-offset-y: -220px;
$sfa-f-intro-width: 26px;
$sfa-f-intro-height: 26px;
$sfa-f-intro-total-width: 510px;
$sfa-f-intro-total-height: 288px;
$sfa-f-intro-image: '~base/images/sprite.png';
$sfa-f-intro: (130px, 220px, -130px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-intro', );
$sfa-f-link-test-a-name: 'sfa-f-link-test-a';
$sfa-f-link-test-a-x: 104px;
$sfa-f-link-test-a-y: 220px;
$sfa-f-link-test-a-offset-x: -104px;
$sfa-f-link-test-a-offset-y: -220px;
$sfa-f-link-test-a-width: 26px;
$sfa-f-link-test-a-height: 26px;
$sfa-f-link-test-a-total-width: 510px;
$sfa-f-link-test-a-total-height: 288px;
$sfa-f-link-test-a-image: '~base/images/sprite.png';
$sfa-f-link-test-a: (104px, 220px, -104px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-link-test-a', );
$sfa-f-link-test-name: 'sfa-f-link-test';
$sfa-f-link-test-x: 78px;
$sfa-f-link-test-y: 220px;
$sfa-f-link-test-offset-x: -78px;
$sfa-f-link-test-offset-y: -220px;
$sfa-f-link-test-width: 26px;
$sfa-f-link-test-height: 26px;
$sfa-f-link-test-total-width: 510px;
$sfa-f-link-test-total-height: 288px;
$sfa-f-link-test-image: '~base/images/sprite.png';
$sfa-f-link-test: (78px, 220px, -78px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-link-test', );
$sfa-f-phone-a-name: 'sfa-f-phone-a';
$sfa-f-phone-a-x: 208px;
$sfa-f-phone-a-y: 220px;
$sfa-f-phone-a-offset-x: -208px;
$sfa-f-phone-a-offset-y: -220px;
$sfa-f-phone-a-width: 26px;
$sfa-f-phone-a-height: 26px;
$sfa-f-phone-a-total-width: 510px;
$sfa-f-phone-a-total-height: 288px;
$sfa-f-phone-a-image: '~base/images/sprite.png';
$sfa-f-phone-a: (208px, 220px, -208px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-phone-a', );
$sfa-f-phone-name: 'sfa-f-phone';
$sfa-f-phone-x: 52px;
$sfa-f-phone-y: 220px;
$sfa-f-phone-offset-x: -52px;
$sfa-f-phone-offset-y: -220px;
$sfa-f-phone-width: 26px;
$sfa-f-phone-height: 26px;
$sfa-f-phone-total-width: 510px;
$sfa-f-phone-total-height: 288px;
$sfa-f-phone-image: '~base/images/sprite.png';
$sfa-f-phone: (52px, 220px, -52px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-f-phone', );
$sfa-grid-empty-name: 'sfa-grid-empty';
$sfa-grid-empty-x: 442px;
$sfa-grid-empty-y: 77px;
$sfa-grid-empty-offset-x: -442px;
$sfa-grid-empty-offset-y: -77px;
$sfa-grid-empty-width: 44px;
$sfa-grid-empty-height: 44px;
$sfa-grid-empty-total-width: 510px;
$sfa-grid-empty-total-height: 288px;
$sfa-grid-empty-image: '~base/images/sprite.png';
$sfa-grid-empty: (442px, 77px, -442px, -77px, 44px, 44px, 510px, 288px, '~base/images/sprite.png', 'sfa-grid-empty', );
$sfa-grid-no-result-name: 'sfa-grid-no-result';
$sfa-grid-no-result-x: 486px;
$sfa-grid-no-result-y: 77px;
$sfa-grid-no-result-offset-x: -486px;
$sfa-grid-no-result-offset-y: -77px;
$sfa-grid-no-result-width: 24px;
$sfa-grid-no-result-height: 24px;
$sfa-grid-no-result-total-width: 510px;
$sfa-grid-no-result-total-height: 288px;
$sfa-grid-no-result-image: '~base/images/sprite.png';
$sfa-grid-no-result: (486px, 77px, -486px, -77px, 24px, 24px, 510px, 288px, '~base/images/sprite.png', 'sfa-grid-no-result', );
$sfa-h-windows-name: 'sfa-h-windows';
$sfa-h-windows-x: 497px;
$sfa-h-windows-y: 137px;
$sfa-h-windows-offset-x: -497px;
$sfa-h-windows-offset-y: -137px;
$sfa-h-windows-width: 13px;
$sfa-h-windows-height: 12px;
$sfa-h-windows-total-width: 510px;
$sfa-h-windows-total-height: 288px;
$sfa-h-windows-image: '~base/images/sprite.png';
$sfa-h-windows: (497px, 137px, -497px, -137px, 13px, 12px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-windows', );
$sfa-h-letter-name: 'sfa-h-letter';
$sfa-h-letter-x: 231px;
$sfa-h-letter-y: 172px;
$sfa-h-letter-offset-x: -231px;
$sfa-h-letter-offset-y: -172px;
$sfa-h-letter-width: 14px;
$sfa-h-letter-height: 11px;
$sfa-h-letter-total-width: 510px;
$sfa-h-letter-total-height: 288px;
$sfa-h-letter-image: '~base/images/sprite.png';
$sfa-h-letter: (231px, 172px, -231px, -172px, 14px, 11px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-letter', );
$sfa-h-logout-name: 'sfa-h-logout';
$sfa-h-logout-x: 449px;
$sfa-h-logout-y: 220px;
$sfa-h-logout-offset-x: -449px;
$sfa-h-logout-offset-y: -220px;
$sfa-h-logout-width: 15px;
$sfa-h-logout-height: 16px;
$sfa-h-logout-total-width: 510px;
$sfa-h-logout-total-height: 288px;
$sfa-h-logout-image: '~base/images/sprite.png';
$sfa-h-logout: (449px, 220px, -449px, -220px, 15px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-logout', );
$sfa-h-mute-name: 'sfa-h-mute';
$sfa-h-mute-x: 36px;
$sfa-h-mute-y: 246px;
$sfa-h-mute-offset-x: -36px;
$sfa-h-mute-offset-y: -246px;
$sfa-h-mute-width: 15px;
$sfa-h-mute-height: 14px;
$sfa-h-mute-total-width: 510px;
$sfa-h-mute-total-height: 288px;
$sfa-h-mute-image: '~base/images/sprite.png';
$sfa-h-mute: (36px, 246px, -36px, -246px, 15px, 14px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-mute', );
$sfa-h-security-off-name: 'sfa-h-security-off';
$sfa-h-security-off-x: 420px;
$sfa-h-security-off-y: 196px;
$sfa-h-security-off-offset-x: -420px;
$sfa-h-security-off-offset-y: -196px;
$sfa-h-security-off-width: 18px;
$sfa-h-security-off-height: 13px;
$sfa-h-security-off-total-width: 510px;
$sfa-h-security-off-total-height: 288px;
$sfa-h-security-off-image: '~base/images/sprite.png';
$sfa-h-security-off: (420px, 196px, -420px, -196px, 18px, 13px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-security-off', );
$sfa-h-security-name: 'sfa-h-security';
$sfa-h-security-x: 383px;
$sfa-h-security-y: 196px;
$sfa-h-security-offset-x: -383px;
$sfa-h-security-offset-y: -196px;
$sfa-h-security-width: 19px;
$sfa-h-security-height: 15px;
$sfa-h-security-total-width: 510px;
$sfa-h-security-total-height: 288px;
$sfa-h-security-image: '~base/images/sprite.png';
$sfa-h-security: (383px, 196px, -383px, -196px, 19px, 15px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-security', );
$sfa-h-vol-name: 'sfa-h-vol';
$sfa-h-vol-x: 51px;
$sfa-h-vol-y: 246px;
$sfa-h-vol-offset-x: -51px;
$sfa-h-vol-offset-y: -246px;
$sfa-h-vol-width: 15px;
$sfa-h-vol-height: 14px;
$sfa-h-vol-total-width: 510px;
$sfa-h-vol-total-height: 288px;
$sfa-h-vol-image: '~base/images/sprite.png';
$sfa-h-vol: (51px, 246px, -51px, -246px, 15px, 14px, 510px, 288px, '~base/images/sprite.png', 'sfa-h-vol', );
$sfa-headphones-name: 'sfa-headphones';
$sfa-headphones-x: 402px;
$sfa-headphones-y: 196px;
$sfa-headphones-offset-x: -402px;
$sfa-headphones-offset-y: -196px;
$sfa-headphones-width: 18px;
$sfa-headphones-height: 15px;
$sfa-headphones-total-width: 510px;
$sfa-headphones-total-height: 288px;
$sfa-headphones-image: '~base/images/sprite.png';
$sfa-headphones: (402px, 196px, -402px, -196px, 18px, 15px, 510px, 288px, '~base/images/sprite.png', 'sfa-headphones', );
$sfa-help-coins-name: 'sfa-help-coins';
$sfa-help-coins-x: 147px;
$sfa-help-coins-y: 196px;
$sfa-help-coins-offset-x: -147px;
$sfa-help-coins-offset-y: -196px;
$sfa-help-coins-width: 20px;
$sfa-help-coins-height: 20px;
$sfa-help-coins-total-width: 510px;
$sfa-help-coins-total-height: 288px;
$sfa-help-coins-image: '~base/images/sprite.png';
$sfa-help-coins: (147px, 196px, -147px, -196px, 20px, 20px, 510px, 288px, '~base/images/sprite.png', 'sfa-help-coins', );
$sfa-help-hot-prod-name: 'sfa-help-hot-prod';
$sfa-help-hot-prod-x: 187px;
$sfa-help-hot-prod-y: 196px;
$sfa-help-hot-prod-offset-x: -187px;
$sfa-help-hot-prod-offset-y: -196px;
$sfa-help-hot-prod-width: 20px;
$sfa-help-hot-prod-height: 20px;
$sfa-help-hot-prod-total-width: 510px;
$sfa-help-hot-prod-total-height: 288px;
$sfa-help-hot-prod-image: '~base/images/sprite.png';
$sfa-help-hot-prod: (187px, 196px, -187px, -196px, 20px, 20px, 510px, 288px, '~base/images/sprite.png', 'sfa-help-hot-prod', );
$sfa-help-question-name: 'sfa-help-question';
$sfa-help-question-x: 167px;
$sfa-help-question-y: 196px;
$sfa-help-question-offset-x: -167px;
$sfa-help-question-offset-y: -196px;
$sfa-help-question-width: 20px;
$sfa-help-question-height: 20px;
$sfa-help-question-total-width: 510px;
$sfa-help-question-total-height: 288px;
$sfa-help-question-image: '~base/images/sprite.png';
$sfa-help-question: (167px, 196px, -167px, -196px, 20px, 20px, 510px, 288px, '~base/images/sprite.png', 'sfa-help-question', );
$sfa-help-yan-name: 'sfa-help-yan';
$sfa-help-yan-x: 486px;
$sfa-help-yan-y: 101px;
$sfa-help-yan-offset-x: -486px;
$sfa-help-yan-offset-y: -101px;
$sfa-help-yan-width: 20px;
$sfa-help-yan-height: 20px;
$sfa-help-yan-total-width: 510px;
$sfa-help-yan-total-height: 288px;
$sfa-help-yan-image: '~base/images/sprite.png';
$sfa-help-yan: (486px, 101px, -486px, -101px, 20px, 20px, 510px, 288px, '~base/images/sprite.png', 'sfa-help-yan', );
$sfa-m-active-name: 'sfa-m-active';
$sfa-m-active-x: 269px;
$sfa-m-active-y: 137px;
$sfa-m-active-offset-x: -269px;
$sfa-m-active-offset-y: -137px;
$sfa-m-active-width: 38px;
$sfa-m-active-height: 30px;
$sfa-m-active-total-width: 510px;
$sfa-m-active-total-height: 288px;
$sfa-m-active-image: '~base/images/sprite.png';
$sfa-m-active: (269px, 137px, -269px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-active', );
$sfa-m-agency-name: 'sfa-m-agency';
$sfa-m-agency-x: 307px;
$sfa-m-agency-y: 137px;
$sfa-m-agency-offset-x: -307px;
$sfa-m-agency-offset-y: -137px;
$sfa-m-agency-width: 38px;
$sfa-m-agency-height: 30px;
$sfa-m-agency-total-width: 510px;
$sfa-m-agency-total-height: 288px;
$sfa-m-agency-image: '~base/images/sprite.png';
$sfa-m-agency: (307px, 137px, -307px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-agency', );
$sfa-m-dashboard-name: 'sfa-m-dashboard';
$sfa-m-dashboard-x: 345px;
$sfa-m-dashboard-y: 137px;
$sfa-m-dashboard-offset-x: -345px;
$sfa-m-dashboard-offset-y: -137px;
$sfa-m-dashboard-width: 38px;
$sfa-m-dashboard-height: 30px;
$sfa-m-dashboard-total-width: 510px;
$sfa-m-dashboard-total-height: 288px;
$sfa-m-dashboard-image: '~base/images/sprite.png';
$sfa-m-dashboard: (345px, 137px, -345px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-dashboard', );
$sfa-m-download-name: 'sfa-m-download';
$sfa-m-download-x: 231px;
$sfa-m-download-y: 137px;
$sfa-m-download-offset-x: -231px;
$sfa-m-download-offset-y: -137px;
$sfa-m-download-width: 38px;
$sfa-m-download-height: 30px;
$sfa-m-download-total-width: 510px;
$sfa-m-download-total-height: 288px;
$sfa-m-download-image: '~base/images/sprite.png';
$sfa-m-download: (231px, 137px, -231px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-download', );
$sfa-m-fund-name: 'sfa-m-fund';
$sfa-m-fund-x: 383px;
$sfa-m-fund-y: 137px;
$sfa-m-fund-offset-x: -383px;
$sfa-m-fund-offset-y: -137px;
$sfa-m-fund-width: 38px;
$sfa-m-fund-height: 30px;
$sfa-m-fund-total-width: 510px;
$sfa-m-fund-total-height: 288px;
$sfa-m-fund-image: '~base/images/sprite.png';
$sfa-m-fund: (383px, 137px, -383px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-fund', );
$sfa-m-help-name: 'sfa-m-help';
$sfa-m-help-x: 421px;
$sfa-m-help-y: 137px;
$sfa-m-help-offset-x: -421px;
$sfa-m-help-offset-y: -137px;
$sfa-m-help-width: 38px;
$sfa-m-help-height: 30px;
$sfa-m-help-total-width: 510px;
$sfa-m-help-total-height: 288px;
$sfa-m-help-image: '~base/images/sprite.png';
$sfa-m-help: (421px, 137px, -421px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-help', );
$sfa-m-notice-name: 'sfa-m-notice';
$sfa-m-notice-x: 459px;
$sfa-m-notice-y: 137px;
$sfa-m-notice-offset-x: -459px;
$sfa-m-notice-offset-y: -137px;
$sfa-m-notice-width: 38px;
$sfa-m-notice-height: 30px;
$sfa-m-notice-total-width: 510px;
$sfa-m-notice-total-height: 288px;
$sfa-m-notice-image: '~base/images/sprite.png';
$sfa-m-notice: (459px, 137px, -459px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-notice', );
$sfa-m-safe-name: 'sfa-m-safe';
$sfa-m-safe-x: 193px;
$sfa-m-safe-y: 137px;
$sfa-m-safe-offset-x: -193px;
$sfa-m-safe-offset-y: -137px;
$sfa-m-safe-width: 38px;
$sfa-m-safe-height: 30px;
$sfa-m-safe-total-width: 510px;
$sfa-m-safe-total-height: 288px;
$sfa-m-safe-image: '~base/images/sprite.png';
$sfa-m-safe: (193px, 137px, -193px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-safe', );
$sfa-m-user-name: 'sfa-m-user';
$sfa-m-user-x: 155px;
$sfa-m-user-y: 137px;
$sfa-m-user-offset-x: -155px;
$sfa-m-user-offset-y: -137px;
$sfa-m-user-width: 38px;
$sfa-m-user-height: 30px;
$sfa-m-user-total-width: 510px;
$sfa-m-user-total-height: 288px;
$sfa-m-user-image: '~base/images/sprite.png';
$sfa-m-user: (155px, 137px, -155px, -137px, 38px, 30px, 510px, 288px, '~base/images/sprite.png', 'sfa-m-user', );
$sfa-sidebar-activity-name: 'sfa-sidebar-activity';
$sfa-sidebar-activity-x: 363px;
$sfa-sidebar-activity-y: 220px;
$sfa-sidebar-activity-offset-x: -363px;
$sfa-sidebar-activity-offset-y: -220px;
$sfa-sidebar-activity-width: 18px;
$sfa-sidebar-activity-height: 18px;
$sfa-sidebar-activity-total-width: 510px;
$sfa-sidebar-activity-total-height: 288px;
$sfa-sidebar-activity-image: '~base/images/sprite.png';
$sfa-sidebar-activity: (363px, 220px, -363px, -220px, 18px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-activity', );
$sfa-sidebar-agency-name: 'sfa-sidebar-agency';
$sfa-sidebar-agency-x: 345px;
$sfa-sidebar-agency-y: 220px;
$sfa-sidebar-agency-offset-x: -345px;
$sfa-sidebar-agency-offset-y: -220px;
$sfa-sidebar-agency-width: 18px;
$sfa-sidebar-agency-height: 18px;
$sfa-sidebar-agency-total-width: 510px;
$sfa-sidebar-agency-total-height: 288px;
$sfa-sidebar-agency-image: '~base/images/sprite.png';
$sfa-sidebar-agency: (345px, 220px, -345px, -220px, 18px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-agency', );
$sfa-sidebar-chevron-right-name: 'sfa-sidebar-chevron-right';
$sfa-sidebar-chevron-right-x: 497px;
$sfa-sidebar-chevron-right-y: 149px;
$sfa-sidebar-chevron-right-offset-x: -497px;
$sfa-sidebar-chevron-right-offset-y: -149px;
$sfa-sidebar-chevron-right-width: 9px;
$sfa-sidebar-chevron-right-height: 17px;
$sfa-sidebar-chevron-right-total-width: 510px;
$sfa-sidebar-chevron-right-total-height: 288px;
$sfa-sidebar-chevron-right-image: '~base/images/sprite.png';
$sfa-sidebar-chevron-right: (497px, 149px, -497px, -149px, 9px, 17px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-chevron-right', );
$sfa-sidebar-fund-name: 'sfa-sidebar-fund';
$sfa-sidebar-fund-x: 0px;
$sfa-sidebar-fund-y: 77px;
$sfa-sidebar-fund-offset-x: 0px;
$sfa-sidebar-fund-offset-y: -77px;
$sfa-sidebar-fund-width: 60px;
$sfa-sidebar-fund-height: 60px;
$sfa-sidebar-fund-total-width: 510px;
$sfa-sidebar-fund-total-height: 288px;
$sfa-sidebar-fund-image: '~base/images/sprite.png';
$sfa-sidebar-fund: (0px, 77px, 0px, -77px, 60px, 60px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-fund', );
$sfa-sidebar-help-name: 'sfa-sidebar-help';
$sfa-sidebar-help-x: 60px;
$sfa-sidebar-help-y: 77px;
$sfa-sidebar-help-offset-x: -60px;
$sfa-sidebar-help-offset-y: -77px;
$sfa-sidebar-help-width: 60px;
$sfa-sidebar-help-height: 60px;
$sfa-sidebar-help-total-width: 510px;
$sfa-sidebar-help-total-height: 288px;
$sfa-sidebar-help-image: '~base/images/sprite.png';
$sfa-sidebar-help: (60px, 77px, -60px, -77px, 60px, 60px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-help', );
$sfa-sidebar-history-name: 'sfa-sidebar-history';
$sfa-sidebar-history-x: 399px;
$sfa-sidebar-history-y: 220px;
$sfa-sidebar-history-offset-x: -399px;
$sfa-sidebar-history-offset-y: -220px;
$sfa-sidebar-history-width: 18px;
$sfa-sidebar-history-height: 18px;
$sfa-sidebar-history-total-width: 510px;
$sfa-sidebar-history-total-height: 288px;
$sfa-sidebar-history-image: '~base/images/sprite.png';
$sfa-sidebar-history: (399px, 220px, -399px, -220px, 18px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-history', );
$sfa-sidebar-news-name: 'sfa-sidebar-news';
$sfa-sidebar-news-x: 381px;
$sfa-sidebar-news-y: 220px;
$sfa-sidebar-news-offset-x: -381px;
$sfa-sidebar-news-offset-y: -220px;
$sfa-sidebar-news-width: 18px;
$sfa-sidebar-news-height: 18px;
$sfa-sidebar-news-total-width: 510px;
$sfa-sidebar-news-total-height: 288px;
$sfa-sidebar-news-image: '~base/images/sprite.png';
$sfa-sidebar-news: (381px, 220px, -381px, -220px, 18px, 18px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-news', );
$sfa-sidebar-safe-name: 'sfa-sidebar-safe';
$sfa-sidebar-safe-x: 120px;
$sfa-sidebar-safe-y: 77px;
$sfa-sidebar-safe-offset-x: -120px;
$sfa-sidebar-safe-offset-y: -77px;
$sfa-sidebar-safe-width: 60px;
$sfa-sidebar-safe-height: 60px;
$sfa-sidebar-safe-total-width: 510px;
$sfa-sidebar-safe-total-height: 288px;
$sfa-sidebar-safe-image: '~base/images/sprite.png';
$sfa-sidebar-safe: (120px, 77px, -120px, -77px, 60px, 60px, 510px, 288px, '~base/images/sprite.png', 'sfa-sidebar-safe', );
$sfa-sub-title-user-name: 'sfa-sub-title-user';
$sfa-sub-title-user-x: 83px;
$sfa-sub-title-user-y: 196px;
$sfa-sub-title-user-offset-x: -83px;
$sfa-sub-title-user-offset-y: -196px;
$sfa-sub-title-user-width: 22px;
$sfa-sub-title-user-height: 22px;
$sfa-sub-title-user-total-width: 510px;
$sfa-sub-title-user-total-height: 288px;
$sfa-sub-title-user-image: '~base/images/sprite.png';
$sfa-sub-title-user: (83px, 196px, -83px, -196px, 22px, 22px, 510px, 288px, '~base/images/sprite.png', 'sfa-sub-title-user', );
$sfa-news-discount-name: 'sfa-news-discount';
$sfa-news-discount-x: 120px;
$sfa-news-discount-y: 137px;
$sfa-news-discount-offset-x: -120px;
$sfa-news-discount-offset-y: -137px;
$sfa-news-discount-width: 35px;
$sfa-news-discount-height: 35px;
$sfa-news-discount-total-width: 510px;
$sfa-news-discount-total-height: 288px;
$sfa-news-discount-image: '~base/images/sprite.png';
$sfa-news-discount: (120px, 137px, -120px, -137px, 35px, 35px, 510px, 288px, '~base/images/sprite.png', 'sfa-news-discount', );
$sfa-news-fund-name: 'sfa-news-fund';
$sfa-news-fund-x: 410px;
$sfa-news-fund-y: 37px;
$sfa-news-fund-offset-x: -410px;
$sfa-news-fund-offset-y: -37px;
$sfa-news-fund-width: 35px;
$sfa-news-fund-height: 35px;
$sfa-news-fund-total-width: 510px;
$sfa-news-fund-total-height: 288px;
$sfa-news-fund-image: '~base/images/sprite.png';
$sfa-news-fund: (410px, 37px, -410px, -37px, 35px, 35px, 510px, 288px, '~base/images/sprite.png', 'sfa-news-fund', );
$sfa-news-user-name: 'sfa-news-user';
$sfa-news-user-x: 445px;
$sfa-news-user-y: 37px;
$sfa-news-user-offset-x: -445px;
$sfa-news-user-offset-y: -37px;
$sfa-news-user-width: 35px;
$sfa-news-user-height: 35px;
$sfa-news-user-total-width: 510px;
$sfa-news-user-total-height: 288px;
$sfa-news-user-image: '~base/images/sprite.png';
$sfa-news-user: (445px, 37px, -445px, -37px, 35px, 35px, 510px, 288px, '~base/images/sprite.png', 'sfa-news-user', );
$sfa-online-tip-name: 'sfa-online-tip';
$sfa-online-tip-x: 502px;
$sfa-online-tip-y: 64px;
$sfa-online-tip-offset-x: -502px;
$sfa-online-tip-offset-y: -64px;
$sfa-online-tip-width: 8px;
$sfa-online-tip-height: 8px;
$sfa-online-tip-total-width: 510px;
$sfa-online-tip-total-height: 288px;
$sfa-online-tip-image: '~base/images/sprite.png';
$sfa-online-tip: (502px, 64px, -502px, -64px, 8px, 8px, 510px, 288px, '~base/images/sprite.png', 'sfa-online-tip', );
$sfa-re-tip-goon-name: 'sfa-re-tip-goon';
$sfa-re-tip-goon-x: 0px;
$sfa-re-tip-goon-y: 196px;
$sfa-re-tip-goon-offset-x: 0px;
$sfa-re-tip-goon-offset-y: -196px;
$sfa-re-tip-goon-width: 34px;
$sfa-re-tip-goon-height: 24px;
$sfa-re-tip-goon-total-width: 510px;
$sfa-re-tip-goon-total-height: 288px;
$sfa-re-tip-goon-image: '~base/images/sprite.png';
$sfa-re-tip-goon: (0px, 196px, 0px, -196px, 34px, 24px, 510px, 288px, '~base/images/sprite.png', 'sfa-re-tip-goon', );
$sfa-re-tip-help-name: 'sfa-re-tip-help';
$sfa-re-tip-help-x: 0px;
$sfa-re-tip-help-y: 246px;
$sfa-re-tip-help-offset-x: 0px;
$sfa-re-tip-help-offset-y: -246px;
$sfa-re-tip-help-width: 20px;
$sfa-re-tip-help-height: 27px;
$sfa-re-tip-help-total-width: 510px;
$sfa-re-tip-help-total-height: 288px;
$sfa-re-tip-help-image: '~base/images/sprite.png';
$sfa-re-tip-help: (0px, 246px, 0px, -246px, 20px, 27px, 510px, 288px, '~base/images/sprite.png', 'sfa-re-tip-help', );
$sfa-re-tip-result-name: 'sfa-re-tip-result';
$sfa-re-tip-result-x: 480px;
$sfa-re-tip-result-y: 37px;
$sfa-re-tip-result-offset-x: -480px;
$sfa-re-tip-result-offset-y: -37px;
$sfa-re-tip-result-width: 27px;
$sfa-re-tip-result-height: 27px;
$sfa-re-tip-result-total-width: 510px;
$sfa-re-tip-result-total-height: 288px;
$sfa-re-tip-result-image: '~base/images/sprite.png';
$sfa-re-tip-result: (480px, 37px, -480px, -37px, 27px, 27px, 510px, 288px, '~base/images/sprite.png', 'sfa-re-tip-result', );
$sfa-re-tip-service-name: 'sfa-re-tip-service';
$sfa-re-tip-service-x: 34px;
$sfa-re-tip-service-y: 196px;
$sfa-re-tip-service-offset-x: -34px;
$sfa-re-tip-service-offset-y: -196px;
$sfa-re-tip-service-width: 27px;
$sfa-re-tip-service-height: 24px;
$sfa-re-tip-service-total-width: 510px;
$sfa-re-tip-service-total-height: 288px;
$sfa-re-tip-service-image: '~base/images/sprite.png';
$sfa-re-tip-service: (34px, 196px, -34px, -196px, 27px, 24px, 510px, 288px, '~base/images/sprite.png', 'sfa-re-tip-service', );
$sfa-refresh-name: 'sfa-refresh';
$sfa-refresh-x: 438px;
$sfa-refresh-y: 196px;
$sfa-refresh-offset-x: -438px;
$sfa-refresh-offset-y: -196px;
$sfa-refresh-width: 11px;
$sfa-refresh-height: 13px;
$sfa-refresh-total-width: 510px;
$sfa-refresh-total-height: 288px;
$sfa-refresh-image: '~base/images/sprite.png';
$sfa-refresh: (438px, 196px, -438px, -196px, 11px, 13px, 510px, 288px, '~base/images/sprite.png', 'sfa-refresh', );
$sfa-team-activity-name: 'sfa-team-activity';
$sfa-team-activity-x: 372px;
$sfa-team-activity-y: 37px;
$sfa-team-activity-offset-x: -372px;
$sfa-team-activity-offset-y: -37px;
$sfa-team-activity-width: 38px;
$sfa-team-activity-height: 38px;
$sfa-team-activity-total-width: 510px;
$sfa-team-activity-total-height: 288px;
$sfa-team-activity-image: '~base/images/sprite.png';
$sfa-team-activity: (372px, 37px, -372px, -37px, 38px, 38px, 510px, 288px, '~base/images/sprite.png', 'sfa-team-activity', );
$sfa-team-betting-name: 'sfa-team-betting';
$sfa-team-betting-x: 258px;
$sfa-team-betting-y: 37px;
$sfa-team-betting-offset-x: -258px;
$sfa-team-betting-offset-y: -37px;
$sfa-team-betting-width: 38px;
$sfa-team-betting-height: 38px;
$sfa-team-betting-total-width: 510px;
$sfa-team-betting-total-height: 288px;
$sfa-team-betting-image: '~base/images/sprite.png';
$sfa-team-betting: (258px, 37px, -258px, -37px, 38px, 38px, 510px, 288px, '~base/images/sprite.png', 'sfa-team-betting', );
$sfa-team-logo-name: 'sfa-team-logo';
$sfa-team-logo-x: 0px;
$sfa-team-logo-y: 0px;
$sfa-team-logo-offset-x: 0px;
$sfa-team-logo-offset-y: 0px;
$sfa-team-logo-width: 204px;
$sfa-team-logo-height: 77px;
$sfa-team-logo-total-width: 510px;
$sfa-team-logo-total-height: 288px;
$sfa-team-logo-image: '~base/images/sprite.png';
$sfa-team-logo: (0px, 0px, 0px, 0px, 204px, 77px, 510px, 288px, '~base/images/sprite.png', 'sfa-team-logo', );
$sfa-team-prize-name: 'sfa-team-prize';
$sfa-team-prize-x: 334px;
$sfa-team-prize-y: 37px;
$sfa-team-prize-offset-x: -334px;
$sfa-team-prize-offset-y: -37px;
$sfa-team-prize-width: 38px;
$sfa-team-prize-height: 38px;
$sfa-team-prize-total-width: 510px;
$sfa-team-prize-total-height: 288px;
$sfa-team-prize-image: '~base/images/sprite.png';
$sfa-team-prize: (334px, 37px, -334px, -37px, 38px, 38px, 510px, 288px, '~base/images/sprite.png', 'sfa-team-prize', );
$sfa-team-profit-name: 'sfa-team-profit';
$sfa-team-profit-x: 296px;
$sfa-team-profit-y: 37px;
$sfa-team-profit-offset-x: -296px;
$sfa-team-profit-offset-y: -37px;
$sfa-team-profit-width: 38px;
$sfa-team-profit-height: 38px;
$sfa-team-profit-total-width: 510px;
$sfa-team-profit-total-height: 288px;
$sfa-team-profit-image: '~base/images/sprite.png';
$sfa-team-profit: (296px, 37px, -296px, -37px, 38px, 38px, 510px, 288px, '~base/images/sprite.png', 'sfa-team-profit', );
$sfa-time-picker-name: 'sfa-time-picker';
$sfa-time-picker-x: 434px;
$sfa-time-picker-y: 220px;
$sfa-time-picker-offset-x: -434px;
$sfa-time-picker-offset-y: -220px;
$sfa-time-picker-width: 15px;
$sfa-time-picker-height: 16px;
$sfa-time-picker-total-width: 510px;
$sfa-time-picker-total-height: 288px;
$sfa-time-picker-image: '~base/images/sprite.png';
$sfa-time-picker: (434px, 220px, -434px, -220px, 15px, 16px, 510px, 288px, '~base/images/sprite.png', 'sfa-time-picker', );
$sfa-tip-heart-name: 'sfa-tip-heart';
$sfa-tip-heart-x: 126px;
$sfa-tip-heart-y: 196px;
$sfa-tip-heart-offset-x: -126px;
$sfa-tip-heart-offset-y: -196px;
$sfa-tip-heart-width: 21px;
$sfa-tip-heart-height: 21px;
$sfa-tip-heart-total-width: 510px;
$sfa-tip-heart-total-height: 288px;
$sfa-tip-heart-image: '~base/images/sprite.png';
$sfa-tip-heart: (126px, 196px, -126px, -196px, 21px, 21px, 510px, 288px, '~base/images/sprite.png', 'sfa-tip-heart', );
$sfa-tip-trophy-name: 'sfa-tip-trophy';
$sfa-tip-trophy-x: 105px;
$sfa-tip-trophy-y: 196px;
$sfa-tip-trophy-offset-x: -105px;
$sfa-tip-trophy-offset-y: -196px;
$sfa-tip-trophy-width: 21px;
$sfa-tip-trophy-height: 21px;
$sfa-tip-trophy-total-width: 510px;
$sfa-tip-trophy-total-height: 288px;
$sfa-tip-trophy-image: '~base/images/sprite.png';
$sfa-tip-trophy: (105px, 196px, -105px, -196px, 21px, 21px, 510px, 288px, '~base/images/sprite.png', 'sfa-tip-trophy', );
$sfa-trend-name: 'sfa-trend';
$sfa-trend-x: 260px;
$sfa-trend-y: 220px;
$sfa-trend-offset-x: -260px;
$sfa-trend-offset-y: -220px;
$sfa-trend-width: 26px;
$sfa-trend-height: 26px;
$sfa-trend-total-width: 510px;
$sfa-trend-total-height: 288px;
$sfa-trend-image: '~base/images/sprite.png';
$sfa-trend: (260px, 220px, -260px, -220px, 26px, 26px, 510px, 288px, '~base/images/sprite.png', 'sfa-trend', );
$sfa-triangle-down-name: 'sfa-triangle-down';
$sfa-triangle-down-x: 480px;
$sfa-triangle-down-y: 64px;
$sfa-triangle-down-offset-x: -480px;
$sfa-triangle-down-offset-y: -64px;
$sfa-triangle-down-width: 11px;
$sfa-triangle-down-height: 8px;
$sfa-triangle-down-total-width: 510px;
$sfa-triangle-down-total-height: 288px;
$sfa-triangle-down-image: '~base/images/sprite.png';
$sfa-triangle-down: (480px, 64px, -480px, -64px, 11px, 8px, 510px, 288px, '~base/images/sprite.png', 'sfa-triangle-down', );
$sfa-triangle-up-name: 'sfa-triangle-up';
$sfa-triangle-up-x: 491px;
$sfa-triangle-up-y: 64px;
$sfa-triangle-up-offset-x: -491px;
$sfa-triangle-up-offset-y: -64px;
$sfa-triangle-up-width: 11px;
$sfa-triangle-up-height: 8px;
$sfa-triangle-up-total-width: 510px;
$sfa-triangle-up-total-height: 288px;
$sfa-triangle-up-image: '~base/images/sprite.png';
$sfa-triangle-up: (491px, 64px, -491px, -64px, 11px, 8px, 510px, 288px, '~base/images/sprite.png', 'sfa-triangle-up', );
$sfa-vip-0-name: 'sfa-vip-0';
$sfa-vip-0-x: 120px;
$sfa-vip-0-y: 172px;
$sfa-vip-0-offset-x: -120px;
$sfa-vip-0-offset-y: -172px;
$sfa-vip-0-width: 43px;
$sfa-vip-0-height: 13px;
$sfa-vip-0-total-width: 510px;
$sfa-vip-0-total-height: 288px;
$sfa-vip-0-image: '~base/images/sprite.png';
$sfa-vip-0: (120px, 172px, -120px, -172px, 43px, 13px, 510px, 288px, '~base/images/sprite.png', 'sfa-vip-0', );
$sfa-vip-1-name: 'sfa-vip-1';
$sfa-vip-1-x: 163px;
$sfa-vip-1-y: 172px;
$sfa-vip-1-offset-x: -163px;
$sfa-vip-1-offset-y: -172px;
$sfa-vip-1-width: 43px;
$sfa-vip-1-height: 13px;
$sfa-vip-1-total-width: 510px;
$sfa-vip-1-total-height: 288px;
$sfa-vip-1-image: '~base/images/sprite.png';
$sfa-vip-1: (163px, 172px, -163px, -172px, 43px, 13px, 510px, 288px, '~base/images/sprite.png', 'sfa-vip-1', );
$spritesheet-width: 510px;
$spritesheet-height: 288px;
$spritesheet-image: '~base/images/sprite.png';
$spritesheet-sprites: ($sfa-arrow-down, $sfa-arrow, $sfa-ad-lock, $sfa-dialog-info, $sfa-dialog-success, $sfa-dropmenu-caret-up, $sfa-face-success, $sfa-find-by-card, $sfa-find-by-question, $sfa-fp-security-card, $sfa-fp-security-question, $sfa-bc-mmc-hammer, $sfa-bc-play-brief, $sfa-bc-play-normal-active, $sfa-bc-play-normal, $sfa-bc-play-optional, $sfa-bc-play-super-active, $sfa-bc-play-super, $sfa-btn-add, $sfa-btn-hook, $sfa-btn-upload, $sfa-cog, $sfa-divid-add, $sfa-divid-grant, $sfa-double-down, $sfa-double-up, $sfa-dynamic-soon, $sfa-entry-hot, $sfa-entry-letter, $sfa-exchange, $sfa-f-certificate, $sfa-f-feedback-a, $sfa-f-feedback, $sfa-f-help-a, $sfa-f-help, $sfa-f-intro-a, $sfa-f-intro, $sfa-f-link-test-a, $sfa-f-link-test, $sfa-f-phone-a, $sfa-f-phone, $sfa-grid-empty, $sfa-grid-no-result, $sfa-h-windows, $sfa-h-letter, $sfa-h-logout, $sfa-h-mute, $sfa-h-security-off, $sfa-h-security, $sfa-h-vol, $sfa-headphones, $sfa-help-coins, $sfa-help-hot-prod, $sfa-help-question, $sfa-help-yan, $sfa-m-active, $sfa-m-agency, $sfa-m-dashboard, $sfa-m-download, $sfa-m-fund, $sfa-m-help, $sfa-m-notice, $sfa-m-safe, $sfa-m-user, $sfa-sidebar-activity, $sfa-sidebar-agency, $sfa-sidebar-chevron-right, $sfa-sidebar-fund, $sfa-sidebar-help, $sfa-sidebar-history, $sfa-sidebar-news, $sfa-sidebar-safe, $sfa-sub-title-user, $sfa-news-discount, $sfa-news-fund, $sfa-news-user, $sfa-online-tip, $sfa-re-tip-goon, $sfa-re-tip-help, $sfa-re-tip-result, $sfa-re-tip-service, $sfa-refresh, $sfa-team-activity, $sfa-team-betting, $sfa-team-logo, $sfa-team-prize, $sfa-team-profit, $sfa-time-picker, $sfa-tip-heart, $sfa-tip-trophy, $sfa-trend, $sfa-triangle-down, $sfa-triangle-up, $sfa-vip-0, $sfa-vip-1, );
$spritesheet: (510px, 288px, '~base/images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
