/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sfa-arrow-down-name: 'sfa-arrow-down';
$sfa-arrow-down-x: 509px;
$sfa-arrow-down-y: 267px;
$sfa-arrow-down-offset-x: -509px;
$sfa-arrow-down-offset-y: -267px;
$sfa-arrow-down-width: 8px;
$sfa-arrow-down-height: 15px;
$sfa-arrow-down-total-width: 562px;
$sfa-arrow-down-total-height: 348px;
$sfa-arrow-down-image: '~base/images/sprite.png';
$sfa-arrow-down: (509px, 267px, -509px, -267px, 8px, 15px, 562px, 348px, '~base/images/sprite.png', 'sfa-arrow-down', );
$sfa-arrow-name: 'sfa-arrow';
$sfa-arrow-x: 545px;
$sfa-arrow-y: 91px;
$sfa-arrow-offset-x: -545px;
$sfa-arrow-offset-y: -91px;
$sfa-arrow-width: 7px;
$sfa-arrow-height: 4px;
$sfa-arrow-total-width: 562px;
$sfa-arrow-total-height: 348px;
$sfa-arrow-image: '~base/images/sprite.png';
$sfa-arrow: (545px, 91px, -545px, -91px, 7px, 4px, 562px, 348px, '~base/images/sprite.png', 'sfa-arrow', );
$sfa-ad-badge-gray-name: 'sfa-ad-badge-gray';
$sfa-ad-badge-gray-x: 0px;
$sfa-ad-badge-gray-y: 0px;
$sfa-ad-badge-gray-offset-x: 0px;
$sfa-ad-badge-gray-offset-y: 0px;
$sfa-ad-badge-gray-width: 128px;
$sfa-ad-badge-gray-height: 98px;
$sfa-ad-badge-gray-total-width: 562px;
$sfa-ad-badge-gray-total-height: 348px;
$sfa-ad-badge-gray-image: '~base/images/sprite.png';
$sfa-ad-badge-gray: (0px, 0px, 0px, 0px, 128px, 98px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-badge-gray', );
$sfa-ad-badge-over-name: 'sfa-ad-badge-over';
$sfa-ad-badge-over-x: 110px;
$sfa-ad-badge-over-y: 98px;
$sfa-ad-badge-over-offset-x: -110px;
$sfa-ad-badge-over-offset-y: -98px;
$sfa-ad-badge-over-width: 110px;
$sfa-ad-badge-over-height: 110px;
$sfa-ad-badge-over-total-width: 562px;
$sfa-ad-badge-over-total-height: 348px;
$sfa-ad-badge-over-image: '~base/images/sprite.png';
$sfa-ad-badge-over: (110px, 98px, -110px, -98px, 110px, 110px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-badge-over', );
$sfa-ad-badge-pink-name: 'sfa-ad-badge-pink';
$sfa-ad-badge-pink-x: 128px;
$sfa-ad-badge-pink-y: 0px;
$sfa-ad-badge-pink-offset-x: -128px;
$sfa-ad-badge-pink-offset-y: 0px;
$sfa-ad-badge-pink-width: 128px;
$sfa-ad-badge-pink-height: 98px;
$sfa-ad-badge-pink-total-width: 562px;
$sfa-ad-badge-pink-total-height: 348px;
$sfa-ad-badge-pink-image: '~base/images/sprite.png';
$sfa-ad-badge-pink: (128px, 0px, -128px, 0px, 128px, 98px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-badge-pink', );
$sfa-ad-badge-name: 'sfa-ad-badge';
$sfa-ad-badge-x: 0px;
$sfa-ad-badge-y: 98px;
$sfa-ad-badge-offset-x: 0px;
$sfa-ad-badge-offset-y: -98px;
$sfa-ad-badge-width: 110px;
$sfa-ad-badge-height: 110px;
$sfa-ad-badge-total-width: 562px;
$sfa-ad-badge-total-height: 348px;
$sfa-ad-badge-image: '~base/images/sprite.png';
$sfa-ad-badge: (0px, 98px, 0px, -98px, 110px, 110px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-badge', );
$sfa-ad-lock-name: 'sfa-ad-lock';
$sfa-ad-lock-x: 220px;
$sfa-ad-lock-y: 146px;
$sfa-ad-lock-offset-x: -220px;
$sfa-ad-lock-offset-y: -146px;
$sfa-ad-lock-width: 34px;
$sfa-ad-lock-height: 48px;
$sfa-ad-lock-total-width: 562px;
$sfa-ad-lock-total-height: 348px;
$sfa-ad-lock-image: '~base/images/sprite.png';
$sfa-ad-lock: (220px, 146px, -220px, -146px, 34px, 48px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-lock', );
$sfa-ad-logo-mid-name: 'sfa-ad-logo-mid';
$sfa-ad-logo-mid-x: 469px;
$sfa-ad-logo-mid-y: 109px;
$sfa-ad-logo-mid-offset-x: -469px;
$sfa-ad-logo-mid-offset-y: -109px;
$sfa-ad-logo-mid-width: 37px;
$sfa-ad-logo-mid-height: 37px;
$sfa-ad-logo-mid-total-width: 562px;
$sfa-ad-logo-mid-total-height: 348px;
$sfa-ad-logo-mid-image: '~base/images/sprite.png';
$sfa-ad-logo-mid: (469px, 109px, -469px, -109px, 37px, 37px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-logo-mid', );
$sfa-ad-logo-yb-name: 'sfa-ad-logo-yb';
$sfa-ad-logo-yb-x: 0px;
$sfa-ad-logo-yb-y: 267px;
$sfa-ad-logo-yb-offset-x: 0px;
$sfa-ad-logo-yb-offset-y: -267px;
$sfa-ad-logo-yb-width: 31px;
$sfa-ad-logo-yb-height: 31px;
$sfa-ad-logo-yb-total-width: 562px;
$sfa-ad-logo-yb-total-height: 348px;
$sfa-ad-logo-yb-image: '~base/images/sprite.png';
$sfa-ad-logo-yb: (0px, 267px, 0px, -267px, 31px, 31px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-logo-yb', );
$sfa-ad-logo-name: 'sfa-ad-logo';
$sfa-ad-logo-x: 506px;
$sfa-ad-logo-y: 109px;
$sfa-ad-logo-offset-x: -506px;
$sfa-ad-logo-offset-y: -109px;
$sfa-ad-logo-width: 35px;
$sfa-ad-logo-height: 35px;
$sfa-ad-logo-total-width: 562px;
$sfa-ad-logo-total-height: 348px;
$sfa-ad-logo-image: '~base/images/sprite.png';
$sfa-ad-logo: (506px, 109px, -506px, -109px, 35px, 35px, 562px, 348px, '~base/images/sprite.png', 'sfa-ad-logo', );
$sfa-db-dynamic-name: 'sfa-db-dynamic';
$sfa-db-dynamic-x: 369px;
$sfa-db-dynamic-y: 208px;
$sfa-db-dynamic-offset-x: -369px;
$sfa-db-dynamic-offset-y: -208px;
$sfa-db-dynamic-width: 26px;
$sfa-db-dynamic-height: 26px;
$sfa-db-dynamic-total-width: 562px;
$sfa-db-dynamic-total-height: 348px;
$sfa-db-dynamic-image: '~base/images/sprite.png';
$sfa-db-dynamic: (369px, 208px, -369px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-db-dynamic', );
$sfa-dialog-info-name: 'sfa-dialog-info';
$sfa-dialog-info-x: 52px;
$sfa-dialog-info-y: 208px;
$sfa-dialog-info-offset-x: -52px;
$sfa-dialog-info-offset-y: -208px;
$sfa-dialog-info-width: 45px;
$sfa-dialog-info-height: 45px;
$sfa-dialog-info-total-width: 562px;
$sfa-dialog-info-total-height: 348px;
$sfa-dialog-info-image: '~base/images/sprite.png';
$sfa-dialog-info: (52px, 208px, -52px, -208px, 45px, 45px, 562px, 348px, '~base/images/sprite.png', 'sfa-dialog-info', );
$sfa-dialog-success-name: 'sfa-dialog-success';
$sfa-dialog-success-x: 365px;
$sfa-dialog-success-y: 109px;
$sfa-dialog-success-offset-x: -365px;
$sfa-dialog-success-offset-y: -109px;
$sfa-dialog-success-width: 50px;
$sfa-dialog-success-height: 50px;
$sfa-dialog-success-total-width: 562px;
$sfa-dialog-success-total-height: 348px;
$sfa-dialog-success-image: '~base/images/sprite.png';
$sfa-dialog-success: (365px, 109px, -365px, -109px, 50px, 50px, 562px, 348px, '~base/images/sprite.png', 'sfa-dialog-success', );
$sfa-dropmenu-caret-up-name: 'sfa-dropmenu-caret-up';
$sfa-dropmenu-caret-up-x: 307px;
$sfa-dropmenu-caret-up-y: 97px;
$sfa-dropmenu-caret-up-offset-x: -307px;
$sfa-dropmenu-caret-up-offset-y: -97px;
$sfa-dropmenu-caret-up-width: 25px;
$sfa-dropmenu-caret-up-height: 12px;
$sfa-dropmenu-caret-up-total-width: 562px;
$sfa-dropmenu-caret-up-total-height: 348px;
$sfa-dropmenu-caret-up-image: '~base/images/sprite.png';
$sfa-dropmenu-caret-up: (307px, 97px, -307px, -97px, 25px, 12px, 562px, 348px, '~base/images/sprite.png', 'sfa-dropmenu-caret-up', );
$sfa-face-success-name: 'sfa-face-success';
$sfa-face-success-x: 314px;
$sfa-face-success-y: 109px;
$sfa-face-success-offset-x: -314px;
$sfa-face-success-offset-y: -109px;
$sfa-face-success-width: 51px;
$sfa-face-success-height: 51px;
$sfa-face-success-total-width: 562px;
$sfa-face-success-total-height: 348px;
$sfa-face-success-image: '~base/images/sprite.png';
$sfa-face-success: (314px, 109px, -314px, -109px, 51px, 51px, 562px, 348px, '~base/images/sprite.png', 'sfa-face-success', );
$sfa-find-by-card-name: 'sfa-find-by-card';
$sfa-find-by-card-x: 415px;
$sfa-find-by-card-y: 109px;
$sfa-find-by-card-offset-x: -415px;
$sfa-find-by-card-offset-y: -109px;
$sfa-find-by-card-width: 54px;
$sfa-find-by-card-height: 38px;
$sfa-find-by-card-total-width: 562px;
$sfa-find-by-card-total-height: 348px;
$sfa-find-by-card-image: '~base/images/sprite.png';
$sfa-find-by-card: (415px, 109px, -415px, -109px, 54px, 38px, 562px, 348px, '~base/images/sprite.png', 'sfa-find-by-card', );
$sfa-find-by-question-name: 'sfa-find-by-question';
$sfa-find-by-question-x: 0px;
$sfa-find-by-question-y: 208px;
$sfa-find-by-question-offset-x: 0px;
$sfa-find-by-question-offset-y: -208px;
$sfa-find-by-question-width: 52px;
$sfa-find-by-question-height: 59px;
$sfa-find-by-question-total-width: 562px;
$sfa-find-by-question-total-height: 348px;
$sfa-find-by-question-image: '~base/images/sprite.png';
$sfa-find-by-question: (0px, 208px, 0px, -208px, 52px, 59px, 562px, 348px, '~base/images/sprite.png', 'sfa-find-by-question', );
$sfa-fp-security-card-name: 'sfa-fp-securityCard';
$sfa-fp-security-card-x: 487px;
$sfa-fp-security-card-y: 37px;
$sfa-fp-security-card-offset-x: -487px;
$sfa-fp-security-card-offset-y: -37px;
$sfa-fp-security-card-width: 58px;
$sfa-fp-security-card-height: 58px;
$sfa-fp-security-card-total-width: 562px;
$sfa-fp-security-card-total-height: 348px;
$sfa-fp-security-card-image: '~base/images/sprite.png';
$sfa-fp-security-card: (487px, 37px, -487px, -37px, 58px, 58px, 562px, 348px, '~base/images/sprite.png', 'sfa-fp-securityCard', );
$sfa-fp-security-question-name: 'sfa-fp-securityQuestion';
$sfa-fp-security-question-x: 256px;
$sfa-fp-security-question-y: 109px;
$sfa-fp-security-question-offset-x: -256px;
$sfa-fp-security-question-offset-y: -109px;
$sfa-fp-security-question-width: 58px;
$sfa-fp-security-question-height: 58px;
$sfa-fp-security-question-total-width: 562px;
$sfa-fp-security-question-total-height: 348px;
$sfa-fp-security-question-image: '~base/images/sprite.png';
$sfa-fp-security-question: (256px, 109px, -256px, -109px, 58px, 58px, 562px, 348px, '~base/images/sprite.png', 'sfa-fp-securityQuestion', );
$sfa-grid-empty-name: 'sfa-grid-empty';
$sfa-grid-empty-x: 256px;
$sfa-grid-empty-y: 37px;
$sfa-grid-empty-offset-x: -256px;
$sfa-grid-empty-offset-y: -37px;
$sfa-grid-empty-width: 51px;
$sfa-grid-empty-height: 72px;
$sfa-grid-empty-total-width: 562px;
$sfa-grid-empty-total-height: 348px;
$sfa-grid-empty-image: '~base/images/sprite.png';
$sfa-grid-empty: (256px, 37px, -256px, -37px, 51px, 72px, 562px, 348px, '~base/images/sprite.png', 'sfa-grid-empty', );
$sfa-help-tip-name: 'sfa-help-tip';
$sfa-help-tip-x: 238px;
$sfa-help-tip-y: 194px;
$sfa-help-tip-offset-x: -238px;
$sfa-help-tip-offset-y: -194px;
$sfa-help-tip-width: 13px;
$sfa-help-tip-height: 13px;
$sfa-help-tip-total-width: 562px;
$sfa-help-tip-total-height: 348px;
$sfa-help-tip-image: '~base/images/sprite.png';
$sfa-help-tip: (238px, 194px, -238px, -194px, 13px, 13px, 562px, 348px, '~base/images/sprite.png', 'sfa-help-tip', );
$sfa-bc-bet-trend-name: 'sfa-bc-bet-trend';
$sfa-bc-bet-trend-x: 169px;
$sfa-bc-bet-trend-y: 208px;
$sfa-bc-bet-trend-offset-x: -169px;
$sfa-bc-bet-trend-offset-y: -208px;
$sfa-bc-bet-trend-width: 34px;
$sfa-bc-bet-trend-height: 29px;
$sfa-bc-bet-trend-total-width: 562px;
$sfa-bc-bet-trend-total-height: 348px;
$sfa-bc-bet-trend-image: '~base/images/sprite.png';
$sfa-bc-bet-trend: (169px, 208px, -169px, -208px, 34px, 29px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-bet-trend', );
$sfa-bc-explain-name: 'sfa-bc-explain';
$sfa-bc-explain-x: 203px;
$sfa-bc-explain-y: 208px;
$sfa-bc-explain-offset-x: -203px;
$sfa-bc-explain-offset-y: -208px;
$sfa-bc-explain-width: 34px;
$sfa-bc-explain-height: 29px;
$sfa-bc-explain-total-width: 562px;
$sfa-bc-explain-total-height: 348px;
$sfa-bc-explain-image: '~base/images/sprite.png';
$sfa-bc-explain: (203px, 208px, -203px, -208px, 34px, 29px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-explain', );
$sfa-bc-video-name: 'sfa-bc-video';
$sfa-bc-video-x: 135px;
$sfa-bc-video-y: 208px;
$sfa-bc-video-offset-x: -135px;
$sfa-bc-video-offset-y: -208px;
$sfa-bc-video-width: 34px;
$sfa-bc-video-height: 29px;
$sfa-bc-video-total-width: 562px;
$sfa-bc-video-total-height: 348px;
$sfa-bc-video-image: '~base/images/sprite.png';
$sfa-bc-video: (135px, 208px, -135px, -208px, 34px, 29px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-video', );
$sfa-bc-play-brief-name: 'sfa-bc-play-brief';
$sfa-bc-play-brief-x: 403px;
$sfa-bc-play-brief-y: 267px;
$sfa-bc-play-brief-offset-x: -403px;
$sfa-bc-play-brief-offset-y: -267px;
$sfa-bc-play-brief-width: 19px;
$sfa-bc-play-brief-height: 16px;
$sfa-bc-play-brief-total-width: 562px;
$sfa-bc-play-brief-total-height: 348px;
$sfa-bc-play-brief-image: '~base/images/sprite.png';
$sfa-bc-play-brief: (403px, 267px, -403px, -267px, 19px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-brief', );
$sfa-bc-play-normal-active-name: 'sfa-bc-play-normal-active';
$sfa-bc-play-normal-active-x: 290px;
$sfa-bc-play-normal-active-y: 267px;
$sfa-bc-play-normal-active-offset-x: -290px;
$sfa-bc-play-normal-active-offset-y: -267px;
$sfa-bc-play-normal-active-width: 22px;
$sfa-bc-play-normal-active-height: 18px;
$sfa-bc-play-normal-active-total-width: 562px;
$sfa-bc-play-normal-active-total-height: 348px;
$sfa-bc-play-normal-active-image: '~base/images/sprite.png';
$sfa-bc-play-normal-active: (290px, 267px, -290px, -267px, 22px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-normal-active', );
$sfa-bc-play-normal-name: 'sfa-bc-play-normal';
$sfa-bc-play-normal-x: 268px;
$sfa-bc-play-normal-y: 267px;
$sfa-bc-play-normal-offset-x: -268px;
$sfa-bc-play-normal-offset-y: -267px;
$sfa-bc-play-normal-width: 22px;
$sfa-bc-play-normal-height: 18px;
$sfa-bc-play-normal-total-width: 562px;
$sfa-bc-play-normal-total-height: 348px;
$sfa-bc-play-normal-image: '~base/images/sprite.png';
$sfa-bc-play-normal: (268px, 267px, -268px, -267px, 22px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-normal', );
$sfa-bc-play-optional-active-name: 'sfa-bc-play-optional-active';
$sfa-bc-play-optional-active-x: 39px;
$sfa-bc-play-optional-active-y: 298px;
$sfa-bc-play-optional-active-offset-x: -39px;
$sfa-bc-play-optional-active-offset-y: -298px;
$sfa-bc-play-optional-active-width: 21px;
$sfa-bc-play-optional-active-height: 18px;
$sfa-bc-play-optional-active-total-width: 562px;
$sfa-bc-play-optional-active-total-height: 348px;
$sfa-bc-play-optional-active-image: '~base/images/sprite.png';
$sfa-bc-play-optional-active: (39px, 298px, -39px, -298px, 21px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-optional-active', );
$sfa-bc-play-optional-name: 'sfa-bc-play-optional';
$sfa-bc-play-optional-x: 60px;
$sfa-bc-play-optional-y: 298px;
$sfa-bc-play-optional-offset-x: -60px;
$sfa-bc-play-optional-offset-y: -298px;
$sfa-bc-play-optional-width: 21px;
$sfa-bc-play-optional-height: 18px;
$sfa-bc-play-optional-total-width: 562px;
$sfa-bc-play-optional-total-height: 348px;
$sfa-bc-play-optional-image: '~base/images/sprite.png';
$sfa-bc-play-optional: (60px, 298px, -60px, -298px, 21px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-optional', );
$sfa-bc-play-super-active-name: 'sfa-bc-play-super-active';
$sfa-bc-play-super-active-x: 246px;
$sfa-bc-play-super-active-y: 267px;
$sfa-bc-play-super-active-offset-x: -246px;
$sfa-bc-play-super-active-offset-y: -267px;
$sfa-bc-play-super-active-width: 22px;
$sfa-bc-play-super-active-height: 18px;
$sfa-bc-play-super-active-total-width: 562px;
$sfa-bc-play-super-active-total-height: 348px;
$sfa-bc-play-super-active-image: '~base/images/sprite.png';
$sfa-bc-play-super-active: (246px, 267px, -246px, -267px, 22px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-super-active', );
$sfa-bc-play-super-name: 'sfa-bc-play-super';
$sfa-bc-play-super-x: 312px;
$sfa-bc-play-super-y: 267px;
$sfa-bc-play-super-offset-x: -312px;
$sfa-bc-play-super-offset-y: -267px;
$sfa-bc-play-super-width: 22px;
$sfa-bc-play-super-height: 18px;
$sfa-bc-play-super-total-width: 562px;
$sfa-bc-play-super-total-height: 348px;
$sfa-bc-play-super-image: '~base/images/sprite.png';
$sfa-bc-play-super: (312px, 267px, -312px, -267px, 22px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-bc-play-super', );
$sfa-btn-add-name: 'sfa-btn-add';
$sfa-btn-add-x: 467px;
$sfa-btn-add-y: 267px;
$sfa-btn-add-offset-x: -467px;
$sfa-btn-add-offset-y: -267px;
$sfa-btn-add-width: 14px;
$sfa-btn-add-height: 16px;
$sfa-btn-add-total-width: 562px;
$sfa-btn-add-total-height: 348px;
$sfa-btn-add-image: '~base/images/sprite.png';
$sfa-btn-add: (467px, 267px, -467px, -267px, 14px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-btn-add', );
$sfa-btn-create-name: 'sfa-btn-create';
$sfa-btn-create-x: 481px;
$sfa-btn-create-y: 267px;
$sfa-btn-create-offset-x: -481px;
$sfa-btn-create-offset-y: -267px;
$sfa-btn-create-width: 14px;
$sfa-btn-create-height: 16px;
$sfa-btn-create-total-width: 562px;
$sfa-btn-create-total-height: 348px;
$sfa-btn-create-image: '~base/images/sprite.png';
$sfa-btn-create: (481px, 267px, -481px, -267px, 14px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-btn-create', );
$sfa-btn-hook-name: 'sfa-btn-hook';
$sfa-btn-hook-x: 453px;
$sfa-btn-hook-y: 267px;
$sfa-btn-hook-offset-x: -453px;
$sfa-btn-hook-offset-y: -267px;
$sfa-btn-hook-width: 14px;
$sfa-btn-hook-height: 16px;
$sfa-btn-hook-total-width: 562px;
$sfa-btn-hook-total-height: 348px;
$sfa-btn-hook-image: '~base/images/sprite.png';
$sfa-btn-hook: (453px, 267px, -453px, -267px, 14px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-btn-hook', );
$sfa-btn-upload-name: 'sfa-btn-upload';
$sfa-btn-upload-x: 495px;
$sfa-btn-upload-y: 267px;
$sfa-btn-upload-offset-x: -495px;
$sfa-btn-upload-offset-y: -267px;
$sfa-btn-upload-width: 14px;
$sfa-btn-upload-height: 16px;
$sfa-btn-upload-total-width: 562px;
$sfa-btn-upload-total-height: 348px;
$sfa-btn-upload-image: '~base/images/sprite.png';
$sfa-btn-upload: (495px, 267px, -495px, -267px, 14px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-btn-upload', );
$sfa-cog-name: 'sfa-cog';
$sfa-cog-x: 153px;
$sfa-cog-y: 298px;
$sfa-cog-offset-x: -153px;
$sfa-cog-offset-y: -298px;
$sfa-cog-width: 17px;
$sfa-cog-height: 17px;
$sfa-cog-total-width: 562px;
$sfa-cog-total-height: 348px;
$sfa-cog-image: '~base/images/sprite.png';
$sfa-cog: (153px, 298px, -153px, -298px, 17px, 17px, 562px, 348px, '~base/images/sprite.png', 'sfa-cog', );
$sfa-cd-0-name: 'sfa-cd-0';
$sfa-cd-0-x: 50px;
$sfa-cd-0-y: 267px;
$sfa-cd-0-offset-x: -50px;
$sfa-cd-0-offset-y: -267px;
$sfa-cd-0-width: 19px;
$sfa-cd-0-height: 30px;
$sfa-cd-0-total-width: 562px;
$sfa-cd-0-total-height: 348px;
$sfa-cd-0-image: '~base/images/sprite.png';
$sfa-cd-0: (50px, 267px, -50px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-0', );
$sfa-cd-1-name: 'sfa-cd-1';
$sfa-cd-1-x: 69px;
$sfa-cd-1-y: 267px;
$sfa-cd-1-offset-x: -69px;
$sfa-cd-1-offset-y: -267px;
$sfa-cd-1-width: 19px;
$sfa-cd-1-height: 30px;
$sfa-cd-1-total-width: 562px;
$sfa-cd-1-total-height: 348px;
$sfa-cd-1-image: '~base/images/sprite.png';
$sfa-cd-1: (69px, 267px, -69px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-1', );
$sfa-cd-2-name: 'sfa-cd-2';
$sfa-cd-2-x: 88px;
$sfa-cd-2-y: 267px;
$sfa-cd-2-offset-x: -88px;
$sfa-cd-2-offset-y: -267px;
$sfa-cd-2-width: 19px;
$sfa-cd-2-height: 30px;
$sfa-cd-2-total-width: 562px;
$sfa-cd-2-total-height: 348px;
$sfa-cd-2-image: '~base/images/sprite.png';
$sfa-cd-2: (88px, 267px, -88px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-2', );
$sfa-cd-3-name: 'sfa-cd-3';
$sfa-cd-3-x: 31px;
$sfa-cd-3-y: 267px;
$sfa-cd-3-offset-x: -31px;
$sfa-cd-3-offset-y: -267px;
$sfa-cd-3-width: 19px;
$sfa-cd-3-height: 30px;
$sfa-cd-3-total-width: 562px;
$sfa-cd-3-total-height: 348px;
$sfa-cd-3-image: '~base/images/sprite.png';
$sfa-cd-3: (31px, 267px, -31px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-3', );
$sfa-cd-4-name: 'sfa-cd-4';
$sfa-cd-4-x: 126px;
$sfa-cd-4-y: 267px;
$sfa-cd-4-offset-x: -126px;
$sfa-cd-4-offset-y: -267px;
$sfa-cd-4-width: 19px;
$sfa-cd-4-height: 30px;
$sfa-cd-4-total-width: 562px;
$sfa-cd-4-total-height: 348px;
$sfa-cd-4-image: '~base/images/sprite.png';
$sfa-cd-4: (126px, 267px, -126px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-4', );
$sfa-cd-5-name: 'sfa-cd-5';
$sfa-cd-5-x: 145px;
$sfa-cd-5-y: 267px;
$sfa-cd-5-offset-x: -145px;
$sfa-cd-5-offset-y: -267px;
$sfa-cd-5-width: 19px;
$sfa-cd-5-height: 30px;
$sfa-cd-5-total-width: 562px;
$sfa-cd-5-total-height: 348px;
$sfa-cd-5-image: '~base/images/sprite.png';
$sfa-cd-5: (145px, 267px, -145px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-5', );
$sfa-cd-6-name: 'sfa-cd-6';
$sfa-cd-6-x: 164px;
$sfa-cd-6-y: 267px;
$sfa-cd-6-offset-x: -164px;
$sfa-cd-6-offset-y: -267px;
$sfa-cd-6-width: 19px;
$sfa-cd-6-height: 30px;
$sfa-cd-6-total-width: 562px;
$sfa-cd-6-total-height: 348px;
$sfa-cd-6-image: '~base/images/sprite.png';
$sfa-cd-6: (164px, 267px, -164px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-6', );
$sfa-cd-7-name: 'sfa-cd-7';
$sfa-cd-7-x: 183px;
$sfa-cd-7-y: 267px;
$sfa-cd-7-offset-x: -183px;
$sfa-cd-7-offset-y: -267px;
$sfa-cd-7-width: 19px;
$sfa-cd-7-height: 30px;
$sfa-cd-7-total-width: 562px;
$sfa-cd-7-total-height: 348px;
$sfa-cd-7-image: '~base/images/sprite.png';
$sfa-cd-7: (183px, 267px, -183px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-7', );
$sfa-cd-8-name: 'sfa-cd-8';
$sfa-cd-8-x: 107px;
$sfa-cd-8-y: 267px;
$sfa-cd-8-offset-x: -107px;
$sfa-cd-8-offset-y: -267px;
$sfa-cd-8-width: 19px;
$sfa-cd-8-height: 30px;
$sfa-cd-8-total-width: 562px;
$sfa-cd-8-total-height: 348px;
$sfa-cd-8-image: '~base/images/sprite.png';
$sfa-cd-8: (107px, 267px, -107px, -267px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-8', );
$sfa-cd-9-name: 'sfa-cd-9';
$sfa-cd-9-x: 541px;
$sfa-cd-9-y: 109px;
$sfa-cd-9-offset-x: -541px;
$sfa-cd-9-offset-y: -109px;
$sfa-cd-9-width: 19px;
$sfa-cd-9-height: 30px;
$sfa-cd-9-total-width: 562px;
$sfa-cd-9-total-height: 348px;
$sfa-cd-9-image: '~base/images/sprite.png';
$sfa-cd-9: (541px, 109px, -541px, -109px, 19px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-9', );
$sfa-cd-red-0-name: 'sfa-cd-red-0';
$sfa-cd-red-0-x: 85px;
$sfa-cd-red-0-y: 321px;
$sfa-cd-red-0-offset-x: -85px;
$sfa-cd-red-0-offset-y: -321px;
$sfa-cd-red-0-width: 17px;
$sfa-cd-red-0-height: 27px;
$sfa-cd-red-0-total-width: 562px;
$sfa-cd-red-0-total-height: 348px;
$sfa-cd-red-0-image: '~base/images/sprite.png';
$sfa-cd-red-0: (85px, 321px, -85px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-0', );
$sfa-cd-red-1-name: 'sfa-cd-red-1';
$sfa-cd-red-1-x: 17px;
$sfa-cd-red-1-y: 321px;
$sfa-cd-red-1-offset-x: -17px;
$sfa-cd-red-1-offset-y: -321px;
$sfa-cd-red-1-width: 17px;
$sfa-cd-red-1-height: 27px;
$sfa-cd-red-1-total-width: 562px;
$sfa-cd-red-1-total-height: 348px;
$sfa-cd-red-1-image: '~base/images/sprite.png';
$sfa-cd-red-1: (17px, 321px, -17px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-1', );
$sfa-cd-red-2-name: 'sfa-cd-red-2';
$sfa-cd-red-2-x: 102px;
$sfa-cd-red-2-y: 321px;
$sfa-cd-red-2-offset-x: -102px;
$sfa-cd-red-2-offset-y: -321px;
$sfa-cd-red-2-width: 17px;
$sfa-cd-red-2-height: 27px;
$sfa-cd-red-2-total-width: 562px;
$sfa-cd-red-2-total-height: 348px;
$sfa-cd-red-2-image: '~base/images/sprite.png';
$sfa-cd-red-2: (102px, 321px, -102px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-2', );
$sfa-cd-red-3-name: 'sfa-cd-red-3';
$sfa-cd-red-3-x: 545px;
$sfa-cd-red-3-y: 37px;
$sfa-cd-red-3-offset-x: -545px;
$sfa-cd-red-3-offset-y: -37px;
$sfa-cd-red-3-width: 17px;
$sfa-cd-red-3-height: 27px;
$sfa-cd-red-3-total-width: 562px;
$sfa-cd-red-3-total-height: 348px;
$sfa-cd-red-3-image: '~base/images/sprite.png';
$sfa-cd-red-3: (545px, 37px, -545px, -37px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-3', );
$sfa-cd-red-4-name: 'sfa-cd-red-4';
$sfa-cd-red-4-x: 545px;
$sfa-cd-red-4-y: 64px;
$sfa-cd-red-4-offset-x: -545px;
$sfa-cd-red-4-offset-y: -64px;
$sfa-cd-red-4-width: 17px;
$sfa-cd-red-4-height: 27px;
$sfa-cd-red-4-total-width: 562px;
$sfa-cd-red-4-total-height: 348px;
$sfa-cd-red-4-image: '~base/images/sprite.png';
$sfa-cd-red-4: (545px, 64px, -545px, -64px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-4', );
$sfa-cd-red-5-name: 'sfa-cd-red-5';
$sfa-cd-red-5-x: 0px;
$sfa-cd-red-5-y: 321px;
$sfa-cd-red-5-offset-x: 0px;
$sfa-cd-red-5-offset-y: -321px;
$sfa-cd-red-5-width: 17px;
$sfa-cd-red-5-height: 27px;
$sfa-cd-red-5-total-width: 562px;
$sfa-cd-red-5-total-height: 348px;
$sfa-cd-red-5-image: '~base/images/sprite.png';
$sfa-cd-red-5: (0px, 321px, 0px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-5', );
$sfa-cd-red-6-name: 'sfa-cd-red-6';
$sfa-cd-red-6-x: 119px;
$sfa-cd-red-6-y: 321px;
$sfa-cd-red-6-offset-x: -119px;
$sfa-cd-red-6-offset-y: -321px;
$sfa-cd-red-6-width: 17px;
$sfa-cd-red-6-height: 27px;
$sfa-cd-red-6-total-width: 562px;
$sfa-cd-red-6-total-height: 348px;
$sfa-cd-red-6-image: '~base/images/sprite.png';
$sfa-cd-red-6: (119px, 321px, -119px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-6', );
$sfa-cd-red-7-name: 'sfa-cd-red-7';
$sfa-cd-red-7-x: 34px;
$sfa-cd-red-7-y: 321px;
$sfa-cd-red-7-offset-x: -34px;
$sfa-cd-red-7-offset-y: -321px;
$sfa-cd-red-7-width: 17px;
$sfa-cd-red-7-height: 27px;
$sfa-cd-red-7-total-width: 562px;
$sfa-cd-red-7-total-height: 348px;
$sfa-cd-red-7-image: '~base/images/sprite.png';
$sfa-cd-red-7: (34px, 321px, -34px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-7', );
$sfa-cd-red-8-name: 'sfa-cd-red-8';
$sfa-cd-red-8-x: 51px;
$sfa-cd-red-8-y: 321px;
$sfa-cd-red-8-offset-x: -51px;
$sfa-cd-red-8-offset-y: -321px;
$sfa-cd-red-8-width: 17px;
$sfa-cd-red-8-height: 27px;
$sfa-cd-red-8-total-width: 562px;
$sfa-cd-red-8-total-height: 348px;
$sfa-cd-red-8-image: '~base/images/sprite.png';
$sfa-cd-red-8: (51px, 321px, -51px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-8', );
$sfa-cd-red-9-name: 'sfa-cd-red-9';
$sfa-cd-red-9-x: 68px;
$sfa-cd-red-9-y: 321px;
$sfa-cd-red-9-offset-x: -68px;
$sfa-cd-red-9-offset-y: -321px;
$sfa-cd-red-9-width: 17px;
$sfa-cd-red-9-height: 27px;
$sfa-cd-red-9-total-width: 562px;
$sfa-cd-red-9-total-height: 348px;
$sfa-cd-red-9-image: '~base/images/sprite.png';
$sfa-cd-red-9: (68px, 321px, -68px, -321px, 17px, 27px, 562px, 348px, '~base/images/sprite.png', 'sfa-cd-red-9', );
$sfa-dialog-close-name: 'sfa-dialog-close';
$sfa-dialog-close-x: 237px;
$sfa-dialog-close-y: 208px;
$sfa-dialog-close-offset-x: -237px;
$sfa-dialog-close-offset-y: -208px;
$sfa-dialog-close-width: 28px;
$sfa-dialog-close-height: 28px;
$sfa-dialog-close-total-width: 562px;
$sfa-dialog-close-total-height: 348px;
$sfa-dialog-close-image: '~base/images/sprite.png';
$sfa-dialog-close: (237px, 208px, -237px, -208px, 28px, 28px, 562px, 348px, '~base/images/sprite.png', 'sfa-dialog-close', );
$sfa-divid-add-name: 'sfa-divid-add';
$sfa-divid-add-x: 202px;
$sfa-divid-add-y: 267px;
$sfa-divid-add-offset-x: -202px;
$sfa-divid-add-offset-y: -267px;
$sfa-divid-add-width: 22px;
$sfa-divid-add-height: 23px;
$sfa-divid-add-total-width: 562px;
$sfa-divid-add-total-height: 348px;
$sfa-divid-add-image: '~base/images/sprite.png';
$sfa-divid-add: (202px, 267px, -202px, -267px, 22px, 23px, 562px, 348px, '~base/images/sprite.png', 'sfa-divid-add', );
$sfa-divid-grant-name: 'sfa-divid-grant';
$sfa-divid-grant-x: 21px;
$sfa-divid-grant-y: 298px;
$sfa-divid-grant-offset-x: -21px;
$sfa-divid-grant-offset-y: -298px;
$sfa-divid-grant-width: 18px;
$sfa-divid-grant-height: 22px;
$sfa-divid-grant-total-width: 562px;
$sfa-divid-grant-total-height: 348px;
$sfa-divid-grant-image: '~base/images/sprite.png';
$sfa-divid-grant: (21px, 298px, -21px, -298px, 18px, 22px, 562px, 348px, '~base/images/sprite.png', 'sfa-divid-grant', );
$sfa-double-down-name: 'sfa-double-down';
$sfa-double-down-x: 334px;
$sfa-double-down-y: 267px;
$sfa-double-down-offset-x: -334px;
$sfa-double-down-offset-y: -267px;
$sfa-double-down-width: 23px;
$sfa-double-down-height: 17px;
$sfa-double-down-total-width: 562px;
$sfa-double-down-total-height: 348px;
$sfa-double-down-image: '~base/images/sprite.png';
$sfa-double-down: (334px, 267px, -334px, -267px, 23px, 17px, 562px, 348px, '~base/images/sprite.png', 'sfa-double-down', );
$sfa-double-up-name: 'sfa-double-up';
$sfa-double-up-x: 357px;
$sfa-double-up-y: 267px;
$sfa-double-up-offset-x: -357px;
$sfa-double-up-offset-y: -267px;
$sfa-double-up-width: 23px;
$sfa-double-up-height: 17px;
$sfa-double-up-total-width: 562px;
$sfa-double-up-total-height: 348px;
$sfa-double-up-image: '~base/images/sprite.png';
$sfa-double-up: (357px, 267px, -357px, -267px, 23px, 17px, 562px, 348px, '~base/images/sprite.png', 'sfa-double-up', );
$sfa-dynamic-soon-name: 'sfa-dynamic-soon';
$sfa-dynamic-soon-x: 220px;
$sfa-dynamic-soon-y: 98px;
$sfa-dynamic-soon-offset-x: -220px;
$sfa-dynamic-soon-offset-y: -98px;
$sfa-dynamic-soon-width: 34px;
$sfa-dynamic-soon-height: 48px;
$sfa-dynamic-soon-total-width: 562px;
$sfa-dynamic-soon-total-height: 348px;
$sfa-dynamic-soon-image: '~base/images/sprite.png';
$sfa-dynamic-soon: (220px, 98px, -220px, -98px, 34px, 48px, 562px, 348px, '~base/images/sprite.png', 'sfa-dynamic-soon', );
$sfa-entry-hot-name: 'sfa-entry-hot';
$sfa-entry-hot-x: 0px;
$sfa-entry-hot-y: 298px;
$sfa-entry-hot-offset-x: 0px;
$sfa-entry-hot-offset-y: -298px;
$sfa-entry-hot-width: 21px;
$sfa-entry-hot-height: 23px;
$sfa-entry-hot-total-width: 562px;
$sfa-entry-hot-total-height: 348px;
$sfa-entry-hot-image: '~base/images/sprite.png';
$sfa-entry-hot: (0px, 298px, 0px, -298px, 21px, 23px, 562px, 348px, '~base/images/sprite.png', 'sfa-entry-hot', );
$sfa-entry-letter-name: 'sfa-entry-letter';
$sfa-entry-letter-x: 380px;
$sfa-entry-letter-y: 267px;
$sfa-entry-letter-offset-x: -380px;
$sfa-entry-letter-offset-y: -267px;
$sfa-entry-letter-width: 23px;
$sfa-entry-letter-height: 16px;
$sfa-entry-letter-total-width: 562px;
$sfa-entry-letter-total-height: 348px;
$sfa-entry-letter-image: '~base/images/sprite.png';
$sfa-entry-letter: (380px, 267px, -380px, -267px, 23px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-entry-letter', );
$sfa-f-certificate-name: 'sfa-f-certificate';
$sfa-f-certificate-x: 256px;
$sfa-f-certificate-y: 0px;
$sfa-f-certificate-offset-x: -256px;
$sfa-f-certificate-offset-y: 0px;
$sfa-f-certificate-width: 306px;
$sfa-f-certificate-height: 37px;
$sfa-f-certificate-total-width: 562px;
$sfa-f-certificate-total-height: 348px;
$sfa-f-certificate-image: '~base/images/sprite.png';
$sfa-f-certificate: (256px, 0px, -256px, 0px, 306px, 37px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-certificate', );
$sfa-f-feedback-a-name: 'sfa-f-feedback-a';
$sfa-f-feedback-a-x: 473px;
$sfa-f-feedback-a-y: 208px;
$sfa-f-feedback-a-offset-x: -473px;
$sfa-f-feedback-a-offset-y: -208px;
$sfa-f-feedback-a-width: 26px;
$sfa-f-feedback-a-height: 26px;
$sfa-f-feedback-a-total-width: 562px;
$sfa-f-feedback-a-total-height: 348px;
$sfa-f-feedback-a-image: '~base/images/sprite.png';
$sfa-f-feedback-a: (473px, 208px, -473px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-feedback-a', );
$sfa-f-feedback-name: 'sfa-f-feedback';
$sfa-f-feedback-x: 447px;
$sfa-f-feedback-y: 208px;
$sfa-f-feedback-offset-x: -447px;
$sfa-f-feedback-offset-y: -208px;
$sfa-f-feedback-width: 26px;
$sfa-f-feedback-height: 26px;
$sfa-f-feedback-total-width: 562px;
$sfa-f-feedback-total-height: 348px;
$sfa-f-feedback-image: '~base/images/sprite.png';
$sfa-f-feedback: (447px, 208px, -447px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-feedback', );
$sfa-f-help-a-name: 'sfa-f-help-a';
$sfa-f-help-a-x: 421px;
$sfa-f-help-a-y: 208px;
$sfa-f-help-a-offset-x: -421px;
$sfa-f-help-a-offset-y: -208px;
$sfa-f-help-a-width: 26px;
$sfa-f-help-a-height: 26px;
$sfa-f-help-a-total-width: 562px;
$sfa-f-help-a-total-height: 348px;
$sfa-f-help-a-image: '~base/images/sprite.png';
$sfa-f-help-a: (421px, 208px, -421px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-help-a', );
$sfa-f-help-name: 'sfa-f-help';
$sfa-f-help-x: 395px;
$sfa-f-help-y: 208px;
$sfa-f-help-offset-x: -395px;
$sfa-f-help-offset-y: -208px;
$sfa-f-help-width: 26px;
$sfa-f-help-height: 26px;
$sfa-f-help-total-width: 562px;
$sfa-f-help-total-height: 348px;
$sfa-f-help-image: '~base/images/sprite.png';
$sfa-f-help: (395px, 208px, -395px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-help', );
$sfa-f-intro-a-name: 'sfa-f-intro-a';
$sfa-f-intro-a-x: 525px;
$sfa-f-intro-a-y: 208px;
$sfa-f-intro-a-offset-x: -525px;
$sfa-f-intro-a-offset-y: -208px;
$sfa-f-intro-a-width: 26px;
$sfa-f-intro-a-height: 26px;
$sfa-f-intro-a-total-width: 562px;
$sfa-f-intro-a-total-height: 348px;
$sfa-f-intro-a-image: '~base/images/sprite.png';
$sfa-f-intro-a: (525px, 208px, -525px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-intro-a', );
$sfa-f-intro-name: 'sfa-f-intro';
$sfa-f-intro-x: 343px;
$sfa-f-intro-y: 208px;
$sfa-f-intro-offset-x: -343px;
$sfa-f-intro-offset-y: -208px;
$sfa-f-intro-width: 26px;
$sfa-f-intro-height: 26px;
$sfa-f-intro-total-width: 562px;
$sfa-f-intro-total-height: 348px;
$sfa-f-intro-image: '~base/images/sprite.png';
$sfa-f-intro: (343px, 208px, -343px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-intro', );
$sfa-f-link-test-a-name: 'sfa-f-link-test-a';
$sfa-f-link-test-a-x: 317px;
$sfa-f-link-test-a-y: 208px;
$sfa-f-link-test-a-offset-x: -317px;
$sfa-f-link-test-a-offset-y: -208px;
$sfa-f-link-test-a-width: 26px;
$sfa-f-link-test-a-height: 26px;
$sfa-f-link-test-a-total-width: 562px;
$sfa-f-link-test-a-total-height: 348px;
$sfa-f-link-test-a-image: '~base/images/sprite.png';
$sfa-f-link-test-a: (317px, 208px, -317px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-link-test-a', );
$sfa-f-link-test-name: 'sfa-f-link-test';
$sfa-f-link-test-x: 291px;
$sfa-f-link-test-y: 208px;
$sfa-f-link-test-offset-x: -291px;
$sfa-f-link-test-offset-y: -208px;
$sfa-f-link-test-width: 26px;
$sfa-f-link-test-height: 26px;
$sfa-f-link-test-total-width: 562px;
$sfa-f-link-test-total-height: 348px;
$sfa-f-link-test-image: '~base/images/sprite.png';
$sfa-f-link-test: (291px, 208px, -291px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-link-test', );
$sfa-f-phone-a-name: 'sfa-f-phone-a';
$sfa-f-phone-a-x: 499px;
$sfa-f-phone-a-y: 208px;
$sfa-f-phone-a-offset-x: -499px;
$sfa-f-phone-a-offset-y: -208px;
$sfa-f-phone-a-width: 26px;
$sfa-f-phone-a-height: 26px;
$sfa-f-phone-a-total-width: 562px;
$sfa-f-phone-a-total-height: 348px;
$sfa-f-phone-a-image: '~base/images/sprite.png';
$sfa-f-phone-a: (499px, 208px, -499px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-phone-a', );
$sfa-f-phone-name: 'sfa-f-phone';
$sfa-f-phone-x: 265px;
$sfa-f-phone-y: 208px;
$sfa-f-phone-offset-x: -265px;
$sfa-f-phone-offset-y: -208px;
$sfa-f-phone-width: 26px;
$sfa-f-phone-height: 26px;
$sfa-f-phone-total-width: 562px;
$sfa-f-phone-total-height: 348px;
$sfa-f-phone-image: '~base/images/sprite.png';
$sfa-f-phone: (265px, 208px, -265px, -208px, 26px, 26px, 562px, 348px, '~base/images/sprite.png', 'sfa-f-phone', );
$sfa-h-windows-name: 'sfa-h-windows';
$sfa-h-windows-x: 332px;
$sfa-h-windows-y: 97px;
$sfa-h-windows-offset-x: -332px;
$sfa-h-windows-offset-y: -97px;
$sfa-h-windows-width: 13px;
$sfa-h-windows-height: 12px;
$sfa-h-windows-total-width: 562px;
$sfa-h-windows-total-height: 348px;
$sfa-h-windows-image: '~base/images/sprite.png';
$sfa-h-windows: (332px, 97px, -332px, -97px, 13px, 12px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-windows', );
$sfa-h-letter-name: 'sfa-h-letter';
$sfa-h-letter-x: 345px;
$sfa-h-letter-y: 97px;
$sfa-h-letter-offset-x: -345px;
$sfa-h-letter-offset-y: -97px;
$sfa-h-letter-width: 14px;
$sfa-h-letter-height: 11px;
$sfa-h-letter-total-width: 562px;
$sfa-h-letter-total-height: 348px;
$sfa-h-letter-image: '~base/images/sprite.png';
$sfa-h-letter: (345px, 97px, -345px, -97px, 14px, 11px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-letter', );
$sfa-h-logout-name: 'sfa-h-logout';
$sfa-h-logout-x: 438px;
$sfa-h-logout-y: 267px;
$sfa-h-logout-offset-x: -438px;
$sfa-h-logout-offset-y: -267px;
$sfa-h-logout-width: 15px;
$sfa-h-logout-height: 16px;
$sfa-h-logout-total-width: 562px;
$sfa-h-logout-total-height: 348px;
$sfa-h-logout-image: '~base/images/sprite.png';
$sfa-h-logout: (438px, 267px, -438px, -267px, 15px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-logout', );
$sfa-h-mute-name: 'sfa-h-mute';
$sfa-h-mute-x: 116px;
$sfa-h-mute-y: 238px;
$sfa-h-mute-offset-x: -116px;
$sfa-h-mute-offset-y: -238px;
$sfa-h-mute-width: 15px;
$sfa-h-mute-height: 14px;
$sfa-h-mute-total-width: 562px;
$sfa-h-mute-total-height: 348px;
$sfa-h-mute-image: '~base/images/sprite.png';
$sfa-h-mute: (116px, 238px, -116px, -238px, 15px, 14px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-mute', );
$sfa-h-security-off-name: 'sfa-h-security-off';
$sfa-h-security-off-x: 220px;
$sfa-h-security-off-y: 194px;
$sfa-h-security-off-offset-x: -220px;
$sfa-h-security-off-offset-y: -194px;
$sfa-h-security-off-width: 18px;
$sfa-h-security-off-height: 13px;
$sfa-h-security-off-total-width: 562px;
$sfa-h-security-off-total-height: 348px;
$sfa-h-security-off-image: '~base/images/sprite.png';
$sfa-h-security-off: (220px, 194px, -220px, -194px, 18px, 13px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-security-off', );
$sfa-h-security-name: 'sfa-h-security';
$sfa-h-security-x: 97px;
$sfa-h-security-y: 238px;
$sfa-h-security-offset-x: -97px;
$sfa-h-security-offset-y: -238px;
$sfa-h-security-width: 19px;
$sfa-h-security-height: 15px;
$sfa-h-security-total-width: 562px;
$sfa-h-security-total-height: 348px;
$sfa-h-security-image: '~base/images/sprite.png';
$sfa-h-security: (97px, 238px, -97px, -238px, 19px, 15px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-security', );
$sfa-h-vol-name: 'sfa-h-vol';
$sfa-h-vol-x: 131px;
$sfa-h-vol-y: 238px;
$sfa-h-vol-offset-x: -131px;
$sfa-h-vol-offset-y: -238px;
$sfa-h-vol-width: 15px;
$sfa-h-vol-height: 14px;
$sfa-h-vol-total-width: 562px;
$sfa-h-vol-total-height: 348px;
$sfa-h-vol-image: '~base/images/sprite.png';
$sfa-h-vol: (131px, 238px, -131px, -238px, 15px, 14px, 562px, 348px, '~base/images/sprite.png', 'sfa-h-vol', );
$sfa-m-active-name: 'sfa-m-active';
$sfa-m-active-x: 484px;
$sfa-m-active-y: 167px;
$sfa-m-active-offset-x: -484px;
$sfa-m-active-offset-y: -167px;
$sfa-m-active-width: 38px;
$sfa-m-active-height: 30px;
$sfa-m-active-total-width: 562px;
$sfa-m-active-total-height: 348px;
$sfa-m-active-image: '~base/images/sprite.png';
$sfa-m-active: (484px, 167px, -484px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-active', );
$sfa-m-agency-name: 'sfa-m-agency';
$sfa-m-agency-x: 522px;
$sfa-m-agency-y: 167px;
$sfa-m-agency-offset-x: -522px;
$sfa-m-agency-offset-y: -167px;
$sfa-m-agency-width: 38px;
$sfa-m-agency-height: 30px;
$sfa-m-agency-total-width: 562px;
$sfa-m-agency-total-height: 348px;
$sfa-m-agency-image: '~base/images/sprite.png';
$sfa-m-agency: (522px, 167px, -522px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-agency', );
$sfa-m-dashboard-name: 'sfa-m-dashboard';
$sfa-m-dashboard-x: 256px;
$sfa-m-dashboard-y: 167px;
$sfa-m-dashboard-offset-x: -256px;
$sfa-m-dashboard-offset-y: -167px;
$sfa-m-dashboard-width: 38px;
$sfa-m-dashboard-height: 30px;
$sfa-m-dashboard-total-width: 562px;
$sfa-m-dashboard-total-height: 348px;
$sfa-m-dashboard-image: '~base/images/sprite.png';
$sfa-m-dashboard: (256px, 167px, -256px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-dashboard', );
$sfa-m-download-name: 'sfa-m-download';
$sfa-m-download-x: 97px;
$sfa-m-download-y: 208px;
$sfa-m-download-offset-x: -97px;
$sfa-m-download-offset-y: -208px;
$sfa-m-download-width: 38px;
$sfa-m-download-height: 30px;
$sfa-m-download-total-width: 562px;
$sfa-m-download-total-height: 348px;
$sfa-m-download-image: '~base/images/sprite.png';
$sfa-m-download: (97px, 208px, -97px, -208px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-download', );
$sfa-m-fund-name: 'sfa-m-fund';
$sfa-m-fund-x: 446px;
$sfa-m-fund-y: 167px;
$sfa-m-fund-offset-x: -446px;
$sfa-m-fund-offset-y: -167px;
$sfa-m-fund-width: 38px;
$sfa-m-fund-height: 30px;
$sfa-m-fund-total-width: 562px;
$sfa-m-fund-total-height: 348px;
$sfa-m-fund-image: '~base/images/sprite.png';
$sfa-m-fund: (446px, 167px, -446px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-fund', );
$sfa-m-help-name: 'sfa-m-help';
$sfa-m-help-x: 408px;
$sfa-m-help-y: 167px;
$sfa-m-help-offset-x: -408px;
$sfa-m-help-offset-y: -167px;
$sfa-m-help-width: 38px;
$sfa-m-help-height: 30px;
$sfa-m-help-total-width: 562px;
$sfa-m-help-total-height: 348px;
$sfa-m-help-image: '~base/images/sprite.png';
$sfa-m-help: (408px, 167px, -408px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-help', );
$sfa-m-notice-name: 'sfa-m-notice';
$sfa-m-notice-x: 370px;
$sfa-m-notice-y: 167px;
$sfa-m-notice-offset-x: -370px;
$sfa-m-notice-offset-y: -167px;
$sfa-m-notice-width: 38px;
$sfa-m-notice-height: 30px;
$sfa-m-notice-total-width: 562px;
$sfa-m-notice-total-height: 348px;
$sfa-m-notice-image: '~base/images/sprite.png';
$sfa-m-notice: (370px, 167px, -370px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-notice', );
$sfa-m-safe-name: 'sfa-m-safe';
$sfa-m-safe-x: 332px;
$sfa-m-safe-y: 167px;
$sfa-m-safe-offset-x: -332px;
$sfa-m-safe-offset-y: -167px;
$sfa-m-safe-width: 38px;
$sfa-m-safe-height: 30px;
$sfa-m-safe-total-width: 562px;
$sfa-m-safe-total-height: 348px;
$sfa-m-safe-image: '~base/images/sprite.png';
$sfa-m-safe: (332px, 167px, -332px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-safe', );
$sfa-m-user-name: 'sfa-m-user';
$sfa-m-user-x: 294px;
$sfa-m-user-y: 167px;
$sfa-m-user-offset-x: -294px;
$sfa-m-user-offset-y: -167px;
$sfa-m-user-width: 38px;
$sfa-m-user-height: 30px;
$sfa-m-user-total-width: 562px;
$sfa-m-user-total-height: 348px;
$sfa-m-user-image: '~base/images/sprite.png';
$sfa-m-user: (294px, 167px, -294px, -167px, 38px, 30px, 562px, 348px, '~base/images/sprite.png', 'sfa-m-user', );
$sfa-sidebar-activity-name: 'sfa-sidebar-activity';
$sfa-sidebar-activity-x: 81px;
$sfa-sidebar-activity-y: 298px;
$sfa-sidebar-activity-offset-x: -81px;
$sfa-sidebar-activity-offset-y: -298px;
$sfa-sidebar-activity-width: 18px;
$sfa-sidebar-activity-height: 18px;
$sfa-sidebar-activity-total-width: 562px;
$sfa-sidebar-activity-total-height: 348px;
$sfa-sidebar-activity-image: '~base/images/sprite.png';
$sfa-sidebar-activity: (81px, 298px, -81px, -298px, 18px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-activity', );
$sfa-sidebar-agency-name: 'sfa-sidebar-agency';
$sfa-sidebar-agency-x: 117px;
$sfa-sidebar-agency-y: 298px;
$sfa-sidebar-agency-offset-x: -117px;
$sfa-sidebar-agency-offset-y: -298px;
$sfa-sidebar-agency-width: 18px;
$sfa-sidebar-agency-height: 18px;
$sfa-sidebar-agency-total-width: 562px;
$sfa-sidebar-agency-total-height: 348px;
$sfa-sidebar-agency-image: '~base/images/sprite.png';
$sfa-sidebar-agency: (117px, 298px, -117px, -298px, 18px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-agency', );
$sfa-sidebar-chevron-right-name: 'sfa-sidebar-chevron-right';
$sfa-sidebar-chevron-right-x: 551px;
$sfa-sidebar-chevron-right-y: 208px;
$sfa-sidebar-chevron-right-offset-x: -551px;
$sfa-sidebar-chevron-right-offset-y: -208px;
$sfa-sidebar-chevron-right-width: 9px;
$sfa-sidebar-chevron-right-height: 17px;
$sfa-sidebar-chevron-right-total-width: 562px;
$sfa-sidebar-chevron-right-total-height: 348px;
$sfa-sidebar-chevron-right-image: '~base/images/sprite.png';
$sfa-sidebar-chevron-right: (551px, 208px, -551px, -208px, 9px, 17px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-chevron-right', );
$sfa-sidebar-fund-name: 'sfa-sidebar-fund';
$sfa-sidebar-fund-x: 367px;
$sfa-sidebar-fund-y: 37px;
$sfa-sidebar-fund-offset-x: -367px;
$sfa-sidebar-fund-offset-y: -37px;
$sfa-sidebar-fund-width: 60px;
$sfa-sidebar-fund-height: 60px;
$sfa-sidebar-fund-total-width: 562px;
$sfa-sidebar-fund-total-height: 348px;
$sfa-sidebar-fund-image: '~base/images/sprite.png';
$sfa-sidebar-fund: (367px, 37px, -367px, -37px, 60px, 60px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-fund', );
$sfa-sidebar-help-name: 'sfa-sidebar-help';
$sfa-sidebar-help-x: 307px;
$sfa-sidebar-help-y: 37px;
$sfa-sidebar-help-offset-x: -307px;
$sfa-sidebar-help-offset-y: -37px;
$sfa-sidebar-help-width: 60px;
$sfa-sidebar-help-height: 60px;
$sfa-sidebar-help-total-width: 562px;
$sfa-sidebar-help-total-height: 348px;
$sfa-sidebar-help-image: '~base/images/sprite.png';
$sfa-sidebar-help: (307px, 37px, -307px, -37px, 60px, 60px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-help', );
$sfa-sidebar-history-name: 'sfa-sidebar-history';
$sfa-sidebar-history-x: 99px;
$sfa-sidebar-history-y: 298px;
$sfa-sidebar-history-offset-x: -99px;
$sfa-sidebar-history-offset-y: -298px;
$sfa-sidebar-history-width: 18px;
$sfa-sidebar-history-height: 18px;
$sfa-sidebar-history-total-width: 562px;
$sfa-sidebar-history-total-height: 348px;
$sfa-sidebar-history-image: '~base/images/sprite.png';
$sfa-sidebar-history: (99px, 298px, -99px, -298px, 18px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-history', );
$sfa-sidebar-news-name: 'sfa-sidebar-news';
$sfa-sidebar-news-x: 135px;
$sfa-sidebar-news-y: 298px;
$sfa-sidebar-news-offset-x: -135px;
$sfa-sidebar-news-offset-y: -298px;
$sfa-sidebar-news-width: 18px;
$sfa-sidebar-news-height: 18px;
$sfa-sidebar-news-total-width: 562px;
$sfa-sidebar-news-total-height: 348px;
$sfa-sidebar-news-image: '~base/images/sprite.png';
$sfa-sidebar-news: (135px, 298px, -135px, -298px, 18px, 18px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-news', );
$sfa-sidebar-safe-name: 'sfa-sidebar-safe';
$sfa-sidebar-safe-x: 427px;
$sfa-sidebar-safe-y: 37px;
$sfa-sidebar-safe-offset-x: -427px;
$sfa-sidebar-safe-offset-y: -37px;
$sfa-sidebar-safe-width: 60px;
$sfa-sidebar-safe-height: 60px;
$sfa-sidebar-safe-total-width: 562px;
$sfa-sidebar-safe-total-height: 348px;
$sfa-sidebar-safe-image: '~base/images/sprite.png';
$sfa-sidebar-safe: (427px, 37px, -427px, -37px, 60px, 60px, 562px, 348px, '~base/images/sprite.png', 'sfa-sidebar-safe', );
$sfa-sub-title-user-name: 'sfa-sub-title-user';
$sfa-sub-title-user-x: 224px;
$sfa-sub-title-user-y: 267px;
$sfa-sub-title-user-offset-x: -224px;
$sfa-sub-title-user-offset-y: -267px;
$sfa-sub-title-user-width: 22px;
$sfa-sub-title-user-height: 22px;
$sfa-sub-title-user-total-width: 562px;
$sfa-sub-title-user-total-height: 348px;
$sfa-sub-title-user-image: '~base/images/sprite.png';
$sfa-sub-title-user: (224px, 267px, -224px, -267px, 22px, 22px, 562px, 348px, '~base/images/sprite.png', 'sfa-sub-title-user', );
$sfa-online-tip-name: 'sfa-online-tip';
$sfa-online-tip-x: 381px;
$sfa-online-tip-y: 97px;
$sfa-online-tip-offset-x: -381px;
$sfa-online-tip-offset-y: -97px;
$sfa-online-tip-width: 8px;
$sfa-online-tip-height: 8px;
$sfa-online-tip-total-width: 562px;
$sfa-online-tip-total-height: 348px;
$sfa-online-tip-image: '~base/images/sprite.png';
$sfa-online-tip: (381px, 97px, -381px, -97px, 8px, 8px, 562px, 348px, '~base/images/sprite.png', 'sfa-online-tip', );
$sfa-refresh-name: 'sfa-refresh';
$sfa-refresh-x: 146px;
$sfa-refresh-y: 238px;
$sfa-refresh-offset-x: -146px;
$sfa-refresh-offset-y: -238px;
$sfa-refresh-width: 11px;
$sfa-refresh-height: 13px;
$sfa-refresh-total-width: 562px;
$sfa-refresh-total-height: 348px;
$sfa-refresh-image: '~base/images/sprite.png';
$sfa-refresh: (146px, 238px, -146px, -238px, 11px, 13px, 562px, 348px, '~base/images/sprite.png', 'sfa-refresh', );
$sfa-sys-setting-name: 'sfa-sys-setting';
$sfa-sys-setting-x: 422px;
$sfa-sys-setting-y: 267px;
$sfa-sys-setting-offset-x: -422px;
$sfa-sys-setting-offset-y: -267px;
$sfa-sys-setting-width: 16px;
$sfa-sys-setting-height: 16px;
$sfa-sys-setting-total-width: 562px;
$sfa-sys-setting-total-height: 348px;
$sfa-sys-setting-image: '~base/images/sprite.png';
$sfa-sys-setting: (422px, 267px, -422px, -267px, 16px, 16px, 562px, 348px, '~base/images/sprite.png', 'sfa-sys-setting', );
$sfa-triangle-down-name: 'sfa-triangle-down';
$sfa-triangle-down-x: 370px;
$sfa-triangle-down-y: 97px;
$sfa-triangle-down-offset-x: -370px;
$sfa-triangle-down-offset-y: -97px;
$sfa-triangle-down-width: 11px;
$sfa-triangle-down-height: 8px;
$sfa-triangle-down-total-width: 562px;
$sfa-triangle-down-total-height: 348px;
$sfa-triangle-down-image: '~base/images/sprite.png';
$sfa-triangle-down: (370px, 97px, -370px, -97px, 11px, 8px, 562px, 348px, '~base/images/sprite.png', 'sfa-triangle-down', );
$sfa-triangle-up-name: 'sfa-triangle-up';
$sfa-triangle-up-x: 359px;
$sfa-triangle-up-y: 97px;
$sfa-triangle-up-offset-x: -359px;
$sfa-triangle-up-offset-y: -97px;
$sfa-triangle-up-width: 11px;
$sfa-triangle-up-height: 8px;
$sfa-triangle-up-total-width: 562px;
$sfa-triangle-up-total-height: 348px;
$sfa-triangle-up-image: '~base/images/sprite.png';
$sfa-triangle-up: (359px, 97px, -359px, -97px, 11px, 8px, 562px, 348px, '~base/images/sprite.png', 'sfa-triangle-up', );
$spritesheet-width: 562px;
$spritesheet-height: 348px;
$spritesheet-image: '~base/images/sprite.png';
$spritesheet-sprites: ($sfa-arrow-down, $sfa-arrow, $sfa-ad-badge-gray, $sfa-ad-badge-over, $sfa-ad-badge-pink, $sfa-ad-badge, $sfa-ad-lock, $sfa-ad-logo-mid, $sfa-ad-logo-yb, $sfa-ad-logo, $sfa-db-dynamic, $sfa-dialog-info, $sfa-dialog-success, $sfa-dropmenu-caret-up, $sfa-face-success, $sfa-find-by-card, $sfa-find-by-question, $sfa-fp-security-card, $sfa-fp-security-question, $sfa-grid-empty, $sfa-help-tip, $sfa-bc-bet-trend, $sfa-bc-explain, $sfa-bc-video, $sfa-bc-play-brief, $sfa-bc-play-normal-active, $sfa-bc-play-normal, $sfa-bc-play-optional-active, $sfa-bc-play-optional, $sfa-bc-play-super-active, $sfa-bc-play-super, $sfa-btn-add, $sfa-btn-create, $sfa-btn-hook, $sfa-btn-upload, $sfa-cog, $sfa-cd-0, $sfa-cd-1, $sfa-cd-2, $sfa-cd-3, $sfa-cd-4, $sfa-cd-5, $sfa-cd-6, $sfa-cd-7, $sfa-cd-8, $sfa-cd-9, $sfa-cd-red-0, $sfa-cd-red-1, $sfa-cd-red-2, $sfa-cd-red-3, $sfa-cd-red-4, $sfa-cd-red-5, $sfa-cd-red-6, $sfa-cd-red-7, $sfa-cd-red-8, $sfa-cd-red-9, $sfa-dialog-close, $sfa-divid-add, $sfa-divid-grant, $sfa-double-down, $sfa-double-up, $sfa-dynamic-soon, $sfa-entry-hot, $sfa-entry-letter, $sfa-f-certificate, $sfa-f-feedback-a, $sfa-f-feedback, $sfa-f-help-a, $sfa-f-help, $sfa-f-intro-a, $sfa-f-intro, $sfa-f-link-test-a, $sfa-f-link-test, $sfa-f-phone-a, $sfa-f-phone, $sfa-h-windows, $sfa-h-letter, $sfa-h-logout, $sfa-h-mute, $sfa-h-security-off, $sfa-h-security, $sfa-h-vol, $sfa-m-active, $sfa-m-agency, $sfa-m-dashboard, $sfa-m-download, $sfa-m-fund, $sfa-m-help, $sfa-m-notice, $sfa-m-safe, $sfa-m-user, $sfa-sidebar-activity, $sfa-sidebar-agency, $sfa-sidebar-chevron-right, $sfa-sidebar-fund, $sfa-sidebar-help, $sfa-sidebar-history, $sfa-sidebar-news, $sfa-sidebar-safe, $sfa-sub-title-user, $sfa-online-tip, $sfa-refresh, $sfa-sys-setting, $sfa-triangle-down, $sfa-triangle-up, );
$spritesheet: (562px, 348px, '~base/images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
