.statistic-box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  float: left;
  width: 205px;
  display: inline-block;
  margin-right: 10px;
  color: $white-color;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);

  &:last-child {
    margin-right: 0;
  }

  .statistic-icon {
    float: left;
    margin: 8px 20px 0 0;
  }
  .statistic-main {
    overflow: hidden;
  }
  .statistic-title {
    font-size: $font-sm;
  }

  .statistic-value {
    font-size: $font-md;
  }

  &.statistic-box-red {
    background: linear-gradient(to bottom, #bd6f91, #b15a7f);
  }
  &.statistic-box-blue {
    background: linear-gradient(to bottom, #5795b5, #4884a1);
  }
  &.statistic-box-green {
    background: linear-gradient(to bottom, #7eac78, #699763);
  }
  &.statistic-box-purple {
    background: linear-gradient(to bottom, #a571bb, #8e5ea7);
  }
}

.simple-box {
  .statistic-title {
    z-index: 2;
    position: relative;
  }
  .statistic-value {
    font-size: 36px;
    /*font-weight: 600;*/
    z-index: 2;
  }
  .statistic-icon-background {
    position: absolute;
    font-size: 150px;
    right: -5px;
    bottom: -30px;
    opacity: 0.2;
  }
}

.colorful-box {
  .statistic-icon {
    display: inline-block;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    background-color: rgba(255,255,255,.3);
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }
  .statistic-title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-weight: 600;
  }
  .btn {
    border-color: rgba(255,255,255,.3)!important;
  }
}
