/*.statistic-box {
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  .statistic-title {
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2;
  }
  .statistic-value {
    font-size: 16px;
    font-weight: 600;
    z-index: 2;
  }
  .statistic-icon-background {
    position: absolute;
    font-size: 160px;
    right: -5px;
    bottom: -50px;
    opacity: 0.2;
  }
}*/

.statistic-box {
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  .statistic-title {
    text-transform: uppercase;
    font-size: 20px;
    z-index: 2;
  }
}

.simple-box {
  .statistic-title {
    z-index: 2;
    position: relative;
  }
  .statistic-value {
    font-size: 36px;
    /*font-weight: 600;*/
    z-index: 2;
  }
  .statistic-icon-background {
    position: absolute;
    font-size: 150px;
    right: -5px;
    bottom: -30px;
    opacity: 0.2;
  }
}

.colorful-box {
  .statistic-icon {
    display: inline-block;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    background-color: rgba(255,255,255,.3);
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }
  .statistic-title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-weight: 600;
  }
  .btn {
    border-color: rgba(255,255,255,.3)!important;
  }
}
