.wizard, .tabcontrol {
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard a, .tabcontrol a {
  outline: 0;
}

.wizard ul, .tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul > li, .tabcontrol ul > li {
  display: block;
  padding: 0;
}

.wizard > .steps .current-info, .tabcontrol > .steps .current-info, .wizard > .content > .title, .tabcontrol > .content > .title {
  position: absolute;
  left: -999em;
}

/*
    Wizard
*/

.wizard {
  > .steps {
    position: relative;
    display: block;
    margin-top: 20px;
  }
  &.vertical {
    > .steps {
      display: inline;
      float: left;
      width: 30%;
    }
    > .steps > ul > li {
      float: none;
      width: 100%;
    }
    > .content {
      display: inline;
      float: left;
      margin: 0 2.5% 0.5em 2.5%;
      width: 65%;
    }
    > .actions {
      display: inline;
      float: right;
      margin: 0 2.5%;
      width: 95%;
    }
    > .actions > ul > li {
      margin: 0 0 0 1em;
    }
  }
  > {
    .steps {
      //.number {
        //font-size: 1.429em;
      //}
      > ul > li {
        float: left;
      }
    }
    .actions > ul > li {
      float: left;
    }
  }
  > {
    .steps {
      a {
        display: block;
        width: auto;
        margin-left: map_get($steps, indent);
        padding: 0 10px;
        text-decoration: none;
        color: map_get($steps, active-color);
        line-height: 23px;
        text-align: center;
      }
      .disabled a {
        color: map_get($steps, disabled-color);
        cursor: default;
      }
      .current a {
        color: map_get($steps, active-color);
        cursor: default;
      }
      .done a {
        //background: #9dc8e2;
        color: #fff;
        &:hover, &:active {
          //background: #9dc8e2;
          color: #fff;
        }
      }
      .error a {
        //background: #ff3111;
        color: #fff;
        &:hover, &:active {
          //background: #ff3111;
          color: #fff;
        }
      }
    }
    .content {
      display: block;
      margin: 20px 15px 5px 0;
      min-height: 20em;
      overflow: hidden;
      position: relative;
      width: auto;
    }
  }
  > {
    .content > .body {
      float: left;
      position: absolute;
      width: 95%;
      height: 95%;
      //padding: 2.5%;
      ul {
//        list-style: disc !important;
        > li {
//          display: list-item;
        }
      }
      input {
        //display: block;
        /*border: 1px solid #ccc;*/
        //&[type="checkbox"] {
        //  display: inline-block;
        //}
        //&.error {
        //  background: rgb(251, 227, 228);
        //  border: 1px solid #fbc2c4;
        //  color: #8a1f11;
        //}
      }
      //label {
      //  display: inline-block;
      //  margin-bottom: 0.5em;
      //  &.error {
      //    color: #8a1f11;
      //    display: inline-block;
      //    margin-left: 1.5em;
      //  }
      //}
    }
    .actions {
      position: relative;
      display: block;
      text-align: right;
      width: 100%;
    }
  }
  > .actions > ul {
    display: inline-block;
    text-align: right;
    > li {
      margin: 0 0.5em;
    }
  }
  > {
    .actions {
      a {
        background: #2184be;
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
      }
      .disabled a {
        background: #eee;
        color: #aaa;
      }
    }
  }
}

.tabcontrol > {
  .steps {
    position: relative;
    display: block;
    width: 100%;
    > ul {
      position: relative;
      margin: 6px 0 0 0;
      top: 1px;
      z-index: 1;
      > li {
        float: left;
        margin: 5px 2px 0 0;
        padding: 1px;
        &:hover {
          background: #edecec;
          border: 1px solid #bbb;
          padding: 0;
        }
        &.current {
          background: #fff;
          border: 1px solid #bbb;
          border-bottom: 0 none;
          padding: 0 0 1px 0;
          margin-top: 0;
          > a {
            padding: 15px 30px 10px 30px;
          }
        }
        > a {
          color: #5f5f5f;
          display: inline-block;
          border: 0 none;
          margin: 0;
          padding: 10px 30px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
    > .body {
      float: left;
      position: absolute;
      width: 95%;
      height: 95%;
      padding: 2.5%;
      ul {
        list-style: disc !important;
        > li {
          display: list-item;
        }
      }
    }
  }
}

.wizard {
  > {
    .steps > ul > li {
      width: 170px;

      &.current {
        &:after {
          //background: map_get($steps, active-color);
          background: #cc0000;
        }

        .number, .title {
          color: map_get($steps, active-color);
          font-size: 18px;
          font-weight: normal;
          position: relative;
          line-height: 20px;
          top: -20px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #999999;
        top: 10px;
      }

      .number, .title{
        color: $font-color-coffee;
        font-size: 18px;
        font-weight: normal;
        position: relative;
        line-height: 20px;
        top: -20px;
      }
    }
    .content > .body {
      width: 100%;
      .parsley-errors-list {
        list-style: none !important;
      }
    }
  }
  &.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
  }

  &.wizard-long {
    > {
      .steps > ul > li {
        width: 240px;
      }
    }
  }
}

.step-inner {
  height: 100px;
  margin-bottom: 0;
  .step-number {
    font-size: 50px;
    width: 150px;
    height: 100px;
    display: inline-block;
    line-height: 100px;
    float: left;
    text-align: right;
    color: $main-deep-color;
  }
  .step-inner-main {
    padding-top: 15px;
    overflow: hidden;
  }
}
.step-inner-find {
  height: 80px;
  border: 1px solid $light-color;

  &.step-inner {
    margin-bottom: 20px;
    .step-number {
      width: 100px;
      height: 80px;
      line-height: 80px;
    }
  }

  .step-inner-main {
    padding-top: 30px;
    margin: 0 20px 0 120px;
  }
}
