table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  tbody {
    tr {
      word-break: break-all;
      td {
        vertical-align: middle !important;
        &.text-center {
          text-align: center;
        }
        &.text-right {
          text-align: right;
        }
      }
    }
  }
}

.table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  th, td {
    padding: 5px 3px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top-width: 1px;
    border-top-style: solid;
    border-top: $table-border-color;
  }
  th {
    font-size: 13px;
    font-weight: bold;
  }
  thead th {
    vertical-align: bottom;
    background: $deep-gray-color;

    .table-sort {
      color: #a1a1a1;
      font-size: 14px;
    }
  }
  thead:first-child tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  &.table-center {
    th,td {
      text-align: center;
    }
  }
  &.table-th-center {
    th {
      text-align: center;
    }
  }
  &.table-td-center {
    td {
      text-align: center;
    }
  }
  &.table-unbordered {
    tr{
      border-bottom: 1px solid #ccc;
    }
    , td, th {
      border: none;
    }
  }

  &.table-dashed {
    td {
      border-top-width: 1px;
      border-top-style: dashed;
    }
    tr:first-of-type {
      td {
        border-top-width: 0;
      }
    }
  }

  &.table-fixed {
    table-layout: fixed;
  }

  &.table-condensed {
    th, td {
      padding: 4px 5px;
    }
  }

  @include tables($tables);

  @include tables-status-color($bg-colors);
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th {
  //background-color: $main-deep-color !important;
}

.table-bordered {
  border: 1px solid $table-border-color;
  th, td {
    border: 1px solid $table-border-color;
  }
  colgroup + {
    thead tr:first-child th {
      border-top: 0;
      border-bottom: 0;
    }

    tbody tr:first-child {
      th, td {
        border-top: 0;
      }
    }

    thead tr th:first-child, tbody tr td:first-child {
      border-left: 0;
    }
    thead tr th:last-child, tbody tr td:last-child {
      border-right: 0;
    }
  }
  thead:first-child tr:first-child th {
    border-top: 0;
  }

  tbody:first-child tr:first-child {
    th, td {
      border-top: 0;
    }
  }

  tbody tr:last-child {
    th, td {
      border-bottom: 1px solid $table-border-color;
    }
  }

}

.table-striped tbody > tr:nth-child(odd) > {
  td, th {
    background-color: #f9f9f9;
  }
}

.empty-container {
  position: relative;
  width: 100%;
  height: 99%;
  overflow: visible;
  font-size: 18px;
  color: #c8c6c6;
  .empty-container-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .sfa-grid-empty {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }
  }
}
