input, textarea, select {
  &:focus:invalid {
    color: $color-hot;
    border-color: #ee5f5b;
  }
  &:focus:invalid:focus {
    border-color: #5de9fe;
    box-shadow: 0px 0px 3px 0px rgba(93,233,254,0.75);
    transition: all 0.2s ease;
  }
  &.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
  }
  &.parsley-error {
    color: #B94A48 !important;
    //background-color: #F2DEDE !important;
    border-color: map_get($validate, invalid-border-color) !important;
  }
}
.parsley-errors-list {
  //margin: 2px 0 3px;
  padding: 0;
  //top: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  display: none;
  opacity: 0;
  color: $color-pleasant;
  //@include transition(all .3s ease-in);

  &.filled {
    display: block;
    //display: block !important;
    opacity: 1;
  }
  &.filled-inline {
    display: inline-block !important;
  }

  .parsley-error {
    display: none;
    &:first-child, &:last-child {
      display: block;
    }
  }
}