//global setting
$body-width: 1200px !default;

$package-main-width: 768px;

//new
$new-main-dark-color: #057c86 !default;
$new-main-deep-color: #16a4aa !default;
$dark-color: #202020 !default;
$light-dark-color: #4e4e4e !default;
$light-dark-color-2: #7e7e7e !default;
$color-amber: #666666 !default;
$color-light-amber: #999999 !default;

$light-color: #f2f2f2 !default;
$white-color: #ffffff !default;
$deep-gray-color: #e4e4e4 !default;
$gray-color: #cccccc !default;
$footer-gray: $gray-color;

$new-hot-color: #fe6760 !default;
$pink-color: #ca6396 !default;
$blue-color: #2e98cb !default;
$green-color: #57b051 !default;
$hot-color: #c93339 !default;

$blue-new-color: #05c2bb !default;

$new-black-color: $dark-color !default;

$main-pale-color: #3dafc0 !default;
$main-light-color: #10a4aa !default;
$main-color: #d21e1d !default;
$main-deep-color: $new-main-deep-color;
$color-pleasant: #e8675d !default;
$color-peaceful: #48bfd1 !default;
$color-hot: #cc3333 !default;
$color-sunshine: grey !default;

$color-deep-gray: #d5d5d5!default;

//$font-color-coffee: #562e0f!default;
$font-color-coffee: $dark-color;

$font-color: $dark-color;
$font-deep-color: $main-color;

$input-disable-color: #cac9ca !default;

$inverse-border-color: #878585 !default;

$table-border-color: $gray-color;

$background-color: $white-color;

$main-bg: #ffffff;

$background-dark: #40454b;

$background-light-gray: #666c78;

//
$brand-primary: #eae8e6 !default;
$brand-info: #eae8e6 !default;

$color-bright-red: #e82e20 !default;

//linear color
$white-linear-color: linear-gradient(to bottom, #fefefe, #f5f5f5) !default;

//global-props
$globalBtnRadius: 3px;
$globalInputRadius: 3px;
$globalBoxRadius: 5px;

//font-size
$font-xs: 12px !default;
$font-sm: 14px !default;
$font-md: 16px !default;
$font-lg: 18px !default;
$font-jb: 20px !default;
$font-30: 30px !default;
$font-40: 40px !default;
$font-80: 80px !default;

$font-sizes: (
  xs: $font-xs,
  sm: $font-sm,
  md: $font-md,
  lg: $font-lg,
  jb: $font-jb,
  30: $font-30,
  40: $font-40,
  80: $font-80
);

//font-color
$font-default: $dark-color;
$font-amber: $color-amber;
$font-mute: #ededed !default;
$font-primary: $font-color;
$font-info: $main-color;
$font-success: #2baab1 !default;
$font-danger: #e8675d !default;
$font-warning: #e8675d !default;
$font-light-pleasant: #fc9792 !default;
$font-main: #e8675d !default;
$font-inverse: $light-color;
$font-passion: #fbd663 !default;

$font-colors: (
  default: $dark-color,
  amber: $font-amber,
  primary: $font-primary,
  pleasant: $color-pleasant,
  gray: $gray-color,
  inverse: $light-color,
  passion: $font-passion,
  cool: $new-main-deep-color,
  sunshine: $color-sunshine,
  sun: $color-sunshine,
  hot: $color-hot,
  pink: $pink-color,
  blue: $blue-color,

  important: $font-light-pleasant,
  info: $green-color,
  success: $font-success,
  warning: $font-warning,
  danger: $font-danger,
  main: $font-main
);

$bg-mute: $font-mute;
$bg-mute-font-color: $color-amber;

$bg-info: $font-info;
$bg-info-font-color: $font-default;

$bg-success: $font-success;
$bg-success-font-color: $font-default;

$bg-warning: $font-warning;
$bg-warning-font-color: $font-default;

$bg-danger: $font-danger;
$bg-danger-font-color: $font-default;

$bg-main: $font-main;
$bg-main-font-color: $font-default;

$bg-colors: (
  default: (bg: $dark-color, color: $font-color),
  deep: (bg: $new-main-deep-color, color: $font-color),
  deep-gray: (bg: $deep-gray-color, color: $font-color),
  hot: (bg: $new-hot-color, color: $white-color),
  sunshine: (bg: $color-sunshine, color: $white-color),
  sun: (bg: $color-sunshine, color: $white-color),
  pink: (bg: $pink-color, color: $white-color),
  blue: (bg: $blue-color, color: $white-color),
  blue-new: (bg: $blue-new-color, color: $white-color),
  primary: (bg: $main-light-color, color: $dark-color),
  black: (bg: $dark-color, color: $new-black-color),
  mute: (bg: $bg-mute, color: $bg-mute-font-color),
  info: (bg: $bg-info, color: $bg-info-font-color),
  success: (bg: $bg-success, color: $bg-success-font-color),
  warning: (bg: $bg-warning, color: $bg-warning-font-color),
  danger: (bg: $bg-danger, color: $bg-danger-font-color),
  bread: (bg: #f3d5d3, color: $new-black-color),
  purple: (bg: #e50699, color: $white-color)
);


$width-xs: 50px !default;
$width-sm: 100px !default;
$width-smd: 176px !default;
$width-md: 300px !default;
$width-lg: 500px !default;
$width-jb: 905px !default;

$widths: (xs: $width-xs, sm: $width-sm, smd: $width-smd, md: $width-md, lg: $width-lg, jb: $width-jb);

$height-xs: 50px !default;
$height-sm: 100px !default;
$height-smd: 200px !default;
$height-md: 300px !default;
$height-mlg: 500px !default;
$height-lg: 500px !default;
$height-jb: 760px !default;

$heights: (xs: $height-xs, sm: $height-sm, smd: $height-smd, md: $height-md, mlg: $height-mlg, lg: $height-lg, jb: $height-jb);

$filter-xs: 5px !default;
$filter-sm: 10px !default;
$filter-smd: 15px !default;
$filter-md: 20px !default;
$filter-mlg: 30px !default;
$filter-lg: 40px !default;

$filters: (xs: $filter-xs, sm: $filter-sm, smd: $filter-smd, md: $filter-md, mlg: $filter-mlg, lg: $filter-lg);

$spans: (
  1: 75px,
  2: 150px,
  3: 215px,
  4: 300px
);

$squares: (
  xs: 50px,
  60: 60px,
  75: 75px,
  120: 120px,
  125: 125px,
  150: 150px,
  sm: 100px,
  md: 300px,
  lg: 500px
);

$input-widths: (
  xs: 30px,
  sm: 60px,
  smd: 100px,
  md: 134px,
  lg: 186px,
  jb: 270px
);

//input
$inputs: (
  default: (
    color: $dark-color,
    bg-color: transparent,
    border-color: $gray-color
  ),
  inverse: (
    color: $color-amber,
    bg-color: transparent,
    border-color: $inverse-border-color
  ),
  amber: (
    color: $color-amber,
    bg-color: transparent,
    border-color: $gray-color
  )
);

//select
$select: (
  default: (
    border-color: $gray-color,
    color: $font-color,
    background: url(~base/images/select-caret.png) no-repeat scroll 97% center transparent
  ),
  amber: (
    border-color: $gray-color,
    color: $color-amber,
    background: url(~base/images/select-caret.png) no-repeat scroll 97% center transparent
  ),
  inverse: (
    border-color: $light-color,
    color: $color-amber,
    background: url(~base/images/select-caret-black.png) no-repeat scroll 97% center transparent
  )
);

$disabled: (
  default: (
    color: $font-color-coffee,
    border-color: #b4b4b4,
    bg-color: $light-color
  ),
  inverse: (
    bg-color: $input-disable-color
  ),
  black: (
    bg-color: $input-disable-color
  )
);

$borders: (
  default: $gray-color,
  cool: $main-deep-color,
  table: $table-border-color,
  inverse: $light-color
);

$basics: (
  default: (
    select: map_get($select, default),
    input: map_get($inputs, default),
    disabled: map_get($disabled, default)
  ),
  amber: (
    select: map_get($select, amber),
    input: map_get($inputs, amber),
    disabled: map_get($disabled, default),
    bg-color: #ffffff,
    color: $color-amber
  ),
  inverse: (
    select: map_get($select, inverse),
    input: map_get($inputs, inverse),
    disabled: map_get($disabled, inverse),
    bg-color: $dark-color,
    color: $light-color
  ),
  side-main: (
    select: map_get($select, inverse),
    input: map_get($inputs, inverse),
    disabled: map_get($disabled, inverse),
    bg-color: $dark-color,
    color: $light-color
  )
);

//checkbox
$checkboxes: (
  default: (
    bg-color: $light-color,
    active-bg-color: $pink-color,
    linear-color: linear-gradient(to bottom, #c00, #c00),
    hook-color: $light-color,
    border-color: $gray-color
  ),
  inverse: (
    bg-color: $light-color,
    active-bg-color: $light-color,
    hook-color: $pink-color,
    border-color: $gray-color
  )
);

//radio
$radios: (
  default: (
    bg-color: $light-color,
    wrapper-color: $pink-color,
    inner-color: linear-gradient(to bottom, #ffcc53, #ffb70d)
  ),
  blue: (
    bg-color: $light-color,
    wrapper-color: $blue-color,
    inner-color: $blue-color
  ),
);

//popover
$popovers: (
  default: (
    title-color: $dark-color,
    title-bg-color: $white-color,
    content-color: $light-dark-color,
    content-bg-color: $white-color,
    arrow-color: #c86597
  )
);

$btns: (
  default: (
    color: $dark-color,
    bg-color: $white-color,
    border-color: $gray-color,
    linear-color: $white-linear-color,
    hover: (
      color: $dark-color,
      bg-color: $white-color,
      linear-color: $white-linear-color
    ),
    focus: (
      color: $dark-color,
      bg-color: $white-color,
      linear-color: $white-linear-color
    ),
    active: (
      color: $dark-color,
      bg-color: $white-color,
      linear-color: $white-linear-color
    )
  ),
  hot: (
    color: $white-color,
    bg-color: $color-hot,
    linear-color: linear-gradient(to bottom, $white-color, #e8213f 5%, #bd3358),
    border-color: #b4497a,
    hover: (
      color: $white-color,
      bg-color: $color-hot
    ),
    focus: (
      color: $white-color,
      bg-color: $color-hot
    ),
    active: (
      color: $white-color,
      bg-color: $color-hot
    )
  ),
  pink: (
    color: $white-color,
    bg-color: $pink-color,
    border-color: #bb5283,
    linear-color: linear-gradient(to bottom, $white-color, #ca6496 5%, #b64d7e),
    hover: (
      color: $white-color,
      bg-color: $pink-color
    ),
    focus: (
      color: $white-color,
      bg-color: $pink-color
    ),
    active: (
      color: $white-color,
      bg-color: $pink-color
    )
  ),
  pure: (
    color: $gray-color,
    bg-color: $white-color,
    border-color: $gray-color,
    hover: (
      color: $gray-color,
      bg-color: $white-color
    ),
    focus: (
      color: $gray-color,
      bg-color: $white-color
    ),
    active: (
      color: $gray-color,
      bg-color: $white-color
    )
  ),
  b-white: (
    color: $dark-color,
    bg-color: transparent,
    border-color: #aaaaaa,
    hover: (
      color: $dark-color,
      bg-color: transparent
    ),
    focus: (
      color: $dark-color,
      bg-color: transparent
      //box-shadow: none
    ),
    active: (
      color: $dark-color,
      bg-color: transparent,
      //box-shadow: none
    )
  ),
  silent: (
    color: $color-amber,
    bg-color: $white-color,
    border-color: $gray-color,
    hover: (
      color: $color-amber,
      bg-color: $white-color
    ),
    focus: (
      color: $color-amber,
      bg-color: $white-color
      //box-shadow: none
    ),
    active: (
      color: $color-amber,
      bg-color: $white-color
      //box-shadow: none
    )
  )
);

//==========================================

//cursors
$cursors: (
  default: default,
  pointer: pointer,
  text: text,
  move: move
);

$top-nav-height: 40px;

//icon block
$icon-block: (
  bg-color: #b2afb0,
  color: $light-color,
  icon-size: 18px,
  size: 17px,
  radius: 17px
);

//modal
$modals: (
  xs: 150px,
  sm: 290px,
  smd: 350px,
  md: 520px,
  md2: 560px,
  lg: 876px
);

$tables: (
  similar: (
    th-bg-color: $main-light-color,
    th-color: $font-color,
    td-bg-color: $main-light-color,
    td-bg-hover-color: $main-pale-color,
    td-color: $font-color
  ),
  deep: (
    th-bg-color: $new-main-deep-color,
    th-color: $font-color,
    td-bg-color: #1daab0,
    td-color: $font-color
  )
);

//portlet

$portlets: (
  default: (
    header-bg: $white-color,
    header-color: $font-color,
    border-color: $gray-color,
    body-bg: $white-color,
    body-color: $font-color
  ),
  amber: (
    header-bg: $white-color,
    header-color: $color-amber,
    border-color: $gray-color,
    body-bg: $white-color,
    body-color: $font-color
  )
);

//alert
$alerts: (
  default: (
    bg-color: $white-linear-color,
    border-color: $gray-color,
    color: $color-amber
  ),
  warning: (
    bg-color: #fcf8e3,
    color: $main-deep-color
  ),
  info: (
    bg-color: #e2f1fc,
    color: #446e77
  ),
  light: (
    bg-color: $main-light-color,
    color: $font-color
  )
);

//nav-pills
$nav-pills-TB: 21px !default;

//carousel
$carousel-indicators-width: 25px;
$carousel-indicators-margin: 0 10px;

//text-circle

$text-circle-colors: (
  default: (
    color: $dark-color,
    background: linear-gradient(to bottom, #ffbd11, #ffa701),
    border-color: #fe9405
  ),
  pleasant: (
    color: $dark-color,
    background: $color-pleasant
  ),
  sky: (
    color: $white-color,
    background: $blue-color
  ),
  hot: (
    color: $white-color,
    background: $hot-color
  ),
  peaceful: (
    color: $white-color,
    background: $green-color
  )
);

$text-circle-sizes: (
  xs: (
    width: 18px,
    font-size: $font-xs
  ),
  sm: (
    width: 28px,
    font-size: $font-jb
  ),
  md: (
    width: 33px,
    font-size: $font-lg
  )
);

//nav
$navTabs: (
  default: (
    border-color: $color-sunshine,
    color: $font-color-coffee,
    //bg-color: #f7f7f7,
    active-color: $hot-color,
    active-bg-color: $white-linear-color
  ),
  hot: (
    border-color: #a83d6b,
    color: $font-color,
    //bg-color: $white-color,
    active-color: $white-color,
    active-bg-color: linear-gradient(180deg, #eb3939, #a83d6b)
  ),
);

$tab-circle-sizes: (
  sm: (
    width: 30px,
    font-size: $font-md
  ),
  md: (
    width: 40px,
    font-size: $font-jb
  )
);

//wrapper
$wrapper-margin-left: 0 !default;
$wrapper-margin-right: 0 !default;

//modal
$modal-fade-opacity: 0.3 !default;

//header
$header-color: $light-dark-color;
$header-height: 52px !default;

//card
$cards-width: 241px !default;
$cards-height: 138px !default;

//steps
$steps: (
  indent: 20px,
  active-color: $color-sunshine,
  disabled-color: $light-dark-color-2
);

$validate: (
  invalid-border-color: $color-pleasant
);

$sfa-d-tickets: (

  sfa-d-happy-pk10: (
    default: '~base/images/tickets/d-happy-pk10.png'
  ),
  sfa-d-low-3d: (
    default: '~base/images/tickets/d-low-3d.png'
  ),
  sfa-d-low-3d-ffc: (
    default: '~base/images/tickets/d-low-3d-ffc.png'
  ),
  sfa-d-low-p5p3: (
    default: '~base/images/tickets/d-low-p5p3.png'
  ),
  sfa-d-num-ffc: (
    default: '~base/images/tickets/d-num-ffc.png'
  ),
  sfa-d-num-gd: (
    default: '~base/images/tickets/d-num-gd.png'
  ),
  sfa-d-num-jx: (
    default: '~base/images/tickets/d-num-jx.png'
  ),
  sfa-d-num-sd: (
    default: '~base/images/tickets/d-num-sd.png'
  ),
  sfa-d-sp-ssc-ffc: (
    default: '~base/images/tickets/d-sp-ssc-ffc.png'
  ),
  sfa-d-sp-ssc-sfc: (
    default: '~base/images/tickets/d-sp-ssc-sfc.png'
  ),
  sfa-d-sp-ssc-wfc: (
    default: '~base/images/tickets/d-sp-ssc-wfc.png'
  ),
  sfa-d-ssc-cq: (
    default: '~base/images/tickets/d-ssc-cq.png'
  ),
  sfa-d-ssc-hg: (
    default: '~base/images/tickets/d-ssc-hg.png'
  ),
  sfa-d-ssc-hlj: (
    default: '~base/images/tickets/d-ssc-hlj.png'
  ),
  sfa-d-ssc-jnd: (
    default: '~base/images/tickets/d-ssc-jnd.png'
  ),
  sfa-d-ssc-tj: (
    default: '~base/images/tickets/d-ssc-tj.png'
  ),
  sfa-d-ssc-tw: (
    default: '~base/images/tickets/d-ssc-tw.png'
  ),
  sfa-d-ssc-xj: (
    default: '~base/images/tickets/d-ssc-xj.png'
  ),
  sfa-d-ssc-xjp: (
    default: '~base/images/tickets/d-ssc-xjp.png'
  ),
);
