.wrapper {
  position: relative;
  top: 82px;

  width: $body-width;
  margin-left: auto;
  margin-right: auto;

  .wrapper-main {
    position: relative;
    margin-left: $wrapper-margin-left;
    margin-right: $wrapper-margin-right;
  }
}
