.athena_th{
    margin-left: -10px;
}
 .athena3{
    margin-left:70px !important;

}
 .athena-hr{
    margin-top:20px;
 }
.toggle-athena{
    background-color: #e0e0e0;
    outline: none;
    inline:none;
}

