body{
	background: url('~base/images/fh/bg.png') no-repeat #f8f8f8;
	font-family: '微软雅黑';
}

.table{
	font-size: 14px;

	tr{
		th{
			font-weight: normal;
		}
	}
}

select {
	outline: none;
}

textarea{
	width: auto;
}

.julien-table-tbody{
	border-top: 0px;
}
.modal-lg-julien{
	width: 1020px !important;
	margin-left: -510px !important;
	font-size: 14px;
	font-family: '微软雅黑';
	background: url(~base/images/julien/modal-lg-julien-bg.jpg) no-repeat bottom #fff;

	.athena-quota{
		border:1px solid #e4393c;
	}

	.modal-body{
		background: none;

		p{
			color: #cc0000;
			font-size: 14px;
			padding-left: 20px;
		}

		.control-group,.controls-group{
			margin-left: 100px;
		}

		.tips{
			color: #fff;
			height: 33px;
			line-height: 33px;
			background-color: #cc0000;
			border-radius: 33px;
			padding-left: 20px;
			margin-bottom: 20px;
		}

		.play-table{
			width: 723px;
			margin: 0px auto;

			div div table{
				font-size: 14px;
				background-color: #fff;
				color: #666666;
			}
		}

		.btn-center{
			text-align: center;
			border-top: 1px solid #e2e2e2;
			margin-top: 45px;
			padding-top: 28px;

			button{
				background-color: #cc0000;
				padding: 7px 19px;
				border: 0px;
				color: #fff;
			}
		}

		textarea{
			background-color: #f7f7f7;
			border: 1px solid #ccc;
		}

		.rebateBtn{
			margin: 20px;
			text-align: center;
			input{
				width: 50px;
			}
			button{
				background-color: #cc0000;
				padding: 7px 19px;
				border: 0px;
				color: #fff;
				margin-left: 20px;
			}
		}
	}
}

.model-delete-julien{
	width: 700px !important;
	color: #666666;
	font-family: '微软雅黑';
	font-size: 16px;

	.modal-content{
		background-color: #fff;
	}

	.modal-body{
		padding: 60px 0px;
	}

	.modal-footer{
		border-top: 1px solid #e2e2e2;
		padding: 26px 0px 33px 0px;
		margin: 0px 5px;
		background-color: #fff;

		.control-confirm-special{
			margin: 0px;

			button{
				background-color: #cc0000;
				padding: 7px 19px;
				border: 0px;
				color: #fff;
				width: auto;
				height: auto;

				&.confirm-reject{
					background-color: #cc9966;
					margin-left: 13px !important;
					border-radius: 0px;
					text-decoration: none !important;
				}
			}
		}
	}
}

.model-copy-julien{
	width: 700px !important;
	font-family: '微软雅黑';
	font-size: 16px;

	.modal-content{
		background-color: #fff;
	}

	.modal-body{
		padding: 60px 0px;

		div{
			color: #cc3333;
			height: 65px;
			line-height: 65px;
			width: 116px;
			background: url(~base/images/julien/23.png) no-repeat left;
			margin: 0px auto;
			padding-left: 72px;
		}
	}
}

.model-sucessAndCopy-julien{
	width: 700px !important;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #666666;

	.modal-content{
		background-color: #fff;
	}

	.modal-body{
		padding: 30px 0px 50px 0px;
		text-align: center;

		h3{
			font-size: 16px;
			font-weight: initial;
			color: #cc0000;
			padding: 0px;
			margin: 0px;
		}

		span{
			display: block;
			margin-bottom: 15px;
		}

		button{
			font-size: 16px;
			margin-top: 15px;
      background-color: #cc0000;
      padding: 5px 8px;
      border-radius: 3px;
      color: #fff;
      border: 0px;
      border-radius: 0px;
		}
	}
}


.julien-verify{
	dl{
		position: relative;
	}

	.correct{
    i{
      position: absolute;
      top: 7px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(~base/images/julien/07.png) no-repeat;
    }
  }

  .messageBox{
    position: absolute;
    top: 2px;
    display: none;

    b{
      float: left;
      display: block;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: dashed solid dashed dashed;
      border-color: transparent #999999 transparent transparent;
      margin-top: 8px;
    }

    span{
      float: left;
      display: block;
      height: 26px;
      background-color: #999999;
      line-height: 26px;
      padding: 0px 8px;
      border-radius: 3px;
      color: #fff;
    }
  }

  .wrong{
    i{
      position: absolute;
      top: 7px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(~base/images/julien/07.png) no-repeat 0 -16px;
    }

    .messageBox{
      display: block;
    }
  }
}

.slimScrollDiv{
	height: auto !important;
	min-height: 20px;

	.relative{
		height: auto !important;
	}
}

.modal-dialog{
	.slimScrollDiv{
		height: 230px !important;
		overflow-y: auto !important;
	}
}

.julien-black{
	margin: 15px;
	margin-left: 0px;
	text-align: center;
	width: 120px;
	padding: 5px 0px;
	border: 0px;
	background-color: #d8855a;
	font-size: 16px;
	font-family: '微软雅黑';
	color: #fff;
	display: block;

	&:hover{
		color: #fff;
	}
}

.mask{
	position: fixed;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 101;
}

.julien-rebate-dialog{
	font-family: '微软雅黑';
	margin: 0px 130px;

	.tips{
		text-align: center;
	}

	> div > div > table{
		tr{
			height: 38px;
			background-color: #f2f2f2;
			line-height: 38px;
			color: #999999;
			font-family: '\5FAE\8F6F\96C5\9ED1';
			font-size: 14px;

			th{
				vertical-align: middle;
				background: none;
				font-weight: normal;
			}
		}
	}

	> div > div > div >table{
		tr{
			background-color: #fff;
			color: #666666;
			font-size: 14px;
		}
		td{
			padding: 8px 3px;
		}
		a{
			color: #666666;
			font-size: 14px;
		}
	}
}

.julien-quota-dialog{
	font-family: '微软雅黑';

	.title{
		font-size: 16px;
		color: #666666;
		margin-bottom: 15px;


		span{
			display: inline-block;
			margin-right: 100px;
			b{
				color: #cc0000;
				font-weight: initial;
			}
		}
	}
}

#footer{
	.foot1{
		clear: both;
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
	}
	.foot2{
		height: 100px;
	}
}

.julien-table-title{
	tr{
		height: 38px;
	    background-color: #f2f2f2;
	    line-height: 38px;
	    color: #999999;
	    font-family: '\5FAE\8F6F\96C5\9ED1';
	    font-size: 14px;

	    th{
	    	vertical-align: middle;
			background: none;
			font-weight: normal;
	    }
	}
}
.julien-table-tbody{
	tr{
		color:#444;
		span{
			color:red;
		}
	}
}
.row-span{
	height:13px;
	display:inline-block;
}
.julien-transfer-dialog{
	font-family: '微软雅黑';
	color: #666666;
	font-size: 14px;

	.tips{
		margin: 0px 152px 40px 152px !important;
		text-align: center;
	}

	dt,dd{
		padding: 0px;
		margin: 0px;
		display: inline-block;
	}

	dl{
		margin-left: 320px;
		width: 620px;
		height: 35px;

		dt{
			width: 81px;
			text-align: right;
			font-weight: initial;
			margin-right: 10px;
		}

		&.price{
			dd{
				color: #cc0000;
				font-size: 18px;
			}
		}

		dd{
			i{
				left: 285px;
			}
			.messageBox{
				left: 305px;
			}
			
		}
	}

	.row-btn{
		text-align: center;
		border-top: 1px solid #e2e2e2;
		margin-top: 45px;
		padding-top: 28px;
		margin-bottom: 20px;

		button{
			background-color: #cc0000;
			padding: 7px 19px;
			border: 0px;
			color: #fff;
		}
	}
}

.security-notice-type-div{
	line-height: 24px;
	font-size: 14px;
	font-family: '微软雅黑';
}

.julien-div-table-title{
	>table{
		tr{
			height: 38px;
		    background-color: #f2f2f2;
		    line-height: 38px;
		    color: #999999;
		    font-family: '\5FAE\8F6F\96C5\9ED1';
		    font-size: 14px;


		    th{
		    	vertical-align: middle;
				background: none;
				font-weight: normal;
		    }
		}
	}
}
.athena-dl{
	display:none;
}

.modal-info-julien{
	width: 1020px !important;
	margin-left: -510px !important;
	font-size: 14px;
	font-family: '微软雅黑';
	background: url(~base/images/julien/modal-lg-julien-bg.jpg) no-repeat 100px 80px #fff;

	.modal-body{
		background: none;
	}

	.modal-title{
		margin: 0 0 0 20px;
	}

	.modal-header-left{
		padding-left: 50px;
		width: 240px;
		height: 42px;
		line-height: 41px;
		font-size: 16px;
		color: #000000;
		float: left;
		border: 1px solid #cccccc;
		border-top: 0px;
		border-left: 0px;
		background: url(~base/images/julien/25.png) no-repeat 15px 15px;
	}
	.modal-header{
		width: 715px;
		float: left;
		border-bottom: 1px solid #cccccc;
	}
	.modal-body{
		clear: both;
		border-bottom: 1px solid #cccccc;
		border-top: 0px;
	}

	form{
		margin: 0px;
	}
}

.bg-bread{
	.btn-link-cool{
		color: #666;
		&:hover{
			color: #666;
		}
	}
}

.border-table-bottom{
	border: 0px;
}

.marginlr20{
	margin-left: 20px;
	margin-right: 20px;
}

.julien-table-footer{
	border-top: 0px;
	font-size: 16px;
	font-family: '微软雅黑';

	.brw{
		border-right: 1px solid #fff;
	}

	span{
		color: #333;
		margin-left: -870px;
	}

	.price{
		background-color: #c2b5ed;
		color: #fff;
	}

	.price2{
		background-color: #edb5d9;
		color: #fff;
	}
	
}

.lowLevelManage-view{
	.get-red{
		color: #cf4f45;
		cursor: pointer;
	}
	.get-no{
		color: #cccccc;
	}
}


.slimScrollDiv{
	table{
		td{
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}

.overflow-hidden{
	overflow: hidden;
}
.js-quota-rebate-Inp{
	width:35px;
	height:26px;
}
.julien-button{
	background-color: #cc0000;
	padding: 7px 19px;
	border: 0px;
	color: #fff;
}
.julien-button2{
	background-color: #cc0000;
	padding: 7px 19px;
	border: 0px;
	color: #fff;
	margin-top: 15px;
}
.julien-button-margin{
	margin-left:430px;
	margin-top:30px;
}

.julien-close-btn{
	background-color: #cc9966;
	padding: 7px 19px;
	border: 0px;
	color: #fff;
	margin-left: 10px;
}

dl,dt,dd{
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	display: inline-block;
}

.julien-btn-group{
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #e2e2e2;
	text-align: center;
}

.julien-table-content{
	border-left: 1px solid #ccc;
	
	td{
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
}

.julien-title{
	line-height: 40px;
}

.julien-remark{
	border: 1px solid #ccc;
}

.modal-dialog{
	font-size: 14px;
	color: #999;
}

.margin20-0{
	margin: 20px 0px;
}