body{
	background: url('~base/images/fh/bg.jpg') no-repeat #fff;
	font-family: '微软雅黑';

}

.wm-loader-wrapper{
	.loading{
		background: url('~base/images/julien/loading2.gif') no-repeat;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-position: center center;
	}
}

.julien-table-tbody{
	border-top: 0px;
}

.model-delete-julien{
	width: 700px !important;
	color: #666666;
	font-family: '微软雅黑';
	font-size: 16px;

	.modal-content{
		background-color: #fff;
	}

	.modal-body{
		padding: 60px 0px;
	}

	.modal-footer{
		border-top: 1px solid #e2e2e2;
		padding: 26px 0px 33px 0px;
		margin: 0px 5px;
		background-color: #fff;

		.control-confirm-special{
			margin: 0px;

			button{
				background-color: #cc0000;
				padding: 7px 19px;
				border: 0px;
				color: #fff;
				width: auto;
				height: auto;

				&.confirm-reject{
					background-color: #cc9966;
					margin-left: 13px !important;
					border-radius: 0px;
					text-decoration: none !important;
				}
			}
		}
	}
}

.model-copy-julien{
	width: 700px !important;
	font-family: '微软雅黑';
	font-size: 16px;

	.modal-content{
		background-color: #fff;
	}

	.modal-body{
		padding: 60px 0px;

		div{
			color: #cc3333;
			height: 65px;
			line-height: 65px;
			width: 116px;
			background: url(~base/images/julien/23.png) no-repeat left;
			margin: 0px auto;
			padding-left: 72px;
		}
	}
}

.model-sucessAndCopy-julien{
	width: 700px !important;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #666666;

	.modal-content{
		background-color: #fff;
	}

	.modal-body{
		padding: 30px 0px 50px 0px;
		text-align: center;

		h3{
			font-size: 16px;
			font-weight: initial;
			color: #cc0000;
			padding: 0px;
			margin: 0px;
		}

		span{
			display: block;
			margin-bottom: 15px;
		}

		button{
			font-size: 16px;
			margin-top: 15px;
			background-color: #cc0000;
			padding: 5px 8px;
			border-radius: 3px;
			color: #fff;
			border: 0px;
			border-radius: 0px;
		}
	}
}


.julien-verify{
	dl{
		position: relative;
	}

	.correct{
		i{
			position: absolute;
			top: 7px;
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(~base/images/julien/07.png) no-repeat;
		}
	}

	.messageBox{
		position: absolute;
		top: 2px;
		display: none;

		b{
			float: left;
			display: block;
			width: 0;
			height: 0;
			border-width: 5px;
			border-style: dashed solid dashed dashed;
			border-color: transparent #999999 transparent transparent;
			margin-top: 8px;
		}

		span{
			float: left;
			display: block;
			height: 26px;
			background-color: #999999;
			line-height: 26px;
			padding: 0px 8px;
			border-radius: 3px;
			color: #fff;
		}
	}

	.wrong{
		i{
			position: absolute;
			top: 7px;
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(~base/images/julien/07.png) no-repeat 0 -16px;
		}

		.messageBox{
			display: block;
		}
	}
}

//.slimScrollDiv{
//	height: auto !important;
//	min-height: 20px;
//
//	.relative{
//		height: auto !important;
//	}
//}

//.modal-dialog{
//	.slimScrollDiv{
//		height: 230px !important;
//		overflow-y: auto !important;
//	}
//}

.julien-black{
	margin: 15px;
	margin-left: 0px;
	text-align: center;
	width: 120px;
	padding: 5px 0px;
	border: 0px;
	background-color: #d8855a;
	font-size: 16px;
	font-family: '微软雅黑';
	color: #fff;
	display: block;

	&:hover{
		color: #fff;
	}
}

.mask{
	position: fixed;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 101;
}

.julien-table-tbody{
	tr{
		color:#444;
		span{
			color:red;
		}
	}
}
.julien-transfer-dialog{
	font-family: '微软雅黑';
	color: #666666;
	font-size: 14px;

	.tips{
		margin: 0px 152px 40px 152px !important;
		text-align: center;
	}

	dt,dd{
		padding: 0px;
		margin: 0px;
		display: inline-block;
	}

	dl{
		margin-left: 320px;
		width: 620px;
		height: 35px;

		dt{
			width: 81px;
			text-align: right;
			font-weight: initial;
			margin-right: 10px;
		}

		&.price{
			dd{
				color: #cc0000;
				font-size: 18px;
			}
		}

		dd{
			i{
				left: 285px;
			}
			.messageBox{
				left: 305px;
			}

		}
	}
}

.security-notice-type-div{
	line-height: 24px;
	font-size: 14px;
	font-family: '微软雅黑';
}

.julien-div-table-title{
	>table{
		tr{
			height: 38px;
			background-color: #f2f2f2;
			line-height: 38px;
			color: #999999;
			font-family: '\5FAE\8F6F\96C5\9ED1';
			font-size: 14px;


			th{
				vertical-align: middle;
				background: none;
				font-weight: normal;
			}
		}
	}
}
.athena-dl{
	display:none;
}

.modal-info-julien{
	width: 1020px !important;
	margin-left: -510px !important;
	font-size: 14px;
	font-family: '微软雅黑';
	background: url(~base/images/julien/modal-lg-julien-bg.jpg) no-repeat 100px 80px #fff;

	.modal-body{
		background: none;
	}

	.modal-title{
		margin: 0 0 0 20px;
	}

	.modal-header-left{
		padding-left: 50px;
		width: 240px;
		height: 42px;
		line-height: 41px;
		font-size: 16px;
		color: #000000;
		float: left;
		border: 1px solid #cccccc;
		border-top: 0px;
		border-left: 0px;
		background: url(~base/images/julien/25.png) no-repeat 15px 15px;
	}
	.modal-header{
		width: 715px;
		float: left;
		border-bottom: 1px solid #cccccc;
	}
	.modal-body{
		clear: both;
		border-bottom: 1px solid #cccccc;
		border-top: 0px;
	}

	form{
		margin: 0px;
	}
}

.bg-bread{
	.btn-link-cool{
		color: #666;
		&:hover{
			color: #666;
		}
	}
}

.border-table-bottom{
	border: 0px;
}

.marginlr20{
	margin-left: 20px;
	margin-right: 20px;
}

.julien-table-footer{
	border-top: 0px;
	font-size: 16px;
	font-family: '微软雅黑';

	.brw{
		border-right: 1px solid #fff;
	}

	span{
		color: #333;
		margin-left: -870px;
	}

	.price{
		background-color: #c2b5ed;
		color: #fff;
	}

	.price2{
		background-color: #edb5d9;
		color: #fff;
	}

}

.lowLevelManage-view{
	.get-red{
		color: #cf4f45;
		cursor: pointer;
	}
	.get-no{
		color: #cccccc;
	}
}

.js-quota-rebate-Inp{
	width:35px;
	height:26px;
}

.julien-close-btn{
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	background-image: -webkit-linear-gradient(180deg, #ec1b42, #be3259);
	background-image: linear-gradient(180deg, #ec1b42, #be3259);
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	padding: 2px 10px;

	&:hover{
		background-image: -webkit-linear-gradient(180deg, #be3259, #ec1b42);
		background-image: linear-gradient(180deg, #be3259, #ec1b42);
	}

	i{
		display: inline-block;
		margin-right: 3px;
	}
}

dl,dt,dd{
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	display: inline-block;
}

.julien-btn-group{
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #e2e2e2;
	text-align: center;
}

.julien-table-content{
	border-left: 1px solid #ccc;

	td{
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
}

.julien-title{
	line-height: 40px;
}

.julien-remark{
	border: 1px solid #ccc;
}

.margin20-0{
	margin: 20px 0px;
}

.julien-loading-leftmenu{
	width: 290px;
	top: -250px;
}

.julien-loading-content{
	width: 290px;
	margin-left: 510px;
	top: -240px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.hidden-js-main-display2{
	.js-main-display2{
		display: none;
	}
}

.julien-selectBtnList{
	display: inline-block;
	border: 1px solid #cccccc;
	border-right: 0px;

	&:after{
		content: '';
		clear: both;
		display: block;
	}

	li{
		display: inline-block;
		float: left;
		color: #666666;
		border-right: 1px solid #cccccc;
		padding: 3px 8px;
		background: #fefefe;
		background-image: -webkit-linear-gradient(#fff, #eaeaea);
		background-image: linear-gradient(#fff, #eaeaea);
		cursor: pointer;

		&.sd,&:hover{
			background-image:none;
			background-color:#e0e0e0;
		}
	}
}

.julien-salaryUser-dialog{
	.title{
		font-size: 14px;
		color: #666;

		span{
			margin: 0px 10px 0px 15px;
		}

		input{
			background-color: #fff;
			border-radius: 3px;
		}
	}

	.julien-salaryUser-list{
		margin-top: 10px;
		font-size: 12px;
		color: #444444;
		border: 1px solid #ccc;
		border-bottom: 0px;
		border-right: 0px;

		ul{
			text-align: center;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
			position: relative;

			&.listTitle{
				background-color: #f2f2f2;

				li{
					height: 28px;
					line-height: 28px;
				}
			}

			&:after{
				content: '';
				clear: both;
				display: block;
			}

			li{
				width: 30%;
				float: left;
				border-right: 1px solid #ccc;
				height: 40px;
				line-height: 40px;

				select{
					width: 60px;
					background-color: #f6f6f6;
					line-height: 18px;
					padding: 1px 5px;
				}

				input{
					width: 70px;
					border-radius: 3px;
					background-color: #fff;
					padding: 1px 5px;
				}

				&:last-child{
					float:right;

					i{
						position: absolute;
						right: -28px;
						top: 7px;
						font-style: inherit;
						display: inline-block;
						padding: 5px 8px;
						background-color: #cc0000;
						line-height: 16px;
						font-size: 16px;
						font-weight: bold;
						color: #fff;
						font-family: cursive;
						cursor: pointer;
					}
				}

				&.widthP25{
					width: 25%;
				}
				&.widthP14{
					width: 14%;
				}
			}
		}
	}
}

.quick-entry{
	display: none;
}

span{
	&.face01{
		background: url(~base/images/face/01.png) no-repeat;
	}
	&.face02{
		background: url(~base/images/face/02.png) no-repeat;
	}
	&.face03{
		background: url(~base/images/face/03.png) no-repeat;
	}
	&.face04{
		background: url(~base/images/face/04.png) no-repeat;
	}
	&.face05{
		background: url(~base/images/face/05.png) no-repeat;
	}
	&.face06{
		background: url(~base/images/face/06.png) no-repeat;
	}
	&.face07{
		background: url(~base/images/face/07.png) no-repeat;
	}
	&.face08{
		background: url(~base/images/face/08.png) no-repeat;
	}
	&.face09{
		background: url(~base/images/face/09.png) no-repeat;
	}
	&.face10{
		background: url(~base/images/face/10.png) no-repeat;
	}
	&.face11{
		background: url(~base/images/face/11.png) no-repeat;
	}
	&.face12{
		background: url(~base/images/face/12.png) no-repeat;
	}
	&.face13{
		background: url(~base/images/face/13.png) no-repeat;
	}
	&.face14{
		background: url(~base/images/face/14.png) no-repeat;
	}
	&.face15{
		background: url(~base/images/face/15.png) no-repeat;
	}
	&.face16{
		background: url(~base/images/face/16.png) no-repeat;
	}
	&.face17{
		background: url(~base/images/face/17.png) no-repeat;
	}
	&.face18{
		background: url(~base/images/face/18.png) no-repeat;
	}
}

.table-foot-tips{
	font-size: 12px;
	line-height: 40px;
}