<div class="js-ac-statics-bread julien-fh-block1">
  <div>
    团队总投注额
    <p>
      <span class="js-ac-betTotal"></span>元
    </p>
  </div>
  <div>
    团队总盈亏
    <p class="red">
      <span class="js-ac-profitTotal"></span>元
    </p>
  </div>
  <div>
    您分红比例
    <p>
      <span class="js-ac-divid"></span>%
    </p>
  </div>
  <div>
    您应得到的分红金额：
    <p>
      <span class="js-ac-dividTotal red"></span>元
    </p>
  </div>
</div>

<div class=" ac-statistic portlet">
  <div class="portlet-header">
    <span class="js-ad-detail ad-btn-detail">分红明细</span>
    <ul class="breadcrumb">
      <% _(dividList).each(function(divid, index) { %>
      <li class="js-ad-statics">
        <a href="javascript:void(0)"><%=divid.cycle %>分红统计</a>
        <% if (index !== dividList.length - 1) { %>
        <span class="divider">/</span>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </div>
  <div class="ac-statics-detail clearfix portlet-body">
    <div class="ac-money last">
      <div class="icon"></div>
      <div class="js-ac-freezeTotal-container ac-statics-text">
        目前冻结的金额：
        <span class="js-ac-freezeTotal"></span>元
        <i class="js-ac-freeze-top sfa sfa-help-tip cursor-pointer vertical-middle"></i>
      </div>
      <div class="ac-status"><span class="sfa sfa-divid-grant"></span> <span class="js-ac-status"></span></div>
    </div>
  </div>
</div>
