@charset "UTF-8";

@import
"~base/styles/imports";

$dropMenu: (
  hover-bg-color: #2c2c2c,
  sub-hover-bg-color: #69384c,
  sub-hover-color: #cccccc
);

.drop-menu {
  display: table;
  list-style: none;
  padding: 0;
  > li {
    display: inline-block;
    position: relative;
    z-index: 100;
    &:hover, &:focus {
      > a {
        background: map_get($dropMenu, hover-bg-color);
        color: $color-sunshine;
        outline: none;
      }
    }
  }
  a {
    color: $light-color;
    display: block;
    text-decoration: none;
    transition: all .2s linear;
    //&:hover, &:focus {
    //  background: map_get($dropMenu, hover-bg-color);
    //  outline: none;
    //}
  }

  &.drop-link {
    .drop-submenu {
      a {
        &:hover {
          color: map_get($dropMenu, sub-hover-color);
          text-decoration: underline;
        }
      }
    }
  }

  &.drop-chunk {
    .drop-submenu {
      a {
        &:hover {
          background: map_get($dropMenu, sub-hover-bg-color);
          color: map_get($dropMenu, sub-hover-color);
        }
      }
    }
  }
}

.drop-submenu {
  background: map_get($dropMenu, hover-bg-color);
  left: -9999px;
  position: absolute;
  top: -9999px;
  width: 100%;
  list-style: none;
  padding: 0;
  a {
    color:#cccccc;
  }
}

.is-show {
  left: auto;
  top: 100%;
}

