@charset "UTF-8";

@import
"~base/styles/imports";

$dropMenu: (
  hover-bg-color: #3d3d3d,
  sub-hover-bg-color: $color-sunshine
);

.drop-menu {
  list-style: none;
  padding: 0;
  > li {
    display: inline-block;
    position: relative;
    z-index: 100;
    &:hover, &:focus {
      > a {
        //background: map_get($dropMenu, hover-bg-color);
        color: $color-sunshine;
        //outline: none;
      }
    }
    //&:hover .drop-submenu {
    //  top: 100%;
    //  left: auto;
    //}
  }
  a {
    color: $light-color;
    display: block;
    padding: 18px 10px;
    text-decoration: none;
    line-height:17px;
    transition: all .2s linear;
    //&:hover, &:focus {
    //  background: map_get($dropMenu, hover-bg-color);
    //  outline: none;
    //}
  }

  &.drop-link {
    .drop-submenu {
      a {
        &:hover {
          color: map_get($dropMenu, sub-hover-bg-color);
          text-decoration: underline;
        }
      }
    }
  }

  &.drop-chunk {
    .drop-submenu {
      a {
        &:hover {
          background: map_get($dropMenu, sub-hover-bg-color);
          color: $dark-color;
        }
      }
    }
  }
}

.drop-submenu {
  background: map_get($dropMenu, hover-bg-color);
  left: -9999px;
  position: absolute;
  top: -9999px;
  width: 100%;
  list-style: none;
  padding: 0;
  a {
    padding: 5px 10px 5px 24px;
    color: #a79b8b;
  }
}

.is-show {
  left: auto;
  top: 100%;
}

