@charset "UTF-8";

@import
"~base/styles/imports";


.hc-hot-prod-header{
  border-bottom: 1px solid $deep-gray-color;
  height: 34px;
  line-height: 34px;
  padding-left: 17px;
  font-size: 13px;
  .sfa{
    margin: 7px 7px 0 0;
    float: left;
  }
}
.hc-hot-prod-list{
  .hc-hot-prod-item{
    height: 99px;

    list-style: none;

    border-bottom: 1px solid $deep-gray-color;
    .hc-hot-prod-icon{
      padding: 0px 45px;
    }

    .hc-hot-prod-name{
      height: 12px;
      margin-top: 28px;
      margin-bottom: 10px;
    }

    .hc-hot-prod-desc{
      height: 12px;
      margin-bottom: 28px;
    }
    &:hover{
      background-color: #f6f6f6;
    }
  }
}

.hc-main{
  p{
    line-height: 22px;
    text-indent: 24px;
  }

  .hc-title-lg{
    font-size: 16px;
  }
  .hc-title-md{
    font-size: 14px;
  }
  .hc-title-sm{
    font-size: 12px;
  }

}