<span class="relative">
  <div class="input-group">
  <input type="text" class="<%=prevClass %>-start-time input-medium form-control" name="<%=startTime %>" value="<%=strDefaultValue%>"  placeholder="<%=startTimeHolder %>" <%=startValidate %>  style="<%=widthHolder %>">
    <span class="input-group-addon">至</span>
  <input type="text" class="<%=prevClass %>-end-time input-medium form-control" name="<%=endTime %>" value="<%=endDefaultValue%>"  placeholder="<%=endTimeHolder %>" <%=endValidate %>  style="<%=widthHolder %>" >
    </div>
</span>
