@charset "UTF-8";

@import
"~base/styles/imports";

body{
  background: url('~base/images/julien/login-bg3.jpg') no-repeat;
  font-family: '微软雅黑';
  color: #343434;
}

dl,dt,dd{
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

.menuTips{
  font-size: 16px;
  font-family: '微软雅黑';
  position: absolute;
  top: 39px;
  left: 1200px;

  a{
    display: block;
    width: 99px;
    height:26px;
    line-height: 30px;
    float: left;
    margin-right: 20px;
    text-align: right;
    color: #666666;
  }

  a.m1{
    background: url(~base/images/julien/04.png) no-repeat top left;
  }
  a.m2{
    background: url(~base/images/julien/05.png) no-repeat top left;
  }
  a.m3{
    background: url(~base/images/julien/03.png) no-repeat top left;
    width: 114px;
    position: relative;
    &:hover{
      span{
        display:block;
      }
    }

    span{
      position: absolute;
      width: 150px;
      left: -20px;
      top: 0px;
      padding-top: 40px;
      display: none;
    }
  }
  a:hover{
    color:#c5222e;
   background-position: left -26px;
  }
}


.register{
  border: 1px solid #cccccc;
  width: 1200px;
  height: 590px;
  margin: 132px auto 20px auto;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(5,5,5,.1);
  border-radius: 5px;
  padding: 0px 20px;
  font-family: '微软雅黑';
  font-size: 14px;

  button{
    width: 164px;
    height: 37px;
    color: #fff;
    background-color: #cc0000;
    font-size: 15px;
    border: 0px;
    margin-right: 13px;
    float: left;
    background: url(./register.png) no-repeat;
    &:active{
      outline: none;
    }
  }
  .register-login-msg{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 6px;
  }
  .register-login-login{
    font-size: 12px;
    color: #cf3034;
  }
  .register-title{
    height: 50px;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    .register-title-eng{
      font-size: 16px;
      color: #a8a8a8;
      font-family: BaskOldface;
    }
  }
  .content-up{
    width: 100%;
    height: 365px;
  }
  .serverOnline{
    height: 50px;
    line-height: 50px;
    padding-left: 27px;
    color: #666666;
    float: right;
    font-size: 12px!important;
    width: inherit;
    .serverOnline-msg{
      margin-right: 5px;
    }
    a{
      color: #cf3034;
      text-decoration: underline;
    }
  }

  .register-content{
    clear: both;
    margin: 30px 0px;

    .left{
      width: 580px;
      height: 300px;
      float: left;
    }

    .right-content{
      width: 620px;
      height: 300px;
      float: right;
      margin-top: 10px; 
      .correct{
          i{
            left: 365px;
          }
        }

      .wrong{
        i{
          left: 365px;
        }

        .messageBox{
          left: 385px;
        }
      }


      input{
        width: 200px;
      }

      dl{
        position: relative;
        line-height: 30px;
        margin-bottom: 10px;
        &:after{
          clear:both;
          content: '';
          display: block;
        }
      }

      dt{
        width: 100px;
        float: left;
        line-height: 30px;
        height: 30px;
        text-align: right;
        color: #333333;

        span{
          color: #f95710;
        }
      }

      dd{
        width: 500px;
        float: left;
        line-height: 26px;
        padding: 2px 0;
        vertical-align: top;

        p{
          line-height: 28px;
          font-size: 12px;
          margin: 0px;
          color: #999999;
          width: 485px;
        }

        a{
          color: #666666;
          text-decoration: underline;
          display: inline-block;
        }
      }

      .code{
        margin-bottom: 20px;
        margin-top: 20px;
        input{
          width: 96px;
        }

        img{
          height: 28px;
          margin-left: 105px;
          cursor: pointer;
        }

        i{
          left: 305px !important;
        }

        .messageBox{
          left: 325px  !important;
        }
      }

      .passwdSafetyTips{
        padding-left: 100px;
        color: #999999;
        text-align: left;
        margin-top: -10px;

        span{
          display: inline-block;
          width: 69px;
          height: 15px;
          margin: 0px;
          border: 1px solid #fff;
          background-color: #e7e7e7;
          float: left;
          margin-top: 5px;
          font-size: 12px;
          text-align: center;
          color: #fff;
        }

        p{
          clear: both;
          font-size: 12px;
        }

        span.s1{
          background-color: #ff6600;
        }
        span.s2{
          background-color: #ff9900;
        }
        span.s3{
          background-color: #339900;
        }

        p.s1{
          color: #ff6600;
        }
        p.s2{
          color: #ff9900;
        }
        p.s3{
          color: #339900;
        }
      }
    }
    .register-bottom-pic{
      background: url(./shadow.png) no-repeat;
      width: 100%;
      height: 30px;
      margin-left: 115px;
    }
    .register-bottom{
      height: 81px;
      width: 100%;
      margin: 0px auto;
      clear: both;
      margin-top: 10px;
      font-size: 14px;
      font-family: '微软雅黑';
      color: #000000;
      .register-bottom-item{
        width: 230px;
        height: 55px;
        margin-left: 60px;
        display: inline-block;
      .register-bottom-item-ios-img{
        width: 55px;
        height: 55px;
        display: inline-block;
        background: url(./icon1.png) no-repeat;
        float: left;
      }
        .register-bottom-item-android-img{
          width: 55px;
          height: 55px;
          display: inline-block;
          background: url(./icon2.png) no-repeat;
          float: left;
        }
        .register-bottom-item-wap-img{
          width: 55px;
          height: 55px;
          display: inline-block;
          background: url(./icon3.png) no-repeat;
          float: left;
        }
        .register-bottom-item-pc-img{
          width: 55px;
          height: 55px;
          display: inline-block;
          background: url(./icon4.png) no-repeat;
          float: left;
        }
        .register-bottom-item-msg{
          width: 135px;
          height: 55px;
          display: inline-block;
          margin-top: 5px;
          margin-left: 15px;
          .register-bottom-item-msg-title{
            font-size: 18px;
            color: #333;
          }
          .register-bottom-item-msg-content{
            font-size: 12px;
            color: #999;
          }
        }
      }
      a{
        margin-right: 145px;
        text-align: center;
        display: inline-block;
        width: 75px;
        padding-top: 60px;

        &:last-child{
          margin:0px;
        }
      }
    }

    .carousel-indicators{
      bottom: 0px;
      width: 100%;
      margin: 0px;
      padding: 10px 0px 4px 0px;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      li{
        width: 13px;
        height: 13px;
        border-radius: 13px;
        background-color: #fff;
        margin: 0px 4px;

        &.active{
          background-color: #990000;
          opacity: 1;
        }
      }
    }
  }
}

a.logo{
  display: block;
  width: 150px;
  height: 83px;
  position: absolute;
  left: 385px;
  top: 20px;
}

.correct{
  i{
    position: absolute;
    top: 7px;
    left: 335px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(~base/images/julien/07.png) no-repeat;
  }
}

.messageBox{
  position: absolute;
  top: 2px;
  left: 355px;
  display: none;

  b{
    float: left;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #999999 transparent transparent;
    margin-top: 8px;
  }

  span{
    float: right;
    display: block;
    line-height: 26px;
    width: 188px;
    background-color: #999999;
    line-height: 26px;
    padding: 0px 8px;
    border-radius: 3px;
    color: #fff;
  }
}

.wrong{
  i{
    position: absolute;
    top: 7px;
    left: 335px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(~base/images/julien/07.png) no-repeat 0 -16px;
  }

  .messageBox{
    display: block;
  }
}
