<div class="js-active-header active-container-header-betting">
    <ul class="js-activeHeader-list">
        <li class="js-list-active list-active " data-index="0">设置计划</li>
        <li class="js-list-active " data-index="1">进行中的计划</li>
        <li class="js-list-active " data-index="2">我的收藏方案</li>
    </ul>
    <div class="alert-text-container">温馨提示：为了您的计划能正常进行，请确保您的账户有足够的余额，如若余额不够则无法正常进行</div>
    <div class="js-active-context cycle-context ">3333</div>
    <div class="alert-text-select">
        选择彩种:
        <select name="" id="">
            <options>00</options>
        </select>
    </div>
    <div class="alert-text-select">
        开始时间:
        <input type="text" class="js-excess-cell js-start-time input-md uc-bt-dateshow" name="startTime" placeholder="每日追号计划" value="每日追号计划">
        <a>新建计划</a>
    </div>
    <div class="alert-text-select">
        投注计划:
        <input style="background-color: red" type="radio"  name="sex" value="male">我的收藏方案&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input type="radio" name="sex"  >手动输入方案
    </div>
    <div class="alert-text-select">
        计划详情: &nbsp; &nbsp; &nbsp; &nbsp;计划开始时间06:00&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;重复计划：周一周二周三周四周五周六周日<a>&nbsp;&nbsp;&nbsp;&nbsp;删除</a>
    </div>
    <div class="alert-text-select">
        选择方案名:
        <select>
            <options>00</options>
            <options>00</options>
            <options>00</options>
        </select>
        <button class="btn cycle-btn ">添加</button>
    </div>
    <!--内容部分-->
    <!--<div class="js-active-context toggle-btn-betting">3333</div>-->



</div>