<div class="Betting-img"></div>
<div>
    <div  class="main-active-container">
        <div style="height:106px;" class="js-active-header active-container-header-betting">
            <ul class="js-activeHeader-list">
                <li class="js-list-active list-active " data-index="0">设置计划</li>
                <li class="js-list-active " data-index="1">进行中的计划</li>
                <li class="js-list-active " data-index="2">我的收藏方案</li>
            </ul>
            <div class="alert-text-container">温馨提示：为了您的计划能正常进行，请确保您的账户有足够的余额，如若余额不够则无法正常进行</div>
            </div>
        </div>
    <div class="js-active-header active-container-header-btn">
        <div class="js-active-context "></div>
     </div>
    <!--<div class="js-active-header active-container-header-btn">-->

            <!--<div class="js-uc-ticket-select-group alert-text-select">-->
                <!--<span class="text-content-span">选择彩种:</span>-->
                <!--<select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>-->
            <!--</div>-->
            <!--<div class="alert-text-select">-->
                <!--<span class="text-content-span">开始时间:</span>-->
                <!--<span class="js-pf-timeset"></span>-->
                <!--<a class="js-newplan">新建计划</a>-->
            <!--</div>-->
            <!--<div class="alert-text-select">-->
                <!--<span class="text-content-span">投注计划:</span>-->
                <!--<span></span><input style="background-color: red" type="radio"  name="sex" value="male"><span class="text-content-span-paln">我的收藏方案 </span><input type="radio" name="sex"  ><span class="text-content-span-plan">手动输入方案</span>-->
            <!--</div>-->
            <!--<div class="alert-text-select">-->
                <!--<span class="text-content-span">计划详情: 计划开始时间:</span><span class="js-plan-time"></span>&重复计划：<a>删除</a>-->
            <!--</div>-->
            <!--<div class="js-uc-ticket-select-group alert-text-select">-->
                <!--<span class="text-content-span">选择方案名:</span>-->
                <!--<select style="appearance:no;" class="js-pf-select-ticket-list select2" name="ticketId" data-parsley-numAndMidLine></select>-->
                <!--<button class="btn cycle-btn">添加</button>-->
            <!--</div>-->
            <!--<div  class="alert-text-select alert-hidden">-->
                <!--<div  class="alert-scroll"><span class="text-content-span">投注内容：</span></div>-->
                <!--<div class="text-content-wd" >-->
                    <!--<table class="table table-bordered  table-center ">-->
                        <!--<colgroup>-->
                            <!--<col width="13%">-->
                            <!--<col width="13%">-->
                            <!--<col width="13%">-->
                            <!--<col width="13%">-->
                            <!--<col width="13%">-->
                            <!--<col width="13%">-->
                            <!--<col width="13%">-->
                        <!--</colgroup>-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>-->
                                <!--方案名-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--投注彩种-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--玩法-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--投注内容-->
                            <!--</th>-->
                            <!--<th colspan="2">-->
                                <!--倍数-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--投注模式-->
                            <!--</th>-->
                            <!--<th>-->
                                <!--操作-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody class="js-reward-grid">-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="alert-text-select">追号方式：<input class="checkbox-style" type="checkbox">追中即停</div>-->
         <!--<div  class="alert-text-select">-->
            <!--<button class="btn btn-plan">生成计划</button>-->
        <!--</div>-->
        <!--</div>-->
            <!--&lt;!&ndash;内容部分&ndash;&gt;-->

        </div>
    </div>
</div>
<!--<div  class="js-alert-new periodWay ">-->
    <!--<div class="periodWay-content-athena">-->
        <!--<div  class=" alert-text-periodWay periodWay-text">-->
            <!--<span class="text-content-span">新建计划</span>-->
            <!--<span class="js-hidden btn-athena">x</span>-->
        <!--</div>-->
        <!--&lt;!&ndash;温馨提示&ndash;&gt;-->
        <!--<div style="color: red;" class=" alert-text-periodWay">温馨提示：设置好计划时间和重复周期后，系统将每周固定进行您的计划</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
            <!--<span class="text-content-span-inheirt">计划开始时间:</span>-->
            <!--<span class="js-pf-timeset"></span>-->
           <!--&lt;!&ndash; <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
            <!--<span class="text-content-span-inheirt">重复周期:</span>-->
            <!--<select name="" >-->
                <!--<option value="1">每周一</option>-->
                <!--<option value="2">每周二</option>-->
                <!--<option value="3">每周三</option>-->
                <!--<option value="4">每周四</option>-->
                <!--<option value="5">每周五</option>-->
                <!--<option value="6">每周六</option>-->
            <!--</select>-->
            <!--<span>（选定类型后，将会按照重复计划，每日进行计划）</span>-->
        <!--</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
           <!--<span class="text-content-span-inheirt">备注：</span>-->
            <!--<select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>-->
        <!--</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
            <!--<button class="js-cycle-btn btn  btn-plan ">确定</button>-->
            <!--<button class="btn cycle-btn">取消</button>-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->