<div class="Betting-img"></div>
<div>
    <div  class="main-active-container">
        <div style="height:106px;" class="js-active-header active-container-header-betting">
            <ul class="js-activeHeader-list">
                <li class="js-list-active list-active " data-index="0">设置计划</li>
                <li class="js-list-active " data-index="1">进行中的计划</li>
                <li class="js-list-active " data-index="2">我的收藏方案</li>
            </ul>
            <div class="alert-text-container">温馨提示：为了您的计划能正常进行，请确保您的账户有足够的余额，如若余额不够则无法正常进行</div>
            </div>
        </div>
    <div class="js-active-header">
        <div class="js-active-context "></div>
        <!--<div class="js-active-context1 "></div>-->
     </div>


        </div>
    </div>
</div>
