
<div class="js-active-header active-container-header-btn">
    <div class="js-uc-ticket-select-group alert-text-select">
        <span class="text-content-span">选择彩种:</span>
        <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>
    </div>

    <div  class="alert-text-select alert-hidden">
        <div  class="alert-scroll"><span class="text-content-span">投注内容：</span></div>
        <div class="text-content-wd-collection" >
            <table class="table table-bordered  table-center ">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        收藏备注
                    </th>
                    <th>
                        玩法名
                    </th>
                    <th>
                        投注内容
                    </th>
                    <th>
                        倍数
                    </th>
                    <th colspan="2">
                        投注模式
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td colspan="2">
                        未命名1
                    </td>
                    <td class="js-selete-text-content delete-pointer">
                        删除
                    </td>
                </tr>
                </thead>
                <tbody class="js-reward-grid">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--内容部分-->

</div>
</div>
</div>
<div  class="js-alert-new periodWay ">
    <div class="periodWay-content-athena">
        <div  class=" alert-text-periodWay periodWay-text">
            <span class="text-content-span">新建计划</span>
            <span class="js-hidden btn-athena">x</span>
        </div>
        <!--温馨提示-->
        <div style="color: red;" class=" alert-text-periodWay">温馨提示：设置好计划时间和重复周期后，系统将每周固定进行您的计划</div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <span class="text-content-span-inhrirt">计划开始时间:</span>
            <span class="js-pf-timeset"></span>
            <!-- <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>-->
        </div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <span class="text-content-span">重复周期:</span>
            <select name="" >
                <option value="1">每周一</option>
                <option value="2">每周二</option>
                <option value="3">每周三</option>
                <option value="4">每周四</option>
                <option value="5">每周五</option>
                <option value="6">每周六</option>
            </select>
            <span>（选定类型后，将会按照重复计划，每日进行计划）</span>
        </div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <span class="text-content-span">备注：</span>
            <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>
        </div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <button class="js-cycle-btn btn cycle-btn ">确定</button>
            <button class="btn cycle-btn">取消</button>
        </div>


        </div>
    </div>

</div>
<!--弹窗-->
<div style="background: red" class="julien-quota-dialog">
    <div class="title js-quota-title" ></div>
    <div class="js-ac-quota-container"></div>
    <div class="row-btn "><button type="button" class="js-ac-submitQuota julien-button julien-button-margin" data-loading-text="保存中">保存修改</button></div>');
    '<div class="row-btn"><span class="row-span"></span></span></div>
</div>