
<div class="js-active-header active-container-header-btn content-height-box">
    <div class="js-uc-ticket-select-group alert-text-select">
        <span class="text-content-span">选择彩种：</span>
        <div class="text-conten-Input">
            <select style="font-style: normal;line-height: 16px;" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>
        </div>
    </div>
    <div class="js-uc-ticket-select-group alert-text-select alert-text-select-margin ">
        <span style="line-height: 16px;" class="text-content-span">投注内容：</span>
        <div class="text-content-wd-collection" >
            <table class="table table-bordered  table-center ">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        收藏备注
                    </th>
                    <th>
                        玩法名
                    </th>
                    <th colspan="2">
                        投注内容
                    </th>
                    <th>
                        倍数
                    </th>
                    <th >
                        投注模式
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr>
                    <td class="js-colplanplan btn-athena">
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td colspan="2">
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td class="js-selete-text-content delete-pointer">
                        删除
                    </td>
                </tr>
                </thead>
                <tbody class="js-reward-grid">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--内容部分-->


