
<div class="js-active-header active-container-header-btn">
    <div class="js-uc-ticket-select-group alert-text-select">
        <span class="text-content-span">选择彩种:</span>
        <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>
    </div>

    <div  class="alert-text-select alert-hidden">
        <div  class="alert-scroll"><span class="text-content-span">投注内容：</span></div>
        <div class="text-content-wd-collection" >
            <table class="table table-bordered  table-center ">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        收藏备注
                    </th>
                    <th>
                        玩法名
                    </th>
                    <th>
                        投注内容
                    </th>
                    <th>
                        倍数
                    </th>
                    <th colspan="2">
                        投注模式
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                <tr>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td colspan="2">
                        未命名1
                    </td>
                    <td class="js-selete-text-content delete-pointer">
                        删除
                    </td>
                </tr>
                </thead>
                <tbody class="js-reward-grid">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--内容部分-->

<div  class="js-alert-background-dialog collect-Way  ">
    <div class="periodWay-content-athena ofstecontemnt">
        <div   class=" alert-text-periodWay  collectImage">
            <span style="display:inline-block;float:left; line-height: 15px; margin-left: 10px" class="text-content-span  ">提示</span>
            <span class="js-hidden-dialog btn-athena btn-close"></span>
     </div>
        <!--温馨提示-->
        <div class=" alert-text-periodWay text-contentalign">请问您是否要删除<span>‘未命名1’</span>收藏记录？</div>
        <div class="js-uc-ticket-select-group alert-text-periodWay margin-text">
            <button class="js-cycle-btn btn perirod-btn ">确认</button>
            <button class="btn cancel-btn">取消</button>
        </div>

    </div>

</div>