<div  class="js-new-plan-content new-plan-content btn-athena">
    十 新建计划</div>
<div   class="js-active-header active-container-header-btn">
    <div style=" margin-left:30px; width:95%;" class="alert-text-select ">
        <div class="text-content-wd-collection new-width-overplan" >
            <table class=" table table-bordered  table-center ">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        计划号
                    </th>
                    <th>
                        投注彩种
                    </th>
                    <th>
                        投注开始时间
                    </th>
                    <th>
                        投注内容
                    </th>
                    <th>
                        已追/总期数
                    </th>
                    <th>
                       已投/总轮
                    </th>
                    <th>
                        已中奖金额
                    </th>
                    <th>
                       当前状态
                    </th>
                    <th>
                       操作
                    </th>
                </tr>

                </thead>
                <tbody class="js-reward-grid">
                <tr>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>
                    <td>
                        未命名1
                    </td>

                    <td class="js-selete-text-content delete-pointer">
                        删除
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


