<!--<div  class="js-alert-background-dialog collect-Way  ">-->
    <!--<div class="periodWay-content-athena ofstecontemnt">-->
        <!--<div   class=" alert-text-periodWay  collectImage">-->
            <!--<span style="display:inline-block;float:left; line-height: 15px; margin-left: 10px" class="text-content-span  ">提示</span>-->
            <!--<span class="js-hidden-dialog btn-athena btn-close"></span>-->
        <!--</div>-->
        <!--温馨提示-->
        <div style="color: red;" class=" alert-text-periodWay">温馨提示：设置好计划时间和重复周期后，系统将每周固定进行您的计划</div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <span class="text-content-span-inhrirt">计划开始时间:</span>
            <span class="js-pf-timeset"></span>
            <!-- <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>-->
        </div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <span class="text-content-span">重复周期:</span>
            <select name="" >
                <option value="1">每周一</option>
                <option value="2">每周二</option>
                <option value="3">每周三</option>
                <option value="4">每周四</option>
                <option value="5">每周五</option>
                <option value="6">每周六</option>
            </select>
            <span>（选定类型后，将会按照重复计划，每日进行计划）</span>
        </div>
        <div class="js-uc-ticket-select-group alert-text-periodWay">
            <span class="text-content-span">备注：</span>
            <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>
        </div>
        <div class="js-uc-ticket-select-group alert-text-periodWay margin-text">
            <button class="js-cycle-btn btn perirod-btn ">确认</button>
            <button class="btn cancel-btn">取消</button>
        </div>

    <!--</div>-->

<!--</div>-->