
<div class="js-active-header ">
    <div class="js-uc-ticket-select-group alert-text-select">
        <span class="text-content-span">选择彩种:</span>
        <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>
    </div>
    <div class="alert-text-select">
        <span class="text-content-span">开始时间:</span>
        <span class="js-pf-timeset"></span>
        <a class="js-newplan">新建计划</a>
    </div>
    <div class="alert-text-select">
        <span class="text-content-span">投注计划:</span>
        <span></span><input style="background-color: red" type="radio"  name="sex" value="male"><span class="text-content-span-paln">我的收藏方案 </span><input type="radio" name="sex"  ><span class="text-content-span-plan">手动输入方案</span>
    </div>
    <div class="alert-text-select">
        <span class="text-content-span">计划详情: 计划开始时间:</span><span class="js-plan-time"></span>&重复计划：<a>删除</a>
    </div>
    <div class="js-uc-ticket-select-group alert-text-select">
        <span class="text-content-span">选择方案名:</span>
        <select style="appearance:no;" class="js-pf-select-ticket-list select2" name="ticketId" data-parsley-numAndMidLine></select>
        <button class="btn cycle-btn">添加</button>
    </div>
    <div  class="alert-text-select alert-hidden">
        <div  class="alert-scroll"><span class="text-content-span">投注内容：</span></div>
        <div class="text-content-wd" >
            <table class="table table-bordered  table-center ">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        方案名
                    </th>
                    <th>
                        投注彩种
                    </th>
                    <th>
                        玩法
                    </th>
                    <th>
                        投注内容
                    </th>
                    <th colspan="2">
                        倍数
                    </th>
                    <th>
                        投注模式
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody class="js-reward-grid">
                </tbody>
            </table>
        </div>
    </div>
    <div class="alert-text-select">追号方式：<input class="checkbox-style" type="checkbox">追中即停</div>
    <div  class="alert-text-select">
        <button class="btn btn-plan">生成计划</button>
    </div>
</div>
<!--内容部分-->


<!--<div  class="js-alert-background-dialog collect-Way  ">-->
    <!--<div class="periodWay-content-athena ofstecontemnt">-->
        <!--<div   class=" alert-text-periodWay  collectImage">-->
            <!--<span style="display:inline-block;float:left; line-height: 15px; margin-left: 10px" class="text-content-span  ">提示</span>-->
            <!--<span class="js-hidden-dialog btn-athena btn-close"></span>-->
        <!--</div>-->
        <!--&lt;!&ndash;温馨提示&ndash;&gt;-->
        <!--<div style="color: red;" class=" alert-text-periodWay">温馨提示：设置好计划时间和重复周期后，系统将每周固定进行您的计划</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
            <!--<span class="text-content-span-inhrirt">计划开始时间:</span>-->
            <!--<span class="js-pf-timeset"></span>-->
            <!--&lt;!&ndash; <select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
            <!--<span class="text-content-span">重复周期:</span>-->
            <!--<select name="" >-->
                <!--<option value="1">每周一</option>-->
                <!--<option value="2">每周二</option>-->
                <!--<option value="3">每周三</option>-->
                <!--<option value="4">每周四</option>-->
                <!--<option value="5">每周五</option>-->
                <!--<option value="6">每周六</option>-->
            <!--</select>-->
            <!--<span>（选定类型后，将会按照重复计划，每日进行计划）</span>-->
        <!--</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay">-->
            <!--<span class="text-content-span">备注：</span>-->
            <!--<select style="font-style: normal" class="js-pf-select-ticket-list select2 select2-sel " name="ticketId" data-parsley-numAndMidLine></select>-->
        <!--</div>-->
        <!--<div class="js-uc-ticket-select-group alert-text-periodWay margin-text">-->
            <!--<button class="js-cycle-btn btn perirod-btn ">确认</button>-->
            <!--<button class="btn cancel-btn">取消</button>-->
        <!--</div>-->

    <!--</div>-->

<!--</div>-->