@charset "UTF-8";

@import "~base/styles/imports",
'~uiCom/tab-toolbar/index.scss',
'~uiCom/pulse/index.scss';

@mixin slide-nav-item($sfas, $size) {
  @each $class, $val in $sfas {
    &.#{$class} {
      background: url(map_get($val, default)) no-repeat;
      width: 149px;
      height: 98px;
    }
  }
}

@include slide-nav-item($sfa-d-tickets, 120px);

.bc-ticket-title {
  display: inline-block;
  font-size: $font-md;
  margin-top: 22px;
}

.bc-plan-main {
  .bc-plan-inner {
    padding: 25px 0 20px;
    .bc-plan-title {
      margin-right: 20px;
      font-weight: bold;
      text-align: right;
      //margin-left: 85px;
      margin-bottom: 25px;
    }
  }
}

.bc-plan-title {
  padding: 8px 0 6px;
  font-size: 13px;
  font-weight: bold;
}

.bc-records {
  .table td {
    font-size: 13px;
    padding: 5px 3px;
  }
}

//============main
$main-area-width: 870px;

.bc-main-area {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 8px;
  //height: 552px;
  overflow: hidden;
  background: url(julien/bottombg.jpg) no-repeat left bottom;
}

.bc-play-super, .bc-play-optional {
  display: block;
}

.rule-hide-optional {
  .bc-play-optional {
    display: none;
  }
}

.rule-hide-super {
  .bc-play-super {
    display: none;
  }
}

.bc-trend {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-weight: bold;
}

.bc-playArea-items {
  .tab-border {
    margin-top: 2px;
    border: 1px solid #ccc;
    height: 31px;
    border-radius: 31px;
  }
  //.tab-border1 {
  //  margin-top: 8px;
  //  margin-left: 170px;
  //}
  .js-bc-select-op {
    background-color: $deep-gray-color;
  }

  .tab-circle {
    .tab-group {
      margin-left: 86px;
    }
  }
}

.bc-rule-container {
  &.nav-tabs-border {
    a {
      border-right: 1px solid $gray-color;
      border-bottom: transparent;
      padding-top: 0;
      padding-bottom: 0;
    }
    .active {
      a {
        border-bottom-color: #fff;
        background-image: linear-gradient(180deg, #eb3939, #a83d6b);
        &:after {
          display: none;
        }
      }
    }
  }
  .bc-first-prize {
    font-size: 12px;
  }
}

.bc-play-section {
  border-bottom: 1px solid #cccccc;
  background-color: #f8f8f8;
  margin-top: -10px;
  background-image: linear-gradient(180deg, #ffffff, #eeeeee);
  padding-bottom: 10px;
  position: relative;
  height: 96px;
}

.bc-advance-rules {
  //background-color: grey;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  padding-top: 6px;
  float: left;
  z-index: 99;
  margin-top: -13px;
  position: absolute;
  font-size: 15px;

  .bc-advance-rules-container {
    padding-left: 12px;
    display: inline-block;
    vertical-align: text-top;
  }
  .bc-advance-rule {
    min-width: 130px;
    //display: inline-block;
    font-size: 13px;
    padding: 5px;

  }
  .bc-advance-rule:hover {
    text-decoration: underline;
  }
}

.bc-play-brief {
  padding-left: 12px;
  bottom: 0px;
  height: 18px;
  position: relative;
}

.bc-play-tip {
  margin-right: 16px;
}
.preview-row-title {
  display: inline-block;
  width: 110px;
  overflow: hidden;
}

.bc-play-example {
  margin-right: 15px;
  display: inline-block;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  margin-left: 8px;
  color: $color-amber;

  i {
    color: #cc6699;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
  }
}

.bc-select-item {
  margin-bottom: 6px;
}

.bc-play-area {
  .btn-dragon {
    margin-right: 100px !important;
    margin-left: 30px !important;
    > span {
      width: 160px !important;
      height: 160px !important;
      border: 0px !important;
      background: url(~base/images/julien/btn-dragon.jpg) no-repeat !important;
      position: relative;
      margin-top: -34px;

      &:hover {
        opacity: 0.8;
      }

      span {
        position: absolute;
        bottom: -34px;
        color: #333333;
        font-size: 24px;
        left: 66px;
      }

      &.active {
        background: url(~base/images/julien/btn-dragon.jpg) no-repeat 0px -160px !important;
        opacity: 0.8;
      }
    }
  }
  .btn-tiger {
    margin-right: 100px !important;
    > span {
      width: 160px !important;
      height: 160px !important;
      border: 0px !important;
      background: url(~base/images/julien/btn-tiger.jpg) no-repeat !important;
      position: relative;
      margin-top: -34px;

      &:hover {
        opacity: 0.8;
      }

      span {
        position: absolute;
        bottom: -34px;
        color: #333333;
        font-size: 24px;
        left: 66px;
      }

      &.active {
        background: url(~base/images/julien/btn-tiger.jpg) no-repeat 0px -160px !important;
      }
    }
  }
  .btn-draw {
    > span {
      width: 160px !important;
      height: 160px !important;
      border: 0px !important;
      background: url(~base/images/julien/btn-draw.jpg) no-repeat !important;
      position: relative;
      margin-top: -34px;

      &:hover {
        opacity: 0.8;
      }
      span {
        position: absolute;
        bottom: -34px;
        color: #333333;
        font-size: 24px;
        left: 66px;
      }

      &.active {
        background: url(~base/images/julien/btn-draw.jpg) no-repeat 0px -160px !important;
      }
    }
  }
}

.bc-bet-mode {
  width: 120px;
}

.bc-main-text {
  color: $font-passion;
}

.bc-lottery-preview {
  width: 345px;
  margin-left: 5px;
  //border-right: 1px solid $gray-color;
}

.db-ticket-bread-item {
  &.active {
    a {
      color: #02eefd;
    }
  }
}

.bc-play-area {
  width: $main-area-width;
  position: relative;
  height: 100px;
  padding-top: 5px;

  &.loaded {
    height: 330px;
  }
  &.middle {
    vertical-align: middle;
    display: table-cell;
    .bc-optional-main {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

}

.bc-lottery-add {
  float: left;
  line-height: 36px;
}

.control-inline {
  display: inline-block;
  margin-right: 20px;
}

.bc-confirm-list {

  li {
    text-indent: -10px;
    padding-left: 10px;
  }

  li:before {
    content: '•';
    color: $main-color;
    font-size: 20px;
    padding-right: 5px;
    position: relative;
    top: 2px;
  }
}

.bc-betDetail-text {
  word-wrap: break-word;
  white-space: pre;
  padding-left: 35px !important;
  padding-top: 23px;
  padding-bottom: 15px;
}

.bc-profit-normalAmount {
  margin-right: 39px;
}

.bc-chase-normal-planId {
  width: 195px;
}

.bc-lottery-preview-del {
  margin-top: 2px;
}

.bc-total-brief {
  //height: 72px;
  //line-height: 36px;
  //border-bottom: 1px solid $gray-color;
}

.bc-input-area {
  width: 709px;
  height: 226px;
  border: 1px solid #cccccc;
  float: left;
  border-radius: 5px;
  margin-left: 33px;
  margin-top: 43px;
}

.bc-textarea-main {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: $light-dark-color-2;

  &.bc-textarea-optional {
    height: 275px;

  }
}

.bc-btn-lg {
  width: 92px;
}

.bc-optional-main {
  text-align: center;
  line-height: 30px;
  height: 35px;
  border-bottom: 1px solid $gray-color;
}

.bc-monitor {
  width: 35px;
}

.ssc-logo {
  background: url(~base/images/fh/bet/mmc.png);
  width: 170px;
  height: 110px;
  background-repeat: no-repeat;
  margin-top: -156px;
  margin-left: 20px;
  float: left;
}

.bet-lefttime {
  margin-top: -136px;
  margin-left: 220px;
  float: left;
}

.bet-opencode {
  margin-top: -136px;
  margin-left: 520px;
  float: left;
}

.bet-openprize {
  background: url(~base/images/fh/bet/open-prize.png);
  margin-top: -149px;
  margin-left: 890px;
  float: left;
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
}

.bet-playrules {
  background: url(~base/images/fh/bet/play-rules.png);
  margin-top: -155px;
  margin-left: 1090px;
  float: left;
  width: 170px;
  height: 110px;
  background-repeat: no-repeat;
}

.bet-trend {
  background: url(~base/images/fh/bet/trend.png);
  margin-top: -150px;
  margin-left: 1005px;
  float: left;
  width: 70px;
  height: 110px;
  background-repeat: no-repeat;
}

.btn-confirm {
  position: absolute;
  float: left;
  bottom: -184px;
}

.bet-manager1 {
  background: url(~base/images/fh/bet/btn-bet-manager.png);
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 680px;
  margin-left: 10px;
  position: absolute;
}

.time-01 {
  position: absolute;
  background: url(~base/images/fh/bet/time-01.png);
  width: 63px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  left: 217px;
  top: 50px;
}

.time-02 {
  position: absolute;
  background: url(~base/images/fh/bet/time-2.png);
  width: 63px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  left: 302px;
  top: 50px;
}

.time-03 {
  position: absolute;
  background: url(~base/images/fh/bet/time-2.png);
  width: 61px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  left: 385px;
  top: 50px;
}

.float-time-div {
  position: absolute;
  z-index: 2;
}

.bet-information1 {
  position: absolute;
  float: left;

  margin-left: 260px;
  margin-top: 688px;
  font-size: 15px;
}

.bet-info-today {
  font-size: 15px;
  background-color: grey;
  color: white;
  height: 35px;
  line-height: 35px;
}

.bet-case {
  background: url(~base/images/fh/bet/case.png) no-repeat 0 8px;
  width: 70px;
  height: 40px;
}

//.number-div-style {
//  height: 24px;
//  width: 40px;
//  border: 1px solid $gray-color;
//  text-align: center;
//  display: inline-block;
//  cursor: pointer;
//  border-radius: $globalBtnRadius;
//  vertical-align: middle;
//
//  //&.seq-div {
//  //  background-color: lightgrey;
//  //}
//}

.control-inlin-quick {
  display: inline-block;
  margin-right: 15px;
  height: 30px;
  width: 80px;
  border: 1px solid #a1a1a1;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

.control-quick-div {
  text-align: left;
  margin-left: 110px;

}

.bet-quick-select {
  background: url(~base/images/fh/bet/quick-select.png);
  width: 80px;
  height: 30px;
  background-repeat: no-repeat;
}

.quick-btn-bet {
  background-color: #c62327;
  width: 140px;
  height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  float: left;
  margin-left: 120px;
}

.quick-btn-cancel {
  background-color: #c6977f;
  width: 140px;
  height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  margin-left: 300px;
  position: absolute;
}

.control-text-quick {
  height: 40px;
  float: left;
  width: 66px;
}

.quick-text-bet {
  background-color: #c62327;
  width: 50px;
  height: 30px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  float: left;
  margin-left: 10px;
}

.quick-text-cancel {
  background-color: #c6977f;
  width: 50px;
  height: 30px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  margin-left: 250px;
  position: absolute;
}

.nav-title {
  background: url(~base/images/fh/bet/nav-title.png) no-repeat;
  width: 1150px;
  height: 145px;
  padding-left: 50px;
  font-family: '微软雅黑';

  .bc-banner {
    width: 120px;
    height: 100px;
    display: block;
    float: left;
    margin-top: 25px;
    margin-right: 40px;
  }

  .leftBlock {
    float: left;
    width: 285px;
    height: 80px;
    background: url(~base/images/julien/timebg.png) no-repeat bottom left;
    margin-top: 24px;

    .title {
      color: #333333;
      font-size: 18px;
      span {
        color: #999999;
        font-size: 14px;
      }
    }

    .countdown-block {
      font-size: 24px;
      color: #fff;
      margin-top: 17px;
      div {
        display: inline-block;
        width: 76px;

        span {
          width: 30px;
          margin-right: 2px;
          text-align: center;
          display: block;
          float: left;
        }
      }
    }
  }

  .centerBlock {
    width: 400px;
    float: left;
    margin-top: 24px;

    .julien-trendBtn {
      font-size: 12px;
      color: #666666;
      float: right;
      display: block;
      padding: 3px 14px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 30px;
      font-weight: normal;
      margin-right: 15px;
      cursor: pointer;
      position: relative;

      .tendency {
        display: none;
      }

      &:hover {
        .tendency {
          display: block;
        }
      }
    }

    .title {
      color: #333333;
      font-size: 18px;
      span {
        color: #999999;
        font-size: 14px;
      }
    }

    .text-circle {
      width: 52px;
      height: 52px;
      line-height: 52px;
      background-color: #fff;
      margin-right: 18px;
    }

    .bc-last-results {
      margin: 8px 0px 0px 0px;
    }
  }

  .rightBlock {
    padding-right: 30px;
    float: right;
    padding-top: 45px;

    a {
      color: #333333;
      font-size: 14px;
      display: inline-block;
      width: 82px;
      height: 70px;
      text-align: center;

      span {
        display: block;
        height: 40px;
      }
    }
  }
}

.bc-main-area {
  &:after {
    display: block;
    content: '';
    clear: both;
  }

  .bet-quick {
    width: 134px;
    height: 32px;
    line-height: 32px;
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #ba4587;
    border-radius: 32px;
    background-image: -webkit-linear-gradient(180deg, #ef66ab, #cd338a);
    background-image: linear-gradient(180deg, #ef66ab, #cd338a);

    i {
      display: inline-block;
      margin-right: 5px;
    }

    &:hover {
      background-image: -webkit-linear-gradient(180deg, #cd338a, #ef66ab);
      background-image: linear-gradient(180deg, #cd338a, #ef66ab);
    }

  }
  .bet-quick:hover {
    background-color: #eb4929;
  }

  .bet-quick1 {
    width: 134px;
    height: 32px;
    line-height: 32px;
    background-color: #f3f3f3;
    color: #999999;
    text-align: center;
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #d7d7d7;
    border-radius: 32px;

    i {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .bc-menu {
    background-color: #fff;
    height: auto;
    position: relative;

    .bc-toggle {
      width: 100px;
      height: 26px;
      position: absolute;
      top: 10px;
      right: 10px;

      .bc-play-toggle {
        background-color: #e67eb2;
        font-size: 14px;
        color: #fff;
        width: 100px;
        height: 26px;
        line-height: 26px;
        display: block;
        text-align: center;
        border-radius: 26px;
        cursor: pointer;

        &.normal {
          background-color: #d06196;
        }
      }
    }

    .bc-basic-rules {
      a {
        padding: 0 20px;
        border: 0;

        .bc-first-prize {
          font-size: 14px;
          color: #999999;
        }
      }

      li.active {

        .bc-first-prize {
          color: #bdbdbd;
        }
      }
    }
  }

  &.be-main-area-more-row {
    .bc-play-section {
      height: 63px;
    }
    .bc-play-container {
      height: 368px;
    }
  }
}

.bc-play-container {
  height: 335px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  overflow: hidden !important;

  .bc-select-item {
    .tab {
      color: #666666;
      font-size: 22px;
    }
  }

  .tab {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    color: #999999;
    font-size: 16px;
    border-radius: 3px;
  }

  .bc-playArea-items {
    margin: 10px 0;
  }
}

.bc-statics-area {
  margin-top: 5px;
  height: 58px;
  line-height: 58px;
  color: #333333;
  font-size: 14px;
  font-family: '微软雅黑';
  padding: 0 15px;
  margin-left: 50px;

  .tab-group {
    .tab {
      width: 26px;
      height: 26px;
      color: #666666;
      border: 1px solid #cccccc;
      background-color: #fff;
    }
  }

  .price {
    color: #cc3333;
    display: inline-block;
    margin-left: 15px;
  }
  .bc-type-select {
    width: 92px;
  }
}

.pull-bottom {
  clear: both;
  margin-bottom: 75px;

  a {
    width: 133px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    background-color: #d8855a;
    &:hover {
      background-color: #eb4929;
    }
  }

  .add-number {
    width: 134px;
    height: 40px;
    line-height: 40px;
    background-color: #d8855a;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 585px;
  }
  .add-number:hover {
    background-color: #eb4929;
  }

  .add-number1 {
    width: 134px;
    height: 40px;
    line-height: 40px;
    background-color: grey;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 585px;
  }

  .commit-number {
    height: 40px;
    line-height: 40px;
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    width: 212px;
    margin-left: 30px;
  }
  .commit-number:hover {
    background-color: #eb4929;
  }

  .chase-number {
    height: 40px;
    line-height: 40px;
    background-color: #d8855a;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    width: 98px;
    margin-left: -4px;
    //&h
  }
  .chase-number:hover {
    background-color: #eb4929;
  }
}

.bc-side-area {
  width: 310px;
  height: 500px;
  font-family: '微软雅黑';
  color: #666666;

  a {
    color: #666666;
  }

  .sfa {
    @include slide-nav-item($sfa-d-tickets, 120px);
  }

  .bc-records {
    background-color: #fff;
    height: 326px;
    border: 1px solid #ccc;
  }

  .bet-summary {
    background-color: #f2f2f2;
    height: 57px;
    line-height: 57px;
    font-size: 16px;
    color: #666666;
    border: 1px solid #ccc;
    border-top: 0px;
  }

}

.betting-button-clear {
  background-image: url(~base/images/fh/nav/bet-clear-num.png);
  width: 140px;
  height: 40px;
}

.betting-button-remove {
  background-image: url(~base/images/fh/nav/bet-remove-num.png);
  width: 140px;
  height: 40px;
}

.betting-button-importer {
  background-image: url(~base/images/fh/nav/bet-importer.png);
  width: 140px;
  height: 40px;
}

.chase-confirm {
  background-image: url(~base/images/fh/bet/chase-confirm.png);
  width: 100px;
  height: 30px;
  position: absolute;
  margin: -23px 750px;
}

.btn-pressdown-color1 {
  background-color: #a53c3c !important;
}

.btn-pressdown-color2 {
  background-color: #cc6699;
  color: #fff !important;
}

.cang01 {
  background-image: url(~base/images/fh/bet/cang01.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 920px;
  margin-top: -173px;
}

.cang02 {
  background-image: url(~base/images/fh/bet/cang02.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 920px;
  margin-top: -173px;
}

.bc-left {
  width: 880px;
  float: left;

  .banner {
    height: 108px;
    border: 1px solid #b63c60;
    border-radius: 8px;
    background: url(julien/bannerbg.jpg) no-repeat top right #fff;
    color: #666666;
    font-size: 14px;

    .bc-banner {
      //width: 120px;
      //height: 94px;
      display: block;
      margin: 10px 40px 0 10px;
      position: relative;
      float: left;

      &:after {
        border-right: 1px solid #ccc;
        height: 62px;
        position: absolute;
        right: 0px;
        top: 15px;
        display: block;
        content: '';
      }
    }

    .bc-result {
      width: 324px;
      float: left;
      padding-top: 15px;

      .title {
        margin-bottom: 11px;
        padding-right: 37px;

        span {
          display: inline-block;
          margin: 0px 5px;
          color: #333333;
        }

        a {
          font-weight: normal;
          padding: 1px 12px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 15px;
          float: right;
          font-size: 12px;

          &:hover {
            border-color: $pink-color;
            color: $pink-color;
            cursor: pointer;
          }
        }
      }
    }

    .bc-time {
      width: 275px;
      float: left;
      padding-top: 15px;

      p {
        margin-bottom: 15px;

        span {
          color: #333333;
          display: inline-block;
          margin-right: 10px;
        }
      }

      .countdown-block {
        div {
          width: 60px;
          height: 40px;
          line-height: 40px;
          background: url(julien/numbg.jpg) no-repeat;
          float: left;
          margin-right: 10px;
          font-family: 'Arial';
          font-size: 30px;
          color: #fff;
          text-align: center;

          span {
            width: 30px;
            float: left;

          }
        }
      }
    }
    //&.singlesDay{
    //  background: url(julien/singlesDay.png) no-repeat top right #fff;
    //  &:hover{
    //    background: url(julien/singlesDayhover.png) no-repeat top right #fff;
    //  }
    //}
    //&.christmas{
    //  background: url(julien/christmas.png) no-repeat top right #fff;
    //  &:hover{
    //    background: url(julien/christmashover.png) no-repeat top right #fff;
    //  }
    //}
  }

}

.bc-right {
  float: right;
  width: 300px;
  position: relative;

  .bc-records-open-container {
    position: absolute;
    width: 290px;
    height: 108px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 5px;
    text-align: center;
    transition: height 0.2s ease;

    .showList {
      height: 104px;
      overflow: hidden;
    }

    &:hover {
      height: 265px;

      .showList {
        height: 261px;
        transition: height 0.2s ease;
      }

      .fa-angle-down {
        transform: rotate(180deg);
      }
    }

    .showListBtn {
      position: relative;

      > i {
        cursor: pointer;
        color: #ccc;
        position: absolute;
        bottom: -5px;

        &:hover {
          color: #cc3333;
        }
      }
    }

    .table {
      thead {
        th {
          padding: 0 2px;
          background: transparent;
          border-bottom: 1px solid #cccccc;
        }
      }
      tbody {
        td {
          line-height: 21px;
        }
      }

      .open-nums {
        span {
          display: inline-block;
          padding: 1px 4px;
          border-radius: 15px;
          line-height: 12px;
          margin-right: 3px;

          &.key-num {
            background-color: #cc3333;
            color: #fff;
          }
        }
      }
    }
  }

  .rightBlock2 {
    margin-top: 120px;
    width: 290px;
    height: 89px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    color: #333333;

    .topTips {
      height: 38px;
      padding: 5px 5px 10px 5px;
      border-bottom: 1px solid #ccc;

      .topTip {
        display: block;
        width: 140px;
        height: 20px;
        float: left;
        text-align: left;
        span {
          width: 80px;
          display: inline-block;
          overflow: hidden;
        }
      }
    }

    .bet-act-available {
      text-align: left;
      line-height: 40px;

      i {
        color: #cc6699;
        display: inline-block;
        margin: 0px 5px 0px 5px;
      }

      a {
        padding: 4px 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        float: right;
        line-height: 12px;
        margin-top: 10px;

        &:hover {
          color: $pink-color;
          border-color: $pink-color;
        }
      }
    }
  }

  .rightBlock3 {
    margin-top: 10px;
    width: 300px;
    height: 430px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 0;
    text-align: center;
    color: #333333;

    .bc-title {
      height: 35px;
      line-height: 35px;
      padding: 0 8px;
      border-bottom: 2px solid #a83d6b;
      font-size: 14px;

      a {
        display: block;
        float: left;
        height: 35px;
        width: 142px;
        color: #666666;

        i {
          display: inline-block;
          margin-right: 10px;
          font-size: 16px;
        }

        &:hover {
          margin-top: -2px;
        }

        &.active {
          background-color: #ec3838;
          background-image: -webkit-linear-gradient(180deg, #ec3838, #a83d6b);
          background-image: linear-gradient(180deg, #ec3838, #a83d6b);
          color: #fff;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          margin-top: 0px !important;
        }
      }
    }

    .btnList {
      margin: 15px 0px 10px 2px;

      span, a {
        display: inline-block;
        height: 29px;
        line-height: 29px;
        width: 91px;
        text-align: center;
        border: 2px solid $gray-color;
        border-radius: 29px;
        color: #666666;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background-color: #e67eb2;
          color: #fff;
          border: 2px solid #e67eb2;
        }

        &.no {
          background-color: #f3f3f3;
          color: #999999;
        }
      }
    }

    .order-bottom {
      height: 43px;
      line-height: 43px;
      background-color: #fefefe;
      background-image: -webkit-linear-gradient(180deg, #fefefe, #eeeeee);
      background-image: linear-gradient(180deg, #fefefe, #eeeeee);
      border-bottom: 1px solid #cccccc;
      border-top: 2px solid #a83d6b;
      position: relative;
      font-size: 14px;
      color: #666666;

      span {
        display: inline-block;
        margin: 0px 3px;
        color: #e22919;
      }

      .collect {
        width: 31px;
        height: 33px;
        background: url(julien/collect.png) no-repeat;
        cursor: pointer;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: -33px;
        vertical-align: bottom;

      }
    }

    .commit-number {
      width: 286px;
      padding-left: 10px;
      height: 54px;
      line-height: 48px;
      font-size: 20px;
      color: #fff;
      background: url(julien/confirmBtnBg.jpg) no-repeat;
      display: block;
      clear: both;
      margin-left: 2px;
      cursor: pointer;

      &:hover {
        background: url(julien/confirmBtnBg.jpg) no-repeat 0px -54px;
      }
    }
  }
}

.js-bc-advance-rules {
  display: block !important;
  height: auto !important;
  padding-top: 10px;

}

.bc-advance-rules-container {

}

.js-bc-rules-toolbar {
  line-height: 30px;
  .tab-title {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
  }
  .tab-group {
    display: inline-block;
    label {
      display: inline-block;
      padding: 0 10px;
      border: 1px solid $gray-color;
      background-color: #fff;
      border-radius: 30px;

      &.active {
        background-color: #cc6699;
        color: #fff !important;
        border: 1px solid #cc6699;
      }

      &:hover {
        border: 1px solid #cc6699;
        color: #cc6699;
      }
    }
  }
}

.rightMenu {
  display: none;
}

.bc-play-tip {
  text-decoration: none;
  float: right;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  right: 0;
  top: 0;
  color: #cc6699;
  .infor-tip {
    display: none;
  }

  &:hover {
    background-color: #cc6699;
    border: 1px solid #cc6699;
    color: $white-color;
    span {
      display: none;
    }

    .infor-tip {
      display: block;
    }
  }
}

.js-bc-select-item-title {
  position: relative;
  margin-right: 10px;
  div {
    font-size: 14px !important;
    color: #ffffff !important;
    background: url(../misc/julien/content-titlebg.jpg);
    width: 78px;
    height: 29px;
    line-height: 29px !important;
    margin-top: 8px;
  }

}

.tab-toolbar.tab-circle .tab {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 20px;
  color: #666666;
  border-radius: 0px;
  background: url(../misc/julien/btn2.png) no-repeat;
  background-size: cover;
  border: 0px;

  &:hover {
    font-size: 22px;
  }

  &.active {
    background: url(../misc/julien/btn.png) no-repeat;
    border-radius: 0px;
    color: #fff;
    border: 0px;
    background-size: cover;
  }
}

.js-be-playArea-items-toolbar {
  width: 660px;
}

.tab-toolbar.tab-border .tab {
  border: 0px;
  color: #666666;
  margin-top: 3px;
  border-radius: 20px;

  &:hover {
    background: #e67eb2 !important;
  }
}

.bc-playArea-items .tab-border {
  padding-right: 5px;
  padding-left: 3px;
}

.js-bc-play-area {
  .m-left-md {
    margin-left: 10px !important;
  }
}

.js-bc-select-op {
  &:hover {
    background: #e67eb2 !important;
  }
}

.tab-toolbar.tab-border .tab {
  border-radius: 3px;
}

.tab-toolbar.tab-border .tab.active {
  background: #e67eb2;
  border-radius: 3px;
}

.add-number {
  border: 1px solid #cd338a !important;
  background-image: -webkit-linear-gradient(180deg, #ef66ab, #cd338a);
  background-image: linear-gradient(180deg, #ef66ab, #cd338a);
  color: #fff !important;

  &:hover {
    background-image: -webkit-linear-gradient(180deg, #cd338a, #ef66ab);
    background-image: linear-gradient(180deg, #cd338a, #ef66ab);
  }
}

.add-number1 {
  color: #999999 !important;
  background-color: #f3f3f3 !important;
  border: 1px solid #ccc !important;
}

.order-list {
  table {
    tr {
      padding: 0 10px;
    }

    th:first-child, td:first-child {
      padding-left: 5px;
    }
  }
  .table {
    thead {
      th {
        background: #f6f6f6;
        border-bottom: 1px solid #cccccc;
      }
    }
    //td {
    //  padding: 5px 3px;
    //}
  }
}

.tab-toolbar.tab-circle .active {
  div {
    background-position: 0px -29px;
  }
}

.btn-dragon {
  position: absolute;
  left: 100px;
  top: 100px
}

.btn-draw {
  position: absolute;
  right: 30px;
  top: 100px
}

.btn-tiger {
  position: absolute;

  right: 200px;
  top: 100px
}

.bc-left {
  .bc-time {
    position: relative;
    .d1 {
      font-size: 30px;
      color: #333333;
      position: absolute;
      left: 62px;
      top: 48px;
    }
    .d2 {
      font-size: 30px;
      color: #333333;
      left: 132px;
      top: 48px;
      position: absolute;
    }
  }
}

.pk10 {
  .bc-last-results {
    margin-top: -5px;
  }
}

.x5 {
  margin-left: 90px;
}

.js-bc-btn-lottery-add {
  i {
    margin-right: 2px;
  }
}

.bc-hgcaculate-examplerow {
  height: 20px;
  margin: 2px 5px 2px 5px;
}
.bet-activity-entry{
  position: fixed;
  left: 45%;
  top:30%;
  width: 196px;
  height: 116px;
}
