@charset "UTF-8";

@import
"~base/styles/imports",
'~uiCom/tab-toolbar/index.scss',
'~uiCom/pulse/index.scss';


@mixin slide-nav-item($sfas, $size) {
  @each $class, $val in $sfas {
    &.#{$class} {
      background: url(map_get($val, default)) no-repeat;
    }
  }
}

@include slide-nav-item($sfa-d-tickets, 120px);

.bc-ticket-title {
  display: inline-block;
  font-size: $font-md;
  margin-top: 22px;
}

.bc-plan-main {
  .bc-plan-inner {
    padding: 25px 0 20px;
    .bc-plan-title {
      margin-right: 20px;
      font-weight: bold;
      text-align: right;
      //margin-left: 85px;
      margin-bottom: 25px;
    }
  }
}

.bc-plan-title {
  padding: 8px 0 6px;
  font-size: 13px;
  font-weight: bold;
}

.bc-last-results {
  margin-bottom: 13px;
}

.bc-records {
  .table td {
    font-size: 13px;
    padding: 5px 3px;
  }
}

//============main
$main-area-width: 870px;

.bc-main-area {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 8px;
  height: 552px;
  overflow: hidden;
  background:url(julien/bottombg.jpg) no-repeat left bottom;
}

.bc-play-super,.bc-play-optional{
  display:block;
}
.rule-hide-optional.rule-hide-super{
  .bc-play-toggle{
    display:none!important;
  }
}
.rule-hide-optional {
  .bc-play-optional {
    display: none;
  }
}
.rule-hide-super {
  .bc-play-super {
    display: none;
  }
}

.bc-trend {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-weight: bold;
}

.bc-play-toggle {
  position:absolute;
  width: 90px;
  //right:0;
  top:161px;
  display:none;
  .bc-play-toggle-item {
    line-height: 33px;
    height: 33px;
    background: white;
    padding-left: 10px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
    &.active {
      background: white;
      color: black;

      .sfa-bc-play-normal {
        @include sprite($sfa-bc-play-normal-active);
      }
      .sfa-bc-play-optional {
        @include sprite($sfa-bc-play-optional-active);
      }
      .sfa-bc-play-super{
        @include sprite($sfa-bc-play-super-active);
      }
    }
    .bc-play-toggle-item-tip{
      width: 220px;
      height: 61px;
      background: url(super3kTip.png) no-repeat;
      position: absolute;
      top: -5px;
      left: 136px;
    }

    .bc-play-toggle-item-mmc-tip1{
      width: 71px;
      height: 230px;
      background: url(super3kTip1.gif) no-repeat;
      position: absolute;
      top: 5px;
      left: 147px;
    }

    .bc-play-toggle-item-mmc-tip2{
      width: 110px;
      height: 330px;
      background: url(bannerAd.png) no-repeat;
      position: absolute;
      top: 5px;
      left: 147px;
    }
  }
}
.bc-play-toggle-hasSuper{
  .bc-play-toggle-item {
    line-height: 32px;
    height: 32px;
  }
}
.sfa-superbg{
  background:url(superbg2.jpg) 0 0 no-repeat;
  .bc-advance-rule.active{
    color:#ffb300;
  }
  .nav-tabs > li.active > a {
    background-color: transparent;
  }
  .bc-rule-container.nav-tabs-border .active a > div {
    background-color: transparent;
  }

  .tab-toolbar.tab-circle .tab {
    border: 1px solid #666;
    font-size:16px;
    color:#666;
    &.active {
      color: #fff;
      background: linear-gradient(to bottom, #ef392e, #e2021a);
      border: 1px solid #e61c29;
    }
  }
  .bc-playArea-items .js-bc-select-op {
    background-color: #fff;
    color:#666;
  }
  .tab-toolbar.tab-border .js-bc-select-op.tab:hover{
    color: #fff;
    background: linear-gradient(to bottom, #ef392e, #e2021a);
    border: 1px solid #e61c29;
  }
}
.bc-playArea-items {
  .tab-border {
    margin-top: 2px;
    border: 1px solid #ccc;
    height: 31px;
    border-radius: 31px;
  }
  //.tab-border1 {
  //  margin-top: 8px;
  //  margin-left: 170px;
  //}
  .js-bc-select-op {
    background-color: $deep-gray-color;
  }

  .tab-circle{
    .tab-group{
      margin-left: 86px;
    }
  }
}

.bc-rule-container {
  //padding: 0 135px 0 0;
  //margin: -1px 0 0 92px;

  &.nav-tabs-border {
    a {
      border-right: 1px solid $gray-color;
      border-bottom: transparent;
      padding-top: 0;
      padding-bottom: 0;

      &:hover{
         > div {
          margin-top: -3px;
        }
      }

      > div {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    li {
      margin-left: -1px;
    }
    .active {
      
      a {
        border-bottom-color: #fff;
        background-image:-webkit-linear-gradient(180deg, #eb3939, #a83d6b);
        background-image:linear-gradient(180deg,#eb3939,#a83d6b);
        

        > div {
          //background-color: grey;
          color: white;
          //background-image:  url(~base/images/fh/bet/selected.png);
          
        }

        &:hover{
           > div {
            margin-top: 0px;
          }
        }

        &:after{
          display: none;
        }
      }
    }
  }
  &.nav-tabs-border > li > a {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 10px;
    > div {
      height: 34px;
      line-height: 34px;
      padding: 0px 20px;
      text-align: center;
    }
  }
  .bc-first-prize {
    font-size: 12px;
  }
}
.js-rule-title-hidden-temp {
  display: none;
}
.bc-play-section {
  border-bottom: 1px solid #cccccc;
  background-color: #f8f8f8;
  margin-top:-10px;
  background-image:-webkit-linear-gradient(180deg, #ffffff, #eeeeee);
  background-image:linear-gradient(180deg,#ffffff,#eeeeee);
  padding-bottom: 10px;
  position: relative;
  height: 96px;
}

.bc-advance-rules {
  //background-color: grey;
  background:rgba(0,0,0,0.65);
  color: white;
  padding-top: 6px;
  float: left;
  z-index: 99;
  margin-top: -13px;
  position: absolute;
  font-size: 15px;

  .bc-advance-rules-container {
    padding-left: 12px;
    display: inline-block;
    vertical-align: text-top;
  }
  .bc-advance-rule {
    min-width: 130px;
    //display: inline-block;
    font-size: 13px;
    padding: 5px;

  }
  .bc-advance-rule:hover{
    text-decoration: underline;
  }
}

.bc-play-brief {
  padding-left: 12px;
  bottom: 0px;
  height: 18px;
  position: relative;
}

.bc-play-tip {
  margin-right: 16px;
}

.bc-play-example {
  margin-right: 40px;
  display: inline-block;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bc-select-item {
  margin-bottom: 6px;
}

.bc-play-area{
  .btn-dragon{
    margin-right: 100px !important;
    margin-left: 30px !important;
    > span{
      width: 160px !important;
      height: 160px !important;
      border: 0px !important;
      background:url(~base/images/julien/btn-dragon.jpg) no-repeat !important;
      position: relative;
      margin-top: -34px;

      &:hover{
        opacity: 0.8;
      }

      span{
        position: absolute;
        bottom: -34px;
        color: #333333;
        font-size: 24px;
        left: 66px;
      }

      &.active{
        background:url(~base/images/julien/btn-dragon.jpg) no-repeat 0px -160px !important;
        opacity: 0.8;
      }
    }
  }
  .btn-tiger{
    margin-right: 100px !important;
    > span{
      width: 160px !important;
      height: 160px !important;
      border: 0px !important;
      background:url(~base/images/julien/btn-tiger.jpg) no-repeat !important;
      position: relative;
      margin-top: -34px;

      &:hover{
        opacity: 0.8;
      }

      span{
        position: absolute;
        bottom: -34px;
        color: #333333;
        font-size: 24px;
        left: 66px;
      }

      &.active{
        background:url(~base/images/julien/btn-tiger.jpg) no-repeat 0px -160px !important;
      }
    }
  }
  .btn-draw{
    > span{
      width: 160px !important;
      height: 160px !important;
      border: 0px !important;
      background:url(~base/images/julien/btn-draw.jpg) no-repeat !important;
      position: relative;
      margin-top: -34px;

      &:hover{
        opacity: 0.8;
      }
      span{
        position: absolute;
        bottom: -34px;
        color: #333333;
        font-size: 24px;
        left: 66px;
      }

      &.active{
        background:url(~base/images/julien/btn-draw.jpg) no-repeat 0px -160px !important;
      }
    }
  }
}

.bc-yirou {
  font-size: 12px;
  text-align: center;
  color: $light-dark-color-2;
}

//.bc-plan-id {
//  color: $font-passion;
//  font-weight: bold;
//}

.bc-bet-mode {
  width: 120px;
}

.bc-main-text {
  color: $font-passion;
}

.bc-lottery-preview {
  width: 345px;
  margin-left: 5px;
  //border-right: 1px solid $gray-color;
}

.db-ticket-bread-item {
  &.active {
    a {
      color: #02eefd;
    }
  }
}

.bc-play-area {
  width: $main-area-width;
  position: relative;
  height: 100px;
  padding-top: 5px;

  &.loaded {
    height: 330px;
  }
  &.middle {
    vertical-align: middle;
    display: table-cell;
    .bc-optional-main {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .tab-toolbar{
    //padding-left: 8px;
  }
}

.bc-lottery-add {
  float: left;
  line-height: 36px;
}

.control-inline {
  display: inline-block;
  margin-right: 34px;
}

.bc-confirm-list {

  li {
    text-indent: -10px;
    padding-left: 10px;
  }

  li:before {
    content: '•';
    color: $main-color;
    font-size: 20px;
    padding-right: 5px;
    position: relative;
    top: 2px;
  }
}

.bc-betDetail-text{
  word-wrap: break-word;
  white-space: pre;
  padding-left: 35px !important;
  padding-top: 23px;
  padding-bottom: 15px;
}

.bc-profit-normalAmount {
  margin-right: 39px;
}

.bc-chase-normal-planId {
  width: 195px;
}

.bc-lottery-preview-del {
  margin-top: 2px;
}

.bc-total-brief {
  //height: 72px;
  //line-height: 36px;
  //border-bottom: 1px solid $gray-color;
}

.bc-input-area {
  width: 709px;
  height: 226px;
  border: 1px solid #cccccc;
  float: left;
  border-radius: 5px;
  margin-left: 33px;
  margin-top: 43px;
}

.bc-textarea-main {
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  color: $light-dark-color-2;

  &.bc-textarea-optional {
    height: 275px;

  }
}

.bc-btn-lg {
  width: 92px;
}

.bc-optional-main {
  text-align: center;
  line-height: 35px;
  height: 35px;
  border-bottom: 1px solid $gray-color;
}

.bc-monitor {
  width: 35px;
}

.ssc-logo {
  background: url(~base/images/fh/bet/mmc.png);
  width: 170px;
  height: 110px;
  background-repeat: no-repeat;
  margin-top: -156px;
  margin-left: 20px;
  float: left;
}


.bet-lefttime {
  margin-top: -136px;
  margin-left: 220px;
  float: left;
}

.bet-opencode {
  margin-top: -136px;
  margin-left: 520px;
  float: left;
}


.bet-openprize {
  background: url(~base/images/fh/bet/open-prize.png);
  margin-top: -149px;
  margin-left: 890px;
  float: left;
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
}


.bet-playrules {
  background: url(~base/images/fh/bet/play-rules.png);
  margin-top: -155px;
  margin-left: 1090px;
  float: left;
  width: 170px;
  height: 110px;
  background-repeat: no-repeat;
}

.bet-trend {
  background: url(~base/images/fh/bet/trend.png);
  margin-top: -150px;
  margin-left: 1005px;
  float: left;
  width: 70px;
  height: 110px;
  background-repeat: no-repeat;
}

.btn-confirm {
  position: absolute;
  float: left;
  bottom:-184px;
}



.bet-manager1 {
  background: url(~base/images/fh/bet/btn-bet-manager.png);
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 680px;
  margin-left: 10px;
  position: absolute;
}

.time-01 {
  position: absolute;
  background: url(~base/images/fh/bet/time-01.png);
  width: 63px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  left: 217px;
  top: 50px;
}

.time-02 {
  position: absolute;
  background: url(~base/images/fh/bet/time-2.png);
  width: 63px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  left: 302px;
  top: 50px;
}

.time-03 {
  position: absolute;
  background: url(~base/images/fh/bet/time-2.png);
  width: 61px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
  left: 385px;
  top: 50px;
}


.float-time-div {
  position:absolute;
  z-index:2;
}

.bet-information1 {
  position: absolute;
  float: left;

  margin-left: 260px;
  margin-top: 688px;
  font-size: 15px;
}

.bet-info-today {
  font-size: 15px;
  background-color: grey;
  color: white;
  height: 35px;
  line-height: 35px;
}


.bet-case {
  background: url(~base/images/fh/bet/case.png) no-repeat 0 8px;
  width: 70px;
  height: 40px;
}

.number-div-style {
  height: 23px;
  width: 42px;
  border:1px solid #a1a1a1;
  font-size: 13px;
  text-align:center;
  display: inline-block;
  margin-right: -4px;
}

.control-inlin-num {
  display: inline-block;
  margin-right: 9px;
}

.seq-div {
  background-color: lightgrey;
}

.control-inlin-quick {
  display: inline-block;
  margin-right: 15px;
  height: 30px;
  width: 80px;
  border: 1px solid #a1a1a1;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}

.control-quick-div {
  text-align: left;
  margin-left: 110px;

}

.bet-quick-select {
  background: url(~base/images/fh/bet/quick-select.png);
  width: 80px;
  height: 30px;
  background-repeat: no-repeat;
}

.quick-btn-bet {
  background-color: #c62327;
  width: 140px;
  height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  float: left;
  margin-left: 120px;
}

.quick-btn-cancel {
  background-color: #c6977f;
  width: 140px;
  height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  margin-left: 300px;
  position: absolute;
}

.control-text-quick {
  height: 40px;
  float: left;
  width: 66px;
}

.quick-text-bet {
  background-color: #c62327;
  width: 50px;
  height: 30px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  float: left;
  margin-left: 10px;
}

.quick-text-cancel {
  background-color: #c6977f;
  width: 50px;
  height: 30px;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  margin-left: 250px;
  position: absolute;
}

.nav-title{
  background: url(~base/images/fh/bet/nav-title.png) no-repeat;
  width: 1150px;
  height: 145px;
  padding-left: 50px;
  font-family: '微软雅黑';

  .bc-banner{
    width: 120px;
    height: 100px;
    display: block;
    float: left;
    margin-top: 25px;
    margin-right: 40px;
  }

  .leftBlock{
    float: left;
    width: 285px;
    height: 80px;
    background: url(~base/images/julien/timebg.png) no-repeat bottom left;
    margin-top: 24px;

    .title{
      color: #333333;
      font-size: 18px;
      span{
        color: #999999;
        font-size: 14px;
      }
    }

    .countdown-block{
      font-size: 24px;
      color: #fff;
      margin-top: 17px;
      div{
        display: inline-block;
        width: 76px;

        span{
          width: 30px;
          margin-right: 2px;
          text-align: center;
          display: block;
          float: left;
        }
      }
    }
  }

  .centerBlock{
    width: 400px;
    float: left;
    margin-top: 24px;

    .julien-trendBtn{
      font-size: 12px;
      color: #666666;
      float: right;
      display: block;
      padding: 3px 14px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 30px;
      font-weight: normal;
      margin-right: 15px;
      cursor: pointer;
      position: relative;

      .tendency{
        display: none;
      }

      &:hover{
        .tendency{
          display: block;
        }
      }
    }

    .title{
      color: #333333;
      font-size: 18px;
      span{
        color: #999999;
        font-size: 14px;
      }
    }

    .text-circle{
      width: 52px;
      height: 52px;
      line-height: 52px;
      background-color: #fff;
      margin-right: 18px;
    }

    .bc-last-results{
      margin: 8px 0px 0px 0px;
    }
  }

  .rightBlock{
    padding-right: 30px;
    float: right;
    padding-top: 45px;

    a{
      color: #333333;
      font-size: 14px;
      display: inline-block;
      width: 82px;
      height: 70px;
      text-align: center;

      span{
        display: block;
        height: 40px;
      }
    }
  }
}

.bc-main-area{
  &:after{
    display:block;
    content: '';
    clear: both;
  }

  .bc-result-container{
    width: 600px;
    float: left;
  }

  .bet-quick{
    width: 134px;
    height: 32px;
    line-height: 32px;
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    display: block;
    float: right;
    font-size: 18px;
    font-family: '微软雅黑';
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #ba4587;
    border-radius: 32px;
    background-image:-webkit-linear-gradient(180deg, #ef66ab, #cd338a);
    background-image:linear-gradient(180deg,#ef66ab,#cd338a);

    i{
      display: inline-block;
      margin-right: 5px;
    }

    &:hover{
background-image:-webkit-linear-gradient(180deg, #cd338a, #ef66ab);
    background-image:linear-gradient(180deg,#cd338a,#ef66ab);
    }

  }
  .bet-quick:hover{
    background-color: #eb4929;
  }

  .bet-quick1{
    width: 134px;
    height: 32px;
    line-height: 32px;
    background-color: #f3f3f3;
    color: #999999;
    text-align: center;
    display: block;
    float: right;
    font-size: 18px;
    font-family: '微软雅黑';
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #d7d7d7;
    border-radius: 32px;

    i{
      display: inline-block;
      margin-right: 5px;
    }
  }

  .bc-menu{
    background-color: #fff;
    height: auto;
    position: relative;

    .bc-toggle{
      width: 100px;
      height: 26px;
      position: absolute;
      top: 10px;
      right: 10px;

      span{
        background-color: #e67eb2;
        font-size: 14px;
        color: #fff;
        width: 100px;
        height: 26px;
        line-height: 26px;
        display: block;
        text-align: center;
        border-radius: 26px;
        cursor: pointer;

        i{
          width: 16px;
          height: 14px;
          background: url(julien/1.png) no-repeat;
          display: inline-block;
          margin-right: 3px;
          margin-bottom: -2px;
        }

        &.sd{
          background-color: #cc6699;
        }
      }
    }

    .bc-basic-rules{
      a{
        color: #333333;
        font-size: 16px;
        border:0px;

        .bc-first-prize{
          font-size: 14px;
          color: #999999;
        }

        div{
          //width: 80px;
        }
      }

      li.active{

        .bc-first-prize{
          color: #bdbdbd;
        }
      }
    }
  }
}

.bc-play-container{
  height: 335px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
      overflow: hidden !important;

  .bc-select-item{
    .tab{
      color: #666666;
      font-size: 22px;
      font-family: 'Arial';
    }
  }

  .tab{
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    color: #999999;
    font-size: 16px;
    font-family: '宋体';
    border-radius:3px;
    -moz-border-radius:3px; /* Old Firefox */
  }

  .bc-playArea-items{
    margin: 10px 0;
  }
}

.bc-statics-area {
  margin-top: 5px;
  height: 58px;
  line-height: 58px;
  color: #333333;
  font-size: 14px;
  font-family: '微软雅黑';
  padding: 0 15px;
      margin-left: 50px;

  .tab-group{
    .tab{
      width: 26px;
      height: 26px;
      color: #666666;
      border: 1px solid #cccccc;
      background-color: #fff;
    }
  }
  
  .price{
    color: #cc3333;
    display: inline-block;
    margin-left: 15px;
  }

  .bc-multi-range{
    height: 26px;
    margin-right: 5px;

    span{
      width: 26px;
      height: 26px;
      padding: 0px;
      background-color: #fff;
      text-align: center;
      position: relative;

      &.disabled{
        background-color: #fff;
      }

      .fa{
        position: absolute;
        left: 8px;
        top: 8px;
        color: #d8855a;
      }

    }
    .num-range-center{
      width: 65px;
      height: 26px;
      background-color: #fff;
      color: #666;
    }
  }
}

.pull-bottom{
  clear: both;
  margin-bottom: 75px;
  font-family: '微软雅黑';

  a{
    width: 133px;
    height: 40px;
    line-height: 40px;
    color: #fff; 
    font-size: 18px;
    text-align: center;
    display: inline-block;
    background-color: #d8855a;
    &:hover{
      background-color: #eb4929;
    }
  }

  .add-number{
    width: 134px;
    height: 40px;
    line-height: 40px;
    background-color: #d8855a;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 585px;
  }
  .add-number:hover{
    background-color: #eb4929;
  }

  .add-number1{
    width: 134px;
    height: 40px;
    line-height: 40px;
    background-color: grey;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 585px;
  }

  .commit-number {
    height: 40px;
    line-height: 40px;
    background-color: #cc0000;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    width: 212px;
    margin-left: 30px;
  }
  .commit-number:hover{
    background-color: #eb4929;
  }


  .chase-number{
    height: 40px;
    line-height: 40px;
    background-color: #d8855a;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    width: 98px;
    margin-left: -4px;
    //&h
  }
  .chase-number:hover{
    background-color: #eb4929;
  }
}

.bc-side-area {
  width: 310px;
  height:500px;
  font-family: '微软雅黑';
  color: #666666;

  a{
    color: #666666;
  }

  .sfa {
    @include slide-nav-item($sfa-d-tickets, 120px);
  }

  .bc-records{
    background-color: #fff;
    height: 326px;
    border: 1px solid #ccc;
  }

  .bet-summary {
    background-color: #f2f2f2;
    height: 57px;
    line-height: 57px;
    font-size: 16px;
    color: #666666;
    border: 1px solid #ccc;
    border-top: 0px;
  }

}

.betting-button-clear {
    background-image:  url(~base/images/fh/nav/bet-clear-num.png);
    width: 140px;
    height: 40px;
}

.betting-button-remove {
  background-image:  url(~base/images/fh/nav/bet-remove-num.png);
  width: 140px;
  height: 40px;
}

.betting-button-importer {
  background-image:  url(~base/images/fh/nav/bet-importer.png);
  width: 140px;
  height: 40px;
}

.chase-confirm{
  background-image:  url(~base/images/fh/bet/chase-confirm.png);
  width: 100px;
  height: 30px;
  position: absolute;
  margin: -23px 750px;
}
.chase-normal{
  background-image:  url(~base/images/fh/bet/chase-normal.png);
  width: 120px;
  height: 20px;
  background-repeat: no-repeat;
}
.chase-num{
  background-image:  url(~base/images/fh/bet/chase-num.png);
  width: 90px;
  height: 30px;
  position: absolute;
  margin: -30px 870px;
}
.chase-profit{
  background-image:  url(~base/images/fh/bet/chase-profit.png);
  width: 90px;
  height: 30px;
  background-repeat: no-repeat;
}

.background-color-white {
  background-color: #fff;
}

.btn-pressdown-color1 {
  background-color: #a53c3c !important;
}

.btn-pressdown-color2 {
      background-color: #cc6699;
    color: #fff  !important;
}

.cang01{
  background-image:  url(~base/images/fh/bet/cang01.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 920px;
  margin-top: -173px;
}

.cang02{
  background-image:  url(~base/images/fh/bet/cang02.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 920px;
  margin-top: -173px;
}

.bc-left{
  width: 880px;
  float: left;

  .banner{
    height: 108px;
    border: 1px solid #b63c60;
    border-radius: 8px;
    background: url(julien/bannerbg.jpg) no-repeat top right #fff;
    color: #666666;
    font-size: 14px;

    .bc-banner{
      width: 120px;
      height: 94px;
      display: block;
      margin: 10px 40px 0 26px;
      position: relative;
      float: left;

      &:after{
        border-right:1px solid #ccc;
        height: 62px;
        position: absolute;
        right: 0px;
        top: 15px;
        display: block;
        content: '';
      }
    }

    .bc-result{
      width: 324px;
      float: left;
      padding-top: 15px;

      .title{
        margin-bottom: 11px;
        padding-right: 37px;

        span{
          display: inline-block;
          margin: 0px 5px;
          color: #333333;
        }

        a{
          font-weight: normal;
          padding: 1px 12px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 15px;
          float: right;
          font-size: 12px;

          &:hover{
            background-color:#bf5985;
            color: #fff;
            cursor: pointer;
          }
        }
      }

      .text-circle{
        background: url(julien/numbg2.jpg) no-repeat;
        background-size: cover;
        font-family: 'Arial';
        border: 0px;
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        border-radius: 0px;
        width: 52px;
        height: 52px;
        line-height: 46px;
        margin-right: 7px;
      }
    }

    .bc-time{
      width: 275px;
      float: left;
      padding-top: 15px;

      p{
        margin-bottom: 15px;

        span{
          color: #333333;
          display: inline-block;
          margin-right: 10px;
        }
      }

      .countdown-block{
        div{
          width: 60px;
          height: 40px;
          background: url(julien/numbg.jpg) no-repeat;
          float: left;
          margin-right: 10px;
          font-family: 'Arial';
          font-size: 30px;
          color: #fff;
          text-align: center;

          span{
            width: 30px;
            float: left;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.bc-right{
  float: right;
  width: 300px;
  position: relative;

  .rightBlock1{
    position: absolute;
    width: 290px;
    height: 98px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    text-align: center;

    .showList{
      height: 94px;
      overflow: hidden;
    }

    .showListBtn{
      position: relative;

      > i{
        cursor: pointer;
        color: #ccc;
        position: absolute;
        bottom: -10px;

        &:hover{
          color:#cc3333;
        }
      }
    }

    ul{
      line-height: 24px;
      height: 24px;
      color: #333333;

      &.title{
        border-bottom: 1px solid #ccc;
        height: 20px;
        line-height: 20px;
      }

      li{
        width: 42%;
        float: left;
        text-align: center;

        span{
          display: inline-block;
          padding: 1px 4px;
          border-radius: 15px;
          line-height: 12px;
          margin-right: 3px;

          &.r{
            background-color: #cc3333;
            color: #fff;
          }
        }

        &:last-child{
          width: 16%;
        }
      }
    }
  }

  .rightBlock2{
    margin-top: 120px;
    width: 290px;
    height: 89px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    color: #333333;

    .topTips{
      height: 38px;
      padding: 5px 5px 10px 5px;
      border-bottom: 1px solid #ccc;

      span{
        display: block;
        width: 140px;
        height: 20px;
        float: left;
        text-align: left;
      }
    }

    .bet-act-available{
      text-align: left;
      line-height: 40px;

      i{
        color: #cc6699;
        display: inline-block;
        margin: 0px 5px 0px 5px;
      }

      a{
        padding: 4px 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        float: right;
        line-height: 12px;
        margin-top: 10px;

        &:hover{
              background-color: #cc6699;
    color: #fff;
        }
      }
    }
  }

  .rightBlock3{
    margin-top: 10px;
    width: 300px;
    height: 426px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 0px;
    text-align: center;
    color: #333333;

    .bc-title{
      height: 34px;
      line-height: 34px;
      padding: 0px 8px;
      border-bottom: 2px solid #a83d6b;
      font-size: 14px;

      a{
        display: block;
        float: left;
        height: 34px;
        width: 142px;
        color: #666666;

        i{
          display: inline-block;
          margin-right: 10px;
          font-size: 16px;
        }

        &:hover{
          margin-top: -2px;
        }

        &.active{
          background-color: #ec3838;
          background-image:-webkit-linear-gradient(180deg, #ec3838, #a83d6b);
          background-image:linear-gradient(180deg,#ec3838,#a83d6b);
          color: #fff;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          margin-top: 0px !important;
        }
      }
    }

    .order-list{
      height: 230px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .btnList{
      margin: 15px 0px 10px 2px;

      span,a{
        display: inline-block;
        height: 29px;
        line-height: 29px;
        width: 91px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 29px;
        color: #666666;
        cursor: pointer;
        font-size: 14px;

        &:hover{
          background-color:#e67eb2;
          color: #fff;
          border: 2px solid #e67eb2;
        }

        &.no{
          background-color: #f3f3f3;
          color: #999999;
        }
      }
    }

    .order-bottom{
      height: 43px;
      line-height: 43px;
      background-color: #fefefe;
      background-image:-webkit-linear-gradient(180deg, #fefefe, #eeeeee);
      background-image:linear-gradient(180deg,#fefefe,#eeeeee);
      border-bottom: 1px solid #cccccc;
      border-top: 2px solid #a83d6b;
      position: relative;
      font-size: 14px;
      color: #666666;

      span{
        display: inline-block;
        margin: 0px 3px;
        color: #e22919;
      }

      .collect{
        width: 31px;
        height: 33px;
        display: block;
        float: left;
        background:url(julien/collect.png) no-repeat;
        position: absolute;
        left: 5px;
        top: 5px;
        cursor: pointer;

      }
    }

    .commit-number{
      width: 286px;
      padding-left: 10px;
      height: 54px;
      line-height: 48px;
      font-size: 20px;
      color: #fff;
      background:url(julien/confirmBtnBg.jpg) no-repeat;
      display: block;
      clear: both;
      margin-left: 2px;
      cursor: pointer;

      &:hover{
         background:url(julien/confirmBtnBg.jpg) no-repeat 0px -54px;
      }
    }
  }
}

.js-bc-advance-rules{
  display: block !important;
  height: auto !important;
  padding-top: 10px;

}

.bc-main-area{
  .nav-tabs{
    border-bottom: 2px solid #a83d6b;
  }
}

.bc-advance-rules-container{

}

.js-bc-rules-toolbar{
  line-height: 30px;
  .tab-title{
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
  }
  .tab-group{
    display: inline-block;
    label{
      display: inline-block;
      padding: 0px 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 30px;

      &.active{
        background-color: #cc6699;
        color: #fff !important;
        border: 1px solid #cc6699;
      }

      &:hover{
        border: 1px solid #cc6699;
        color: #cc6699;
      }
    }
  }
}

.js-bc-basic-rules{
  .js-bc-basic-rules{
    padding-left: 10px;
  }
}

.js-rule-title-clear{
  display: none;
}

.rightMenu{
  display: none;
}

.js-bc-play-example{
  margin-top: 3px;
  margin-left: 8px;
  color: #666666;

  i{
    color: #cc6699;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
  }
}

.js-bc-play-tip{
  text-decoration: none;
  float: right;
  margin-top: 1px;
  display: inline-block;
  padding: 0px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 0px;

  .js-infor-tip{
    display: none;
  }

  &:hover{
    background-color: #cc6699;
    border: 1px solid #cc6699;
    color: #fff;
    span{
      display: none;
    }

    .js-infor-tip{
      display: block;
    }
  }
}

.js-bc-select-item-title{
  position: relative;
  margin-right: 10px;
  div{
    font-size: 14px !important;
    color: #ffffff !important;
    background: url(../misc/julien/content-titlebg.jpg);
    width: 78px;
    height: 29px;
    line-height: 29px !important;
    margin-top: 8px;
  }


}

.tab-toolbar.tab-circle .tab{
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 20px;
  color: #666666;
  border-radius: 0px;
  background:url(../misc/julien/btn2.png) no-repeat;
  background-size: cover;
  border: 0px;

  &:hover{
    font-size:22px;
  }

  &.active{
    background:url(../misc/julien/btn.png) no-repeat;
    border-radius: 0px;
    color: #fff;
    border: 0px;
    background-size: cover;
  }
}

.js-be-playArea-items-toolbar{
  width: 660px;
}

.tab-toolbar.tab-border .tab{
  border: 0px;
  color: #666666;
  margin-top: 3px;
  border-radius: 20px;

  &:hover{
    background:#e67eb2 !important;
  }
}

.bc-playArea-items .tab-border{
  padding-right: 5px;
  padding-left: 3px;
}

.js-bc-play-area{
  .m-left-md{
    margin-left: 10px !important;
  }
}

.js-bc-select-op{
  &:hover{
    background: #e67eb2 !important;
  }
}

.tab-toolbar.tab-border .tab{
  border-radius: 3px;
}
.tab-toolbar.tab-border .tab.active{
  background: #e67eb2;
  border-radius: 3px;
}

.js-bc-quick-bet1{

}

.bc-statics-area .bc-multi-range span{
  background:none;
  border-radius: 3px;
}

.bc-statics-area .bc-multi-range span .fa{
  color: #ccc;
}
.js-bc-multi-range{
  border-radius: 3px;
}

.js-wt-number{
  background-color: #f6f6f6 !important;
}

.adsf1{
  display: inline-block;
  margin-right: 10px;
}

.add-number{
  border:1px solid #cd338a !important;
  background-image:-webkit-linear-gradient(180deg, #ef66ab, #cd338a);
  background-image:linear-gradient(180deg,#ef66ab,#cd338a);
  color: #fff !important;

  &:hover{
    background-image:-webkit-linear-gradient(180deg, #cd338a, #ef66ab);
    background-image:linear-gradient(180deg,#cd338a,#ef66ab);
  }
}

.add-number1{
  color: #999999 !important;
  background-color: #f3f3f3 !important;
  border: 1px solid #ccc !important;
}
.js-bc-lottery-preview{
  table{
    tr{
      padding: 0px 10px;
    }
  }
}

.tab-toolbar.tab-circle .active{
  div{
    background-position: 0px -29px;
  }
}

.js-bc-lottery-preview{
  .table thead th{
    background: #f6f6f6;
    border-bottom: #cccccc 1px solid;
  }
}

.js-bc-lottery-preview-del{
  color: #ccc;
  cursor: pointer;
}
.js-bc-lottery-preview{
  .js-wt-tbody{
    font-size: 12px;
  }
}

.js-bc-lottery-preview{
  .slimScrollDiv{
    overflow: inherit !important;
  }
  .js-wt-body-main{
    overflow: inherit !important;
  }
}

.dsaj{
  height: 24px;
  border-radius: 3px;
  width: 100px;
  padding-right: 0px;
  font-size: 12px;

  -webkit-appearance: menulist;
}

.bc-result-container2{
  line-height: 20px;
    width: 200px;
    display: inline-block;
  position: relative;
  margin-left: 10px;

    input{
          display: inline-block;
      width: 62px;
        height: 14px;
        border-radius: 3px;
        padding-right: 20px;
    }

    span{
      position: absolute;
      right: 56px;
      color: #999999;
      top: 3px;
    }
}
.js-bc-betting-records{
  .table thead th{
    background: #f6f6f6;
    border-bottom: #cccccc 1px solid;
  }
}

.order-list{
 .js-wt-tbody{
  font-size: 12px;
  span{
    display: inline-block;
    border: 1px solid #ccc;
    color: #999999;
    margin-left: 5px;
    padding: 0px 5px;
    border-radius: 3px;

    &:hover{
      background-color: #e67eb2;
      color: #fff;
      border: 1px solid #e67eb2;
      cursor: pointer;
    }
    
  }
  span.text-pink{
      border: 0px;
      cursor: inherit;

      &:hover{
        background:none;
      }
    }

  
 }
 .slimScrollDiv table td{
  padding: 4px 0px;
 }
}

.btn-dragon{
    position: absolute;
   left: 100px;
   top: 100px
  }
.btn-draw{
  position: absolute;
   right: 30px;
    top: 100px
}

  .btn-tiger{
    position: absolute;
     
     right: 200px;
     top: 100px
  }

.bc-left{
  .bc-time{
    position: relative;
    .d1{
      font-size: 30px;
      color: #333333;
      position: absolute;
          left: 62px;
    top: 48px;
    }
    .d2{
      font-size: 30px;
      color: #333333;
          left: 132px;
      top: 48px;
       position: absolute;
    }
  }
}

.pk10{
  .bc-left .banner .bc-result .text-circle{
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 2px;
  }
  .bc-last-results{
    margin-top: -5px;
  }
}

.x5{
      margin-left: 90px;
}

.js-bc-btn-lottery-add{
  i{
    margin-right: 2px;
  }
}

.bc-input-opration-container-div-julien{
  .btn-sun-imp1{
    width: 97px;
    height: 24px;
    border: 1px solid #bb5283;
    background-image:-webkit-linear-gradient(180deg, #cb6598, #b74e7e);
    background-image:linear-gradient(180deg,#cb6598,#b74e7e);
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 3px;
    text-align: left;

    &:hover{
      background-image:-webkit-linear-gradient(180deg, #b74e7e, #cb6598);
      background-image:linear-gradient(180deg,#b74e7e,#cb6598);
    }

    i{
      margin-left: 5px;
      width: 12px;
    }
  }

  .btn-sun-imp{
    width: 97px;
    height: 24px;
    border: 1px solid #cbcbcb;
    background-image:-webkit-linear-gradient(180deg, #f5f5f5, #e6e6e6);
    background-image:linear-gradient(180deg,#f5f5f5,#e6e6e6);
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 3px;
    color: #666666;
    text-align: left;

    &:hover{
      background-image:-webkit-linear-gradient(180deg, #e6e6e6, #f5f5f5);
      background-image:linear-gradient(180deg,#e6e6e6,#f5f5f5);
    }

    i{
      margin-left: 5px;
      width: 12px;
      display: inline-block;
      text-align: center;
    }
  }
}

.js-bc-lottery-preview{
  i{
    cursor: pointer;

    &:hover{
      color: #cc6699;
    }
  }
}