@charset "UTF-8";

@import "~base/styles/imports";

.text-coffee {
  color: #666666
}

.julien-menu-03{
  margin-bottom: 15px;
  padding-top: 12px;
  border-top: 1px solid #cdcdcd;

  ul{
    border: 1px solid #cccccc;
    border-right: 0px;
    display: inline-block;

    li{
      display: inline-block;
      padding: 5px 10px;
      background-color: #e0e0e0;
      color: #666666;
      border-right: 1px solid #cccccc;

      &.active{
        background: #fefefe;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }
}

.lowLevelManage-view {
  .search-condition-table{
    margin-left: 0px;
  }

  .ac-user-name-div {
    .control-label{
      width:100px;
    }
    width: 235px;
    display: inline-block;
  }

  .ac-balance-label {
    .control-label{
      width: 86px;
    }
    display: inline-block;
    width: 395px;
    span {
      margin: 0 0 0 -4px;
    }
    input {
      margin: 0 4px ;
    }
  }

  .ac-register-ime-label {
    .control-label{
      width: 86px;
    }
    width: 384px;
    display: inline-block;
  }

  .ac-unActive-day-label {
    width: 235px;
    display: inline-block;
  }

  .ac-llm-btn {
    margin-right: 4px;
  }
}
.ac-llm-online {
  color: #15c815;
  font-size: 16px;
  padding-left: 3px;
}

.ac-register {
  &.btn[disabled] {
    opacity: 1;
  }
}

.ac-query-name-label {
  width: 55px;
  display: inline-block;
}

.ac-range-label {
  width: 249px;
  display: inline-block;
}

.ac-page-size-label {
  display: inline-block;
}

.ac-query-btn {
  width: 70px;
}

.ac-report-username-div {
  width: 157px;
  display: inline-block;
}

.ac-report-data-div {
  width: 360px;
  display: inline-block;
}

.ac-report-ticket-div {
  width: 135px;
  display: inline-block;
}

.ac-report-range-div {
  display: inline-block;
}

//teamDynamic
.ac-chart {
  height: 260px;
}

.table {
  tbody tr {
    &:hover {
      .ac-expend-btn {
        opacity: 1;
      }
    }
  }
}

.ac-expend-btn {
  float: right;
  position: absolute;
  top: 0;
  right: 15px;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.ac-expend {
  transition: height 0.5s ease;
}


.ac-lowLevel-detail-view {
  .ac-lowLevel-detail {
    padding: 13px 0 0 15px;
  }
}

.ac-lowLevel-rebate-view {

  .ac-llm-rebate-div {
    height: 255px;
  }
  .ac-lowLevel-quota-container {
    margin: 10px 28px 10px 20px;
    padding: 5px 14px 5px 14px;
  }

  .ac-lowLevel-rebate-table {
    width: 100%;
    padding: 60px 0 0 0;
  }

  .ac-lowLevel-rebate-btn {
    margin: 15px 50px 0 0 ;
    width: 166px;
    height: 32px;
    background-color: $color-sunshine;
  }

}

.ac-ocm-copy {
  width:240px;
  //background-color: #e8a303;
}
.ac-ocm-copy-coin {
  background: url(copy.png) no-repeat;
  margin-left: 0;
  padding-left: 0;
  height: 17px;
  width: 13px;
}
.ac-oam-au-save {
  width:132px;
  height: 32px;
}

.ac-oam-au-link {
  color: $main-color;
}

.ac-openAccount-view {
  ul {
    margin: 13px 15px 5px 15px;
    li {
      a {
        span {

        }
      }
    }
  }

  .control-label{
    padding: 0;
    display: block;
    color: #666666;
  }



  .ac-openAccount-rebate-notice {
    margin: 0 0 20px 0;
  }
  .js-ac-openAccountManual-form {
    margin-top: 35px;
  }

  .ac-openAccount-manual-div {
    margin: 0 28px 0 20px;
    .control-label {
      width: 80px !important;
    }
    .controls {
      margin-left: 80px;
    }

  }
  .ac-op-manual-rebate-set-container {

    div{

      > table{
        tr{
          height: 38px;
          background-color: #f2f2f2;
          line-height: 38px;
          color: #999999;
          font-family: '微软雅黑';
          font-size: 14px;

          th{
            padding: 0px;
            vertical-align: inherit;
            font-weight: normal;
          }
        }
      }

      div > table{
        tr{
          background-color: #fff;
          color: #666666;
          font-family: '微软雅黑';
          font-size: 14px;

          a{
            color: #666666;
          }
        }
      }
    }
  }
  .ac-op-auto-rebate-set-container {
    width: 780px;
    margin-top: 24px;
    margin-right: 60px;
  }
  .ac-submit-btn-div {
    padding: 0px 80px 0 0;
    .btn {
      width: 166px;
      height: 32px;
    }
  }
  .ac-register {
    background-color: #16a4aa;
    border: 1px solid #16a4aa;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: #fefbfa;
  }

  .ac-openAccount-link-main-div {
    margin: -8px 0 0 0;
  }

  .ac-add-link {
    margin-right: 15px;
    width: 115px;
    height: 30px;
    border:0px;
    background-color: #d8855a;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #fff;
  }

  .ac-open-account-link {
    width: 310px;
  }

  .ac-open-account-button {
    width: 75px;
  }

  .ac-open-account-view {
    width: 50px;
  }

  .ac-open-account-remark {
    width: 126px;
    height: 60px;
    resize: none;
  }

  .ac-auto-confirm-div {
    padding-top: 1px;
    .btn {
      padding: 4px 10px;
      height: 32px;
      width: 116px;
    }
  }
  .ac-auto-link-remark-div {
    display: inline-block;
  }
}

.ac-teamDynamic-view {
  .ac-ta-statistics {
    background-color: #d5d5d5;
    color: #666666;
    font-size: 14px;
    align: center;
    width: 144.4px;
    height: 64px;
    line-height: 28px;
    padding: 5px ;
    border-right: 1px solid $gray-color;
  }
  .ac-ta-nav-manual-tabs {
    margin: 0 ;
    padding: 0 0 0 15px;
    font-size: 15px;
  }
  .ac-tm-data-label{
    font-size: 14px;
    color:#666666;
    padding: 15px 10px 0 25px;
  }
  .ac-btnGroup {

    //border-right: none;
    font-size: 14px;
    vertical-align: top;
    .btn {
      font-size: 14px;
      border: 1px solid #c2c2c2 ;
      padding: 10px 9px;
      margin: 10px 9px;
      min-width: 75px;
      width: 110px;
      height: 34px;
      border-radius: 0px;
      margin-right: 5px;
    }
  }
  form {
    margin: 0px 0 0 0px;
  }
  ul {
    margin: 12px 12px 0 12px;
  }

  .ac-td-tab-lab {
    padding: 0 2px;
  }
  .ac-td-oa-title {
    background: url(openAccountOrder.png) no-repeat;
    margin-left: 5px;
    padding-left: 25px;
    height: 21px;

  }
  .ac-td-uu-title {
    background: url(unActiveUserOrder.png) no-repeat;
    margin-top: -5px;
    padding-left: 31px;
    height: 26px;
  }

  .ac-tm-oa-order1 {
    background-image: url(no1.png);
    margin-left: 30px;
    width: 18px;
    height: 21px;
    position: absolute;
    left: 0;
  }
  .ac-tm-oa-order2 {
    background-image: url(no2.png);
    margin-left: 30px;
    width: 18px;
    height: 21px;
    position: absolute;
    left: 0;
  }
  .ac-tm-oa-order3 {
    background-image: url(no3.png);
    margin-left: 30px;
    width: 18px;
    height: 21px;
    position: absolute;
    left: 0;
  }
  //teamDynamic
  .ac-chart {
    height: 230px;
    margin: 5px 20px 0 20px;
  }
  .ac-grid-title-div {
    margin: 0 20px;
  }
}

.ac-loginDate {
  border: 1px solid;
  padding: 2px 5px;
  margin: 0 3px;
}

.ac-rush-reward {
  .table {
    th, td {
      padding: 2px 3px;
    }
  }
}

.ac-block{
  background: url(~base/images/julien/banner01.png) no-repeat center top;
  padding-top: 100px;

  .menu-bock{
    background: none;
    //height: 41px;
    height: 56px;
    border:0px;
    border-bottom: 2px solid #a60000;

    ul{
      margin: 0;

      li{
        background: none;
        margin-right: 10px;
        width: 140px;

        &.active a{
          background: url(~base/images/julien/btn-bg01.jpg) no-repeat;
          color: #fff;
        }

        a{
          font-family: '微软雅黑';
          display: block;
          width: 138px;
          height: 40px;
          border: 1px solid #cccccc;
          border-bottom: 0px;
          display: inline-block;
          line-height: 40px;
          text-align: center;
          color: #333333;
          background: #fff;
          font-size: 16px;
        }
      }
    }
  }

  .nav-tabs{
    border:0px;
  }

  .view-container{
    margin:0 20px;

  }

  .view-tabs{
    margin: 22px 20px 16px 20px;
    padding: 0px;
  }

  .nav-tabs > li{
    border:0px;
  }
  .nav-tabs > li > a{
    list-style: none;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background: url(~base/images/julien/menu-bg01.png) no-repeat;
    text-align: center;
    float: left;
    margin-right: 9px;
    padding: 0px;
    border:0px;
    color: #fff;

    &:visited{
      color:#fff;
    }
  }
  .nav-tabs > li.active a{
    background-position: 0 -30px;
    color:#fff;
    &:visited{
      color:#fff;
    }
  }
  .nav-tabs > li.active a:after{
    display: none;
  }

  .ac-ta-statistics{
    margin-left: 15px;
  }

  .text-center{
    width: 100%;
    min-height: 200px;
    margin-top: 15px;
  }
}

.lowLevelManage-view{
  font-size: 14px;
  font-family: '微软雅黑';

  .btn{
    padding: 6px 8px;
  }

  .table{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 14px;
    color: #666666;

    th{
      height: 38px;
      line-height: 38px;
      padding: 0px;
    }

    a{
      color: #666666;
      font-size: 14px;

      &:hover{
        color: #666666;
      }
    }
  }
  .table thead th{
    background-color: #f2f2f2;
    color: #999999;

    a{
      color: #999999;
      font-size: 14px;

      &:hover{
        color: #999999;
      }
    }

    .table-sort{
      color: #666666;
    }
  }

  h3.tips{
    color: #cc0000;
    font-size: 14px;
    font-family: '微软雅黑';
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-weight: initial;
  }

  dl,dt,dd{
    padding: 0px;
    margin: 0px;
  }

  dl{
    float: left;
    margin-right: 10px; 
  }

  .search-condition-table{
    > div{
      height: 35px;
      margin-bottom: 15px;

      >div{
        float: right;
        width: 75px;
        padding-left: 20px;
        border-left: 1px solid #cccccc;

        button{
          width: 62px;
          height: 30px;
          background-color: #ff6600;
          color: #fff;
          font-family: '微软雅黑';
          font-size: 16px;
          border: 0px;
        }
      }
    }

    dt,dd{
      display: inline-block;
    }
    dt{
      margin-right: 5px;
      font-weight: normal;
      font-size: 14px;
      color: #999999;
      font-family: '微软雅黑';
    }

    select{
      width: 86px;
      padding: 0px 5px;
    }

    input{
      width: 86px;
      height: 28px;
      padding: 0px 5px;
    }
  }

  dl.width150{
    width: 150px;
  }

  dl.width165{
    width: 165px;
  }

  dl.width285{
    width: 285px;
  }

  dl.width315{
    width: 315px;
  }

  .hidden-seach{
    height: 14px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    hr{
      position: absolute;
      margin: 0px;
      width: 100%;
      top: 7px;
      border-top: 1px solid #cccccc;
    }
    span{
      background-color: #d8855a;
      display: block;
      position: relative;
      width: 63px;
      height: 14px;
      margin: 0px auto 20px auto;
      cursor: pointer;

      &:hover{
        background-color: #cd1f21;
      }

      &:before{
        content:'';
        display: block;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid dashed dashed dashed;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        left: 27px;
        top: 5px;
      }

      &.on{
        &:before{
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #fff transparent;
          top: -1px;
        }

        &:hover{
          background-color: #cd1f21;
        }
      }
    }
  }
}

.ac-openAccount-view{
  .linkAddress{
    width:170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 15px;
  }
  .ac-openAccount-rebate-notice{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #666666;
    a{
      font-size: 14px;
      color: #666666;
      text-decoration: underline;
      padding: 0px 10px;
    }

    dl,dt,dd{
      padding: 0px;
      margin: 0px;
      font-weight: initial;
      display: inline-block;
    }

    .tips{
      color: #cc0000;
      height: 33px;
      line-height: 33px;
      margin-bottom: 20px;
    }

    .julien-left{
      width: 410px;
      float: left;

      i{
        left: 300px;
      }

      .messageBox{
        left: 315px;
      }

      .manualRebate{
        position: relative;

        input{
          background: url(~base/images/julien/22.png) no-repeat 180px 12px #f7f7f7;
          font-size: 14px;
        }
        ul{
          margin: 0px;
          padding: 0px;
          position: absolute;
          top: 30px;
          width: 300px;
          z-index: 3;
        }

        li{
          background-color: #fff;
          list-style: none;
          border: 1px solid #cccccc;
          line-height: 25px;
          height: 25px;
          color: #999;
          width: 82px;
          text-align: center;
          margin: 0px 5px 5px 0px;
          display: inline-block;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          cursor: pointer;

          span{
            color: #666666;
          }

          &:hover{
            background-color:#cc0000;
            color: #ccc;
            border-color: #cc0000;

            span{
              color: #fff;
            }
          }
        }
      }

      dl{
        margin-bottom: 20px;
        width: 100%;

        h3{
          margin: 0px;
          padding: 0px;
          position: absolute;
          top: 30px;
          font-size: 14px;
          font-weight: initial;
          line-height: 14px;
          color: #cc9966;
          left: 40px;
        }
      }
      dt{
        width: 93px;
        text-align: right;
      }
      dd{
        width: 220px;

        input{
          width: 188px;
          height: 26px;
          padding: 0px 5px;
        }
      }

      hr{
        margin: 10px 82px 20px 23px;
        border-top: 1px solid #e2e2e2;
      }

      button{
        width: 275px;
        border: 0px;
        height: 30px;
        line-height: 30px;
        background-color: #cc0000;
        color: #fff;
        margin-left: 23px;
      }
    }
    .julien-right{
      width: 740px;
      float: right;
    }

    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
}

.julienTeamTitle{
  margin: 10px 20px;
  font-family: '微软雅黑';

  div{
    padding-top: 8px;
    width: 185px;
    float: left;
    height: 48px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #6d6d6d;
    border-right: 1px solid #e5e5e5;

    &.noborder{
      border: 0px;
    }

    span{
      display: block;
      color: #2b7eb1;
    }
  }

  b{
    margin-top: 15px;
    display: block;
    width: 21px;
    height: 37px;
    background: url(~base/images/julien/24.png) no-repeat;
    float: left;

    &:last-child{
      background-position: right;
      float: right;
    }
  }

  &:after{
    content: '';
    clear: both;
    display: block;
  }
}

.js-ac-search-bar{
  .julien-select{
    border-top: 1px solid #cccccc;
    margin:10px 20px 0 20px;

    .btn{
      width: 78px;
      height: 26px;
      border: 1px solid #cccccc;
      border-left: 0px;
      padding: 0px;
      margin: 0px;
      float:left;
      background: #fefefe;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      margin-top: 13px;

      &:first-child{
        border-left: 1px solid #cccccc;
      }

      &.active{
        background-color:#e0e0e0;
      }
    }
  }
}

.ac-grid-title-div{
  > div >div > table{
    tr{
      height: 38px;
      background-color: #f2f2f2;
      line-height: 38px;
      color: #999999;
      font-family: '\5FAE\8F6F\96C5\9ED1';
      font-size: 14px;

      th{
        vertical-align: middle;
        background: none;
        font-weight: normal;
      }
    }
  }

  div div div table{
    td{
      padding: 8px 3px;
    }
  }
}



.julien-search-condition-table{
  font-size: 14px;
  font-family: '微软雅黑';
  margin: 0px 20px;
  color: #999999;

  .julien-title{
    color: #eb2020;
    margin-top:-15px;
    margin-bottom: 15px;
  }
  
  > div{
    height: 35px;
    margin-bottom: 15px;

    >div{
      float: right;
      width: 75px;
      border-left: 1px solid #cccccc;
      padding-left: 20px;

      button{
        width: 62px;
        height: 30px;
        background-color: #ff6600;
        color: #fff;
        font-family: '微软雅黑';
        font-size: 16px;
        border: 0px;
      }
    }
  }

  dt,dd{
    display: inline-block;
  }
  dt{
    margin-right: 5px;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
    font-family: '微软雅黑';
  }

  select{
    width: 86px;
    padding: 0px 5px;
  }

  input{
    width: 86px;
    height: 28px;
    padding: 0px 5px;
  }

  dl.width150{
    width: 150px;

    dt{
      margin-right: 0px;
    }
  }

  dl.width185{
    width: 185px;
  }

  dl{
    display: inline-block;
  }
}

.salary-view{
  .julien-search-condition-table{
    margin: 20px 0px;
  }
  .marginlr20{
    margin: 0px;
  }
}

.ac-cs-view{
  .julien-search-condition-table{
    margin-left: 20px;
  }
}