@charset "UTF-8";

@import "~base/styles/imports";

.julien-menu-03{
  margin-bottom: 15px;
  padding-top: 12px;
  border-top: 1px solid #cdcdcd;

  ul{
    border: 1px solid #cccccc;
    border-right: 0px;
    display: inline-block;

    li{
      display: inline-block;
      padding: 5px 10px;
      background-color: #e0e0e0;
      color: #666666;
      border-right: 1px solid #cccccc;

      &.active{
        background: #fefefe;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    }
  }
}

.lowLevelManage-view {
  .ac-user-name-div {
    .control-label{
      width:100px;
    }
    width: 235px;
    display: inline-block;
  }

  .ac-balance-label {
    .control-label{
      width: 86px;
    }
    display: inline-block;
    width: 395px;
    span {
      margin: 0 0 0 -4px;
    }
    input {
      margin: 0 4px ;
    }
  }

  .ac-register-ime-label {
    .control-label{
      width: 86px;
    }
    width: 384px;
    display: inline-block;
  }

  .ac-unActive-day-label {
    width: 235px;
    display: inline-block;
  }

  .ac-llm-btn {
    margin-right: 4px;
  }
}
.ac-llm-online {
  color: #15c815;
  font-size: 16px;
  padding-left: 3px;
}

.ac-register {
  &.btn[disabled] {
    opacity: 1;
  }
}

.ac-query-name-label {
  width: 55px;
  display: inline-block;
}

.ac-range-label {
  width: 249px;
  display: inline-block;
}

.ac-page-size-label {
  display: inline-block;
}

.ac-query-btn {
  width: 70px;
}

.ac-report-username-div {
  width: 157px;
  display: inline-block;
}

.ac-report-data-div {
  width: 360px;
  display: inline-block;
}

.ac-report-ticket-div {
  width: 135px;
  display: inline-block;
}

.ac-report-range-div {
  display: inline-block;
}

.ac-expend-btn {
  float: right;
  position: absolute;
  top: 0;
  right: 15px;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.ac-expend {
  transition: height 0.5s ease;
}


.ac-lowLevel-detail-view {
  .ac-lowLevel-detail {
    padding: 13px 0 0 15px;
  }
}

.ac-lowLevel-rebate-view {

  .ac-llm-rebate-div {
    height: 255px;
  }
  .ac-lowLevel-quota-container {
    margin: 10px 28px 10px 20px;
    padding: 5px 14px 5px 14px;
  }

  .ac-lowLevel-rebate-table {
    width: 100%;
    padding: 60px 0 0 0;
  }

  .ac-lowLevel-rebate-btn {
    margin: 15px 50px 0 0 ;
    width: 166px;
    height: 32px;
    background-color: $color-sunshine;
  }
}

.ac-oam-au-save {
  width:132px;
  height: 32px;
}

.ac-oam-au-link {
  color: $main-color;
}

.ac-loginDate {
  border: 1px solid;
  padding: 2px 5px;
  margin: 0 3px;
}

.ac-rush-reward {
  .table {
    th, td {
      padding: 2px 3px;
    }
  }
}
.lowLevelManage-view{
  .table{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 12px;

    th{
      height: 28px;
      line-height: 28px;
      padding: 0px;
      color: #666666;
    }

    a{
      color: #333333;
      font-size: 12px;

      &:hover{
        color: #cc6699;
      }
    }
  }
  .table thead th{
    background-color: #f2f2f2;
    color: #666666;

    a{
      color: #666666;
      font-size: 12px;

      &:hover{
        color: #333;
      }
    }

    .table-sort{
      color: #666666;
    }
  }

  h3.tips{
    color: #cc0000;
    font-size: 14px;
    font-family: '微软雅黑';
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-weight: initial;
  }

  dl.width150{
    width: 150px;
  }

  dl.width165{
    width: 165px;
  }

  dl.width255{
    width: 255px;
  }

  dl.width285{
    width: 285px;
  }

  dl.width315{
    width: 315px;
  }

  .hidden-seach{
    height: 14px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    hr{
      position: absolute;
      margin: 0px;
      width: 100%;
      top: 7px;
      border-top: 1px solid #cccccc;
    }
    span{
      background-color: #d8855a;
      display: block;
      position: relative;
      width: 63px;
      height: 14px;
      margin: 0px auto 20px auto;
      cursor: pointer;

      &:hover{
        background-color: #cd1f21;
      }

      &:before{
        content:'';
        display: block;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid dashed dashed dashed;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        left: 27px;
        top: 5px;
      }

      &.on{
        &:before{
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #fff transparent;
          top: -1px;
        }

        &:hover{
          background-color: #cd1f21;
        }
      }
    }
  }
}
// teamDynamic
.ac-td-statistic {
  .ac-td-statistic-item {
    padding-top: 8px;
    width: 179px;
    float: left;
    height: 69px;
    line-height: 30px;
    color: $color-amber;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-right: 14px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);

    span{
      display: block;
      color: $font-color;
      font-size: 16px;
    }

    &.red-bg {
      background: #cc3432;
      color: #ffffff;
      span {
        color: #ffffff;
      }
    }
  }
}
.ac-td-tab-select{
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;

  .btn{
    height: 26px;
    border: 1px solid #cccccc;
    margin-right: 3px;
    float:left;
    background: #fff;
    font-size: 12px;

    &.active{
      border: 1px solid #cc6699;
      background-color: #cc6699;
      color: #fff;
    }

    &:hover{
      border: 1px solid #cc6699;
      color: #cc6699;
      background-color: #ffffff;
    }
  }
}
.ac-td-tab-content{
  border: 1px solid #cccccc;
  background-image:-webkit-linear-gradient(180deg, #ffffff, #f7f7f7);
  background-image:linear-gradient(180deg,#ffffff,#f7f7f7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.ac-chart {
  height: 260px;
}



.julien-ac-salary-my{
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: -5px;
  height: 5px;

  .add-salary-user{
    font-size: 14px;
    color: #fff;
    font-family: '微软雅黑';
    background-color: #cd9967;
    padding:5px 8px;
    position: absolute;
    right: 0px;
    top: -45px;
    cursor: pointer;
  }
}

.add-salary-user{
  position: absolute;
  width: 121px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  float: right;
  background-image:-webkit-linear-gradient(180deg, #ec1b42, #be3259);
  background-image:linear-gradient(180deg,#ec1b42,#be3259);
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  right: 10px;
  top: 13px;

  &:hover{
    background-image:-webkit-linear-gradient(180deg, #be3259, #ec1b42);
    background-image:linear-gradient(180deg,#be3259,#ec1b42);
  }
}


.ac-lm-transfer-dialog{
  width: 680px !important;
  margin-left: -340xp !important;
  .ac-lm-tf-row-container{
    position: relative;
    margin: 15px 0 60px;
    .ac-lm-tf-add{
      float: right;
      height: 36px;
      bottom: 0px;
      position: absolute;
      right: 16px;
    }
  }
  .ac-lm-tf-row{
    width: 500px;
    margin: 5px 0 ;
    .ac-lm-tf-select-container{
      display: inline-block;
      width: 200px;
      float: left;
      margin-right: 10px;
    }
    .ac-lm-tf-input-container{
      height: 36px;
      width: 175px;
      .ac-lm-tf-amount{
        width: 120px;
        height: 26px;
        margin-right: 15px;
      }
    }

    .ac-lm-tf-del{
      float: right;
      height: 36px;
      min-width: 56px !important;
    }
  }


  .ac-lm-tf-amount-container{
    height: 29px;

  }
  .ac-lm-tf-union-container{
    line-height: 29px;
    height: 29px;
    width: 344px;
    display: inline-block;
    .ac-lm-tf-union-label{
      line-height: 29px;
      height: 29px;
      .ac-lm-tf-check{
        margin-top: -1px;
      }
    }
  }

}