@charset "UTF-8";

@import "~base/styles/imports";
.ac-sm-agree-notice{
  color: #666;
  font-size: 12px;
  font-weight: 500;
}

.ac-sm-agree-title{
  color: #da5144;
  font-size: 17px;
  padding: 5px;
  font-weight: 500;
  border: 1px solid #ccc;
  text-align: center;
  border-bottom:0px;
}

.ac-sm-agree-table{
  height: 194px;

}

.ac-sm-conf-table{
  height: 280px;
}


.ac-sm-agree-agreement-title{
  color: #da5144;
  font-size: 17px;
  padding: 5px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-bottom:0px;
  text-align: center;

}

.ac-sm-agree-agreement-content{
  color: #000;
  height:  185px;
  font-size: 12px;
  padding: 5px;
  //font-weight: 300;
  border: 1px solid #ccc;
  text-align: left;
  p{
    line-height: 21px;
    margin: 0px;
  }
}

.ac-sm-pay-all {
  width: 98px;
  height: 26px;
  font-size: 14px;
  background-color: #e45b49;
  border-radius: 2px;
  border: 0px;
  color: #fff;
  padding: 4px !important;
}

.ac-sm-sign-table{
  width: 840px;
  height: 286px;
  .ac-sm-sign-saleAmount{
    width: 50px;
  }
  .ac-sm-sign-select-div{
    width: 100%;
    //text-align: left;
    .ac-sm-sign-select{
      //margin-left: 80px;
      width: 60px;
    }
    .ac-sm-sign-lossLimit{
      width: 50px;
    }
  }

  .ac-sm-sign-salary{
    width: 50px;
  }
  .ac-sm-sign-delete{
    button{
      background-color: #fff;
      border: 0px;
    }
  }
}
.ac-sm-sign-special-table{
  width: 800px;
  height: 316px;
  border: 1px solid #c9c9c9;
  height: 222px;
  tr{
    height: 36px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  td{
    border: 1px solid #c9c9c9;
    height: 36px;
    input{
      height: 13px;
    }
    .width-size1{
      width: 80px;
    }
    .width-size2{
      width: 128px;
    }
    .width-size3{
      width: 60px;
    }
    .width-size4{
      width: 180px;
    }
  }
  tr:first-child{
    background: linear-gradient(to bottom,#fff,#ede8e7);
  }
  tr:last-child{
    div{
      height: 72px;
      padding: 10px;
      text-align: left;
      p{
        font-size: 13px;
        margin-bottom: 0px;
        line-height: 18px;
        height: 18px;
      }
    }
  }
}

.ac-sm-sign-type-container{
  vertical-align: middle;
  height: 17px;
  line-height: 20px;
  label{
    display: inline-block;
    margin-right: 20px;
    input{
      margin: 0 5px 0 0 ;
    }
  }
}
.ac-sm-sign-username{
  height: 35px;
  margin-bottom: 15px;
  .ac-sm-sign-max-place{
    margin-left: 13px;
  }
}
.ac-sm-sign-set-title-div{
  border-bottom:1px solid #cccccc;
  width: 840px;
  margin-top:20px;
}
.ac-sm-sign-username-size{
  margin-top: 25px;
}
.ac-sm-sign-body{
  width: 840px;
  height: 95px;
  .ac-sm-sign-body-left-left{
    background: #f2f2f2;
    display: inline-block;
    height: 32px;
    border: 1px solid #c9c9c9;
    width: 130px;
    text-align: center;
    line-height: 32px;
  }
  .ac-sm-sign-body-left-right{
    display: inline-block;
    height: 32px;
    border: 1px solid #c9c9c9;
    line-height: 32px;
    width: 227px;
    margin-left: -5px;
    text-align: center;
  }
  .ac-sm-sign-body-left-down{
    border-top:0px;
  }
  .ac-sm-sign-body-left{
    width: 360px;
    display: inline-block;

  }

  .ac-sm-sign-body-center{
    width: 98px;
    display: inline-block;
    margin-left: 14px;
    color: #999;
    .ac-sm-sign-body-center-tip{
      font-size: 47px;
      margin-left: 7px;
    }
  }
  .ac-sm-sign-body-right{
    width: 360px;
    display: inline-block;
  }
}
.ac-sm-agree-special-example{
  height: 72px;
  padding: 10px;
  text-align: left;
  border: 1px solid #c9c9c9;
  border-top:0px;
  margin-bottom: 30px;
  p{
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 18px;
    height: 18px;
  }
}
.ac-sm-sign-input-width{
  width: 50px;
  margin-top: -3px;

}
.ac-sm-sign-select-width{
  width: 65px;
}
.ac-sm-sign-input-width-place{
  width: 50px;
  margin-left: 22px;
  margin-top:-3px;
}
.ac-sm-conf-title{
  color: #da5144;
  font-size: 17px;
  padding: 5px;
  font-weight: 500;
  border: 1px solid #ccc;
  //width: 789px;
  text-align: center;
  border-bottom:0px;
}
.ac-sm-conf-special-example{
  height: 72px;
  padding: 10px;
  text-align: left;
  border: 1px solid #c9c9c9;
  border-top:0px;
  margin-bottom: 30px;
  margin-top: -7px;
  p{
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 18px;
    height: 18px;
  }
}

.fc-sm-sign-tabs{
  a{
    border: 1px solid #cccccc;
    border-bottom: 1px solid #ececec;
    color: #c93339;
  }
}
.fc-sm-form{
  margin-top:65px;
}