<div class="js-ac-noFundPasswordNoticeBar" style="margin-bottom:5px;">
  <!--<i class="fa fa-exclamation-circle font-md"></i> 请提供最近一次绑定的卡号信息-->
</div>
<div class="text-center">
  <div class="control-group" style="margin-bottom: 30px;margin-top: 10px;">开户人姓名：<input type="text" class="js-uc-cmAccountName" style="width:200px;"/></div>
  <div class="" style="margin-bottom: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;银行卡号：<input type="text" class="js-uc-cmCardNo" style="width:200px;"/></div>
</div>
<div class="js-uc-cmValCardInfoNotice"></div>
<div class="text-center">
<button class="js-uc-cmValidateCardInfo btn btn-sun btn-liner width-250" type="button" data-type="<%=type%>">确定</button>
</div>