<form class="js-uc-cbCardBindingForm form-horizontal uc-cbCardBindingForm">
  <div class="control-group">
    <label class="control-label uc-card-band-size">银行名称：</label>

    <div class="uc-card-band-option-size">
      <select class="js-uc-cbBankId uc-card-band-select1" required>
        <option value="">请选择</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label uc-card-band-size">开户城市：</label>

    <div class="uc-card-band-option-size">
      <select class="js-uc-cbProvince uc-card-band-select2" required>
        <option value="">省份</option>
      </select>
      <select class="js-uc-cbCity uc-card-band-select3" required>
        <option value="">城市</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label uc-card-band-size">支行名称：</label>

    <div class="uc-card-band-option-size">
      <select class="js-uc-cbBankBranch uc-card-band-select1 "  required >
        <option value="">支行</option>
      </select>
      <span class="uc-bind-card-word-style">请务必选择正确，否则会导致提现失败</span>
    </div>

  </div>



  <div class="control-group">
    <label class="control-label uc-card-band-size">开户人姓名：</label>

    <div class="uc-card-band-option-size">
      <input type="text" class="js-uc-cbAccountName uc-card-band-input2" data-parsley-length="[2,50]" data-parsley-zhAndLDBMaxLen="20" required >
      <span class="uc-bind-card-word-style">只可手动输入，不可粘贴</span>
    </div>

  </div>

  <div class="control-group">
    <label class="control-label uc-card-band-size">卡号：</label>

    <div class="uc-card-band-option-size">
      <input type="text" class="js-uc-cbCardNo uc-lg-input uc-card-band-input2"  data-parsley-num data-parsley-length="[13,19]" required>
      <span class="uc-bind-card-word-style">银行卡号由13位或19位数字组成</span>
    </div>

  </div>
  <div class="control-group uc-cm-fund-pwd-notice-div">
    <div class="uc-card-band-option-size">
      <ul class="js-uc-cm-bingCardNotice parsley-errors-list filled font-sm">
      </ul>
    </div>
  </div>
  <div class="uc-bind-card-model-border"></div>
  <div class="text-center">
      <button type="button" class="js-uc-cbCardBinding-check btn btn-pink btn-linear uc-band-card-bind" data-loading-text="绑定中">立刻绑定</button>
  </div>

</form>
