<div class="js-ac-noFundPasswordNoticeBar" style="margin-bottom:5px;">
  <!--<i class="fa fa-exclamation-circle font-md"></i> 请提供最近一次绑定的卡号信息-->
</div>
<div class="text-center uc-bind-card-model-body">
  <div class="control-group uc-bind-card-model-name">开户人姓名：<input type="text" class="js-uc-cmAccountName" style="width:200px;"/></div>
  <div class="uc-bind-card-model-no">&nbsp;&nbsp;&nbsp;&nbsp;银行卡号：<input type="text" class="js-uc-cmCardNo" style="width:200px;"/></div>
</div>
<div class="js-uc-cmValCardInfoNotice"></div>
<div class="uc-bind-card-model-border"></div>
<div class="text-center">
<button type="button" class="js-uc-cmValidateCardInfo btn btn-pink btn-linear" data-type="<%=type%>">确定</button>
  <button type="button" class="js-confirm-reject btn btn-linear" data-dismiss="modal">取消</button>
</div>