<div class="js-uc-cmNoticeInfo-container">
  <div class="alert">
  <div class="js-uc-cm-notice-div  clearfix hidden uc-cm-notice-div">
    <div class="" style="color: #cc0000">温馨提示：</div>
    <div class="uc-cm-notice-msg">
      <span class="js-fc-re-ob-serviceTime uc-cm-notice-msg">1.每个平台账号最多绑定 5 张银行卡。</span></div>
    <div class="uc-cm-notice-msg2">2.为了您的资金安全，建议您点击锁定银行卡，
      银行卡锁定以后不能再增加和删除银行卡，解锁需要联系<a href="#">在线客服</a>并提交资料审核。</div>
    <div class="uc-cm-notice-msg3">3.新绑定的银行卡需要3个小时后才能正常取款。</div>
    </div>
  </div>
</div>
  <div class="js-uc-cmBtnContainer hidden ">
    <div class="dot-divider dot-divider-lg m-top-sm"></div>
    <div>
      <ul class="js-uc-cmCardManage-container binding-container thumbnails">
        <!--<li class="js-uc-cmBindCard-btn">
          <div class="binding-card">
            &lt;!&ndash;<div class="binding-card-bg">&ndash;&gt;
            <div class="js-uc-addCard uc-lockedRectangle" >
                &lt;!&ndash;<div class=" uc-add-sign">+</div>&ndash;&gt;
                <div class="uc-add-mark">+</div>
                <div class="uc-add-words">添加银行卡</div>
            </div>
            &lt;!&ndash;</div>&ndash;&gt;
          </div>
        </li>-->
      </ul>
    </div>
    <div class="dot-divider dot-divider-lg "></div>
    <div class=" margin-md text-center">
      <!--<button type="button" class="js-uc-cmBindCard-btn btn uc-cm-lg-btn  m-right-lg" data-type="addBankCard">增加银行卡-->
      <!--</button>-->
      <button type="button" class="js-uc-cmBindCard-btn uc-cm-notice-add btn btn-pink btn-linear"><i class="fa fa-plus-circle uc-cm-btn-add-sign" aria-hidden="true"></i>增加银行卡</button>
      <button type="button" class="js-uc-cmLockCard-btn uc-cm-notice-lock btn btn-linear"><i class="fa fa-lock uc-cm-btn-unlock-sign" aria-hidden="true"></i>锁定银行卡</button>
    </div>
    <input type="hidden" class="js-uc-cmCardNum" value="">
    <input type="hidden" class="js-uc-pwdToken" value="">
  </div>

  <div class="js-uc-cm-fundPwdSetNotice text-center hidden m-top-md">

    <div class="uc-cm-fund-pwd-png-div"><img src="../misc/card.png"/></div>
    <div class="uc-cm-text-dark">请补充完您的安全信息后再绑卡</div>
    <div class="uc-cm-link-dark">
      资金密码未设置 <a class="js-fc-aHref btn-link text-pleasant" href="#as/pf">点击设置</a>
    </div>
  </div>


