<form action="javascript:void(0);" class="js-uc-personalManage-form form-horizontal uc-personalManage-form">
  <div class="control-group uc-personalManage-div">
    <label class="control-label color-dark ">用户名：</label>
    <div class="controls js-uc-userName">
    </div>
  </div>
  <div class="control-group uc-personalManage-div">
    <label class="control-label color-dark ">性别：</label>
    <div class="controls gender">
      <input type="radio" name="gender" value="1" > <span>男</span>
      <input type="radio" name="gender" value="2"> <span>女</span>
    </div>
  </div>
  <div class="control-group uc-personalManage-div">
    <label class="control-label color-dark ">VIP等级：</label>
    <div class="controls js-vip">
    </div>
  </div>
  <div class="control-group uc-personalManage-div">
    <label class="control-label color-dark ">积分：</label>
    <div class="controls js-integral">
    </div>
  </div>
  <div class="control-group uc-personalManage-div js-uc-eMail hidden">
    <label class="control-label color-dark">邮箱：</label>
    <div class="controls">
    </div>
  </div>
  <div class="control-group uc-personalManage-div">
    <label class="control-label color-dark">QQ：</label>
    <div class="controls">
      <input type="text" class="js-uc-qqNum input4" data-parsley-QQ>
      <span class="help-inline-julien">请输入4-15阿拉伯位数字！</span>
    </div>
  </div>
  <div class="control-group uc-personalManage-div">
    <label class="control-label color-dark">手机号：</label>
    <div class="controls">
      <input type="text" class="js-uc-tel input4" data-parsley-tel>
      <span class="help-inline-julien">请输入正确的11位手机号码！</span>
    </div>
  </div>
  <div class="control-group uc-personalManage-div birthday">
    <label class="control-label color-dark">生日：</label>
    <div class="controls">
      <input type="hidden" class="js-uc-bday input4" data-parsley-bday>
      <select name="bday1" class="js-bday1 input1" style="width: 90px">
        <option value="" selected>请选择</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <span>月</span>
      <select name="bday2" class="js-bday2 input1" style="width: 90px">
        <option value="请选择" selected>请选择</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <span>日</span>
      <span class="help-inline-julien">一旦填写不能修改</span>
    </div>
  </div>

  <div class="control-group uc-personalManage-btn-div">
    <div class="controls">
      <button type="submit" class="js-uc-confirm btn btn-sun btn-linear input4" data-loading-text="保存中">保存</button>
    </div>
  </div>
</form>
