<div class="uc-bock01">
    <div class="uc-info">
        <div class="section">
            <i class="js-editIcons"><span></span></i>
            <dl>
                <dt>HI,<b></b> 下午好!!!!! <span class="fa fa-pencil js-editUName">修改昵称</span></dt>
                <dd>上次登录时间：2016-06-11 10:42:30</dd>
                <dd>上次登录地点：菲律宾 112.21.03.255</dd>
                <dd>注 册 时 间：2016-06-11 10:42:30</dd>
            </dl>
        </div>
        <div class="section">
            <div class="vip-graded">
                <em class="graded-label">您当前VIP等级：</em>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;">
                    </div>
                </div>
                <div class="graded-symbol">
                    <div class="fl">
                        <em class="vviip-gray-icon"></em>
                    </div>
                    <div class="fr">
                        <span class="howmany-need">还需要21365元升级</span><em class="vviip1-icon"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


