<div class="uc-bock01">
	<div class="uc-menu1">
		<a href="#uc/pm" class="sd">个人中心</a>
		<a href="#uc/br">报表中心</a>
		<a href="#">VIP中心</a>
		<a href="#">帮助中心</a>
	</div>
	<div class="uc-info">
		<i class="js-editIcons"><span></span></i>
		<dl>
			<dt>HI,<b></b> 下午好!!!!! <span class="js-editUName">修改昵称</span></dt>
			<dd>上次登录时间：2016-06-11 10:42:30</dd>
			<dd>上次登录地点：菲律宾 112.21.03.255</dd>
			<dd>注  册  时  间：2016-06-11 10:42:30</dd>
		</dl>
		<div>
			<span>您当前VIP等级：VIP5级</span>
			<b>VIP6</b>
		</div>
	</div>
</div>