@charset "UTF-8";
@import "~base/styles/imports";

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background: url(../misc/bg.png) no-repeat center top;
}

.clear {
  clear: both;
}

.help-warp {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
}

.sidebar-h {
  width: 235px;
  min-height: 700px;
  float: left;
  border: 1px solid #ccc;
  background: #fff;
}

.sidebar-h .tit {
  width: 237px;
  padding: 16px 0;
  margin: -1px 0 0 -1px;
  text-align: center;
  background: #9c0404;
}

.sidebar-h .tit img {
  width: 102px;
}

.sidebar-h .menu {
  padding: 0 15px;
}

.sidebar-h .menu>p {
  padding-top: 10px;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
}

.sidebar-h .menu>p img {
  vertical-align: middle;
  margin: 0 5px 5px 0;
}

.sidebar-h .menu li {
  margin: 8px 0;
}

.sidebar-h .menu li a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  width: 100%;
  color: #696969;
}

.sidebar-h .menu li a:hover,
.sidebar-h .menu li a.act {
  background: url(../misc/9.png) no-repeat left center;
}

.sidebar-h .menu li a font {
  display: inline-block;
  text-align: right;
  margin: 0 2px 0 25px;
}

.help-warp .help-con {
  width: 700px;
  float: left;
  min-height: 700px;
  margin-left: 16px;
}

.help-warp .help-hot {
  width: 228px;
  float: right;
  min-height: 700px;
}

.help-server {
  border: 1px solid #ccc;
  background: #fff;
}

.help-server .con-tc {
  height: 37px;
  line-height: 37px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #343434;
}

.help-server-link {
  margin: 20px;
  height: 120px;
}

.help-server-link a {
  float: left;
  line-height: 34px;
  text-align: center;
  width: 25%;
  color: #2d2d2d;
}

.help-server-link a img {
  margin-bottom: 10px;
}

.help-question-wr {
  margin-top: 20px;
  border: 1px solid #ccc;
}

.help-question+.help-question {
  border-top: 1px solid #ccc;
}

.help-question .con-tl {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ccc;
  color: #676767;
  background: #fff;
}

.help-question .con-tl img {
  vertical-align: middle;
  margin: 0 5px 5px 10px;
}

.help-question-list {
  padding: 5px 20px 15px;
  background: #fff;
}

.help-question-f7 {
  background: #f7f7f7;
}

.help-question-list a {
  color: #666666;
  line-height: 30px;
}

.help-question-list font {
  display: inline-block;
  margin-left: 13px;
  color: #cc0000;
  text-decoration: underline;
}

.help-hot {
  border: 1px solid #ccc;
  background: #fff;
}

.help-hot .con-tc {
  height: 37px;
  line-height: 37px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #343434;
}

.hep-hot-list {
  margin: 0 15px;
}

.hep-hot-list a {
  display: block;
  padding: 19px 0;
  line-height: 34px;
  text-align: center;
  color: #2d2d2d;
  border-bottom: 1px solid #ccc;
}

.hep-hot-list a:last-child {
  border: none;
}

.hep-hot-list a img {
  margin-bottom: 10px;
}