@import
"src/base/styles/imports";

.low-multi-select {
  width: 900px;
  height: 320px;
  $bgColor: $gray-color;
  overflow: hidden;

  .pf-select-superior{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #cccccc;
    width: 290px;
    color: #999999;
    font-size: 14px;
    font-family: '微软雅黑';
    position: relative;
    cursor: pointer;

    span{
      padding-left: 24px;
      display: inline-block;
      border-left: 5px solid #990000;
      width: 260px;
    }

    i{
      width: 0;
      height: 0;
      border-width: 4px;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent #666666 transparent;
      position: absolute;
      left: 95px;
      top: 14px;
    }

    &:first-child{
      big{
        font-weight: normal;
        display: inline-block;
        background-color: #e60012;
        color: #fff;
        font-size: 12px;
        padding: 0px 4px;
        border-radius: 8px;
        margin-left: 8px;
        position: absolute;
        line-height: 15px;
        top: 13px;
        left: 104px;
      }

      b{
        display: none;
        font-weight: normal;
        right: 15px;
        position: absolute;
        top: 0px;

        &:hover{
          color:#990000;
        }
      }
    }
  }

  .pf-select-superior-sd{
    &:first-child{
      b{
        display: block;
      }
    }
  }

  .pf-select-superior-sd{
    i{
      border-color: transparent transparent #990000 transparent;
    }
  }

  .pf-select-superior-sd2{
    strong{
      border: 0px;
      width: 8px;
      height: 8px;
      background-color: #f5d57b;
      border-radius: 8px;
      top: 15px;
      left: 15px;
      position: absolute;
    }
  }

  .pf-select-superior-sd3{
    strong{
      background-color: #66cc00;
    }
  }

  .subordinate{
    i{
      border-style: solid dashed dashed dashed;
      border-color: #666666 transparent transparent transparent;
      top: 18px;
    }
    b{
      position: absolute;
      left: 205px;
      top: 0px;
      font-weight: normal;
    }

    &:hover{
      b{
        color: #990000;
      }
    }
  }

  .subordinate-sd{
    i{
      border-color: #990000 transparent transparent transparent;
    }
  }

  .julien-user-list{
    font-family: '微软雅黑';
    font-size: 14px;

    .tree-view {
      height: 345px;
      overflow-y: auto;
      ul{
        li{
          margin: 6px 0px;

          strong{
            display: none;
            font-weight: normal;
            position: absolute;
            right: 30px;
            top: 3px;
            color: #999999;
            display: inline-block;
            padding: 0px 5px;
            cursor: pointer;

            &:hover{
              color:#990000;
            }
          }

          a{
            color: #999999;
            border-radius: 10px;
            margin: 0px 10px;

            span{
              display: inline-block;
              padding-left: 26px;
            }

            b{
              font-weight: normal;
              display: inline-block;
              background-color: #e60012;
              color: #fff;
              font-size: 12px;
              padding: 0px 5px;
              border-radius: 8px;
              margin-left: 8px;
            }
          }
          a:hover{
            border: 1px solid #ccc;
            padding-top: 3px;
            padding-bottom: 3px;
            margin: 0px 9px;
            i{
              width: 0;
              height: 0;
              border-width: 4px;
              border-style:  dashed dashed dashed solid;
              border-color:  transparent transparent transparent #666666;
              position: absolute;
              top: 10px;
              left: 25px;
            }

          }
          a.online{
            color: #66cc00;
          }
          a.sd{
            background-color: #eeeeee;
            i{
              width: 0;
              height: 0;
              border-width: 4px;
              border-style:  dashed dashed dashed solid;
              border-color:  transparent transparent transparent #666666;
              position: absolute;
              top: 10px;
              left: 25px;
            }
          }

          a.sd3{
            i{
              border: 0px;
              width: 8px;
              height: 8px;
              background-color: #f5d57b;
              border-radius: 8px;
              top: 10px;
              left: 22px;
            }
          }

          a.sd2{
            i{
              border: 0px;
              width: 8px;
              height: 8px;
              background-color: #99cc33;
              border-radius: 8px;
              top: 10px;
              left: 22px;
            }
          }
        }
      }   
    }
  }

  .low-multi-select-main {
    width: 330px;
    height: 300px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;

    .pf-select-container {
      height: 270px;
      overflow: auto;
    }
  }

  .pf-input-search-user{
    padding-left: 46px;
    width: 238px;
    height: 25px;
    line-height: 41px;
    font-size: 14px;
    color: #666666;
    border: 0px;
    border-bottom: 1px solid #cccccc;
    background: url(~base/images/julien/26.png) no-repeat 15px 10px;
  }

  .low-multi-search-area {
    margin: 10px 15px;
  }

  .low-multi-select-go-to {
    margin-top: 10px;
    width: 180px;
    height: 300px;
    //background-color: $bgColor;
    display: inline-block;
    text-align: center;
    line-height: 300px;
    vertical-align: top;
    border-left: 1px solid $light-color;
    border-right: 1px solid $light-color;
  }

  .low-multi-selected {
    width: 330px;
    height: 300px;
    padding: 10px;
    //background-color: $bgColor;
    display: inline-block;
    overflow: auto;
  }

  .tree-view {
    >ul li a {
      color: $dark-color;
    }
  }
  .selected-user {
    color: $color-pleasant;
  }

  .selectAll-btn {
    width: 60px;
    display: inline-block;
  }
}

.low-multi-search {
  width: 250px;
  margin-bottom: 10px;
}

.online-tip {
  margin-right: 5px;
  margin-left: -12px;
}

.modal-info-julien{
  .low-multi-select{
    margin: 0px;
    border: 0px;
    width: auto;
    height: auto;
  }

  .nc-ilSend-sendTo-content{
    height: auto;
    margin-top: 86px;
  }
}

.julien-low-multi-selected{
  position: absolute;
  top: 0px;
  left: 315px;
  width: 678px;
  height: 70px;
  font-family: '微软雅黑';
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  overflow-y: auto;

  li{
    list-style: none;
    display: inline-block;
    line-height: 25px;
    color: #666666;
    margin-right: 10px;
    margin-top: 6px;
    padding: 0px 22px 0px 20px;
    border-radius: 12px;
    position: relative;

    &.sd{
      background-color: #e6e6e6;

      b{
        border: 0px;
        width: 8px;
        height: 8px;
        background-color: #f5d57b;
        border-radius: 8px;
        top: 9px;
        left: 8px;
        position: absolute;
      }
    }

    &.sd2{
      b{
        background-color: #66cc00;
      }
    }

    &:hover{
      border: 1px solid #ccc;
      padding: 0px 21px 0px 19px;
      line-height: 23px;

      b{
        top: 8px;
        left: 7px;
      }

      span{
        color: #666666;
        cursor: pointer;
      }

      i{
        color: #666666;
        cursor: pointer;

        &:hover{
          color: #990000;
        }

        &:before{
          font-family: 'Arial';
          content: 'x';
          position: absolute;
          right: 7px;
        }
      }
    }
  }

  h3{
    font-weight: normal;
    font-size: 16px;
    color: #666;
  }
}