<input type="text" class="js-pf-input-search-user pf-input-search-user" placeholder="搜索用户名" />
<div class="js-pf-select-container pf-select-container">
  <div class="js-fc-parent control-group no-m-bottom hidden ">
    <div class="js-pf-select-search-user js-pf-select-superior pf-select-superior" data-id="" data-name="我的上级">
      <span>我的上级</span>
      <i></i>
    </div>
    <input type="hidden" name="parentId" />
  </div>
  <div class="pf-select-superior subordinate js-subordinate">
    <span>我的下级</span>
    <i></i>
    <b>(全选/取消)</b>
  </div>
  <div class="js-pf-jstree julien-user-list"></div>
</div>
<div class="js-pf-search-container hidden"></div>
<div class="julien-low-multi-selected">
  <h3>目前没有选中任何人</h3>
  <ul class="js-selected-container ">
  </ul>
</div>
