@import 'variable.css';

.oa-openAccount {
    .oa-form {
        form input {
            text-align: left;
        }
    }

    .button {
        background: var(--sunshine);
        color: var(--coffee);
    }
}
