<div class="row m-bottom-sm">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">状态：</label>
      <select class="form-control" name="status">
        <option value="0">启用</option>
        <option value="1">禁用</option>
        <option value="-1">全部</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 pull-right form-group">
    <button class="bl-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
      class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
    </button>
    <button class="bl-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
      class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
    </button>
    <button class="js-bl-add-dn btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="button">增加域名
    </button>
  </div>
</div>
