<div class="panel padding-md">
  <form class="js-bl-domainName-form form-horizontal" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">域名名称：</label>
      <div class="col-sm-9">
        <input type="text" class="js-bl-name input-medium form-control" name="name" style="width: 200px;" data-parsley-zhMaxLength="20" data-parsley-someSpecialChar>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">输入url：</label>
      <div class="col-sm-9">
        <input type="text" class="js-bl-url input-medium form-control" name="url" style="width: 200px;" data-parsley-type="url" required>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">备注：</label>
      <div class="col-sm-9">
        <input type="text" class="js-bl-remark input-medium form-control" name="remark" style="width: 200px;" data-parsley-zhMaxLength="20" data-parsley-someSpecialChar>
      </div>
    </div>
  </form>
</div>