@charset "UTF-8";

@import "~base/styles/imports";

body.mmc {
  background: url(smmc-bg.png) no-repeat center top;
  background-position-y: 30px;
}

.js-wrapper {
  width: 100%;
  .global-main.wrapper {
    height: 100%;
    .wrapper-main {
      height: 100%;
      .main-container {
        background: transparent;
        height: 100%;
      }
    }
  }
}

.bc-smmc-div {
  background: transparent;
  height: 215px;
  //margin-bottom: 150px;
  .bc-smmc-jackpot-notice {
    position: absolute;
    width: 1920px;
    margin-left: -460px;
    padding-left: 460px;
    overflow: hidden;

    top: 0;
    font-size: 18px;
    background-color: rgba(148, 4, 6, 0.9);
    color: #fff;
    > ul {

      list-style: none;
      li {
        line-height: 38px;
        span {
          color: #ffff00;
        }
      }
    }
  }
  .bc-smmc-jackpot-notice-height {
    height: 38px;
  }
  .bc-smmc-bg-area {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: -1;
    background-color: #221a1e;
    background-image: url(smmc-bg.png);
    background-repeat: no-repeat;
    background-position: center 82px;
  }
  .bc-smmc-top-space {
    height: 16px;
  }
  .bc-smmc-jake-pool-area {
    height: 234px;
    width: 1200px;
    z-index: -1;
    margin-left: -13px;
    background-color: transparent;
    background-image: url(smmc_jackpot_bg.png);
    background-repeat: no-repeat;
    color: #fff !important;
    margin-left: 50px;
    .bc-smmc-jakePool-total {
      position: relative;
      font-size: 29px;
      left: 495px;
      top: 36px;
      color: #ffff00 !important;
      text-align: left;
      width: 200px;

    }
    .bc-smmc-jakePool-crown {
      position: relative;
      font-size: 29px;
      left: 315px;
      top: 54px;
      display: inline-block;
      text-align: left;
      width: 200px;
    }
    .bc-smmc-jakePool-diamond {
      position: relative;
      font-size: 29px;
      left: 600px;
      top: 54px;
      display: inline-block;
      text-align: left;
      width: 200px;
    }
    .bc-smmc-jakePool-gold {
      position: relative;
      font-size: 29px;
      left: 315px;
      top: 65px;
      display: inline-block;
      text-align: left;
      width: 200px;
    }
    .bc-smmc-jakePool-egg {
      position: relative;
      font-size: 29px;
      left: 600px;
      top: 68px;
      display: inline-block;
      text-align: left;
      width: 200px;
    }
  }

  .mmc-main-bg {
    background: url(smmc_head_bg_light.png) top center no-repeat;
    //background-color: #333;
    //height: 201px;
    //width: 1022px;
    //margin-top: 13px;
    //margin-left: -11px;
    height: 301px;
    width: 1200px;
    margin-top: -55px;
    margin-left: -11px;
  }
  .mmc-main {
    width: 100%;
    height: 218px;
    position: relative;
    //.smmc-light-top {
    //  background: url(smmc_light_bottom.gif) top center no-repeat;
    //  height: 20px;
    //  width: 656px;
    //  left: 300px;
    //}
    .bc-smmc-experience-bar-bg {
      background-color: #2b1f1f;
      width: 100px;
      position: absolute;
      bottom: 35px;
      height: 10px;
      border-radius: 10px;
      left: 89px;
      .bc-smmc-experience-bar-fg {
        background-color: $color-sunshine;
        width: 50px;
        max-width: 100px;
        position: absolute;
        height: 10px;
        border-radius: 10px;
      }
    }
    .bc-smmc-rule {
      width: 100px;
      position: absolute;
      bottom: -45px;
      left: 90px;
      > a {
        color: #f6b06c;
        text-decoration: underline;
      }
    }
    .bc-smmc-music {
      position: absolute;
      bottom: 35px;
      left: 281px;
      > span {
        color: #fff;
      }
    }
  }
  .mmc-num-mask {
    background: url(num_mask.png) 0px 0px no-repeat;
    height: 184px;
    width: 740px;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -370px;
    z-index: 9;
  }
  .mmc-num-box-div {
    //background:url(./num_box.gif) 0px 0px no-repeat;
    height: 154px;
    width: 474px;
    position: absolute;
    left: 194px;
    top: 21px;
  }
  .mmc-num-box {
    height: 116px;
    width: 600px;
    position: absolute;
    left: 235px;
    top: 120px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    .smmc-num-wrapper {
      float: left;
    }
    .bc-smmc-num-win-icon {
      background: url(smmc_win_bg.png) no-repeat;
      widht: 100px;
      height: 116px;
      margin-left: 2px;
    }
    .mmc-num {
      background: url(num.png) top center repeat-y;
      width: 100px;
      height: 116px;
      //margin: -3px 0 -6px 44px;
      margin-left: 6px;
    }

    .mmc-num-stop {
      width: 100px;
      height: 116px;
      float: left;
      //margin: 20px 0 0px 0px;
      color: #c21d15;
      font-size: 42px;
      font-weight: bold;
    }
  }

  .bc-mmc-open-history-turn-page {
    position: absolute;
    right: 264px;
    width: 27px;
    height: 58px;
    cursor: pointer;
  }
  .bc-mmc-open-history-turn-page-up {
    top: 197px;
    //background-color: blue;
    left: 842px;
  }
  .bc-mmc-open-history-turn-page-down {
    top: 109px;
    //background-color: red;
    left: 842px;
  }
  .bc-mmc-open-history {
    //background:url(history-bg.png) 0px 0px no-repeat;
    overflow: hidden;
    position: absolute;
    left: 900px;
    top: 116px;
    height: 108px;
    width: 190px;
    font-size: 0px;
    .bc-mmc-open-history-div {
      position: absolute;

      .bc-mmc-open-history-num {
        font-size: 0px;
        margin-left: 0px;
        position: relative;
        span {
          display: inline-block;
          color: #c6c6c8;
          line-height: 36px;
          font-size: 18px;
          margin: 0 16px 0 7px;
          width: 15px;
        }
      }

    }
    .bc-mmc-open-history-num-mask1 {
      position: absolute;
      top: 36px;
      width: 149px;
      height: 36px;
      //background-color: rgba(0,0,0,0.2);
      //z-index: 1;
      //border-radius: 8px;
    }
    .bc-mmc-open-history-num-mask2 {
      position: absolute;
      top: 72px;
      width: 149px;
      height: 36px;
      //background-color: rgba(0,0,0,0.2);
      //z-index: 1;
      //border-radius: 8px
    }
  }
  .bc-mmc-more-history {
    position: absolute;
    right: 158px;
    top: 220px;
    color: #fff;
    height: 25px;
    width: 79px;
    a {
      width: 12px;
      height: 64px;
      color: #fff;
    }
  }
  .mmc-bc-start {
    background: url(smmc_drawbar_up.png) 0px 0px no-repeat;
    width: 59px;
    height: 130px;
    position: absolute;
    right: 11px;
    bottom: -30px;
    margin: 0 auto;
    cursor: pointer;
    clear: both;
    &.active {
      background: url(smmc_drawbar_down.png) 0px 0px no-repeat;
    }
  }

  .bc-main-area-wrapper {
    //background-color: #333;
    width: 1200px;
    margin-left: -11px;

    .bc-main-area {
      background-color: #fff;
      width: 1170px;
      border: 1px solid #c2c2c2;
      min-height: 0px;
      overflow: hidden;
      margin: 15px auto;
      .bc-first-title {
        height: 49px;
        line-height: 49px;
      }
    }

  }
  .bc-smmc-main-area {
    height: 0px;
    border-bottom: 2px solid #222;
  }

  .bc-rules {
    border: 1px solid #ffba00;
    border-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    .bc-basic-rules {
      float: left;
      width: 818px;
      li {
        width: 12.5%;
        margin-left: 0px;
        div {
          width: 100% !important;
        }
      }
    }
    .bc-play-toggle {
      width: 120px;
      float: right;
      position: relative;
      display: inline-block;
    }
  }
  .bc-play-section {
    border: 0px;
    height: 88px;
  }
  .bc-advance-rules {
    padding-top: 10px;
    .bc-advance-rules-container {
      padding-left: 38px;
      padding-top: 5px;
      .custom-radio {
        margin-right: 4px;
      }
    }
  }

  .bc-play-brief {
    padding-left: 38px;
  }

  .bc-play-container {
    height: 396px;
    border: 1px;
    .bc-play-area.loaded {
      height: 256px;
      width: 1180px;
      padding-top: 13px;
      //border: 1px solid #c2c2c2;
      .bc-playArea-items {
        padding-left: 18px;

        .bc-select-item {
          margin-right: 16px;
          .tab {
            //border: 1px solid #4e4e4e;
          }
          .active {
            //border: 1px solid #ffba00;
          }
        }
        .tab-toolbar {
          //margin-bottom: 13px;
          //margin-left: 90px;

        }
        .tab-toolbar .tab-group {
          margin-left: 78px;
        }

      }

      .bc-textarea-main {
        height: 205px;
      }

      .js-bc-select-op {
        background-color: #fff;
      }

      .bc-input-area {
        margin-left: 30px;
        width: 796px;
        height: 240px;
        border: 1px solid #c2c2c2;
      }
      .bc-optional-main {
        margin-left: 0px;
      }
      .bc-input-opration-container {
        width: 261px;
        border: 1px solid #c2c2c2;
        border-left: 0;
        height: 240px;
        display: inline-block;
        padding-left: 20px;
        button {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
      //input

    }

    .bc-play-area.loaded.middle {
      .bc-optional-main {
        margin-left: 35px;
      }
    }
  }

  .bc-statics-area {
    //border: 0;
    //width: 1140px;
    //margin-top: -145px;
    //margin-left: 3px;
    //border: 1px solid lightgrey;
    border: 0;
    width: 1140px;
    float: left;
    margin-top: -20px;
    margin-left: 0px;
    border: 1px solid lightgrey;
    .bc-result-container {
      margin-left: 41px;
      margin-bottom: 11px;

    }
  }

  .bc-mmc-selected-area {
    height: 178px;
    width: 1200px;
    margin-left: -11px;
    margin-bottom: 12px;
    /* background: -webkit-linear-gradient(top, #333, #5d1e1e); */
    /* background: linear-gradient(to bottom, #333, #5d1e1e); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff5d1e1e', GradientType=0);
    color: #fff;
    position: relative;
    background-color: #484848;
    //margin-top: 70px;
    .bc-lottery-add {

      text-align: center;
      width: 100%;
      display: block;
      .bc-lottery-add-btn-div {
        margin: -21px auto 0;
        width: 180px;
        //border: 3px solid #efefef;
        border-radius: 10px;
        //background-color: #efefef;
        z-index: 1;
        height: 36px;
        .bc-mmc-btn-lottery-add {
          position: relative;
          margin-top: -100px;
          width: 180px;
          height: 48px;
          border: 1px solid #b51810;
          background-color: #b51810;
          margin-left: 0px;

        }

        .bc-mmc-lottery-time-show {
          background-color: #f2f0f0;
          color: #b51810;
          position: relative;
          margin: -38px 0 0 0;
          width: 180px;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 500;
          line-height: 38px;
          z-index: 0;
          .bc-mmc-bet-times-num {
            font-size: 16px;
            font-weight: 600;
          }
        }
        .bc-mmc-free-game-lottery-time-show {
          position: relative;
          width: 700px;
          height: 50px;
          font-size: 22px;
          line-height: 50px;
          border: 3px solid #fff;
          background: linear-gradient(to bottom, #e6635b, #c90803);
          border-radius: 20px;
          margin-left: -270px;
          margin-top: -48px;
          z-index: 2;
        }
      }
    }

    .bc-lottery-preview {
      position: relative;
      background-color: #434343;

      width: 1100px;
      height: 92px;

      margin: 27px auto 13px auto;
      border-right: 0;
      .bc-mmc-result-win {
        background-color: #cd3301;
        border: 2px solid #252525;
        position: fixed;
        margin: -80px 0 0 330px;
        min-width: 225px;
        text-align: center;
        height: 38px;
        padding: 0 10px 0 80px;
        span {
          color: #fff;
          font-size: 14px;
          line-height: 38px;
        }
        .bc-mmc-result-win-gold {
          background: url('gold_coin.png') no-repeat;
          width: 122px;
          height: 39px;
          position: relative;
          margin: -36px 0 0 -102px;
        }
      }
      .bc-mmc-result-total {
        position: absolute;
        background: url('mmc_mask.png') no-repeat;
        width: 1100px;
        height: 352px;
        margin: -250px 0 0 -11px;
        z-index: 1;

        .bc-mmc-result-win-total {
          background: url('mmc_win_end.png') no-repeat;
          position: absolute;
          width: 469px;
          height: 56px;
          margin: 52px 0 0 271px;
          padding: 143px 0 0 0;
          text-align: center;
          z-index: 100;
          span {
            position: relative;
            color: #c21d15;
            font-size: 18px;
            .bc-mmc-result-win-total-amount {
              color: #c21d15;
              font-size: 30px;
              font-weight: 600;
            }
          }
        }
        .bc-mmc-result-lost-total {
          background: url('mmc_lost.png') no-repeat;
          position: fixed;
          width: 469px;
          height: 56px;
          margin: -34px 0 0 271px;
          padding: 143px 0 0 0;
          text-align: center;
          z-index:100;
        }
      }

      .bc-mmc-link-bet-record {
        position: absolute;
        right: 10px;
        top: -28px;
        a {
          color: #fff;
        }
      }
      .bc-betting-preview-detail {
        color: #fff;

      }
      td {
        border: 0;
      }
      .icon-block {
        background-color: #fff;
        &:before {
          color: #c21d15;
        }
      }
      .bc-mmc-gold-coin-win {
        background: url(gold_coin_win.png) no-repeat;
        width: 30px;
        height: 16px;
        margin-left: -29px;
        margin-right: 13px;
        padding-left: 16px;
      }

      .bc-mmc-result-num {
        display: inline-block;
        line-height: 15px;
        height: 15px;
        width: 15px;
        border-radius: 100px;
        border: 1px solid #fff;
        background: #fff;
        color: #b51810;
        margin-left: 8px;
        text-align: center;
      }
    }
    .bc-mmc-brief-footer {
      height: 28px;

    }

    .bc-mmc-continue-lottery-select {
      margin-left: 30px;

      .bc-mmc-continue-lottery-times {
        max-width: 70px;
        font-size: 0;
        input {
          display: inline-block !important;
          background-color: #fff; //
          color: #000;
          border: 1px solid #fff;
          height: 20px;
          padding: 4px 5px;
          width: 30px;
          font-size: 12px;
        }
        button {
          width: 23px;
          height: 20px;
          background-color: #fff;
          border: 0px;
          border-radius: 0px;
          padding: 10px 5px 0 5px;
          font-size: 12px;
        }
        .dropdown-menu {
          margin-top: 0px;
          border-radius: 0px;
          font-size: 12px;
          width: 51px;
          //background-color: #fff;
          bottom: 100%;
          top: inherit;
          color: #fff; //000
          left: -30px;
          border: 1px solid #fff; //c2c2c2
          border-bottom: none;
          box-shadow: none;
          li {
            background-color: #fff;
            //background-color: #fff;
            font-size: 12px;
            color: #000;
            &:hover {
              background-color: #fff; //#e8675d;
              color: #000;
            }

          }
        }
      }
      .bc-mmc-continue-lottery-times-win-stop {
        margin-left: 20px;
        input {
          margin-top: 0px;
          width: 13px;
          height: 13px;
        }
      }

    }

    .bc-total-brief {
      line-height: 23px;
      margin-right: 30px;
      height: 20px;
      border: 0px;
      .bc-mmc-total-text-italic {
        font-size: 20px;
        //font-style: italic;
        color: #fff;
      }
    }

    .bc-mmc-reSelect-btn {
      color: #b51810;
      font-size: 14px;
      //text-decoration: underline;
      float: right;
      margin-right: 50px;
      cursor: pointer;
      border-radius: 6px;
      background-color: #fbdc31;
      padding: 3px 18px;
      letter-spacing: 2px;
      font-weight: 700;
    }

    .bc-mmc-lottery-confirm-div1 {
      text-align: center;
      width: 100%;
      display: block;
      margin-top: -29px;
      .bc-mmc-lottery-confirm-div2 {
        margin: 0px auto;
        width: 180px;
        border: 0px solid #b51810;
        border-top: 0px;
        border-radius: 0px;
        z-index: 1;
        .bc-mmc-lottery-confirm {
          width: 178px;
          height: 36px;
          border: 1px solid #f88131;
          background-color: #f88131;
          margin-left: 0px;
          color: #FFF;
          font-size: 23px;
        }
      }
    }

  }

}

//宝箱样式
.bc-smmc-treasure-modal {
  width: 795px !important;
  margin-left: -482px !important;
  padding-top: 38px;

  .modal-body {
    background-color: transparent;
  }

  .bc-smmc-treasure-chest {
    background: url(smmc_treasure.png) no-repeat;
    width: 765px;
    height: 578px;
    margin-left: 100px;
    text-align: center;
    .bc-smmc-treasure-button {
      position: relative;
      top: 269px;
      right: -200px;
      width: 354px;
      height: 43px;
      /* border: 3px solid #fff; */
      border-radius: 21px;
      color: #fff;
      > span {
        font-size: 18px;
        line-height: 18px;
      }
      .bc-smmc-treasure-amount {
        font-size: 23px;
        color: #fff000;
        line-height: 23px;
      }
    }

  }
}


.modal-backdrop.fade.in {
  opacity: 0.5;
}

//freegame样式
.bc-smmc-free-game-modal {
  width: 1000px !important;
  margin-left: -500px !important;
  padding-top: 38px;
  text-align: center;
  .modal-body {
    background-color: transparent;
  }
  .bc-smmc-free-game {
    width: 970px;
    height: 578px;
    text-align: center;
    .bc-smmc-free-game-head {
      background-color: rgba(0, 0, 0, 0.7);
      width: 321px;
      margin: 0 auto;
      height: 85px;
      border-radius: 42px;
      color: #fff;
      font-size: 23px;
      .bc-smmc-free-game-title1 {
        line-height: 50px;
      }
      .bc-smmc-free-game-title2 {
        line-height: 26px;
        color: #cc0000;
        font-size: 28px;
      }
    }
    .bc-smmc-free-game-play {
      //margin: 32px 0;
      background: url(free_game_title.png) no-repeat ;
      height: 100px;
      margin-left: 190px;
      margin-bottom: 70px;
      margin-top: 50px;
      > span {
        padding: 14px 10px;
        line-height: 38px;
        font-size: 18px;
        color: #fff;
        border-radius: 19px;
        margin-top: 25px;
        margin-left: -370px;
        position: absolute;
      }
    }
    .bc-smmc-free-game-mode {
      width: 246px;
      height: 306px;
      display: inline-block;
      margin: 0 37px;
      .bc-smmc-free-game-mode-content1 {
        margin: 21px auto;
        font-size: 19px;
      }
      .bc-smmc-free-game-mode-content2 {
        margin: 65px auto;
        font-size: 19px;
        .bc-smmc-free-game-mode-times {
          font-size: 15px;
          margin-top: 15px;
          margin-left: -65px;
          position: absolute;
          font-weight:bold;
        }
      }
    }
    .bc-smmc-free-game-yuan {
      background: url(free_game_gold.png) no-repeat;
    }
    .bc-smmc-free-game-jiao {
      background: url(free_game_gold.png) no-repeat;
    }
    .bc-smmc-free-game-fen {
      background: url(free_game_bag.png) no-repeat;
    }
    .bc-smmc-free-game-li {
      background: url(free_game_coin.png) no-repeat;
    }

  }
}

.bc-smmc-congratulation-modal {
  width: 1000px !important;
  margin-left: -500px !important;;
  padding-top: 38px !important;;
  text-align: center;

  .modal-body {
    background-color: transparent;

  }

  .bc-smmc-congratulation {
    background: url(congratulation.png) no-repeat;
    width: 564px;
    height: 508px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    //freegame
    .bc-smmc-free-game-total-title {
      font-size: 22px;
      color: #fff;
      position: absolute;
      bottom: 192px;
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }
    .bc-smmc-free-game-total-prize {
      background: linear-gradient(to bottom, #e8675f, #cd0505);
      position: absolute;
      bottom: 90px;
      left: 100px;
      text-align: center;
      margin: 0 auto;
      height: 50px;
      width: 360px;
      border: 2px solid #fff;
      border-radius: 20px;
      color: #fff;
      font-size: 18px;
      > span {
        font-size: 30px;
        color: #fefe00;
        line-height: 45px;
      }
    }
    //jackpot
    .bc-smmc-jackpot-title {
      position: absolute;
      bottom: 190px;
      font-size: 28px;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      width: 100%;
    }

  }
}

.bc-smmc-jackpot-modal {
  width: 1000px !important;;
  margin-left: -500px !important;;
  padding-top: 38px !important;;
  text-align: center;
  .modal-body {
    background-color: transparent;
  }
  .bc-smmc-jackpot {
    width: 970px;
    height: 578px;
    text-align: center;
    .bc-smmc-jackpot-head {
      //background-color: rgba(0, 0, 0, 0.7);
      background: url(jackpot_entry.png) no-repeat;
      width: 521px;
      margin: 0 auto;
      height: 108px;
      //border-radius: 42px;
      color: #fff;
      font-size: 23px;
      .bc-smmc-jackpot-title1 {
        line-height: 50px;
      }
      .bc-smmc-jackpot-title2 {
        line-height: 26px;
        color: #cc0000;
        font-size: 28px;
      }
    }

    .bc-smmc-jackpot-mode {

      width: 130px;
      height: 130px;
      display: inline-block;
      margin: 15px 72px;
      vertical-align: middle;
      .bc-smmc-jackpot-mode-wrapper {
        /*position: absolute;*/
      }
      .bc-smmc-jackpot-mode-item-unknown {
        background: url(jackpot_unknown.png) no-repeat;
        border-radius: 71px;
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }
      .bc-smmc-jackpot-mode-item-wrapper {
        top: 0;
        background: url(jackpot_result_bg.png) no-repeat;
        border-radius: 60px;
        height: 150px;
        width: 150px;
        z-index: 1;
        display: none;
        margin: 0 auto;
      }
      .bc-smmc-jackpot-mode-item {
        background-color: #fff;
        z-index: 1;
        width: 130px;
        height: 130px;
        border-radius: 60px;

      }
      .bc-smmc-jackpot-mode-crown {
        background: url(jackpot_crown.png) no-repeat;
        margin-left: 10px;
      }
      .bc-smmc-jackpot-mode-diamond {
        background: url(jackpot_diamond.png) no-repeat;
        margin-left: 10px;
      }
      .bc-smmc-jackpot-mode-gold {
        background: url(jackpot_gold.png) no-repeat;
        margin-left: 10px;
      }
      .bc-smmc-jackpot-mode-egg {
        background: url(jackpot_egg.png) no-repeat;
        margin-left: 10px;
      }
    }
  }
}

.bc-smmc-jackpot-win-modal {
  width: 1000px !important;
  margin-left: -500px !important;
  padding-top: 38px;
  text-align: center;
  .modal-body {
    background-color: transparent;
  }
  .bc-smmc-jackpot {
    background: url(jackpot_win.png) no-repeat;
    width: 965px;
    height: 572px;
    margin: 0 135px;
    text-align: center;
    position: relative;
    .bc-smmc-jackpot-title {
      font-size: 22px;
      color: #fff;
      width: 100%;
      margin: 275px -130px;
      position: absolute;

    }

    .bc-smmc-free-game-total-prize {
      //margin: 0 auto;
      //position: absolute;
      //bottom: 0px;
      //background: linear-gradient(to bottom, #e8675f, #cd0505);
      //height: 50px;
      //width: 360px;
      //left: 288px;
      //border: 2px solid #fff;
      //border-radius: 20px;
      //color: #fff;
      //font-size: 18px;
      //> span {
      //  font-size: 30px;
      //  color: #fefe00;
      //}
      margin: 215px -123px;
      font-family: "Microsoft YaHei" !important;
      color: #cc1f34;
      font-weight: bold;
      position: absolute;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8675f', endColorstr='#ffcd0505', GradientType=0);
      height: 50px;
      width: 360px;
      left: 288px;
      font-size: 27px;
    }
  }

}

.bc-smmc-jackpot-rule-modal {
  width: 800px !important;;
  height: 420px;
  padding-top: 50px;
  text-align: center;
  margin-left: -400px !important;
  .modal-body {
    padding: 0;
  }
  .bc-smmc-jackpot-rule {
    .bc-smmc-jackpot-rule-head {
      background: #920403;
      height: 40px;
      .bc-smmc-jackpot-rule-title {
        font-size: 18px;
        line-height: 38px;
        color: #fff;
      }
    }
    .bc-smmc-jackpot-rule-body {
      margin: 25px 30px 20px;
      border: 1px solid #999;
      width: 740px;

      .bc-smmc-jackpot-rule-table-tr {

        width: 740px;
        height: 60px;
        font-size: 15px;
        color: #000;

        .bc-smmc-jackpot-rule-icon-crown {
          display: inline-block;
          background: url(jakepot_rule_crown.png) no-repeat;
          width: 75px;
          height: 44px;
        }
        .bc-smmc-jackpot-rule-icon-diamond {
          display: inline-block;
          background: url(jakepot_rule_diamond.png) no-repeat;
          width: 75px;
          height: 44px;
        }
        .bc-smmc-jackpot-rule-icon-gold {
          display: inline-block;
          background: url(jakepot_rule_gold.png) no-repeat;
          width: 75px;
          height: 45px;
        }
        .bc-smmc-jackpot-rule-icon-egg {
          display: inline-block;
          background: url(jakepot_rule_egg.png) no-repeat;
          width: 75px;
          height: 47px;
        }
      }
      .bc-smmc-jackpot-rule-table-tr1 {
        background-color: #999;
        height: 40px;
        font-size: 15px;
        color: #fff;
        .bc-smmc-jackpot-rule-table-td1 {
          width: 15%;
        }
        .bc-smmc-jackpot-rule-table-td2 {
          width: 15%;
        }
        .bc-smmc-jackpot-rule-table-td3 {
          width: 45%;
        }
        .bc-smmc-jackpot-rule-table-td4 {
          width: 25%;
        }
      }
      .bc-smmc-jackpot-rule-table-tr-border {
        border-bottom: 1px solid #999;
      }
    }

    .bc-smmc-jackpot-rule-foot {
      width: 100%;
      height: 38px;
      margin-bottom: 20px;
      text-align: center;
      > button {
        background-color: #b00606;
        width: 180px;
        height: 38px;
        border-radius: 4px;
        font-size: 15px;
      }
    }

  }
}

.pic-rules {
  background: url(rules.png) no-repeat;
  width: 673px;
  height: 277px;
  margin-left: 55px;
}

.free-game-amount-cog {
  font-size: 30px;color: yellow;
}

.pic-smmc-lights {
  background: url(smmc_lights.gif) no-repeat;
  width: 575px;
  height: 150px;
  margin-left: 205px;
  margin-top: 105px;
  float: left;
  z-index: -2;
}

.pic-smmc-lights1 {
  background: url(smmc_lights.gif) no-repeat;
  width: 575px;
  height: 150px;
  margin-left: 192px;
  margin-top: 19px;
  float: left;
  z-index: -2;
}
