@charset "UTF-8";
@import
"~base/styles/imports";

.firstLoginUpdatePasswd {
  font-family: '微软雅黑';

  dl, dt, dd {
    padding: 0px;
    margin: 0px;
  }

  .mask {
    position: fixed;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 101;
    margin-top: -50px;
  }
  .window2 {
    width: 578px;
    height: 297px;
    margin: 15% auto 0 auto;
    background-color: #fff;
    border: 2px solid #474747;
    border-radius: 10px;
    padding: 8px;

    .title {
      height: 23px;
      padding: 0px 10px 0px 2px;
      border-bottom: 1px solid $gray-color;
      font-size: 14px;
      //color: #fff;
      line-height: 14px;
      border-radius: 10px 10px 0 0;
    }

    .line1 {
      height: 62px;
      line-height: 80px;
      text-align: center;
      color: #990000;
      font-size: 18px;
    }

    .line2 {
      color: #333333;
      font-size: 14px;
      text-align: center;
      margin-bottom: 30px;

      span {
        color: #999999;
        line-height: 40px;
      }
      a {
        color: #0066cc;
        text-decoration: underline;
      }
    }

    .fl-up-operation{
      height: 78px;
      line-height: 78px;
    }

    .line3 {
      height: 60px;
      border-top: 1px solid #e2e2e2;
      padding: 18px ;
      text-align: center;
      margin-top: 15px;

      //a {
      //  display: inline-block;
      //  background-color: #cc0000;
      //  height: 30px;
      //  width: 100px;
      //  color: #fff;
      //  font-size: 16px;
      //  border: 0px;
      //  margin-top: 20px;
      //  line-height: 30px;
      //}
    }

  }

  .fl-up-shadow{
    background: url(first-login-shadow.png) no-repeat;
    width: 604px;
    height: 13px;
    margin: 0 auto;
  }

  .window {
    width: 878px;
    height: 520px;
    margin: 15% auto 0 auto;
    //background: url(bg.jpg) no-repeat right bottom #fff;
    background-color: #fff;
    border: 2px solid #474747;
    border-radius: 10px;
    padding: 8px;

    .title {
      height: 23px;
      padding: 0px 10px 0px 2px;
      border-bottom: 1px solid $gray-color;
      font-size: 14px;
      //color: #fff;
      line-height: 14px;
      border-radius: 10px 10px 0 0;
      //background-image: -webkit-linear-gradient(270deg, #3180c5, #be2a2a);
      //background-image: linear-gradient(270deg, #3180c5, #be2a2a);

    }

    .line1 {
      height: 70px;
      line-height: 76px;
      //border-bottom: 1px solid #e2e2e2;
      margin: 0px 20px;
      font-size: 23px;
      color: #990000;
      text-align: center;
    }
    .fl-up-title-2{
      color: #686868;
      font-size: 17px;
      text-align: center;
      margin-bottom: 38px;
    }


    .line2 {
      padding-top: 20px;
      height: 268px;
      color: #666666;
      border-bottom: 1px solid $gray-color;

      input {
        color: #bfbfbf;
        border: 1px solid #ccc;
        height: 16px;
        width: 186px;
        border-radius: 5px;
        font-size: 14px;
        background-color: #fff;
      }

      dl {
        margin-left: 100px;
        margin-bottom: 22px;
        .fl-up-user-uName{
          line-height: 28px;
        }

        dt {
          height: 28px;
          line-height: 28px;
          width: 168px;
          float: left;
          text-align: right;
          //margin-right: 18px;
          font-size: 14px;
          font-weight: initial;
        }
        dd {
          float: left;
          text-align: left;
          width: 500px;
        }

        &:after {
          clear: both;
          content: '';
          display: block;
        }
      }
    }

    .line3 {
      height: 70px;

      margin: 0px 20px;
      text-align: center;

      button {
        background-color: #cc0000;
        height: 30px;
        width: 100px;
        color: #fff;
        font-size: 16px;
        border: 0px;
        margin-top: 16px;
      }
    }
    .fl-up-security-grade{
      height: 68px;
      position: relative;
      margin-top: -18px;
    }

    .passwdSafetyTips {
      padding-left: 268px;
      color: #999999;
      text-align: left;


      span {
        display: inline-block;
        width: 69px;
        height: 20px;
        margin: 0px;
        border: 1px solid #fff;
        background-color: #e7e7e7;
        float: left;
        font-size: 12px;
        text-align: center;
        color: #fff;
      }

      p {
        clear: both;
        font-size: 12px;
      }

      span.s1 {
        background-color: #ff6600;
      }
      span.s2 {
        background-color: #ff9900;
      }
      span.s3 {
        background-color: #339900;
      }

      p.s1 {
        padding-top: 5px;
        color: #ff6600;
      }
      p.s2 {
        color: #ff9900;
      }
      p.s3 {
        color: #339900;
      }

      b {
        margin-left: 10px;
        color: #fff;
        height: 20px;
        width: 20px;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        border-radius: 2px;
      }

      b.s1 {
        background-color: #ff6600;
      }
      b.s2 {
        background-color: #ff9900;
      }
      b.s3 {
        background-color: #99cc33;
      }
    }

    .errorTips {
      color: #cc0000;
      text-align: center;
    }
  }
}