<div class='js-firstLoginUpdatePasswd firstLoginUpdatePasswd'>
	<div class="mask">
		<div class="window js-window">
			<div class="title">
				首次登陆 <i class="js-close"></i>
			</div>
			<div class="line1">
				您好，欢迎首次登录平台，为了您的账户安全，建议您不定期修改登录密码。
			</div>
			<div class="line2">
				<dl>
					<dt>新登录密码：</dt>
					<dd>
						<input class="js-loginPwd" placeholder="输入新登录密码" type="password">
					</dd>
				</dl>
				<div class="js-passwdSafetyTips passwdSafetyTips hidden ">
					<div class="passwdSafetyTips-pic">
			    <span>弱</span> <span>中</span> <span>强</span>
					</div>
					<div class="passwdSafetyTips-des">
			    <p>连续字符密码易被破解，请用多组合的密码</p></div>
			  </div>
				<dl>
					<dt>确认新登录密码：</dt>
					<dd>
						<input class="js-loginPwd2" placeholder="再次输入新登录密码" type="password">
					</dd>
				</dl>
				 <div class="js-tip errorTips hidden"></div>
			</div>
			<div class="line3">
				<button type="button" class="js-affirm" data-loading-text="提交中">确认</button>
			</div>
		</div>
		<div class="window2 js-window2 hidden ">
			<div class="title">
				温馨提示 <i class="js-close2"></i>
			</div>
			<div class="line1">
				恭喜您登陆密码设置成功！
			</div>
			<div class="line2">
				请您牢记您的登陆密码，为了您的账户和资金安全，请您切勿向他人透露您的密码信息。<br>
				<span>现在您可以操作</span> <a href="login.html">重新登录</a>
			</div>
			<div class="line3">
				<a href="login.html">确认</a>
			</div>
		</div>
	</div>
</div>