@charset "UTF-8";

@import
"~base/styles/imports";

.ad-agreement-detail {
  border: 1px solid $table-border-color;
  margin-bottom: 12px;
  .portlet-header {
    padding: 5px 10px;
    line-height: 20px;
    .portlet-title {
      line-height: 20px;
      font-size: 13px;
    }

  }
  .portlet-body {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.ac-dividend {
  margin: 10px;
}

.ac-effect-date {
  position: absolute;
  top: 10px;
  right: 15px;
}

.ac-agreement-top {
  background-color: #f1e1e0;
  padding: 20px 10px;
  margin-bottom: 16px;
  font-size: $font-sm;
}

.ac-countdown {
  margin-top: -5px;
}
.ac-countdown-inner {
  width: 220px;
}

.ac-agreement-content {
  .portlet-body {
    height: 100px;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 0;
  }
  .pre {
    line-height: 28px;
  }
}

.ac-agreement-terms {
  .portlet-body {
    height: 225px;
    overflow: auto;
    box-sizing: border-box;
  }
}

.ac-statistic {
  .portlet-header {
    position: relative;
  }
  .ad-btn-detail {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 3px;
    line-height: 20px;
    background-color: #0d787c;
    cursor: pointer;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    text-align: center;

    .divider {
    }

    li {
      a {
        text-decoration: underline;
      }
      &.active {
        a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  .ac-statics-detail {
    padding: 0;
    border-top: none;
    text-align: center;

    > div {
      width: 23%;
      height: 160px;
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      float: left;
      text-align: center;
      padding: 20px 0;
      &.last {
        border-right: 0;
        width: 31%;
      }
    }
    .icon {
      width: 81px;
      height: 81px;
      margin: 0 auto 10px;
    }
  }

  .ac-total {
    .icon {
      background: url('total.png');
    }
  }

  .ac-total-statistic {
    .icon {
      background: url('statistic.png');
    }
  }

  .ac-rate {
    .icon {
      background: url('rate.png');
    }
  }

  .ac-money {
    .icon {
      background: url('money.png');
    }
  }

  //statistic
  .ac-status {
    position: absolute;
    right: 5px;
    top: 5px;
    color: $color-pleasant;
    .sfa-divid-grant {
      vertical-align: middle;
    }
  }
}

//first level
.ad-first-level {
  .ac-agreement-terms {
    .portlet-body {
      height: 120px;
    }
  }
}

.ac-dm {
  .dot-divider {
    margin-bottom: 12px;
  }

  .gap{
    margin: 0px;
  }

  .bc-report-table{
    width: auto;
  }

  span.a{
    text-decoration: underline;
    cursor: pointer;
  }

  span.dm-table-update{
    color: #cfa945;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
  }

  span.dm-table-off{
    color: #cc0000;
    text-decoration: underline;
    cursor: pointer;
  }

  .julien-btn-group-top{
    position: absolute;
    top: 148px;

    button{
      background-color: #cc0000;
      padding: 5px 12px;
      color: #fff;
      border: 0px;
      outline: none;
    }
  }
}

//topLevel
.ac-topLevel {
  margin: 10px 15px 0;
  position: relative;

  .ac-add-user {
    position: absolute;
    top: 2px;
    right: 15px;
  }

  .ac-low-level-top {
    .portlet {
      margin-bottom: 10px;
    }
    .portlet-title {
      font-size: 14px;
    }
    .portlet-body {
      background: #d2e7e8;
      height: 215px;
      overflow: auto;
    }
  }

  .ac-low-level-overview {
    width: 45%;
    display: inline-block;
    float: left;

    table {
      width: 100%;
      tbody {
        td {
          text-indent: 55px;
        }
      }
    }
  }
  .ac-low-level-rule {
    display: inline-block;
    width: 53%;
    float: right;
  }



  .ac-effect-date {
    top: -40px;
  }

  .ac-agreement-content {
    .portlet-body {
      height: 90px;
    }
  }
  .ad-first-level{
    .ac-agreement-terms {
      .portlet-body {
        height: 110px;
      }
    }
  }
  .ac-statistic {
    .ac-statics-detail {
      > div {
        height: 150px;
      }
    }
  }
}

.ac-break-off {
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 110px;
  }
}

.ac-signed-form {
  .control-group {
    margin-bottom: 10px;
  }
  textarea {
    width: 600px;
    height: 100px;
    resize: none;
  }
}
.ac-verify-form {
  input[readonly], textarea[readonly] {
    border-style: dashed;
  }
}
.ac-official {
  white-space: pre;
  height: 500px;
  overflow: auto;
  word-wrap: break-word;
  line-height: 30px;
}


.julien-dm{
  font-family: '微软雅黑';

  .ac-statics-text{
    display: inline-block;
  }

  .julien-fh-block1{
    background: url(./kuang1.png) no-repeat;
    width: 1139px;
    height: 93px;
    color: #746f6f;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 15px;

    > div{
      margin-top: 8px;
      width: 270px;
      height: 69px;
      border-right: 1px solid #e7d3a0;
      float: left;
      text-align: center;
      line-height: 30px;
      padding-top: 9px;

      .left{
        width: 170px;
        float: left;
      }
      .right{
        width: 120px;
        float: left;
        text-align: center;

        div{
          span{
            color: #666;
            font-size: 14px;
            border: 1px solid #666;
            border-radius: 5px;
            padding: 0px 10px;
            display: inline-block;
          }
          button{
            background-color: #cc0000;
            border: 0px;
            color: #fff;
            font-size: 16px;
            font-weight: normal;
            padding: 0px 15px;
          }
        }

      }

      p{
        color: #333333;
        span{
          font-size: 18px;
        }
      }

      &:last-child{
        padding-left: 18px;
        width: 292px;
        text-align: left;
        border-right: 0px;
      }

      .red{
        color: #cc0000;
      }
    }
  }

  table{
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #ccc;

    tr{
      border: 1px solid #cccccc;
      border-right: 0px;
      border-bottom: 0px;

      th{
        border-right: 1px solid #cccccc;
        color: #999999;
        padding: 14px 0px;
        font-weight: normal;
      }

      td{
        color: #666666;
        padding: 8px 0px;
        border-right: 1px solid #cccccc;
        text-align: center;

        p{
          text-align: left;
          padding-left: 30px;
        }
      }
    }
  }
}

.ac-dm{
  .view-tabs{
    margin: 22px 0px 16px 5px;
  }

  .view-container{
    margin: 0px 0px 0px 5px;
  }

  .tips{
    color:#eb2020;
    padding: 10px 0px;
  }

  .tips22{
    color: #eb2020;
    padding: 13px 0px;
    margin-left: 130px;
  }

  .search-condition-table{
    margin-left: auto;
    padding: 20px 0px;
    border: 1px solid #cccccc;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 0px;

    .row1{
      margin-bottom: 0px;

      dl{
        margin-right: 10px;
      }
    }

    > div{
      height: 35px;
      margin-bottom: 15px;

      >div{
        float: right;
        width: 75px;
        padding-left: 20px;
        border-left: 1px solid #cccccc;

        button{
          width: 62px;
          height: 30px;
          background-color: #ff6600;
          color: #fff;
          font-family: '微软雅黑';
          font-size: 16px;
          border: 0px;
        }
      }
    }
  }

  dl.width155{
    width: 155px;
  }

  dl.width160{
    width: 160px;
  }

  dl.width165{
    width: 165px;
  }
}

.ac-signed-form{
  .julien-row{
    margin-bottom: 10px;
    font-size: 14px;
    color: #999999;

    dt{
      
    }

    dd{
      margin-right: 10px;

      span.julien-button{
        padding: 0px 12px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        display: block;
      }
    }
    
  }

  .julien-dm-area{
    border: 1px solid #ccc;
    margin-top: 20px;
    dl{
      text-align: center;
      font-size: 14px;
      color: #666666;
      width: 100%;
      border-top: 1px solid #ccc;

      &.title{
        border-top: 0px;
        color: #999999;

        dt,dd{
          line-height: 40px;
        }
      }

      dt{
        width: 18%;
        line-height: 30px;
        span{
          cursor: pointer;
          color: #cc0000;
          text-decoration: underline;
        }
      }
      dd{
        width: 40%;
        border-right: 1px solid #ccc;
        line-height: 30px;
      }
    }
  }
}

.js-delete-row{
  text-decoration: underline;
  cursor: pointer;

  &:hover{
    color:#ce6399;
  }
}
