@charset "UTF-8";

@import
"~base/styles/imports";

.ad-agreement-detail {
  border: 1px solid $table-border-color;
  margin-bottom: 12px;
  .portlet-header {
    padding: 5px 10px;
    line-height: 20px;
    .portlet-title {
      line-height: 20px;
      font-size: 13px;
    }

  }
  .portlet-body {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

//.ac-dividend {
//  margin: 10px;
//}

.ac-effect-date {
  position: absolute;
  top: 10px;
  color: $white-color;
  right: 15px;
}

.ac-agreement-top {
  background-color: #f1e1e0;
  padding: 20px 10px;
  margin-bottom: 10px;
  font-size: $font-sm;
}

.ac-countdown {
  margin-top: -5px;
}
.ac-countdown-inner {
  width: 220px;
}

.ac-agreement-content {
  .portlet-body {
    height: 100px;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 0;
  }
  .pre {
    line-height: 28px;
  }
}

.ac-agreement-terms {
  .portlet-body {
    height: 225px;
    overflow: auto;
    box-sizing: border-box;
  }
}

.ac-statistic {
  padding-top:15px;
  .ad-btn-detail {
    position: absolute;
    top: 7px;
    right: 7px;
  }
  .ac-dm-description {
    //margin-top: -32px;
    text-decoration: none;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      a {
        text-decoration: underline;
      }
      &.active {
        a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }

  .ac-statics-detail {
   //margin-top: 10px;
    padding: 0;
    //border: 1px solid $gray-color;
    //border-top: none;
    text-align: center;

    .ac-statics-td {
      width: 279px;
      height: 69px;
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      float: left;
      text-align: center;
      border: 1px solid $gray-color;
      padding: 12px 16px 15px ;
      margin-right: 12px;
      margin-bottom: 15px;
      &:last-child{
        margin-right: 0;
        text-align: left;
      }

      .ac-statics-text{
        font-size: 12px;
        line-height: 12px;
        color: #676767;
        .ac-dm-status{
          display: inline-block;
        }
        .ac-statics-text-sub{
          font-size: 16px;
          color: #000;
          line-height: 16px;
          margin-top: 12px;
        }

      }

    }
    .icon {
      width: 108px;
      height: 108px;
      margin: 0 auto 10px;
    }
  }

  .ac-total {
    .icon {
      background: url('total.png');
    }
  }

  .ac-total-statistic {
    .icon {
      background: url('statistic.png');
    }
  }

  .ac-rate {
    .icon {
      background: url('rate.png');
    }
  }

  .ac-money {
    .icon {
      background: url('money.png');
    }
  }

  //statistic
  .ac-status {
    position: absolute;
    right: 5px;
    top: 5px;
    color: $color-pleasant;
    .sfa-divid-grant {
      vertical-align: middle;
    }
  }
}

.ad-first-level {
  margin-top: 10px;
}

.ac-dm {
  .dot-divider {
    margin-bottom: 12px;
  }
  .nav-tabs{
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .nav-tabs.nav-tabs-border li{
    margin-bottom: 0px;
    margin-top: 0;
    a{
      font-size: 12px !important;

    }
    &.active{
      color: #c9332f;
    }
  }
}

//topLevel
.ac-topLevel {
  position: relative;

  .ac-add-user {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }

  .ac-low-level-top {
    .portlet {
      margin-bottom: 10px;
    }
    .portlet-title {
      font-size: 14px;
    }
    .portlet-body {
      height: 290px;
      overflow: auto;
    }
  }

  .ac-low-level-overview {
    width: 50%;
    display: inline-block;
    float: left;

    table {
      width: 100%;
      tbody {
        td {
          padding: 3px 5px;
          text-indent: 75px;
          text-align: left;
        }
      }
    }
  }
  .ac-low-level-rule {
    display: inline-block;
    width: 46%;
    float: right;
  }



  .ac-effect-date {
    top: -40px;
  }

  .ac-agreement-content {
    .portlet-body {
      height: 90px;
    }
  }
  .ad-first-level{
    .ac-agreement-terms {
      .portlet-body {
        height: 110px;
      }
    }
  }
  //.ac-statistic {
  //  .ac-statics-detail {
  //    > div {
  //      height: 150px;
  //    }
  //  }
  //}
}

.ac-break-off {
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 110px;
  }
}

.ac-signed-form {
  textarea {
    width: 520px;
    height: 187px;
    resize: none;
  }
}
.ac-verify-form {
  input[readonly], textarea[readonly] {
    border-style: dashed;
    background: $white-color;
  }
}
.ac-official {
  white-space: pre-line;
  height: 500px;
  overflow: auto;
  word-wrap: break-word;
  line-height: 30px;
}



.ad-statics-ul{
  border: 0px;
  margin-bottom: 18px;
  padding-left: 10px;
  .ad-statics{
    text-align: center;
    width: 122px !important;
    border: 1px solid #ccc;
    border-radius: 11px;
    display: inline-block;
    margin-right: 5px;
    a{
      height: 22px;
      line-height: 22px;
      color: #676767 !important;
    }
    &.active {
      border: 1px solid $pink-color;
      background-color: $pink-color !important;
      a {
        color: #FFF !important;
        //background-color: $pink-color !important;
      }
    }

  }
}



.ac-dm-md-check{
  width: 100%;
  text-align: center;
  a{
    width: 140px;
    text-decoration: underline !important;
  }
}

.ac-status-op{
  width: 95px;
  height: 36px;
  border: 0px;
  background-color: #e65b45;
  color: #fff;
  &:hover{

  }
}

.ac-dm-ll-detail-btn{
  padding: 0px 10px;
}

.ac-sm-um-btn{
  padding: 0px 10px;
}

.ac-dm-tab-bottom{
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 3px;
}

.ac-dm-rule-statistic{
  border: 1px solid $gray-color;
  color: #676767;
  width: 100%;
  th{
    width: 50%;
    height: 32px;
    line-height: 32px;
    border: 1px solid $gray-color;
    background-color: #f2f2f2;
    font-weight: 500;

  }
  td{
    border: 1px solid $gray-color;
    line-height: 32px;
  }
  .ac-dm-conf-table{
    border: 0 !important;
    th{
      width: 50%;
      height: 32px;
      line-height: 32px;
      border: 1px solid $gray-color;
      border-bottom: 1px solid $gray-color !important;
      background-color: #f9f9f9;
      font-weight: 500;
    }
    td{
      color: #000;

    }
    tr{
      &:last-child{
        td{
          border-bottom: 0;
        }
      }
    }
  }
}
.ac-dm-rule-container{
  vertical-align: top !important;
  padding-left: 5px;
  p{
    margin-bottom: 0 !important;
  }
}


.ac-dm-prove-message{
  height: 41px;
  line-height: 41px;
  border: solid 1px #cccfcf;
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 1px #EDEDED;
  .ac-dm-prove-btn{
    float: left;
    background: url('../../fundCenter/misc/hint.png') no-repeat;
    width: 21px;
    height: 21px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .ac-dm-prove--des{
    line-height: 21px;
    margin-left: 5px;
    display: inline-block;
    margin-top: 10px;
    color: #666;
  }

  .ac-dm-agree-leftTime{
    >div{
      display: inline-block;
      margin: 10px 5px;
      height: 18px;
      padding: 0 5px;
      background-color: #cc3531;
      position: relative;
      line-height: 18px;
      border-radius: 3px;
      >span{
        color: #fff;
      }
    }
    .hours,.minutes{
      &:after {
        position: absolute;
        right: -9px;
        content: ':';
        width: 5px;
        display: inline-block;

      }
    }
    //.minutes{
    //  &:after {
    //    content: ':';
    //    width: 5px;
    //  }
    //}
    .seconds{

    }

  }
}