<div class="nc-panel">
  <form class="js-nc-il-detail-form il-detail-form form-horizontal" action="javascript:void(0);">
    <div class="nc-chat">
      <div class="nc-chat-title">正在与 <span class="js-nc-il-other font-bold"></span> 聊天……</div>
      <div class="js-nc-chat-container nc-chat-container"></div>
      <input id="btn-input" type="text" class="js-nc-il-content nc-il-content input-block-level"
             placeholder="点击回复" name="Content" autocomplete="off">
      <button type="submit" class="js-nc-il-btn-send nc-il-confirm btn" data-loading-text="发送中">发送</button>
      <!--<div class="control-confirm text-center">-->
        <!--<button type="reset" class="btn btn-cool btn-right">重置</button>-->
      <!--</div>-->
    </div>
  </form>
</div>

<div id="jsCarousel" class="carousel slide nc-pic no-margin">
  <ol class="js-nc-ol carousel-indicators carousel-outside"></ol>
  <div class="js-nc-ad carousel-inner"></div>
</div>
