<div class="padding-smd">
  <div class="js-mo-lowLevel-search m-bottom-sm form-inline">
    <label>用户名</label>
    <input type="text" class="js-mo-lowLevel-username" placeholder="请输入用户名">
  </div>
  <div class="js-mo-lowLevel-container border-inverse-all height-sm overflow-auto m-bottom-sm padding-sm">
    加载中
  </div>
</div>
<div class="modal-footer basic-inverse clearfix">
  <div class="form-inline pull-left absolute">
    <label>
      <span class="custom-checkbox checkbox-inverse">
        <input type="checkbox" id="jsIlSelectAll" class="js-mo-select-all">
        <label class="checkbox-label" for="jsIlSelectAll"></label>
      </span>
      全选
    </label>
    <label>
      <span class="custom-checkbox checkbox-inverse">
        <input type="checkbox" id="jsIlSelectInverse" class="js-mo-select-reverse">
        <label class="checkbox-label" for="jsIlSelectInverse"></label>
      </span>
      反选
    </label>
  </div>
  <div class="js-mo-statistics pull-right"></div>
  <div class="text-center ">
    <button class="js-il-select-confirm btn " type="button">确定</button>
    <button class="btn btn-cool" data-dismiss="modal">取消</button>
  </div>
</div>