<div class="m-center">
  <div class="hint-message m-bottom-md">
    <i class="hint-message-btn sfa sfa-sys-setting font-md font-bold"></i>
    <span class="hint-message-des">取消勾选后您将不会再收到相关的系统通知。</span>
  </div>
  <form class="js-nc-setting-form form-horizontal">
    <div class="js-nc-smSetting-container nc-setting-container clearfix text-left"></div>
    <div class="text-center m-top-lg control-confirm">
      <button type="button" class="js-nc-smSetting-submit btn btn-pink btn-linear">保存</button>
    </div>
  </form>
</div>
