<div class="m-center">
  <div class="alert">
    <div class="js-ac-quota-container">
      <span class="sfa sfa-tip-heart vertical-middle m-right-xs"></span>
      <span class="hint-message-des">取消勾选后您将不会再收到相关的系统通知。</span>
    </div>
  </div>
  <form class="js-nc-setting-form form-horizontal">
    <div class="js-nc-smSetting-container nc-setting-container clearfix text-left"></div>
    <div class="text-center m-top-lg control-confirm">
      <button type="button" class="js-nc-smSetting-submit btn btn-pink btn-linear">保存</button>
    </div>
  </form>
</div>
