<!--<div class="m-bottom-sm">-->
  <!--<div class="tip pull-right">提示：只保留最近30天的消息</div>-->
  <!--<div class="btn-toolbar">-->
    <!--<a href="#nc/pn/setting" class="nc-setting-btn btn btn-link router">-->
      <!--<i class="fa fa-cog font-md font-bold"></i>-->
      <!--<span>通知设置</span>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<a href="#nc/pn/setting" class="nc-setting-btn btn btn-link router">
 <!-- <i class="js-setting-btn fa fa-cog font-md font-bold" aria-hidden="true"></i>-->
  <i class="js-nc-setting-btn fa fa-cog" aria-hidden="true"></i>
  通知设置
</a>
<div class="hint-message"><i class="hint-message-btn sfa sfa-sys-setting font-md font-bold"></i><span class="hint-message-des">提示：只保留最近30天的记录</span></div>
<div class="js-nc-platform-grid active-context nc-grid"></div>
