<!--<div class="m-bottom-sm">-->
  <!--<div class="tip pull-right">提示：只保留最近30天的消息</div>-->
  <!--<div class="btn-toolbar">-->
    <!--<a href="#nc/pn/setting" class="nc-setting-btn btn btn-link router">-->
      <!--<i class="fa fa-cog font-md font-bold"></i>-->
      <!--<span>通知设置</span>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<button class="js-nc-setting-dialog nc-setting-btn btn btn-link">
  <i class="js-setting-btn sfa sfa-sys-setting font-md font-bold"></i>
</button>

<div class="js-nc-platform-grid nc-grid"></div>
