<div class="news-setting setting">
  <!--<div class="news-setting-header">-->
    <!--<span class="sfa sfa-news-<%=name %>"></span>-->
    <!--<span class="news-title"><%=typeName %></span>-->
  <!--</div>-->
  <div class="setting-group">
    <% _(confList).each(function(item) { %>
    <% var unique = _.uniqueId() %>
    <div class="setting-tab">
      <div class="custom-checkbox">
        <input type="checkbox" id="<%=unique %>" class="inbox-check" name="noticeList[]" value="<%=item.confId %>">
        <label class="checkbox-label" for="<%=unique %>"></label>
      </div>
      <span><%=item.confName %></span>
    </div>
    <% }); %>
  </div>
</div>
