<div class="js-nc-noticeDetail nc-noticeDetail-inner clearfix">
  <div class="nc-notice-top">
    <div class="nc-notice-title nc-notice-item">主题： <span class="js-nc-pnTitle"></span></div>
    <div class="nc-notice-item">发件人： <span class="js-nc-pnFrom">系统管理员</span></div>
    <div class="nc-notice-item">时间： <span class="js-nc-pnDate"></span></div>
  </div>
  <div class="js-nc-pnContext nc-notice-main"></div>
</div>

<div id="jsCarousel" class="carousel slide nc-pic no-margin">
  <ol class="js-nc-ol carousel-indicators carousel-outside"></ol>
  <div class="js-nc-ad carousel-inner"></div>
</div>
