<div class="m-bottom-sm">
  <div class="tip pull-right">提示：只保留最近30天的消息</div>
  <div class="btn-toolbar">
    <a href="#nc/il/send" class="nc-setting-btn btn btn-link router">
      <i class="fa fa-envelope-o font-md font-bold"></i>
      <span>发送站内信</span>
    </a>
    <!--<div class="btn-group">-->
      <!--<button class="js-nc-read btn btn-pure">标记为已读</button>-->
    <!--</div>-->
    <!--<div class="btn-group">-->
      <!--<button class="js-nc-del btn btn-pure">删除选中</button>-->
    <!--</div>-->
  </div>
</div>
<div class="js-nc-letter-grid nc-grid"></div>
