@mixin nav-tab($props) {

  $borderColor: map_get($props, border-color);
  $bottomBorderColor: map_get($props, bottom-border-color);
  $color: map_get($props, color);
  //$bgColor: map_get($props, bg-color);
  $activeColor: map_get($props, active-color);
  $activeBgColor: map_get($props, active-bg-color);

  border-bottom: 3px solid $bottomBorderColor;

  > {
    li {
      > a {
        color: $color;
        border: 1px solid transparent;
        background-color: transparent;

        &:hover, &:focus {
          background-color: transparent;
        }
      }

      &.active > a {
        color: $activeColor;
        border: 1px solid $borderColor;
        border-bottom-color: transparent;
        background: $activeBgColor;

        &:hover, &:focus {
          color: $activeColor;
          background: $activeBgColor;
        }
      }
    }
  }
}

@mixin nav-tabs($styles) {
  @each $class, $props in $styles {
    @if ($class == default) {
      @include nav-tab($props);
    } @else {
      &.nav-#{$class} {
        @include nav-tab($props);
      }
    }
  }
}
