@mixin popover($props) {

  $titleColor: map_get($props, title-color);
  $titleBgColor: map_get($props, title-bg-color);
  $contentColor: map_get($props, content-color);
  $contentBgColor: map_get($props, content-bg-color);
  $arrowColor: map_get($props, arrow-color);

  &.top .arrow {
    //border-top-color: $arrowColor;
    &:after {
      border-top-color: $arrowColor;
    }
  }
  &.right .arrow {
    //border-right-color: $arrowColor;
    &:after {
      border-right-color: $arrowColor;
    }
  }
  &.bottom .arrow {
    //border-bottom-color: $arrowColor;
    &:after {
      border-bottom-color: $arrowColor;
    }
  }
  &.left .arrow {
    //border-left-color: $arrowColor;
    &:after {
      border-left-color: $arrowColor;
    }
  }

  .popover-title {
    color: $titleColor;
    background-color: $titleBgColor;
  }

  .popover-content {
    color: $contentColor;
    background-color: $contentBgColor;
  }
}

@mixin popovers($styles) {
  @each $class, $props in $styles {
    @if ($class == default) {
      @include popover($props);
    } @else {
      &.popover-#{$class} {
        @include popover($props);
      }
    }
  }
}
