@charset "UTF-8";

@import
"~base/styles/imports";

.personal-main {
  .form-horizontal .controls {
    margin-left: 185px;
  }
  .form-horizontal .control-label {
    width: 180px;
  }
}

.as-passwordManage {
  padding: 13px 15px 0 15px;

  form {
    margin: 0 auto;
    width: 715px;
  }
  .input1 {
    width: 200px;
  }
  .btn-md {
    width: 118px;
    height: 32px;
    font-size: 16px;
  }
  .btn-md-a {
    width: 118px;
    height: 22px;
    font-size: 16px;
  }
}

.as-loginLog {
  //padding: 16px 16px 0 19px;
  .login-table table {
    //border-left: 0;
    //border-right: 0;
    thead {
      color: $font-color-coffee;
    }
  }
}
//
//.as-step-container {
//  width: 600px;
//  margin: 0 auto;
//  margin-top: 15px;
//  .content {
//    height: 470px;
//  }
//}

//.as-step-container-short {
//  width: 600px;
//  margin: 0 auto;
//  margin-top: 30px;
//  .content {
//    height: 450px;
//    margin: 15px 0px;
//  }
//}

.step-inner-find {
  border: 1px solid #c2c2c2;
  &.step-inner {
    margin-bottom: 0px;
  }

  &:first-of-type {
    border-bottom: 0px;
  }

  .step-inner-SQNotSet {

    position: relative;
    margin-top: -20px;
  }

  .step-inner-setSQ-div {
    margin-top: 5px;
  }
}

.ac-selectWay {
  .btn {
    //padding: 8px;
    width: 118px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    border: 0px;
  }
}

.ac-find-by-card {
  width: 400px;
  margin: 0 auto;
}

.find-select {
  padding-top: 35px;
  overflow: hidden;
  padding-right: 20px;
}

.ac-reset-div {
  width: 350px;
  padding: 5px 10px;
  margin: 10px auto;

  .controls {
    margin-left: 80px;
  }
}

.as-fund-pwd-head{
  margin-bottom: 20px;
}

.as-security-add-notice {
  font-size: 12px;
  color: $font-amber;
}

//.as-securityQuestion-step1-div {
//  width: 400px;
//  margin: 0 auto;
//}

.ac-securityQuestion-divider {
  width: 380px;
}

//.as-securityQuestion-notice-logo {
//  padding-left:20px;
//  background-image: url(./securityNotice.png);
//  background-repeat: no-repeat;
//}

.ac-reset-div{
  .passwdSafetyTips{
    padding: 0px 0px 10px 40px;
  }
}

.login-table{
  margin:0px 10px;
}

.ac-setemail-content{
  height: 500px;
  .ac-setemail-body{

    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 430px;

    .ac-unbind-email{
      background: url("unbind-email.png") no-repeat;
      margin-top: 25px;
      width: 111px;
      height: 76px;
    }
    .ac-binded-email{
      background: url("ac-emailsetting.png") no-repeat;
      width: 111px;
      height: 127px;
    }
    .ac-setemail-title{
      margin: 40px;
      width: 245px;
      height: 40px;
      font-size: 14px;
      .as-launch-set{
        text-decoration: underline;
      }
    }

  }

}

.ase-confirm-text{

  margin: 0px 0px 30px 250px;
  display: inline-flex;
  height: 40px;

}
.ac-se-back{

  margin: 0px 0px 30px 250px;
  background-color: #cc9966;
  text-align: center;
  line-height: 30px;
  color: #fff;
  width: 100px;
  height: 30px;
  cursor: pointer;

}

.fc-cant-receive{
  text-align: center;
}

.waite-for-time{
  background-color: #999999;
  text-align: center;
  line-height: 20px;
  color: white;
  height: 20px;
  width: 20px;
  margin: 5px;

}

.fc-next-confirm{
  margin-top: 10px;
  margin-left: 270px;
}

.ac-new-email-container{
  display: inline-block;
  height: 100px;
  margin: 30px 0px 30px 250px;
}

.ac-verify-code{
  margin-left: auto;
  margin-right: auto;
}

.js-waite-email-time{
  //background-color: #999999;
  text-align: center;
  line-height: 20px;
  color: white;
  height: 20px;
  width: 20px;
  margin: 5px;

}

.ac-ad-pwdAdministration{
  padding-top: 100px;
  display: flex;
  height: 300px;
  float: left;
  width: 100%;

  .ac-ad-mvlped{
    background: url("ac-ad-mvlped.png") no-repeat;
    margin: 10px 10px 10px 200px;
    width: 253px;
    height: 113px;
  }

  .ac-ad-mvmpwd{
    background: url("ac-ad-mvmpwd.png") no-repeat;
    margin: 10px;
    width: 253px;
    height: 113px;

  }

  .ac-ac-rempwd{
    background: url("ac-ad-rempwd.png") no-repeat;
    margin: 10px;
    width: 253px;
    height: 113px;
  }

}

.ac-security-question{
  background: url("security-question.png") no-repeat;
  width: 36px;
  height: 38px;
}

.ac-banck-card{
  background: url("banck-card.png") no-repeat;
  width: 35px;
  height: 31px;
}

.verify-email{
  background: url("verify-email.png") no-repeat;
  width: 33px;
  height: 29px;
}
.uc-cmValidatePayPwd{
  background-color: #cc0000;
  border: 0;
  color: white;
  height: 30px;
}

.uc-genderation {
  padding: 4px 15px;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid $gray-color;
  cursor: pointer;
  &.selected {
    background: #5f91b7;
    .fa {
      color: #fff;
    }
  }
}

.uc-memberLevel {
  line-height: 26px;
}
.uc-birthday-width-sm {
  width: 80px;
}

.passwdSafetyTips{
  padding: 0 0 10px 185px;
  color: #999999;
  line-height: 8px;

  span{
    display: inline-block;
    width: 69px;
    height: 6px;
    margin: 0;
    border: 1px solid #ffffff;
    background-color: #dddddd;
    float: left;
  }

  &.level1 {
    span:first-child {
      background-color: #cb3432;
    }
    b {
      color: #cb3432;
    }
  }
  &.level2 {
    span:first-child, span:nth-child(2) {
      background-color: #ff9900;
    }
    b {
      color: #ff9900;
    }
  }
  &.level3 {
    span {
      background-color: #99cc33;
    }
    b {
      color: #99cc33;
    }
  }
}

.invalid-pwd-tip{
  padding: 0 0 10px 185px;
  color: #cb3432;
}

.as-personalManage {
  .as-step-container-short {
    width: 540px;
    margin: 0 auto;
  }
  .wizard > .steps {
    margin-top: 5px;
  }
  .wizard ul, .tabcontrol ul {
    width: 100%;
    height: 3px;
    background: #cccccc;
    top: -20px;
  }
  .wizard > .steps > ul > li:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #cccccc;
    top: -8px;
    border-radius: 50%;
    margin: 0 15%;
    border: 3px solid #fff;
  }
  .wizard > .steps > ul > li.current:after {
    background: #cc6899;
  }
  .wizard > .steps > ul > li .number, .wizard > .steps > ul > li .title {
    color: #cccccc;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    line-height: 25px;
    top: 5px;
  }
  .wizard > .steps > ul > li.current .number, .wizard > .steps > ul > li.current .title {
    color: #202020;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    line-height: 25px;
    top: 5px;
  }
  .wizard > .content {
    min-height: 300px;
  }
  .wizard > .content > .body input {
    width: 161px;
  }
  .step-inner {
    height: 80px;
    .step-inner-main {
      padding-top: 10px;
    }
  }
}