@charset "UTF-8";

@import
"~base/styles/imports";

.as-passwordManage {
  padding: 13px 15px 0 15px;
  //.control-label {
  //  width: 120px;
  //  font-size: 13px;
  //  font-weight: bold;
  //}
  form {
    margin: 0 auto;
    width: 715px;
  }
  .input1 {
    width: 200px;
  }
  .btn-md {
    width: 118px;
    height: 32px;
    font-size: 16px;
  }
  .btn-md-a {
    width: 118px;
    height: 22px;
    font-size: 16px;
  }
}
.control-label{
  width: 85px;
}

.as-loginLog {
  //padding: 16px 16px 0 19px;
  .login-table table {
    border-left: 0;
    border-right: 0;
    thead {
      color: $font-color-coffee;
    }
  }
}

.as-alert-bar {
  color: $light-dark-color-2;
  padding: 13px;
}

.as-step-container {
  width: 600px;
  margin: 0 auto;
  margin-top: 15px;
  .content {
    height: 470px;
  }
}

.as-step-container-short {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  .content {
    height: 450px;
    margin: 15px 0px;
  }
}

.step-inner-find {
  border: 1px solid #c2c2c2;
  &.step-inner {
    margin-bottom: 0px;
  }

  &:first-of-type {
    border-bottom: 0px;
  }

  .step-inner-SQNotSet {

    position: relative;
    margin-top: -20px;
  }

  .step-inner-setSQ-div {
    margin-top: 5px;
  }
}

.ac-selectWay {
  .btn {
    //padding: 8px;
    width: 118px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    border: 0px;
  }
}

.ac-find-by-card {
  width: 400px;
  margin: 0 auto;
}

.control-confirm {
  .btn {
    width: 214px;
    height: 32px;
    //font-size: 14px;
  }
  .btn-right {
    margin-left: 13px;
  }
}

.control-confirm-special {
  margin-top: 10px;

  .btn-left{
    width: 100px;
    height: 30px;
  }
  .btn-right {
    margin-left: 4px !important;
    color: $main-color;
  }
}

.security-question {
  .control-confirm {
    margin-top: 20px;
    .btn {
      width: 166px;
      height: 32px;
      margin-left: 30px;
    }
    .btn-right {
      margin-left: 13px;
    }
  }

  .control-group {
    margin-bottom: 10px;
  }
}

.find-select {
  padding-top: 35px;
  overflow: hidden;
  padding-right: 20px;
}

.ac-reset-div {
  width: 350px;
  padding: 5px 10px;
  margin: 10px auto;

  .controls {
    margin-left: 80px;
  }
}

.control-label {
  text-align: right;
  font-size: 14px;
  width: 70px;

}

.as-fund-pwd-head{
  margin-bottom: 20px;
}

.as-security-add-notice {
  width: 385px;
  padding: 5px 10px;
  margin: 10px auto;
  border-radius: 20px;
  text-align: center;
  background-color: #CC0002;
  color: white;
}

.as-securityQuestion-step1-div {
  width: 400px;
  margin: 0 auto;
}

.ac-securityQuestion-divider {
  width: 380px;
}

//.as-securityQuestion-notice-logo {
//  padding-left:20px;
//  background-image: url(./securityNotice.png);
//  background-repeat: no-repeat;
//}

.as-passwordManage {
  .tip{
    padding: 0px 0px 10px 105px;

    color: rgb(226, 41, 25);
    width: 250px;
    text-align: center;
  }

  .passwdSafetyTips{
    padding: 0px 0px 10px 120px;
    color: #999999;

    span{
      display: inline-block;
      width: 69px;
      height: 10px;
      margin: 0px;
      border: 1px solid #cfcfcf;
      background-color: #fff;
      float: left;
    }

    span.s1{
      background-color: #ff6600;
    }
    span.s2{
      background-color: #ff9900;
    }
    span.s3{
      background-color: #99cc33;
    }

    b{
      padding-left: 20px;
    }

    b.s1{
      color: #ff6600;
    }
    b.s2{
      color: #ff9900;
    }
    b.s3{
      color: #99cc33;
    }

  }

  .red{
    color: #ff6600;
  }

  .input2{
    background: #dbddda !important;
    color: #fff !important;
    border: 1px solid #eee;
  }

  .help-inline{
    display: inline-block;
    width: 350px;
  }

  .line-height30{
    line-height: 30px;
  }
}

.hide{
  display:none;
}

.ac-reset-div{
  .passwdSafetyTips{
    padding: 0px 0px 10px 40px;
  }
}

.login-table{
  margin:0px 10px;
  border: 1px solid #ccc;
}

.ac-setemail-content{
  height: 500px;
  .ac-setemail-body{

    display: -webkit-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 430px;

    .ac-unbind-email{
      background: url("unbind-email.png") no-repeat;
      margin-top: 25px;
      width: 111px;
      height: 76px;
    }
    .ac-binded-email{
      background: url("ac-emailsetting.png") no-repeat;
      width: 111px;
      height: 127px;
    }
    .ac-setemail-title{
      margin: 40px;
      width: 245px;
      height: 40px;
      font-size: 14px;
      .as-launch-set{
        text-decoration: underline;
      }
    }

  }

}

.ase-confirm-text{

  margin: 0px 0px 30px 250px;
  display: inline-flex;
  height: 40px;

}
.ac-se-back{

  margin: 0px 0px 30px 250px;
  background-color: #cc9966;
  text-align: center;
  line-height: 30px;
  color: #fff;
  width: 100px;
  height: 30px;
  cursor: pointer;

}

.fc-cant-receive{
  text-align: center;
}

.waite-for-time{
  background-color: #999999;
  text-align: center;
  line-height: 20px;
  color: white;
  height: 20px;
  width: 20px;
  margin: 5px;

}

.fc-next-confirm{
  margin-top: 10px;
  margin-left: 270px;
}

.ac-new-email-container{
  display: inline-block;
  height: 100px;
  margin: 30px 0px 30px 250px;
}

.ac-verify-code{
  margin-left: auto;
  margin-right: auto;
}

.js-waite-email-time{
  //background-color: #999999;
  text-align: center;
  line-height: 20px;
  color: white;
  height: 20px;
  width: 20px;
  margin: 5px;

}

.ac-ad-pwdAdministration{
  padding-top: 100px;
  display: flex;
  height: 300px;
  float: left;
  width: 100%;

  .ac-ad-mvlped{
    background: url("ac-ad-mvlped.png") no-repeat;
    margin: 10px 10px 10px 200px;
    width: 253px;
    height: 113px;
  }

  .ac-ad-mvmpwd{
    background: url("ac-ad-mvmpwd.png") no-repeat;
    margin: 10px;
    width: 253px;
    height: 113px;

  }

  .ac-ac-rempwd{
    background: url("ac-ad-rempwd.png") no-repeat;
    margin: 10px;
    width: 253px;
    height: 113px;
  }

}

.ac-security-question{
  background: url("security-question.png") no-repeat;
  width: 36px;
  height: 38px;
}

.ac-banck-card{
  background: url("banck-card.png") no-repeat;
  width: 35px;
  height: 31px;
}

.verify-email{
  background: url("verify-email.png") no-repeat;
  width: 33px;
  height: 29px;
}
.uc-cmValidatePayPwd{
  background-color: #cc0000;
  border: 0px;
  color: white;
}
