@charset "UTF-8";

@import "~base/styles/imports";

//begin 1投追记录页查询栏样式
.search-condition-table {
  margin-top: 15px;
  .row1 {
    margin-bottom: 13px;
  }
  .row2 {
    margin-bottom: 3px;
  }
  .row3 {
    margin: 9px 0 1px 0;
  }
  .control-label {
    width: 70px;
    text-align: right;
  }
  .label1 {
    width: 44px;
  }
  .label2 {
    width: 35px;
  }
  .label3 {
    width: 90px;
  }
  .input-date {
    margin-left: -4px;
    margin-right: 3px;
    input {
      width: 117px !important;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  .input-date-sm {
    margin-left: -4px;
    margin-right: 0px;
    input {
      width: 80px !important;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  .margin-add {
    margin-right: 4px;
  }
  .select1 {
    width: 129px;
  }
  .select2 {
    width: 120px;
    margin-right: 3px;
  }

  .input2 {
    width: 104px;
  }
  .input3 {
    width: 115px;
  }

  button {
    padding-left: 0;
    padding-right: 0;
    margin-left: 11px;
    margin-right: 11px;
  }

  //下级管理页面
  .ac-llm-unActive-day-label {
    width: 100px;
  }

  .ac-rm-btn {
    width: 72px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 6px;
  }
}

//end 1投追记录页查询栏样式

//begin 2 明细页
//公共小弹窗提示
.js-pf-popover {
  min-height: 20px;
  max-height: 100px;
  overflow-y: auto;
  word-break: break-all;
}
.ac-optionalBettingDetail-num {
  border: 1px solid $table-border-color;
  height: 168px;
  overflow-y: auto;
  word-break: break-all;
}

.uc-bet-detail {
  table {
    th {
      font-size: 14px;
    }
    td {
      font-size: 14px;
    }
  }
}

.uc-trackDetail-view {
  .uc-trackDetail-playDetail-bottom {
    margin-bottom: 18px;
  }

}

.uc-bet-detail-table {
  padding: 8px 8px 8px 8px;
  table {

    font-size: 1.167rem;
  }
}

//end 2明细

//begin 3 个人资料
.uc-personalManage-form {

  padding: 30px 14px 14px 150px;

  //特定长度输入框
  .input4 {
    width: 200px;
  }
  .color-dark {
    color: $dark-color;
  }
  .uc-personalManage-div {
    margin-bottom: 20px !important;
  }
  .uc-personalManage-btn-div {
    margin-top: 40px !important;
    margin-bottom: 30px !important;
  }
  .btn {
    width: 214px;
    height: 32px;
  }
}

//end 个人资料

//卡管理
.uc-cardManage-view {

  //begin 密码设置页
  .uc-cm-fund-pwd-png-div {
    height: 300px;
  }
  .uc-cm-text-dark {
    margin: 50px auto 25px auto;
    font-size: 16px;
    color: $dark-color;
  }
  .uc-cm-link-dark {
    margin: 0 auto 50px 0;
    color: $dark-color;
    font-size: 14px;
  }
  //end 密码设置页

  //密码输入begin
  .uc-cm-fund-pwd-form {
    padding: 17px 14px 14px 25px;
    text-align: center;
    .uc-cm-fund-pwd-div {
      margin-top: 300px;
      margin-bottom: 5px !important;
      font-size: 16px;
      input {
        width: 150px;
        height: 19px;
      }
      .uc-cm-fund-label {
        font-size: 16px;
        padding-bottom: 5px;
      }
    }
    .btn-wd {
      width: 165px;
      height: 32px;
    }
    .uc-cm-fund-pwd-notice-div {
      height: 20px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
  //密码输入end

  //管理页
  .uc-cm-notice-div {
    margin: 16px 5px 5px 55px;
  }
  .btn {
    width: 70px;
  }
  .btn-right {
    margin-left: 33px;
  }
  .uc-cm-lg-btn {
    width: 251px;
    height: 28px;
    background-color: $color-sunshine;
  }
  .uc-cm-btn-unlock-sign {
    background: url(unLocked.png)  no-repeat;
    padding-left:25px;
    color: $background-color;
    width: 18px;
    height: 19px;
  }
  .uc-cm-btn-lock-sign {
    background: url(unLocked.png)  no-repeat;
    padding-left:25px;
    color: $font-color-coffee;
    width: 18px;
    height: 19px;
  }
  .uc-bank-manage-lock {
    //background-image: url(./keyboard.png);
    height: 487px;
    overflow: hidden;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
  }
}

//绑定页
.uc-cbCardBindingForm {
  padding: 40px 0 0 11px;
  .control-group {
    padding: 0 0 5px 0;
    display: inline-block;
  }
  .select1 {
    width: 352px;
    height: 30px;
  }
  .select2 {
    width: 171px;
    height: 30px;
  }
  .select3 {
    margin-left:5px;
    width: 171px;
    height: 30px;
  }
  .input1 {
    width: 123px;
    height: 15px;
  }
  .input2 {
    width: 338px;
    height: 20px;
  }
  .uc-cm-lg-btn {
    width: 166px;
    height: 32px;
  }
}

.uc-lg-input {
  width: 340px;
}

.price-ul {
  position: relative;
  ul {
    margin: 13px 15px 15px;
  }
  .fc-lesson {
    position: absolute;
    top: 5px;
    right: 20px;
  }
}
.uc-prize {
  height: 410px;
}

.bc-btn-cancel {
  position: absolute;
  top: 5px;
  right: 74px;
}

.dl-detail,.dl-horizontal {
  dt {
    min-width: 60px;
    width: auto;
    margin-bottom: 10px;
    font-weight: normal;
  }
  dd {
    margin-left: 70px;
    margin-bottom: 10px;
  }
}

.detail-betting-num {
  width: 100%;
  border: 1px solid $gray-color;
  box-sizing: border-box;
  height: 258px;
  overflow: auto;
  word-break: break-word;
}
.uc-cm-bindDialog {
  width: 560px;
}
.uc-cm-bindContainer {
  .popover{
   margin-left: 0px;
    max-width: 250px;
  }
  .arrow {
    background-color: #fff;
  }
  .popover-content {
    background-color: #fff;
  }

}
.uc-cm-province-container {
  width: 237px;
  span:hover{
    color: $color-sunshine;
  }
  span:focus {
    color: $color-sunshine;
  }
}
.uc-cm-fl {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
  color: $color-sunshine;
}
.uc-cm-province {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: underline;

}

.uc-cmPayPwd {
  width: 236px;
}
.uc-cm-province-div {
  margin-bottom: 2px;

}

.vc-gp-get {

}

.uc-bock01{
  margin-top: 10px;

  dl,dt,dd{
    padding: 0px;
    margin: 0px;
  }

  .uc-menu1{
    a{
      font-family: '微软雅黑';
      width: 138px;
      height: 40px;
      border: 1px solid #cccccc;
      border-bottom: 0px;
      display: inline-block;
      margin-right: 10px;
      line-height: 40px;
      text-align: center;
      color: #333333;
      background: #fff;
      font-size: 16px;

      &.sd{
        background:url(~base/images/julien/btn-bg01.jpg) no-repeat;
        color: #fff;
      }
    }
  }
  .uc-info{
    border: 1px solid #cccccc;
    border-top: 2px solid #a60000;
    background-color: #fff;
    padding-top: 42px;
    border-bottom: 0px;

    dl{
      margin-left: 100px;
      width: 220px;
      margin-bottom: 40px;
      float: left;
    }

    dt{
      color: #333333;
      font-weight: initial;
      font-size: 12px;
      border-bottom: 1px solid #e5e5e5;
      line-height: 30px;

      span{
        color: #cc0000;
        text-decoration: underline;
        float: right;
        cursor: pointer;
      }
    }

    dd{
      font-weight: initial;
      font-size: 12px;
      color: #666666;
      line-height: 24px;
    }

    div{
      width: 600px;
      height: 150px;
      float: right;
      background: url(../misc/julien/vipbg.png) no-repeat;
      position: relative;

      font-size: 14px;
      color: #000;

      b{
        position: absolute;
        top: 26px;
        color: #fff;
        right: 106px;
      }
    }

    &:after{
      clear: both;
      content: '';
      display: block;
    }
  }
}

.menu-bock{
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;

  .sidebar-title{
    display: none;
  }

  ul{
    height: 30px;
    margin: 0 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;

    li{
      list-style: none;
      width: 120px;
      height: 30px;
      line-height: 30px;
      background: url(~base/images/julien/menu-bg01.png) no-repeat;
      text-align: center;
      float: left;
      margin-right: 9px;

      a{
        color: #fff;
      }
      
      &.active{
        background-position: 0px -30px;
      }
    }

    &:after{
      clear: both;
      content: '';
      display: block;
    }
  }
}

.content-bock{
  background-color: #fff;
  border:1px solid #ccc;
  border-top: 0px;
  color: #666666;
  font-family: '微软雅黑';
  padding-bottom: 10px;

  .color-dark{
    color: #666666;
  }

  .portlet-side-main{
    width: auto;

    .portlet-header{
      display: none;
    }
  }

  .help-inline{
    color: #cc0000;
  }

  .portlet{
    border:0px;
  }

  .btn-linear{
    border-radius: 0px;
    background: #990000 !important;
    color: #fff;
    font-size: 18px;

    &:hover{
      color:#fff;
    }
  }

  .search-condition-table{
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .search-condition-layout{
    display: inline-block;
  }
}

.ac-block2{
  background: url(~base/images/julien/banner02.png) no-repeat !important;
}
.js-pf-search-grid{
  margin: 0px 10px;
}