@charset "UTF-8";

@import "~base/styles/imports";

//@import "bootstrap-3.3.7-dist/css/bootstrap.css";
//@import "font-awesome-4.4.0/css/font-awesome.min.css";
//begin 1投追记录页查询栏样式

.search-condition-table {
  .row1 {
    //margin-bottom: 13px;
  }
  .row2 {
    margin-bottom: 3px;
  }
  .row3 {
    margin: 9px 0 1px 0;
  }
  .label1 {
    width: 44px;
  }
  .label2 {
    width: 35px;
  }
  .label3 {
    width: 90px;
  }
  .input-date {
    margin-left: -4px;
    margin-right: 3px;
    input {
      width: 135px !important;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      margin-left: 4px;
      margin-right: 4px;
      background: url(~base/images/fh/calendar.png) no-repeat 127px center;
    }
  }
  .input-date-sm {
    margin-left: -4px;
    margin-right: 0px;
    input {
      width: 80px !important;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  .margin-add {
    margin-right: 4px;
  }
  .select1 {
    width: 129px;
  }
  .select2 {
    width: 120px;
    margin-right: 3px;
  }

  .input2 {
    width: 104px;
  }
  .input3 {
    width: 115px;
  }

  //下级管理页面
  .ac-llm-unActive-day-label {
    width: 100px;
  }

  .ac-rm-btn {
    width: 72px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 6px;
  }
}

//end 1投追记录页查询栏样式

//公共小弹窗提示
.js-pf-popover {
  min-height: 20px;
  max-height: 100px;
  overflow-y: auto;
  word-break: break-all;
}

.ac-optionalBettingDetail-num {
  border: 1px solid $table-border-color;
  height: 168px;
  overflow-y: auto;
  word-break: break-all;
}

.uc-bet-detail {
  table {
    th {
      font-size: 14px;
    }
    td {
      font-size: 14px;
    }
  }
}

.uc-trackDetail-view {
  .uc-trackDetail-playDetail-bottom {
    margin-bottom: 18px;
  }

}

.uc-bet-detail-table {
  padding: 8px 8px 8px 8px;
  table {

    font-size: 1.167rem;
  }
}

//end 2明细

//begin 3 个人资料
.uc-personalManage-form {
  //特定长度输入框
  .input4 {
    width: 200px;
  }
  .color-dark {
    color: $dark-color;
  }
  .uc-personalManage-div {
  }
  .uc-personalManage-btn-div {
    margin-top: 40px !important;
    margin-bottom: 30px !important;
  }
  .btn {
    width: 214px;
    height: 32px;
  }

  .controls {
    span.help-inline-julien {
      font-size: 12px;
      color: #999;
    }
  }
}

//end 个人资料

//卡管理
.uc-cardManage-view {

  //begin 密码设置页
  .uc-cm-fund-pwd-png-div {
    height: 300px;
  }
  .uc-cm-text-dark {
    margin: 50px auto 25px auto;
    font-size: 16px;
    color: $dark-color;
  }
  .uc-cm-link-dark {
    margin: 0 auto 50px 0;
    color: $dark-color;
    font-size: 14px;
  }
  //end 密码设置页

  //密码输入begin
  .uc-cm-fund-pwd-form {
    padding: 17px 14px 14px 25px;
    text-align: center;
    .uc-cm-fund-pwd-div {
      margin-top: 300px;
      margin-bottom: 5px !important;
      font-size: 16px;
      input {
        width: 150px;
        height: 19px;
      }
      .uc-cm-fund-label {
        font-size: 16px;
        padding-bottom: 5px;
      }
    }
    .btn-wd {
      width: 165px;
      height: 32px;
    }
    .uc-cm-fund-pwd-notice-div {
      height: 20px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
  //密码输入end

  //管理页
  .uc-cm-notice-div {

    .uc-cm-notice-msg {
      margin-top: 5px;

    }
    .uc-cm-notice-msg2 {
      margin-top: 5px;
    }
    .uc-cm-notice-msg3 {
      margin-top: 5px;
    }
  }
  .btn {
    width: 70px;
  }
  .btn-right {
    margin-left: 33px;
  }
  .uc-cm-lg-btn {

    background-color: #cc9966;
    border-radius: 0px;
    width: 251px;
    height: 50px;
    border: 0px;

  }
  .uc-cm-btn-unlock-sign {
    margin-right: 5px;
  }
  .uc-cm-btn-add-sign {
    margin-right: 5px;
  }
  .uc-cm-btn-lock-sign {
    background: url(unLocked.png) no-repeat;
    padding-left: 25px;
    color: $font-color-coffee;
    width: 18px;
    height: 19px;
  }
  .uc-bank-manage-lock {
    //background-image: url(./keyboard.png);
    height: 487px;
    overflow: hidden;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
  }
}

//绑定页
.uc-cbCardBindingForm {
  margin-top: 40px;
  //padding: 40px 0 0 11px;
  background: url("~/bases/header/affiche_bg.png") no-repeat;
  .control-group {
    padding: 0 0 5px 0;
    display: inline-block;
  }
  .uc-card-band-select1 {
    width: 200px;
    height: 26px;
  }
  .uc-card-band-select2 {
    width: 95px;
    height: 26px;
  }
  .uc-card-band-select3 {
    margin-left: 5px;
    width: 95px;
    height: 26px;
  }
  .uc-card-band-input1 {
    width: 123px;
    height: 15px;
  }
  .uc-card-band-input2 {
    width: 185px;
    height: 16px;
  }
  .uc-cm-lg-btn {
    width: 166px;
    height: 32px;
  }
  .uc-card-band-size{
    width: 110px;
  }
  .uc-card-band-option-size{
    margin-left: 110px;
  }
  .uc-bind-card-model-border{
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
    width: 570px;
    margin-left: 5px;
  }
  .uc-bind-card-word-style{
    color:#999;
    margin-left: 10px;
  }
  .uc-band-card-bind{
    margin-bottom: 20px;
  }
  .uc-card-band-line-bigSize{
    margin-top:20px;
  }
}

.uc-lg-input {
  width: 440px;
}

.price-ul {
  position: relative;
}

.uc-cm-bindDialog {
  background-color: #fff;
  //width: 560px;;
}

.uc-cm-bindContainer {
  .popover {
    margin-left: 0px;
    max-width: 250px;
  }
  .arrow {
    background-color: #fff;
  }
  .popover-content {
    background-color: #fff;
  }

}

.uc-cm-province-container {
  width: 237px;
  span:hover {
    color: $color-sunshine;
  }
  span:focus {
    color: $color-sunshine;
  }
}

.uc-cm-fl {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
  color: $color-sunshine;
}

.uc-cm-province {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: underline;

}

.uc-cmPayPwd {
  width: 236px;
}

.uc-cm-province-div {
  margin-bottom: 2px;
}

.vc-gp-get {

}

.vip-main1 {
  background: url(~base/images/fh/vc.png) no-repeat;
  width: 282px;
  height: 65px;
  position: absolute;
  top: -20px;
}

.vip-sidebar {
  border-bottom: 2px solid #a60000;
  margin-top: 50px;
}

.vip-sidebar::before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  left: 0;
  border-top: 1px solid #a60000;
}

.vip-sidebar::after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 52px;
  border-top: 1px solid #a60000;
}

//VIP提交申请样式

.vip-left {
  .vip-crown {
    padding-bottom: 15px;
  }
  .vip-crown img {
    display: inline-block;
    width: 45px;
    height: 43px;
  }
  .vip-crown span {
    margin-left: 15px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    color: #cc0000;
  }
}

.vip-flow {
  font-size: 14px;
  img {
    width: 1035px;
    height: 96px;
  }
  p {
    margin-top: 15px;
    line-height: 30px;
  }
}

.vip-sum {
  padding: 20px 0 15px 0;
  font-size: small;
  margin-top: 23px;
  color: #cc6600;
  height: 100px;
  line-height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.vip-sum span {
  color: #cc0000;
  margin-top: 15px;
}

.vip-tab-content {
  float: left;
  margin-left: 20px;
  width: 1070px;
}

.vip-tab-content .vip-main1 {
  left: 0px
}

.vip-tab {
  float: left;
  margin-top: 8px;
  width: 80px;
  margin-left: 15px;
  position: relative;
  li {
    margin-top: 18px;
    position: relative;
  }
  span {
    display: inline-block;
    width: 80px;
    height: 35px;
    color: #fff;
    background: #999;
    text-align: center;
    line-height: 35px;
    position: relative;
  }
}

.vip-tab span::after {
  content: "";
  width: 13px;
  height: 13px;
  background: #ffcc66;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: 10px;
  right: -7px;
  display: none;
}

.vip-tab span:hover, .vip-tab .active span {
  background: #ffcc66;
  color: #333;
}

.vip-tab span:hover::after, .vip-tab .active span::after {
  display: block;
}

//VIP中心表格背景修改
.vip-table th {
  background: #f2f2f2 !important;
  color: #999;
  font-weight: normal;
}

//

.ac-block2 {
  background: url(~base/images/julien/banner02.png) no-repeat top center !important;
}

//表格边距
.gauge {
  margin: 0 15px;
}

//

.bd-bet-headBack {
  text-decoration: underline;
}

//投注记录详情
.bd-dd-revokeOrder {
  text-align: center;
  line-height: 30px;
  width: 1030px;
  .js-dd-bgLine {
    background-color: #cccccc;
    position: relative;
    height: 1px;
    z-index: 1;
    top: 16px;
  }

  .bd-dd-revokeOrder {
    background-color: #d8855a;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 30px;
    color: #fff;
    z-index: 2;
  }

  .bd-dd-revokeOrder0 {
    display: block;
    cursor: pointer;
    background-color: #d8855a;
    margin: 8px auto 20px auto;
    position: relative;
    width: 63px;
    height: 14px;
    color: #fff;
    z-index: 3;
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      left: 27px;
      top: -1px;
    }

  }

}

//追号记录详情
.bd-dd-revoked {
  background: url('bg-revoke-status.png');
  position: absolute;
  height: 160px;
  width: 192px;
  left: 300px;
  z-index: 4;
  top: 200px;

}

.td-dd-revokeOrder {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 30px;
  width: 1030px;
  .js-dd-bgLine {
    background-color: #cccccc;
    position: relative;
    height: 1px;
    z-index: 1;
    top: 16px;
  }
  .bd-dd-revokeOrder {
    background-color: #d8855a;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 30px;
    color: #fff;
    z-index: 2;
  }
  .bd-dd-revokeOrder0 {
    display: block;
    cursor: pointer;
    background-color: #d8855a;
    margin: 8px auto 20px auto;
    position: relative;
    width: 63px;
    height: 14px;
    color: #fff;
    z-index: 3;
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      left: 27px;
      top: -1px;
    }
  }

}

.price-ul {
  height: 500px;
}

.price-ul > ul > li.active a {
  background-color: lightgrey;
}

.price-ul > ul > li > a {

  &:hover {
    background-color: lightgrey;
  }
  &:visited {
    background-color: lightgrey;
  }
  &:focus {
    background-color: lightgrey;
  }
}

.price-container {
  height: 500px;
}

.uc-search-buttondiv {
  //width: 100px;
  height: 30px;
  float: right;
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.uc-search-button {
  width: 50px;
  height: 30px;
  background-color: chocolate;
  color: white;
  border-radius: 0px;

}

.hidden-seach-ucenter {
  margin-top: 10px;
  height: 14px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  hr {
    position: absolute;
    margin: 0px;
    width: 100%;
    top: 7px;
    border-top: 1px solid #cccccc;
  }
  span {
    background-color: #d8855a;
    display: block;
    position: relative;
    width: 63px;
    height: 14px;
    margin: 0px auto 20px auto;
    cursor: pointer;

    &:hover {
      background-color: #cd1f21;
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid dashed dashed dashed;
      border-color: #fff transparent transparent transparent;
      position: absolute;
      left: 27px;
      top: 5px;
    }

    &.on {
      &:before {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent #fff transparent;
        top: -1px;
      }

      &:hover {
        background-color: #cd1f21;
      }
    }
  }
}

.binding-card-icon {
  //background-color: red;
  width: 150px;
  height: 45px;
  margin-top: 13px;
  border-right: 1px solid #cccccc;

}
.uc-bind-card-locked{
  color: #999!important;
  .binding-card-cardName-Name{
    color: #999!important;
  }
  .binding-card-cardNo-No{
    color: #999!important;
  }
}
.binding-card-cardName {
  margin-top: 15px;
  width: 105px;
  height: 45px;
  margin-left: 15px;
  .binding-card-cardName-card{
    color: #999;
  }
  .binding-card-cardName-Name{
    font-family: Arial;
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
}
.uc-cm-notice-add{
  width: 100px!important;
  height: 30px;
  font-size: 12px;
}
.uc-cm-notice-lock{
  width: 100px!important;
  height: 30px;
  font-size: 12px;
}
.binding-card-cardNo {
  border-right: 1px solid #cccccc;
  margin-top: 15px;
  width: 220px;
  height: 45px;
  margin-left: 15px;

  .binding-card-cardNo-card{
    color: #999;
  }
  .binding-card-cardNo-No{
    font-family: Arial;
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
}

.binding-card-delete {
  background: url("bank-card-delete.png") no-repeat;
  //background-color: #cc0000;
  position: relative;
  margin-left: 79px;
  height: 80px;
  width: 80px;

}

.uc-add-mark {
  text-align: center;
  font-size: 40px;
  color: #cfa945;
}

.uc-add-words {
  font-size: 16px;
  color: #cc9966;

}

.br-excess-cell {
  margin: 0px;
  width: 60px;
  height: 28px;
  background: #f4f4f4;
  border: 1px solid #c4c4c4;
}

.cell-left-10 {
  margin-left: -10px;
}

.toggle-athena {
  background-color: #e0e0e0;
  outline: none;
  inline: none;
}

//弹窗
.vip-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(40, 40, 40, 0.6);

}

.vip-popup-conter {
  width: 700px;
  height: 280px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
}

.vip-success {
  .clear {
    clear: both;
  }
  width: 700px;
  height: 40px;
  background: url(../misc/bg-p.png) no-repeat center;
  p {
    float: left;
    margin: 10px 0 0 20px;
    font-size: 14px;
    color: #fff;
  }
  span {
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 19px;
    color: #fff;
    font-size: 20px;
    margin: 9px 20px 0 0;
    cursor: default;
    border: 1px solid #fff;
  }
}

.vip-return {
  text-align: center;
  heitht: 200px;
  padding-top: 80px;
  p {
    display: inline-block;
    color: #cc3333;
    font-size: 16px;
  }
  img {
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
  }
}

.button-success {
  text-align: center;
  margin-top: 30px;
  button {
    width: 100px;
    line-height: 30px;
    background: #cc0000;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
  }
  .cancel {
    background: #cc6600;
    margin-left: 10px;
  }
}

.vip-return .py {
  color: #999;
}

.ucbt-open-number {
  height: 50px;
  line-height: 50px;
}

.uc-addBankCard {
  width: 580px;
  .modal-dialog {
    overflow: visible;
  }
  .modal-body {
    overflow: visible;
    .uc-cbCardBindingForm {
      margin: 0;
      padding-top: 30px;
    }
  }

}

.uc-bind-card-model{
  width: 580px;
  .uc-bind-card-model-body{
    margin-top: 40px;
    .uc-bind-card-model-name{
      margin-bottom: 15px;
      margin-top: 10px;
    }
    .uc-bind-card-model-no{
      margin-bottom: 50px;
    }

  }
  .uc-bind-card-model-border{
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
  }


}
.uc-lockBankCard{
  width: 400px;
  border-bottom: 1px solid #cccccc;
  .uc-band-card-lock-img{
    display: inline-block;
    float: left;
    margin-left: 45px;
    margin-right: 15px;
    margin-top: 10px;
    .uc-band-card-lock{
      width: 60px;
      height: 60px;
      display: inline-block;
      background: url(../misc/back_lock.png) no-repeat center;
    }
  }
  .uc-band-card-lock-mes{
    margin-top: 10px;
    display: inline-block;
    width: 230px;
    .uc-band-card-lock-mes-title{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .uc-band-card-lock-mes-content{
      color: #999;
    }
  }

}
.uc-bind-card-lock-border{
  border-top: 1px solid #cccccc;
  margin-bottom: 20px;
  width: 390px;
  margin-left: 5px;
}
