@charset "UTF-8";

@import
"~base/styles/imports";

$main-light-color: #1ba1b5 !default;
$main-border-color: #007e90 !default;
$input-placeholder: #0297ad !default;

body {
  background: $background-dark!important;
}

.rp-brand {
  top: 211px;
  position: absolute;
  width: 100%;
}

.panel {
  margin: 0 auto;
  width: 852px;
  .form-inline {
    margin: 20px auto;
  }

  .panel-header {
    background: transparent;
    color: $font-color-coffee;
    top: 12px;
    left: 10px;
    width: 94%;
    img {
      margin-right: 9px;
      max-height: 30px;
    }

    a {
      color: #FF9639;
    }
  }
}

.rp-resetPassword-main {
  width: 658px;
  margin: 0 auto;
  padding-top: 23px;
  .content {
    height: 274px;
    margin: 10px 0 0 -20px;
    max-width: 658px;
  }

  form {
    min-height: 220px;
  }

  .val-error-wrapper {
    position: absolute;
    display: block;
    height: 22px;
    /* margin-top: 5px; */
    /* margin-left: 80px; */
    left: 90px;
    top: 35px;
  }
}

.input-varCode {
  width: 149px;
  margin-right: 2px;
}

.var-code {
  width: 69px;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.re-val-result-div {
  display: inline-block;
}

.re-notice {
  display: block;
  height: 22px;
  margin-top: 5px;
  margin-left: 80px;
}

.rp-btn-wrapper {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.w200{
  width: 211px !important;
  margin-right: 69px;
}
.p-relative{
  position: relative;

  .val-img-times{
    margin:0px;
    padding:0px;
    width: 17px;
    height: 17px;
  }

  .val-img-check{
    padding-left: 15px;
  }
  .re-val-result-div{
    position: absolute;
    bottom: 5px;
    right: -20px;
  }
}