@charset "UTF-8";

@import
"~base/styles/imports";

body{
  background: url('~base/images/julien/login-bg.jpg') no-repeat;
  font-family: '微软雅黑';
  color: #343434;
}

dl,dt,dd{
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

.menuTips{
  font-size: 16px;
  position: absolute;
  top: 39px;
  left: 1200px;

  a{
    display: block;
    width: 99px;
    height: 33px;
    line-height: 30px;
    float: left;
    margin-right: 20px;
    text-align: right;
    color: #666666;
  }

  a.m1{
    background: url(~base/images/julien/04.png) no-repeat 5px 3px;
  }
  a.m2{
    background: url(~base/images/julien/05.png) no-repeat 5px 3px;
  }
  a.m3{
    background: url(~base/images/julien/03.png) no-repeat 5px 3px;
    width: 114px;
  }
}

.resetPassword{
  border: 1px solid #cccccc;
  width: 1182px;
  height: 723px;
  margin: 132px auto 20px auto; 
  background:url(~base/images/julien/login-bg2.jpg) no-repeat bottom #fff;
  background-color: #fff;
  padding: 0px 8px;
  font-family: '微软雅黑';

  .safety-problem{
    font-size: 14px;
    color: #666666;
    padding-left: 112px;
    margin-right: 150px;

    > div{
      padding-left: 80px;

      button{
        width: 100px;
        height: 30px;
        color: #fff;
        background-color: #cc0000;
        font-size: 16px;
        border: 0px;
        margin-right: 13px;
        float: left;

        &.safety-problem-black{
          background-color: #cc9966;
        }
      }
    }

    input{
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      width: 278px;
      height: 26px;
    }

    p{
      font-size: 16px;
      color: #cc0000;
      margin-bottom: 25px;
    }

    hr{
      border-top: 1px solid #cccccc;
      margin: 25px 0px;
    }

    dl{
      height: 38px;
      line-height: 28px;
      margin-bottom: 10px;

      dt{
        width: 58px;
        margin-right: 18px;
        text-align: right;
        display: inline-block;
      }
      dd{
        width: 500px;
        display: inline-block;
        position: relative;

        i{
          top: 12px;
          left: 315px;
        }
        .messageBox{
          top: 7px;
          left: 335px;
        }
      }
    }
  }

  .passwdSafetyTips{
    padding-left: 120px;
    color: #999999;
    text-align: left;
    margin-top: -15px;

    span{
      display: inline-block;
      width: 69px;
      height: 10px;
      margin: 0px;
      border: 1px solid #fff;
      background-color: #e7e7e7;
      float: left;
      margin-top: 5px;
    }

    span.s1{
      background-color: #ff6600;
    }
    span.s2{
      background-color: #ff9900;
    }
    span.s3{
      background-color: #99cc33;
    }

    p.s1{
      color: #ff6600;
    }
    p.s2{
      color: #ff9900;
    }
    p.s3{
      color: #99cc33;
    }


    b{
      margin-left: 10px;
      color: #fff;
      height: 20px;
      width: 20px;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      border-radius: 2px;
    }

    b.s1{
      background-color: #ff6600;
    }
    b.s2{
      background-color: #ff9900;
    }
    b.s3{
      background-color: #99cc33;
    }
  }

  .title-julien{
    height: 60px;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    margin-bottom: 36px;
  }

  .content-julien{
    input{
      color: #343434;
    }

    .leftMenu-julien{
      width: 243px;
      float: left;

      dl{
        width: 185px;
        float: left;
        text-align: right;
        margin-top: 12px;

        dt{
          color: #cccccc;
          font-size: 24px;
          display: block;
        }

        dd{
          color: #333333;
          margin: 10px 0px 28px 0px;
          display: block;
        }
      }

      div{
        width: 40px;
        height: 304px;
        overflow: hidden;
        float: left;
        overflow: hidden;

        span{
          display: block;
          border-left: 2px solid #cccccc;
          width: 12px;
          height: 58px;
          margin-left: 13px;
          &:first-child{
            margin-top: -30px;
          }
        }

        b{
          width: 10px;
          height: 10px;
          display: block;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background-color: #cdcdcd;
          margin: 5px 0 5px 9px;

          &.red{
            background-color: #d10000;
          }
        }
      }

      &:after{
        clear: both;
        content: '';
        display: block;
      }
    }

    .right-julien{
      width: 935px;
      float: left;
      position: relative;

      .panel01{
        padding-left: 181px;
        padding-top: 42px;

        dl{
          position: relative;
          height: 30px;
          margin-bottom: 32px;

          &.code{
            margin-bottom: 10px;

            input{
              width: 128px;
              margin-right: 10px;
            }

            img{
              cursor: pointer;
            }
          }
          
          &:after{
            clear:both;
            content: '';
            display: block;
          }
        }

        dt{
          width: 50px;
          float: left;
          line-height: 30px;
          height: 30px;
        }

        dd{
          width: 660px;
          float: left;

          
        }

        .correct{
          i{
            position: absolute;
            top: 7px;
            left: 335px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(~base/images/julien/07.png) no-repeat;
          }
        }

        .messageBox{
          position: absolute;
          top: 2px;
          left: 355px;
          display: none;

          b{
            float: left;
            display: block;
            width: 0;
            height: 0;
            border-width: 5px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #999999 transparent transparent;
            margin-top: 8px;
          }

          span{
            float: left;
            display: block;
            height: 26px;
            background-color: #999999;
            line-height: 26px;
            padding: 0px 8px;
            border-radius: 3px;
            color: #fff;
          }
        }

        .wrong{
          i{
            position: absolute;
            top: 7px;
            left: 335px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(~base/images/julien/07.png) no-repeat 0 -16px;
          }

          .messageBox{
            display: block;
          }
        }

        input{
          width: 256px;
          height: 20px;
          border: 1px solid #cccccc;
          background-color: #f7f7f7;
        }

        p{
          display: block;
          height: 34px;
          line-height: 34px;
          text-align: center;
          color: #cc0000;
          width: 310px;
        }

        .var-code{
          height: 30px;
        }

        .panel01Btn{
          button{
            width: 100px;
            height: 30px;
            color: #fff;
            background-color: #cc0000;
            font-size: 16px;
            border: 0px;
            margin-right: 13px;
            float: left;
          }

          a{
            display: inline-block;
            text-align: center;
            line-height: 30px;
            width: 100px;
            height: 30px;
            color: #fff;
            background-color: #cc9966;
            font-size: 16px;
            border: 0px;
            float: left;
          }

          &:after{
            clear:both;
            content: '';
            display: block;
          }
        }
      }

      .panel02{
        font-size: 14px;
        margin-left: 30px;

        div{
          height: 30px;
          line-height: 30px;
          margin-top: -20px;
          margin-bottom: 19px;

          span{
            color: #cc0000;
          }
        }

        dl{
          width: 688px;
          height: 78px;
          border: 1px solid #cccccc;
          padding-left: 127px;
          padding-right: 23px;
          background: url(~base/images/julien/08.png) no-repeat;
          margin-bottom: 19px;

          dt{
            width: 560px;
            float: left;
            line-height: 78px;
          }

          dd{
            width: 120px;
            float: right;
            line-height: 78px;
            text-align: right;
          }

          &.safety-passwd{
            background-position: 0px -78px;
          }

          &.safety-email{
            background-position: 0px -156px;

            dt{
              line-height: 22px;
              margin-top: 18px;

              span{
                color: #666666;
                font-size: 12px;
              }
            }
          }
        }

        p{
          color: #333333;
          font-size: 14px;

          a{
            color: #0099cc;
            text-decoration: underline;
          }
        }

        button{
          display: inline-block;
          text-align: center;
          line-height: 30px;
          width: 100px;
          height: 30px;
          color: #fff;
          background-color: #cc9966;
          font-size: 16px;
          border: 0px;
        }

        center{
          margin-top: 44px;
          button{
            background-color: #cc0000;
          }
        }
      }

      .panel03{
        padding-left: 111px;
        padding-top: 42px;

        .correct{
          i{
            left: 405px;
          }
        }

        .wrong{
          i{
            left: 405px;
          }

          .messageBox{
            left: 425px;
          }
        }

        dl{
          position: relative;
          height: 30px;
          margin-bottom: 32px;
          
          &:after{
            clear:both;
            content: '';
            display: block;
          }
        }

        dt{
          width: 120px;
          float: left;
          line-height: 30px;
          height: 30px;
          text-align: right;
        }

        dd{
          width: 660px;
          float: left;
        }

        .panel01Btn{
          button{
            width: 100px;
            height: 30px;
            color: #fff;
            background-color: #cc0000;
            font-size: 16px;
            border: 0px;
            margin-right: 13px;
            float: left;

            &.reset{
              background-color: #cc9966;
            }
          }

          a{
            display: inline-block;
            text-align: center;
            line-height: 30px;
            width: 100px;
            height: 30px;
            color: #fff;
            background-color: #cc9966;
            font-size: 16px;
            border: 0px;
            float: left;
          }

          &:after{
            clear:both;
            content: '';
            display: block;
          }
        }

        input{
          width: 256px;
          height: 20px;
          border: 1px solid #cccccc;
          background-color: #f7f7f7;
        }

        p{
          display: block;
          height: 34px;
          line-height: 34px;
        }
      }

      .panel04{
        width: 166px;
        height: 65px;
        padding-left: 113px;
        color: #333333;
        font-size: 14px;
        background: url(~base/images/julien/09.png) no-repeat;
        margin: 110px 0px 0px 240px;

        h1{
          font-size: 18px;
          font-weight: initial;
          margin: 0px;
          line-height: 30px;
        }

        a{
          color: #cc0000;
          text-decoration: underline;
          margin-bottom: 8px;
        }
      }

      .emailFind{
        margin-left: 110px;
        width: 562px;
        font-size: 14px;

        button{
          display: inline-block;
          text-align: center;
          line-height: 30px;
          padding: 0px 20px;
          height: 30px;
          color: #fff;
          background-color: #cc9966;
          font-size: 16px;
          border: 0px;
          margin: 20px 10px 20px 0;

          &.emailFind-black{
            background-color: #cc0000;
          }
        }

        hr{
          border-color: #cccccc;
        }

        h1{
          color: #333333;
          font-size: 18px;
          font-weight: initial;
        }

        h3{
          color: #333333;
          font-size: 14px;
          font-weight: initial;
        }

        span{
          font-size: 12px;
          color: #666666;
        }
      }

      .mask-noShow{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
      }

      .tips{
        margin: 250px auto 0px auto;
        width: 700px;
        box-shadow: 0px 0px 5px #888888;

        .title{
          height: 40px;
          background: url('~base/images/julien/title-bg01.jpg') no-repeat;
          color: #fff;
          font-size: 16px;
          line-height: 40px;
          padding-left: 21px;
          padding-right: 9px;

          b{
            float: right;
            display: block;
            width: 24px;
            height: 24px;
            margin-top: 9px;
            cursor: pointer;
          }
        }

        .tips-content{
          width: 698px;
          height: 167px;
          border: 1px solid #cccccc;
          background-color: #fff;
          text-align: center;
          padding-top: 42px;

          > div{
            position: relative;
            width: 500px;
            text-align: left;
            margin-left: 120px;

            .messageBox{
              top: 7px;
              left: 385px;
            }
            i{
              top: 12px;
              left: 365px;
            }
          }
        }

        hr{
          margin: 30px 17px;
          border-color: #e9e9e9;
        }

        input{
          height: 28px;
          width: 256px;
          border: 1px solid #ccc;
          background-color: #f7f7f7;
        }

        button{
          text-align: center;
          line-height: 30px;
          width: 100px;
          height: 30px;
          color: #fff;
          background-color: #cc9966;
          font-size: 16px;
          border: 0px;
          background-color: #cc0000;
        }
      }
    }

    &:after{
      clear: both;
      content: '';
      display: block;
    }

    .form-group label{
      font-weight: inherit;
    }
  }
}

.correct{
  i{
    position: absolute;
    top: 7px;
    left: 335px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(~base/images/julien/07.png) no-repeat;
  }
}

.messageBox{
  position: absolute;
  top: 2px;
  left: 355px;
  display: none;

  b{
    float: left;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #999999 transparent transparent;
    margin-top: 8px;
  }

  span{
    float: left;
    display: block;
    height: 26px;
    background-color: #999999;
    line-height: 26px;
    padding: 0px 8px;
    border-radius: 3px;
    color: #fff;
  }
}

.wrong{
  i{
    position: absolute;
    top: 7px;
    left: 335px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(~base/images/julien/07.png) no-repeat 0 -16px;
  }

  .messageBox{
    display: block;
  }
}

.mask{
  .emailSendLoading{
    width: 300px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #fff;
    margin: 200px auto 0px auto;
    font-size: 16px;
    font-family: '微软雅黑';
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

a.logo{
  display: block;
  width: 150px;
  height: 83px;
  position: absolute;
  left: 385px;
  top: 20px;
}