<div class="js-ac-noFundPasswordNoticeBar alert m-bottom-sm">
  <!--<i class="fa fa-exclamation-circle font-md"></i>-->
  <span class="sfa sfa-tip-heart vertical-middle m-right-xs"></span>
  温馨提示：请填写需要签约的下级，并设置好签约分红设置值，设置阶段值得下一级段必须大于上一阶段值。
</div>
<form class="js-ac-signed-form ac-signed-form form-horizontal" action="javascript:void(0);">
  <div>
    <div class="control-group">

      <div class="js-ac-sm-sign-username-div inline-block"><span class="">下级用户名：</span>
      <div class="inline-block"><input type="text" class="js-ac-sm-sign-username" name="username" <% if (obj.userData) { %>readonly<% } %>
      value="<%=obj.userData && obj.userData.username %>"
      data-parsley-username required
      data-parsley-remote data-parsley-remote-validator="accheckusername"
      data-parsley-remote-options='{"type": "POST"}'
      required autocomplete="off" />
        <input type="hidden" class="js-ac-sm-sign-userid" />
      </div>
      </div>
      <button type="button" class="js-ac-sm-sign-aa btn btn-hot pull-right btn-linear m-right-sm"><span><span class="sfa sfa-plus"></span>增加分红标准段</span></button>
    </div>

    <div class="js-ac-sm-sign-table ac-sm-sign-table">

    </div>
    <div class="text-center m-top-md">
      <button type="button" class="js-ac-next btn btn-pink btn-linear  p-left-md  p-right-md m-right-md"  data-type="<%=obj.type %>">确定</button>
      <button type="button" class="btn "  data-dismiss="modal">取消</button>
    </div>
  </div>
</form>
<div class="js-ac-verify"></div>

