@charset "UTF-8";

@import "~base/styles/imports";

.team-profile {
  padding-top:25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  .team-logo {
    float: left;
    margin-top: 7px;
    margin-left: 35px;
    margin-right: 65px;
  }
  .team-details {
    float: left;
  }
}

