@charset "UTF-8";

@import
"~base/styles/imports";
.footer {
  position: relative;
  .footer-main {
    background: #242424;
    padding: 10px 0;
    font-size: $font-sm;
    text-align: center;
  }
  .footer-inner {
    background: #1b2121;
    text-align: center;
    padding: 12px 0;
    color: $footer-gray;
  }

  .footer-list {
    display: inline-block;
    margin-right: 70px;
  }
  .footer-item {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: $footer-gray;

    .sfa {
      display: block;
      margin: 0 auto 5px;
    }
    &:hover {
      color: #f44343;

      .sfa-f-link-test {
        @include sprite($sfa-f-link-test-a);
      }
      .sfa-f-feedback {
        @include sprite($sfa-f-feedback-a);
      }
      .sfa-f-help {
        @include sprite($sfa-f-help-a);
      }
      .sfa-f-phone {
        @include sprite($sfa-f-phone-a);
      }
      .sfa-f-intro {
        @include sprite($sfa-f-intro-a);
      }
    }
  }

  .footer-certificate {
    display: inline-block;
    color: $footer-gray;
    margin-right: 70px;
    background: #242424;
    isolation: isolate;
    .footer-cert-text {
      display: inline-block;
      width: 40px;
      vertical-align: top;
      margin-right: 10px;
    }
    .footer-certificate-img {
      mix-blend-mode: lighten;
    }
  }

  .footer-code {
    display: inline-block;
    color: $footer-gray;
    vertical-align: top;
    text-align: left;
    position: relative;
    .footer-qrcode {
      margin-right: 10px;
      height: 50px;
      width: 50px;
    }
    .footer-qr-title {
      font-size: 13px;
      color: #bcbcbc;
      line-height: 30px;
      text-align: center;
    }
    .footer-qr-content {
      font-size: $font-xs;
    }
    .footer-qrcode-big{
      position: absolute;
      width: 100px;
      height: 100px;
      left: -28px;
      top: -101px;
      z-index: 9999;
      border: 1px solid #bf6d8f;
    }

  }

}
.footer-feedback-body{
  width: 880px!important;
  margin-left: -440px!important;
  .footer-feedback-model-body {
    .footer-feedback-body-title {
      margin-bottom: 5px;
    }
    .footer-ft-content {
      width: 425px;
      height: 150px;
      border: solid 1px #cccfcf;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .footer-ft-content-title {
      margin-top: 5px;
      vertical-align: top;
    }
    .footer-ft-code {
      width: 100px;
    }
    .footer-feedback-body-code-line {
      margin-bottom: 50px;
      position: relative;

    }
    .wrong{
      i{
        position: absolute;
        top: 7px;
        left: 510px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(~base/images/julien/07.png) no-repeat 0 -16px;
      }


    }
    .correct{
      i{
        position: absolute;
        top: 7px;
        left: 510px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(~base/images/julien/07.png) no-repeat;
      }
    }
  }



  .footer-feedback-body-left{
    width: 280px;
    display: inline-block;
  }
    .footer-feedback-body-right{
      display: inline-block;
      .footer-feedback-body-type{
        width: 214px;
      }
      .footer-feedback-body-type-title{
        width: 200px
      }
      .var-code{
        width: 100px;
        height: 26px;
      }
      .footer-feedback-body-left-word{
        margin-left: 115px;
        float: right;
      }
    }
    .footer-feedback-body-des{
      color:#999;
      margin-left: 10px;
    }
  }
