@charset "UTF-8";

@import
"~base/styles/imports";

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  color: $font-light;
  line-height: 30px;
  z-index: 100;

  .footer-inner {
    padding: 10px 0 10px;
    background: black;
    height: 30px;
    text-align: center;

  }
  .footer-lists {
    text-align: center;
  }
  .footer-list {
    display: inline-block;
    width: 75px;
    a {
      color: $font-inverse;
    }
  }
  .footer-icons {
    margin-bottom: 10px;
    .footer-list {
      width: 90px;
    }
  }

  .popover {
    top: -86px!important;
  }

  .popover .popover-content {
    background-color: #343434;
    border-radius: 6px;

    .footer-popover {
      width: 97px;
      height: 97px;
      color: $color-sunshine;

      h5 {
        font-size: 18px;
        font-weight: normal;
        margin: 35px 10px;
      }
    }
  }

  .popover.top .arrow {
    border-top-color: #343434;
  }

  .popover.top .arrow:after {
    border-top-color: #343434;
  }


}

@media (min-height: 930px) {
  .footer {
    display: block;
  }
}

.footer-banner{
  height: 70px;
  background-color: #ffffff;

  .vessel{
    width: 1200px;
    margin: 0px auto;
    height: 68px;
    background: url(~base/images/julien/flootbanner.jpg) no-repeat;
    text-align: center;

    img{
      margin: 10px 32px;
    }
  }
}