@charset "UTF-8";

@import
"~base/styles/imports";
.footer {
  position: relative;
  .footer-main {
    background: #242424;
    padding: 10px 0;
    font-size: $font-sm;
    text-align: center;
  }
  .footer-inner {
    background: #1b2121;
    text-align: center;
    padding: 12px 0;
    color: $footer-gray;
  }

  .footer-list {
    display: inline-block;
    margin-right: 70px;
  }
  .footer-item {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: $footer-gray;

    .sfa {
      display: block;
      margin: 0 auto 5px;
    }
    &:hover {
      color: #f44343;

      .sfa-f-link-test {
        @include sprite($sfa-f-link-test-a);
      }
      .sfa-f-feedback {
        @include sprite($sfa-f-feedback-a);
      }
      .sfa-f-help {
        @include sprite($sfa-f-help-a);
      }
      .sfa-f-phone {
        @include sprite($sfa-f-phone-a);
      }
      .sfa-f-intro {
        @include sprite($sfa-f-intro-a);
      }
    }
  }

  .footer-certificate {
    display: inline-block;
    color: $footer-gray;
    margin-right: 70px;
    background: #242424;
    isolation: isolate;
    .footer-cert-text {
      display: inline-block;
      width: 40px;
      vertical-align: top;
      margin-right: 10px;
    }
    .footer-certificate-img {
      mix-blend-mode: lighten;
    }
  }

  .footer-code {
    display: inline-block;
    color: $footer-gray;
    vertical-align: top;
    text-align: left;
    position: relative;
    .footer-qrcode {
      margin-right: 10px;
      height: 50px;
      width: 50px;
    }
    .footer-qr-title {
      font-size: 13px;
      color: #bcbcbc;
      line-height: 30px;
      text-align: center;
    }
    .footer-qr-content {
      font-size: $font-xs;
    }
    .footer-qrcode-big{
      position: absolute;
      width: 100px;
      height: 100px;
      left: -28px;
      top: -101px;
      z-index: 9999;
      border: 1px solid #bf6d8f;
    }
  }
}
