@charset "UTF-8";

@import
"~base/styles/imports";

body{
	background: none;
}

.investment{
	overflow:hidden;
	position: relative;

	.menu{
		position: absolute;
		ul{
			position: relative;
			li{
				width: 71px;
				height: 60px;
				border-radius: 71px;
				color: #fff;
				background-color: #6f251d;
				list-style: none;
				font-size: 18px;
				text-align: center;
				padding-top: 11px;
				position: absolute;
				cursor: pointer;
				right: 0px;
			}
		}
	}

	img{
		position: absolute;
	}
	span{
		position: absolute;
		display: block;
	}

	.page1{
		background: url(1_bg.jpg);

		position: relative;
		/* 背景图垂直、水平均居中 */
		background-position: center center;

		/* 背景图不平铺 */
		background-repeat: no-repeat;

		/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
		background-attachment: fixed;

		/* 让背景图基于容器大小伸缩 */
		background-size: cover;

		span{
			color: #fff;
			max-width: 907px;
			font-size: 16px;
			line-height: 30px;
		}
	}

	.page2{
		background: url(2_bg.jpg);

		position: relative;
		/* 背景图垂直、水平均居中 */
		background-position: center center;

		/* 背景图不平铺 */
		background-repeat: no-repeat;

		/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
		background-attachment: fixed;

		/* 让背景图基于容器大小伸缩 */
		background-size: cover;

		>div{
			position: absolute;
			border-radius: 5px;
			color: #fff;
			text-align: center;
			cursor: pointer;

			i{
				margin-top: 15%;
				margin-bottom: 5%;
				display: block;
				width: 50px;
				height: 50px;
				overflow:hidden;
			}

			h3{
				font-size: 24px;
				padding: 0px;
				margin: 0px;
				font-weight: normal;

				&.h3center{
					float: none;
					text-align: center;
				}
			}

			span{
				opacity: 0;
				font-size: 16px;
				line-height: 30px;
				margin: 20px 3% 0 4%;
				display: block;
				text-align: left;
			}

			hr{
				border-top: 0px;
				border-bottom: 1px solid #fff;
				opacity: 0.6;
				margin: 0 0 0 4%;
				padding-top: 5%;
				width: 3%;
			}
		}

		.content1-2{
			background-color: #c14d81;
			i{
				background: url(2_icon1.png) no-repeat;
				background-position: center center;
				margin-top: 15%;
				margin-bottom: 5%;
				display: inline-block;
				width: 50px;
				height: 50px;
			}
		}

		.content2-2{
			background-color: #cea452;
			i{
				background: url(2_icon2.png) no-repeat;
				background-position: center center;
				margin-top: 15%;
				margin-bottom: 5%;
				display: inline-block;
				width: 50px;
				height: 50px;
			}
		}

		.content3-2{
			background-color: #4da7c1;
			i{
				background: url(2_icon3.png) no-repeat;
				background-position: center center;
				margin-top: 15%;
				margin-bottom: 5%;
				display: inline-block;
				width: 50px;
				height: 50px;
			}
		}

		.content4-2{
			background-color: #bb58b1;
			i{
				background: url(2_icon4.png) no-repeat;
				background-position: center center;
				margin-top: 15%;
				margin-bottom: 5%;
				display: inline-block;
				width: 50px;
				height: 50px;
			}
		}
	}

	.page3{
		background: url(3_bg.jpg);

		position: relative;
		/* 背景图垂直、水平均居中 */
		background-position: center center;

		/* 背景图不平铺 */
		background-repeat: no-repeat;

		/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
		background-attachment: fixed;

		/* 让背景图基于容器大小伸缩 */
		background-size: cover;

		span{
			color: #fff;
			font-size: 14px;
			line-height: 30px;
		}

		.page3bottom{
			position: absolute;
			text-align: center;
			overflow:hidden;
			color: #97d2e1;
			font-size: 14px;

			h3{
				font-size: 24px;
				color: #e8ff56;
				margin: 0px;
				padding: 0px;
				font-weight: normal;
			}

			.page3leftLine{
				width: 50%;
				border-bottom: 2px solid #4a95a8;
				position: absolute;
				left: -70px;
				top: 15px;

				&:after{
					content:'';
					display: block;
					width: 10px;
					height: 11px;
					background-color: #4a95a8;
					margin-right: -5px;
					float: right;
					border-radius: 10px;
					margin-bottom: -6px;
				}
			}

			.page3rightLine{
				width: 50%;
				border-bottom: 2px solid #4a95a8;
				position: absolute;
				right: -70px;
				top: 15px;

				&:after{
					content:'';
					display: block;
					width: 10px;
					height: 11px;
					background-color: #4a95a8;
					margin-left: -5px;
					float: left;
					border-radius: 10px;
					margin-bottom: -6px;
				}
			}

			ul{
				margin-top: 20px;
				li{
					width: 33%;
					height: 90px;
					background:url(3_icon6.png) no-repeat left;
					float: left;
					text-align: left;
					list-style: none;

					h3{
						font-size: 18px;
						color: #fff;
						padding: 0px;
						margin: 0px;
						font-weight: normal;
						display: block;
						margin-left: 70px;
					}

					span{
						line-height: 20px;
						display: block;
						margin-left: 70px;
						color: #97d2e1;
						font-size: 14px;
					}

					&:first-child{
						background:url(3_icon5.png) no-repeat left;
					}

					&:last-child{
						background:url(3_icon7.png) no-repeat left;
					}
				}
			}
		}
	}

	.page4{
		background: url(4_bg.jpg);

		position: relative;
		/* 背景图垂直、水平均居中 */
		background-position: center center;

		/* 背景图不平铺 */
		background-repeat: no-repeat;

		/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
		background-attachment: fixed;

		/* 让背景图基于容器大小伸缩 */
		background-size: cover;
	}

	.page5{
		background: url(5_bg.jpg);

		position: relative;
		/* 背景图垂直、水平均居中 */
		background-position: center center;

		/* 背景图不平铺 */
		background-repeat: no-repeat;

		/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
		background-attachment: fixed;

		/* 让背景图基于容器大小伸缩 */
		background-size: cover;

		.page5left{
			text-align: right;
			color: #fff;
			float: left;
			width: 48%;
			margin-right: 100px;

			h1{
				padding: 0px;
				margin: 0px;
				font-size: 48px;
				margin-top: 10%;
				font-weight: normal;
			}

			h4{
				padding: 0px;
				margin: 0px;
				font-size: 24px;
				margin-bottom: 14%;
				color: #e3a1a1;
				font-weight: normal;
				margin-top: 14px;
			}

			p{
				font-size: 16px;
				margin-right: 20px;
				margin-bottom: 10%;

				&.p2{
					margin-right: 60px;
				}

				&.p3{
					margin-right: 100px;
				}

				&.p4{
					margin-right: 140px;
				}

				&.p5{
					margin-right: 180px;
				}
			}
		}
		.page5right{
			color: #333333;
			font-size: 12px;
			float: left;
			width: 427px;
			position: absolute;

			h2{
				color: #333333;
				font-size: 36px;
				padding: 0px;
				margin: 0px;
				font-weight: normal;
				
			}

			h3{
				color: #999999;
				font-size: 24px;
				padding: 0px;
				margin: 0px;
				font-weight: normal;
				margin-top: 10px;
			}

			dl.page5list{
				border: 1px solid #ccc;
				border-right: 0px;
				border-left: 0px;
				display: block;
				font-family: 'Bernard MT Condensed';
				font-size: 48px;
				color: #cccccc;
				margin-top: 30px;
				height: 120px;
				padding-top: 60px;
				margin-bottom: 20px;


				dt{
				    width: 80px;
				    float: left;
				    display: block;
				    text-align: center;

					&:first-child{
						color:#cc3333;
					}

					span{
						color: #666666;
						font-size: 14px;
						font-family: '微软雅黑';
						margin-top: 20px;
						position: static;
					}
				}

				dd{
					float: left;
					text-align: center;
				    display: block;
					width: 30px;
					font-family: cursive;
				}

				&:after{
					content: '';
					clear: both;
					display: block;
				}
			}

			.page5tips{
				color: #cc3333;
				font-size: 14px;
				margin-bottom: 25px;
			}

			dl.page5inputlist{
				height: 50px;
				display: block;
				dt{
					width: 75px;
					margin-right: 10px;
					text-align: right;
				}
				dd{
					input{
						background-color: #f0f0f0;
						border:1px solid #cccccc;
						margin-right: 5px;
					}

					.page5submit{
						width: 78px;
						height: 28px;
						line-height: 28px;
						font-size: 13px;
						color: #fff;
						background-color: #d95993;
						background-image:-webkit-linear-gradient(270deg, #d95993, #c34e82);
   						background-image:linear-gradient(270deg,#d95993,#c34e82);
   						text-align: center;
   						cursor: pointer;
					}

					span{
						display: inline-block;
						margin-right: 5px;
						position: static;
					}

					b.tips{
						font-weight: normal;
						color: #cc3333;
						display: inline-block;
					}
				}
			}
		}
	}
}

@media screen and (max-height: 900px) {
	.investment{
		.page3{
			span{
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.menu{
		display: none;
	}

	.investment{
		.page1{
			span{
				font-size: 12px;
			}
			.aboutUs{
				display: none;
			}
		}

		.page2{
			> div{
				hr{
					clear: both;
				}

				span{
					font-size: 14px;
					line-height: 20px;
				}
			}

			.content1-2{
				text-align: left;
				i{
					margin-top: 6%;
				    margin-left: 8%;
				    float: left;
				    margin-right: 13%;
				}

				h3{
					float: left;
					margin-top: 8%;
				   
				}
			}

			.content2-2{
				text-align: left;
				i{
					margin-top: 6%;
				    margin-left: 8%;
				    float: left;
				    margin-right: 13%;
				}

				h3{
					float: left;
					margin-top: 8%;
				   
				}
			}

			.content3-2{
				text-align: left;
				i{
					margin-top: 6%;
				    margin-left: 8%;
				    float: left;
				    margin-right: 13%;
				}

				h3{
					float: left;
					margin-top: 8%;
				   
				}
			}

			.content4-2{
				text-align: left;
				i{
					margin-top: 6%;
				    margin-left: 8%;
				    float: left;
				    margin-right: 13%;
				}

				h3{
					float: left;
					margin-top: 8%;
				   
				}
			}
		}

		.page3{
			.page3bottom{
				display: none;
			}

			span{
				line-height: 24px;
			}
		}

		.page5{
			background: none;

			.page5left{
				display: none;
			}

			.page5right{
				width: 350px;
				h3{
					font-size: 18px;
					display: none;
				}

				dl.page5list{
				    height: 100px;
				    padding-top: 30px;
				    margin-bottom: 20px;
				    margin-top: 10px;
				    font-size: 36px;

				    dt{
				    	width: 65px;
				    	span{
				    		font-size: 12px;
				    	}
				    }
				    
				}

				dl.page5inputlist{
					height: 45px;
				}

				dl.icheck{
					height: 70px;

					dd{
				    	margin-top: 10px;
				    }
				}

			}
		}
	}
}