@charset "UTF-8";

@import "~base/styles/imports";

.inside-letter {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 200px;
  z-index: 10;
  background-color: $white-color;
  border: 1px solid $gray-color;
  border-radius: $globalBoxRadius;
  font-size: 12px;

  .titleLine {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;

    .letter-caret {
      display: block;
      width: 20px;
      height: 20px;
      margin-top: 5px;
      position: relative;
      float: right;
      background: $gray-color;
      border-radius: 10px;

      &:after {
        content: '';
        display: block;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $white-color transparent;
        width: 0;
        height: 0;
        border-width: 5px;
        position: absolute;
        top: 2px;
        left: 5px;
      }
    }
  }

  &.open {
    .titleLine {
      .letter-caret {
        &:after {
          border-style: solid dashed dashed dashed;
          border-color: $white-color transparent transparent transparent;
          top: 8px;
        }
      }
    }

    .inside-letter-select-user {
      height: 438px;
    }
  }

  .inside-letter-select-user {
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease-out;
  }

  .chat-content {
    padding: 5px 10px;
    height: 245px;
    overflow-y: auto;

    ul {
      li {
        b {
          border-width: 5px;
          margin-top: 10px;
          position: absolute;
        }
      }
    }
  }
}

.low-multi-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.chat-box {
  .chat-user-list {
    width: 128px;
    height: 340px;
    overflow: auto;
    float: left;
    background-color: #cb6798;
    border-right: 1px solid $pink-color;
  }

  .chat-user {
    display: block;
    padding: 8px 8px;
    margin: 5px;
    font-size: $font-sm;
    line-height: 30px;
    color: $gray-color;
    border-radius: $globalBoxRadius;

    &.active {
      color: $white-color;
      background: #da86b7;
    }
    &.new-msg {
      background: #b85787;
    }
  }
  .chat-username {
    vertical-align: bottom;
    width: 50px;
    display: inline-block;
    overflow: hidden;
  }

  .chat-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .chat-box-main {
    background-color: $white-color;
  }

  .chat-input-bar {
    border-top: 1px solid $gray-color;
    padding: 5px 0 5px 5px;
    background-image: linear-gradient(to bottom, $white-color, #f8f8f8);

    .chat-exp-pack {
      width: 35px;
      height: 35px;
      background: url(~base/images/face/14.png) no-repeat;
      background-size: 100%;
      position: relative;
      display: inline-block;
      vertical-align: middle;

    }

    .chat-exp-pack-inner {
      position: absolute;
      top: -88px;
      left: -1px;
      width: 369px;
      height: 81px;
      border: 1px solid $gray-color;
      border-right: 0;
      border-bottom: 0;
      background-color: $white-color;
    }

    .chat-exp {
      width: 40px;
      height: 40px;
      border: 1px solid $gray-color;
      border-left: 0;
      border-top: 0;
      float: left;
    }

    .chat-input {
      width: 222px;
      height: 18px;
      margin-right: 6px;
      &.chat-input-lg {
        width: 495px;
      }
    }

    .chat-statistics {
      display: inline-block;
      vertical-align: bottom;
      margin: 15px 5px 0 0;
      float: right;
      color: $gray-color;
    }
  }
}


.chat-exp {
  background-size: 100%;

  @for $i from 1 through 18 {
    &.face-#{$i} {
      background-image: url(~base/images/face/#{$i}.png);
    }
  }
}

.single-letter {
  .chat-box {
    width: 548px;
    height: 340px;
    left: -570px;
    bottom: 0;
    border: 1px solid $gray-color;
    position: absolute;
    border-radius: $globalBoxRadius;
    overflow: hidden;

    .chat-box-main {
      width: 419px;
      height: 338px;
      float: left;
    }

    .chat-current-title {
      height: 38px;
      line-height: 38px;
      padding: 0 5px 0 10px;
      font-size: $font-sm;
      border-bottom: 1px solid $gray-color;
      background: linear-gradient(to bottom, #ffffff, #f8f8f8);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

      .chat-close {
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: block;
        background-color: $gray-color;
        border-radius: 20px;
        color: $white-color;
        font-style: normal;
        font-size: $font-xs;
        float: right;
        text-align: center;
        font-family: cursive;
        margin-top: 7px;
        cursor: pointer;

        &:hover {
          color: $color-amber;
        }
      }
    }
  }

  .tree-view {
    height: 342px;
    overflow: auto;
  }
}

.group-letter {
  .inside-letter-select-user {
    float: left;
    width: 290px;
  }

  .low-multi-append-container {
    border: 1px solid $gray-color;
    border-radius: $globalBoxRadius;
    margin-bottom: 13px;
    background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
  }

  .low-multi-append {
    width: 100%;
    margin: 6px 10px;
  }

  .pf-select-container {
    border: 1px solid $gray-color;
    border-radius: $globalBoxRadius;
    overflow: hidden;
  }

  .chat-box {
    width: 690px;
    float: right;
    overflow: hidden;
  }

  .tree-view {
    height: 438px;
    overflow: auto;
  }


  .chat-current-title {
    border: 1px solid $gray-color;
    border-radius: $globalBoxRadius;
    min-height: 38px;
    line-height: 38px;
    padding: 0 5px 0 10px;
    margin-bottom: 13px;
    background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
  }

  .chat-detail-form {
    border: 1px solid $gray-color;
    border-radius: $globalBoxRadius;
    overflow: hidden;
  }

  .chat-content {
    padding: 15px;
    height: 392px;
    overflow-y: auto;
    background: #f5f5f5;
  }

}
