@charset "UTF-8";

@import
"~base/styles/imports";
.nc-panel {
  padding: 10px 20px;
}

.nc-ilSend-container {

  .letter-type-btn {
    width: 65px;
    height: 20px;
    font-size: 14px;
    color: $light-dark-color;
    border: 1px solid $gray-color;
    padding: 10px 20px;
    cursor: pointer;

    &.active {
      background-color: $color-deep-gray;
    }
  }

  .nc-ilSend-sendTo-list {
    display: inline-block;
    height: 462px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
  }

  .nc-ilSend-sendTo-content {
    margin-top: 106px;
    display: inline-block;
    width: 70%;
    height: 300px;
  }

  .nc-chat {

    .nc-chat-container {
      color: $dark-color;
      border-bottom: 1px solid $gray-color;
      height: 200px;
      overflow: auto;
      padding: 10px;
    }

    textarea {
      height: 60px;
      border: 0;
      resize: none;
    }

    .nc-chat-title {
      position: absolute;
      top: 20px;
      font-size: 15px;
    }


  }
}


.julien-send-info{
  margin-left: 8px;
  width: 679px;
  height: 55px;
  line-height: 55px;
  background-image:-webkit-linear-gradient(180deg, #fff, #cccccc);
  background-image:linear-gradient(180deg,#fff,#cccccc);
  font-family: '微软雅黑';
  position: absolute;
  bottom: 10px;
  z-index: 3;

  i{
    width: 30px;
    height: 30px;
    background: url(~base/images/julien/27.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    margin-right: 12px;
    cursor: pointer;
  }

  input{
    width: 457px;
    color: #999999;
    font-size: 14px;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 5px;
    outline:none;
  }

  button{
    height: 31px;
    line-height: 31px;
    width: 65px;
    background-color: #339933;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    margin: 0px 8px 0px 5px;
    border: 0px;
    padding: 0px;
    outline: none;
  }

  span{
    display: inline-block;
    vertical-align: middle;
    color: #666666;
  }
}

.nc-ilSend-container{
  .julien-info-window{
    position: relative;
    height: 376px;
    overflow-y: scroll;
  }

  .border-cat{
    position: absolute;
    right: 27px;
    bottom: 75px;
    border: 1px solid #d2d2d2;
    width: 676px;
    height: 299px;
    z-index: 2;
  }

  .bottom-bg{
    position: absolute;
    bottom: 0px;
    right: 20px;
    height: 80px;
    background: url(~base/images/julien/modal-lg-julien-bg.jpg) no-repeat -223px -345px;
    width: 678px;
  }
}


.chat-content{
  font-family: '微软雅黑';
  font-size: 14px;
  padding: 15px 20px 100px 20px;
  &:after{
    content:'';
    clear: both;
    display: block;
  }

  ul{
    li{
      clear: both;
      float: left;

      b{
        float: left;
        display: block;
        width: 0;
        height: 0;
        border-width: 6px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #999999 transparent transparent;
        margin-top: 14px;
      }

      span{
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
        border:1px solid #b5b5b5;
        display: inline-block;
        margin-bottom: 5px;
        float: left;
      }

      i{
        display: block;
        width: 38px;
        height: 38px;
        margin-right: 4px;
        float: left;
      }
      
      &.tips{
        float: right;
        span{
          border-color: #e60012;
          color: #e60012;
          background-color: #fff;
        }
      }

      &.me{
        span{
          background-color: #99cc33;
          border: 0px;
        }
        b{
          border-color: transparent #99cc33 transparent transparent;
        }
      }

      &.other{
        float: right;
        position: relative;

        span{
          background-color: #fff;
        }

        div{
          float: right;

          b{
            border-style: dashed dashed dashed solid;
            border-color: transparent transparent transparent #b5b5b5;

            &.b2{
              position: absolute;
              right: 44px;
              border-color: transparent transparent transparent #fff;
            }
          }
        }

        i{
          float: right;
        }
      }
    }
  }
}

