<!--<div class="panel padding-md">-->
  <div class="form-group form-inline">
    <label class="col-sm-3 control-label">选择用户级别：</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-sm-9">
      <div  class="form-group form-inline no-m-left no-padding-l ">
        <div class="col-sm-12 border-bottom ">
          <label>
           <input type="checkbox" class="js-pf-allUser" value="0">全部用户
           </label>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-sm-12">
          <label>
          <input type="checkbox" class="js-pf-userLevel" id="level0" name="rebateLevel" value="0" data-parsley-mincheck="1" required><lable class="">13.0（总代）</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;
          <label>
            <input type="checkbox" class="js-pf-userLevel" id="level1" name="rebateLevel"  value="1" ><lable class="">13.0（平级总代）</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;

          <label>
            <input type="checkbox" class="js-pf-userLevel" id="level2" name="rebateLevel"  value="2" ><lable class="" >12.8</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;
          <label>
            <input type="checkbox" class="js-pf-userLevel" id="level3" name="rebateLevel"  value="3" ><lable class="" >12.7</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;

          <label>
            <input type="checkbox" class="js-pf-userLevel" id="level4" name="rebateLevel"  value="4" ><lable class="">12.6</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;
          <label>
            <input type="checkbox" class="js-pf-userLevel" id="level5" name="rebateLevel"  value="5" ><lable class="">12.5</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;

          <label>
            <input type="checkbox" class="js-pf-userLevel" id="level6" name="rebateLevel"  value="6" ><lable class="">12.5以下</lable> </label>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

      </div>
    </div>
  </div>

<!--</div>-->


