<!--<div class="panel padding-md">-->
<div class="form-group form-inline">
  <label class="col-sm-3 control-label" style="margin-top:18px;">选择用户级别：</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-sm-9">
    <div  class="form-group form-inline no-padding-l ">
      <div class="col-sm-12">
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-allUser" value="0">全部用户
        </label>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level0" name="rebateLevel" value="0" data-parsley-mincheck="1" required>招商号</label>&nbsp;&nbsp;&nbsp;
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level1" name="rebateLevel"  value="1" >直属号</label>&nbsp;&nbsp;&nbsp;&nbsp;

        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level2" name="rebateLevel"  value="2" >总代</label>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-sm-12" style="margin-top: 5px;">
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level3" name="rebateLevel"  value="3" >平级12.8</label>

        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level4" name="rebateLevel"  value="4" >代理12.7</label>
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level5" name="rebateLevel"  value="5" >平级12.7</label>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level6" name="rebateLevel"  value="6" >代理12.6</label>
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level7" name="rebateLevel"  value="7" >平级12.6</label>
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level8" name="rebateLevel"  value="8" >代理12.5</label>
        </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <label class="checkbox-inline">

          <input type="checkbox" class="js-pf-userLevel" id="level9" name="rebateLevel"  value="9" >平级12.5</label>
        <label class="checkbox-inline">
          <input type="checkbox" class="js-pf-userLevel" id="level10" name="rebateLevel"  value="10" >12.5以下</label>
      </div>

    </div>
  </div>
</div>

<!--</div>-->


