@charset "UTF-8";

@import
"~base/styles/imports";

$pg-filter: 5px !default;

$pg-item: (
        color: $font-color,
        bg-color: linear-gradient(to bottom, #ffc233, #f2a701),
        hover-color: $font-color,
        bg-hover-color: linear-gradient(to bottom, #ffc233, #f2a701),
        active-color: $font-default,
        bg-active-color: $color-pleasant,
        disabled-color: #666666,
        disabled-bg: linear-gradient(to bottom, #f0f0f0, #e0e0e0),
        disabled-border: $gray-color
);

.pagination {
  margin: 0;
  ul {
    display: inline-block;
    *display: inline;
    margin-right: 20px;
    *zoom: 1;
    > {
      li {
        display: inline-block;
        margin-left: $pg-filter;
        > {
          span {
            padding: 3px 10px;
            border: 1px solid #666666;
            line-height: 15px;
            display: inline-block;
            cursor: pointer;

            background: map_get($pg-item, bg-color);
            color: map_get($pg-item, color);
            &:hover, &:focus {
              background-color: map_get($pg-item, bg-hover-color);
              color: map_get($pg-item, hover-color);
            }
          }
        }
      }
      .active > {
        span {
          background: map_get($pg-item, bg-active-color);
          color: map_get($pg-item, active-color);
          //cursor: default;
        }
      }
      .disabled > {
        span {
          background: map_get($pg-item, disabled-bg);
          color: map_get($pg-item, disabled-color);
          cursor: default;
          border-color: map_get($pg-item, disabled-border);

          &:hover, &:focus {
            background: map_get($pg-item, disabled-bg);
            color: map_get($pg-item, disabled-color);
          }
        }
      }
    }
  }

  >.active {
    > span,
    > span:focus,
    > span:hover {
      background-color: #1bbb9e;
      border: 1px solid #05b499;
    }
  }
  .pagination-curt-page {
    height: 24px;
    line-height: 24px;
    background-color: #f8f8f8;
    width: 34px;
    text-align: center;
    color: #cc6698;
    padding: 0px;
    border-radius: 3px;
  }

  //.pagination-go-to {
  //  border: 1px solid #ba537e;
  //  width: 46px;
  //  height: 24px;
  //  line-height: 18px;
  //  background-color: #d21e1d;
  //  color: #fff;
  //  font-size: 12px;
  //  font-family: '微软雅黑';
  //  padding: 0px;
  //  border-radius: 3px;
  //
  //  background-color: #ca6496;
  //  background-image:-webkit-linear-gradient(180deg, #ca6496, #b54d7e);
  //  background-image:linear-gradient(180deg, #ca6496, #b54d7e);
  //
  //  &:hover{
  //    background-color: #b54d7e;
  //    background-image:-webkit-linear-gradient(180deg, #b54d7e, #ca6496);
  //    background-image:linear-gradient(180deg, #b54d7e, #ca6496);
  //  }
  //}
}

.pagination ul > li > span{
  height: 24px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 12px;
  font-family: 'Arial';
  padding: 0px 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #666;
  border-radius: 3px;

  &:hover{
    border: 1px solid #cc6698;
    color: #cc6698;
  }
}

.pagination ul > .active > span{
  height: 24px;
  width: 24px;
  line-height: 24px;
  background: #cc6698;
  border: 1px solid #cc6698;
  font-size: 12px;
  font-family: 'Arial';
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.pagination ul > .active > span:hover{
  color: #fff;
}

.pagination ul > .disabled > span{
  height: 24px;
  width: 54px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 10px;
  font-family: 'Arial';
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #ccc;
  border-radius: 3px;
  cursor: default;
  &:hover{
    background:none;
    color: #ccc;
  }
}

.wt-pagination{
  margin-top: 15px;
}