@charset "UTF-8";

@import
"~base/styles/imports";

$pg-filter: 5px !default;

$pg-item: (
  color: $font-color,
  bg-color: linear-gradient(to bottom, #ffc233, #f2a701),
  hover-color: $font-color,
  bg-hover-color: linear-gradient(to bottom, #ffc233, #f2a701),
  active-color: $font-default,
  bg-active-color: $color-pleasant,
  disabled-color: #666666,
  disabled-bg: linear-gradient(to bottom, #f0f0f0, #e0e0e0),
  disabled-border: $gray-color
);

.pagination {
  margin: 0;
  ul {
    display: inline-block;
    *display: inline;
    margin-right: 20px;
    *zoom: 1;
    > {
      li {
        display: inline-block;
        margin-left: $pg-filter;
        > {
          span {
            padding: 3px 10px;
            border: 1px solid #666666;
            line-height: 15px;
            display: inline-block;
            cursor: pointer;

            background: map_get($pg-item, bg-color);
            color: map_get($pg-item, color);
            &:hover, &:focus {
              background-color: map_get($pg-item, bg-hover-color);
              color: map_get($pg-item, hover-color);
            }
          }
        }
      }
      .active > {
        span {
          background: map_get($pg-item, bg-active-color);
          color: map_get($pg-item, active-color);
          //cursor: default;
        }
      }
      .disabled > {
        span {
          background: map_get($pg-item, disabled-bg);
          color: map_get($pg-item, disabled-color);
          cursor: default;
          border-color: map_get($pg-item, disabled-border);

          &:hover, &:focus {
            background: map_get($pg-item, disabled-bg);
            color: map_get($pg-item, disabled-color);
          }
        }
      }
    }
  }

  >.active {
    > span,
    > span:focus,
    > span:hover {
      background-color: #1bbb9e;
      border: 1px solid #05b499;
    }
  }
  .pagination-curt-page {
    height: 26px;
    line-height: 26px;
    background-color: #fff;
    width: 29px;
    text-align: center;
    color: #d41f18;
    padding: 0px;
  }

  .pagination-go-to {
    border: 1px solid #cac9c7;
    width: 46px;
    height: 27px;
    background-color: #d21e1d;
    color: #fff;
    font-size: 14px;
    font-family: '微软雅黑';
    padding: 0px;
    margin-right: 10px;
  }
}

.pagination ul > li > span{
  height: 27px;
  width: 27px;
  line-height: 26px;
  background: #fff;
  border: 1px solid #c9c9c9;
  font-size: 12px;
  font-family: 'Arial';
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #42424e;
}

.pagination ul > .active > span{
  height: 27px;
  width: 27px;
  line-height: 26px;
  background: #d91d1c;
  border: 1px solid #c9c9c9;
  font-size: 12px;
  font-family: 'Arial';
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.pagination ul > .active > span:hover{
  color: #fff;
}

.pagination ul > .disabled > span{
  height: 26px;
  width: 38px;
  line-height: 26px;
  background: #eeefea;
  border: 1px solid #c9c9c9;
  font-size: 10px;
  font-family: 'Arial';
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #656269;
}