@import
"src/base/styles/imports";

.low-multi-select {
  width: 900px;
  height: 320px;
  $bgColor: $gray-color;
  overflow: hidden;
  border: 1px solid $gray-color;
  margin: 20px;

  .low-multi-select-main {
    width: 330px;
    height: 300px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;


    .pf-select-container {
      height: 270px;
      overflow: auto;
    }
  }

  .low-multi-search-area {
    margin: 10px 15px;
  }

  .low-multi-select-go-to {
    //margin-top: 10px;
    width: 180px;
    height: 300px;
    //display: inline-block;
    //text-align: center;
    //line-height: 300px;
    //vertical-align: top;
    border-left: 2px solid #e2e2e2;
    border-right: 2px solid #e2e2e2;
  }

  .low-multi-selected {
    width: 330px;
    height: 300px;
    padding: 10px;
    //background-color: $bgColor;
    display: inline-block;
    overflow: auto;
  }

  .tree-view {
    >ul{
      //background-color: orange;
    }
    >ul li a {
      color: $dark-color;
    }
  }
  .selected-user {
    color: $color-pleasant;
  }

  .selectAll-btn {
    width: 60px;
    display: inline-block;
  }
}

.low-multi-search {
  width: 250px;
  margin-bottom: 10px;
}

.online-tip {
  margin-right: 5px;
  margin-left: -12px;
}

.low-multi-transfor-object{
  position: relative;
  line-height: 30px;
  text-align: right;
  width: 160px;
  height: 30px;
}

.low-multi-transfor-image{
  margin-top: -40px;
}