@import
"src/base/styles/imports";

.low-multi-select{
  .pf-input-search-user {
    background: #ededed;
    width: 80%;
  }
  .add-on {
    background: linear-gradient(to bottom, #e13c3d, #aa3e6a);
    color: white;
    font-size: 16px;
  }

  .low-multi-append {
    margin-left: 10px;
  }

  .low-multi-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .pf-select-container {
    border-top: 1px solid $gray-color;
    position: relative;

    .julien-user-list {
      height: 417px;
      overflow-y: auto;
    }

    .low-username {
      vertical-align: bottom;
      width: 100px;
      display: inline-block;
      overflow: hidden;
    }

    .pf-select-superior {
      padding: 5px 10px;
      border-bottom: 1px solid $gray-color;
      color: $color-amber;
      font-size: $font-sm;
      position: relative;
      cursor: pointer;
      background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);

      .caret {
        float: left;
        position: relative;
        width: 18px;
        height: 18px;
        background-color: $white-color;
        border: 1px solid $gray-color;
        border-radius: 18px;
        margin-right: 8px;

        &:after {
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: dashed dashed dashed solid;
          position: absolute;
        }

        &.caret-right {
          &:after {
            border-color: transparent transparent transparent #999999;
            left: 8px;
            top: 5px;
          }
        }

        &.caret-bottom {
          &:after {
            border-color: #999999 transparent transparent transparent;
            left: 5px;
            top: 8px;
          }
        }
      }
    }
  }
}