<input type="text" class="js-pf-input-search-user pf-input-search-user" placeholder="搜索用户名" />
<div class="js-pf-select-container pf-select-container">
  <div class="js-fc-parent control-group no-m-bottom hidden ">
    <div class="js-pf-select-search-user js-pf-select-superior pf-select-superior" data-id="" data-name="我的上级">
      <span>我的上级</span>
      <i></i>
    </div>
    <input type="hidden" name="parentId" />
  </div>
  <div class="pf-select-superior subordinate">
    <span>我的下级</span>
    <i></i>
    <b>群发消息</b>
  </div>
  <div class="js-pf-jstree julien-user-list"></div>
</div>
<div class="js-pf-search-container hidden"></div>



<div class="low-multi-selected">
  <div class="js-selected-container ">
  </div>
  <div class="js-lms-empty-container lms-empty-container  empty-container text-center"><div class="empty-container-main"><div class="sfa-grid-empty"></div>暂时没有选中的下属</div></div>
</div>
