<div class="low-multi-append-container">
  <div class="input-append low-multi-append">
    <input type="text" class="js-pf-input-search-user pf-input-search-user" placeholder="输入用户名" />
    <span class="add-on"><i class="fa fa-search"></i></span>
  </div>
</div>
<div class="js-pf-select-container pf-select-container">
  <div class="js-fc-parent control-group no-m-bottom hidden">
    <div class="js-pf-select-superior pf-select-superior" data-id="" data-name="私人助理">
      <i class="caret caret-right invisible"></i>
      <span class="js-pf-select-search-user">私人助理</span>
      <span class="js-pf-superior-unread spot spot-lg spot-pink hidden"></span>
    </div>
    <input type="hidden" name="parentId" />
  </div>
  <div class="pf-select-superior">
    <i class="caret caret-bottom"></i>
    <span>我的好友</span>
    <div class="js-pf-group-letter btn btn-link text-amber pull-right no-padding <% if (!showMulti) { %>hidden<% } %>">
      群发消息
    </div>
  </div>
  <div class="js-pf-jstree"></div>
  <!--<div class="js-pf-search-container hidden"></div>-->
</div>
