<div class="panel padding-md">
  <form class="js-bc-fifteenHundredBouns-form form-horizontal" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">彩种名称：</label>

      <div class="col-sm-2">
        <div class="js-bc-fifteenHundredBouns-ticketName-container">
          <label class="js-bc-fifteenHundredBouns-ticketId control-label" hidden></label>
          <label class="js-bc-fifteenHundredBouns-ticketName control-label"></label>
        </div>
      </div>
      <label class="col-sm-2 control-label">模式：</label>

      <div class="col-sm-2">
        <div class="js-bc-fifteenHundredBouns-moneyMode-container">
          <label class="control-label">元</label>
        </div>
      </div>
      <label class="col-sm-2 control-label">玩法返点：</label>

      <div class="col-sm-2">
        <div class="js-bc-fifteenHundredBouns-rebate-container">
          <label class="control-label">12.8%</label>
        </div>
      </div>
    </div>
    <div class="js-bc-fifteenHundredBouns-constContainer">
      <div class="js-bc-fifteenHundredBouns-constGrid">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-7">
        <button type="submit" class="js-bc-fifteenHundredBouns-btn-submit btn btn-primary" data-loading-text="发送中">
          确定
        </button>
        <button type="button" class="js-bc-fifteenHundredBouns-btn-cancel  btn btn-default">取消</button>
      </div>
    </div>
  </form>
</div>

