<div class="panel padding-md">
  <form class="js-bc-fifteenHundredBouns-form form-horizontal" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">彩种名称：</label>

      <div class="col-sm-3">
        <div class="js-bc-fifteenHundredBouns-ticketName-container">
          <label class="js-bc-fifteenHundredBouns-ticketId control-label" hidden></label>
          <label class="js-bc-fifteenHundredBouns-ticketName control-label"></label>
        </div>
      </div>
      <label class="col-sm-3 control-label">模式：</label>

      <div class="col-sm-3">
        <div class="js-bc-fifteenHundredBouns-moneyMode-container">
          <label class="control-label">元</label>
        </div>
      </div>
    </div>
    <div class="js-bc-fifteenHundredBouns-constContainer">
      <div class="js-bc-fifteenHundredBouns-constGrid">
      </div>
    </div>
  </form>
</div>

