<div class="panel padding-md">
  <form class="js-bc-form form-horizontal" action="javascript:void(0)">

    <div class="form-group form-inline ">
      <label class="col-sm-1 control-label">原因：</label>
      <div class="col-sm-11">
        <div class="js-bc-stopReason-container">
          <label class="js-bc-ticketId control-label" hidden></label>
          <input type="text" class="form-control js-bc-stopReason width-md" data-parsley-zhMaxLength="100" required>
        </div>
      </div>
    </div>

    <div class="form-group form-inline ">
      <label class="col-sm-1 control-label">时间：</label>
      <div class="col-sm-11">
        <div class="js-bc-stopTime-container">
          <span class="js-bc-stopTime"></span>
        </div>
      </div>
    </div>

    <div class="form-group m-top-lg">
      <div class="col-sm-offset-1 col-sm-11">
        <button type="submit" class="js-bc-btn-submit btn btn-primary" data-loading-text="发送中">确定</button>
        <button type="button" class="js-bc-btn-cancel btn btn-default">取消</button>
      </div>
    </div>
  </form>
</div>

