
<div class="row m-bottom-sm">
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">每页展示：</label>
            <select class="form-control" name="pageSize">
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
                <option value="500">500条</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 pull-right form-group">
        <button class="gv-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
        </button>
        <button class="gv-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
                class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
        </button>
    </div>
</div>
