<form class="form-horizontal">
  <div class="form-group">
    <div class="js-bc-nwd-deal-notice col-sm-offset-2 col-sm-10  hidden">
      <p>您已选择了 <span class="js-bc-nwd-dealNum text-danger"></span> 条记录，确定要审核通过吗？</p>
      <br>

      <p class="js-bc-nwd-deal-notice">审核通过后奖金将会自动派发。
    </div>
    <div class="js-bc-nwd-notDeal-notice col-sm-offset-2 col-sm-10  hidden">
      <p>您已选择了 <span class="js-bc-nwd-notDealNum text-danger"></span> 条记录，确定要审核不通过吗？</p>
      <br>

      <p><strong>审核不通过后奖金将不会派发给用户。</strong></p>
    </div>
  </div>

  <div class="form-group form-inline ">
    <label class="col-sm-2 control-label">操作备注：</label>

    <div class="col-sm-10">
      <textarea class="js-bc-nwd-deal-remark form-control width-md height-sm" data-parsley-zhMaxLength="500"></textarea>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 ">
      <button class="js-bc-nwd-deal-submit btn btn-primary" type="button">确&nbsp;&nbsp;定</button>
      &nbsp;&nbsp;
      <button class="btn" data-dismiss="modal">取&nbsp;&nbsp;消</button>
    </div>

  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 js-bc-nwd-deal-notice"></div>
  </div>

</form>
