    <form class="js-bc-form form-horizontal" action="javascript:void(0)">
        <div class="form-group form-inline" >
            <div class="col-sm-12 padding-sm ">
                <div class="col-sm-12 m-bottom-sm js-bc-openNumSource-container">
                    <div>
                        <label class="control-label">开奖号源：</label>
                        <label class="control-label js-bc-openNumSource"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  padding-sm ">
                <div class="col-sm-12 m-bottom-sm js-bc-wan-container">
                    <div>
                        <label class="control-label">万位：</label>
                        <label class="control-label js-bc-wan"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  padding-sm ">
                <div class="col-sm-12 m-bottom-sm js-bc-qian-container">
                    <div>
                        <label class="control-label">千位：</label>
                        <label class="control-label js-bc-qian"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  padding-sm ">
                <div class="col-sm-12 m-bottom-sm js-bc-bai-container">
                    <div>
                        <label class="control-label">百位：</label>
                        <label class="control-label js-bc-bai"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  padding-sm ">
                <div class="col-sm-12 m-bottom-sm js-bc-shi-container">
                    <div>
                        <label class="control-label">十位：</label>
                        <label class="control-label js-bc-shi"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12  padding-sm ">
                <div class="col-sm-12 m-bottom-sm js-bc-ge-container">
                    <div>
                        <label class="control-label">个位：</label>
                        <label class="control-label js-bc-ge"></label>
                    </div>
                </div>
            </div>
        </div>
    </form>