<form class="js-bc-form form-horizontal" action="javascript:void(0)">
  <div class="js-bc-exceptionDetailGrid"></div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-7 ">
      <%if(Global.authority.bc && Global.authority.bc.ac && Global.authority.bc.ac.pass){%>
      <button class="js-bc-nwd-deal btn btn-success pull-left btn-sm" type="button"><i
        class="fa fa-check-circle m-right-xs"></i>通&nbsp;&nbsp;过
      </button>
      <%}%>
      <%if(Global.authority.bc && Global.authority.bc.ac && Global.authority.bc.ac.notPass){%>
      <button class="js-bc-nwd-notDeal btn btn-danger pull-left m-left-sm btn-sm " type="button"><i
        class="fa fa-ban m-right-xs"></i>不通过
      </button>
      <%}%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
      <div class="js-bc-checkBetting-notice"></div>
    </div>
  </div>
</form>
