<div class="text-bold-cool  m-left-md m-bottom-sm m-top-sm">开奖号：<span class="js-ac-optionalBettingDetail-openNum"></span></div>
<div style=" height: 148px;overflow:scroll" class="js-ac-optionalBettingDetail-table margin-md no-m-top"></div>
<div class="dot-divider dot-divider-md"></div>
<div class="text-bold-cool  m-left-md m-bottom-sm m-top-sm">投注号码</div>
<div style="border: 1px solid #ddd; height: 168px;  overflow-y: auto;  word-break: break-all;"
     class="js-ac-optionalBettingDetail-num ac-optionalBettingDetail-num m-left-md m-right-md m-bottom-md padding-sm "></div>