    <div class="main-display">
<div class="main-display-inner clearfix">
   <div class="quick-entry clearfix">
    <!-- <div class="js-gl-ticket-menu inline-block pull-left">
       <ul class="drop-menu drop-link">
         <li class="quick-ticket-entry">
           <a class="" href="javascript:void(0)">
             彩种选择
             <i class="dropdown-caret fa fa-angle-up text-sunshine fa-2x"></i>
           </a>
           <ul class="js-gl-ticket-main drop-submenu" role="menu">
             <% _(ticketList).each(function(ticket, index) { %>
             <li class="dropdown-title">
               <%=ticket.title %>：
             </li>
             <li class="dropdown-row">
               <ul class="clearfix">
                 <% _(ticket.list).each(function(info) { %>
                 <li class="dropdown-item">
                   <a href="#bc/<%=info.id %>" class="js-gl-ticket-entry router <%=info.specialClass||''%>">
                     <%=info.zhName %>
                   </a>
                 </li>
                 <% }); %>
               </ul>
             </li>
             <% if (index !== ticketList.length - 1) { %>
             <li class="divider"></li>
             <% } %>
             <% }); %>
           </ul>
         </li>
       </ul>
     </div>-->

    <!-- <div class="js-qe-setting quick-setting">
       <i class="js-qe-btn sfa sfa-cog"></i>
     </div>-->
    <!-- <div class="js-gl-entry-group entry-group"></div>
     <div class="pull-right">
       <div class="js-gl-letter btn-insideLetter">
         <span class="sfa sfa-entry-letter"></span>
         (<span class="js-gl-letter-unread"></span>)
       </div>
     </div>-->
   </div>
 </div>
</div>
  <a href="index.html#bc/19" ><div class="js-qe-mmc quick-mmc">
 </div></a>
</div>

