@import 'variable.css';

.pm-passwordManage {
    .pm-form {
        form input {
            text-align: left;
        }
    }

    .button {
        background: var(--sunshine);
        color: var(--coffee);
    }

    .pm-fi-ws-des {
        width: 70%;
        display: inline-block;
    }
    .pm-fi-ws-btn {
        width: 30%;
    }
}
.help-block {
    display: flex;
    padding: 0.05rem 0.1rem;
    color: var(--white);
    background: var(--orange);
    font-size: 0.1rem;

    .help-img {
        flex: 1;
        padding: 0.03rem;
        img {
            width: 80%;
        }
    }
    .help-text {
        flex: 7;
        line-height: 0.3rem;
    }
}