@font-face {
    font-family: "fzfys";
    src: url("~base/fonts/fzfys.eot"); /* IE9 */
    src: local("fzfys"), url("~base/fonts/fzfys.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~base/fonts/fzfys.woff") format("woff"), /* chrome, firefox */
    url("~base/fonts/fzfys.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("~base/fonts/fzfys.svg#fzfys") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


