.badge, .label {
  background-color: #D0D1CB;
  color: #777;
  font-size: 11px;
  font-weight: 500;
}

.badge.badge-square, .label.badge-square {
  border-radius: 2px;
  moz-border-radius: 2px;
  webkit-border-radius: 2px;
}

.badge-success, .label-success {
  background-color: #2baab1;
  color: #fff;
}

.badge-danger, .label-danger {
  background-color: #e36159;
  color: #fff;
}

.badge-warning, .label-warning {
  background-color: #edbc6c;
  color: #fff;
}

.badge-info, .label-info {
  background-color: #23b7e5;
  color: #fff;
}

.badge-primary, .label-primary {
  background-color: #3278b3;
  color: #fff;
}

.badge-purple, .label-purple {
  background-color: #7266ba;
  color: #fff;
}

.badge-ribbon {
  &.ribbon-wrapper {
    position: absolute;
    width: 90px;
    height: 80px;
    overflow: hidden;
    top: 0px;
  }
  &.ribbon-wrapper .ribbon-inner {
    display: block;
    position: relative;
    padding: 5px 0;
    line-height: 17px;
    text-align: center;
    width: 107px;
    top: 15px;
    left: -26px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

}

.tag {
  background: #7266ba;
  color: #fff;
  border: 1px solid #6254b2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px;

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 11px;
  }
}