.portlet {
  border: #e6e6e6 solid 1px;
  border-radius: 3px;
  margin-bottom: 20px;
  border-color: #e4e4e4;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  .portlet-header {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px 3px 0 0;

    .portlet-option {
      float: right;
      a {
        display: inline-block;
        margin-right: 5px;
/*        color: #999;*/
        font-size: 16px;
        outline: 0;
/*        &:focus, &:hover {
          color: #555;
        }*/
        &.portlet-collapse-option {
          transition: transform 0.4s ease;
        }
      }
      .refresh-icon-animated {
        margin-right: 5px;
        color: #2baab1;
        display: none;
      }
    }
  }

  .portlet-inner {
    border-radius: 0 0 3px 3px;
    .portlet-hidden-section {
      display: none;
      padding: 15px;
      background-color: #e4e4e4;
    }
    .portlet-body {
      padding: 15px;
    }

    &.bg-white-1 {
      background-color: #e4e4e4;
      border: 3px solid #fff;
      min-height: 600px;
    }
  }

  .portlet-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &.portlet-collapsed .portlet-option .portlet-collapse-option {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
  }

  &.portlet-primary {
    >.portlet-header {
      background-color: #2baab1;
      color: #fff;
    }
    .portlet-option {
      float: right;
      a {
        color: #fff;
      }
      .refresh-icon-animated {
        color: #edbc6c;
      }
    }
  }
  &.portlet-white {
    >.portlet-header {
      background-color: #fff;
      color: #666;
    }
    .portlet-option {
      float: right;
      a {
        color: #1bbb9e;
      }
      .refresh-icon-animated {
        color: #edbc6c;
      }
    }
  }
  &.portlet-dark-blue {
    >.portlet-header {
      background-color: #4c5f70;
      color: #fff;
    }
    .portlet-option {
      float: right;
      a {
        color: #fff;
        &:focus, &:hover {
          color: #ccc;
        }
      }
    }
  }
  &.portlet-grey {
    >.portlet-header {
      background-color: #edeef1!important;
      color: #333;
    }
    .portlet-option {
      float: right;
      a {
        color: #333;
      }
    }
  }
  &.portlet-light-grey {
    >.portlet-header {
      background-color: #f5f5f5;
      color: #777;
    }
    .portlet-option {
      float: right;
      a {
        color: #777;
      }
    }
  }
  &.portlet-purple {
    >.portlet-header {
      background-color: #897fc5;
      color: #fff;
    }
    .portlet-option {
      float: right;
      a {
        color: #fff;
      }
      .refresh-icon-animated {
        color: #F4D2FF;
      }
    }
  }
  &.portlet-green {
    >.portlet-header {
      background-color: #1bbb9e;
      color: #fff;
    }
    .portlet-option {
      float: right;
      a {
        color: #fff;
      }
      .refresh-icon-animated {
        color: #edbc6c;
      }
    }
  }
  &.portlet-blue {
    >.portlet-header {
      background-color: #5aa3e8;
      color: #fff;
    }
    .portlet-option {
      float: right;
      a {
        color: #fff;
      }
      .refresh-icon-animated {
        color: #F4D2FF;
      }
    }
  }
  &.portlet-green-grey {
    >.portlet-header {
      background-color: #fafafa;
      border-left:4px solid #1bbb9e;
      color: #777;
    }
    .portlet-option {
      float: right;
      .refresh-icon-animated {
        color: #edbc6c;
      }
    }
  }
}