<div class="portlet-header">
    <div class="portlet-title"><%=title %></div>
</div>
<div class="portlet-body">
    <form action="javascript:void(0);" class="js-pm-complete-form form-horizontal pm-complete-form">
        <div class="control-group text-center m-top-md">
            <div class="pm-complete-img text-center inline-block m-right-sm">
                <img src="../misc/thumbs-up.png" />
            </div>
            <div class="pm-complete-text inline-block font-md">
                <span class="controls-span"><%=content %></span>
            </div>
        </div>
    </form>
</div>
