<div class="portlet-header">
    <div class="portlet-title"><%=title %></div>
</div>
<div class="portlet-body">
    <form action="javascript:void(0);" class="js-pm-complete-form form-horizontal pm-complete-form">
        <div class="control-group text-center">
            <div class="pm-complete-img text-center inline-block m-right-sm">
                <img src="../misc/thumbs-up.png" />
            </div>
            <div class="pm-complete-text inline-block font-md">
                <span class="controls-span"><%=content %></span>
            </div>
        </div>
        <div class="control-group text-center pm-confirm">
            <button type="button" class="js-pm-confirm btn btn-pink btn-linear btn-sm" data-loading-text="刷新中" >确定</button>
        </div>
    </form>
</div>
