<div class="fc-wd-progress">
    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round1">1</div>

    <div class="fc-wd-pg-line"></div>
    <div class="fc-wd-pg-round">2</div>

    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round1">√</div>

    <div class="fc-wd-pg-line1"></div>

</div>

<div class="fc-wd-progress">
    <div class="fc-wd-title">验证旧邮箱</div>
    <div class="fc-wd-title0">输入新邮箱件</div>
    <div class="fc-wd-title">更新成功</div>
</div>

<div class="fc-wd-div0 text-center">
    温馨提示:如果您没有收到邮件,请在一分钟后点击重新发送。
</div>

<div class="ac-new-email-container">

    <div class="fc-verify-code m-bottom-md">
        <span >验证码:&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="inline-block">
            <input type="text" name="verifyCode" class="js-verifyCode fc-wd-amount " >
        </div>
    </div>

    <div class="fc-verify-code m-bottom-md">
        <span >新邮箱:&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="inline-block">
            <input type="text" name="email" class="js-set-email fc-wd-amount " >
        </div>
        </br><span class="text-hot">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入正确的邮箱地址(4-30位),如abc123@163.com</span>
    </div>


</div>

<div class="m-bottom-md rc-seperate-line"></div>


<div class="text-center  m-bottom-md fc-next-button">
    <button type="button" class="js-ac-next btn fc-wd-commit" data-loading-text="加载中">下一步</button>
    <button type="button" class="js-ac-again btn fc-wd-commit" data-loading-text="加载中">
        重新发送
        <span class="js-waite-email-time"></span>
    </button>

</div>