<div class="st-em-progress">

    <div class="st-wd-pg-line"></div>
    <div class="st-wd-pg-round">1</div>

    <div class="st-wd-pg-line1"></div>
    <div class="st-wd-pg-round1">2</div>

    <div class="st-wd-pg-line1"></div>
    <div class="st-wd-pg-round1">3</div>

    <div class="st-wd-pg-line1"></div>
    <div class="st-wd-pg-round1">√</div>

    <div class="st-wd-pg-line1"></div>

</div>

<div class="st-em-progress">

    <div class="st-wd-title0">认证旧邮箱</div>
    <div class="st-wd-title">输入新邮箱</div>
    <div class="st-wd-title">认证新邮箱</div>
    <div class="st-wd-title">更新成功</div>

</div>



<div class="fc-wd-div2">
    <span>在更新之前请允许繁华世界验证您是否是当前账户的拥有者.</br>您的邮箱地址是:<span class="js-old-email"></span> </span>
</div>

<div class="m-bottom-md rc-seperate-line"></div>


<div class="text-center  m-bottom-md fc-next-button">
    <button type="button" class="js-ac-next btn fc-wd-commit" data-loading-text="加载中">发送邮箱验证</button>

</div>