<div class="js-ac-validateCIContainer ">
  <div class="alert fade in m-bottom-smd as-security-add-notice">
    <i class="fa fa-exclamation-circle font-md"></i> 提示：请提供最近一次绑定的银行卡号信息。
  </div>
  <div class="ac-find-by-card">
    <div class="control-group">
      <label class="control-label">开户人姓名：</label>
      <div class="controls">
        <input id="account-name" type="text"  required />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">银行卡号：</label>
      <div class="controls">
        <input id="card-no" type="text" required />
      </div>
    </div>
  </div>

</div>

<div class="control-group control-confirm text-center">
    <button type="button" class="js-ac-cardInfo-submit btn btn-sun btn-linear input1" data-loading-text="验证中">验证</button>
    <button type="reset" class="js-ac-return-select btn btn-b-white input1 btn-right">返回</button>
  <div class="js-ac-valCardNotice-div m-top-md"></div>
</div>
