<div class="js-ac-validateCIContainer ">
    <div class="alert fade in m-bottom-smd as-security-add-notice">
        <i class="fa fa-exclamation-circle font-md"></i> 提示：验证码已发送到您的邮箱,请尽快查收。
    </div>
    <div class="ac-find-by-card">
        <div class="control-group">
            <label class="control-label">验证码：</label>
            <div class="controls">
                <input id="account-name" type="text"  required />
            </div>
        </div>
        <!--<div class="control-group">-->
            <!--<label class="control-label">银行卡号：</label>-->
            <!--<div class="controls">-->
                <!--<input id="card-no" type="text" required />-->
            <!--</div>-->
        <!--</div>-->
    </div>

</div>

<div class="control-group control-confirm text-center">
    <button type="button" class="js-ac-email-submit btn btn-sun btn-linear input1" data-loading-text="验证中">验证</button>
    <button type="reset" class="js-ac-return-select btn btn-b-white input1 btn-right">返回</button>
    <div class="js-ac-valCardNotice-div m-top-md"></div>
</div>