<div class="js-ac-validateSQContainer">
  <div class="alert fade in m-bottom-smd as-security-add-notice">
    <!--<span class="as-securityQuestion-notice-logo"> </span>-->
    提示：请填写您之前设置过的密保问题答案。
  </div>
  <div class="as-securityQuestion-step1-div">
    <div class="step-inner">
      <!--<div class="step-number">1</div>-->
      <div class="step-inner-main">
        <div class="control-group">
          <label class="control-label">问题一：</label>
          <div class="controls">
            <select id="jsASQuestion1" class="js-ac-findByQuestionSelect js-ac-question1" required>
              <option  value="">请选择密保问题</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">答案：</label>
          <div class="controls">
            <input name="answer-1"  id="jsASAsw1" type="text" required />
          </div>
        </div>
      </div>
    </div>

    <div class="step-inner">
      <!--<div class="step-number">2</div>-->
      <div class="step-inner-main">
        <div class="control-group">
          <label class="control-label">问题二：</label>
          <div class="controls">
            <select id="jsASQuestion2" class="js-ac-findByQuestionSelect  js-ac-question2" required>
              <option  value="">请选择密保问题</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">答案：</label>
          <div class="controls">
            <input type="text" name="answer-2" id="jsASAsw2"  required />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-confirm text-center m-top-md">
    <button type="button" class="js-ac-securityQuestionAnswer-submit btn btn-sun btn-linear input1" data-loading-text="验证中">验证</button>
    <button type="reset" class="js-ac-return-select btn btn-b-white input1 btn-right">返回</button>
  </div>

  <div class="js-ac-valSQNotice-div"></div>

</div>