<div class="fc-wd-progress">
    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round1">1</div>

    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round">2</div>

    <div class="fc-wd-pg-line"></div>
    <div class="fc-wd-pg-round1">√</div>

    <div class="fc-wd-pg-line1"></div>

</div>

<div class="fc-wd-progress">
    <div class="fc-wd-title">设置邮箱</div>
    <div class="fc-wd-title0">查收验证邮件</div>
    <div class="fc-wd-title">设置成功</div>
</div>

<div class="fc-wd-div0 text-center">
    温馨提示:邮箱设置成功后,有助于您找回密码相关信息。
</div>


<div class="ase-confirm-text">

    <div>点击发送邮箱认证，认证信息将会发送到您的邮箱：<span class="text-hot">13****8255@qq.com</span></br>
        请找到来自繁华世界的验证邮件，打开邮件后点击链接找回资金密码。 </br>您的激活链接在24小时内有效。</br>
    </div>

</div>

<div class="js-acse-back ac-se-back">
    返回修改邮箱
</div>


<div class="m-bottom-md rc-seperate-line"></div>

<div class="text-center  m-bottom-md fc-next-button">
    <button type="button" class="js-fd-finished btn fc-wd-commit">下一步</button>
    <p>没有收到邮件？</p>

    <button><b class="js-emailTime">0</b>s</button>
</div>

