<div class="fc-wd-progress">
    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round1">1</div>

    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round1">2</div>

    <div class="fc-wd-pg-line1"></div>
    <div class="fc-wd-pg-round">√</div>

    <div class="fc-wd-pg-line"></div>

</div>

<div class="fc-wd-progress">
    <div class="fc-wd-title">验证旧邮箱</div>
    <div class="fc-wd-title">输入新邮箱件</div>
    <div class="fc-wd-title0">更新成功</div>
</div>


<div class="fc-wd-div2">

    <div class="fc-wd-finishImg"></div>
    <div class="fc-wd-div3">
        <span class="fc-wd-successWord">恭喜您,邮箱绑定成功!</span></br></br>
    </div>

</div>

<div class="m-bottom-md rc-seperate-line"></div>

<div class="text-center  m-bottom-md fc-next-button">
    <button type="button" class="js-fc-wd-finished btn fc-wd-commit" data-dismiss="modal">确认</button>
</div>
