.countdown {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;

  .countdown-item {
    margin: 0 3px;
    margin-right:10px;
  }
}
.countdown-num {
  &.twinkling {
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.countdown-colon {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.countdown-red-colon {
  font-size: 30px;
  line-height: 30px;
  vertical-align: sub;
  font-weight: bold;
  color: #777;
  margin-right:7px;
}

