@charset "UTF-8";
@import "~base/styles/imports";

.desktopNews {
  position: fixed;
  width: 100%;
  z-index: 9;
  bottom: 0;

  .alert {
    height: 74px;
    background-color: $deep-gray-color;
    opacity: 0.9;
    padding: 15px 0;
    color: $dark-color;
    font-size: 14px;

    .close {
      top: 25px;
      right: 80px;
    }

    .desktopNews-content {
      position: relative;
      height: 74px;
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;

      > ul {
        position: relative;
        top: 20px;

        li > div {
          line-height: 24px;
        }
      }

      a {
        font-weight: bold;
        color: #e8675d;
      }
    }
  }

  //.notice-container {
  //  .alert {
  //    padding-left: 0;
  //    padding-right: 0;
  //  }
  //}
}

@media (min-height: 930px) {
  .desktopNews {
    bottom: 137px;
  }
}
