@charset "UTF-8";
@import "~base/styles/imports";

.desktopNews {
  position: absolute;
  width: 240px;
  z-index: 9;
  bottom: 100px;
  left: calc(50% + 601px);
  overflow-x: hidden;

  rc {
    color: red;
  }
  gc {
    color: green;
  }

  .alert {
    opacity: 0.7;
    padding: 15px 0;
    font-size: 14px;
    background: transparent;
    border: 0;

    .close-notice {
      top: 25px;
      right: 80px;
      color: #999999;
    }

    .desktopNews-content {
      position: relative;
      height: 600px;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;

      > ul {
        position: relative;
        top: 20px;

        li > div {
          height: 86px;
          left: 0px;
          border: 1px solid #999999;
          background: white;
          line-height: 24px;
          padding: 6px;
          color: #424244;
        }
        div.slideIn {
          animation: slideIn 1s;
          bottom: 0;
        }
        div.fadeOut {
          animation: fadeOut 1s;
          animation-delay: 3s;
          animation-fill-mode: forwards;
        }
      }

      .notice-title {
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        padding: 3px 0;
      }
    }
  }
}
@keyframes slideIn
{
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeOut
{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

