<div class="row m-bottom-sm">
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">用户名  &nbsp;&nbsp;<input type="checkbox" value="50" name="haveSub">包含下级</label>
            <input class="form-control" type="text" name="userName" placeholder="" >
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">用户组：</label>
            <select class="form-control" name="userGroup">
                <option value="">全部</option>
                <option value="0">总代</option>
                <option value="1">一代</option>
                <option value="2">二代</option>
                <option value="3">三代</option>
                <option value="4">四代</option>
                <option value="5">五代</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">冻结范围：</label>
            <select class="form-control" name="range">
                <option value="">全部</option>
                <option value="200">仅冻结此用户</option>
                <option value="201">冻结该用户和所有下级</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">冻结方式：</label>
            <select class="form-control" name="type">
                <option value="">全部</option>
                <option value="101">完全冻结</option>
                <option value="100">可登陆，不可投注，不可充提</option>
            </select>
        </div>
    </div>
</div>
<div class="row m-bottom-sm">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label m-right-sm">冻结时间：</label>
            <span class="js-fu-timeset"></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">操作人：</label>
            <select name="creater" class="js-fu-creator form-control">
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">每页展示：</label>
            <select class="form-control" name="pageSize">
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
                <option value="500">500条</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 pull-right form-group">
        <button class="fu-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
        </button>
        <button class="fu-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
          class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
        </button>
    </div>
</div>
