<div class="row m-bottom-sm">
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">用户名 &nbsp;&nbsp;<input type="checkbox" value="1"
                                                                           name="subUser">包含下级</label>
            <input class="form-control " type="text" name="username" placeholder="" data-parsley-username>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">用户组：</label>
            <select class="form-control" name="userLevel">
                <option value="0">全部</option>
                <option value="1">直属</option>
                <option value="2">一代</option>
                <option value="3">二代</option>
                <option value="4">三代</option>
                <option value="5">四代</option>
                <option value="6">五代</option>
            </select>
        </div>
    </div>
</div>
<div class="row m-bottom-sm">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label m-right-sm">降点时间：</label>
            <span class="js-cu-timeset"></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">操作人：</label>
            <select name="operatorId" class="js-du-operatorId form-control">
                <option value="">全部</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">每页展示：</label>
            <select class="form-control" name="pageSize">
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
                <option value="500">500条</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 pull-right form-group">
        <button class="cu-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
                class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
        </button>
        <button class="cu-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
                class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
        </button>
    </div>
</div>