<div class="row m-bottom-sm">
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">用户名</label>
            <input class="js-gm-name form-control" type="text" name="username"  >
        </div>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label m-right-sm">个人余额：</label>
        <span class="relative">
          <div class="input-group">
              <input type="text" class="js-gm-bbal input-medium form-control" name="balanceStart" data-parsley-fourDecimal  data-parsley-range="[1,100000000]">
              <span class="input-group-addon">至</span>
              <input type="text" class="js-gm-ebal input-medium form-control" name="balanceEnd" data-parsley-fourDecimal  data-parsley-range="[1,100000000]">
          </div>
          </span>
        </div>
    </div>
</div>
<div class="row m-bottom-sm">
    <div class="col-sm-6 ">
        <div class="form-group">
            <label class="control-label m-right-sm">注册时间：</label>
            <span class="js-gm-timeset"></span>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">不活跃天数≥：</label>
            <input class="js-gm-uday form-control" type="text" name="uDay"  data-parsley-type="integer" data-parsley-range="[1,10000]" >
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label class="control-label m-right-sm">每页展示：</label>
            <select class="form-control" name="pageSize">
                <option value="20">20条</option>
                <option value="50">50条</option>
                <option value="100">100条</option>
                <option value="500">500条</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 pull-right form-group">
        <button class="ul-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
          class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
        </button>
        <button class="fu-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
          class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
        </button>
    </div>
</div>
