<div class="panel padding-md">
  <form class="js-ul-recover-form form-horizontal" action="javascript:void(0)">
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">用户名：</label>

      <div class="col-sm-4">
          <label class="js-ul-username control-label"></label>
      </div>
      <div class="js_ul_recover col-sm-3" style="margin-top: 10px;">
      </div>
    </div>
    <div class="js-ul-viewRecover form-group form-inline">
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label">回收动作：</label>
      <div class="col-sm-6">
          <label class="js-ul-type control-label">1、登录和资金密码重置</label>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-6">
          <label class=" control-label">2、删除密保问题</label>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-6">
          <label class="control-label">3、清除个人资料信息</label>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-6">
          <label class="control-label">4、解锁并删除绑定的银行卡</label>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-6">
          <label class="control-label">5、清除站内信消息</label>
      </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-3 control-label"></label>
      <div class="col-sm-6">
        <label class="control-label"><input type="checkbox" value="1" class="js-uc-ur-addQuota" checked>6、清除配额值并返还给上级</label>
      </div>
    </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">回收原因：</label>
        <div class="col-sm-9" style="margin-top: 10px;">
          <textarea class="js-ul-recover-reson form-control width-md height-sm" data-parsley-zhMaxLength="20" data-parsley-someSpecialChar required
                    ></textarea>
          <span>限20个字符</span>
        </div>
      </div>
  </form>
</div>
