<div class="js-nc-board header-board">

  <div class="js-head-bulletin-content head-bulletin-content pull-right"></div>

  <div class="header-bulletin-list-continer  pull-left">
    <div class="head-bulletin-list-body">
      <ul class="js-head-bulletin-list header-bulletin-list no-margin"></ul>
    </div>
    <div class="head-bulletin-list-footer pn-pagination">
      <button class="js-head-bulletin-prev pn-op pn-prev  ">
        &lt;&nbsp;上一页
      </button>
      <button class="js-head-bulletin-next pn-op pn-next trun-page-disabled" href="javascript:void(0)">
        下一页&nbsp;&gt;
      </button>
    </div>
  </div>
  <input type="hidden" class="js-head-bulletin-pageSize" value="7">
  <input type="hidden" class="js-head-bulletin-pageIndex" value="">
  <input type="hidden" class="js-head-bulletin-rowCount" value="">
</div>


