<div class="js-nc-board header-board clearfix">

  <div class=" head-bulletin-content pull-right">
    <div class="head-bulletin-right-title">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;公告详情
    </div>
    <div class="js-head-bulletin-content">

    </div>
  </div>

  <div class="header-bulletin-list-continer  pull-left">
    <div class="head-bulletin-left-title">
      <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;公告列表
    </div>
    <div class="head-bulletin-list-body">
      <ul class="js-head-bulletin-list header-bulletin-list no-margin"></ul>
      <div class="head-bulletin-list-footer pn-pagination text-center">
        <button class="js-head-bulletin-prev pn-ops pn-prev trun-page-disabled ">
          <i class="fa fa-caret-left" aria-hidden="true"></i>&nbsp;上一页
        </button>
        <button class="js-head-bulletin-next pn-ops pn-next trun-page-disabled" >
          下一页&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </div>
  <input type="hidden" class="js-head-bulletin-pageSize" value="12">
  <input type="hidden" class="js-head-bulletin-pageIndex" value="">
  <input type="hidden" class="js-head-bulletin-rowCount" value="">
</div>


