@charset "UTF-8";

@import
"~base/styles/imports";


.fc-moneyTransfer-view {
  //padding: 19px 24px 0 21px;
  input {
    width: 166px;
  }
  .fc-mt-password{
    width: 154px;
  }
  .btn {
    width: 166px;
    height: 32px;
  }
}

.fc-bankInfoForm {
  width: 550px;
  display: inline-block;
}

.fc-countdown {
  display: inline-block;
  margin-top: 80px;
  vertical-align: top;

  .sfa-cd-icon {
    vertical-align: top;
    margin-top: 5px;
  }
}

//
.fc-trade-no-label {
  width: 330px;
  display: inline-block;
}
.fc-trade-no-input {
  width: 230px;
  margin-left: 2px;
}
.fc-trade-type-label {
  width: 231px;
  display: inline-block;
}

.fc-bet-time-div {
  //width: 783px;
  display: inline-block;
}

.fc-trade-no-div {
  display: inline-block;
  margin-bottom: 10px;
}

.fc-bet-time-label {
   margin-left: 13px;
   width: 57px;
  display: inline-block;
}

.fc-page-size-label {
  //width: 250px;
  display: inline-block;
}

.fc-wd-bg{
  background: #fff;
  padding: 0px 8px;
}

.fc-cardList {
  margin-top: 5px;
  position: relative;
  width: 640px;
  min-height: 55px;
  max-height: 225px;
  overflow: auto;

  .fc-card-item {
    list-style: none;
    padding: 7px 0 7px 15px;
    margin-bottom: 10px;
    border: 1px solid $table-border-color ;

    &.unActive {
      background-color: #b1b1b1;
    }

    .fc-wd-bankName {
      width: 100px;
      font-size: 16px;
      display: inline-block;
    }

    &:last-child {
      margin-bottom: 0;
    }
    .fc-wd-frozenTime {
      width: 100px;
      float: right;
      .fc-wd-effective-title {
        color: white;
        text-align: center;
        font-size:13px;
        font-weight: 400;
      }
      .fc-wd-effective-time {
        color: white;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
      }
    }
    .fc-wd-newCard {
      width: 53px;
      margin-top: -7px;
      float: right;
    }
  }
  .fc-card-pic {
    width: 68px;
    height: 38px;
  }
}
.sfa-fee-free {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: bold;
  .sfa-fee-free-inner {
    color: $dark-color;
    width: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.fc-withdrawal-confirm {
  width: 300px;
  height: 240px;
  position: relative;
  margin: 0 0 40px 290px;
  padding: 65px 20px 1px;
  .fc-wd-confirm-content{
    font-size: 16px;
  }
}

//moneyTransfer

.fc-transfer-form {
  .fc-lowLevelSelect {
    display: inline-block;
    padding: 20px 15px;
    width: 45%;
    overflow-x: auto;
  }

  .fc-group {
    border-left: 1px solid $gray-color;
    display: inline-block;
    padding: 40px 30px 0 0;
    width: 45%;
    height: 540px;
    //height: auto;
  }
}

.fc-group {
  margin-left: 20px;

  .control-label {
    width: 125px;
  }

  .controls {
    margin-left: 130px;
  }

  &.fc-group-lg {

    .control-label {
      width: 120px;
    }
    .controls {
      margin-left: 120px;
    }
  }
}

//fc

.fc-recharge{
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.tip-area{
  //border-top: 1px solid #ccc;
  //padding-top: 15px;
}

.fc-re-nav-tab-a {
 // border-right: 1px solid #d4d4d4 !important;
}
.bank-card {
  display: inline-block;
  width: 158px;
  height: 158px;
  margin-right: 53px;
  font-size: 0;
  cursor: pointer;

  border: 3px solid transparent;
  border-radius: 35px;
  &.bank-card-active0 {
    &.active {
      border-color: #bb8b88;
    }
  }
  &.bank-card-active1 {
    &.active {
      border-color: #8ea77a;
    }
  }
  &.bank-card-active2 {
    &.active {
      border-color: #8298b2;
    }
  }
}

.fc-re-alipay {
  background: url('alipay.png') no-repeat;
  padding-left: 30px !important;
  margin-left: 20px;
  line-height: 30px !important;
}

.fc-re-union {
  background: url('union.png') no-repeat;
  padding-left: 45px !important;
  margin-left: 20px;
  line-height: 30px !important;
}

.fc-re-wechat {
  background: url('wechat.png') no-repeat;
  padding-left: 32px !important;
  margin-left: 20px;
  line-height: 30px !important;
}

.uc-card-text-disable {
  color: #a4a4a4;
}


.fc-re-div2 {
  border: 1px solid #ccc;
  padding: 4px ;
  border-radius: 3px;
}
.fc-re-div3{
  border-bottom: 1px solid #ccc;
  padding: 15px 5px;
}

.fc-re-amount-container-super{
  padding: 10px 0 10px 200px;
  display: table;
  width: 656px;
  border-bottom: 1px solid #ccc;
}
.fc-re-amount-container{

  display: table-cell;
  vertical-align: middle;
  //text-align: center;
  width: 100%;
  height: 120px;
}

.fc-re-commit{
  background: linear-gradient(to bottom,#cd6498,#b54e7e);
  width:80px;
  height: 26px;
  border-radius: 5px;
  margin: 16px 0 0 ;
}

.fc-re-bankList {
  border: 0;
  text-align: left;
  width: 100%;

  //line-height: 46px;
  white-space: nowrap;
  td {
   // border:1px solid #d4d4d4;
    width: 25%;
    height: 46px;
    .fc-bank-name {
      display: block;
      width: 90px;
      height: 38px;
      line-height: 38px;
      margin-left: 18px;
      padding-left: 50px;
    }
  }
  .fc-re-bank {
    cursor: pointer;
    border:2px solid #d4d4d4;
    border-radius: 19px;
    width: 156px;
    height: 36px;
    margin: 0 5px 12px;
    position: relative;
    .bank-select{
      position: absolute;
      right: 1px;
      top: -4px;
      display: none;
      //background-color: white;
      color: #cd3330;
      font-size: 20px;
    }

  }

  .fc-re-bank.active{
    //background-color: $color-sunshine;
    //background: url("rc-bank-selected.png");
    border: 2px solid #cc3531;
    .bank-select{
      display: block;
    }
  }

}
.fc-re-quickAmount {
  list-style-type: none;
  li{
    text-align: center;
    margin-right: 5px;
    display:inline-block;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    width:auto;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    //min-width: 25px;
    //max-width: 30px;
    white-space: nowrap;
  }
  li:focus {
    background-color: $color-sunshine;
  }
  li:hover {
    background-color: $color-sunshine;
  }
}

.fc-re-bank-zhongguo {
  background: url('~base/images/bank/fundCenter/zhongguo.jpg') no-repeat;
}
.fc-re-bank-gongshang {
  background: url('~base/images/bank/fundCenter/gongshang.jpg') no-repeat;
}
.fc-re-bank-nongye {
  background: url('~base/images/bank/fundCenter/nongye.jpg') no-repeat;
}
.fc-re-bank-jianshe {
   background: url('~base/images/bank/fundCenter/jianshe.jpg') no-repeat;
}
.fc-re-bank-jiaotong {
  background: url('~base/images/bank/fundCenter/jiaotong.jpg') no-repeat;
}
.fc-re-bank-minsheng {
  background: url('~base/images/bank/fundCenter/minsheng.jpg') no-repeat;
}
.fc-re-bank-guangfa {
  background: url('~base/images/bank/fundCenter/guangfa.jpg') no-repeat;
}
.fc-re-bank-guangda {
  background: url('~base/images/bank/fundCenter/guangda.jpg') no-repeat;
}
.fc-re-bank-pufa {
  background: url('~base/images/bank/fundCenter/pufa.jpg') no-repeat;
}
.fc-re-bank-zhaoshang {
  background: url('~base/images/bank/fundCenter/zhaoshang.jpg') no-repeat;
}
//.fc-re-bank-pingan {
//  background: url('pingan.jpg') no-repeat;
//}
//.fc-re-bank-xingye {
//  background: url('xingye.jpg') no-repeat;
//}
//.fc-re-bank-zhongxin {
//  background: url('zhongxin.jpg') no-repeat;
//}
//.fc-re-bank-youzheng {
//  background: url('youzheng.jpg') no-repeat;
//}
//.fc-re-bank-huaxia {
//  background: url('huaxia.jpg') no-repeat;
//}

.fc-re-resultShow {
  margin: 10px 20px;
}
.fc-re-payment-input {
  background-color: #fff !important;
  border: 1px solid $deep-gray-color;
}

.fc-re-result-desc {
  color: $color-bright-red;
}

.fc-re-result-btn {

  width: 131px;
  height: 30px;
}

.fc-re-succ {
  background-color: #e94235;
}
.fc-re-fail {
  background-color: #fff !important;
  color: #000000  !important;
}

.fc-wd-progress{
  display: inline-flex;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;

  .fc-wd-pg-line{
    margin-top: 14px;
    background-color: #cc0001;
    width: 170px;
    height: 2px;
  }

  .fc-wd-pg-round{
    font-weight: bolder;
    margin: 0px 5px 0px 5px;
    background-color: #cc0001;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
  }

  .fc-wd-pg-line1{
    margin-top: 14px;
    background-color: #959595;
    width: 170px;
    height: 2px;
  }

  .fc-wd-pg-round1{
    font-weight: bolder;
    margin: 0px 5px 0px 5px;
    background-color: #959595;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    color: #fff;
  }
  .fc-wd-title0{
    font-weight: bolder;
    text-align: right;
    line-height: 20px;
    color: #cc0001;
    width: 210px;
  }
  .fc-wd-title{
    color: #959595;
    font-weight: bolder;
    text-align: right;
    line-height: 20px;
    width: 210px;
  }
}
.fc-wd-hint-message{
  width: 858px;
  height: 41px;
  border: solid 1px #cccfcf;
  border-radius: 4px;
  margin: 13px 0 82px 0;
  box-shadow: 0px 2px 1px #EDEDED;
  .fc-wd-hint-message-btn{
    float: left;
    background: url('./hint.png') no-repeat;
    width: 21px;
    height: 21px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .fc-wd-hint-message-des{
    line-height: 21px;
    margin-left: 5px;
    display: inline-block;
    margin-top: 10px;
    color: #666;
  }
}
.fc-wd-div1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 75px;
  padding-left: 242px;
  color: #666;//#9a9a9a

  .fc-wd-limit-notice{
    color:#9a9a9a;
    font-size: 12px;
  }

}

.fc-wd-div2{
  display: inline-flex;
  height: 100px;
  margin: 30px 0px 30px 250px;

  .fc-wd-finishImg{
    width: 66px;
    height: 66px;
    background: url("fc-wd-success.png") no-repeat;

  }

  .fc-wd-div3{
    height: 80px;
    margin: 10px 10px 10px 20px;
    .fc-wd-successWord{
      font-size: 15px;
    }
  }

}


.fc-wd-quickAmount {
  margin-left: 66px;
  list-style-type: none;
  li{
    text-align: center;
    margin-right: 5px;
    display:inline-block;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    width:auto;
    cursor: pointer;

    min-width: 25px;
    max-width: 30px;
    white-space: nowrap;

  }
  li:focus {
    background-color: $color-sunshine;
  }
  li:hover {
    background-color: $color-sunshine;
  }
}

.fc-wd-commit {
  width: 80px;
  height: 24px;
  border-radius: 5px;
}

.rc-seperate-line{
  background-color: #cccccc;
  height: 1px;
}


.fc-wd-bankList {
  width: 250px;
  height: 30px;
}

.fc-wd-amount {
  display: inline-block;
  width: 250px !important;
  height: 30px;
}

//.modal-re {
//  width: 755px;
//}

.fc-re-amount {
  width: 236px;
}
.fc-re-amount-label{
  margin-right: 20px;
}
.fc-re-amount-div {
  margin-left: -35px;
  margin-right: 20px;

}

.mt-money-transfer{
  margin: 10px 10px -5px 10px;
}

.mt-transfor-input{
  width: 180px;
  height: 30px;
}

.fc-re-tip-title{
  font-size: 16px;
  text-align: center;
  margin: 14px ;
}
.fc-re-tip-left{
  float: left;
  width: 424px;
  height: 253px;
  border-right: 1px solid #ccc;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 7px;
  a{

  }
}

.fc-re-tip-type{
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 10px;
  display: inline-block;
  margin: 10px 0 38px 0;
}
.fc-re-tip-right{
  width: 423px;
  height: 253px;
  display: inline-block;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 7px;
}

.fc-rc-link{
  width: 147px;
  height: 117px;
  color: #fff !important;
  text-decoration: none;
  border-radius: 5px;
  .fc-re-tip-icon{
    text-align: center;
    margin: 29px 0 24px;
  }

}

.fc-rc-link-service{
  background-color: #bf6e8f;
  &:focus,&:hover,&:active{
    background-color:#bf6e8f;
  }
}

.fc-rc-link-help{
  background-color: #5993b6;
  &:focus,&:hover,&:active{
    background-color:#5993b6;
  }
}

.fc-rc-link-recharge{
  background-color: #82ab7c;
  &:focus,&:hover,&:active{
    background-color:#82ab7c;
  }
}

.fc-rc-link-result{
  background-color: #a471bb;
  &:focus,&:hover,&:active{
    background-color:#a471bb;
  }
}

.fc-re-tip-btn-container{
  padding-top: 16px;
  border-top: 1px solid #ccc;
  height: 10px;
  button{
    width: 80px;
    height: 24px;
    line-height:24px;
    padding: 0 5px !important;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
  }
  .fc-re-tip-goon{
    color: #fff;
    background: linear-gradient(to bottom,#cd6498,#b54e7e);
  }
  .fc-re-tip-cancel{
    color: #000;
    background: #fff;
  }
}

.fc-wd-confirm-container{
  padding-top: 50px;
  padding-bottom: 98px;
  .fc-wd-confirm-left {
    border-right: 1px solid #ccc;
    float: left;
    width: 330px;
    height: 235px;
    padding-top: 50px;
    padding-left: 80px;
    color: #666;//#9a9a9a
    .fc-wd-confirm-bank{
      width:100px;
      height: 40px;
    }
  }
  .fc-wd-confirm-right{
    width: 350px;
    height: 235px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 60px;
    color: #666;//#9a9a9a
    .fc-wd-answer{
      width: 204px;
    }
    .fc-wd-paypwd{
      width: 204px;
    }
  }
}
