<div class="search-condition-table m-LR-smd">

  <div  class="control-group row1 search-condition-layout">

    <label class="control-label">账号：</label>
    <input type="text" name="username" class="input3 margin-add">

    <label class="control-label">查询范围：</label>
    <select name="subUser" class=" select1">
      <option value="0">个人</option>
      <option value="1">团队</option>
    </select>

    <label class="control-label">交易时间：</label>
    <span class="js-pf-timeset input-date"></span>
    <button class="js-excess-cell br-excess-cell" data-index="1">今天</button>
    <button class="js-excess-cell br-excess-cell" data-index="2">三天</button>
    <button class="js-excess-cell br-excess-cell" data-index="3">七天</button>

    <div class="pull-right uc-search-buttondiv">
      <button type="submit" class="btn uc-search-button">搜索</button>
    </div>

  </div>


  <div class="control-group row2 search-condition-layout">

    <div class="fc-trade-no-label ">
      <label class="control-label">流水号:</label>
      <input type="text" name="tradeNo" class="fc-trade-no-input " data-parsley-maxlength="30">
    </div>

    <label class="control-label">交易类型：</label>
    <select name="tradeType" class="select1"></select>


  </div>

</div>

