<form class="js-fc-re-form form-inline  row" action="/fund/recharge/dopaymentrecharge" method="post" target="_blank">
  <div class=" m-left-md m-right-md">
    <div class="fc-re-div1">
      <ul class="js-fc-re-tabs view-tabs nav nav-tabs nav-tabs-border fc-re-nav-manual-tabs"></ul>
    </div>


    <div class="js-div-transaction fc-re-div2"  >
    </div>


    <div class="js-div-all fc-re-div2">
      <div class=" m-bottom-lg">
        <table class="js-fc-re-bankList fc-re-bankList"></table>
      </div>


      <div class="js-paypal text-center m-bottom-md" style="display: none">
        <div class="inline-block fc-re-amount-div">
          <div class="fc-wechat">
            <span class="fc-re-amount-label">支付宝昵称</span>
            <input type="text" name="paypalName" class="js-paypalName fc-re-amount" autocomplete="off" >
          </div>
        </div>
        <span>(注意是 "昵称",不是 "支付宝账号"哦)</span>
      </div>


      <div class="js-wechat text-center m-bottom-md" style="display: none">
        <div class="inline-block fc-re-amount-div">
          <div class="fc-wechat">
            <span class="fc-re-amount-label">微信名字</span>
            <input type="text" name="wechatName" class="js-wechatName fc-re-amount" autocomplete="off" >
          </div>
        </div>
        <span>(注意是 "名字",不是 "微信号"哦)</span>
      </div>


      <div class="text-center m-bottom-md">
        <div class="inline-block fc-re-amount-div">
          <span class="fc-re-amount-label">充值金额</span>
          <input type="text" name="amount" class="js-fc-re-amount fc-re-amount" autocomplete="off" required data-parsley-type="integer">
        </div>
        元   <span class="js-info-quickAmounts" ></span>
      </div>



      <div class=" m-bottom-md">
        <ul class="js-fc-re-quickAmounts fc-re-quickAmount"></ul>
      </div>
    </div>
  </div>
  <div class="text-center m-top-lg m-bottom-lg">
    <button type="button" class="js-fc-re-commit btn btn-pleasure btn-liner fc-re-commit">去支付</button>
  </div>
  <input type="hidden" name="token" value="<%=Global.memoryCache.get('acctInfo').token %>">
  <input type="hidden" name="paymentType" class="js-paymentType">
  <input type="hidden" name="paymentId" class="js-paymentId">
  <input type="hidden" name="bankId">
  <input type="hidden" name="bankCode">
  <input type="hidden" name="device" value="0">
  <input type="hidden" name="transNo" class="js-transNo">

</form>