<form class="js-fc-wd-confirm-form form-inline  form-horizontal  row" action="javascript:void(0);">
  <div class="fc-wd-confirm-container ">
    <div class="fc-wd-confirm-left">

      <div class="control-group ">
        <label class="control-label"> 提现银行卡:</label>
        <div class="controls">
          <img class="js-fc-wd-confirm-bank fc-wd-confirm-bank"/>
        </div>
      </div>

      <div class="control-group ">
        <label class="control-label"> 姓名:</label>
        <div class="controls">
          <span class="js-fc-wd-confirm-customerName"></span>
        </div>
      </div>
      <div class="control-group ">
        <label class="control-label"> 银行卡号:</label>
        <div class="controls">
          <span class="js-fc-wd-confirm-cardNo"></span>
        </div>
      </div>
      <div class="control-group ">
        <label class="control-label"> 提现金额:</label>
        <div class="controls">
          <div><span class="js-fc-wd-confirm-amount fc-wd-confirm-amount text-hot"></span>元</div>
        </div>
      </div>
    </div>
    <div class="fc-wd-confirm-right ">
      <div class="control-group m-bottom-md">
        <label class="control-label">安全问题:</label>
        <div class="controls">
          <span class="js-fc-question  "></span>
        </div>
      </div>

      <div class="control-group m-bottom-md">
        <label class="control-label">答案:</label>
        <div class="controls">
          <input type="password" style="position:absolute; top: -999px"/>
          <input type="text" class="js-fc-wd-answer fc-wd-answer "  autocomplete="off"  required>
        </div>
      </div>

      <div class="control-group m-bottom-md">
        <label class="control-label">资金密码:</label>
        <div class="controls">
          <input type="password"  class="js-fc-wd-paypwd fc-wd-paypwd " data-parsley-length="[6, 20]"  data-parsley-notisnumandlessthen9  data-parsley-nospacechar autocomplete="off" placeholder="请输入资金密码">
        </div>
      </div>
      <div class="control-group m-bottom-md">
        <div class="controls">
          <a href="#as/sq" class="btn btn-link text-hot">忘记密保问题？</a>
        </div>
      </div>
    </div>
  </div>

  <div class="m-bottom-md rc-seperate-line"></div>

  <div class="text-center  m-bottom-md fc-next-button">
    <button type="button" class="js-fc-wd-commit btn btn-pink btn-linear fc-wd-commit m-right-md">申请提现</button>
    <button type="button" class="js-fc-wd-return btn btn-linear fc-wd-return">返回</button>
  </div>

</form>