<div class="">

    <div class="fc-wd-progress">
        <div class="fc-wd-pg-line1"></div>
        <div class="fc-wd-pg-round1">1</div>

        <div class="fc-wd-pg-line1"></div>
        <div class="fc-wd-pg-round1">2</div>

        <div class="fc-wd-pg-line1"></div>
        <div class="fc-wd-pg-round">√</div>

        <div class="fc-wd-pg-line"></div>

    </div>

    <div class="fc-wd-progress">
        <div class="fc-wd-title">提现申请</div>
        <div class="fc-wd-title">确认提现信息</div>
        <div class="fc-wd-title0">完成申请</div>
    </div>


    <div class="fc-wd-div2">

        <div class="fc-wd-finishImg"></div>
        <div class="fc-wd-div3">
            <span class="fc-wd-successWord">提现申请发起成功!</span></br></br>
            <span>请耐心等待，相关部门正在处理中...</span>
        </div>

    </div>


    <div class="m-bottom-md rc-seperate-line"></div>

    <div class="text-center  m-bottom-md fc-next-button">
        <button type="button" class="js-fc-wd-finished btn fc-wd-commit" data-dismiss="modal">查看提现记录</button>
    </div>




</div>