<div class="">
    <div class="fc-wd-finished-container">
        <div class="fc-wd-finishImg"></div>
        <div class="fc-wd-finished-desc">
            <span class="fc-wd-successWord">提现申请发起成功!</span></br>
            <span>请耐心等待，相关部门正在处理中</span>
        </div>

    </div>

    <div class="m-bottom-md rc-seperate-line"></div>

    <div class="text-center  m-bottom-md fc-next-button">
        <a  href="#ac/ad?tradeType=106" class=" btn btn-pink btn-linear fc-wd-check m-right-sm router" data-dismiss="modal">查看提现记录</a>
        <a  href="#bc/1" class="js-fc-wd-bet btn btn-linear btn-hot router" data-dismiss="modal">去投注</a>
    </div>

</div>