<form class="js-fc-wd-form form-inline  row" action="javascript:void(0);" >

    <div class="fc-wd-div1 ">

        <div class=" m-bottom-md">
            <span >安全问题:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="inline-block">
                <span class="js-fc-question fc-wd-amount text-hot"></span>
            </div>
        </div>

        <div class=" m-bottom-md">
            <span >问题答案:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="inline-block">
                <input type="text" name="anwser"  class="js-fc-wd-amount fc-wd-amount " >
            </div>
        </div>

        <div class="m-bottom-md">
            <span >资金密码:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="inline-block">
                <input type="password" name="paypwd"  class="js-fc-wd-payPwd fc-wd-amount " autocomplete="off">
            </div>
        </div>
    </div>
    <div class="m-bottom-md rc-seperate-line"></div>

    <div class="text-center  m-bottom-md fc-next-button">
        <button type="button" class="js-fc-wd-commit btn fc-wd-commit">下一步</button>
    </div>

</form>