<form class="js-fc-wd-form form-inline  form-horizontal  row" action="javascript:void(0);">
  <div class="fc-wd-confirm-container ">
    <div class="fc-wd-confirm-left">

      <div class="control-group ">
        <label class="control-label"> 提现银行卡:</label>
        <div class="controls">
          <span class="js-fc-wd-confirm-bank fc-wd-confirm-bank"></span>
        </div>
      </div>

      <div class="control-group ">
        <label class="control-label"> 姓名:</label>
        <div class="controls">
          <span class="js-fc-wd-confirm-customerName"></span>
        </div>
      </div>
      <div class="control-group ">
        <label class="control-label"> 银行卡号:</label>
        <div class="controls">
          <span class="js-fc-wd-confirm-bankNo"></span>
        </div>
      </div>
      <div class="control-group ">
        <label class="control-label"> 提现金额:</label>
        <div class="controls">
          <span class=""><span class="js-fc-wd-confirm-amount text-hot"></span>元</span>
        </div>
      </div>
    </div>
    <div class="fc-wd-confirm-right ">
      <div class="control-group m-bottom-md">
        <label class="control-label">安全问题:</label>
        <div class="controls">
          <span class="js-fc-question  text-hot"></span>
        </div>
      </div>

      <div class="control-group m-bottom-md">
        <label class="control-label">答案:</label>
        <div class="controls">
          <input type="text" name="anwser" class="js-fc-wd-answer fc-wd-answer "  autocomplete="off" >
        </div>
      </div>

      <div class="control-group m-bottom-md">
        <label class="control-label">资金密码:</label>
        <div class="controls">
          <input type="password" name="paypwd" class="js-fc-wd-paypwd fc-wd-paypwd " autocomplete="off" placeholder="请输入资金密码">
        </div>
      </div>
    </div>
  </div>

  <div class="m-bottom-md rc-seperate-line"></div>

  <div class="text-center  m-bottom-md fc-next-button">
    <button type="button" class="js-fc-wd-commit btn btn-pink btn-linear fc-wd-commit">下一步</button>
  </div>

</form>