<div class="">
    <div class="fc-wd-finished-container">
        <div class="fc-wd-finishImg"></div>
        <div class="fc-wd-finished-desc">
            <span class="fc-wd-successWord">提现申请发起成功!</span></br>
            <span>请耐心等待，相关部门正在处理中</span>
        </div>

    </div>

    <div class="m-bottom-md rc-seperate-line"></div>

    <div class="text-center  m-bottom-md fc-next-button">
        <button type="button" class="js-fc-wd-check btn btn-pink btn-linear fc-wd-check" data-dismiss="modal">查看提现记录</button>
        <a type="button" href="#uc/wr" class="js-fc-wd-bet btn btn-linear btn-hot" data-dismiss="modal">去投注</a>
    </div>

</div>