<form class="js-fc-wd-form form-inline  row" action="javascript:void(0);" >

    <div class="fc-wd-progress">

        <div class="fc-wd-pg-line"></div>
        <div class="fc-wd-pg-round">1</div>

        <div class="fc-wd-pg-line1"></div>
        <div class="fc-wd-pg-round1">2</div>

        <div class="fc-wd-pg-line1"></div>
        <div class="fc-wd-pg-round1">√</div>

        <div class="fc-wd-pg-line1"></div>

    </div>

    <div class="fc-wd-progress">
        <div class="fc-wd-title0">提现申请</div>
        <div class="fc-wd-title">确认提现信息</div>
        <div class="fc-wd-title">完成申请</div>
    </div>

    <div class="fc-wd-div0 text-left">
        温馨提示:需消费充值及转账金额的20%，方可全额提现。新绑定的提款银行卡需要3小时后才能发起提款。每天限制提现为10次,您已提0次。
    </div>

    <div class="fc-wd-div1 text-center">
        <div class=" m-bottom-md">
            <span>  提现金额:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="text-hot"><span class="js-fc-valid-balance">-</span>元</span>
        </div>

        <div class=" m-bottom-md">
            <span>  提现金额:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="inline-block">
                <input type="text" name="amount"  class="js-fc-wd-amount fc-wd-amount " autocomplete="off" required data-parsley-type="integer"> 元</div>
        </div>

        <div class=" m-bottom-md">
            <ul class="js-fc-wd-quickAmounts fc-wd-quickAmount">
            </ul>
        </div>

        <div class="m-bottom-md">
            <span >提现银行卡:&nbsp;&nbsp;</span><select class="js-fc-wd-bankList fc-wd-bankList"></select>
        </div>

        <div class="m-bottom-md rc-seperate-line"></div>

    </div>


    <div class="text-center  m-bottom-md fc-next-button">
        <button type="button" class="js-fc-wd-commit btn fc-wd-commit">下一步</button>
    </div>

    <input type="hidden" name="token" value="<%=Global.memoryCache.get('acctInfo').token %>">
    <input type="hidden" class="js-fc-wd-payPwd">


</form>