@charset "UTF-8";

@import "~base/styles/imports";

.navbar-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.navbar-container-inner {
  height: 90px;
  margin: 30px auto 0 auto;
  padding-top: 20px;
  position: relative;

  > img {
    float: left;
  }

  .main-navbar-focus {
    display: block;
    width: 123px;
    height: 47px;
    background: url(title-bg.png) no-repeat 0 -56px;
    position: absolute;
    top: 40px;
    z-index: -1;
    left: 500px;
  }

  .nav-customer-service {
    float: right;
    display: block;
    width: 77px;
    padding-left: 39px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $gray-color;
    font-size: 16px;
    color: #333333;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;

    i {
      font-size: 20px;
      margin-bottom: -3px;
      position: absolute;
      top: 7px;
      left: 14px;
    }

    &:hover {
      background-color: #cd338a;
      color: #fff;
      border: 1px solid #cd338a;
    }
  }

  ul {
    float: right;
    width: 560px;
    padding-left: 20px;
    color: #333333;
    margin-top: 20px;

    li {
      font-size: 16px;
      display: inline-block;
      position: relative;

      > a {
        font-family: fzfys;
        padding-right: 30px;
        padding-left: 10px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        display: inline-block;
        color: #333333;
        font-size: 18px;
      }

      &:first-child {
        a {
          padding-right: 50px;
        }
      }

      &.active {
        > a {
          color: #fff;
        }
      }

      &:hover {
        div {
          display: block;
        }
      }

      //div {
      //  display: none;
      //  position: absolute;
      //  width: 362px;
      //  //height: 303px;
      //  border: 1px solid #999999;
      //  border-radius: 5px;
      //  z-index: 999;
      //  background-color: #ffffff;
      //  padding: 0px 8px 5px 8px;
      //  text-align: left;
      //  left: -150px;
      //
      //  > i {
      //    width: 0;
      //    height: 0;
      //    border-width: 6px;
      //    border-style: dashed dashed solid dashed;
      //    border-color: transparent transparent #999999 transparent;
      //    position: absolute;
      //    left: 180px;
      //    top: -12px;
      //  }
      //
      //  dl {
      //    display: block;
      //
      //    dt {
      //      display: block;
      //      font-size: 14px;
      //      color: #fff;
      //      border-bottom: 1px solid #ccc;
      //      margin-top: 4px;
      //
      //      span {
      //        display: block;
      //        margin-left: -8px;
      //        width: 79px;
      //        padding-right: 20px;
      //        height: 28px;
      //        line-height: 28px;
      //        text-align: center;
      //        background: url(title-bg.png) no-repeat;
      //      }
      //    }
      //
      //    &:hover {
      //      dt {
      //        span {
      //          background: url(title-bg.png) no-repeat 0 -28px;
      //        }
      //      }
      //    }
      //
      //    dd {
      //      font-size: 12px;
      //      float: left;
      //      margin-right: 5px;
      //      margin-top: 3px;
      //
      //      b {
      //        font-size: 10px;
      //        display: inline-block;
      //        padding: 0px 3px;
      //        background-color: #f1a14a;
      //        color: #fff;
      //        border-radius: 3px;
      //        margin-left: 2px;
      //        line-height: 14px;
      //      }
      //
      //      a {
      //        display: inline-block;
      //        padding: 0px 8px;
      //        border-radius: 20px;
      //
      //        &:hover {
      //          color: #fff;
      //          background-color: #c3395e;
      //        }
      //      }
      //    }
      //
      //    &:after {
      //      display: block;
      //      clear: both;
      //      content: '';
      //    }
      //  }
      //}
      .lottery-all {
        display: none;
        position: absolute;
        width: 810px;
        //height: 303px;
        border: 1px solid #999999;
        border-radius: 5px;
        z-index: 999;
        background-color: #ffffff;
        padding: 0px 8px 5px 8px;
        text-align: left;
        left: -400px;
        box-shadow: 0px 5px 5px #c0c0c0;
        > i {
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #999999 transparent;
          position: absolute;
          left: 430px;
          top: -12px;
        }
        .split-line{
          display: block;
          float: left;
          width: 1px;
          height: 140px;
          margin-top: 15px;
          background-color: #cccccc;
        }
        .lottery {
          display: block;
          float: left;
          .lottery-title {
            display: block;
            width: 50px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            //background: url(title-new-bg.png) no-repeat;
            color: #333333;
            margin: 0 auto;
            margin-top: 10px;
          }
          .lottery-title-bottom{
            display: block;
            width: 50px;
            height: 5px;
            margin: 0 auto;
            margin-bottom: 10px;
            &.lottery-title-bottom-ssc{
              background: linear-gradient(to bottom,#f8a6bc,#ce4f71);
            }
            &.lottery-title-bottom-fhc{
              background: linear-gradient(to bottom,#92bafc,#547cbe);
            }
            &.lottery-title-bottom-choose{
              background: linear-gradient(to bottom,#f18dfd,#b353be);
            }
            &.lottery-title-bottom-last{
              background: linear-gradient(to bottom,#b6ded0,#5bb898);
            }
            &.lottery-title-bottom-happy{
              background: linear-gradient(to bottom,#ecc383,#c89442);
            }
          }
          dl{
            width: 100%;
            min-height: 130px;
            display: block;
            //border: 1px solid #e4e4e4;
            //border-radius: 5px;
          }
          dd {
            min-width: 100px;
            font-size: 12px;
            float: left;
            margin-right: 5px;
            margin-top: 3px;
            position: relative;
            b {
              font-size: 10px;
              display: inline-block;
              padding: 0px 3px;
             // background-color: #f1a14a;
              color: #fff;
              border-radius: 3px;
              margin-left: 2px;
              line-height: 14px;
              position: absolute;
              margin-top: 3px;
              &.new{
                background-color: #69bd3b;
              }
              &.hot{
                background-color: #c53131;
              }
            }

            a {
              display: inline-block;
              padding: 0px 8px;
              border-radius: 20px;

              &:hover {
                color: #fff;
                background-color: #c3395e;
              }
            }
          }

          &:after {
            display: block;
            clear: both;
            content: '';
          }
        }
        .ssc{
          max-width: 240px;
        }
        .fhc,.choose,.last,.happy-pk10{
          width: 140px;
          //margin-left: 8px;
          text-align: center;
          dd{
            width: 100%;
            margin-left: 0px;
          }
        }

      }
    }
  }
}

.nav-toggle {
  width: 18px;
  height: 18px;
  padding: 6px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  border-radius: 15px;
  float: right;
  right: -50px;
  top: 41px;
  cursor: pointer;
  position: absolute;

  div {
    height: 18px;
    width: 18px;
    background-color: #cccccc;
    color: #fff;
    line-height: 15px;
    text-align: center;
    border-radius: 9px;
    font-size: 10px;
  }

  &:hover {
    border-color: #e67eb2;
    div {
      background-color: #e67eb2;
    }
  }
}
