body{
	background: none;
	color: #fff;
	overflow:hidden;
}

h1,h2,h3,h4{
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

img{
	max-width: none;
}

.menu{
	width: 120px;
	height: 121px;
	position: fixed;
	top: 160px;
	z-index: 999;

	span{
		display: block;
		height: 40px;
		line-height: 40px;
		width: 120px;
		color: #333333;
		background: url(images/btn.png) no-repeat;
		padding-left: 10px;
		cursor: pointer;
		margin-bottom: 5px;

		&.sd{
			color: #fff;
			background-position: 0px -40px;
			opacity:1 !important;
		}

		&:hover{
			opacity:0.8;
		};
	}
}
.content{
	width: 840px;
	margin: 0px auto;
	position: relative;
}

ul,li{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.page1{
	.bg1{
	    position: fixed;
	    top: 0px;
	    left: 0px;
	}

    .phone{
		position: absolute;
		top: 82px;
		left: 0px;
	}

	.right{
		position: absolute;
		left: 560px;
		top: 120px;

		h1{
			font-size: 30px;
			
		}

		h3{
			font-size: 24px;
			font-weight: normal;
		}

		img{
			margin-top: 30px;
		}
	}

	ul{
		position: absolute;
		top: 680px;
		left: 100px;

		li{
			display: inline-block;
			width: 150px;
			font-size: 16px;
			text-align: center;
			margin-bottom: 20px;
			margin-right: 100px;

			&:last-child{
				margin-right:0px;
			}
		}
	}
}

.page2{
	.bg2{
	    position: fixed;
	    top: 0px;
	    left: 0px;
	}

    .phone{
		position: absolute;
		top: 82px;
		left: 0px;
	}

	.right{
		position: absolute;
		left: 580px;
		top: 120px;

		h1{
			font-size: 30px;
			
		}

		h3{
			font-size: 24px;
			font-weight: normal;
		}

		img{
			margin-top: 30px;
		}
	}

	ul{
		position: absolute;
		top: 680px;
		left: 0px;

		li{
			display: inline-block;
			width: 150px;
			font-size: 16px;
			text-align: center;
			margin-bottom: 20px;
			margin-right: 75px;

			&:last-child{
				margin-right:0px;
			}
		}
	}
}

.page3{
	.bg3{
	    position: fixed;
	    top: 0px;
	    left: 0px;
	}

    .phone{
		position: absolute;
		top: 82px;
		left: 0px;
	}

	.right{
		position: absolute;
		left: 580px;
		top: 120px;

		h1{
			font-size: 30px;
			
		}

		h3{
			font-size: 24px;
			font-weight: normal;
		}

		img{
			margin-top: 50px;
		}

		span{
			display: block;
			padding: 10px 0 10px 60px;
			font-size: 14px;
		}

		h4{
			margin-top: 30px;
			margin-bottom: 15px;
		}

		a{
			width: 241px;
			height: 28px;
			line-height: 28px;
			background-color: #fff;
			border: 1px solid #666666;
			color: #333333;
			padding-left: 10px;
			display: block;
			margin-bottom: 10px;

			&:hover{
				opacity:0.8;
			};
		}
	}
}