<div class="main-activityDetail-container">
    <div class="activityDetail-container-header">
        <span>活动详情</span>
        <a class="pull-right activityDetail-back-btn" href="#at/tb"><i class="fa fa-share-square-o m-right-xs" aria-hidden="true"></i>返回</a>
    </div>
    <div class="js-activityDetail-context activityDetail-context">
        <div class="js-atd-title activityDetail-title font-sm">主题</div>
        <div class="js-atd-time activityDetail-time m-top-xs font-sm">时间</div>
        <div class="js-atd-content activityDetail-content m-top-sm"></div>
    </div>
</div>