<div class="row m-bottom-sm">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">交易流水号</label>
      <input class="form-control input-sm" type="text" name="tradeNo" placeholder="" data-parsley-maxlength="30">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">交易类型：</label>
      <select class="form-control input-sm" name="tradeType"></select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label m-right-sm">交易时间：</label>
      <span class="js-fc-accountDetail-timeSet"></span>
    </div>
  </div>
</div>
<div class="row m-bottom-sm">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">用户名
        <span class="no-margin inline-block checkbox">
          <label>
            <input type="checkbox" name="subUser" value="1"> 包含下级
          </label>
        </span>
      </label>
      <input class="form-control" type="text" name="username" placeholder="" >
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label m-right-sm">账户余额</label>

      <div class="input-group">
        <input class="form-control input-sm" type="text" name="minMoney" placeholder="" data-parsley-range="[0, 1000000]" data-parsley-type="integer">
        <span class="input-group-addon input-sm">至</span>
        <input class="form-control input-sm" type="text" name="maxMoney" placeholder="" data-parsley-range="[0, 1000000]" data-parsley-type="integer">
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">特色玩法：</label>
      <select class="form-control input-sm" name="game">
        <option value="-1">全部</option>
        <option value="0">宝箱</option>
        <option value="1">freeGame</option>
        <option value="2">jakepot</option>
      </select>
    </div>
  </div>
</div>


<div class="row m-bottom-sm">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">每页展示：</label>
      <select class="form-control input-sm" name="pageSize">
        <option value="20">20条记录</option>
        <option value="50">50条记录</option>
        <option value="100">100条记录</option>
        <option value="500">500条记录</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 pull-right form-group">
    <button class="wm-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
      class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
    </button>
    <button class="wm-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
      class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
    </button>
  </div>
</div>


