<div class="panel padding-md">
  <form class="js-fc-gs-form form-horizontal" action="javascript:void(0);">
    <div class="form-group ">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-primary  js-fc-gs-addBonusSet-btn ">增加分红段</button>
        <span class="tip m-left-lg">提示：新增的分红比例和月销量要比之前的数值大。</span>
      </div>
    </div>
    <div class="js-fc-gs-container"></div>

    <div class="form-group form-inline ">
      <div class="col-sm-12 col-sm-offset-1 form-group form-inline border-all padding-sm m-left-sm">
        <label class="col-sm-2 control-label m-bottom-sm ">总代可分红范围：</label>

        <div class="col-sm-4 m-bottom-sm">
          <div class="form-group form-inline">
            <div class="col-sm-5 input-group">
              <input type="text" class="form-control js-fc-gs-rateRange-min input-sm" data-parsley-range="[0.01, 100]"
                     data-parsley-twoDecimal required>

              <div class="input-group-addon">%</div>
            </div>
            <div class="col-sm-1 input-group text-center"><label>-</label></div>
            <div class="col-sm-5 input-group">
              <input type="text" class="form-control js-fc-gs-rateRange-max input-sm" data-parsley-range="[0.01, 100]"
                     data-parsley-twoDecimal required>

              <div class="input-group-addon">%</div>
            </div>

          </div>
        </div>


      </div>
    </div>

    <div class="form-group form-inline ">
      <div class="col-sm-12 col-sm-offset-1 form-group form-inline border-all padding-sm m-left-sm">
        <label class="col-sm-2 control-label m-bottom-sm ">13.0直属总代可签约名额：</label>

        <div class="col-sm-2 m-bottom-sm ">
          <div class="form-group form-inline">
            <div class="col-sm-12 input-group">
              <input type="text" class="form-control js-fc-gs-signNum" data-parsley-range="[1, 10000]"
                     data-parsley-type="integer" required>

              <div class="input-group-addon">个</div>
            </div>
          </div>
        </div>

        <label class="col-sm-2 control-label m-bottom-sm ">13.0平级总代可签约名额：</label>

        <div class="col-sm-2 m-bottom-sm ">
          <div class="form-group form-inline">
            <div class="col-sm-12 input-group">
              <input type="text" class="form-control js-fc-gs-signNum" data-parsley-range="[1, 10000]"
                     data-parsley-type="integer" required>

              <div class="input-group-addon">个</div>
            </div>
          </div>
        </div>

        <label class="col-sm-2 control-label m-bottom-sm ">12.8及以下代理可签约名额：</label>

        <div class="col-sm-2 m-bottom-sm ">
          <div class="form-group form-inline">
            <div class="col-sm-12 input-group">
              <input type="text" class="form-control js-fc-gs-signNum" data-parsley-range="[1, 10000]"
                     data-parsley-type="integer" required>

              <div class="input-group-addon">个</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group form-inline ">
      <div class="col-sm-12 col-sm-offset-1 form-group form-inline border-all padding-sm m-left-sm">
        <label class="col-sm-2 control-label m-bottom-sm ">代理（包含总代）可签约用户返点≥：</label>

        <div class="col-sm-4 m-bottom-sm ">
          <div class="form-group form-inline">
            <div class="col-sm-12 input-group">
              <input type="text" class="form-control js-fc-gs-signRebate" data-parsley-range="[0, 100]"
                     data-parsley-type-oneDecimal required>

              <div class="input-group-addon">%</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 m-bottom-sm "></div>
      </div>
    </div>
    <div class="form-group form-inline">
      <div class="col-sm-offset-2 col-sm-10 js-fc-gs-notice"></div>
    </div>
    <div class="form-group">
      <div class=" col-sm-12 text-center">
        <button type="submit" class="js-fc-gs-submit btn btn-primary margin-md" data-loading-text="发送中">确定</button>
        <button type="button" class="js-fc-gs-cancel btn btn-default margin-md">取消</button>
      </div>
    </div>
  </form>
</div>

