<form class="js-fc-sm-deal-form form-horizontal">
  <div class="form-group">
    <div class="js-fc-sm-deal-notice col-sm-offset-2 col-sm-10  hidden">
      <div  style="word-break: normal">确定通过招商号（<label><span class="js-fc-sm-au-username"></span></label>）的分红申请？</div>
    </div>
    <div class="js-fc-sm-notDeal-notice col-sm-offset-2 col-sm-10  hidden">
      <div  style="word-break: normal">确定不通过招商号（<label><span class="js-fc-sm-au-username"></span></label>）的分红申请？</div>
    </div>
  </div>

  <div class="js-fc-sm-reason form-group form-inline hidden">
    <label class="col-sm-3 control-label" style="margin-left: 56px;">不通过理由：</label>
    <div class="col-sm-6">
      <input type="hidden" class="js-fc-sm-deal-remark form-control input-md" data-parsley-zhMaxLength="10" required  data-parsley-someSpecialChar>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 ">
      <button class="js-fc-sm-audit-submit btn btn-primary" type="button">确&nbsp;&nbsp;定</button>
      &nbsp;&nbsp;
      <button class="btn" data-dismiss="modal">取&nbsp;&nbsp;消</button>
    </div>

  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 js-fc-sm-deal-notice"></div>
  </div>

</form>
