<form class="js-fc-ac-deal-form form-horizontal">
  <div class="form-group">
    <div class="js-fc-ac-deal-notice col-sm-offset-2 col-sm-10  hidden">
      <div class=""><p>确定通过？</p></div>
      <div  style="word-break: normal">一代用户名（<span class="js-fc-ac-au-username"></span>）</div>
    </div>
    <div class="js-fc-ac-notDeal-notice col-sm-offset-2 col-sm-10  hidden">
      <div class=""><p>确定不通过？</p></div>
      <div  style="word-break: normal">一代用户名（<span class="js-fc-ac-au-username"></span>）</div>
    </div>
  </div>

  <div class="js-fc-ac-reason form-group form-inline ">
    <label class="col-sm-2 control-label">不通过理由：</label>

    <div class="col-sm-10">
      <input type="text" class="js-fc-ac-deal-remark form-control input-md" data-parsley-zhMaxLength="10" required  data-parsley-someSpecialChar>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 ">
      <button class="js-fc-ac-audit-submit btn btn-primary" type="button">确&nbsp;&nbsp;定</button>
      &nbsp;&nbsp;
      <button class="btn" data-dismiss="modal">取&nbsp;&nbsp;消</button>
    </div>

  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 js-fc-ac-deal-notice"></div>
  </div>

</form>
