<div class="panel padding-md" xmlns="http://www.w3.org/1999/html">
    <form class="js-cl-rewardCfg-form form-horizontal form-inline" action="javascript:void(0)">
        <div class="row m-bottom-sm">
            <div class="">
                <div class="col-sm-10 col-sm-offset-1">
                    <button class="js-cl-add-manager btn btn-primary" style="margin-right: 50px;"><i class="fa fa-plus"></i> 增加招商号比例</button>
                    <div class="js-cl-managerCfg" style="margin-top: 10px;"></div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="js-cl-btn-submit btn btn-primary" type="button"  style="width: 100px; margin-right: 20px;" data-loading-text="发送中">确定</button>
            <button style="width: 100px;" class="js-cl-btn-reset btn" data-dismiss="modal" type="reset">取消</button>
        </div>
        <div>
            <input name="activityId" type="hidden" class="js-cl-activityId form-control">
        </div>
    </form>
</div>