<div class="form-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">用户名：</label>

        <div class="col-sm-9">
          <input type="text" class="js-fc-fundApply-username form-control" readonly>
        </div>
      </div>

      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">操作时间：</label>

        <div class="col-sm-9">
          <input type="text" class="js-fc-arCheckOperateTime form-control" readonly>
        </div>
      </div>

      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">附件：</label>
        <div class="col-sm-9">
          <div class="">
            <div class="js-fc-arCheckAttach gallery-list js-masonry m-top-md">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">操作备注：</label>

        <div class="col-sm-9">
          <textarea class="js-fc-arCheckRemark form-control width-md height-sm " readonly></textarea>
        </div>
      </div>
      <div class="form-group form-inline">
        <div class="col-sm-offset-2 col-sm-9 js-fc-arManage-notice"></div>
      </div>
    </div>
  </div>
</div>