<div class="row m-bottom-sm">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">用户名 </label>
      <input class="form-control" type="text" name="username" placeholder="" >
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">加入人</label>
      <select class="js-fc-re-lr-operatorId form-control input-sm" name="operatorId">
        <option value="">全部</option>

      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label m-right-sm">每页展示：</label>
      <select class="form-control input-sm" name="pageSize">
        <option value="20">20条记录</option>
        <option value="50">50条记录</option>
        <option value="100">100条记录</option>
        <option value="500">500条记录</option>
      </select>
    </div>
  </div>




</div>

<!--<div class="row m-bottom-sm">-->
<!--<div class="col-sm-6">-->
<!--<label class="control-label m-right-sm">充值时间</label>-->
<!--<span class="js-pf-timeset"></span>-->
<!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-lg-12 pull-right form-group">
    <button class="wm-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
      class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
    </button>
    <button class="wm-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
      class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
    </button>
    <%if(Global.authority.fc && Global.authority.fc.lr && Global.authority.fc.lr.add){%>
    <button class="js-fc-recharge-largeRechargeUser-add btn btn-success pull-right btn-sm" type="button" data-type="add"><i
      class="fa fa-plus m-right-xs" ></i>添&nbsp;&nbsp;加
    </button>
    <%}%>
  </div>
</div>


