<div class="row m-bottom-sm font-16 m-bottom-md">
  <!-- <div class="col-sm-6 text-right">所有充值总计：<span class="js-fc-rr-amountTotal"></span></div><div class="col-sm-6 text-left"></div>
   <div class="col-sm-12 border-top " ></div>-->
  <div class="col-sm-3">宝付总计：<span class="js-fc-rr-baofooTotal"></span></div><div class="col-sm-3">聚宝总计：<span class="js-fc-rr-jubaoTotal"></span></div>
  <div class="col-sm-3">易宝总计：<span class="js-fc-rr-yeepayTotal"></span></div><div class="col-sm-3">工行总计：<span class="js-fc-rr-moboTotal"></span></div>
  <!--<div class="col-sm-12 border-top " ></div>-->
  <div class="col-sm-9"></div>
  <div class="col-sm-3" style="margin-top: 20px;">充值总计：<span class="js-fc-rr-amountTotal"></span></div>
  <div class="col-sm-12 border-top " style="margin-top:10px;"></div>

</div>
<div class="row m-bottom-sm">
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label m-right-sm">交易流水号</label>
      <input class="form-control input-sm" type="text" name="tradeNo" placeholder="" data-parsley-maxlength="30">
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label m-right-sm">用户名
        <span class="no-margin inline-block checkbox">
          <label>
            <input type="checkbox" name="subUser" value="1"> 包含下级
          </label>
        </span>
      </label>
      <input class="form-control" type="text" name="username" placeholder="" data-parsley-length="[4,16]">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label m-right-sm">加币时间</label>
      <span class="js-re-rr-timeset"></span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label class="control-label m-right-sm">充值金额</label>
      <div class="input-group">
        <input class="form-control input-sm" type="text" name="minMoney" placeholder="" data-parsley-range="[0, 1000000]" data-parsley-type="integer">
        <span class="input-group-addon input-sm">至</span>
        <input class="form-control input-sm" type="text" name="maxMoney" placeholder="" data-parsley-range="[0, 1000000]" data-parsley-type="integer">
      </div>
    </div>
  </div>
</div>

<div class="row m-bottom-sm">
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label m-right-sm">充值渠道</label>
      <select class="form-control input-sm" name="rechargeType" style="width: 200px;">
        <option value="">全部</option>
        <option value="1">宝付支付</option>
        <option value="2">聚宝支付</option>
        <option value="3">易宝支付</option>
        <option value="4">魔宝支付</option>
        <option value="5">快汇通</option>
        <option value="6">易优付</option>
        <option value="7">智付</option>
        <option value="8">国付宝</option>
        <option value="9">同略云</option>
        <option value="10">盈宝</option>
        <option value="11">新生</option>
        <option value="12">优付</option>
        <option value="13">威富通</option>
        <option value="14">汇潮</option>
        <option value="15">快捷通</option>
        <option value="16">6付</option>
        <option value="17">银盛</option>
        <option value="18">易汇金</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
  <div class="form-group">
    <label class="control-label m-right-sm">充值方式</label>
    <select class="form-control input-sm" name="type" style="width: 200px;">
      <option value="">全部</option>
      <option value="1">银联支付</option>
      <option value="2">支付宝</option>
      <option value="3">微信</option>
    </select>
  </div>
</div>
  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label m-right-sm">状态</label>
      <select class="form-control input-sm" name="status" style="width: 200px;">
        <option value="">全部</option>
        <option value="0">等待支付</option>
        <option value="1">支付成功</option>
        <option value="2">支付失败</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="form-group">
      <label class="control-label m-right-sm">每页展示：</label>
      <select class="form-control input-sm" name="pageSize">
        <option value="20">20条记录</option>
        <option value="50">50条记录</option>
        <option value="100">100条记录</option>
      </select>
    </div>
  </div>
</div>

<div class="clearfix">
  <div class="pull-right form-group">
    <button class="wm-search-confirm btn btn-purple pull-right btn-sm" type="submit"><i
      class="fa fa-search m-right-xs"></i>搜&nbsp;&nbsp;索
    </button>
    <button class="wm-search-reset btn btn-wt-default-purple pull-right m-right-sm btn-sm" type="reset"><i
      class="fa fa-repeat m-right-xs"></i>重&nbsp;&nbsp;置
    </button>
  </div>
  <div class="pull-left">
    <a class="js-pf-export btn btn-success" href="javascript:void(0)">报表下载</a>
  </div>
</div>


