<form class="js-fc-nwd-return-form form-horizontal">
  <div class="form-group">
    <div class="js-fc-nwd-return-notice col-sm-offset-2 col-sm-10">
      <p>确定退回<span class="js-fc-nwd-return-username text-danger"></span>的提款处理吗？</p>
      <br>
    </div>
  </div>

  <div class="form-group form-inline ">
    <label class="col-sm-2 control-label">操作备注：</label>

    <div class="col-sm-10">
      <textarea class="js-fc-nwd-return-remark form-control width-md height-sm" data-parsley-zhMaxLength="100"  data-parsley-someSpecialChar></textarea>
    </div>
  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 ">
      <button class="js-fc-nwd-return-submit btn btn-primary" type="button">确&nbsp;&nbsp;定</button>
      &nbsp;&nbsp;
      <button class="btn" data-dismiss="modal">取&nbsp;&nbsp;消</button>
    </div>

  </div>

  <div class="form-group form-inline">
    <div class="col-sm-offset-2 col-sm-10 js-fc-nwd-return-notice"></div>
  </div>

</form>
