@charset "UTF-8";

@import "~base/styles/imports";

.ac-openAccount-view {
  .linkAddress{
    width: 145px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 15px;
  }

  .ac-openAccount-rebate-notice {
    margin: 0 0 20px 0;
  }

  .ac-openAccount-manual-div {
    margin: 0 28px 0 20px;
    .control-label {
      width: 80px !important;
    }
    .controls {
      margin-left: 80px;
    }

  }
  .ac-op-manual-rebate-set-container {

    div{

      > table{
        tr{
          height: 38px;
          background-color: #f2f2f2;
          line-height: 38px;
          color: #999999;
          font-family: '微软雅黑';
          font-size: 14px;

          th{
            padding: 0px;
            vertical-align: inherit;
            font-weight: normal;
          }
        }
      }

      div > table{
        tr{
          background-color: #fff;
          color: #666666;
          font-family: '微软雅黑';
          font-size: 14px;

          a{
            color: #666666;
          }
        }
      }
    }
  }
  .ac-op-auto-rebate-set-container {
    width: 780px;
    margin-top: 24px;
    margin-right: 60px;
  }
  .ac-submit-btn-div {
    padding: 0px 80px 0 0;
    .btn {
      width: 166px;
      height: 32px;
    }
  }
  .ac-register {
    background-color: #16a4aa;
    border: 1px solid #16a4aa;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    color: #fefbfa;
  }

  .ac-open-account-link {
    width: 310px;
  }

  .ac-open-account-button {
    width: 75px;
  }

  .ac-open-account-view {
    width: 50px;
  }

  .ac-open-account-remark {
    width: 126px;
    height: 60px;
    resize: none;
  }

  .ac-auto-confirm-div {
    padding-top: 1px;
    .btn {
      padding: 4px 10px;
      height: 32px;
      width: 116px;
    }
  }
  .ac-auto-link-remark-div {
    display: inline-block;
  }
}
