@charset "UTF-8";
@import "~base/styles/imports";
 .Betting-img{
  width:50%;
  height:80px;
  background:url(../templates/Betting.png) no-repeat left;
}
.alert-text-select{
  width:97%;
  height:50px;
  color:#999;
  font-size: 14px;
  line-height: 50px;
  margin-left:14px;
  a{
    color:#ff6600;
    text-decoration: underline;

  }
}
.cycle-btn{
  width:62px;
  height:29px;
  background: #ff6600;
  border-radius:0px;
}
.alert-text-container{
  width:97%;
  height:80px;
  color:#cc0000;
  font-size: 14px;
  line-height: 50px;
  border-top:1px solid  #ccc;
  margin-left:14px;
}
.main-active-container{
  width: 100%;
  .active-container-header-betting{
    width:100%;
    height:120px !important;
    border-top:1px solid #a60000;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    ul{
      height: 30px;
      font-size: 16px;
      display: table;
      overflow: hidden;
      margin:20px 10px ;
    }
    li{
      width: 120px;
      list-style: none;
      margin-bottom: 2px;
      height: 30px;
      line-height: 30px;
      background: url(../templates/Betting-tab_01.png) no-repeat;
      text-align: center;
      float: left;
      margin-right: 9px;
      color: #fff;
    }
    .list-active{
      color: #fff;
      background: url(../templates/Betting-tab.png) no-repeat;
    }
  }

  .active-context{
    padding-top: 20px;
    background-color:#fff;
    border-top:1px solid #ccc;
    //overflow-y: auto;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    //padding-right: 30px;
    height: 800px;

    .active-container-line{
      background-color: #cccccc;
      position: absolute;
      width: 1px;
      height: 590px;
      left: 265px;
      margin: 5px 0px;
      z-index: 0;
    }
    .active-list{
      width: 100%;
      padding-bottom: 20px;
      display: inline-flex;
      position: relative;
      .active-left-title{
        text-align: right;
        line-height: 30px;
        font-size: 14px;
        color: #333333;
        width: 120px;
        padding-left: 10px;
      }
      .active-badge-comming{
        background-color: #fd9900;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-running{
        background-color: #ce0201;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-over{
        background-color: #cccccc;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-round-dot{
        margin: 20px 30px 0px 30px;
        width: 10px;
        height: 10px;
        border-radius: 35px;
        background-color: #ce0000;
        color: white;
        text-align: center;
        line-height: 30px;
        z-index: 2;
      }
      .active-round-line{
        position: absolute;
        height: 100%;
        width: 2px;
        border-left: 2px solid rgb(204, 204, 204);
        left: 164px;
      }
      .active-right-content{
        border: 1px solid lightgrey;
        width: 965px;
        height: 200px;
        overflow: hidden;
        .active-right-image{
          width: 100%;
        }
        .active-right-time{
          border-top: 1px solid lightgrey;
          line-height: 30px;
          height: 30px;
          width: 100%;
        }
      }
    }

  }

}
.cycle-context{
  background-color: red !important;
}
.num{
  text-align: right;
  font-size: 24px;
  color: #ccc;
  font-family: '微软雅黑';
}

.menu-bock-butl er{
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;

  .sidebar-title{
    display: none;
  }

  //ul{
  //  height: 30px;
  //  margin: 0 10px;
  //  padding-bottom: 15px;
  //  border-bottom: 1px solid #cccccc;
  //  list-style: none;
  //
  //  li{
  //    width: 150px;
  //    height: 30px;
  //    line-height: 30px;
  //    text-align: center;
  //    float: left;
  //    margin-right: 9px;
  //    background-color:#e0e0e0 ;
  //
  //    a{
  //      color: #fff;
  //    }
  //
  //    &.active{
  //      background-color:#f7f7f7;
  //      color: #fff;
  //    }
  //  }

  //  &:after{
  //    clear: both;
  //    content: '';
  //    display: block;
  //  }
  //}
}
.alert-text-select{
  a{
    cursor:pointer;
  }
}
.select2-sel{
  //-webkit-appearance:none !important;
}
input {

}
.active-container-header-btn{
  width:100%;
  height:600px !important;
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc ;
  border-right:1px solid #ccc;
  background-color: #fff;
  ul{
    font-size: 16px;
    overflow: hidden !important;
    margin-left: 50px;
    border-bottom: 0px solid #ccc !important;
  }
  li{
    width: 120px;
    list-style: none;
    margin-top:-4px;
    height:40px;
    border:1px solid #fff !important;
    line-height: 30px;
    background:#e0e0e0;
    text-align: center;
    margin-left: -2px;
    float: left;
    color: #fff;
  }
  a{
    border-bottom-color: #fff;
  }
  .list-active{
    color: #fff;
    background:#fff;
    border:1px solid red;
  }
}
.periodWay{

  position:absolute;
  left:1px;
  top:80px;
  width:100%;
  height:720px;
  background: rgba(0, 0, 0, 0.5);
  display:none;
}
.periodWay-content-athena{
  width:700px;
  height:300px;
  background:#fff;
  margin:120px 250px;
  opacity:1 !important;
}
.alert-text-periodWay{
  width:660px;
  height:40px;
  color:#000;
  font-size: 14px;
  line-height: 50px;
  margin-left:14px;

}
.btn-athena{
  cursor: pointer;
}
.active-display{
  display:block;
}
.text-content-span{
  padding:15px 4px;
  text-align: right;
}
.alert-hidden{
  overflow: hidden;
  margin-top: 10px;
  height:170px;
}
.alert-scroll{
  float:left;
  text-align:right;
  line-height:16px;
  height:190px;
}
.periodWay-text{
  border-bottom: 1px solid #000;
  width:700px;
  margin-left: 0px;

}
.text-content-wd{
  float:left;
  width:93%;
  overflow: scroll;
}
.delete-pointer{
  cursor:pointer;
}
.text-content-wd-collection{
  float:left;
  width:93%;
  //overflow: scroll;
}
.text-content-span-plan{
  padding:15px 10px;
}
.checkbox-style{
  width:10px;
  height:10px;
  border:1px solid #ccc;
}
.btn-plan{
  margin-left: 65px;
  display: inline-block;
  width:100px;
  height:30px;
  background: #cc0000;
  border-radius: 0px;
}
.text-content-span-inheirt{
  display: inline-block;;
  text-align: right;
  width:100px;
  height:50px;
  flaot:left;
}