@charset "UTF-8";
@import "~base/styles/imports";
 .Betting-img{
  width:50%;
  height:80px;
  background:url(./Betting.png) no-repeat left;
}
.alert-text-select{
  width:97%;
  height:50px;
  color:#999;
  font-size: 14px;
  line-height: 50px;
  margin-left:14px;
  overflow: hidden;;
  a{
    color:#ff6600;
    text-decoration: underline;

  }
  .text-conten-Input{
    width:1055px;
    height:50px;
    float:left;
    margin-left: 5px;
  }
}
.cycle-btn{
  width:62px;
  height:29px;
  background: #ff6600;
  border-radius:0px;
}
.alert-text-container{
  width:97%;
  height:80px;
  color:#cc0000;
  font-size: 14px;
  line-height: 50px;
  border-top:1px solid  #ccc;
  margin-left:14px;
}
.main-active-container{
  width: 100%;
  .active-container-header-betting{
    width:100%;
    height:120px !important;
    border-top:1px solid #a60000;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
    ul{
      height: 30px;
      font-size: 16px;
      display: table;
      overflow: hidden;
      margin:20px 10px ;
    }
    li{
      width: 120px;
      list-style: none;
      margin-bottom: 2px;
      height: 30px;
      line-height: 30px;
      background: url(./Betting-tab_01.png) no-repeat;
      text-align: center;
      float: left;
      margin-right: 9px;
      color: #fff;
    }
    .list-active{
      color: #fff;
      background: url(./Betting-tab.png) no-repeat;
    }
  }

  .active-context{
    padding-top: 20px;
    background-color:#fff;
    border-top:1px solid #ccc;
    //overflow-y: auto;
    border-left:1px solid #ccc;

    //padding-right: 30px;
    height: 800px;

    .active-container-line{
      background-color: #cccccc;
      position: absolute;
      width: 1px;
      height: 590px;
      left: 265px;
      margin: 5px 0px;
      z-index: 0;
    }
    .active-list{
      width: 100%;
      padding-bottom: 20px;
      display: inline-flex;
      position: relative;
      .active-left-title{
        text-align: right;
        line-height: 30px;
        font-size: 14px;
        color: #333333;
        width: 120px;
        padding-left: 10px;
      }
      .active-badge-comming{
        background-color: #fd9900;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-running{
        background-color: #ce0201;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-badge-over{
        background-color: #cccccc;
        float: right;
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-weight: bolder;
        font-size: 15px;
        color: white;
        text-align: center;

      }
      .active-round-dot{
        margin: 20px 30px 0px 30px;
        width: 10px;
        height: 10px;
        border-radius: 35px;
        background-color: #ce0000;
        color: white;
        text-align: center;
        line-height: 30px;
        z-index: 2;
      }
      .active-round-line{
        position: absolute;
        height: 100%;
        width: 2px;
        border-left: 2px solid rgb(204, 204, 204);
        left: 164px;
      }
      .active-right-content{
        //border: 1px solid lightgrey;
        width: 965px;
        height: 200px;
        overflow: hidden;
        .active-right-image{
          width: 100%;
        }
        .active-right-time{
          border-top: 1px solid lightgrey;
          line-height: 30px;
          height: 30px;
          width: 100%;
        }
      }
    }

  }

}
.cycle-context{
  background-color: red !important;
}
.num{
  text-align: right;
  font-size: 24px;
  color: #ccc;
  font-family: '微软雅黑';
}

.menu-bock-butl er{
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;

  .sidebar-title{
    display: none;
  }


}
.alert-text-select{
  a{
    cursor:pointer;
  }
}

.periodWay{
  position:absolute;
  left:1px;
  top:80px;
  width:100%;
  height:720px;
  background: rgba(0, 0, 0, 0.5);
  display:none;
}
.periodWay-content-athena{
  width:700px;
  height:300px;
  background:#fff;
  margin:120px 250px;
  opacity:1 !important;
}
.alert-text-periodWay{
  width:660px;
  height:40px;
  color:#000;
  font-size: 14px;
  line-height: 50px;
  margin-left:14px;

}
.btn-athena{
  cursor: pointer;
}
.active-display{
  display:block;
}
.text-content-span{
  width:105px;
  margin-left:-30px;
  line-height: 50px;
  height:50px;
  float:left;
  text-align: right;
}
.alert-hidden{
  overflow: hidden;
  margin-top: 10px;
  height:170px;
}
.alert-scroll{
  float:left;
  text-align:right;
  line-height:16px;
  height:190px;
}
.periodWay-text{
  border-bottom: 1px solid #000;
  width:700px;
  margin-left: 0px;

}
.text-content-wd{
  float:left;
  width:100%;
  height:300px;
  overflow: scroll;

}
.delete-pointer{
  cursor:pointer;
}
.text-content-wd-collection{
  float:left;
  width:93%;
  //overflow: scroll;
}
.text-content-span-plan{
  padding:15px 10px;
}
.checkbox-style{
  width:10px;
  height:10px;
  border:1px solid #ccc;
}
.btn-plan{
  margin-left:0px;
  display: inline-block;
  width:100px;
  height:30px;
  background: #cc0000;
  border-radius: 0px;
}
.text-content-span-inheirt{
  display: inline-block;;
  text-align: right;
  width:130px;
  height:50px;
  flaot:left;
}
//弹窗的样式
.collect-Way{
  width:2000px;
  height:1200px;
  position: absolute;;
  left:-31%;
  top:-20%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.collectImage{
  color:#fff;
  width:700px;
  margin-left: 0px;
  background: url(./border.png) no-repeat center !important;
}
.btn-close{
  background: url(./close.png) no-repeat 20px center !important;
  float:left;
  width:50px;
  height:50px;
  background: red;
  display: inline-block;
  margin-left: 600px;
}
.text-contentalign{
  text-align: center;
  background-color: red;
  height:140px;
  line-height:280px;
  background: url(./waring.png) no-repeat center !important;
}
.margin-text{
  margin-top: 50px;
}
.perirod-btn {
  margin-left:240px;
  border-radius: 0px;
  width:100px;
  height:30px;
  background-color:#cc0000 ;
}
.cancel-btn{
  margin-left:10px;
  border-radius: 0px;
  width:100px;
  height:30px;
  background-color:#cc9966;
  border:0px solid #ccc;
}
.ofstecontemnt{
  margin:350px 600px;
}
.alert-background-dialog{
  display:none;
}
.new-width-overplan{
  width:100%;
}

.bb-block{
  background:url(./Betting.png) no-repeat left top;
  padding-top: 60px;
  margin-top: -10px;

  .active-container-header-btn{
      border: 0px;
  }

  .julien-bb-sp{
    margin-top: 50px;
    position: relative;

    .nav-tabs-border-content{
      border-bottom: 0px;
    }

    ul{
      margin-left: 10px;
      border: 1px solid #cccccc;
      border-right: 0px;
      display: inline-block;

      li{
        .tips{
          display: none;
        }

        a{
          border: 0px;
          border-right: 1px solid #cccccc;
          padding: 4px 4px;
          color: #666666;
          font-size: 14px;
          background: #fefefe;
          background-image:-webkit-linear-gradient(90deg, #fff, #eaeaea);
          background-image:linear-gradient(90deg, #fff, #eaeaea);

          &:after{
            display:none;
          }
        }

        &.active{
          .tips{
            display: block;
            position: absolute;
            font-size: 14px;
            font-family: '微软雅黑';
            color: #cc0000;
            top: -40px;
            left: 10px;
          }

          a{
            background-color: #e0e0e0;
            background-image:none;
            border-bottom: 1px solid #cccccc;
          }
        }
      }
    } 
  }
}