@charset "UTF-8";
@import
"src/base/styles/imports";

.charge-body{
  width: 500px;
  margin: 0 auto;
  hr{
    color: #cecece;
  }
}

.charge-img-success {
  margin-left: auto;
  margin-right: auto;
  background-image: url('charge-success.png');
  width: 223px;
  background-repeat: no-repeat;
  background-position: 8px center;
  text-indent: 22px;

}
.charge-img-fail {
  margin-left: auto;
  margin-right: auto;
  background-image: url('charge-success.png');
  width: 223px;
  background-repeat: no-repeat;
  background-position: 8px center;
  text-indent: 22px;
}
.charge-img {
  width:50px;
  margin-top:200px;
  margin-left: auto;
  margin-right: auto;
}
.charge-text {
  width:  500px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}
.charge-restext{
  width: 500px;
  text-align: center;
}