@charset "UTF-8";

@import "~base/styles/imports";

.personal-profile {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 28px;
  height: 90px;

  .personal-profile-main {
    float: left;
    border-right: 1px solid $gray-color;
    padding-right: 20px;
    height: 95px;
    .update-update-size{
      margin-left: 10px;
      .update-uname{
        margin-left: 6px;
      }
    }
  }

  .dl-horizontal {
    margin-top:5px;
    dt {
      width: 84px;
      font-weight: normal;
      margin-bottom: 5px;

    }
    dd {
      width: 450px;
      margin-left: 84px;
      margin-bottom: 5px;
    }
  }
  .profile-image {
    width: 95px;
    height: 95px;
    display: block;
    float: left;
    margin: 0 30px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    .profile-image-inner {
      width: 100px;
      height: 100px;
      display: block;
    }
  }

  .personal-profile-vip {
    padding: 10px 0 0 67px;
    float: left;
    width: 40%;
    position: relative;

  }
  .progress-bar-red{
    background-color: #c65f94!important;
  }
  .personal-vip-progress {
    height: 10px;
  }

  .personal-profile-vip-coming-soon{
    position: absolute;
    margin: 20px 20px;
    top: -17px;
    left: 347px;
  }
}
