<div class="float-menu">
  <div class="main-display text-light">
    <div class="main-display-inner clearfix">
      <div class="pull-left">

        <div class="js-gl-head-main-menu inline-block pull-left">


          <ul class="drop-menu drop-chunk">
            <li>
              <a style="color:#999;cursor: default;" class="h-hd-nickName" href="javascript:void(0)">
                <span  class="js-gl-hd-nickName "></span>  下午好，欢迎进入！
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="pull-right">
        <div class="js-gl-head-money-menu inline-block pull-left">
          <ul class="drop-menu drop-chunk">


            <li>
              <a class="athena-three" style="color:#999; font-size: 14px;" href="javascript:void(0)">

                我的账户
                <!--//<i class="fa fa-angle-down"></i>-->
              </a>
              <ul class="drop-submenu">

                <li><a class="router" href="#uc/br">投注记录</a></li>

                <li><a class="router" href="#uc/tr"> 追号记录</a></li>

                <li><a class="router" href="#uc/ad">账变明细</a></li>

                <li><a class="router" href="#uc/pm">个人中心</a></li>

                <li><a class="router" href="#ac/llm"> 代理中心</a></li>

                <li><a class="router" href="#uc/br"> 报表中心</a></li>

                <li><a class="router" href="#">VIP中心</a></li>


              </ul>
            </li>

            <li>
              <div class="js-gl-letter btn-insideLetter">
                <div  style="background: pink" class="athena_incon-mailbox"></div>
                <div class="js-gl-letter-unread  athena-message"><span>3</span></div>
              </div>
            </li>

 
            <li class="js-exchange-balance">
             <a style="color:#999; font-size: 14px;" class="inline-block">
 
                账户余额&nbsp;&nbsp;:<span style="padding:0px 5px;" class="js-gl-hd-balance text-orogin"></span>
                <!--<span  class="js-gl-hd-refresh gl-hd-refresh fa fa-repeat cursor-pointer  "></span>-->
              </a>
              <a style=color:#8a8a8a;" class="inline-block">
                AG余额&nbsp;&nbsp;:<span style="padding:0px 5px;" class="js-gl-ag-balance text-orogin"></span>
                <span  class="js-gl-hd-refresh gl-hd-refresh fa fa-repeat cursor-pointer  "></span>
              </a>
            </li>

 


            <li><a  style="color:#c00; font-size: 14px;" class="js-fc-re cursor-pointer  cursor-pointer  athena-line  " >充值</a></li>
            <li><a  style="color:#999; font-size: 14px;" class="js-fc-wd cursor-pointer  cursor-pointer athena-line1 ">提现</a></li>
            <li><a  style="color:#999; font-size: 14px;" href="#fc/pf" class=" cursor-pointer  cursor-pointer  athena-line1">转账</a></li>
            <li> <a style="color:#999; font-size: 14px;" class="js-gl-hd-logout cursor-pointer" href="javascript:void(0)"; >退出</a></li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="head">

  <a  href="#" class="js-athena_st_01 athnea-st_01" data-index="1"><img src="~base/images/fh/logo.png"></a>
  <span data-index="6" class="js-athena_st_06 athnea-zx_01" onclick="newwin = window.open('http://szzero.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=445558&configID=47545&jid=9132657534','service','width=800,height=680');newwin.moveTo(100,50);"></span>
  <ul>
    <li><a class="js-athena_st_05 athnea-gg_01 js-affiche-show" href="javascript:null " data-index="5"></a></li>
    <li><a class="js-athena_st_04 athnea-yh_01" href="#ab/1" data-index="4"></a></li>
    <!--<li><a href="#">老虎机</a></li>-->
    <!--<li><a href="#">体育</a></li>-->
    <li><a class="js-athena_st_03 athnea-zr_01" href="#gc" data-index="3"></a></li>
    <li ><a class="js-athena_st_02  athnea-cp_01" data-index="2" href="#bc/1"></a>
      <div>
      <!--  <% _(ticketList).each(function(ticket, index) { %>
        <% index++ %>
           <ul>
            <% _(ticket.list).each(function(info) { %>
              <li><a href="#bc/<%=info.id %>" class="js-gl-ticket-entry router "><%=info.zhName %></a></li>
            <% }); %>
           </ul>
        <% }); %>-->


        <div class="athena-asdf" style="font-size:14px; color:#666;">

          <ul style="margin-top: 30px;vertical-align:top; margin-left: 127px; text-align: left" >
            <li><a href="#bc/1" class="js-gl-ticket-entry router  js-lottery-id " >重庆时时彩</a></li>
            <li><a href="#bc/3" class="js-gl-ticket-entry router  js-lottery-id " >新疆时时彩</a></li>
            <li><a href="#bc/8" class="js-gl-ticket-entry router  js-lottery-id " >天津时时彩</a></li>
            <li><a href="#bc/9" class="js-gl-ticket-entry router  js-lottery-id " >黑龙江时时彩</a></li>
          </ul>
          <ul style="margin-top: 30px; vertical-align:top; margin-left: 20px;text-align: left " >
            <li><a href="#" class="js-gl-ticket-entry router js-lottery-id " >韩国5分彩</a></li>
            <li><a  href="#bc/21" class="js-gl-ticket-entry router js-lottery-id " >韩国1.5分彩</a></li>
          </ul>

          <ul style="margin-top: 30px ;vertical-align:top; margin-left:80px ;text-align: left" >
            <li><a href="#bc/10" class="js-gl-ticket-entry router js-lottery-id " >繁华分分彩</a></li>
            <li><a href="#bc/13" class="js-gl-ticket-entry router js-lottery-id " >繁华三分彩</a></li>
            <li><a href="#bc/12" class="js-gl-ticket-entry router js-lottery-id " >繁华五分彩</a></li>
            <li><a href="#bc/16" class="js-gl-ticket-entry router js-lottery-id " >3D分分彩</a></li>
          </ul>
          <ul style="margin-top: 30px; vertical-align:top; margin-left: 10px;text-align: left" >
            <li><a href="#bc/14" class="js-gl-ticket-entry router js-lottery-id " >11选5分分彩</a></li>
          </ul>

          <ul style="margin-top: 30px ;vertical-align:top; margin-left: 90px;text-align: left" >
            <li><a href="#bc/5" class="js-gl-ticket-entry router js-lottery-id " >山东11选5</a></li>
            <li><a href="#bc/4" class="js-gl-ticket-entry router js-lottery-id " >广东11选5</a></li>
            <li><a href="#bc/11" class="js-gl-ticket-entry router js-lottery-id ">江西11选5</a></li>
          </ul>

          <ul style="margin-top: 30px ;vertical-align:top; margin-left: 70px;text-align: left" >
            <li><a href="#bc/6" class="js-gl-ticket-entry router js-lottery-id " >3D</a></li>
            <li><a href="#bc/7" class="js-gl-ticket-entry router js-lottery-id " >P5/P3</a></li>
            <li><a href="#bc/19" class="js-gl-ticket-entry router js-lottery-id " >秒秒彩</a></li>
            <li><a href="#bc/20" class="js-gl-ticket-entry router js-lottery-id " >老虎机秒秒彩</a></li>
          </ul>

          <ul style="margin-top: 30px ;vertical-align:top; margin-left: 30px;text-align: left" >
            <li><a href="#bc/18" class="js-gl-ticket-entry router js-lottery-id " >北京PK拾</a></li>
          </ul>
        </div>



      </div>


    </li>
    <li><a  href="#" class="js-athena_st_01 athnea-st_03" data-index="1"></a></li>
  </ul>
</div>
<div class="js-publicTeamData publicTeamData hidden ">
  <span class="js-julien-data1 julien-data1">123</span>
  <span class="js-julien-data2 julien-data2">123</span>
  <span class="js-julien-data2 julien-data3">123</span>
  <span class="js-julien-data2 julien-data4">213</span>
</div>