@charset "UTF-8";

@import
"~base/styles/imports";

$header-margin-top: 6px;

.main-display{
  width: 1200px;
}
.header {
  .float-menu{
    position: fixed;
    background-color: black;
    height: 30px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }


  .top-in-block {
    display: inline-block;
    padding-top: $header-margin-top + 12px;
    padding-right: 9px;
    vertical-align: top;
    float: left;
    position: relative;
  }

  .top-b-right {
    &:after {
      height: 10px;
      content: '';
      border-right: 1px solid $font-light;
      right: 0;
      position: absolute;
      top: 20px;
    }
  }

  .user-block {
    display: block;
    float: left;
    margin-right: 20px;
    outline: 0;
    padding: 9px 0;
    position: relative;
  }


  .top-letter-notice {
    position: absolute;
    bottom: -5px;
    left: 12px;
    border-radius: 10px;
    display: inline-block;
    background-color: red;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    width: 14px;
    text-align: center;
  }

  .h-hd-nickName {
    .fa {
      vertical-align: top;
      //margin-top: 3px;
    }
  }

  .gl-hd-money.top-in-block {
    .gl-hd-refresh {
      cursor: pointer;
    }
  }

  .drop-submenu {
    a {
      padding: 5px 0;
      text-align: center;
    }
  }

  .vipPic {
    background-image: url('~base/images/vip.png');
    width: 31px;
    height: 20px;
    text-align: center;
  }


}


.head{
  width: 1200px;
  height: 104px;
  margin: 30px auto 0 auto;
  padding-top: 12px;
 
  img{
    float: left;
  }

  a{
    font-size: 20px;
    font-family: '幼圆';
    color: #333333;
    float: right;
    display: block;
    margin-left: 40px;
    margin-top: 26px;
    font-weight: bold;
  }

  span{
    background: url(~base/images/julien/onlineService.png) no-repeat;
    width: 161px;
    height: 37px;
    display: block;
    float: right;
    margin-left: 75px;
    cursor: pointer;
    margin-top: 20px;
  }

}

//.bet-lottery-menu {
//  background: url(~base/images/fh/nav/logo-nav-list.png) no-repeat;
//  width: 100%;
//  height: 180px;
//  //float: left;
//  position: absolute;
//  z-index: 999;
//  margin-top: -30px;
//}


