@charset "UTF-8";

@import
"~base/styles/imports";

.header {
  .float-menu{
    position: fixed;
    background-color: #0e0e0e;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    .main-display-inner{
      top: 0px !important;
    }
  }

  .h-info {
    .fa {
      vertical-align: top;
    }
  }

  .vipPic {
    background-image: url('~base/images/vip.png');
    width: 31px;
    height: 20px;
    text-align: center;
  }

  .h-right-menu {
    line-height: 30px;
  }
}

.head{
  width: 1200px;
  height: 104px;
  margin: 30px auto 0px auto;
  padding-top: 20px;
  position: relative;

  > img{
    float: left;
  }

  > strong{
    display: block;
    width: 123px;
    height: 47px;
    background: url(images/julien/title-bg.png) no-repeat 0 -56px;
    position: absolute;
    top: 40px;
    z-index: -1;
    left: 500px;
  }

  > span{
    float: right;
    display: block;
    width: 77px;
    padding-left: 39px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333333;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;

    i{
      font-size: 20px;
      margin-bottom: -3px;
      position: absolute;
      top:6px;
      left: 14px;
    }

    &:hover{
      background-color: #cd338a ;
      color: #fff;
      border: 1px solid #cd338a ;
    }
  }

  ul{
    float: right;
    width: 560px;
    padding-left: 20px;
    color: #333333;
    margin-top: 20px;

    li{
      padding-right: 30px;
      padding-left: 10px;
      height: 38px;
      line-height: 32px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      position: relative;

      &:first-child{
        padding-right: 50px;
      }

      &.sd{
        >a{
          color: #fff;
        }
      }

      &:hover{
        div{
          display: block;
        }
      }

      div{
        display: none;
        position: absolute;
        width: 362px;
        height: 303px;
        border: 1px solid #999999;
        border-radius: 5px;
        z-index: 999;
        background-color: #ffffff;
        padding: 0px 8px 5px 8px;
        text-align: left;
        left: -150px;

        > i{
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #999999 transparent;
          position: absolute;
          left: 180px;
          top: -12px;
        }

        dl{
          display: block;

          dt{
            display: block;
            font-size: 14px;
            color: #fff;
            border-bottom: 1px solid #ccc;
            margin-top: 4px;

            span{
              display: block;
              margin-left: -8px;
              width: 79px;
              padding-right: 20px;
              height: 28px;
              line-height: 28px;
              text-align: center;
              background: url(images/julien/title-bg.png) no-repeat;
            }
          }

          &:hover{
            dt{
              span{
                background: url(images/julien/title-bg.png) no-repeat 0 -28px;
              }
            }
          }

          dd{
            font-size: 12px;
            float: left;
            margin-right: 5px;
            margin-top: 3px;

            b{
              font-size: 10px;
              display: inline-block;
              padding: 0px 3px;
              background-color: #f1a14a;
              color: #fff;
              border-radius: 3px;
              margin-left: 2px;
              line-height: 14px;
            }

            a{
              display: inline-block;
              padding: 0px 8px;
              border-radius: 20px;

              &:hover{
                color: #fff;
                background-color: #c3395e;
              }
            }
          }

          &:after{
            display: block;
            clear: both;
            content: '';
          }
        }
      }
    }
  }
}

.display_ul{
  display: block;
}
.h-letter{
  display: inline-block;
  width:14px;
  height:14px;
  line-height: 13px;
  border-radius: 50%;
  background: $color-hot;
  color: $light-color;
  text-align: center;
  &.h-no-letter {
    background: #333333;
    color: $gray-color;
  }
}

.ac-affiche-dialog{
  background-color: #fff;
  color: #562e0f;
  margin: 0px;
  padding: 0px;
}

.affiche-body-back{
  overflow:hidden;
  height: 500px
}

.affiche-body-leftBody{
  width: 245px;
  height: 100%;
  float: left;
  display: inline;
  border-right: 1px solid #cccccc;

  .affiche-body-lefthead{
    padding-left: 5px;
    height: 30px;
    width: 220px !important;
    line-height: 30px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
  }

  .affiche-body-list{
    overflow-y:auto;
    overflow-x: hidden;
    width: 245px;
    .affiche-list-active{
      border-left: 2px solid #970102;
    }
  }

}

.affiche-body-detail{
  float: right;
  width: 577px;
  height: 100%;

  .affiche-body-righthead{
    padding-left: 5px;
    font-weight: bold;
    height: 30px;
    width: 574px;
    margin-left:-2px;
    line-height: 30px;
    color: white;
    background-image:-webkit-linear-gradient(90deg, #327fc3, #bb2929);
    background-image:linear-gradient(90deg,#327fc3,#bb2929);

    .affiche-body-close{
      height: 28px;
      width: 28px;

    }
  }
  .affiche-detail-content{
    background: url("./affiche_bg.png") no-repeat;
    height: 469px;
    width: 100%;

  }
}

.float-menu{
  .text-light{
    position: relative;
  }
}
.menuspan{
  display:none;
}
.message-small-most{
  display: inline-block;
 text-decoration: underline;
  width:40px;
  height:15px;
  line-height:15px;
  margin-left:86px;
}
.message-small-tip{
  display: inline-block;
  background: #e54a1b;
  width:23px;
  height:15px;
  line-height:15px;
  margin-left:10px;
}
.main-display {
  width: $body-width;
  margin: 0 auto;
  position: relative;

  .main-display-inner {
    margin-left: $wrapper-margin-left;
    margin-right: $wrapper-margin-right;
    position: relative;
    top:-12px !important;
  }
}
.athena-fresh{
  background: url("images/fresh.png") no-repeat 5px 8px !important ;
  display: inline-block;
  width:20px;
  height:20px;
}
.athena-line{
  background: url("images/athena-line.png") no-repeat 45px 5px !important ;
}
.home-head-badge{
  display: inline-flex;
  background-color: red;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;

}

.text-orogin{
  color: #df8602;
}


.base-bcType-body{
  background-color: darkcyan;
}

.publicTeamData{
  width: 1200px;
  margin: 0px auto;
  position: relative;

  span{
    position: absolute;
    font-size: 24px;
    font-family: 'Arial';

    &.julien-data1{
      color: #236892;
      left: 335px;
      top: 15px;
    }

    &.julien-data2{
      color: #26875f;
      left: 583px;
      top: 15px;
    }

    &.julien-data3{
      color: #a02f61;
      left: 813px;
      top: 15px;
    }

    &.julien-data4{
      color: #925316;
      left: 1041px;
      top: 15px;
    }
  }
}
.athena-mosttip{
  padding: 0px;
  margin: 0px;
  li{
    list-style: none;
    height:20px;
    border-bottom:1px solid #ccc;
    line-height:30px;
    padding: 5px;
    margin-left: 12px;
  }
  li:hover{

    background: #eee;
  }
  a{
      background: url("images/three_first.png") no-repeat -3px 11px !important ;
      display: inline-block;
      padding-left: 5px;
      color:#999;
  }
  a:hover{
      color:#e56a28;
    text-decoration: underline;
    background: url("images/three_second.png") no-repeat -3px 11px !important ;
  }
  span{
      display: inline-block;
      float:right;
      width:130px;
      height:30px;
      line-height: 30px !important;
  }
}
.tipDiv{
  height:50px;
  line-height:50px;
  text-align: right;
  color:#666;
}
.message_A{
  position: absolute;
  top:11px;
  left:704px;
  color:#fff;
  text-decoration: underline;
}
.message_A:hover{
  color:#fff !important;
}

.rightMenu{
  position: fixed;
  top: 300px;
  right: 0px;
  z-index: 990;

  .rightMenuHeight{
    height: 188px;
    overflow: hidden;
  }

  a{
    display: block;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    margin-bottom: 1px;
    color: #fff;
    background-color: #993333;
    font-size: 20px;

    .font24{
      font-size: 24px;
    }

    .mrF3{
      margin-right: -3px;
    }

    span{
      display: none;
      font-size: 14px;

      &.line2{
        line-height: 18px;
        padding-top: 6px;
      }
    }

    &:last-child{
      font-size: 16px;
    }

    &:hover{
      background-color: #ba824a;
      i{
        display: none;
      }
      span{
        display: block;
      }
    }
  }
}

.h-notice {
  i{
    display: block;
    float: left;
    margin-top: 8px;
  }
  .h-notice-queue{
    display: block;
    float: left;
    width: 500px;
    overflow: hidden;
    position: relative;
    height: 30px;
    line-height: 30px;
    cursor: default;

    li {
      list-style: none;
      text-align: left;
      display: inline-block;
    }
  }
  .h-notice-item {
    color: $color-hot;
    font-size: $font-xs;
    &.h-notice-item-1 {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.h-money {
  border-radius: 30px;
  line-height: 25px;
  margin-bottom: 4px;
  background: $dark-color;
}

.h-recharge {
  display: inline-block;
  padding-right: 8px;
  position: relative;
  float: left;
  &:after {
    content: "";
    right: 0;
    display: block;
    height: 15px;
    width: 1px;
    background: $gray-color;
    position: absolute;
    top: 8px;
  }
}
.h-withdraw {
  display: inline-block;
  padding-left: 8px;
  float: left;
}

.h-head-info-hide {
  .sfa-h-vol {
    @include sprite($sfa-h-mute);
  }
  .h-notice-queue {
    display: none;
  }
}

.athena-Allaccount{
  position: absolute;
  display: block;
      top: -18px;

  span{
    float: left;
    margin-top: 3px;

  }
}

.bc-result-container3 {
  .tab-toolbar{
    margin-top: -5px !important;
  }
}

.js-bc-multi-range{
  margin-top: -3px;
}

.dsaj{
  margin-top: -2px;
}

.btndiv{
  width: 1200px;
  position: relative;
  margin: 0px auto;

  .cBtn{
    width: 18px;
    height: 18px;
    padding: 6px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    border-radius: 15px;
    float: right;
    right: -50px;
    top: 41px;
    cursor: pointer;
    position: absolute;

    div{
      height: 18px;
      width: 18px;
      background-color: #cccccc;
      color: #fff;
      line-height: 13px;
      text-align: center;
      border-radius: 9px;
      font-size: 10px;
    }

    &:hover{
      border-color: #e67eb2;
      div{
        background-color: #e67eb2;
      }
    }
  }

  .cBtn2{
    div{
      line-height: 17px;
    }
  }
}
