@charset "UTF-8";

@import
"~base/styles/imports";

.header {
  .float-menu{
    position: fixed;
    background-color: #0e0e0e;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    .main-display-inner{
      top: 0px !important;
    }
  }

  .h-info {
    .fa {
      vertical-align: top;
    }
  }

  .vipPic {
    background-image: url('~base/images/vip.png');
    width: 31px;
    height: 20px;
    text-align: center;
  }

  .h-right-menu {
    line-height: 30px;
  }
}

.menuspan{
  display:none;
}
.message-small-most{
  display: inline-block;
 text-decoration: underline;
  width:40px;
  height:15px;
  line-height:15px;
  margin-left:86px;
}
.message-small-tip{
  display: inline-block;
  background: #e54a1b;
  width:23px;
  height:15px;
  line-height:15px;
  margin-left:10px;
}
.main-display {
  width: $body-width;
  margin: 0 auto;
  position: relative;

  .main-display-inner {
    margin-left: $wrapper-margin-left;
    margin-right: $wrapper-margin-right;
    position: relative;
    top:-12px !important;
  }
}
.home-head-badge{
  display: inline-flex;
  background-color: red;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;

}

.text-orogin{
  color: #df8602;
}


.base-bcType-body{
  background-color: darkcyan;
}

.tipDiv{
  height:50px;
  line-height:50px;
  text-align: right;
  color:#666;
}
.message_A{
  position: absolute;
  top:11px;
  left:704px;
  color:#fff;
  text-decoration: underline;
}
.message_A:hover{
  color:#fff !important;
}

.rightMenu{
  position: fixed;
  top: 300px;
  right: 0px;
  z-index: 990;

  .rightMenuHeight{
    height: 188px;
    overflow: hidden;
  }

  a{
    display: block;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    margin-bottom: 1px;
    color: #fff;
    background-color: #993333;
    font-size: 20px;

    .font24{
      font-size: 24px;
    }

    .mrF3{
      margin-right: -3px;
    }

    span{
      display: none;
      font-size: 14px;

      &.line2{
        line-height: 18px;
        padding-top: 6px;
      }
    }

    &:last-child{
      font-size: 16px;
    }

    &:hover{
      background-color: #ba824a;
      i{
        display: none;
      }
      span{
        display: block;
      }
    }
  }
}

.h-notice {
  i{
    display: block;
    float: left;
    margin-top: 8px;
  }
  .h-notice-queue{
    display: block;
    float: left;
    width: 500px;
    overflow: hidden;
    position: relative;
    height: 30px;
    line-height: 30px;
    cursor: default;

    li {
      list-style: none;
      text-align: left;
      display: inline-block;
    }
  }
  .h-notice-item {
    color: $color-hot;
    font-size: $font-xs;
    &.h-notice-item-1 {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.h-money {
  border-radius: 30px;
  line-height: 25px;
  margin-bottom: 4px;
  background: $dark-color;
}

.h-recharge {
  display: inline-block;
  padding-right: 8px;
  position: relative;
  float: left;
  &:after {
    content: "";
    right: 0;
    display: block;
    height: 15px;
    width: 1px;
    background: $gray-color;
    position: absolute;
    top: 8px;
  }
  &:hover {
    color:#f6a00c !important;
    text-decoration: underline;
  }
}
.h-withdraw {
  display: inline-block;
  padding-left: 8px;
  float: left;
  &:hover {
    color:#f6a00c !important;
    text-decoration: underline;
  }
}

.h-head-info-hide {
  .sfa-h-vol {
    @include sprite($sfa-h-mute);
  }
  .h-notice-queue {
    display: none;
  }
}

.athena-Allaccount{
  position: absolute;
  display: block;
      top: -18px;

  span{
    float: left;
    margin-top: 3px;

  }
}
