@charset "UTF-8";

@import
"~base/styles/imports";

$header-margin-top: 6px;
.img-position{
  background: url(./hot.png) no-repeat 75px 3px ;
}
.img-position-new{
  background: url(./new.png) no-repeat 89px 3px ;
}
.img-position-hg{
  background-position: 79px 3px;
}
.img-position-ss{
  background-position: 50px 3px;
}
.main-display{
  width: 1200px;
  position: absolute;
}
.header {
  .float-menu{
    position: fixed;
    background-color: #0e0e0e;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;

    .main-display-inner{
      top: 0px !important;
    }
  }

  .top-in-block {
    display: inline-block;
    padding-top: $header-margin-top + 12px;
    padding-right: 9px;
    vertical-align: top;
    float: left;
    position: relative;
  }

  .top-b-right {
    &:after {
      height: 10px;
      content: '';
      border-right: 1px solid $font-light;
      right: 0;
      position: absolute;
      top: 20px;
    }
  }

  .user-block {
    display: block;
    float: left;
    margin-right: 20px;
    outline: 0;
    padding: 9px 0;
    position: relative;
  }


  .top-letter-notice {
    position: absolute;
    bottom: -5px;
    left: 12px;
    border-radius: 10px;
    display: inline-block;
    background-color: red;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    width: 14px;
    text-align: center;
  }

  .h-hd-nickName {
    .fa {
      vertical-align: top;
      //margin-top: 3px;
    }
  }

  .gl-hd-money.top-in-block {
    .gl-hd-refresh {
      cursor: pointer;
    }
  }

  .drop-submenu {
    a {
      padding: 0px 0;
      text-align: center;

    }
  }

  .vipPic {
    background-image: url('~base/images/vip.png');
    width: 31px;
    height: 20px;
    text-align: center;
  }

}
.headh{
  overflow: hidden;
}
.head{
  width: 1200px;
  height: 104px;
  margin: 30px auto 0px auto;
  padding-top: 20px;
  position: relative;

  > img{
    float: left;
  }

  > strong{
    display: block;
    width: 123px;
    height: 47px;
    background: url(images/julien/title-bg.png) no-repeat 0 -56px;
    position: absolute;
    top: 40px;
    z-index: -1;
    left: 500px;
  }

  > span{
    float: right;
    display: block;
    width: 77px;
    padding-left: 39px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333333;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;

    i{
      font-size: 20px;
      margin-bottom: -3px;
      position: absolute;
      top:6px;
      left: 14px;
    }

    &:hover{
      background-color: #cd338a ;
      color: #fff;
      border: 1px solid #cd338a ;
    }
  }

  ul{
    float: right;
    width: 560px;
    padding-left: 20px;
    color: #333333;
    margin-top: 20px;

    li{
      padding-right: 30px;
      padding-left: 10px;
      height: 38px;
      line-height: 32px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      position: relative;

      &:first-child{
        padding-right: 50px;
      }

      &.sd{
        >a{
          color: #fff;
        }
      }

      &:hover{
        div{
          display: block;
        }
      }

      div{
        display: none;
        position: absolute;
        width: 362px;
        height: 303px;
        border: 1px solid #999999;
        border-radius: 5px;
        z-index: 999;
        background-color: #ffffff;
        padding: 0px 8px 5px 8px;
        text-align: left;
        left: -150px;

        > i{
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #999999 transparent;
          position: absolute;
          left: 180px;
          top: -12px;
        }

        dl{
          display: block;

          dt{
            display: block;
            font-size: 14px;
            color: #fff;
            border-bottom: 1px solid #ccc;
            margin-top: 4px;

            span{
              display: block;
              margin-left: -8px;
              width: 79px;
              padding-right: 20px;
              height: 28px;
              line-height: 28px;
              text-align: center;
              background: url(images/julien/title-bg.png) no-repeat;
            }
          }

          &:hover{
            dt{
              span{
                background: url(images/julien/title-bg.png) no-repeat 0 -28px;
              }
            }
          }

          dd{
            font-size: 12px;
            float: left;
            margin-right: 5px;
            margin-top: 3px;

            b{
              font-size: 10px;
              display: inline-block;
              padding: 0px 3px;
              background-color: #f1a14a;
              color: #fff;
              border-radius: 3px;
              margin-left: 2px;
              line-height: 14px;
            }

            a{
              display: inline-block;
              padding: 0px 8px;
              border-radius: 20px;

              &:hover{
                color: #fff;
                background-color: #c3395e;
              }
            }
          }

          &:after{
            display: block;
            clear: both;
            content: '';
          }
        }
      }
    }
  }
}
.cursor-pointer:hover{
  color:red !important;
}
.athena-three{
  background: url(images/athena-three.png) no-repeat center right !important;

  
}
.ddd3{
  position: relative;
  p{
    position: absolute;
    width: 53px;
    height: 24px;
    background-color: #333;
    top: -6px;
    border-radius: 20px;
    z-index: -1;
    left: 2px;
    display: none;
  }

  &:hover{
    p{
      display:block;
    }
  }
}
.ddd{
  position: relative;

  p{
    position: absolute;
    width: 100px;
    height: 24px;
    background-color: #333;
    top: -2px;
    border-radius: 20px;
    z-index: -1;
    display: none;
  }
  &:hover{
    div{
      display:block;
    }
    p{
      display:block;
    }
  }

  >div{
    position: absolute;
    margin-bottom: 8px;
    width: 104px;
      left: 50%;
      margin-left: -52px;
      font-size: 12px;

    div{
      border: 2px solid #bf5985;
      padding: 5px;
      background-color: #fff;
      
      border-radius: 3px;
          margin-top: 10px;
      display: none;


      a{
        color: #333333;
        text-align: center;
        padding: 3px 0px !important;
        border-radius: 3px;
        display:block;
        font-size: 12px !important;

        &:hover{
          background-color:#cc6699;
          color: #fff;
        }
      }
    }
  }
}

.ddd2{
  >div{
    position: absolute;
    margin-bottom: 8px;
    width: 184px;
      left: 50%;
      margin-left: -92px;

    div{
          margin-top: 12px;
    }
  }
}
.athena-three-up{
  background: url(images/athena-three.png) no-repeat center right !important;

}
.drop_img{
  background: url(images/00drop_03.png) no-repeat top !important;
}
.display_ul{
  display: block;;
}
.athena-message{
  background: url(images/athena-message.png) no-repeat left !important;
  width:45px;
  height:17px;
  margin-left:10px;
  margin-top: -2px !important;

  span{
    margin-left:20px;
    display: inline-block;
    width:16px;
    height:16px;
    line-height: 15px;
    background-color: #fff;
    border-radius: 50%;
    background:#e54a1b;
    text-align: center;
  }
}

.athena-message1{
  background: url(images/athena-message.png) no-repeat left !important;
  width:45px;
  height:17px;
  margin-left:10px;
  margin-top: -2px !important;

  span{
    margin-left:20px;
    display: inline-block;
    width:16px;
    height:16px;
    line-height: 15px;
    background-color: #fff;
    border-radius: 50%;
    background:#e54a1b;
    text-align: center;
  }
}

.athena-line:hover{
  color:#f90 !important;
}
.athena-line1:hover{
  color:red !important;
}
.athnea-cp_01{
  background: url(images/cp_01.png) no-repeat center;
}
.athnea-cp_02{
  background: url(images/cp_02.png) no-repeat center;
}
.athnea-cp_03{
  background: url(images/cp_03.png) no-repeat center;
}
.athnea-gg_01{
  background: url(images/gg_01.png) no-repeat center;
}
.athnea-gg_02{
  background: url(images/gg_02.png) no-repeat center;
}
.athnea-gg_03{
  background: url(images/gg_03.png) no-repeat center;
}
.athnea-st_01{
  background: url(images/st_01.png) no-repeat center;
}
.athnea-st_02{
  background: url(images/st_02.png) no-repeat center;
}
.athnea-st_03{
  background: url(images/st_03.png) no-repeat center;
}
.athnea-zr_01{
  background: url(images/zr_01.png) no-repeat center;
}
.athnea-zr_02{
  background: url(images/zr_02.png) no-repeat center;
}
.athnea-zr_03{
  background: url(images/zr_03.png) no-repeat center;
}
.athnea-yh_01{
  background: url(images/yh_01.png) no-repeat center;
}
.athnea-yh_02{
  background: url(images/yh_02.png) no-repeat center;
}
.athnea-yh_03{
  background: url(images/yh_03.png) no-repeat center;
}

.athnea-zx_01{
  background: url(images/online_01.png) no-repeat center;
}
.athnea-zx_02{
  background: url(images/online_02.png) no-repeat center;
}
.athnea-zx_03{
  background: url(images/online_03.png) no-repeat center;
}
.athena-asdf{
  ul{
    li:hover a{
      color:#c00;
      text-decoration:underline;

    }
  }

}

.ac-affiche-dialog{
  background-color: #fff;
  color: #562e0f;
  margin: 0px;
  padding: 0px;
}

.affiche-body-back{
  overflow:hidden;
  height: 500px
}

.affiche-body-leftBody{
  width: 245px;
  height: 100%;
  float: left;
  display: inline;
  border-right: 1px solid #cccccc;

  .affiche-body-lefthead{
    padding-left: 5px;
    height: 30px;
    width: 220px !important;
    line-height: 30px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
  }

  .affiche-body-list{
    overflow-y:auto;
    overflow-x: hidden;
    width: 245px;
    .affiche-list-active{
      border-left: 2px solid #970102;
    }
  }

}

.affiche-body-detail{
  float: right;
  width: 577px;
  height: 100%;

  .affiche-body-righthead{
    padding-left: 5px;
    font-weight: bold;
    height: 30px;
    width: 574px;
    margin-left:-2px;
    line-height: 30px;
    color: white;
    background-image:-webkit-linear-gradient(90deg, #327fc3, #bb2929);
    background-image:linear-gradient(90deg,#327fc3,#bb2929);

    .affiche-body-close{
      height: 28px;
      width: 28px;

    }
  }
  .affiche-detail-content{
    background: url("./affiche_bg.png") no-repeat;
    height: 469px;
    width: 100%;

  }
}

.float-menu{
  .text-light{
    position: relative;
  }
}
.drop-menu-athena{
  background: #333;
  width:122px;
  height:30px;
  line-height:30px !important;
  border:1px solid #414141;
}
.drop-menu-athena-account{
  background: #232323;
  width:220px;
  height:30px;
  line-height:30px !important;
  border:1px solid #414141;
}
.menuspan{
  display:none;
}
.nomessageSpan{
  text-align: left;
  text-indent:2px;
  height:63px;
  line-height: 63px !important;
  width:243px;
  background: #fff;
  border-top: 0px !important;
  border:1px solid #ccc;
}
.nomessageSpan:hover{
    background: #fff !important;
}
.drop-menu-athena-account-span{
  background: #232323;
  width:192px;
  height:30px;
  color:#fff !important;
  line-height:30px !important;
  border:1px solid #414141;
  span{
    color:#fff;
  }
  :hover{
    background: #333 !important;
  }
}
.drop-menu-athena-account-span:hover{
  background: #333 !important;
}
.drop-menu-athena-message{
  background: #232323;
  width:245px;
  height:30px;
  line-height:30px !important;
  border:1px solid #ccc;
  color:#fff !important;
}
.drop-menu-athena-message-text{
  background: #fff;
  width:245px;
  height:25px;
  font-size: 10px !important;
  line-height:25px !important;
  border-bottom:1px solid #ccc !important;
  border-left:1px solid #ccc !important;
  border-right:1px solid #ccc !important;

  color:#333 !important;
}
.drop-menu-athena-message-text:hover{
  background: #f0f0f0 !important;
  color:#e36b2e !important;
}
.drop-menu-athena-message:hover{
  background: #232323 !important;
}
.drop-menu-athena-account:hover{
  background: #292929 !important;
  color:#fff99f !important;
}
.message-small-most{
  display: inline-block;
 text-decoration: underline;
  width:40px;
  height:15px;
  line-height:15px;
  margin-left:86px;
}
.message-small-tip{
  display: inline-block;
  background: #e54a1b;
  width:23px;
  height:15px;
  line-height:15px;
  margin-left:10px;
}
.drop-menu-span{
  background: url("images/00drop_03.png") no-repeat  !important ;
  display: inline-block;
  width:15px;
  height:15px;
  position:absolute;
  top:-4px;
  left:65px;
}
.drop-menu-span-account{
  background: url("images/00drop_03.png") no-repeat  !important ;
  display: inline-block;
  width:15px;
  height:15px;
  position:absolute;
  top:-1px;
  left:92px;
}
.drop-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  > li {
    display: inline-block;
    position: relative;
    z-index: 100;
    &:hover, &:focus {
      > a {
        //background: map_get($dropMenu, hover-bg-color);
        color: $color-sunshine;
        //outline: none;
      }
    }
    //&:hover .drop-submenu {
    //  top: 100%;
    //  left: auto;
    //}
  }
  a {
    color: $light-color;
    display: block;
    padding: 1px 9px !important;
    font-size:14px !important;
    text-decoration: none;
    line-height: 12px;
    transition: all .2s linear;

  }
}
.main-display {
  width: $body-width;
  margin: 0 auto;
  position: relative;

  .main-display-inner {
    margin-left: $wrapper-margin-left;
    margin-right: $wrapper-margin-right;
    position: relative;
    top:-12px !important;
  }
}
.athena-Allaccount{
  height:22px !important;
  background-color:#333;
  border-radius: 20px;
  cursor: pointer;
}
.athena-fresh{
  background: url("images/fresh.png") no-repeat 5px 8px !important ;
  display: inline-block;
  width:20px;
  height:20px;
}
.exit-bg{
  background: url("images/exit.png") no-repeat 18px 3px !important ;
}
.athena-line{
  background: url("images/athena-line.png") no-repeat 45px 5px !important ;
}
.athena-eyes{
  background: url("images/eyes_on.png") no-repeat 1px 3px !important ;
  display: inline-block;
  width:20px;
  height:20px;
  margin-left: 3px;
}
.athena-eyes-off{
  background: url("images/eyes_off.png") no-repeat 1px 3px !important ;
  display: inline-block;
  width:20px;
  height:20px;
}
.drop-menu-athena-01{
  background: #333;
  background: url("images/00drop_03.png") no-repeat 30px 50px !important ;
  width:122px;
  height:30px;
  line-height:30px !important;
  border:1px solid #414141;
  color:red !important;
}
.drop-menu-athena-01:hover{
  background: #292929 !important;
  color:#ff9900 !important;
  background: url("images/00drop_03.png") no-repeat 30px 50px !important ;
}
.drop-menu-athena:hover{
  background: #292929 !important;
  color:#ff9900 !important;
}
.home-head-badge{
  display: inline-flex;
  background-color: red;
  border-radius: 9px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;

}

.text-orogin{
  color: #df8602;
  font-size: 14px;
}


.base-bcType-body{
  background-color: darkcyan;
}

.fc-wd-bg{
  background: url("fc-wd-bg.png");
  background-color: #fff;
  color: #562e0f;
  padding: 15px;
}

.publicTeamData{
  width: 1200px;
  margin: 0px auto;
  position: relative;

  span{
    position: absolute;
    font-size: 24px;
    font-family: 'Arial';

    &.julien-data1{
      color: #236892;
      left: 335px;
      top: 15px;
    }

    &.julien-data2{
      color: #26875f;
      left: 583px;
      top: 15px;
    }

    &.julien-data3{
      color: #a02f61;
      left: 813px;
      top: 15px;
    }

    &.julien-data4{
      color: #925316;
      left: 1041px;
      top: 15px;
    }
  }
}
.athena-mosttip{
  padding: 0px;
  margin: 0px;
  li{
    list-style: none;
    height:20px;
    border-bottom:1px solid #ccc;
    line-height:30px;
    padding: 5px;
    margin-left: 12px;
  }
  li:hover{

    background: #eee;
  }
  a{
      background: url("images/three_first.png") no-repeat -3px 11px !important ;
      display: inline-block;
      padding-left: 5px;
      color:#999;
  }
  a:hover{
      color:#e56a28;
    text-decoration: underline;
    background: url("images/three_second.png") no-repeat -3px 11px !important ;
  }
  span{
      display: inline-block;
      float:right;
      width:130px;
      height:30px;
      line-height: 30px !important;
  }
}
.tipDiv{
  height:50px;
  line-height:50px;
  text-align: right;
  color:#666;
}
.message_A{
  position: absolute;
  top:11px;
  left:704px;
  color:#fff;
  text-decoration: underline;
}
.message_A:hover{
  color:#fff !important;
}

.rightMenu{
  position: fixed;
  top: 300px;
  right: 0px;
  z-index: 990;

  .rightMenuHeight{
    height: 188px;
    overflow: hidden;
  }

  a{
    display: block;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    margin-bottom: 1px;
    color: #fff;
    background-color: #993333;
    border-radius: 3px;
    font-size: 20px;

    .font24{
      font-size: 24px;
    }

    .mrF3{
      margin-right: -3px;
    }

    span{
      display: none;
      font-size: 14px;

      &.line2{
        line-height: 18px;
        padding-top: 6px;
      }
    }

    &:last-child{
      font-size: 16px;
    }

    &:hover{
      background-color: #ba824a;
      i{
        display: none;
      }
      span{
        display: block;
      }
    }
  }
}

.drop-chunk{
  i{
    display: block;
    float: left;
        width: 25px;
    margin-top: 8px;

  }
  .g{
    display: block;
    float: left;
    width: 500px;
    overflow: hidden;
    position: relative;
    height: 30px;

    span{
      position: absolute;
      left: 500px;
      white-space:nowrap;
    }
  }
}

.js-exchange-balance{
  width: 207px;
  position: relative;
}

.athena-Allaccount{
  position: absolute;
  display: block;
      top: -18px;

  span{
    float: left;
    margin-top: 3px;

  }
}

.js-gl-head-money-menu{
  margin-top: 6px;
}

.js-gl-hd-nickName{
  margin-right: 5px;
}

.bc-result-container3 {
  .tab-toolbar{
    margin-top: -5px !important;
  }
}

.js-bc-multi-range{
  margin-top: -3px;
}

.dsaj{
  margin-top: -2px;
}

.btndiv{
  width: 1200px;
  position: relative;
  margin: 0px auto;

  .cBtn{
    width: 18px;
    height: 18px;
    padding: 6px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    border-radius: 15px;
    float: right;
    right: -50px;
    top: 41px;
    cursor: pointer;
    position: absolute;

    div{
      height: 18px;
      width: 18px;
      background-color: #cccccc;
      color: #fff;
      line-height: 13px;
      text-align: center;
      border-radius: 9px;
      font-size: 10px;
    }

    &:hover{
      border-color: #e67eb2;
      div{
        background-color: #e67eb2;
      }
    }
  }

  .cBtn2{
    div{
      line-height: 17px;
    }
  }
}

.js-gl-head-main-menu{
  ul{
    li{
      a{
        position: relative;
        >span{
          position: absolute;
          left: 2px;
          top: 0px;
          color: #ccc;
          font-size: 16px;
          opacity: 0;
          cursor: pointer;
          width: 20px;
          display: block;
        }
      }
    }
  }
}

.gl-head-main-menuClose{
  ul{
    li{
      a{
        position: relative;
        i{
          color: #ccc;
          cursor: pointer;
        }
        >span{
          position: absolute;
          left: 12px;
          top: -1px;
          color: #ccc;
          font-size: 16px;
          opacity: 1;
        }
        .g{
          display: none;
        }
      }
    }
  }
}

