@charset "UTF-8";

@import
"~base/styles/imports";

$header-margin-top: 6px;

.main-display{
  width: 1200px;
  position: absolute;
}
.header {
  .float-menu{
    position: fixed;
    background-color: black;
    height: 30px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }

  .top-in-block {
    display: inline-block;
    padding-top: $header-margin-top + 12px;
    padding-right: 9px;
    vertical-align: top;
    float: left;
    position: relative;
  }

  .top-b-right {
    &:after {
      height: 10px;
      content: '';
      border-right: 1px solid $font-light;
      right: 0;
      position: absolute;
      top: 20px;
    }
  }

  .user-block {
    display: block;
    float: left;
    margin-right: 20px;
    outline: 0;
    padding: 9px 0;
    position: relative;
  }


  .top-letter-notice {
    position: absolute;
    bottom: -5px;
    left: 12px;
    border-radius: 10px;
    display: inline-block;
    background-color: red;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    width: 14px;
    text-align: center;
  }

  .h-hd-nickName {
    .fa {
      vertical-align: top;
      //margin-top: 3px;
    }
  }

  .gl-hd-money.top-in-block {
    .gl-hd-refresh {
      cursor: pointer;
    }
  }

  .drop-submenu {
    a {
      padding: 5px 0;
      text-align: center;

    }
  }

  .vipPic {
    background-image: url('~base/images/vip.png');
    width: 31px;
    height: 20px;
    text-align: center;
  }

}
//.athena_incon-mailbox{
//  width:50px;
//  height:80px;
//  background:blue;
//}
.head{
  width: 1200px;
  height: 104px;
  margin: 30px auto 0 auto;
  padding-top: 12px;


  img{
    float: left;
  }
  li>img{
    float:none;
    width:28px;
    height:13px;
    vertical-align:6px;
    display: inline-block;
  }

  ul,li{
    padding: 0px;
    margin:0px;
    list-style: none;
  }

  >ul >li{
    color: #333333;
    float: right;
    display: block;
    margin-left: 20px;
    margin-top: 16px;
    font-weight: bold;
    width: 138px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    > a{
      font-size: 20px;
      font-family: '幼圆';
      width: 99px;
      height: 47px;
      display: block;
      color: #333;
    }

    &.sd{
      //background: url(~base/images/julien/selected.png) no-repeat;
      > a{
        color: #fff;
      }
    }

    &:hover{
      div{
        display: block;
      }
    }

    div{
      background-color: darkcyan;
      position: fixed;
      height: 189px;
      background: url(~base/images/julien/logo-nav-list.png) no-repeat center 10px;
      z-index: 99;
      width: 100%;
      left: 0px;
      min-width: 1200px;
      top: 105px;
      display: inline-block;
      padding: 10px;
      font-size: 14px;
      display:none;

      .base-bcType-head{

        li{
          width: 15px;
          height: auto;
        }
      }

      ul{
        margin-left:auto;
        margin-right: auto;
        display: inline-block;
        width: 120px;
        li{
          float: left;
          width: 120px;
          height: 30px;
          line-height: 20px;
          img{
            float:none;
            width:28px;
            height:13px;
            vertical-align:6px;
            display: inline-block;
          }
        }
      }
    }


  }


  span{
    //background: url(~base/images/julien/onlineService.png) no-repeat;
    width: 161px;
    height: 37px;
    display: block;
    float: right;
    margin-left: 45px;
    cursor: pointer;
    margin-top: 20px;
  }

}
.cursor-pointer:hover{
  color:red !important;
}
.athena-three{
  background: url(images/athena-three.png) no-repeat right !important;
}
.athena-message{
  background: url(images/athena-message.png) no-repeat left !important;
  width:45px;
  height:17px;
  margin-left:10px;
  margin-top: -2px !important;

  span{
    margin-left:20px;
    display: inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    text-align: center;
    background-color:#bb0101;
    //line-height:-100px !important;
  }
}

.athena-message1{
  background: url(images/athena-message1.png) no-repeat left !important;
  width:45px;
  height:17px;
  margin-left:10px;
  margin-top: -2px !important;

  span{
    margin-left:20px;
    display: inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    text-align: center;
    background-color:#bb0101;
    //line-height:-100px !important;
  }
}
.athena-line{
  //background: url(images/athena-line.png) no-repeat right !important;
  //background-color: red;
}

.athena-line:hover{
  color:#f90 !important;
}
.athena-line1:hover{
  color:red !important;
}
.athnea-cp_01{
  background: url(images/cp_01.png) no-repeat center;
}
.athnea-cp_02{
  background: url(images/cp_02.png) no-repeat center;
}
.athnea-cp_03{
  background: url(images/cp_03.png) no-repeat center;
}
.athnea-gg_01{
  background: url(images/gg_01.png) no-repeat center;
}
.athnea-gg_02{
  background: url(images/gg_02.png) no-repeat center;
}
.athnea-gg_03{
  background: url(images/gg_03.png) no-repeat center;
}
.athnea-st_01{
  background: url(images/st_01.png) no-repeat center;
}
.athnea-st_02{
  background: url(images/st_02.png) no-repeat center;
}
.athnea-st_03{
  background: url(images/st_03.png) no-repeat center;
}
.athnea-zr_01{
  background: url(images/zr_01.png) no-repeat center;
}
.athnea-zr_02{
  background: url(images/zr_02.png) no-repeat center;
}
.athnea-zr_03{
  background: url(images/zr_03.png) no-repeat center;
}
.athnea-yh_01{
  background: url(images/yh_01.png) no-repeat center;
}
.athnea-yh_02{
  background: url(images/yh_02.png) no-repeat center;
}
.athnea-yh_03{
  background: url(images/yh_03.png) no-repeat center;
}

.athnea-zx_01{
  background: url(images/online_01.png) no-repeat center;
}
.athnea-zx_02{
  background: url(images/online_02.png) no-repeat center;
}
.athnea-zx_03{
  background: url(images/online_03.png) no-repeat center;
}
.athena-asdf{

  //background:url(athena-img-fc-wd.png) no-repeat 0 21px;
  //position:relative;
  //span{
  //  position:absolute;
  //  left:516px;
  //  top:20px;
  //  background:url(hot.png) no-repeat !important;
  //}
  ul{
    li:hover a{
      color:#c00;
      text-decoration:underline;

    }
  }

}

.ac-affiche-dialog{
  background-color: #fff;
  color: #562e0f;
  margin: 0px;
  padding: 0px;
}

.affiche-body-back{
  border: 1px solid #cccccc;
  overflow:hidden;
  height: 500px
}

.affiche-body-leftBody{
  width: 245px;
  height: 100%;
  float: left;
  display: inline;
  border-right: 1px solid #cccccc;

  .affiche-body-lefthead{
    padding-left: 5px;
    height: 30px;
    width: 240px;
    line-height: 30px;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
  }

  .affiche-body-list{
    overflow-y:auto;
    overflow-x: hidden;
    width: 245px;
    .affiche-list-active{
      border-left: 2px solid #970102;
    }
  }

}

.affiche-body-detail{
  float: right;
  display: inline;
  width: 577px;
  height: 100%;

  .affiche-body-righthead{
    padding-left: 5px;
    font-weight: bold;
    height: 30px;
    width: 572px;
    line-height: 30px;
    color: white;
    background-image:-webkit-linear-gradient(90deg, #327fc3, #bb2929);
    background-image:linear-gradient(90deg,#327fc3,#bb2929);

    .affiche-body-close{
      height: 28px;
      width: 28px;

    }
  }
  .affiche-detail-content{
    background: url("./affiche_bg.png") no-repeat;
    height: 469px;
    width: 100%;

  }
}

.float-menu{
  .text-light{
    position: relative;
  }
}

.home-head-badge{
  display: inline-flex;
  background-color: red;
  border-radius: 9px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  height: 18px;
  width: 18px;

}

.text-orogin{
  color: #df8602;
  font-size: 14px;
}


.base-bcType-body{
  background-color: darkcyan;
}

.fc-wd-bg{
  background: url("fc-wd-bg.png");
  background-color: #fff;
  color: #562e0f;
  padding: 15px;
}

.publicTeamData{
  width: 1200px;
  margin: 0px auto;
  position: relative;

  span{
    position: absolute;
    font-size: 24px;
    font-family: 'Arial';

    &.julien-data1{
      color: #236892;
      left: 335px;
      top: 15px;
      //font-size: 30px;
    }

    &.julien-data2{
      color: #26875f;
      left: 583px;
      top: 15px;
    }

    &.julien-data3{
      color: #a02f61;
      left: 813px;
      top: 15px;
    }

    &.julien-data4{
      color: #925316;
      left: 1041px;
      top: 15px;
    }
  }
}