@charset "UTF-8";

@import
"~base/styles/imports";

.nc-panel-wrapper {
  margin: 15px 18px 20px 56px;
  .nc-panel {
    height: 521px;
    overflow: auto;
    display: inline-block;
    float: left;
    color: $new-black-color;
  }

  .nc-pic {
    display: inline-block;
    float: right;
    img {
      height: 523px;
      width: 255px !important;
    }
  }
  &.inner {
    .nc-panel {
      width: 553px;
    }
  }
}

.nc-platformNews {
  padding: 15px;
}

.nc-setting-container {
  width: 100%;
  text-align: center;

  .setting:first-child {
    background-color:#cb6798;
    float: left;
    width: 25%;
    .setting-group {
      width: 100px;
    }
  }
  .setting:last-child {
    background-color:#7ebc79;
    float: right;
    width: 25%;
    .setting-group {
      width: 100px;
    }
  }
  .setting {
    background-color:#78a7c4;
    border-radius: 5px;
    width: 47%;
    display: inline-block;
    height: 120px;
    padding: 20px 0;
  }
  .news-setting-header {
    display: inline-block;
    color: white;
    padding-top: 25px;
  }
  .setting-group {
    display: inline-block;
    float: right;
    height: 100%;
    border-left: 1px solid rgba(238,238,238,0.3);
    width: 240px;
    text-align: left;

    .setting-tab {
      margin: 10px;
      color: #fff;
      display: inline-block;
    }
  }
}

.nc-setting-btn {
  position: relative;
  margin-top: -47px;
  float: right;
  padding: 0 10px;
}
.hint-message{
  width: 100%;
  height: 41px;
  border: solid 1px #cccfcf;
  border-radius: 4px;
  box-shadow: 0px 2px 1px #EDEDED;
  .hint-message-btn{
    float: left;
    background: url('./hint.png') no-repeat;
    width: 21px;
    height: 21px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .hint-message-des{
    line-height: 21px;
    margin-left: 5px;
    display: inline-block;
    margin-top: 10px;
  }
}
.il-detail {
  .nc-panel {
    width: 746px;
    margin-left: 60px;
    border: 1px solid $light-color;
  }
  .nc-chat-title {
    height: 40px;
    line-height: 40px;
    background: $new-main-deep-color;
    text-align: center;
    color: $dark-color;
    font-size: $font-md;
  }
  .nc-chat-container {
    color: $dark-color;
    padding: 20px;
    height: 350px;
    overflow: auto;
    margin-bottom: 10px;
  }

  .nc-il-content {
    width: 637px;
    border-radius: 0;
    border: 1px solid $light-color;
    background-color: $light-color;
    height: 70px;
    padding-left: 15px;
    margin: 0 10px;
  }

  .nc-il-confirm {
    width: 70px;
    font-size: 18px;
    padding: 26px 10px;
  }
}
.grid-notice{
  margin-bottom: 10px;
  line-height: 22px;
}
.nc-grid {
  color:#562e0f;
  position: relative;
  height: 420px;

  tbody {
    tr {
      //border-bottom: 1px solid $gray-color !important;
      td {
        font-size: 12px;
        line-height: 41px;
        .badge {
          font-size: 14px;
        }

      }
      td:last-of-type {
        color: #A6A6A6;
      }
      //td:nth-of-type(n + 3) {
      //  border-bottom: 1px dotted $light-color;
      //}
    }
    .custom-checkbox {
      top: 12px;
    }
  }
  .slimScrollDiv, .js-wt-body-main {
    height: 580px;
  }
}

.sfa-mes-read{
  background: url('./mailBtn-read.png') no-repeat;
  width: 21px;
  height: 21px;
  margin-top: 13px;
  margin-right: 5px;
  float: left;
}
.sfa-mes-unRead{
  background: url('./mailBtn-unRead.png') no-repeat;
  width: 21px;
  height: 21px;
  margin-top: 13px;
  margin-right: 5px;
  float: left;
}
.message-log-read{
  color: #5D5D5D;
}
.message-log-unRead{
  color:#C73736;
}
.np-message-des-read{
  color: #A6A6A6;
}
.nc-letter-send {
  .nc-panel {
    width: 870px;
    margin-right: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  }

  .nc-ilSendForm {
    padding: 35px 35px 0;
    .control-label {
      width: 44px;
    }
    .controls {
      margin-left: 53px;
    }
  }

  .nc-ilTitle, textarea {
    width: 342px;
  }

  .nc-ilSend-sendTo-div {
    margin-bottom: 20px;
  }

  .control-confirm {
    .btn {
      width: 166px;
    }
    padding-top: 10px;
  }
  .btn {
    width: 80px;
    font-size: 14px;
  }
  .btn-right {
    margin-left: 20px;
  }
}
