@charset "UTF-8";

@import "~base/styles/imports";

.progressbar_1{
  background-color:#eee;
  height:5px;
  width:1060px;
  border:1px solid #bbb;
  color:#222;
}

.progressbar_1 .bar {
  //background-color:#6CAF00;
  background: url("./misc/points.png") no-repeat;
  height:5px;
  //width:0;
  text-align: left;
}

.uc-vip-head-data{
  //position: relative;
  display: inline-block;
  width: 131px;
  text-align: center;
}
.uc-vip-head-grade {
  display: inline-block;
  background: url("./misc/points.png") no-repeat;
  line-height: 30px;
  height:30px;
  width:1035px;
  margin-left:50px;
  >span{
    //position: relative;
    display: inline-block;
    width: 130px;
  }
}

.uc-vip-head-grade1 {
  display: inline-block;
  //background: url("./misc/points.png") no-repeat;
  height:17px;
  width:1020px;
  >span{
    position: relative;
    display: inline-block;
    width: 130px;
    img{
      position: absolute; left:0;top:20px;
    }
  }
}